src/html/index.pug
//-Configuración y variables globales del proyecto
include config/_variables

//-
  Ajustes de la configuración global para esta sección
//- global_path = '../'
//-
  Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
  Nombre de la página
- var page = 'Inicio'
- var metadata = {}
- metadata['title'] = 'Sellcom - Soluciones que Transforman'
- metadata['description'] = 'En Sellcom integramos soluciones con tecnología para todas las industrias; por lo que innovamos de manera constante para ser el mejor aliado de las empresas.'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud'
//-
  - Ejemplo de como incluir CSS por pagina
  - var section_style = {}
  - section_style['dev'] = 'home.css'
  - section_style['prod'] = 'home.min.css'
//-
  - Ejemplo como incluir los JS por pagina
  - var section_scripts =  {}
  - section_scripts['prod'].push(global_path  + scripts.controllers + 'city.min.js')
  - section_scripts['dev'].push(global_path  + scripts.controllers + 'city.js')

- var section_scripts =  {} 
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'Sellcom.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'home.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_about.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'Sellcom.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'home.min.js')


- var local_images = {}
- local_images['images'] = {}
- local_images.images['experto'] = global_path + images.home + 'sellcom-home-experto.jpg'
- local_images.images['exito'] = global_path + images.home + 'sellcom-home-casos-exito.png'
- local_images.images['tecnologia'] = global_path + images.home + 'sellcom-home-tecnologia-producto.jpg'
- local_images.images['futuro'] = global_path + images.home + 'sellcom-home-unete.jpg'
- local_images.images['redes'] = global_path + images.home + 'sellcom-home-redes-sociales.jpg'
- local_images.images['bannermobile'] = global_path + images.home + 'sellcom_home_bannermobile.jpg'
- local_images.images['banner_fondo'] = global_path + images.home + 'banner_fondo.jpg'
- local_images.images['banner_fondo_2'] = global_path + images.home + 'banner-fondo.jpg'
- local_images.images['banner_fondo_apple'] = global_path + images.home + 'banner_apple_home_fondo.jpg'
- local_images.images['banner_prize'] = global_path + images.home + 'banner_prize.png'
- local_images.images['banner_apple'] = global_path + images.home + 'banner_apple_home_logo.png'
- local_images.images['banner_awards'] = global_path + images.home + 'premiacion-schneider.png'
- local_images.images['banner_ind'] = global_path + images.home + 'sellcom-ind.png'

- local_images.images['imageLogo1'] = global_path + images.home + 'Sellcom-Home-Socios-HP-2.png'
- local_images.images['imageLogo2'] = global_path + images.home + 'Sellcom-Home-Socios-Veeam.png'
- local_images.images['imageLogo3'] = global_path + images.home + 'Sellcom-Home-Socios-Huawei-3.png'
- local_images.images['imageLogo4'] = global_path + images.home + 'Sellcom-Home-Socios-Ivanti.png'
- local_images.images['imageLogo5'] = global_path + images.home + 'Sellcom-Home-Socios-Apple-2.png'
- local_images.images['imageLogo6'] = global_path + images.home + 'Sellcom-Home-Socios-MicroFocus.png'
- local_images.images['imageLogo7'] = global_path + images.home + 'Sellcom-Home-Socios-Jamf.png'
- local_images.images['imageLogo8'] = global_path + images.home + 'Sellcom-Home-Socios-vmware.png'
- local_images.images['imageLogo9'] = global_path + images.home + 'Sellcom-Home-Socios-Cyberc.png'
- local_images.images['imageLogo10'] = global_path + images.home + 'Sellcom-Home-Socios-Qlik.png'
- local_images.images['imageLogo11'] = global_path + images.home + 'Sellcom-Home-Socios-apc.png'
- local_images.images['imageLogo12'] = global_path + images.home + 'Sellcom-Home-Socios-aruba.png'
- local_images.images['imageLogo13'] = global_path + images.home + 'Sellcom-Home-Socios-aws.png'
- local_images.images['imageLogo14'] = global_path + images.home + 'Sellcom-Home-Socios-azure.png'
- local_images.images['imageLogo15'] = global_path + images.home + 'Sellcom-Home-Socios-blackberry.png'
- local_images.images['imageLogo16'] = global_path + images.home + 'Sellcom-Home-Socios-blancco.png'
- local_images.images['imageLogo17'] = global_path + images.home + 'Sellcom-Home-Socios-cylance.png'
- local_images.images['imageLogo18'] = global_path + images.home + 'Sellcom-Home-Socios-domo.png'
- local_images.images['imageLogo19'] = global_path + images.home + 'Sellcom-Home-Socios-getac.png'
- local_images.images['imageLogo20'] = global_path + images.home + 'Sellcom-Home-Socios-gcloud.png'
- local_images.images['imageLogo21'] = global_path + images.home + 'Sellcom-Home-Socios-intel.png'
- local_images.images['imageLogo34'] = global_path + images.home + 'Sellcom-Home-Socios-hp-3.png'
- local_images.images['imageLogo22'] = global_path + images.home + 'Sellcom-Home-Socios-microsoft.png'
- local_images.images['imageLogo23'] = global_path + images.home + 'Sellcom-Home-Socios-naudit.png'
- local_images.images['imageLogo24'] = global_path + images.home + 'Sellcom-Home-Socios-opentext.png'
- local_images.images['imageLogo25'] = global_path + images.home + 'Sellcom-Home-Socios-owncloud.png'
- local_images.images['imageLogo26'] = global_path + images.home + 'Sellcom-Home-Socios-redhat.png'
- local_images.images['imageLogo27'] = global_path + images.home + 'Sellcom-Home-Socios-sap.png'
- local_images.images['imageLogo28'] = global_path + images.home + 'Sellcom-Home-Socios-scout.png'
- local_images.images['imageLogo29'] = global_path + images.home + 'Sellcom-Home-Socios-servicenow.png'
- local_images.images['imageLogo30'] = global_path + images.home + 'Sellcom-Home-Socios-suse.png'
- local_images.images['imageLogo31'] = global_path + images.home + 'Sellcom-Home-Socios-veritas.png'
- local_images.images['imageLogo32'] = global_path + images.home + 'Sellcom-Home-Socios-watson.png'
- local_images.images['imageLogo33'] = global_path + images.home + 'Sellcom-Home-Socios-zoox.png'

//- Imagenes Correctas
- local_images.images['logoSellcom'] = global_path + images.home + 'sellcom_home.png'
- local_images.images['logoIntel'] = global_path + images.home + 'sellcom_intel.png'
- local_images.images['logoIvanti'] = global_path + images.home + 'sellcom_ivanti.png'
- local_images.images['logoJamf'] = global_path + images.home + 'sellcom_jamf.png'
- local_images.images['logoMicrofocus'] = global_path + images.home + 'sellcom_microfocus.png'
- local_images.images['logoNetapp'] = global_path + images.home + 'sellcom_netapp.png'
- local_images.images['logoNutanix'] = global_path + images.home + 'sellcom_nutanix.png'
- local_images.images['logoQlik'] = global_path + images.home + 'sellcom_qlik.png'
- local_images.images['logoRedhat'] = global_path + images.home + 'sellcom_red_hat.png'
- local_images.images['logoSuse'] = global_path + images.home + 'sellcom_suse.png'
- local_images.images['logoVeeam'] = global_path + images.home + 'sellcom_veeam.png'
- local_images.images['logoVmware'] = global_path + images.home + 'sellcom_vmware.png'
- local_images.images['logoZoox'] = global_path + images.home + 'sellcom_zoox.png'
- local_images.images['logoHpBanner'] = global_path + images.home + 'sellcom_hp.png'
- local_images.images['logoHpeBanner'] = global_path + images.home + 'sellcom_hpe.png'
- local_images.images['logoAppleBaner'] = global_path + images.home + 'sellcom_apple.png'
- local_images.images['logoServicenowBanner'] = global_path + images.home + 'sellcom_servicenow.png'

- local_images.images['iconoServicios01'] = global_path + images.home + 'sellcom_trophy.png'

- local_images.images['logoExito1'] = global_path + images.home + 'sellcom-casos-exito-bbva.png'
- local_images.images['logoExito2'] = global_path + images.home + 'sellcom-casos-exito-sw.png'
- local_images.images['logoExito3'] = global_path + images.home + 'sellcom-casos-exito-telefonica.png'

- local_images.images['backServicios01'] = global_path + images.home + 'Sellcom-Home-Servicios-01.jpg'
- local_images.images['backServicios02'] = global_path + images.home + 'Sellcom-Home-Servicios-02.jpg'
- local_images.images['backServicios03'] = global_path + images.home + 'Sellcom-Home-Servicios-03.jpg'
- local_images.images['backServicios04'] = global_path + images.home + 'Sellcom-Home-Servicios-04.jpg'
- local_images.images['backServicios05'] = global_path + images.home + 'Sellcom-Home-Servicios-05.jpg'
- local_images.images['backServicios06'] = global_path + images.home + 'Sellcom-Home-Servicios-06.jpg'
- local_images.images['backServicios07'] = global_path + images.home + 'Sellcom-Home-Servicios-07.jpg'
- local_images.images['backServicios08'] = global_path + images.home + 'Sellcom-Home-Servicios-08.jpg'
- local_images.images['backServicios09'] = global_path + images.home + 'Sellcom-Home-Servicios-09.jpg'
- local_images.images['backServicios10'] = global_path + images.home + 'Sellcom-Home-Servicios-10.jpg'
- local_images.images['backServicios11'] = global_path + images.home + 'Sellcom-Home-Servicios-11.jpg'

//- Imagenes del nuevo sitio
- local_images.images['data'] = global_path + images.home + 'home_Mesa_de_trabajo_data.png'
- local_images.images['premio'] = global_path + images.home + 'home_Mesa_de_trabajo_premio.png'
- local_images.images['plataforma'] = global_path + images.home + 'home_Mesa_de_trabajo_plataforma.png'
- local_images.images['networking'] = global_path + images.home + 'home_Mesa_de_trabajo_networking.png'
- local_images.images['seguridad'] = global_path + images.home + 'home_Mesa_de_trabajo_seguridad.png'
- local_images.images['optimizar'] = global_path + images.home + 'home_Mesa_de_trabajo_optimizar.png'
- local_images.images['tecnologicos'] = global_path + images.home + 'home_Mesa_de_trabajo_tecnologicos.png'
- local_images.images['hibrida'] = global_path + images.home + 'home_Mesa_de_trabajo_hibrida.png'
- local_images.images['procesos'] = global_path + images.home + 'home_Mesa_de_trabajo_procesos.png'
- local_images.images['banner'] = global_path +  images.home + 'banner_new.png'
- local_images.images['mapa'] = global_path +  images.home + 'mapa.png'
- local_images.images['Verde'] = global_path +  images.home + 'Logo-Sellcom_Verde.png'
- local_images.images['chatbox'] = global_path +  images.home + 'home_vertical_chatbox.png'
- local_images.images['Trofeo'] = global_path +  images.home + 'home_Mesa_de_trabajo_Trofeo.gif'




doctype html
html(lang=site.lang)
  include template/_head
  body
    - var home = true;
    include template/_header
    section.section-banner-dass-vertical
      .banner-vr-home
        .container
          .content
            img.logo(src=local_images.images.Verde alt="Verde")
            .title-sections
              
              h1 INTEGRAMOS #[span.green SOLUCIONES] CON #[span.green TECNOLOGÍA] PARA TODAS LAS INDUSTRIAS
              p Con más de 15 años de experiencia, somos una compañia experta en hardware y soluciones de TI.
    section.section-verticales
      .container
        .row
          .col-12
            h1 #[span.green VERTICALES] DE NEGOCIO
          .col-12.vertical-col
            .col-6.vertical-hover
              .col-3.centrado 
                img#imagen(src=local_images.images.plataforma alt="plataforma")
              .col-9
                h2 HCI + SDDC
                p La Hiperconvergencia es un software que integra el almacenamiento, memoria y procesamiento en una sola plataforma ofreciendo la experiencia de la nube publica en su infraestructura privada.
            .col-6.vertical-hover
              .col-3 
                img#imagen(src=local_images.images.networking alt="networking")
              .col-9
                h2 Networking Solutions
                p Nos especializamos en el desarrollo e implementación de soluciones escalables que maximizan su inversión en TI y se alinean con sus objetivos de negocio.
          .col-12.vertical-col
            .col-6.vertical-hover
              .col-3 
                img#imagen(src=local_images.images.seguridad alt="seguridad")
              .col-9
                h2 Cyber Security & Recillence
                p Combine las fortalezas comprobadas del NIST con el Marco de Ingeniería de Resiliencia {Learn, Respond, Monitor and Anticipate} para crear nuevas soluciones
            .col-6.vertical-hover
              .col-3 
                img#imagen(src=local_images.images.optimizar alt="optimizar")
              .col-9
                h2 Data and Anatytics  Framework
                p Analizamos Datos, Redes, Infraestructuras, Sentimientos de Usuario y Servicios para Medir, Interpretar, Optimizar y anticipar el comportamiento de su negocio con una única plataforma de integración y analisis de datos.
          .col-12.vertical-col
            .col-6.vertical-hover
              .col-3 
                img#imagen(src=local_images.images.data alt="data")
              .col-9
                h2 Datacenter Solutions
                p La arquitectura actual de los centros de datos debe soportar una fuerza de trabajo altamente móvil, modelos de negocio basados en datos y la proliferación de dispositivos.
            .col-6.vertical-hover
              .col-3 
                img#imagen(src=local_images.images.tecnologicos alt="tecnologicos")
              .col-9
                h2 Mobility & En User Computing
                p La administración de los recursos tecnológicos de su  organización requiere un manejo eficiente para brindar al usuario una respuesta efectiva y calidad en el servicio.
          .col-12.vertical-col
            .col-6.vertical-hover
              .col-3 
                img#imagen(src=local_images.images.hibrida alt="hibrida")
              .col-9
                h2 Cloud & Hybrid Platforms
                p Emprenda el camino a la nube híbrida utilizando una mezcla de servicios en nube locales, privados y público, con orquestación entre las plataformas.
            .col-6.vertical-hover
              .col-3 
                img#imagen(src=local_images.images.procesos alt="procesos")
              .col-9
                h2 Business Process Management
                p Nuestras soluciones de  Automatización de procesos y Servicios, integran la arquitectura moderna de servicios de TI con los principios de metodologías ITIL para ayudarle a ubicarse a la vanguardia.
    section.section-presencia
      .container
        .row
          .col-12
            h1 #[span.green Presencia] Sellcom
      .container-full
          .row
            .col-12
              img.vertical_map(src=local_images.images.mapa alt="presencia sellcom")
      .container
          .row
            .col-12
              ul
                li
                  p México-Edo.México.
                li
                  p México-Queretáro.
                li
                  p España-Madrid.
    section.section-premios
      .container
        .row
          .col-12
            h1 #[span.green Reconocimientos] Sellcom
      .container-full
        .row
          .col-12.altura-vertical
            .col-4.centrado
              img.price(src=local_images.images.Trofeo alt="Trofeo")
            .col-4.building
              p
            .col-4.fondo
              p Cross Portfolio Growth Award
              p Partner in excellence Award APC
              p 2011
    section.section-slider-customer#herramientas2
      .container
        .row
          .col-12.middle
            .title-sections
              h2 Socios
            p Son una parte importante de nuestro éxito. Contribuyen con sus servicios a generar alianzas estratégicas que nos permiten ofrecer mejores soluciones.
            ul.slider-tabs
              li.active
                img(src=local_images.images.imageLogo1 alt='HP')
              li
                img(src=local_images.images.imageLogo2 alt='Veeam')
              li
                img(src=local_images.images.imageLogo3 alt='Huawei')
              li
                img(src=local_images.images.imageLogo4 alt='Aranda')
              li
                img(src=local_images.images.imageLogo5 alt='Apple')
              li
                img(src=local_images.images.imageLogo6 alt='MicroFocus')
              li
                img(src=local_images.images.imageLogo11 alt='APC')
              li
                img(src=local_images.images.imageLogo7 alt='Jamf')
              li
                img(src=local_images.images.imageLogo8 alt='Vmware')
              li
                img(src=local_images.images.imageLogo9 alt='Cyber c')
              li
                img(src=local_images.images.imageLogo10 alt='Qlik')
              li
                img(src=local_images.images.imageLogo12, alt='Aruba')
              li
                img(src=local_images.images.imageLogo13, alt='AWS')
              li
                img(src=local_images.images.imageLogo14, alt='Azure')
              li
                img(src=local_images.images.imageLogo15, alt='Blackberry')
              li
                img(src=local_images.images.imageLogo16, alt='Blancco')
              li
                img(src=local_images.images.imageLogo17, alt='Cylance')
              li
                img(src=local_images.images.imageLogo18, alt='Domo')
              li
                img(src=local_images.images.imageLogo19, alt='Getac')
              li
                img(src=local_images.images.imageLogo20, alt='Google-cloud')
              li
                img(src=local_images.images.imageLogo34, alt='HP')
              li
                img(src=local_images.images.imageLogo21, alt='Intel')
              li
                img(src=local_images.images.imageLogo22, alt='Microsoft')
              li
                img(src=local_images.images.imageLogo23, alt='Naudit')
              li
                img(src=local_images.images.imageLogo24, alt='Opentext')
              li
                img(src=local_images.images.imageLogo25, alt='Owncloud')
              li
                img(src=local_images.images.imageLogo26, alt='Redhat')
              li
                img(src=local_images.images.imageLogo27, alt='SAP')
              li
                img(src=local_images.images.imageLogo28, alt='Scout')
              li
                img(src=local_images.images.imageLogo29, alt='Servicenow')
              li
                img(src=local_images.images.imageLogo30, alt='Suse')
              li
                img(src=local_images.images.imageLogo31, alt='Veritas')
              li
                img(src=local_images.images.imageLogo32, alt='Watson')
              li
                img(src=local_images.images.imageLogo33, alt='Zoox')
    section.footer-up
      .container       
    include template/_footer

dist/dev/index.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Soluciones que Transforman</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="En Sellcom integramos soluciones con tecnología para todas las industrias; por lo que innovamos de manera constante para ser el mejor aliado de las empresas.">
    <meta name="keywords" content="Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud">
    <link rel="shortcut icon" href="images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row">
            <div class="col-2"><a href="../index.html"><img src="images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a></div>
            <div class="col-10"></div>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="sections/conocenos.html">Sobre Sellcom</a></li>
                <li><a href="sections/#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="sections/business.html">Business Process</a></li>
                    <li><a href="sections/cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="sections/datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="sections/framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="sections/hci.html">HCI + SDDC</a></li>
                    <li><a href="sections/mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="sections/networking.html">Networking Solutions</a></li>
                    <li><a href="sections/security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="sections/reconocimientos.html">Reconocimientos</a></li>
                <li><a href="sections/contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-banner-dass-vertical">
      <div class="banner-vr-home">
        <div class="container">
          <div class="content"><img class="logo" src="images/home/Logo-Sellcom_Verde.png" alt="Verde">
            <div class="title-sections">
              <h1>INTEGRAMOS <span class="green">SOLUCIONES</span> CON <span class="green">TECNOLOGÍA</span> PARA TODAS LAS INDUSTRIAS</h1>
              <p>Con más de 15 años de experiencia, somos una compañia experta en hardware y soluciones de TI.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-verticales">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1><span class="green">VERTICALES</span> DE NEGOCIO</h1>
          </div>
          <div class="col-12 vertical-col">
            <div class="col-6 vertical-hover">
              <div class="col-3 centrado"> <img id="imagen" src="images/home/home_Mesa_de_trabajo_plataforma.png" alt="plataforma"></div>
              <div class="col-9">
                <h2>HCI + SDDC</h2>
                <p>La Hiperconvergencia es un software que integra el almacenamiento, memoria y procesamiento en una sola plataforma ofreciendo la experiencia de la nube publica en su infraestructura privada.</p>
              </div>
            </div>
            <div class="col-6 vertical-hover">
              <div class="col-3"> <img id="imagen" src="images/home/home_Mesa_de_trabajo_networking.png" alt="networking"></div>
              <div class="col-9">
                <h2>Networking Solutions</h2>
                <p>Nos especializamos en el desarrollo e implementación de soluciones escalables que maximizan su inversión en TI y se alinean con sus objetivos de negocio.</p>
              </div>
            </div>
          </div>
          <div class="col-12 vertical-col">
            <div class="col-6 vertical-hover">
              <div class="col-3"> <img id="imagen" src="images/home/home_Mesa_de_trabajo_seguridad.png" alt="seguridad"></div>
              <div class="col-9">
                <h2>Cyber Security & Recillence</h2>
                <p>Combine las fortalezas comprobadas del NIST con el Marco de Ingeniería de Resiliencia {Learn, Respond, Monitor and Anticipate} para crear nuevas soluciones</p>
              </div>
            </div>
            <div class="col-6 vertical-hover">
              <div class="col-3"> <img id="imagen" src="images/home/home_Mesa_de_trabajo_optimizar.png" alt="optimizar"></div>
              <div class="col-9">
                <h2>Data and Anatytics  Framework</h2>
                <p>Analizamos Datos, Redes, Infraestructuras, Sentimientos de Usuario y Servicios para Medir, Interpretar, Optimizar y anticipar el comportamiento de su negocio con una única plataforma de integración y analisis de datos.</p>
              </div>
            </div>
          </div>
          <div class="col-12 vertical-col">
            <div class="col-6 vertical-hover">
              <div class="col-3"> <img id="imagen" src="images/home/home_Mesa_de_trabajo_data.png" alt="data"></div>
              <div class="col-9">
                <h2>Datacenter Solutions</h2>
                <p>La arquitectura actual de los centros de datos debe soportar una fuerza de trabajo altamente móvil, modelos de negocio basados en datos y la proliferación de dispositivos.</p>
              </div>
            </div>
            <div class="col-6 vertical-hover">
              <div class="col-3"> <img id="imagen" src="images/home/home_Mesa_de_trabajo_tecnologicos.png" alt="tecnologicos"></div>
              <div class="col-9">
                <h2>Mobility & En User Computing</h2>
                <p>La administración de los recursos tecnológicos de su  organización requiere un manejo eficiente para brindar al usuario una respuesta efectiva y calidad en el servicio.</p>
              </div>
            </div>
          </div>
          <div class="col-12 vertical-col">
            <div class="col-6 vertical-hover">
              <div class="col-3"> <img id="imagen" src="images/home/home_Mesa_de_trabajo_hibrida.png" alt="hibrida"></div>
              <div class="col-9">
                <h2>Cloud & Hybrid Platforms</h2>
                <p>Emprenda el camino a la nube híbrida utilizando una mezcla de servicios en nube locales, privados y público, con orquestación entre las plataformas.</p>
              </div>
            </div>
            <div class="col-6 vertical-hover">
              <div class="col-3"> <img id="imagen" src="images/home/home_Mesa_de_trabajo_procesos.png" alt="procesos"></div>
              <div class="col-9">
                <h2>Business Process Management</h2>
                <p>Nuestras soluciones de  Automatización de procesos y Servicios, integran la arquitectura moderna de servicios de TI con los principios de metodologías ITIL para ayudarle a ubicarse a la vanguardia.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-presencia">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1><span class="green">Presencia</span> Sellcom</h1>
          </div>
        </div>
      </div>
      <div class="container-full">
        <div class="row">
          <div class="col-12"><img class="vertical_map" src="images/home/mapa.png" alt="presencia sellcom"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <ul>
              <li>
                <p>México-Edo.México.</p>
              </li>
              <li>
                <p>México-Queretáro.</p>
              </li>
              <li>
                <p>España-Madrid.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section-premios">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1><span class="green">Reconocimientos</span> Sellcom</h1>
          </div>
        </div>
      </div>
      <div class="container-full">
        <div class="row">
          <div class="col-12 altura-vertical">
            <div class="col-4 centrado"><img class="price" src="images/home/home_Mesa_de_trabajo_Trofeo.gif" alt="Trofeo"></div>
            <div class="col-4 building">
              <p></p>
            </div>
            <div class="col-4 fondo">
              <p>Cross Portfolio Growth Award</p>
              <p>Partner in excellence Award APC</p>
              <p>2011</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-slider-customer" id="herramientas2">
      <div class="container">
        <div class="row">
          <div class="col-12 middle">
            <div class="title-sections">
              <h2>Socios</h2>
            </div>
            <p>Son una parte importante de nuestro éxito. Contribuyen con sus servicios a generar alianzas estratégicas que nos permiten ofrecer mejores soluciones.</p>
            <ul class="slider-tabs">
              <li class="active"><img src="images/home/Sellcom-Home-Socios-HP-2.png" alt="HP"></li>
              <li><img src="images/home/Sellcom-Home-Socios-Veeam.png" alt="Veeam"></li>
              <li><img src="images/home/Sellcom-Home-Socios-Huawei-3.png" alt="Huawei"></li>
              <li><img src="images/home/Sellcom-Home-Socios-Ivanti.png" alt="Aranda"></li>
              <li><img src="images/home/Sellcom-Home-Socios-Apple-2.png" alt="Apple"></li>
              <li><img src="images/home/Sellcom-Home-Socios-MicroFocus.png" alt="MicroFocus"></li>
              <li><img src="images/home/Sellcom-Home-Socios-apc.png" alt="APC"></li>
              <li><img src="images/home/Sellcom-Home-Socios-Jamf.png" alt="Jamf"></li>
              <li><img src="images/home/Sellcom-Home-Socios-vmware.png" alt="Vmware"></li>
              <li><img src="images/home/Sellcom-Home-Socios-Cyberc.png" alt="Cyber c"></li>
              <li><img src="images/home/Sellcom-Home-Socios-Qlik.png" alt="Qlik"></li>
              <li><img src="images/home/Sellcom-Home-Socios-aruba.png" alt="Aruba"></li>
              <li><img src="images/home/Sellcom-Home-Socios-aws.png" alt="AWS"></li>
              <li><img src="images/home/Sellcom-Home-Socios-azure.png" alt="Azure"></li>
              <li><img src="images/home/Sellcom-Home-Socios-blackberry.png" alt="Blackberry"></li>
              <li><img src="images/home/Sellcom-Home-Socios-blancco.png" alt="Blancco"></li>
              <li><img src="images/home/Sellcom-Home-Socios-cylance.png" alt="Cylance"></li>
              <li><img src="images/home/Sellcom-Home-Socios-domo.png" alt="Domo"></li>
              <li><img src="images/home/Sellcom-Home-Socios-getac.png" alt="Getac"></li>
              <li><img src="images/home/Sellcom-Home-Socios-gcloud.png" alt="Google-cloud"></li>
              <li><img src="images/home/Sellcom-Home-Socios-hp-3.png" alt="HP"></li>
              <li><img src="images/home/Sellcom-Home-Socios-intel.png" alt="Intel"></li>
              <li><img src="images/home/Sellcom-Home-Socios-microsoft.png" alt="Microsoft"></li>
              <li><img src="images/home/Sellcom-Home-Socios-naudit.png" alt="Naudit"></li>
              <li><img src="images/home/Sellcom-Home-Socios-opentext.png" alt="Opentext"></li>
              <li><img src="images/home/Sellcom-Home-Socios-owncloud.png" alt="Owncloud"></li>
              <li><img src="images/home/Sellcom-Home-Socios-redhat.png" alt="Redhat"></li>
              <li><img src="images/home/Sellcom-Home-Socios-sap.png" alt="SAP"></li>
              <li><img src="images/home/Sellcom-Home-Socios-scout.png" alt="Scout"></li>
              <li><img src="images/home/Sellcom-Home-Socios-servicenow.png" alt="Servicenow"></li>
              <li><img src="images/home/Sellcom-Home-Socios-suse.png" alt="Suse"></li>
              <li><img src="images/home/Sellcom-Home-Socios-veritas.png" alt="Veritas"></li>
              <li><img src="images/home/Sellcom-Home-Socios-watson.png" alt="Watson"></li>
              <li><img src="images/home/Sellcom-Home-Socios-zoox.png" alt="Zoox"></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="footer-up">
      <div class="container">      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="sections/aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="sections/ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/libs/jquery.js"></script>
    <script src="js/Sellcom.js"></script>
    <script src="js/main.js"></script>
    <script src="js/plugins/slick.js"></script>
    <script src="js/controllers/home.js"></script>
    <script src="js/controllers/sellcom_dass.js"></script>
    <script src="js/controllers/sellcom_about.js"></script>
  </body>
</html>
