dist/dev/sections/apple.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Apple</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Ahora costos con las soluciones de Apple; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!">
    <meta name="keywords" content="Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Apple, bajo demanda, on demand, soluciones Apple">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-video-dass"><img class="banner" src="../images/products_apple/bannerprincipal.jpg" alt="banner">
      <div class="boxVideo">
        <video id="secondVideo" autoplay loop muted>
          <source src="../images/video/apple.mp4" type="video/mp4">
        </video>
      </div>
      <div class="container">
        <div class="content"><br>
          <div class="title-sections">
            <h1>Dispositivos Apple</h1>
          </div>
          <p>Sellcom, Distribuidor de Valor Agregado de Apple en México</p>
        </div>
      </div>
    </section>
    <section class="section-about-dass" id="dass">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="title-sections-text">
              <h3>¿Qué es Apple?</h3>
              <p>Acceso a la distribución empresarial de dispositivos Apple con las ventajas de los programas internacionales de la marca y precios preferenciales por ser distribuidor reconocido de Apple en México.</p>
            </div>
            <ul>
              <li><strong>IMAC</strong><img src="../images/products_apple/Sellcom_Icon_Imac.png" alt="imac">
                <p>Dispositivos de Escritorio.</p>
              </li>
              <li><strong>IPAD</strong><img src="../images/products_apple/Sellcom_Icon_Ipad.png" alt="ipad">
                <p>Tabletas.</p>
              </li>
              <li><strong>MAC</strong><img src="../images/products_apple/Sellcom_Icon_Mac.png" alt="mac">
                <p>Laptops apple</p>
              </li>
              <li><strong>APPLE WATCH</strong><img src="../images/products_apple/Sellcom_Icon_watch.png" alt="watch">
                <p>Mantente más activo, saludable y conectado.</p>
              </li>
              <li><strong>SERVICIO DE ENROLAMIENTO</strong><img src="../images/products_apple/Sellcom_Icon_ServiciodeEnrolamiento.png" alt="enrolamiento">
                <p>Desarrolla un landing propio para DEP.</p>
              </li>
              <li><strong>SOPORTE AUTORIZADO</strong><img src="../images/products_apple/Sellcom_Icon_SoporteAutorizado.png" alt="soporte">
                <p>Gestionamos tus garantías y damos soporte a tus dispositivos.</p>
              </li>
              <li><strong>DESARROLLO EN IOS</strong><img src="../images/products_apple/Sellcom_Icon_Sistemaoperativo.png" alt="desarrollo">
                <p>Desarrollo en el sistema operativo de Apple.</p>
              </li>
              <li><strong>LICENCIAMIENTO DE APPS EXCLUSIVO</strong><img src="../images/products_apple/Sellcom_Icon_Licenciamiento.png" alt="licenciamiento">
                <p>Accesibilidad e integración de aplicaciones a la tienda de Apple.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section-implementDass" id="beneficios">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections-text">
              <h3>¿Por qué implementar Apple?</h3>
              <p>Beneficios:</p>
            </div>
            <ul>
              <li><img src="../images/products_apple/Sellcom_Icon_Apple_Internetdelascosas.png" alt="cosas">
                <p>Acceso al internet de las cosas</p>
              </li>
              <li><img src="../images/products_apple/Sellcom_Icon_Apple_MachingLearning.png" alt="learning">
                <p>Machine learning</p>
              </li>
              <li><img src="../images/products_apple/Sellcom_Icon_Apple_Segurity.png" alt="seguridad">
                <p>Seguridad</p>
              </li>
              <li><img src="../images/products_apple/Sellcom_Icon_Apple_InteligenciadeNegocios.png" alt="inteligencia">
                <p>Inteligencia de negocios</p>
              </li>
              <li><img src="../images/products_apple/Sellcom_Icon_Apple_Accesabilidad.png" alt="accesibilidad">
                <p>Accesibilidad</p>
              </li>
              <li><img src="../images/products_apple/Sellcom_Icon_Apple_Accesoalanube.png" alt="nube">
                <p>Acceso a la nube</p>
              </li>
              <li><img src="../images/products_apple/Sellcom_Icon_Apple_RealidadAumentada.png" alt="realidad">
                <p>Realidad aumentada</p>
              </li>
              <li><img src="../images/products_apple/Sellcom_Icon_Apple_AccesoaBigData.png" alt="big data">
                <p>Acceso a big data</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section-subtitle" id="soluciones">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections">
              <h3>Conoce nuestra solución</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="flotante"><a class="whitepage" href="../documents/Apple_Whitepaper.pdf" dowloand target="_blank" title="Descargar white paper"><img src="../images/global/whitepaper.png" alt="big data"></a><a class="caseofuse" href="../documents/Apple_casos_de_uso.pdf" dowloand target="_blank" title="Descargar casos de uso"><img src="../images/global/casodeuso.png" alt="big data"></a></div>
    <section class="section-why-dass"><img src="../images/products_apple/solucion.jpg" alt="solución conoce">
      <div class="container">
        <div class="row">
          <div class="col-6 bgcircle">
            <p>iMac, iPad, Mac, iPod, iPhone en sus últimas versiones forman parte del catálogo de dispositivos de Sellcom y Apple.</p>
            <p>Adicionalmente contamos con el identificador de partner DEP el servicio de enrolamiento para empresas que facilita el control de los dispositivos organizacionales.</p>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/libs/jquery.validate.js"></script>
    <script src="../js/libs/jquery.file.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/sellcom_dass.js"></script>
    <script src="../js/controllers/downloads.js"></script>
    <script src="../js/controllers/form.js"></script>
  </body>
</html>
<script type="text/javascript" src="../js/libs/jquery.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<script type="text/javascript" src="../js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../js/libs/jquery.file.js"></script>
<script type="text/javascript" src="../js/plugins/slick.js"></script>
<script type="text/javascript" src="../js/controllers/sellcom_dass.js"></script>
<script type="text/javascript" src="../js/controllers/downloads.js"></script>
<script type="text/javascript" src="../js/controllers/form.js"></script>

src/html/sections/product/apple.pug
//-Configuración y variables globales del proyecto
include ../../config/_variables
//-
	Ajustes de la configuración global para esta sección
- global_path = '../../'
//-
	Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
	Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Apple'
- metadata['description'] = 'Ahora costos con las soluciones de Apple; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Apple, bajo demanda, on demand, soluciones Apple'
- var landing = 'apple'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_apple + 'bannerprincipal.jpg'
//- Servicios
- local.images['imac'] = global_path + images.products_apple + 'Sellcom_Icon_Imac.png'
- local.images['ipad'] = global_path + images.products_apple + 'Sellcom_Icon_Ipad.png'
- local.images['watch'] = global_path + images.products_apple + 'Sellcom_Icon_watch.png'
- local.images['licenciamiento'] = global_path + images.products_apple + 'Sellcom_Icon_Licenciamiento.png'
- local.images['mac'] = global_path + images.products_apple + 'Sellcom_Icon_Mac.png'
- local.images['enrolamiento'] = global_path + images.products_apple + 'Sellcom_Icon_ServiciodeEnrolamiento.png'
- local.images['desarrollo'] = global_path + images.products_apple + 'Sellcom_Icon_Sistemaoperativo.png'
- local.images['soporte'] = global_path + images.products_apple + 'Sellcom_Icon_SoporteAutorizado.png'
//- Beneficios
- local.images['cosas'] = global_path + images.products_apple + 'Sellcom_Icon_Apple_Internetdelascosas.png'
- local.images['learning'] = global_path + images.products_apple + 'Sellcom_Icon_Apple_MachingLearning.png'
- local.images['seguridad'] = global_path + images.products_apple + 'Sellcom_Icon_Apple_Segurity.png'
- local.images['inteligencia'] = global_path + images.products_apple + 'Sellcom_Icon_Apple_InteligenciadeNegocios.png'
- local.images['accesibilidad'] = global_path + images.products_apple + 'Sellcom_Icon_Apple_Accesabilidad.png'
- local.images['nube'] = global_path + images.products_apple + 'Sellcom_Icon_Apple_Accesoalanube.png'
- local.images['realidad'] = global_path + images.products_apple + 'Sellcom_Icon_Apple_RealidadAumentada.png'
- local.images['bigdata'] = global_path + images.products_apple + 'Sellcom_Icon_Apple_AccesoaBigData.png'

- local.images['solucion'] = global_path + images.products_apple + 'solucion.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Apple_Whitepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'Apple_casos_de_uso.pdf'

doctype html
html(lang=site.lang)
	include ../../template/_head
	body
		include ../../template/_header
		//-section.section-banner-dass
			img.banner(src=local.images.banner, alt="banner")
			.container
				.content
					br
					.title-sections
						h1 Dispositivos Apple
					p Sellcom distribuidor corporativo de Apple en México
		section.section-video-dass
			img.banner(src=local.images.banner, alt="banner")
			.boxVideo
				video#secondVideo(autoplay loop muted)
					source(src="../../images/video/apple.mp4" type="video/mp4")
			.container
				.content
					br
					.title-sections
						h1 Dispositivos Apple
					p Sellcom, Distribuidor de Valor Agregado de Apple en México
		section.section-about-dass#dass
			.container
				.row
					.col-12
						.title-sections-text
							h3 ¿Qué es Apple?
							p Acceso a la distribución empresarial de dispositivos Apple con las ventajas de los programas internacionales de la marca y precios preferenciales por ser distribuidor reconocido de Apple en México.
						ul
							li
								strong IMAC
								img(src=local.images.imac, alt="imac")
								p Dispositivos de Escritorio.
							li
								strong IPAD
								img(src=local.images.ipad, alt="ipad")
								p Tabletas.
							li
								strong MAC
								img(src=local.images.mac, alt="mac")
								p Laptops apple
							li
								strong APPLE WATCH
								img(src=local.images.watch, alt="watch")
								p Mantente más activo, saludable y conectado.
							li
								strong SERVICIO DE ENROLAMIENTO
								img(src=local.images.enrolamiento, alt="enrolamiento")
								p Desarrolla un landing propio para DEP.

							li
								strong SOPORTE AUTORIZADO
								img(src=local.images.soporte, alt="soporte")
								p Gestionamos tus garantías y damos soporte a tus dispositivos.
							li
								strong DESARROLLO EN IOS
								img(src=local.images.desarrollo, alt="desarrollo")
								p Desarrollo en el sistema operativo de Apple.
							li
								strong LICENCIAMIENTO DE APPS EXCLUSIVO
								img(src=local.images.licenciamiento, alt="licenciamiento")
								p Accesibilidad e integración de aplicaciones a la tienda de Apple.
		
		section.section-implementDass#beneficios
			.container
				.row
					.col-10.middle
						.title-sections-text
							h3 ¿Por qué implementar Apple?
							p Beneficios:
						ul
							li
								img(src=local.images.cosas, alt="cosas")
								p Acceso al internet de las cosas
							li
								img(src=local.images.learning, alt="learning")
								p Machine learning
							li
								img(src=local.images.seguridad, alt="seguridad")
								p Seguridad
							li
								img(src=local.images.inteligencia, alt="inteligencia")
								p Inteligencia de negocios
							li
								img(src=local.images.accesibilidad, alt="accesibilidad")
								p Accesibilidad
							li
								img(src=local.images.nube, alt="nube")
								p Acceso a la nube
							li
								img(src=local.images.realidad, alt="realidad")
								p Realidad aumentada
							li
								img(src=local.images.bigdata, alt="big data")
								p Acceso a big data
		section.section-subtitle#soluciones
			.container
				.row
					.col-10.middle
						.title-sections
							h3 Conoce nuestra solución
		.flotante
			a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
				img(src=local.images.whitepaper, alt="big data" )
			a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
				img(src=local.images.casodeuso, alt="big data")
		section.section-why-dass
			img(src=local.images.solucion, alt="solución conoce")
			.container
				.row
					.col-6.bgcircle
						p iMac, iPad, Mac, iPod, iPhone en sus últimas versiones forman parte del catálogo de dispositivos de Sellcom y Apple.
						p Adicionalmente contamos con el identificador de partner DEP el servicio de enrolamiento para empresas que facilita el control de los dispositivos organizacionales.
		include ../../template/_footer
		if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
		script(type="text/javascript" src=section_scripts[current_profile][i])
