dist/dev/landing/veeam-microsoft.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Veeam + Microsoft</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Para nuestros dispositivos Apple contamos con el servicio de enrolamiento, el cual consta de la configuración automática a la imagen, políticas, restricciones y complementos que nos defina el cliente.">
    <meta name="keywords" content="Apple, enrolamiento, DEP">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main">
        <div class="container">
          <div class="row">
            <div class="col-1"><a href="../index.html"><img src="../images/global/sellcom_logo.svg" alt="Logotipo Sellcom"></a></div>
            <div class="col-3">
              <ul>
                <li><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
                <li><a class="btn-default" href="../sections/sellcom-about.html#contacto">Cont&aacute;ctanos</a></li>
              </ul>
            </div>
            <div class="col-8">
              <nav class="menu-main"><span class="icon-close" id="btnClose"></span><span class="icon-menu" id="btnGlobalMenu"></span>
                <ul>
                  <li><a href="../sections/sellcom-about.html">Sobre Sellcom</a></li>
                  <li class="children"><a href="../sections/sellcom-solutions.html">Soluciones Integrales</a>
                    <div class="submenu">
                      <ul>
                        <li><a href="../sections/portal-proveedores.html">Portal de proveedores</a></li>
                        <li><a href="../sections/plataforma-lealtad.html">Plataforma de Lealtad</a></li>
                        <li><a href="../sections/mesa-servicio.html">Mesa de Servicio</a></li>
                        <li><a href="../sections/daas.html">Daas</a></li>
                        <li><a href="../sections/mps.html">MPS</a></li>
                        <li><a href="../sections/monitoreo.html">Monitoreo</a></li>
                        <li><a href="../sections/wifi-saas.html">Wifi Saas</a></li>
                        <li><a href="../sections/analitica-negocio.html">Analítica de negocio</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="children"><a href="../sections/products-services.html">Productos y Servicios<span class="icon-arrow"></span></a>
                    <div class="submenu">
                      <ul>
                        <li><a href="../sections/apple.html">Apple</a></li>
                        <li><a href="../sections/blackberry.html">Blackberry</a></li>
                        <li><a href="../sections/veeam.html">Veeam</a></li>
                        <li><a href="../sections/servicenow.html">Servicenow</a></li>
                        <li><a href="../sections/jamf.html">Jamf</a></li>
                        <li><a href="../sections/owncloud.html">Owncloud</a></li>
                        <li><a href="../sections/getac.html">Getac</a></li>
                        <li><a href="../sections/blancco.html">Blancco</a></li>
                        <li><a href="../sections/redhat.html">Redhat</a></li>
                        <li><a href="../sections/huawei.html">Huawei</a></li>
                        <li><a href="../sections/azure.html">Azure</a></li>
                        <li><a href="../sections/microsoft.html">Microsoft</a></li>
                        <li><a href="../sections/mfseguridad.html">Microfocus Seguridad</a></li>
                        <li><a href="../sections/mfitom.html">Microfocus ITOM</a></li>
                        <li><a href="../sections/mfvertica.html">Microfocus Vertica</a></li>
                        <li><a href="../sections/mfdevops.html">Microfocus DevOps</a></li>
                        <li><a href="../sections/aruba.html">Aruba</a></li>
                        <li><a href="../sections/cyberc.html">CyberC</a></li>
                        <li><a href="../sections/opentext.html">OpenText</a></li>
                        <li><a href="../sections/hp.html">HP</a></li>
                        <li><a href="../sections/hpe.html">HP Enterprise</a></li>
                        <li><a href="../sections/ethical-hacking.html">Pentest/EthicalHaking</a></li>
                        <li><a href="../sections/digitalizacion.html">Digitalización</a></li>
                        <li><a href="../sections/desarrollo.html">Desarrollo de SW</a></li>
                        <li><a href="../sections/tiempos-materiales.html">Tiempos y Materiales</a></li>
                        <li><a href="../sections/qlik.html">Qlik</a></li>
                        <li><a href="../sections/suse.html">Suse</a></li>
                        <li><a href="../sections/naudit.html">Naudit</a></li>
                        <li><a href="../sections/ivanti.html">Ivanti</a></li>
                        <li><a href="../sections/nutanix.html">Nutanix</a></li>
                        <li><a href="../sections/vmware.html">VMware</a></li>
                        <li><a href="../sections/netapp.html">NetApp</a></li>
                        <li><a href="../sections/zoox.html">Zoox</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="children"><a href="../sections/awards.html">Premios<span class="icon-arrow"></span></a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-video-dass"><img class="banner" src="../images/landing_page/veeam_microsoft_sellcom_2.jpg" alt="banner">
      <div class="boxVideo">
        <video id="secondVideo" autoplay loop muted>
          <source src="../images/video/Veam_header.mp4" type="video/mp4">
        </video>
      </div>
      <div class="container">
        <div class="content"><br>
          <div class="title-sections">
            <h1>Veeam + Microsoft</h1>
          </div>
          <p>Better Together</p>
        </div>
      </div>
    </section>
    <section class="section-landig-page">
      <div class="container">
        <div class="row">
          <div class="col-10 middle landing-content">
            <h3 class="txt-center">¿Por qué las organizaciones deben proteger los datos de Office 365?</h3>
            <h3 class="txt-center">¿Tiene usted el control de sus datos de Office 365?</h3>
            <h3 class="txt-center">¿Tiene acceso a todos los elementos que necesita? </h3>
            <p class="txt-justify">Esta y otras preguntas surgen al adquirir los servicios de Office 365,  si bien Microsoft se ocupa administrar la infraestructura de Office 365 y mantener el tiempo de actividad para sus usuarios.</p>
            <p class="txt-justify">Ellos le otorgan a USTED la responsabilidad de sus datos, el concepto de que Microsoft realiza backups completos de todos sus datos por usted es bastante común y, sin embargo el no ocuparse de dicha actividad podría tener repercusiones para la continuidad de su negocio. </p>
            <p class="txt-justify">Microsoft Office 365 ofrece redundancia geográfica, lo que generalmente se confunde con el backup. </p>
            <p class="txt-justify">El backup se realiza cuando se crea una copia de los datos del historial y es almacenada en otra ubicación. Sin embargo, es aún más importante que usted tenga acceso directo a ese backup y control sobre él. De esta manera, si los datos se pierden, son eliminados por accidente o son atacados malintencionadamente, usted podrá recuperarlos rápidamente. En cambio, la redundancia geográfica brinda protección contra fallas del sitio o del hardware. Por lo tanto, si hay una interrupción o la infraestructura se cae, sus usuarios permanecerán activos y generalmente ajenos a estos problemas subyacentes.</p><br>
          </div>
        </div>
        <div class="row">
          <div class="col-10 middle">
            <div class="col-6"><img class="landing-img" src="../images/landing_page/veeam_microsoft_sellcom_1.jpg" alt="Veeam + Microsoft"></div>
            <div class="col-6"><img class="landing-img" src="../images/landing_page/veeam_microsoft_sellcom_2.jpg" alt="Veeam + Microsoft"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-8 middle">
            <h2 class="txt-center">6 razones por las que realizar backupde Office 365 es fundamental</h2><br>
            <p class="txt-justify">Como una plataforma de SaaS sólida y altamente capaz, Microsoft Office 365 se adapta perfectamente a las necesidades de muchas organizaciones. Office 365 proporciona disponibilidad de aplicaciones y tiempo de actividad para asegurar que sus usuarios nunca se vean afectados, pero un backup de Office 365 puede protegerlo contra muchas otras amenazas de seguridad.</p>
          </div>
          <div class="col-10 middle landing-rows">
            <div class="icon-left"><img class="number-icon" src="../images/landing_page/numbers-01.png" alt="Veeam + Microsoft"></div>
            <div class="text-landing">
              <h2>Eliminación Accidental </h2>
              <p class="txt-justify">Si usted elimina a un usuario, ya sea de forma intencional o no, esa eliminación se replica en la red junto con la eliminación de su sitio personal de SharePoint y sus datos de OneDrive.</p>
              <p class="txt-justify">La papelera de reciclaje nativa y las versiones de historiales incluidas en Office 365 solo pueden brindarle una protección contra la pérdida de datos de manera limitada, una vez que Office 365 haya eliminado los datos para siempre a través de redundancia geográfica o se agote el período de retención, será imposible realizar la recuperación. </p>
            </div>
          </div>
          <div class="col-10 middle landing-rows">
            <div class="icon-left"><img class="number-icon" src="../images/landing_page/numbers-02.png" alt="Veeam + Microsoft"></div>
            <div class="text-landing">
              <h2>Confusión y brechas en la política de retención</h2>
              <p class="txt-justify">Office 365 tiene políticas limitadas de backup y retención que solo pueden repeler ciertas situaciones de pérdida de datos, y no pretenden ser una solución de backup integral.</p>
              <p class="txt-justify">Con una solución de backup de Office 365, no existen brechas en la política de retención o inflexibilidad en la restauración. Backups a corto plazo o archivos a largo plazo, restauraciones granulares o en un punto en el tiempo: todo está al alcance de su mano, lo que permite una recuperación de datos rápida, fácil y confiable.</p>
            </div>
          </div>
          <div class="col-10 middle landing-rows">
            <div class="icon-left"><img class="number-icon" src="../images/landing_page/numbers-03.png" alt="Veeam + Microsoft"></div>
            <div class="text-landing">
              <h2>Amenazas a la seguridad Interna </h2>
              <p class="txt-justify">La idea de una amenaza de seguridad lleva a pensar en hackers y virus. Sin embargo, las empresas experimentan amenazas desde su interior, y suelen ocurrir más veces de lo que usted cree. Las organizaciones han sido víctimas de amenazas provocadas por sus propios empleados, tanto intencional como accidentalmente.</p>
              <p class="txt-justify">Microsoft no tiene manera de saber la diferencia entre un usuario regular y un empleado despedido que intenta eliminar los datos críticos de la empresa antes de su partida. Además, algunos usuarios crean amenazas graves sin darse cuenta al descargar archivos infectados o filtrando accidentalmente nombres de usuarios y contraseñas a sitios que pensaban que eran confiables.</p>
            </div>
          </div>
          <div class="col-10 middle landing-rows">
            <div class="icon-left"><img class="number-icon" src="../images/landing_page/numbers-04.png" alt="Veeam + Microsoft"></div>
            <div class="text-landing">
              <h2>Amenazas a la seguridad Externa</h2>
              <p class="txt-justify">El malware y los virus, como el ransomware, han provocado daños graves a organizaciones a nivel mundial. No solo se pone en riesgo la reputación de la empresa, sino también la privacidad y seguridad de los datos internos y del cliente.</p>
              <p class="txt-justify">Las amenazas externas pueden introducirse sigilosamente a través de correos electrónicos o archivos adjuntos, y no siempre es suficiente con educar a los usuarios sobre el cuidado que se debe tener, especialmente cuando esos mensajes infectados parecen ser tan atractivos.</p>
              <p class="txt-justify">Las funciones limitadas de backup/recuperación de Exchange Online no son adecuadas para manejar ataques graves.</p>
            </div>
          </div>
          <div class="col-10 middle landing-rows">
            <div class="icon-left"><img class="number-icon" src="../images/landing_page/numbers-05.png" alt="Veeam + Microsoft"></div>
            <div class="text-landing">
              <h2>Requisitos legales y de cumplimiento</h2>
              <p class="txt-justify">La recuperación  de correos electrónicos, archivos u otros tipos de datos en medio de una acción legal de forma inesperada es  algo que usted puede pensar  que nunca va a suceder, hasta que ocurre. Microsoft ha creado un par de redes de seguridad (Retención por juicio) pero, nuevamente, no son una solución de backup sólida capaz de mantener a su empresa libre de problemas legales. Por ejemplo, si usted elimina accidentalmente a un usuario, su buzón en retención, sitio personal en SharePoint  y cuenta en OneDrive también se eliminarán.</p>
              <p class="txt-justify">Los requisitos legales y de cumplimiento, así como las  regulaciones de acceso, varían en cada industria y país, pero las multas, penalidades y las disputas legales son tres cosas que no pueden estar en su lista de tareas pendientes.</p>
            </div>
          </div>
          <div class="col-10 middle landing-rows">
            <div class="icon-left"><img class="number-icon" src="../images/landing_page/numbers-06.png" alt="Veeam + Microsoft"></div>
            <div class="text-landing">
              <h2>Manejo de implementaciones de correo híbrido y migraciones a Office 365</h2>
              <p class="txt-justify">Las organizaciones que adoptan Office 365 generalmente necesitan una ventana de tiempo para que sirva como una ventana de transición entre Exchange en las instalaciones y Office 365 Exchange Online. Algunos incluso dejan una pequeña porción de su sistema tradicional en funcionamiento para tener una mayor flexibilidad y control adicional. La implementación de estos correos híbridos es común, pero plantea desafíos adicionales de administración.</p>
              <p class="txt-justify">La solución adecuada de backup para Office 365 debería ser capaz de manejar las implementaciones de correo híbrido  y también tratar los datos de intercambio, de forma  que la ubicación original se vuelva irrelevante.</p>
            </div>
          </div>
          <div class="col-8 middle btn_landing">
            <h1 class="txt-center">Conclusión</h1>
            <p class="txt-justify">Las soluciones innovadoras de Veeam Backup brindan a las empresas el control para poder administrar y retener el acceso a su información de manera inteligente. Esto con el fin de gobernar de forma adecuada lo información,  contar con cumplimiento y recuperación eficiente. </p>
            <p class="txt-justify">Más de 55,000 empresa usan ya Veeam Backup para Microsoft Office 365, restaurando de manera más rápida elementos individuales. Esto a través de las diversas opciones flexibles de recuperación y proporcionando la capacidad para automatizar y escalar de forma eficiente un flujo de ingresos basado en el respaldo de Office 365.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-8 btn_landing"><a class="btn-default" href="http://eepurl.com/gFpw79">Contácta a un representante</a></div>
          <div class="col-12">
            <div class="social">
              <h3>Compartir</h3>
              <div class="a2a_kit a2a_kit_size_32 a2a_default_style" data-a2a-icon-color="@eucalyptus"><a class="social_blog a2a_button_facebook"></a><a class="social_blog a2a_button_twitter"></a><a class="social_blog a2a_button_linkedin"></a></div>
            </div>
          </div><script async src="https://static.addtoany.com/menu/page.js"></script>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <ul class="menu-footer">
            <li><a href="../sections/sellcom-about.html">Sobre Sellcom</a></li>
            <li><a href="../sections/sellcom-solutions.html">Soluciones Integrales</a></li>
            <li><a href="../sections/products-services.html">Productos y Servicios</a></li>
          </ul>
          <ul class="menuProductsServices">
            <li><a href="../sections/apple.html">Apple</a></li>
            <li><a href="../sections/blackberry.html">Blackberry</a></li>
            <li><a href="../sections/veeam.html">Veeam</a></li>
            <li><a href="../sections/servicenow.html">Servicenow</a></li>
            <li><a href="../sections/jamf.html">Jamf</a></li>
            <li><a href="../sections/owncloud.html">Owncloud</a></li>
            <li><a href="../sections/getac.html">Getac</a></li>
            <li><a href="../sections/blancco.html">Blancco</a></li>
            <li><a href="../sections/redhat.html">Redhat</a></li>
            <li><a href="../sections/huawei.html">Huawei</a></li>
            <li><a href="../sections/azure.html">Azure</a></li>
            <li><a href="../sections/microsoft.html">Microsoft</a></li>
            <li><a href="../sections/mfseguridad.html">Microfocus Seguridad</a></li>
            <li><a href="../sections/mfitom.html">Microfocus ITOM</a></li>
            <li><a href="../sections/mfvertica.html">Microfocus Vertica</a></li>
            <li><a href="../sections/mfdevops.html">Microfocus DevOps</a></li>
            <li><a href="../sections/aruba.html">Aruba</a></li>
            <li><a href="../sections/cyberc.html">CyberC</a></li>
            <li><a href="../sections/opentext.html">OpenText</a></li>
            <li><a href="../sections/hp.html">HP</a></li>
            <li><a href="../sections/hpe.html">HP Enterprise</a></li>
            <li><a href="../sections/ethical-hacking.html">Pentest/EthicalHaking</a></li>
            <li><a href="../sections/digitalizacion.html">Digitalización</a></li>
            <li><a href="../sections/desarrollo.html">Desarrollo de SW</a></li>
            <li><a href="../sections/tiempos-materiales.html">Tiempos y Materiales</a></li>
            <li><a href="../sections/qlik.html">Qlik</a></li>
            <li><a href="../sections/portal-proveedores.html">Portal de proveedores</a></li>
            <li><a href="../sections/plataforma-lealtad.html">Plataforma de Lealtad</a></li>
            <li><a href="../sections/mesa-servicio.html">Mesa de Servicio</a></li>
            <li><a href="../sections/daas.html">Daas</a></li>
            <li><a href="../sections/mps.html">MPS</a></li>
            <li><a href="../sections/monitoreo.html">Monitoreo</a></li>
            <li><a href="../sections/wifi-saas.html">Wifi Saas</a></li>
            <li><a href="../sections/analitica-negocio.html">Anallítica de Negocio</a></li>
            <li><a href="../sections/suse.html">Suse</a></li>
            <li><a href="../sections/naudit.html">Naudit</a></li>
            <li><a href="../sections/ivanti.html">Ivanti</a></li>
            <li><a href="../sections/nutanix.html">Nutanix</a></li>
            <li><a href="../sections/vmware.html">VMware</a></li>
            <li><a href="../sections/netapp.html">NetApp</a></li>
            <li><a href="../sections/zoox.html">Zoox</a></li>
          </ul>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="../sections/aviso-privacidad.html">Aviso de Privacidad</a></li>
                  <li><a href="../sections/terminos-condiciones.html">| Terminos y condiciones</a></li>
                  <li><a href="../sections/ayudanos-a-mejorar.html">| Ayúdanos a mejorar </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p>Contáctanos tel. 01 55 5293 8400</p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/Sellcom.js"></script>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/global/global.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/products_daas.js"></script>
    <script src="../js/plugins/addthis_widget.js"></script>
  </body>
</html>

src/html/landing/veeam-microsoft.pug

include ../config/_variables
- global_path = '../'
- current_profile = CONST_DEV_PROFILE
- var page = 'Veeam + Microsoft'
- var metadata = {}
- metadata['title'] = 'Sellcom - Veeam + Microsoft'
- metadata['description'] = 'Para nuestros dispositivos Apple contamos con el servicio de enrolamiento, el cual consta de la configuración automática a la imagen, políticas, restricciones y complementos que nos defina el cliente.'
- metadata['keywords'] = 'Apple, enrolamiento, DEP'

- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.base + 'Sellcom.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.global + 'global.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers+ 'products_daas.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'addthis_widget.js')
- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.base + 'Sellcom.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.global + 'global.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'products_daas.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'addthis_widget.min.js')

//- Imagenes
- var local_images = {}
- local_images['images'] = {}
- local_images.images['banner'] = global_path +  images.landing_page + 'veeam_microsoft_sellcom_1.jpg'
- local_images.images['imgbase'] = global_path +  images.blog + 'Qlik_footer_2.jpg'
- local_images.images['hires'] = global_path + images.products_services + 'sellcom-products-contrata.png'
- local_images.images['img1'] = global_path +  images.landing_page + 'veeam_microsoft_sellcom_1.jpg'
- local_images.images['img2'] = global_path +  images.landing_page + 'veeam_microsoft_sellcom_2.jpg'
- local_images.images['banner'] = global_path +  images.landing_page + 'veeam_microsoft_sellcom_2.jpg'

//- numbers
- local_images.images['num1'] = global_path +  images.landing_page + 'numbers-01.png'
- local_images.images['num2'] = global_path +  images.landing_page + 'numbers-02.png'
- local_images.images['num3'] = global_path +  images.landing_page + 'numbers-03.png'
- local_images.images['num4'] = global_path +  images.landing_page + 'numbers-04.png'
- local_images.images['num5'] = global_path +  images.landing_page + 'numbers-05.png'
- local_images.images['num6'] = global_path +  images.landing_page + 'numbers-06.png'

doctype html
html(lang=site.lang)
  include ../template/_head
  body
    - var blog = true;
    include ../template/_header
    section.section-video-dass
        img.banner(src=local_images.images.banner, alt="banner")
        .boxVideo
            video#secondVideo(autoplay loop muted)
                source(src="../images/video/Veam_header.mp4" type="video/mp4")
        .container
            .content
                br
                .title-sections
                    h1 Veeam + Microsoft
                p Better Together
    section.section-landig-page
      .container
        .row
            .col-10.middle.landing-content
                h3.txt-center ¿Por qué las organizaciones deben proteger los datos de Office 365?
                h3.txt-center ¿Tiene usted el control de sus datos de Office 365?
                h3.txt-center ¿Tiene acceso a todos los elementos que necesita? 
                p.txt-justify Esta y otras preguntas surgen al adquirir los servicios de Office 365,  si bien Microsoft se ocupa administrar la infraestructura de Office 365 y mantener el tiempo de actividad para sus usuarios.
                p.txt-justify Ellos le otorgan a USTED la responsabilidad de sus datos, el concepto de que Microsoft realiza backups completos de todos sus datos por usted es bastante común y, sin embargo el no ocuparse de dicha actividad podría tener repercusiones para la continuidad de su negocio. 
                p.txt-justify Microsoft Office 365 ofrece redundancia geográfica, lo que generalmente se confunde con el backup. 
                p.txt-justify El backup se realiza cuando se crea una copia de los datos del historial y es almacenada en otra ubicación. Sin embargo, es aún más importante que usted tenga acceso directo a ese backup y control sobre él. De esta manera, si los datos se pierden, son eliminados por accidente o son atacados malintencionadamente, usted podrá recuperarlos rápidamente. En cambio, la redundancia geográfica brinda protección contra fallas del sitio o del hardware. Por lo tanto, si hay una interrupción o la infraestructura se cae, sus usuarios permanecerán activos y generalmente ajenos a estos problemas subyacentes.
                br
        .row
            .col-10.middle
                .col-6
                    img.landing-img(src=local_images.images.img1 alt='Veeam + Microsoft')
                .col-6
                    img.landing-img(src=local_images.images.img2 alt='Veeam + Microsoft')
        .row
            .col-8.middle
                h2.txt-center 6 razones por las que realizar backupde Office 365 es fundamental
                br
                p.txt-justify Como una plataforma de SaaS sólida y altamente capaz, Microsoft Office 365 se adapta perfectamente a las necesidades de muchas organizaciones. Office 365 proporciona disponibilidad de aplicaciones y tiempo de actividad para asegurar que sus usuarios nunca se vean afectados, pero un backup de Office 365 puede protegerlo contra muchas otras amenazas de seguridad.
            .col-10.middle.landing-rows
                .icon-left
                    img.number-icon(src=local_images.images.num1 alt='Veeam + Microsoft')
                .text-landing
                    h2 Eliminación Accidental 
                    p.txt-justify Si usted elimina a un usuario, ya sea de forma intencional o no, esa eliminación se replica en la red junto con la eliminación de su sitio personal de SharePoint y sus datos de OneDrive.
                    p.txt-justify La papelera de reciclaje nativa y las versiones de historiales incluidas en Office 365 solo pueden brindarle una protección contra la pérdida de datos de manera limitada, una vez que Office 365 haya eliminado los datos para siempre a través de redundancia geográfica o se agote el período de retención, será imposible realizar la recuperación. 
            .col-10.middle.landing-rows
                .icon-left
                    img.number-icon(src=local_images.images.num2 alt='Veeam + Microsoft')
                .text-landing
                    h2 Confusión y brechas en la política de retención
                    p.txt-justify Office 365 tiene políticas limitadas de backup y retención que solo pueden repeler ciertas situaciones de pérdida de datos, y no pretenden ser una solución de backup integral.
                    p.txt-justify Con una solución de backup de Office 365, no existen brechas en la política de retención o inflexibilidad en la restauración. Backups a corto plazo o archivos a largo plazo, restauraciones granulares o en un punto en el tiempo: todo está al alcance de su mano, lo que permite una recuperación de datos rápida, fácil y confiable.

            .col-10.middle.landing-rows
                .icon-left
                    img.number-icon(src=local_images.images.num3 alt='Veeam + Microsoft')
                .text-landing
                    h2 Amenazas a la seguridad Interna 
                    p.txt-justify La idea de una amenaza de seguridad lleva a pensar en hackers y virus. Sin embargo, las empresas experimentan amenazas desde su interior, y suelen ocurrir más veces de lo que usted cree. Las organizaciones han sido víctimas de amenazas provocadas por sus propios empleados, tanto intencional como accidentalmente.
                    p.txt-justify Microsoft no tiene manera de saber la diferencia entre un usuario regular y un empleado despedido que intenta eliminar los datos críticos de la empresa antes de su partida. Además, algunos usuarios crean amenazas graves sin darse cuenta al descargar archivos infectados o filtrando accidentalmente nombres de usuarios y contraseñas a sitios que pensaban que eran confiables.
            .col-10.middle.landing-rows
                .icon-left
                    img.number-icon(src=local_images.images.num4 alt='Veeam + Microsoft')
                .text-landing
                    h2 Amenazas a la seguridad Externa
                    p.txt-justify El malware y los virus, como el ransomware, han provocado daños graves a organizaciones a nivel mundial. No solo se pone en riesgo la reputación de la empresa, sino también la privacidad y seguridad de los datos internos y del cliente.
                    p.txt-justify Las amenazas externas pueden introducirse sigilosamente a través de correos electrónicos o archivos adjuntos, y no siempre es suficiente con educar a los usuarios sobre el cuidado que se debe tener, especialmente cuando esos mensajes infectados parecen ser tan atractivos.
                    p.txt-justify Las funciones limitadas de backup/recuperación de Exchange Online no son adecuadas para manejar ataques graves.
            .col-10.middle.landing-rows
                .icon-left
                    img.number-icon(src=local_images.images.num5 alt='Veeam + Microsoft')
                .text-landing
                    h2 Requisitos legales y de cumplimiento
                    p.txt-justify La recuperación  de correos electrónicos, archivos u otros tipos de datos en medio de una acción legal de forma inesperada es  algo que usted puede pensar  que nunca va a suceder, hasta que ocurre. Microsoft ha creado un par de redes de seguridad (Retención por juicio) pero, nuevamente, no son una solución de backup sólida capaz de mantener a su empresa libre de problemas legales. Por ejemplo, si usted elimina accidentalmente a un usuario, su buzón en retención, sitio personal en SharePoint  y cuenta en OneDrive también se eliminarán.
                    p.txt-justify Los requisitos legales y de cumplimiento, así como las  regulaciones de acceso, varían en cada industria y país, pero las multas, penalidades y las disputas legales son tres cosas que no pueden estar en su lista de tareas pendientes.
            .col-10.middle.landing-rows
                .icon-left
                    img.number-icon(src=local_images.images.num6 alt='Veeam + Microsoft')
                .text-landing
                    h2 Manejo de implementaciones de correo híbrido y migraciones a Office 365
                    p.txt-justify Las organizaciones que adoptan Office 365 generalmente necesitan una ventana de tiempo para que sirva como una ventana de transición entre Exchange en las instalaciones y Office 365 Exchange Online. Algunos incluso dejan una pequeña porción de su sistema tradicional en funcionamiento para tener una mayor flexibilidad y control adicional. La implementación de estos correos híbridos es común, pero plantea desafíos adicionales de administración.
                    p.txt-justify La solución adecuada de backup para Office 365 debería ser capaz de manejar las implementaciones de correo híbrido  y también tratar los datos de intercambio, de forma  que la ubicación original se vuelva irrelevante.
            .col-8.middle.btn_landing
                h1.txt-center Conclusión
                p.txt-justify Las soluciones innovadoras de Veeam Backup brindan a las empresas el control para poder administrar y retener el acceso a su información de manera inteligente. Esto con el fin de gobernar de forma adecuada lo información,  contar con cumplimiento y recuperación eficiente. 
                p.txt-justify Más de 55,000 empresa usan ya Veeam Backup para Microsoft Office 365, restaurando de manera más rápida elementos individuales. Esto a través de las diversas opciones flexibles de recuperación y proporcionando la capacidad para automatizar y escalar de forma eficiente un flujo de ingresos basado en el respaldo de Office 365.
        .row
            .col-8.btn_landing
                a.btn-default(href='http://eepurl.com/gFpw79') Contácta a un representante
            include ../template/_social
    include ../template/_footer
