dist/dev/landing/vmware-azure.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - VMware + Azure</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Para nuestros dispositivos Apple contamos con el servicio de enrolamiento, el cual consta de la configuración automática a la imagen, políticas, restricciones y complementos que nos defina el cliente.">
    <meta name="keywords" content="Apple, enrolamiento, DEP">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main">
        <div class="container">
          <div class="row">
            <div class="col-1"><a href="../index.html"><img src="../images/global/sellcom_logo.svg" alt="Logotipo Sellcom"></a></div>
            <div class="col-3">
              <ul>
                <li><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
                <li><a class="btn-default" href="../sections/sellcom-about.html#contacto">Cont&aacute;ctanos</a></li>
              </ul>
            </div>
            <div class="col-8">
              <nav class="menu-main"><span class="icon-close" id="btnClose"></span><span class="icon-menu" id="btnGlobalMenu"></span>
                <ul>
                  <li><a href="../sections/sellcom-about.html">Sobre Sellcom</a></li>
                  <li class="children"><a href="../sections/sellcom-solutions.html">Soluciones Integrales</a>
                    <div class="submenu">
                      <ul>
                        <li><a href="../sections/portal-proveedores.html">Portal de proveedores</a></li>
                        <li><a href="../sections/plataforma-lealtad.html">Plataforma de Lealtad</a></li>
                        <li><a href="../sections/mesa-servicio.html">Mesa de Servicio</a></li>
                        <li><a href="../sections/daas.html">Daas</a></li>
                        <li><a href="../sections/mps.html">MPS</a></li>
                        <li><a href="../sections/monitoreo.html">Monitoreo</a></li>
                        <li><a href="../sections/wifi-saas.html">Wifi Saas</a></li>
                        <li><a href="../sections/analitica-negocio.html">Analítica de negocio</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="children"><a href="../sections/products-services.html">Productos y Servicios<span class="icon-arrow"></span></a>
                    <div class="submenu">
                      <ul>
                        <li><a href="../sections/apple.html">Apple</a></li>
                        <li><a href="../sections/blackberry.html">Blackberry</a></li>
                        <li><a href="../sections/veeam.html">Veeam</a></li>
                        <li><a href="../sections/servicenow.html">Servicenow</a></li>
                        <li><a href="../sections/jamf.html">Jamf</a></li>
                        <li><a href="../sections/owncloud.html">Owncloud</a></li>
                        <li><a href="../sections/getac.html">Getac</a></li>
                        <li><a href="../sections/blancco.html">Blancco</a></li>
                        <li><a href="../sections/redhat.html">Redhat</a></li>
                        <li><a href="../sections/huawei.html">Huawei</a></li>
                        <li><a href="../sections/azure.html">Azure</a></li>
                        <li><a href="../sections/microsoft.html">Microsoft</a></li>
                        <li><a href="../sections/mfseguridad.html">Microfocus Seguridad</a></li>
                        <li><a href="../sections/mfitom.html">Microfocus ITOM</a></li>
                        <li><a href="../sections/mfvertica.html">Microfocus Vertica</a></li>
                        <li><a href="../sections/mfdevops.html">Microfocus DevOps</a></li>
                        <li><a href="../sections/aruba.html">Aruba</a></li>
                        <li><a href="../sections/cyberc.html">CyberC</a></li>
                        <li><a href="../sections/opentext.html">OpenText</a></li>
                        <li><a href="../sections/hp.html">HP</a></li>
                        <li><a href="../sections/hpe.html">HP Enterprise</a></li>
                        <li><a href="../sections/ethical-hacking.html">Pentest/EthicalHaking</a></li>
                        <li><a href="../sections/digitalizacion.html">Digitalización</a></li>
                        <li><a href="../sections/desarrollo.html">Desarrollo de SW</a></li>
                        <li><a href="../sections/tiempos-materiales.html">Tiempos y Materiales</a></li>
                        <li><a href="../sections/qlik.html">Qlik</a></li>
                        <li><a href="../sections/suse.html">Suse</a></li>
                        <li><a href="../sections/naudit.html">Naudit</a></li>
                        <li><a href="../sections/ivanti.html">Ivanti</a></li>
                        <li><a href="../sections/nutanix.html">Nutanix</a></li>
                        <li><a href="../sections/vmware.html">VMware</a></li>
                        <li><a href="../sections/netapp.html">NetApp</a></li>
                        <li><a href="../sections/zoox.html">Zoox</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="children"><a href="../sections/awards.html">Premios<span class="icon-arrow"></span></a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-video-dass"><img class="banner" src="../images/landing_page/veeam_microsoft_sellcom_2.jpg" alt="banner">
      <div class="boxVideo">
        <video id="secondVideo" autoplay loop muted>
          <source src="../images/video/VMware_header.mp4" type="video/mp4">
        </video>
      </div>
      <div class="container">
        <div class="content"><br>
          <div class="title-sections">
            <h1>Soluciones de VMware en Azure</h1>
          </div>
          <p>Ejecute las cargas de trabajo de VMware de forma nativa en Azure</p>
        </div>
      </div>
    </section>
    <section class="section-landig-page">
      <div class="container">
        <div class="row">
          <div class="col-10 middle landing-content"><br>
            <h2 class="txt-center">Mueva o amplíe los entornos locales de VMware a Azure</h2>
            <p class="txt-justify">Aprovisione la infraestructura de VMware en la nube en cuestión de minutos y modernice sus aplicaciones a su propio ritmo. </p>
            <p class="txt-justify">Mueva las cargas de trabajo basadas en WMware sin problemas desde el centro de datos  e integre el entorno con Azure;  administre los entornos existentes con las mismas herramientas de VMware que ya conoce. Las soluciones son entregadas por  Microsoft, verificadas por Vmware y  ejecutadas en la infraestructura de Azure</p>
            <p class="txt-justify">VMware Solution en Azure de CloudSimple es un servicio totalmente administrado que le permite ejecutar la plataforma VMware en Azure. Esta solución incluye vSphere, vCenter, vSAN, NSX-T y las herramientas correspondientes. Su entorno VMware se ejecuta de forma nativa en la infraestructura de Azure bare metal en ubicaciones en la nube de Azure. El servicio incluye todas las características necesarias para consumir las plataformas VMware de manera eficiente y segura.</p><br>
          </div>
        </div>
        <div class="row">
          <div class="col-10 middle">
            <div class="col-5"><img class="landing-img" src="../images/landing_page/vmware_azure_1.png" alt="Veeam + Microsoft"></div>
            <div class="col-7"><img class="landing-img" src="../images/landing_page/vmware_azure_2.png" alt="Veeam + Microsoft"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-10 middle"><br>
            <h2 class="txt-center">Descubra por qué Azure es la mejor nube para sus cargas de trabajo de VMware</h2><br>
            <div class="landing-align">
              <p class="txt-center">Aprovisionamiento de autoservicio y capacidad para agregar y eliminar capacidad bajo demanda.</p>
            </div>
            <div class="landing-align">
              <p class="txt-center">Implementación de plataforma Vmware: Actualización, respaldo del plano de administración, monitoreo de salud / capacidad, alertas, solución de problemas y remediación.</p>
            </div>
            <div class="landing-align">
              <p class="txt-center">Servicios de red subyacentes  para habilitar VMware, incluidos los servicios L2 / L3 y la gestión de reglas de firewall.</p>
            </div>
            <div class="landing-align">
              <p class="txt-center">Servicios de red de tipo borde, que incluyen VPN, IP pública y puertas de enlace de Internet. Estos servicios perimetrales se ejecutan en Azure y llevan la seguridad correspondiente y la protección DDoS de Azure.</p>
            </div>
            <div class="landing-align">
              <p class="txt-center">Reserva de capacidad para reducir costos.</p>
            </div>
            <div class="landing-align">
              <p class="txt-center">Conectividad de alta velocidad y baja latencia a Azure y local</p>
            </div>
            <div class="landing-align">
              <p class="txt-center">La infraestructura está totalmente dedicada a usted y está aislada físicamente de la infraestructura de otros clientes.</p>
            </div>
            <div class="landing-align">
              <p class="txt-center">Funciones de administración tales como:  Administración de actividades, uso, facturación / medición y administración de usuarios.</p>
            </div>
          </div>
          <div class="col-10 middle">
            <h2 class="txt-center">Beneficios</h2><br>
          </div>
          <div class="col-10 middle landing-rows">
            <div class="icon-left"><img class="number-icon" src="../images/landing_page/numbers-01.png" alt="VMware + Azure"></div>
            <div class="text-landing">
              <h2>Continuidad operacional</h2>
              <p class="txt-justify">CloudSimple ofrece acceso nativo a las plataformas VMware. La arquitectura CloudSimple es compatible con su existente:</p>
              <p class="txt-justify">Aplicaciones | Operaciones| Seguridad | Apoyo | Recuperación de desastres | Auditoría | Herramientas de cumplimiento | Procesos</p>
            </div>
          </div>
          <div class="col-10 middle landing-rows">
            <div class="icon-left"><img class="number-icon" src="../images/landing_page/numbers-02.png" alt="VMware + Azure"></div>
            <div class="text-landing">
              <h2>Sin reentrenamiento</h2>
              <p class="txt-justify">La compatibilidad de la plataforma VMware le permite utilizar las habilidades y conocimientos existentes.</p>
            </div>
          </div>
          <div class="col-10 middle landing-rows">
            <div class="icon-left"><img class="number-icon" src="../images/landing_page/numbers-03.png" alt="VMware + Azure"></div>
            <div class="text-landing">
              <h2>Infraestructura Ágil</h2>
              <p class="txt-justify">Ya no tiene que predecir todas sus necesidades de capacidad y luego terminar con una capacidad desperdiciada o escasez de infraestructura. CloudSimple se entrega como un servicio en la nube, y puede agregar o reducir la capacidad en cualquier momento.</p>
            </div>
          </div>
          <div class="col-10 middle landing-rows">
            <div class="icon-left"><img class="number-icon" src="../images/landing_page/numbers-04.png" alt="VMware + Azure"></div>
            <div class="text-landing">
              <h2>Seguridad</h2>
              <p class="txt-justify">El acceso al entorno CloudSimple a través de Azure proporciona protección DDoS incorporada y monitoreo de seguridad.</p>
            </div>
          </div>
          <div class="col-10 middle landing-rows">
            <div class="icon-left"><img class="number-icon" src="../images/landing_page/numbers-05.png" alt="VMware + Azure"></div>
            <div class="text-landing">
              <h2>Monitoreo de infraestructura</h2>
              <p class="txt-justify">Resolución de problemas y soporte . CloudSimple opera su infraestructura subyacente como un servicio. El hardware defectuoso se reemplaza automáticamente. Puede concentrarse en el consumo mientras CloudSimple asegura que el entorno funcione sin problemas.</p>
            </div>
          </div>
          <div class="col-10 middle"><br>
            <h2 class="txt-center">El fácil aprovisionamiento de VMware en Azure abre escenarios cruciales para nuestros clientes  </h2><br>
            <div class="landing-align">
              <p class="txt-center">Retiro o migración del centro de datos: Si necesita retirar su centro de datos y necesita una forma rápida y directa de mover sus cargas de trabajo de VMware existentes, Azure es un excelente lugar para alojar estas cargas de trabajo, esto le dará tiempo para modernizar sus aplicaciones a mediano y largo plazo.</p>
            </div>
            <div class="landing-align">
              <p class="txt-center">Expansión bajo demanda: Si está ejecutando su entorno VMware y necesita más capacidad bajo demanda, puede extenderlo a Azure.</p>
            </div>
            <div class="landing-align">
              <p class="txt-center">Recuperación ante desastres: Puede usar Azure como su sitio de recuperación para sus cargas de trabajo locales de VMware</p>
            </div>
            <div class="landing-align">
              <p class="txt-center">Escritorios virtuales: Si está ejecutando una solución VDI sobre VMware, también puede alojar la infraestructura en Azure.</p>
            </div>
            <div class="landing-align">
              <p class="txt-center">Hospedaje de aplicaciones de alto rendimiento: La solución CloudSimple proporciona una arquitectura hiperconvergente diseñada para ejecutar cargas de trabajo de alto rendimiento.</p>
            </div>
            <div class="landing-align">
              <p class="txt-center">Nube híbrida: Abre escenarios para que las empresas ejecuten escenarios de nube híbrida, sin la necesidad de cambiar todas sus herramientas y volver a diseñar sus cargas de trabajo</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8 btn_landing"><a class="btn-default" href="http://eepurl.com/gF4sEz">Contácta a un representante</a></div>
          <div class="col-12">
            <div class="social">
              <h3>Compartir</h3>
              <div class="a2a_kit a2a_kit_size_32 a2a_default_style" data-a2a-icon-color="@eucalyptus"><a class="social_blog a2a_button_facebook"></a><a class="social_blog a2a_button_twitter"></a><a class="social_blog a2a_button_linkedin"></a></div>
            </div>
          </div><script async src="https://static.addtoany.com/menu/page.js"></script>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <ul class="menu-footer">
            <li><a href="../sections/sellcom-about.html">Sobre Sellcom</a></li>
            <li><a href="../sections/sellcom-solutions.html">Soluciones Integrales</a></li>
            <li><a href="../sections/products-services.html">Productos y Servicios</a></li>
          </ul>
          <ul class="menuProductsServices">
            <li><a href="../sections/apple.html">Apple</a></li>
            <li><a href="../sections/blackberry.html">Blackberry</a></li>
            <li><a href="../sections/veeam.html">Veeam</a></li>
            <li><a href="../sections/servicenow.html">Servicenow</a></li>
            <li><a href="../sections/jamf.html">Jamf</a></li>
            <li><a href="../sections/owncloud.html">Owncloud</a></li>
            <li><a href="../sections/getac.html">Getac</a></li>
            <li><a href="../sections/blancco.html">Blancco</a></li>
            <li><a href="../sections/redhat.html">Redhat</a></li>
            <li><a href="../sections/huawei.html">Huawei</a></li>
            <li><a href="../sections/azure.html">Azure</a></li>
            <li><a href="../sections/microsoft.html">Microsoft</a></li>
            <li><a href="../sections/mfseguridad.html">Microfocus Seguridad</a></li>
            <li><a href="../sections/mfitom.html">Microfocus ITOM</a></li>
            <li><a href="../sections/mfvertica.html">Microfocus Vertica</a></li>
            <li><a href="../sections/mfdevops.html">Microfocus DevOps</a></li>
            <li><a href="../sections/aruba.html">Aruba</a></li>
            <li><a href="../sections/cyberc.html">CyberC</a></li>
            <li><a href="../sections/opentext.html">OpenText</a></li>
            <li><a href="../sections/hp.html">HP</a></li>
            <li><a href="../sections/hpe.html">HP Enterprise</a></li>
            <li><a href="../sections/ethical-hacking.html">Pentest/EthicalHaking</a></li>
            <li><a href="../sections/digitalizacion.html">Digitalización</a></li>
            <li><a href="../sections/desarrollo.html">Desarrollo de SW</a></li>
            <li><a href="../sections/tiempos-materiales.html">Tiempos y Materiales</a></li>
            <li><a href="../sections/qlik.html">Qlik</a></li>
            <li><a href="../sections/portal-proveedores.html">Portal de proveedores</a></li>
            <li><a href="../sections/plataforma-lealtad.html">Plataforma de Lealtad</a></li>
            <li><a href="../sections/mesa-servicio.html">Mesa de Servicio</a></li>
            <li><a href="../sections/daas.html">Daas</a></li>
            <li><a href="../sections/mps.html">MPS</a></li>
            <li><a href="../sections/monitoreo.html">Monitoreo</a></li>
            <li><a href="../sections/wifi-saas.html">Wifi Saas</a></li>
            <li><a href="../sections/analitica-negocio.html">Anallítica de Negocio</a></li>
            <li><a href="../sections/suse.html">Suse</a></li>
            <li><a href="../sections/naudit.html">Naudit</a></li>
            <li><a href="../sections/ivanti.html">Ivanti</a></li>
            <li><a href="../sections/nutanix.html">Nutanix</a></li>
            <li><a href="../sections/vmware.html">VMware</a></li>
            <li><a href="../sections/netapp.html">NetApp</a></li>
            <li><a href="../sections/zoox.html">Zoox</a></li>
          </ul>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="../sections/aviso-privacidad.html">Aviso de Privacidad</a></li>
                  <li><a href="../sections/terminos-condiciones.html">| Terminos y condiciones</a></li>
                  <li><a href="../sections/ayudanos-a-mejorar.html">| Ayúdanos a mejorar </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p>Contáctanos tel. 01 55 5293 8400</p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/Sellcom.js"></script>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/global/global.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/products_daas.js"></script>
    <script src="../js/plugins/addthis_widget.js"></script>
  </body>
</html>

src/html/landing/vmware-azure.pug

include ../config/_variables
- global_path = '../'
- current_profile = CONST_DEV_PROFILE
- var page = 'VMware + Azure'
- var metadata = {}
- metadata['title'] = 'Sellcom - VMware + Azure'
- metadata['description'] = 'Para nuestros dispositivos Apple contamos con el servicio de enrolamiento, el cual consta de la configuración automática a la imagen, políticas, restricciones y complementos que nos defina el cliente.'
- metadata['keywords'] = 'Apple, enrolamiento, DEP'

- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.base + 'Sellcom.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.global + 'global.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers+ 'products_daas.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'addthis_widget.js')
- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.base + 'Sellcom.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.global + 'global.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'products_daas.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'addthis_widget.min.js')

//- Imagenes
- var local_images = {}
- local_images['images'] = {}
- local_images.images['banner'] = global_path +  images.blog + 'banner_apple.jpg'
- local_images.images['imgbase'] = global_path +  images.blog + 'Qlik_footer_2.jpg'
- local_images.images['hires'] = global_path + images.products_services + 'sellcom-products-contrata.png'
- local_images.images['img1'] = global_path +  images.landing_page + 'vmware_azure_1.png'
- local_images.images['img2'] = global_path +  images.landing_page + 'vmware_azure_2.png'
- local_images.images['banner'] = global_path +  images.landing_page + 'veeam_microsoft_sellcom_2.jpg'

//- numbers
- local_images.images['num1'] = global_path +  images.landing_page + 'numbers-01.png'
- local_images.images['num2'] = global_path +  images.landing_page + 'numbers-02.png'
- local_images.images['num3'] = global_path +  images.landing_page + 'numbers-03.png'
- local_images.images['num4'] = global_path +  images.landing_page + 'numbers-04.png'
- local_images.images['num5'] = global_path +  images.landing_page + 'numbers-05.png'

doctype html
html(lang=site.lang)
  include ../template/_head
  body
    - var blog = true;
    include ../template/_header
    section.section-video-dass
        img.banner(src=local_images.images.banner, alt="banner")
        .boxVideo
            video#secondVideo(autoplay loop muted)
                source(src="../images/video/VMware_header.mp4" type="video/mp4")
        .container
            .content
                br
                .title-sections
                    h1 Soluciones de VMware en Azure
                p Ejecute las cargas de trabajo de VMware de forma nativa en Azure
    section.section-landig-page
      .container
        .row
            .col-10.middle.landing-content
                br
                h2.txt-center Mueva o amplíe los entornos locales de VMware a Azure
                p.txt-justify Aprovisione la infraestructura de VMware en la nube en cuestión de minutos y modernice sus aplicaciones a su propio ritmo. 
                p.txt-justify Mueva las cargas de trabajo basadas en WMware sin problemas desde el centro de datos  e integre el entorno con Azure;  administre los entornos existentes con las mismas herramientas de VMware que ya conoce. Las soluciones son entregadas por  Microsoft, verificadas por Vmware y  ejecutadas en la infraestructura de Azure
                p.txt-justify VMware Solution en Azure de CloudSimple es un servicio totalmente administrado que le permite ejecutar la plataforma VMware en Azure. Esta solución incluye vSphere, vCenter, vSAN, NSX-T y las herramientas correspondientes. Su entorno VMware se ejecuta de forma nativa en la infraestructura de Azure bare metal en ubicaciones en la nube de Azure. El servicio incluye todas las características necesarias para consumir las plataformas VMware de manera eficiente y segura.
                br
        .row
            .col-10.middle
                .col-5
                    img.landing-img(src=local_images.images.img1 alt='Veeam + Microsoft')
                .col-7
                    img.landing-img(src=local_images.images.img2 alt='Veeam + Microsoft')
        .row
            .col-10.middle
                br
                h2.txt-center Descubra por qué Azure es la mejor nube para sus cargas de trabajo de VMware
                br
                .landing-align
                    p.txt-center Aprovisionamiento de autoservicio y capacidad para agregar y eliminar capacidad bajo demanda.
                .landing-align
                    p.txt-center Implementación de plataforma Vmware: Actualización, respaldo del plano de administración, monitoreo de salud / capacidad, alertas, solución de problemas y remediación.
                .landing-align
                    p.txt-center Servicios de red subyacentes  para habilitar VMware, incluidos los servicios L2 / L3 y la gestión de reglas de firewall.
                .landing-align
                    p.txt-center Servicios de red de tipo borde, que incluyen VPN, IP pública y puertas de enlace de Internet. Estos servicios perimetrales se ejecutan en Azure y llevan la seguridad correspondiente y la protección DDoS de Azure.
                .landing-align
                    p.txt-center Reserva de capacidad para reducir costos.
                .landing-align
                    p.txt-center Conectividad de alta velocidad y baja latencia a Azure y local
                .landing-align
                    p.txt-center La infraestructura está totalmente dedicada a usted y está aislada físicamente de la infraestructura de otros clientes.
                .landing-align
                    p.txt-center Funciones de administración tales como:  Administración de actividades, uso, facturación / medición y administración de usuarios.
            .col-10.middle
                h2.txt-center Beneficios
                br
            .col-10.middle.landing-rows
                .icon-left
                    img.number-icon(src=local_images.images.num1 alt='VMware + Azure')
                .text-landing
                    h2 Continuidad operacional
                    p.txt-justify CloudSimple ofrece acceso nativo a las plataformas VMware. La arquitectura CloudSimple es compatible con su existente:
                    p.txt-justify Aplicaciones | Operaciones| Seguridad | Apoyo | Recuperación de desastres | Auditoría | Herramientas de cumplimiento | Procesos
            .col-10.middle.landing-rows
                .icon-left
                    img.number-icon(src=local_images.images.num2 alt='VMware + Azure')
                .text-landing
                    h2 Sin reentrenamiento
                    p.txt-justify La compatibilidad de la plataforma VMware le permite utilizar las habilidades y conocimientos existentes.
            .col-10.middle.landing-rows
                .icon-left
                    img.number-icon(src=local_images.images.num3 alt='VMware + Azure')
                .text-landing
                    h2 Infraestructura Ágil
                    p.txt-justify Ya no tiene que predecir todas sus necesidades de capacidad y luego terminar con una capacidad desperdiciada o escasez de infraestructura. CloudSimple se entrega como un servicio en la nube, y puede agregar o reducir la capacidad en cualquier momento.
            .col-10.middle.landing-rows
                .icon-left
                    img.number-icon(src=local_images.images.num4 alt='VMware + Azure')
                .text-landing
                    h2 Seguridad
                    p.txt-justify El acceso al entorno CloudSimple a través de Azure proporciona protección DDoS incorporada y monitoreo de seguridad.
            .col-10.middle.landing-rows
                .icon-left
                    img.number-icon(src=local_images.images.num5 alt='VMware + Azure')
                .text-landing
                    h2 Monitoreo de infraestructura
                    p.txt-justify Resolución de problemas y soporte . CloudSimple opera su infraestructura subyacente como un servicio. El hardware defectuoso se reemplaza automáticamente. Puede concentrarse en el consumo mientras CloudSimple asegura que el entorno funcione sin problemas.
            .col-10.middle
                br
                h2.txt-center El fácil aprovisionamiento de VMware en Azure abre escenarios cruciales para nuestros clientes  
                br
                .landing-align
                    p.txt-center Retiro o migración del centro de datos: Si necesita retirar su centro de datos y necesita una forma rápida y directa de mover sus cargas de trabajo de VMware existentes, Azure es un excelente lugar para alojar estas cargas de trabajo, esto le dará tiempo para modernizar sus aplicaciones a mediano y largo plazo.
                .landing-align
                    p.txt-center Expansión bajo demanda: Si está ejecutando su entorno VMware y necesita más capacidad bajo demanda, puede extenderlo a Azure.
                .landing-align
                    p.txt-center Recuperación ante desastres: Puede usar Azure como su sitio de recuperación para sus cargas de trabajo locales de VMware
                .landing-align
                    p.txt-center Escritorios virtuales: Si está ejecutando una solución VDI sobre VMware, también puede alojar la infraestructura en Azure.
                .landing-align
                    p.txt-center Hospedaje de aplicaciones de alto rendimiento: La solución CloudSimple proporciona una arquitectura hiperconvergente diseñada para ejecutar cargas de trabajo de alto rendimiento.
                .landing-align
                    p.txt-center Nube híbrida: Abre escenarios para que las empresas ejecuten escenarios de nube híbrida, sin la necesidad de cambiar todas sus herramientas y volver a diseñar sus cargas de trabajo
        .row
            .col-8.btn_landing
                a.btn-default(href='http://eepurl.com/gF4sEz') Contácta a un representante
            include ../template/_social
    include ../template/_footer
