dist/dev/blog/index.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Blog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Qlik Sense, con su elemento central, el motor asociativo le permite descubrir conocimientos que las herramientas de BI basadas en consultas simplemente no captan.">
    <meta name="keywords" content="Teradata, Omniture (Adobe Analytics), Excel, CSV, Bancomer, Qlik, Sense">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-top">
        <div class="container">
          <div class="title">
            <h2>Sellcom Soluciones que transforman</h2>
          </div>
          <ul>
            <li></li>
            <li class="hide_p">
              <div>
                <form class="form-search" action="#" method="post" autocomplete="on">
                  <fieldset>
                    <input class="txt-search" id="txtSearch" type="text" value="" placeholder="Buscar"><span class="icon-search" id="btnGlobalSearch"></span>
                  </fieldset>
                </form>
              </div>
            </li>
            <li><a href="https://www.linkedin.com/company/grupo-sellcom"><span class="icon-linkedin"></span></a></li>
            <li><a class="btn-default" href="../sections/sellcom-about.html#contacto">Cont&aacute;ctanos</a></li>
          </ul>
        </div>
      </div>
      <div class="header-main">
        <div class="container">
          <div class="row">
            <div class="col-2"><a href="../index.html"><img src="../images/global/sellcom_logo.svg" alt="Logotipo Sellcom"></a></div>
            <div class="col-10">
              <nav class="menu-main"><span class="icon-close" id="btnClose"></span><span class="icon-menu" id="btnGlobalMenu"></span>
                <ul>
                  <li><a href="../sections/sellcom-about.html">Sobre Sellcom</a></li>
                  <li class="children"><a href="../sections/sellcom-solutions.html">Soluciones Integrales</a>
                    <div class="submenu">
                      <ul>
                        <li><a href="../sections/portal-proveedores.html">Portal de proveedores</a></li>
                        <li><a href="../sections/plataforma-lealtad.html">Plataforma de Lealtad</a></li>
                        <li><a href="../sections/mesa-servicio.html">Mesa de Servicio</a></li>
                        <li><a href="../sections/daas.html">Daas</a></li>
                        <li><a href="../sections/mps.html">MPS</a></li>
                        <li><a href="../sections/monitoreo.html">Monitoreo</a></li>
                        <li><a href="../sections/wifi-saas.html">Wifi Saas</a></li>
                        <li><a href="../sections/analitica-negocio.html">Analítica de negocio</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="children"><a href="../sections/products-services.html">Productos y Servicios<span class="icon-arrow"></span></a>
                    <div class="submenu">
                      <ul>
                        <li><a href="../sections/apple.html">Apple</a></li>
                        <li><a href="../sections/blackberry.html">Blackberry</a></li>
                        <li><a href="../sections/veeam.html">Veeam</a></li>
                        <li><a href="../sections/servicenow.html">Servicenow</a></li>
                        <li><a href="../sections/aranda.html">Aranda</a></li>
                        <li><a href="../sections/jamf.html">Jamf</a></li>
                        <li><a href="../sections/owncloud.html">Owncloud</a></li>
                        <li><a href="../sections/getac.html">Getac</a></li>
                        <li><a href="../sections/blancco.html">Blancco</a></li>
                        <li><a href="../sections/redhat.html">Redhat</a></li>
                        <li><a href="../sections/huawei.html">Huawei</a></li>
                        <li><a href="../sections/azure.html">Azure</a></li>
                        <li><a href="../sections/microsoft.html">Microsoft</a></li>
                        <li><a href="../sections/mfseguridad.html">Microfocus Seguridad</a></li>
                        <li><a href="../sections/mfitom.html">Microfocus ITOM</a></li>
                        <li><a href="../sections/mfvertica.html">Microfocus Vertica</a></li>
                        <li><a href="../sections/mfdevops.html">Microfocus DevOps</a></li>
                        <li><a href="../sections/aruba.html">Aruba</a></li>
                        <li><a href="../sections/cyberc.html">CyberC</a></li>
                        <li><a href="../sections/opentext.html">OpenText</a></li>
                        <li><a href="../sections/hp.html">HP</a></li>
                        <li><a href="../sections/hpe.html">HP Enterprise</a></li>
                        <li><a href="../sections/ethical-hacking.html">Pentest/EthicalHaking</a></li>
                        <li><a href="../sections/digitalizacion.html">Digitalización</a></li>
                        <li><a href="../sections/desarrollo.html">Desarrollo de SW</a></li>
                        <li><a href="../sections/tiempos-materiales.html">Tiempos y Materiales</a></li>
                        <li><a href="../sections/qlik.html">Qlik</a></li>
                        <li><a href="../sections/suse.html">Suse</a></li>
                        <li><a href="../sections/naudit.html">Naudit</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="children"><a href="../sections/awards.html">Premios<span class="icon-arrow"></span></a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-banner-blog"><img class="banner" src="../images/blog/slide_blog.jpg" alt="Next Cloud, Sellcom Solutions">
      <div class="container">
        <div class="content">
          <div class="row">
            <div class="col-10 middle">
              <div class="title-sections">
                <h1>Blog</h1>
                <p>Analítica de datos para cada necesidad de BI</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="how-it-blog" id="howitblog">
      <div class="container">
        <!--ul#filters.clearfix
        li
          span.filter.active(data-filter=".data, .tech, .dev, .ti") 
        <p>Todos</p>
        li
          span.filter(data-filter=".data") 
        <p>Big Data</p>
        li
          span.filter(data-filter=".tech") 
        <p>Tecnología</p>
        li
          span.filter(data-filter=".dev") 
        <p>Desarrollo</p>
        li
          span.filter(data-filter=".ti") 
        <p>TI</p>
        -->
        <div id="portfoliolist">
          <div class="portfolio dev" data-cat="dev">
            <div class="portfolio-wrapper"><img src="../images/blog/thumb_qlik_new.jpg" alt="ServiceNow Sellcom">
              <div class="label">
                <div class="label-text">
                  <div class="text-title">
                    <h3>Lo nuevo de Qlik</h3>
                  </div>
                  <div class="line-green"></div><span class="text-category">
                    <p>Ahora, Qlik cuenta con una plataforma completa de Integración de Datos ...</p></span>
                  <div class="blog_base">
                    <p class="date">25 Junio 2019</p><a class="read-more" href="../blog/qlik.html">Leer Más</a>
                  </div>
                </div>
                <div class="label-bg"></div>
              </div>
            </div>
          </div>
          <div class="portfolio dev" data-cat="dev">
            <div class="portfolio-wrapper"><img src="../images/blog/thumb_servicenow.jpg" alt="ServiceNow Sellcom">
              <div class="label">
                <div class="label-text">
                  <div class="text-title">
                    <h3>ServiceNow</h3>
                  </div>
                  <div class="line-green"></div><span class="text-category">
                    <p>Somos tu mejor opción para transformar tus flujos de trabajo convencionales...</p></span>
                  <div class="blog_base">
                    <p class="date">03 Junio 2019</p><a class="read-more" href="../blog/servicenow.html">Leer Más</a>
                  </div>
                </div>
                <div class="label-bg"></div>
              </div>
            </div>
          </div>
          <div class="portfolio dev" data-cat="dev">
            <div class="portfolio-wrapper"><img src="../images/blog/thumb_apple_enrolamiento.jpg" alt="Apple Enrolamiento Sellcom">
              <div class="label">
                <div class="label-text">
                  <div class="text-title">
                    <h3>Apple</h3>
                  </div>
                  <div class="line-green"></div><span class="text-category">
                    <p>Device Enrollment Program ...</p></span>
                  <div class="blog_base">
                    <p class="date">30 Ene 2019</p><a class="read-more" href="../blog/apple-enrolamiento.html">Leer Más</a>
                  </div>
                </div>
                <div class="label-bg"></div>
              </div>
            </div>
          </div>
          <div class="portfolio dev" data-cat="dev">
            <div class="portfolio-wrapper"><img src="../images/blog/thumb_qlik_solution.jpg" alt="Qlik Sense Solution Sellcom">
              <div class="label">
                <div class="label-text">
                  <div class="text-title">
                    <h3>Qlik Sense Solution</h3>
                  </div>
                  <div class="line-green"></div><span class="text-category">
                    <p>Analítica de datos para cada necesidad de BI ...</p></span>
                  <div class="blog_base">
                    <p class="date">25 Ene 2019</p><a class="read-more" href="../blog/qlik-sense-solution.html">Leer Más</a>
                  </div>
                </div>
                <div class="label-bg"></div>
              </div>
            </div>
          </div>
          <div class="portfolio dev" data-cat="dev">
            <div class="portfolio-wrapper"><img src="../images/blog/thumb_nextcloud.jpg" alt="Nextcloud Sellcom">
              <div class="label">
                <div class="label-text">
                  <div class="text-title">
                    <h3>Nextcloud</h3>
                  </div>
                  <div class="line-green"></div><span class="text-category">
                    <p>La mejor opción de nube autogestionada ...</p></span>
                  <div class="blog_base">
                    <p class="date">20 Ene 2019</p><a class="read-more" href="../blog/nextcloud.html">Leer Más</a>
                  </div>
                </div>
                <div class="label-bg"></div>
              </div>
            </div>
          </div>
          <div class="portfolio dev" data-cat="dev">
            <div class="portfolio-wrapper"><img src="../images/blog/thumb_jamf.png" alt="Jamf Sellcom">
              <div class="label">
                <div class="label-text">
                  <div class="text-title">
                    <h3>Jamf</h3>
                  </div>
                  <div class="line-green"></div><span class="text-category">
                    <p>Administrador de Dispositivos Móviles ...</p></span>
                  <div class="blog_base">
                    <p class="date">15 Ene 2019</p><a class="read-more" href="../blog/jamf.html">Leer Más</a>
                  </div>
                </div>
                <div class="label-bg"></div>
              </div>
            </div>
          </div>
          <div class="portfolio dev" data-cat="dev">
            <div class="portfolio-wrapper"><img src="../images/blog/thumb_qlik.jpg" alt="Qlik Sense Sellcom">
              <div class="label">
                <div class="label-text">
                  <div class="text-title">
                    <h3>Qlik Sense</h3>
                  </div>
                  <div class="line-green"></div><span class="text-category">
                    <p>Integración de información de servicios y campañas digitales ...</p></span>
                  <div class="blog_base">
                    <p class="date">10 Ene 2019</p><a class="read-more" href="../blog/qlik-sense.html">Leer Más</a>
                  </div>
                </div>
                <div class="label-bg"></div>
              </div>
            </div>
          </div>
          <div class="portfolio dev" data-cat="dev">
            <div class="portfolio-wrapper"><img src="../images/blog/thumb_aranda.png" alt="Aranda Sellcom">
              <div class="label">
                <div class="label-text">
                  <div class="text-title">
                    <h3>Aranda Financiera</h3>
                  </div>
                  <div class="line-green"></div><span class="text-category">
                    <p>Aranda cuenta con software de respaldo de dispositivos y encriptación de ...</p></span>
                  <div class="blog_base">
                    <p class="date">30 Dic 2018</p><a class="read-more" href="../blog/aranda.html">Leer Más</a>
                  </div>
                </div>
                <div class="label-bg"></div>
              </div>
            </div>
          </div>
          <div class="portfolio dev" data-cat="dev">
            <div class="portfolio-wrapper"><img src="../images/blog/thumb_veeam.jpg" alt="Veeam Sellcom">
              <div class="label">
                <div class="label-text">
                  <div class="text-title">
                    <h3>Veeam PB for Microsoft Azure</h3>
                  </div>
                  <div class="line-green"></div><span class="text-category">
                    <p>Presentamos la siguiente generación de recuperación bajo demanda en la nube ...</p></span>
                  <div class="blog_base">
                    <p class="date">27 Dic 2018</p><a class="read-more" href="../blog/veeam.html">Leer Más</a>
                  </div>
                </div>
                <div class="label-bg"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <ul class="menu-footer">
            <li><a href="../sections/sellcom-about.html">Sobre Sellcom</a></li>
            <li><a href="../sections/sellcom-solutions.html">Soluciones Integrales</a></li>
            <li><a href="../sections/products-services.html">Productos y Servicios</a></li>
          </ul>
          <ul class="menuProductsServices">
            <li><a href="../sections/apple.html">Apple</a></li>
            <li><a href="../sections/blackberry.html">Blackberry</a></li>
            <li><a href="../sections/veeam.html">Veeam</a></li>
            <li><a href="../sections/servicenow.html">Servicenow</a></li>
            <li><a href="../sections/aranda.html">Aranda</a></li>
            <li><a href="../sections/jamf.html">Jamf</a></li>
            <li><a href="../sections/owncloud.html">Owncloud</a></li>
            <li><a href="../sections/getac.html">Getac</a></li>
            <li><a href="../sections/blancco.html">Blancco</a></li>
            <li><a href="../sections/redhat.html">Redhat</a></li>
            <li><a href="../sections/huawei.html">Huawei</a></li>
            <li><a href="../sections/azure.html">Azure</a></li>
            <li><a href="../sections/microsoft.html">Microsoft</a></li>
            <li><a href="../sections/mfseguridad.html">Microfocus Seguridad</a></li>
            <li><a href="../sections/mfitom.html">Microfocus ITOM</a></li>
            <li><a href="../sections/mfvertica.html">Microfocus Vertica</a></li>
            <li><a href="../sections/mfdevops.html">Microfocus DevOps</a></li>
            <li><a href="../sections/aruba.html">Aruba</a></li>
            <li><a href="../sections/cyberc.html">CyberC</a></li>
            <li><a href="../sections/opentext.html">OpenText</a></li>
            <li><a href="../sections/hp.html">HP</a></li>
            <li><a href="../sections/hpe.html">HP Enterprise</a></li>
            <li><a href="../sections/ethical-hacking.html">Pentest/EthicalHaking</a></li>
            <li><a href="../sections/digitalizacion.html">Digitalización</a></li>
            <li><a href="../sections/desarrollo.html">Desarrollo de SW</a></li>
            <li><a href="../sections/tiempos-materiales.html">Tiempos y Materiales</a></li>
            <li><a href="../sections/qlik.html">Qlik</a></li>
            <li><a href="../sections/portal-proveedores.html">Portal de proveedores</a></li>
            <li><a href="../sections/plataforma-lealtad.html">Plataforma de Lealtad</a></li>
            <li><a href="../sections/mesa-servicio.html">Mesa de Servicio</a></li>
            <li><a href="../sections/daas.html">Daas</a></li>
            <li><a href="../sections/mps.html">MPS</a></li>
            <li><a href="../sections/monitoreo.html">Monitoreo</a></li>
            <li><a href="../sections/wifi-saas.html">Wifi Saas</a></li>
            <li><a href="../sections/analitica-negocio.html">Anallítica de Negocio</a></li>
            <li><a href="../sections/suse.html">Suse</a></li>
            <li><a href="../sections/naudit.html">Naudit</a></li>
          </ul>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="../sections/aviso-privacidad.html">Aviso de Privacidad</a></li>
                </ul>
              </div>
              <div class="col-4">
                <p>Contáctanos tel. 01 55 5293 8400</p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/grupo-sellcom"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/Sellcom.js"></script>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/global/global.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/products_daas.js"></script>
    <script src="../js/plugins/addthis_widget.js"></script>
  </body>
</html>

src/html/blog/index.pug
include ../config/_variables
- global_path = '../'
- current_profile = CONST_DEV_PROFILE
- var page = 'Blog'
- var metadata = {}
- metadata['title'] = 'Sellcom - Blog'
- metadata['description'] = 'Qlik Sense, con su elemento central, el motor asociativo le permite descubrir conocimientos que las herramientas de BI basadas en consultas simplemente no captan.'
- metadata['keywords'] = 'Teradata, Omniture (Adobe Analytics), Excel, CSV, Bancomer, Qlik, Sense'

- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.base + 'Sellcom.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.global + 'global.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers+ 'products_daas.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'addthis_widget.js')
- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.base + 'Sellcom.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.global + 'global.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'products_daas.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'addthis_widget.min.js')

//- Imagenes
- var local_images = {}
- local_images['images'] = {}
- local_images.images['banner'] = global_path +  images.blog + 'qlik_banner_2.jpg'
- local_images.images['imgbase'] = global_path +  images.blog + 'Qlik_footer_2.jpg'
- local_images.images['blog1'] = global_path +  images.blog + 'data-blog.jpg'
- local_images.images['veeam'] = global_path +  images.blog + 'thumb_veeam.jpg'
- local_images.images['aranda'] = global_path +  images.blog + 'thumb_aranda.png'
- local_images.images['qlikSense'] = global_path + images.blog + 'thumb_qlik.jpg'
- local_images.images['jamf'] = global_path + images.blog + 'thumb_jamf.png'
- local_images.images['nextcloud'] = global_path + images.blog + 'thumb_nextcloud.jpg'
- local_images.images['qlikSenseSolution'] = global_path + images.blog + 'thumb_qlik_solution.jpg'
- local_images.images['bannerBlog'] = global_path + images.blog + 'slide_blog.jpg'
- local_images.images['appleEnrolamiento'] = global_path + images.blog + 'thumb_apple_enrolamiento.jpg'
- local_images.images['serviceNow'] = global_path + images.blog + 'thumb_servicenow.jpg'
- local_images.images['qlikNew'] = global_path + images.blog + 'thumb_qlik_new.jpg'



doctype html
html(lang=site.lang)
  include ../template/_head
  body
    - var blog = true;
    include ../template/_header
    section.section-banner-blog
      img.banner(src=local_images.images.bannerBlog alt='Next Cloud, Sellcom Solutions')
      .container
        .content
          .row
            .col-10.middle
                .title-sections
                    h1 Blog
                    p Analítica de datos para cada necesidad de BI
    section.how-it-blog#howitblog
      .container
        //ul#filters.clearfix
          li
            span.filter.active(data-filter=".data, .tech, .dev, .ti") #[p Todos]
          li
            span.filter(data-filter=".data") #[p Big Data]
          li
            span.filter(data-filter=".tech") #[p Tecnología]
          li
            span.filter(data-filter=".dev") #[p Desarrollo]
          li
            span.filter(data-filter=".ti") #[p TI]
        div#portfoliolist
          //- Blog 04
          .portfolio.dev(data-cat="dev")
            .portfolio-wrapper
              img(src=local_images.images.qlikNew alt='ServiceNow Sellcom')
              .label
                .label-text
                  .text-title #[h3 Lo nuevo de Qlik]
                  .line-green
                  span.text-category
                    p Ahora, Qlik cuenta con una plataforma completa de Integración de Datos ...
                  div.blog_base
                    p.date 25 Junio 2019
                    a.read-more(href=global_path +'blog/qlik.html') Leer Más
                .label-bg
          //- Blog 05
          .portfolio.dev(data-cat="dev")
            .portfolio-wrapper
              img(src=local_images.images.serviceNow alt='ServiceNow Sellcom')
              .label
                .label-text
                  .text-title #[h3 ServiceNow]
                  .line-green
                  span.text-category
                    p Somos tu mejor opción para transformar tus flujos de trabajo convencionales...
                  div.blog_base
                    p.date 03 Junio 2019
                    a.read-more(href=global_path +'blog/servicenow.html') Leer Más
                .label-bg
          //- Blog 06
          .portfolio.dev(data-cat="dev")
            .portfolio-wrapper
              img(src=local_images.images.appleEnrolamiento alt='Apple Enrolamiento Sellcom')
              .label
                .label-text
                  .text-title #[h3 Apple]
                  .line-green
                  span.text-category
                    p Device Enrollment Program ...
                  div.blog_base
                    p.date 30 Ene 2019
                    a.read-more(href=global_path +'blog/apple-enrolamiento.html') Leer Más
                .label-bg
          //- Blog 07
          .portfolio.dev(data-cat="dev")
            .portfolio-wrapper
              img(src=local_images.images.qlikSenseSolution alt='Qlik Sense Solution Sellcom')
              .label
                .label-text
                  .text-title #[h3 Qlik Sense Solution]
                  .line-green
                  span.text-category
                    p Analítica de datos para cada necesidad de BI ...
                  div.blog_base
                    p.date 25 Ene 2019
                    a.read-more(href=global_path +'blog/qlik-sense-solution.html') Leer Más
                .label-bg
          //- Blog 08
          .portfolio.dev(data-cat="dev")
            .portfolio-wrapper
              img(src=local_images.images.nextcloud alt='Nextcloud Sellcom')
              .label
                .label-text
                  .text-title #[h3 Nextcloud]
                  .line-green
                  span.text-category
                    p La mejor opción de nube autogestionada ...
                  div.blog_base
                    p.date 20 Ene 2019
                    a.read-more(href=global_path +'blog/nextcloud.html') Leer Más
                .label-bg
          //- Blog 09
          .portfolio.dev(data-cat="dev")
            .portfolio-wrapper
              img(src=local_images.images.jamf alt='Jamf Sellcom')
              .label
                .label-text
                  .text-title #[h3 Jamf]
                  .line-green
                  span.text-category
                    p Administrador de Dispositivos Móviles ...
                  div.blog_base
                    p.date 15 Ene 2019
                    a.read-more(href=global_path +'blog/jamf.html') Leer Más
                .label-bg
          //- Blog 10
          .portfolio.dev(data-cat="dev")
            .portfolio-wrapper
              img(src=local_images.images.qlikSense alt='Qlik Sense Sellcom')
              .label
                .label-text
                  .text-title #[h3 Qlik Sense]
                  .line-green
                  span.text-category
                    p Integración de información de servicios y campañas digitales ...
                  div.blog_base
                    p.date 10 Ene 2019
                    a.read-more(href=global_path +'blog/qlik-sense.html') Leer Más
                .label-bg
          //- Blog 11
          .portfolio.dev(data-cat="dev")
            .portfolio-wrapper
              img(src=local_images.images.aranda alt='Aranda Sellcom')
              .label
                .label-text
                  .text-title #[h3 Aranda Financiera]
                  .line-green
                  span.text-category
                    p Aranda cuenta con software de respaldo de dispositivos y encriptación de ...
                  div.blog_base
                    p.date 30 Dic 2018
                    a.read-more(href=global_path +'blog/aranda.html') Leer Más
                .label-bg
          //- Blog 12
          .portfolio.dev(data-cat="dev")
            .portfolio-wrapper
              img(src=local_images.images.veeam alt='Veeam Sellcom')
              .label
                .label-text
                  .text-title #[h3 Veeam PB for Microsoft Azure]
                  .line-green
                  span.text-category
                    p Presentamos la siguiente generación de recuperación bajo demanda en la nube ...
                  div.blog_base
                    p.date 27 Dic 2018
                    a.read-more(href=global_path +'blog/veeam.html') Leer Más
                .label-bg
    include ../template/_footer
