src/html/blog/qlik.pug

include ../config/_variables
- global_path = '../'
- current_profile = CONST_DEV_PROFILE
- var page = 'Qlik Sense Sellcom'
- var metadata = {}
- metadata['title'] = 'Sellcom - Lo nuevo de Clik'
- metadata['description'] = 'Qlik cuenta ahora con una plataforma completa de Integración de Datos, gracias a la adquisición de Podium Data (llamado ahora Qlik Data Catalyst) y Attunity, con la que se puede acelerar la obtención de datos listos para analizarse, automatizando elstreaming en tiempo real, la refinación, clasificación y publicación de datos '
- metadata['keywords'] = 'Teradata, Omniture (Adobe Analytics), Excel, CSV, Bancomer, Qlik, Sense'

- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.base + 'Sellcom.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.global + 'global.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers+ 'products_daas.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'addthis_widget.js')
- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.base + 'Sellcom.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.global + 'global.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'products_daas.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'addthis_widget.min.js')

//- Imagenes
- var local_images = {}
- local_images['images'] = {}
- local_images.images['banner'] = global_path +  images.blog + 'slide_qlik_new.jpg'
- local_images.images['imgbase'] = global_path +  images.blog + 'slide_up_qlik_new.jpg'
- local_images.images['figura'] = global_path +  images.blog + 'qlik_figura.png'

doctype html
html(lang=site.lang)
  include ../template/_head
  body
    - var blog = true;
    include ../template/_header
    section.section-banner-blog
      img.banner(src=local_images.images.banner alt='Lo nuevo de Clik, Sellcom Solutions')
      .container
        .content
          .row
            .col-10.middle
                .title-sections
                    h1 Qlik
                    p Ahora, Qlik cuenta con una plataforma completa de Integración de Datos

    section.how-it-works#howitworks
      .container
        .row
          .col-10.middle
            h1 Lo nuevo de Qlik
            p.txt-justify Qlik cuenta ahora con una plataforma completa de Integración de Datos, gracias a la adquisición de Podium Data (llamado ahora Qlik Data Catalyst) y Attunity, con la que se puede acelerar la obtención de datos listos para analizarse, automatizando el streaming en tiempo real, la refinación, clasificación y publicación de datos.
            .col-12 
                img.img-blog(src=local_images.images.figura alt='Clik Sellcom')
            br
            br
            h2 Data Literacy para todos
            p.txt-justify Se han propuesto la misión de proveer la educación, tecnología y estrategias para crear un mundo que se comunique con datos, en el que todos hablen el lenguaje de datos y lo usen con confianza para hacer desctubrimientos que cambien drásticamente los resultados. Para soportar esa misión, introdujeron la primera certificación con reconocimiento global que permitirá a cualquiera documentar y demostrar las habilidades de comunicación con datos.
            br
            h2 Analítica embebida dónde sea 
            p.txt-justify Con la introducción de Qlik Core, Qlik soporta necesidades de integración de analítica que van de lo simple a lo complejo, integrando el corazón de la plataforma con dispositivos, lo que permite llevar la analítica a ambientes IoT y mejorar el proceso de decisión a todos los niveles: Directivo, en portales de empleados o clientes, o en el punto de generación de datos.
            br
            h2 Descubrimiento mediante Analítica Aumentada
            p.txt-justify Indexación Asociativa + Inteligencia Aumentada = AI2. Qlik va a la cabeza de la tercera generación de BI ayudando a la gente a comunicarse mejor con datos mediante la generación de conocimiento, automatización e interaccion con lenguaje natural.
            br
            h2 Plataforma y Tecnología de Clase Empresarial 
            p.txt-justify La oferta de Qlik Sense Enterprise en modalidad SaaS elimina todos los costos de infraestructura. La estrategia multi-cloud de Qlik da flexibilidad total y permite procesar los analíticos en mútiples infraestructuras, ya sea en la nube u on premise, administradas como un solo sistema integrado y de forma transparente para los usuarios. 
            p.txt-justify Con Qlik, podemos montar una capa analítica sobre cualquier plataforma que genere datos, o combinación de ellas, ya sea que formaen parte de nuestro portafolio o no, haciendo posible una visión consolidada de los datos relevantes a un proceso o área de solución.
            br
            .col-12 
                img.img-blog(src=local_images.images.imgbase alt='Qlik Sellcom')
            include ../template/_social
    include ../template/_footer

dist/dev/blog/qlik.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Lo nuevo de Clik</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Qlik cuenta ahora con una plataforma completa de Integración de Datos, gracias a la adquisición de Podium Data (llamado ahora Qlik Data Catalyst) y Attunity, con la que se puede acelerar la obtención de datos listos para analizarse, automatizando elstreaming en tiempo real, la refinación, clasificación y publicación de datos ">
    <meta name="keywords" content="Teradata, Omniture (Adobe Analytics), Excel, CSV, Bancomer, Qlik, Sense">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-top">
        <div class="container">
          <div class="title">
            <h2>Sellcom Soluciones que transforman</h2>
          </div>
          <ul>
            <li></li>
            <li class="hide_p">
              <div>
                <form class="form-search" action="#" method="post" autocomplete="on">
                  <fieldset>
                    <input class="txt-search" id="txtSearch" type="text" value="" placeholder="Buscar"><span class="icon-search" id="btnGlobalSearch"></span>
                  </fieldset>
                </form>
              </div>
            </li>
            <li><a href="https://www.linkedin.com/company/grupo-sellcom"><span class="icon-linkedin"></span></a></li>
            <li><a class="btn-default" href="../sections/sellcom-about.html#contacto">Cont&aacute;ctanos</a></li>
          </ul>
        </div>
      </div>
      <div class="header-main">
        <div class="container">
          <div class="row">
            <div class="col-2"><a href="../index.html"><img src="../images/global/sellcom_logo.svg" alt="Logotipo Sellcom"></a></div>
            <div class="col-10">
              <nav class="menu-main"><span class="icon-close" id="btnClose"></span><span class="icon-menu" id="btnGlobalMenu"></span>
                <ul>
                  <li><a href="../sections/sellcom-about.html">Sobre Sellcom</a></li>
                  <li class="children"><a href="../sections/sellcom-solutions.html">Soluciones Integrales</a>
                    <div class="submenu">
                      <ul>
                        <li><a href="../sections/portal-proveedores.html">Portal de proveedores</a></li>
                        <li><a href="../sections/plataforma-lealtad.html">Plataforma de Lealtad</a></li>
                        <li><a href="../sections/mesa-servicio.html">Mesa de Servicio</a></li>
                        <li><a href="../sections/daas.html">Daas</a></li>
                        <li><a href="../sections/mps.html">MPS</a></li>
                        <li><a href="../sections/monitoreo.html">Monitoreo</a></li>
                        <li><a href="../sections/wifi-saas.html">Wifi Saas</a></li>
                        <li><a href="../sections/analitica-negocio.html">Analítica de negocio</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="children"><a href="../sections/products-services.html">Productos y Servicios<span class="icon-arrow"></span></a>
                    <div class="submenu">
                      <ul>
                        <li><a href="../sections/apple.html">Apple</a></li>
                        <li><a href="../sections/blackberry.html">Blackberry</a></li>
                        <li><a href="../sections/veeam.html">Veeam</a></li>
                        <li><a href="../sections/servicenow.html">Servicenow</a></li>
                        <li><a href="../sections/aranda.html">Aranda</a></li>
                        <li><a href="../sections/jamf.html">Jamf</a></li>
                        <li><a href="../sections/owncloud.html">Owncloud</a></li>
                        <li><a href="../sections/getac.html">Getac</a></li>
                        <li><a href="../sections/blancco.html">Blancco</a></li>
                        <li><a href="../sections/redhat.html">Redhat</a></li>
                        <li><a href="../sections/huawei.html">Huawei</a></li>
                        <li><a href="../sections/azure.html">Azure</a></li>
                        <li><a href="../sections/microsoft.html">Microsoft</a></li>
                        <li><a href="../sections/mfseguridad.html">Microfocus Seguridad</a></li>
                        <li><a href="../sections/mfitom.html">Microfocus ITOM</a></li>
                        <li><a href="../sections/mfvertica.html">Microfocus Vertica</a></li>
                        <li><a href="../sections/mfdevops.html">Microfocus DevOps</a></li>
                        <li><a href="../sections/aruba.html">Aruba</a></li>
                        <li><a href="../sections/cyberc.html">CyberC</a></li>
                        <li><a href="../sections/opentext.html">OpenText</a></li>
                        <li><a href="../sections/hp.html">HP</a></li>
                        <li><a href="../sections/hpe.html">HP Enterprise</a></li>
                        <li><a href="../sections/ethical-hacking.html">Pentest/EthicalHaking</a></li>
                        <li><a href="../sections/digitalizacion.html">Digitalización</a></li>
                        <li><a href="../sections/desarrollo.html">Desarrollo de SW</a></li>
                        <li><a href="../sections/tiempos-materiales.html">Tiempos y Materiales</a></li>
                        <li><a href="../sections/qlik.html">Qlik</a></li>
                        <li><a href="../sections/suse.html">Suse</a></li>
                        <li><a href="../sections/naudit.html">Naudit</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="children"><a href="../sections/awards.html">Premios<span class="icon-arrow"></span></a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-banner-blog"><img class="banner" src="../images/blog/slide_qlik_new.jpg" alt="Lo nuevo de Clik, Sellcom Solutions">
      <div class="container">
        <div class="content">
          <div class="row">
            <div class="col-10 middle">
              <div class="title-sections">
                <h1>Qlik</h1>
                <p>Ahora, Qlik cuenta con una plataforma completa de Integración de Datos</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="how-it-works" id="howitworks">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <h1>Lo nuevo de Qlik</h1>
            <p class="txt-justify">Qlik cuenta ahora con una plataforma completa de Integración de Datos, gracias a la adquisición de Podium Data (llamado ahora Qlik Data Catalyst) y Attunity, con la que se puede acelerar la obtención de datos listos para analizarse, automatizando el streaming en tiempo real, la refinación, clasificación y publicación de datos.</p>
            <div class="col-12"> <img class="img-blog" src="../images/blog/qlik_figura.png" alt="Clik Sellcom"></div><br><br>
            <h2>Data Literacy para todos</h2>
            <p class="txt-justify">Se han propuesto la misión de proveer la educación, tecnología y estrategias para crear un mundo que se comunique con datos, en el que todos hablen el lenguaje de datos y lo usen con confianza para hacer desctubrimientos que cambien drásticamente los resultados. Para soportar esa misión, introdujeron la primera certificación con reconocimiento global que permitirá a cualquiera documentar y demostrar las habilidades de comunicación con datos.</p><br>
            <h2>Analítica embebida dónde sea </h2>
            <p class="txt-justify">Con la introducción de Qlik Core, Qlik soporta necesidades de integración de analítica que van de lo simple a lo complejo, integrando el corazón de la plataforma con dispositivos, lo que permite llevar la analítica a ambientes IoT y mejorar el proceso de decisión a todos los niveles: Directivo, en portales de empleados o clientes, o en el punto de generación de datos.</p><br>
            <h2>Descubrimiento mediante Analítica Aumentada</h2>
            <p class="txt-justify">Indexación Asociativa + Inteligencia Aumentada = AI2. Qlik va a la cabeza de la tercera generación de BI ayudando a la gente a comunicarse mejor con datos mediante la generación de conocimiento, automatización e interaccion con lenguaje natural.</p><br>
            <h2>Plataforma y Tecnología de Clase Empresarial </h2>
            <p class="txt-justify">La oferta de Qlik Sense Enterprise en modalidad SaaS elimina todos los costos de infraestructura. La estrategia multi-cloud de Qlik da flexibilidad total y permite procesar los analíticos en mútiples infraestructuras, ya sea en la nube u on premise, administradas como un solo sistema integrado y de forma transparente para los usuarios. </p>
            <p class="txt-justify">Con Qlik, podemos montar una capa analítica sobre cualquier plataforma que genere datos, o combinación de ellas, ya sea que formaen parte de nuestro portafolio o no, haciendo posible una visión consolidada de los datos relevantes a un proceso o área de solución.</p><br>
            <div class="col-12"> <img class="img-blog" src="../images/blog/slide_up_qlik_new.jpg" alt="Qlik Sellcom"></div>
            <div class="col-12">
              <div class="social">
                <h3>Compartir</h3>
                <div class="a2a_kit a2a_kit_size_32 a2a_default_style" data-a2a-icon-color="@eucalyptus"><a class="social_blog a2a_button_facebook"></a><a class="social_blog a2a_button_twitter"></a><a class="social_blog a2a_button_linkedin"></a></div>
              </div>
            </div><script async src="https://static.addtoany.com/menu/page.js"></script>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <ul class="menu-footer">
            <li><a href="../sections/sellcom-about.html">Sobre Sellcom</a></li>
            <li><a href="../sections/sellcom-solutions.html">Soluciones Integrales</a></li>
            <li><a href="../sections/products-services.html">Productos y Servicios</a></li>
          </ul>
          <ul class="menuProductsServices">
            <li><a href="../sections/apple.html">Apple</a></li>
            <li><a href="../sections/blackberry.html">Blackberry</a></li>
            <li><a href="../sections/veeam.html">Veeam</a></li>
            <li><a href="../sections/servicenow.html">Servicenow</a></li>
            <li><a href="../sections/aranda.html">Aranda</a></li>
            <li><a href="../sections/jamf.html">Jamf</a></li>
            <li><a href="../sections/owncloud.html">Owncloud</a></li>
            <li><a href="../sections/getac.html">Getac</a></li>
            <li><a href="../sections/blancco.html">Blancco</a></li>
            <li><a href="../sections/redhat.html">Redhat</a></li>
            <li><a href="../sections/huawei.html">Huawei</a></li>
            <li><a href="../sections/azure.html">Azure</a></li>
            <li><a href="../sections/microsoft.html">Microsoft</a></li>
            <li><a href="../sections/mfseguridad.html">Microfocus Seguridad</a></li>
            <li><a href="../sections/mfitom.html">Microfocus ITOM</a></li>
            <li><a href="../sections/mfvertica.html">Microfocus Vertica</a></li>
            <li><a href="../sections/mfdevops.html">Microfocus DevOps</a></li>
            <li><a href="../sections/aruba.html">Aruba</a></li>
            <li><a href="../sections/cyberc.html">CyberC</a></li>
            <li><a href="../sections/opentext.html">OpenText</a></li>
            <li><a href="../sections/hp.html">HP</a></li>
            <li><a href="../sections/hpe.html">HP Enterprise</a></li>
            <li><a href="../sections/ethical-hacking.html">Pentest/EthicalHaking</a></li>
            <li><a href="../sections/digitalizacion.html">Digitalización</a></li>
            <li><a href="../sections/desarrollo.html">Desarrollo de SW</a></li>
            <li><a href="../sections/tiempos-materiales.html">Tiempos y Materiales</a></li>
            <li><a href="../sections/qlik.html">Qlik</a></li>
            <li><a href="../sections/portal-proveedores.html">Portal de proveedores</a></li>
            <li><a href="../sections/plataforma-lealtad.html">Plataforma de Lealtad</a></li>
            <li><a href="../sections/mesa-servicio.html">Mesa de Servicio</a></li>
            <li><a href="../sections/daas.html">Daas</a></li>
            <li><a href="../sections/mps.html">MPS</a></li>
            <li><a href="../sections/monitoreo.html">Monitoreo</a></li>
            <li><a href="../sections/wifi-saas.html">Wifi Saas</a></li>
            <li><a href="../sections/analitica-negocio.html">Anallítica de Negocio</a></li>
            <li><a href="../sections/suse.html">Suse</a></li>
            <li><a href="../sections/naudit.html">Naudit</a></li>
          </ul>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="../sections/aviso-privacidad.html">Aviso de Privacidad</a></li>
                </ul>
              </div>
              <div class="col-4">
                <p>Contáctanos tel. 01 55 5293 8400</p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/grupo-sellcom"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/Sellcom.js"></script>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/global/global.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/products_daas.js"></script>
    <script src="../js/plugins/addthis_widget.js"></script>
  </body>
</html>
