src/html/blog/servicenow.pug

include ../config/_variables
- global_path = '../'
- current_profile = CONST_DEV_PROFILE
- var page = 'ServiceNow Sellcom'
- var metadata = {}
- metadata['title'] = 'Sellcom - ServiceNow'
- metadata['description'] = 'ServiceNow hace el trabajo más fácil para las personas. Transforma las formas manuales antiguas de trabajar en modernos flujos de trabajo digitales para que los empleados y los clientes tengan lo que necesitan, cuando lo necesitan, de manera rápida, sencilla y fácil.'
- metadata['keywords'] = 'Sellcom, ServiceNow, flujos de trabajo, agil, empleados, cliente'

- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.base + 'Sellcom.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.global + 'global.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers+ 'products_daas.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'addthis_widget.js')
- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.base + 'Sellcom.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.global + 'global.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'products_daas.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'addthis_widget.min.js')

//- Imagenes
- var local_images = {}
- local_images['images'] = {}
- local_images.images['banner'] = global_path +  images.blog + 'slide_servicenow.jpg'
- local_images.images['imgbase'] = global_path +  images.blog + 'slide_up_servicenow.jpg'

doctype html
html(lang=site.lang)
  include ../template/_head
  body
    - var blog = true;
    include ../template/_header
    section.section-banner-blog
      img.banner(src=local_images.images.banner alt='Next Cloud, Sellcom Solutions')
      .container
        .content
          .row
            .col-10.middle
                .title-sections
                    h1 ServiceNow
                    p Transforma tus flujos de trabajo convencionales

    section.how-it-works#howitworks
      .container
        .row
          .col-10.middle
            h1 ServiceNow
            p.txt-justify ServiceNow hace el trabajo más fácil para las personas. Transforma las formas manuales antiguas de trabajar en modernos flujos de trabajo digitales para que los empleados y los clientes tengan lo que necesitan, cuando lo necesitan, de manera rápida, sencilla y fácil.
            br
            p.txt-justify Sellcom Solutions como parte de su gran abanico de soluciones en TI cuenta con una alianza con un líder en la automatización de procesos como lo es Servicenow ubicado en la parte más alta del cuadrante mágico de Gartner para herramientas ITSM en el 2018; año en el cual fuimos galardonados como su partner número 1 en ventas en México y el resto de América Latina.
            br
            h2 Beneficios de tener a Sellcom como socio tecnológico:
            ul
                li Riesgo y resoluciones de riesgos compartidos con el cliente.
                li Empresa enfocada en la transformación digital con apoyo de hardware, software y servicios de nuestro portafolio.
                li Adopción de niveles de servicio según cada cliente.
                li Siempre a la vanguardia tecnológica al ser partner certificado de líderes tecnológicos.
                li Metodologías Agiles en cada proyecto a implementar.
                li Flexibilidad e inversión financiera en conjunto con los clientes.
                li Alta disponibilidad 7*24*365.
                li Automatización de procesos.
                li Respuesta al cambio inminente en cada negocio.
            br
            h2 Servicios de Sellcom:
            ul
                li Análisis de procesos previo a la implementación de la herramienta.
                li Metodología de implementación ágil, tradicional o hibrida.
                li Gestión del cambio: capacitación a los usuarios finales y administradores.
                li Soporte de plataforma, implementación o atención de evoluciones al servicio.
                li Integración con herramientas necesarias para nuestro cliente.
            h2 Dentro de los clientes de Sellcom con el producto de Servicenow destacamos los sectores:
            ul
                li Sector Financiero: Sellcom migración de servicios de gestión en el banco líder en México.
                li Sector Portuario: Sellcom implementación de primera plataforma de gestión en el líder de administración portuaria de México.
                li Sector telecomunicaciones: Sellcom automatización y digitalización de procesos financieros en uno de los líderes en telecomunicaciones en México.
            .col-12 
                img.img-blog(src=local_images.images.imgbase alt='ServiceNow Sellcom')
            include ../template/_social
    include ../template/_footer

dist/dev/blog/servicenow.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - ServiceNow</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="ServiceNow hace el trabajo más fácil para las personas. Transforma las formas manuales antiguas de trabajar en modernos flujos de trabajo digitales para que los empleados y los clientes tengan lo que necesitan, cuando lo necesitan, de manera rápida, sencilla y fácil.">
    <meta name="keywords" content="Sellcom, ServiceNow, flujos de trabajo, agil, empleados, cliente">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-top">
        <div class="container">
          <div class="title">
            <h2>Sellcom Soluciones que transforman</h2>
          </div>
          <ul>
            <li></li>
            <li class="hide_p">
              <div>
                <form class="form-search" action="#" method="post" autocomplete="on">
                  <fieldset>
                    <input class="txt-search" id="txtSearch" type="text" value="" placeholder="Buscar"><span class="icon-search" id="btnGlobalSearch"></span>
                  </fieldset>
                </form>
              </div>
            </li>
            <li><a href="https://www.linkedin.com/company/grupo-sellcom"><span class="icon-linkedin"></span></a></li>
            <li><a class="btn-default" href="../sections/sellcom-about.html#contacto">Cont&aacute;ctanos</a></li>
          </ul>
        </div>
      </div>
      <div class="header-main">
        <div class="container">
          <div class="row">
            <div class="col-2"><a href="../index.html"><img src="../images/global/sellcom_logo.svg" alt="Logotipo Sellcom"></a></div>
            <div class="col-10">
              <nav class="menu-main"><span class="icon-close" id="btnClose"></span><span class="icon-menu" id="btnGlobalMenu"></span>
                <ul>
                  <li><a href="../sections/sellcom-about.html">Sobre Sellcom</a></li>
                  <li class="children"><a href="../sections/sellcom-solutions.html">Soluciones Integrales</a>
                    <div class="submenu">
                      <ul>
                        <li><a href="../sections/portal-proveedores.html">Portal de proveedores</a></li>
                        <li><a href="../sections/plataforma-lealtad.html">Plataforma de Lealtad</a></li>
                        <li><a href="../sections/mesa-servicio.html">Mesa de Servicio</a></li>
                        <li><a href="../sections/daas.html">Daas</a></li>
                        <li><a href="../sections/mps.html">MPS</a></li>
                        <li><a href="../sections/monitoreo.html">Monitoreo</a></li>
                        <li><a href="../sections/wifi-saas.html">Wifi Saas</a></li>
                        <li><a href="../sections/analitica-negocio.html">Analítica de negocio</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="children"><a href="../sections/products-services.html">Productos y Servicios<span class="icon-arrow"></span></a>
                    <div class="submenu">
                      <ul>
                        <li><a href="../sections/apple.html">Apple</a></li>
                        <li><a href="../sections/blackberry.html">Blackberry</a></li>
                        <li><a href="../sections/veeam.html">Veeam</a></li>
                        <li><a href="../sections/servicenow.html">Servicenow</a></li>
                        <li><a href="../sections/aranda.html">Aranda</a></li>
                        <li><a href="../sections/jamf.html">Jamf</a></li>
                        <li><a href="../sections/owncloud.html">Owncloud</a></li>
                        <li><a href="../sections/getac.html">Getac</a></li>
                        <li><a href="../sections/blancco.html">Blancco</a></li>
                        <li><a href="../sections/redhat.html">Redhat</a></li>
                        <li><a href="../sections/huawei.html">Huawei</a></li>
                        <li><a href="../sections/azure.html">Azure</a></li>
                        <li><a href="../sections/microsoft.html">Microsoft</a></li>
                        <li><a href="../sections/mfseguridad.html">Microfocus Seguridad</a></li>
                        <li><a href="../sections/mfitom.html">Microfocus ITOM</a></li>
                        <li><a href="../sections/mfvertica.html">Microfocus Vertica</a></li>
                        <li><a href="../sections/mfdevops.html">Microfocus DevOps</a></li>
                        <li><a href="../sections/aruba.html">Aruba</a></li>
                        <li><a href="../sections/cyberc.html">CyberC</a></li>
                        <li><a href="../sections/opentext.html">OpenText</a></li>
                        <li><a href="../sections/hp.html">HP</a></li>
                        <li><a href="../sections/hpe.html">HP Enterprise</a></li>
                        <li><a href="../sections/ethical-hacking.html">Pentest/EthicalHaking</a></li>
                        <li><a href="../sections/digitalizacion.html">Digitalización</a></li>
                        <li><a href="../sections/desarrollo.html">Desarrollo de SW</a></li>
                        <li><a href="../sections/tiempos-materiales.html">Tiempos y Materiales</a></li>
                        <li><a href="../sections/qlik.html">Qlik</a></li>
                        <li><a href="../sections/suse.html">Suse</a></li>
                        <li><a href="../sections/naudit.html">Naudit</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="children"><a href="../sections/awards.html">Premios<span class="icon-arrow"></span></a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-banner-blog"><img class="banner" src="../images/blog/slide_servicenow.jpg" alt="Next Cloud, Sellcom Solutions">
      <div class="container">
        <div class="content">
          <div class="row">
            <div class="col-10 middle">
              <div class="title-sections">
                <h1>ServiceNow</h1>
                <p>Transforma tus flujos de trabajo convencionales</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="how-it-works" id="howitworks">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <h1>ServiceNow</h1>
            <p class="txt-justify">ServiceNow hace el trabajo más fácil para las personas. Transforma las formas manuales antiguas de trabajar en modernos flujos de trabajo digitales para que los empleados y los clientes tengan lo que necesitan, cuando lo necesitan, de manera rápida, sencilla y fácil.</p><br>
            <p class="txt-justify">Sellcom Solutions como parte de su gran abanico de soluciones en TI cuenta con una alianza con un líder en la automatización de procesos como lo es Servicenow ubicado en la parte más alta del cuadrante mágico de Gartner para herramientas ITSM en el 2018; año en el cual fuimos galardonados como su partner número 1 en ventas en México y el resto de América Latina.</p><br>
            <h2>Beneficios de tener a Sellcom como socio tecnológico:</h2>
            <ul>
              <li>Riesgo y resoluciones de riesgos compartidos con el cliente.</li>
              <li>Empresa enfocada en la transformación digital con apoyo de hardware, software y servicios de nuestro portafolio.</li>
              <li>Adopción de niveles de servicio según cada cliente.</li>
              <li>Siempre a la vanguardia tecnológica al ser partner certificado de líderes tecnológicos.</li>
              <li>Metodologías Agiles en cada proyecto a implementar.</li>
              <li>Flexibilidad e inversión financiera en conjunto con los clientes.</li>
              <li>Alta disponibilidad 7*24*365.</li>
              <li>Automatización de procesos.</li>
              <li>Respuesta al cambio inminente en cada negocio.</li>
            </ul><br>
            <h2>Servicios de Sellcom:</h2>
            <ul>
              <li>Análisis de procesos previo a la implementación de la herramienta.</li>
              <li>Metodología de implementación ágil, tradicional o hibrida.</li>
              <li>Gestión del cambio: capacitación a los usuarios finales y administradores.</li>
              <li>Soporte de plataforma, implementación o atención de evoluciones al servicio.</li>
              <li>Integración con herramientas necesarias para nuestro cliente.</li>
            </ul>
            <h2>Dentro de los clientes de Sellcom con el producto de Servicenow destacamos los sectores:</h2>
            <ul>
              <li>Sector Financiero: Sellcom migración de servicios de gestión en el banco líder en México.</li>
              <li>Sector Portuario: Sellcom implementación de primera plataforma de gestión en el líder de administración portuaria de México.</li>
              <li>Sector telecomunicaciones: Sellcom automatización y digitalización de procesos financieros en uno de los líderes en telecomunicaciones en México.</li>
            </ul>
            <div class="col-12"> <img class="img-blog" src="../images/blog/slide_up_servicenow.jpg" alt="ServiceNow Sellcom"></div>
            <div class="col-12">
              <div class="social">
                <h3>Compartir</h3>
                <div class="a2a_kit a2a_kit_size_32 a2a_default_style" data-a2a-icon-color="@eucalyptus"><a class="social_blog a2a_button_facebook"></a><a class="social_blog a2a_button_twitter"></a><a class="social_blog a2a_button_linkedin"></a></div>
              </div>
            </div><script async src="https://static.addtoany.com/menu/page.js"></script>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <ul class="menu-footer">
            <li><a href="../sections/sellcom-about.html">Sobre Sellcom</a></li>
            <li><a href="../sections/sellcom-solutions.html">Soluciones Integrales</a></li>
            <li><a href="../sections/products-services.html">Productos y Servicios</a></li>
          </ul>
          <ul class="menuProductsServices">
            <li><a href="../sections/apple.html">Apple</a></li>
            <li><a href="../sections/blackberry.html">Blackberry</a></li>
            <li><a href="../sections/veeam.html">Veeam</a></li>
            <li><a href="../sections/servicenow.html">Servicenow</a></li>
            <li><a href="../sections/aranda.html">Aranda</a></li>
            <li><a href="../sections/jamf.html">Jamf</a></li>
            <li><a href="../sections/owncloud.html">Owncloud</a></li>
            <li><a href="../sections/getac.html">Getac</a></li>
            <li><a href="../sections/blancco.html">Blancco</a></li>
            <li><a href="../sections/redhat.html">Redhat</a></li>
            <li><a href="../sections/huawei.html">Huawei</a></li>
            <li><a href="../sections/azure.html">Azure</a></li>
            <li><a href="../sections/microsoft.html">Microsoft</a></li>
            <li><a href="../sections/mfseguridad.html">Microfocus Seguridad</a></li>
            <li><a href="../sections/mfitom.html">Microfocus ITOM</a></li>
            <li><a href="../sections/mfvertica.html">Microfocus Vertica</a></li>
            <li><a href="../sections/mfdevops.html">Microfocus DevOps</a></li>
            <li><a href="../sections/aruba.html">Aruba</a></li>
            <li><a href="../sections/cyberc.html">CyberC</a></li>
            <li><a href="../sections/opentext.html">OpenText</a></li>
            <li><a href="../sections/hp.html">HP</a></li>
            <li><a href="../sections/hpe.html">HP Enterprise</a></li>
            <li><a href="../sections/ethical-hacking.html">Pentest/EthicalHaking</a></li>
            <li><a href="../sections/digitalizacion.html">Digitalización</a></li>
            <li><a href="../sections/desarrollo.html">Desarrollo de SW</a></li>
            <li><a href="../sections/tiempos-materiales.html">Tiempos y Materiales</a></li>
            <li><a href="../sections/qlik.html">Qlik</a></li>
            <li><a href="../sections/portal-proveedores.html">Portal de proveedores</a></li>
            <li><a href="../sections/plataforma-lealtad.html">Plataforma de Lealtad</a></li>
            <li><a href="../sections/mesa-servicio.html">Mesa de Servicio</a></li>
            <li><a href="../sections/daas.html">Daas</a></li>
            <li><a href="../sections/mps.html">MPS</a></li>
            <li><a href="../sections/monitoreo.html">Monitoreo</a></li>
            <li><a href="../sections/wifi-saas.html">Wifi Saas</a></li>
            <li><a href="../sections/analitica-negocio.html">Anallítica de Negocio</a></li>
            <li><a href="../sections/suse.html">Suse</a></li>
            <li><a href="../sections/naudit.html">Naudit</a></li>
          </ul>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="../sections/aviso-privacidad.html">Aviso de Privacidad</a></li>
                </ul>
              </div>
              <div class="col-4">
                <p>Contáctanos tel. 01 55 5293 8400</p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/grupo-sellcom"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/Sellcom.js"></script>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/global/global.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/products_daas.js"></script>
    <script src="../js/plugins/addthis_widget.js"></script>
  </body>
</html>
