src/html/sections/analitica-negocio.pug

include ../config/_variables
- global_path = '../'
- current_profile = CONST_DEV_PROFILE
- var page = 'Sellcom Analítica de Negocio'
- var metadata = {}
- metadata['title'] = 'Sellcom - Analítica de Negocio'
- metadata['description'] = 'Llegó la era de la Analítica de Negocio; una solución que simplifica las operaciones en TI con una sola plataforma. ¡La tecnología que tu empresa necesita!'
- metadata['keywords'] = 'Sellcom, Analítica de Negocio, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud'

- var section_scripts =  {} 
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.base + 'Sellcom.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.global + 'global.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers+ 'products_daas.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'addthis_widget.js')
- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.base + 'Sellcom.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.global + 'global.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'products_daas.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'addthis_widget.min.js')

- var local_images = {}
- local_images['images'] = {}
- local_images.images['banner'] = global_path +  images.solutions_analitica + 'bannerprincipal.jpg'
- local_images.images['quees'] = global_path +  images.solutions_analitica + 'quees.jpg'

- local_images.images['herramienta1'] = global_path + images.solutions_analitica + 'herramienta1.jpg'
- local_images.images['herramienta2'] = global_path + images.solutions_analitica + 'herramienta2.jpg'
- local_images.images['herramienta3'] = global_path + images.solutions_analitica + 'herramienta3.jpg'

- local_images.images['icon_nivelesdeservicio'] = global_path + images.solutions_analitica + 'icon_controldenivelesdeservicio.png'
- local_images.images['icon_distribuciondeactividades'] = global_path + images.solutions_analitica + 'icon_controlenladistribuciondeactividades.png'
- local_images.images['icon_disponibilidad'] = global_path + images.solutions_analitica + 'icon_disponibilidad.png'
- local_images.images['icon_homologacion'] = global_path + images.solutions_analitica + 'icon_homologaciondeejecuciondeprocesos.png'

- local_images.images['logo_apple'] = global_path + images.solutions_analitica + 'Sellcom_Icon_Imac.png'
- local_images.images['logo_aranda'] = global_path + images.solutions_analitica + 'Sellcom_Icon_instalacion.png'
- local_images.images['logo_ivr'] = global_path + images.solutions_analitica + 'Sellcom_Icon_performance.png'
- local_images.images['logo_qlik'] = global_path + images.solutions_analitica + 'logo_qlik.png'
- local_images.images['logo_servicenow'] = global_path + images.solutions_analitica + 'logo_servicenow.png'


doctype html
html(lang=site.lang)
  include ../template/_head
  body
    include ../template/_header
    section.section-banner-dass
      img.banner(src=local_images.images.banner alt='Analítica de Negocio')
      .container
        .content
          .title-sections
              h1 Analítica de Negocio
              p Hacemos realidad la promesa del Business Intelligence.        
    section.anchors
      .container
        .row
          .col-10.middle 
             ul#submenu
                li
                  a(href='#device') #[p Conoce nuestra soluci&oacute;n]
                li
                  a(href='#howitworks') #[p ¿C&oacute;mo funciona?]
                li
                  a(href='#whydaas') #[p ¿Por qu&eacute; implementar Analítica de Negocio?]
                li
                  a(href='#toolsdaas') #[p Herramientas]
                li
                 a(href='#weareexperts') #[p Socios]
    section.device-text-one#device
      .container
        .row
          .col-10.middle
            .row
              .col-6
                h2 ¿Qué es Analítica de Negocio?
                p Para competir y triunfar, todas las empresas necesitan inteligencia: Acerca de sus clientes, proveedores, productos, aliados, mercados, etc. La búsqueda de ésta inteligencia ha tenido múltiples nombres, pero el reto sigue vigente: ¿Cómo analizar datos para hacer descubrimientos que resulten en una ventaja competitiva?
                p Hoy, la 3ª generación de la Inteligencia de Negocios hace posible finalmente aprovechar todo el valor latente de los datos dándole el poder de la analítica a todos los usuarios del negocio.
              .col-6
                img(src=local_images.images.quees alt='Analítica de Negocio')
    section.how-it-works#howitworks
      .container
        .row
          .col-10.middle
            h2 ¿C&oacute;mo funciona?
            p La Democratización de los Datos.
            ul
              li 
                p #[strong Todos los datos en cualquier combinación, disponibles para todos los usuarios usando catálogos corporativos gobernados y listos para el análisis] 
                  span
              li
                p #[strong Los problemas de negocio necesitan datos analizables de múltiples fuentes, examinados desde distintos puntos de vista] 
                  span 
              li
                p #[strong Nuestra estrategia es construir esquemas de datos corporativos completos que van más allá de un data warehouse o un data lake tradicional] 
                  span 
            p Inteligencia Aumentada (IA2).
            ul
              li 
                p #[strong La conjunción de la intuición del usuario y patrones identificados automáticamente por nuestra tecnología asociativa de datos]
                  span 
              li
                p #[strong Aumenta las habilidades de análisis, la capacidad de hacer descubrimientos y la confiabilidad de los mismos] 
                  span 
              li
                p #[strong Las aplicaciones analíticas sugieren nuevas formas de ver los datos sobre la marcha gracias a un motor cognitivo con capacidades de aprendizaje] 
                  span 
              li
                p #[strong Lenguaje natural y búsquedas rápidas estilo Google; el usuario no tiene que saber cómo crear visualizaciones]
                  span
            p Analíticos Integrados
            ul
              li
                p #[strong La analítica ya no es un fin, sino un apoyo necesario e integral de las operaciones diarias]
                  span
              li
                p #[strong Mucho más allá de la visualización sencilla, la plataforma analítica debe poder montarse en cualquier ambiente, desde servidores hasta nubes públicas, e integrarse con cualquier tecnología mediante APIs abiertas]
                  span
              li
                p #[strong De ésta forma, las herramientas analíticas pueden usarse en el punto de decisión como parte natural del proceso]
                  span
    section.why-daas#whydaas
      .container
        .row
          .col-10.middle
            h2 ¿Por qu&eacute; implementar Analítica de Negocio?
            p La visualización de datos por sí sola no es suficiente; los datos deben ser confiables y estar listos para ser analizados. El autoservicio tampoco es la respuesta; Excel nos ha mostrado lo que es vivir con una herramienta fácil de usar sin orden ni disciplina. Mientras tanto, la necesidad de tomar decisiones bien soportadas por grandes volúmenes de datos es cada vez mayor.
            ul
              li
                img(src=local_images.images.logo_apple alt='Soporte global ')
                p Para el 2025 cada persona tomará 4,785 decisiones basadas en datos diariamente (en 2017 eran 300).
              li
                img(src=local_images.images.logo_aranda alt='Protección contra daños')
                p Los datos son la materia prima; el análisis los convierte en conocimiento.
              li
                img(src=local_images.images.logo_ivr alt='Servicios de reparación')
                p El conocimiento respalda las acciones que transforman al negocio.
    section.tools-daas#toolsdaas
      .container
        .row
          .col-10.middle
            h2 Herramientas
            p 
            ul.row
              li.col-4
                .img-tools
                  img(src=local_images.images.herramienta1 alt='Asset Management')
                .description-tools
                  h3 Plataforma de Inteligencia de Negocios de 3ª generación.
                  p Democratización de datos ordenada para toma de decisiones bien respaldadas.
              li.col-4
                .img-tools
                  img(src=local_images.images.herramienta2 alt='Software Delivery')
                .description-tools
                  h3 Servicios Expertos Sellcom Certificados.
                  p Nuestros consultores cuentan con certificación en la plataforma utilizada.
              li.col-4
                .img-tools
                  img(src=local_images.images.herramienta3 alt='Software Metrix')
                .description-tools
                  h3 Especialistas por industria.
                  p Conocemos los retos frecuentes y cómo enfrentarlos.
    include ../template/_footer    

dist/dev/sections/analitica-negocio.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Analítica de Negocio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Llegó la era de la Analítica de Negocio; una solución que simplifica las operaciones en TI con una sola plataforma. ¡La tecnología que tu empresa necesita!">
    <meta name="keywords" content="Sellcom, Analítica de Negocio, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-banner-dass"><img class="banner" src="../images/solutions_analitica/bannerprincipal.jpg" alt="Analítica de Negocio">
      <div class="container">
        <div class="content">
          <div class="title-sections">
            <h1>Analítica de Negocio</h1>
            <p>Hacemos realidad la promesa del Business Intelligence.        </p>
          </div>
        </div>
      </div>
    </section>
    <section class="anchors">
      <div class="container">
        <div class="row">
          <div class="col-10 middle"> 
            <ul id="submenu">
              <li><a href="#device">
                  <p>Conoce nuestra soluci&oacute;n</p></a></li>
              <li><a href="#howitworks">
                  <p>¿C&oacute;mo funciona?</p></a></li>
              <li><a href="#whydaas">
                  <p>¿Por qu&eacute; implementar Analítica de Negocio?</p></a></li>
              <li><a href="#toolsdaas">
                  <p>Herramientas</p></a></li>
              <li><a href="#weareexperts">
                  <p>Socios</p></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="device-text-one" id="device">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <h2>¿Qué es Analítica de Negocio?</h2>
                <p>Para competir y triunfar, todas las empresas necesitan inteligencia: Acerca de sus clientes, proveedores, productos, aliados, mercados, etc. La búsqueda de ésta inteligencia ha tenido múltiples nombres, pero el reto sigue vigente: ¿Cómo analizar datos para hacer descubrimientos que resulten en una ventaja competitiva?</p>
                <p>Hoy, la 3ª generación de la Inteligencia de Negocios hace posible finalmente aprovechar todo el valor latente de los datos dándole el poder de la analítica a todos los usuarios del negocio.</p>
              </div>
              <div class="col-6"><img src="../images/solutions_analitica/quees.jpg" alt="Analítica de Negocio"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="how-it-works" id="howitworks">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <h2>¿C&oacute;mo funciona?</h2>
            <p>La Democratización de los Datos.</p>
            <ul>
              <li> 
                <p><strong>Todos los datos en cualquier combinación, disponibles para todos los usuarios usando catálogos corporativos gobernados y listos para el análisis</strong> <span></span></p>
              </li>
              <li>
                <p><strong>Los problemas de negocio necesitan datos analizables de múltiples fuentes, examinados desde distintos puntos de vista</strong> <span> </span></p>
              </li>
              <li>
                <p><strong>Nuestra estrategia es construir esquemas de datos corporativos completos que van más allá de un data warehouse o un data lake tradicional</strong> <span> </span></p>
              </li>
            </ul>
            <p>Inteligencia Aumentada (IA2).</p>
            <ul>
              <li> 
                <p><strong>La conjunción de la intuición del usuario y patrones identificados automáticamente por nuestra tecnología asociativa de datos</strong><span> </span></p>
              </li>
              <li>
                <p><strong>Aumenta las habilidades de análisis, la capacidad de hacer descubrimientos y la confiabilidad de los mismos</strong> <span> </span></p>
              </li>
              <li>
                <p><strong>Las aplicaciones analíticas sugieren nuevas formas de ver los datos sobre la marcha gracias a un motor cognitivo con capacidades de aprendizaje</strong> <span> </span></p>
              </li>
              <li>
                <p><strong>Lenguaje natural y búsquedas rápidas estilo Google; el usuario no tiene que saber cómo crear visualizaciones</strong><span></span></p>
              </li>
            </ul>
            <p>Analíticos Integrados</p>
            <ul>
              <li>
                <p><strong>La analítica ya no es un fin, sino un apoyo necesario e integral de las operaciones diarias</strong><span></span></p>
              </li>
              <li>
                <p><strong>Mucho más allá de la visualización sencilla, la plataforma analítica debe poder montarse en cualquier ambiente, desde servidores hasta nubes públicas, e integrarse con cualquier tecnología mediante APIs abiertas</strong><span></span></p>
              </li>
              <li>
                <p><strong>De ésta forma, las herramientas analíticas pueden usarse en el punto de decisión como parte natural del proceso</strong><span></span></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="why-daas" id="whydaas">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <h2>¿Por qu&eacute; implementar Analítica de Negocio?</h2>
            <p>La visualización de datos por sí sola no es suficiente; los datos deben ser confiables y estar listos para ser analizados. El autoservicio tampoco es la respuesta; Excel nos ha mostrado lo que es vivir con una herramienta fácil de usar sin orden ni disciplina. Mientras tanto, la necesidad de tomar decisiones bien soportadas por grandes volúmenes de datos es cada vez mayor.</p>
            <ul>
              <li><img src="../images/solutions_analitica/Sellcom_Icon_Imac.png" alt="Soporte global ">
                <p>Para el 2025 cada persona tomará 4,785 decisiones basadas en datos diariamente (en 2017 eran 300).</p>
              </li>
              <li><img src="../images/solutions_analitica/Sellcom_Icon_instalacion.png" alt="Protección contra daños">
                <p>Los datos son la materia prima; el análisis los convierte en conocimiento.</p>
              </li>
              <li><img src="../images/solutions_analitica/Sellcom_Icon_performance.png" alt="Servicios de reparación">
                <p>El conocimiento respalda las acciones que transforman al negocio.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="tools-daas" id="toolsdaas">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <h2>Herramientas</h2>
            <p> </p>
            <ul class="row">
              <li class="col-4">
                <div class="img-tools"><img src="../images/solutions_analitica/herramienta1.jpg" alt="Asset Management"></div>
                <div class="description-tools">
                  <h3>Plataforma de Inteligencia de Negocios de 3ª generación.</h3>
                  <p>Democratización de datos ordenada para toma de decisiones bien respaldadas.</p>
                </div>
              </li>
              <li class="col-4">
                <div class="img-tools"><img src="../images/solutions_analitica/herramienta2.jpg" alt="Software Delivery"></div>
                <div class="description-tools">
                  <h3>Servicios Expertos Sellcom Certificados.</h3>
                  <p>Nuestros consultores cuentan con certificación en la plataforma utilizada.</p>
                </div>
              </li>
              <li class="col-4">
                <div class="img-tools"><img src="../images/solutions_analitica/herramienta3.jpg" alt="Software Metrix"></div>
                <div class="description-tools">
                  <h3>Especialistas por industria.</h3>
                  <p>Conocemos los retos frecuentes y cómo enfrentarlos.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/Sellcom.js"></script>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/global/global.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/products_daas.js"></script>
    <script src="../js/plugins/addthis_widget.js"></script>
  </body>
</html>
