dist/dev/sections/aranda.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Aranda</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Ahora costos con las soluciones de Aranda; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!">
    <meta name="keywords" content="Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Aranda, bajo demanda, on demand, soluciones Aranda">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-banner-dass"><img class="banner" src="../images/products_aranda/bannerprincipal.jpg" alt="banner">
      <div class="container">
        <div class="content"><br>
          <div class="title-sections">
            <h1>Herramienta de Gestión Aranda</h1>
          </div>
          <p>Sellcom socio tecnológico de Aranda en México</p>
        </div>
      </div>
    </section>
    <section class="section-about-dass" id="dass">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="title-sections-text">
              <h3>¿Qué es Aranda?</h3>
              <p>Herramienta tecnológica que facilita y vuelve eficiente la gestión de tu área de TI.</p>
            </div>
            <ul>
              <li><strong>Aranda Service Desk</strong><img src="../images/products_aranda/servicio_servicedesk.png" alt="desk">
                <p>Gestión de mesas de ayuda con nuestro portal de servicios.</p>
              </li>
              <li><strong>Aranda CMDB</strong><img src="../images/products_aranda/servicio_CMDB.png" alt="cmdb">
                <p>Gestión de tu infraestructura con nuestro portal.</p>
              </li>
              <li><strong>Aranda Virtual Support</strong><img src="../images/products_aranda/servicio_virtualsupport.png" alt="virtual">
                <p>Conexión remota para la atención de requerimientos e incidencias.</p>
              </li>
              <li><strong>Aranda Device Management</strong><img src="../images/products_aranda/servicio_devicemanagment.png" alt="device">
                <p>Gestiona tus dispositivos móviles de forma remota.</p>
              </li>
              <li><strong>Aranda Field Service</strong><img src="../images/products_aranda/servicio_fieldservice.png" alt="field">
                <p>Seguimiento geo localizado y tracking de tus agentes de campo.</p>
              </li>
              <li><strong>Aranda Enterprise Mobility Management</strong><img src="../images/products_aranda/servicio_mobilitymagement.png" alt="enterprise">
                <p>Administración de las aplicaciones de tus dispositivos móviles.</p>
              </li>
              <li><strong>Aranda Data Safe</strong><img src="../images/products_aranda/servicio_datasafe.png" alt="data">
                <p>Respaldo de tu información y gestión de la misma.</p>
              </li>
              <li><strong>Desarrollo de módulos a la medida</strong><img src="../images/products_aranda/servicio_modulosalamedida.png" alt="desarrollo">
                <p>Podemos desarrollar soluciones a medida por negocio.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <div class="flotante"><a class="whitepage" href="../documents/ARANDA_Whithepaper.pdf" dowloand target="_blank" title="Descargar white paper"><img src="../images/global/whitepaper.png" alt="big data"></a><a class="caseofuse" href="../documents/ARANDA_Caso de Uso.pdf" dowloand target="_blank" title="Descargar casos de uso"><img src="../images/global/casodeuso.png" alt="big data"></a></div>
    <section class="section-implementDass" id="beneficios">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections-text">
              <h3>¿Por qué implementar Aranda?</h3>
              <p>Beneficios:</p>
            </div>
            <ul>
              <li><img src="../images/products_aranda/beneficio_ventaorentadelicenciamiento.png" alt="licenciamiento">
                <p>VENTA O RENTA DE LICENCIAMIENTO</p>
              </li>
              <li><img src="../images/products_aranda/beneficio_accesomovil.png" alt="acceso">
                <p>ACCESO MÓVIL</p>
              </li>
              <li><img src="../images/products_aranda/beneficio_configuracionnube.png" alt="nube">
                <p>CONFIGURACIÓN NUBE Y/O ON-PREMISE</p>
              </li>
              <li><img src="../images/products_aranda/beneficio_pinkverify.png" alt="pink">
                <p>PROCESOS CERTIFICADOS EN PINK VERIFY</p>
              </li>
              <li><img src="../images/products_aranda/beneficio_customazible.png" alt="customizable">
                <p>CUSTOMIZABLE</p>
              </li>
              <li><img src="../images/products_aranda/beneficio_facilyrapidodeconfigurar.png" alt="facil">
                <p>FÁCIL Y RÁPIDO DE CONFIGURAR</p>
              </li>
              <li><img src="../images/products_aranda/beneficio_integracionconherramientas.png" alt="integracion">
                <p>INTEGRACIÓN CON HERRAMIENTAS</p>
              </li>
              <li><img src="../images/products_aranda/beneficio_actualizacionesenlinea.png" alt="actualizaciones">
                <p>ACTUALIZACIONES EN LÍNEA INCLUIDAS</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section-subtitle" id="soluciones">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections">
              <h3>Conoce nuestra solución</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-why-dass"><img src="../images/products_aranda/solucion.jpg" alt="solución conoce">
      <div class="container">
        <div class="row">
          <div class="col-6 bgcircle">
            <p>Aranda es un software que impulsa la transformación digital dentro de las empresas, líder en la gestión de TI en Latinoamérica y cuenta con productos que reforzarán la atención de tus usuarios.</p>
            <p>Asegurar la eficiencia operativa de tu empresa, monitorear toda tu operación móvil y proteger la información de tu compañía.</p>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/libs/jquery.validate.js"></script>
    <script src="../js/libs/jquery.file.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/sellcom_dass.js"></script>
    <script src="../js/controllers/downloads.js"></script>
    <script src="../js/controllers/form.js"></script>
  </body>
</html>
<script type="text/javascript" src="../js/libs/jquery.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<script type="text/javascript" src="../js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../js/libs/jquery.file.js"></script>
<script type="text/javascript" src="../js/plugins/slick.js"></script>
<script type="text/javascript" src="../js/controllers/sellcom_dass.js"></script>
<script type="text/javascript" src="../js/controllers/downloads.js"></script>
<script type="text/javascript" src="../js/controllers/form.js"></script>

src/html/sections/aranda.pug
//-Configuración y variables globales del proyecto
include ../config/_variables
//-
	Ajustes de la configuración global para esta sección
- global_path = '../'
//-
	Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
	Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Aranda'
- metadata['description'] = 'Ahora costos con las soluciones de Aranda; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Aranda, bajo demanda, on demand, soluciones Aranda'
- var landing = 'aranda'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_aranda + 'bannerprincipal.jpg'
//- Servicios
- local.images['desk'] = global_path + images.products_aranda + 'servicio_servicedesk.png'
- local.images['cmdb'] = global_path + images.products_aranda + 'servicio_CMDB.png'
- local.images['virtual'] = global_path + images.products_aranda + 'servicio_virtualsupport.png'
- local.images['device'] = global_path + images.products_aranda + 'servicio_devicemanagment.png'
- local.images['field'] = global_path + images.products_aranda + 'servicio_fieldservice.png'
- local.images['enterprise'] = global_path + images.products_aranda + 'servicio_mobilitymagement.png'
- local.images['data'] = global_path + images.products_aranda + 'servicio_datasafe.png'
- local.images['desarrollo'] = global_path + images.products_aranda + 'servicio_modulosalamedida.png'
//- Beneficios
- local.images['licenciamiento'] = global_path + images.products_aranda + 'beneficio_ventaorentadelicenciamiento.png'
- local.images['acceso'] = global_path + images.products_aranda + 'beneficio_accesomovil.png'
- local.images['nube'] = global_path + images.products_aranda + 'beneficio_configuracionnube.png'
- local.images['pink'] = global_path + images.products_aranda + 'beneficio_pinkverify.png'
- local.images['customizable'] = global_path + images.products_aranda + 'beneficio_customazible.png'
- local.images['facil'] = global_path + images.products_aranda + 'beneficio_facilyrapidodeconfigurar.png'
- local.images['integracion'] = global_path + images.products_aranda + 'beneficio_integracionconherramientas.png'
- local.images['actualizaciones'] = global_path + images.products_aranda + 'beneficio_actualizacionesenlinea.png'
- local.images['solucion'] = global_path + images.products_aranda + 'solucion.jpg'
- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'ARANDA_Whithepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'ARANDA_Caso de Uso.pdf'

doctype html
html(lang=site.lang)
	include ../template/_head
	body
		include ../template/_header
		section.section-banner-dass
			img.banner(src=local.images.banner, alt="banner")
			.container
				.content
					br
					.title-sections
						h1 Herramienta de Gestión Aranda
					p Sellcom socio tecnológico de Aranda en México
		section.section-about-dass#dass
			.container
				.row
					.col-12
						.title-sections-text
							h3 ¿Qué es Aranda?
							p Herramienta tecnológica que facilita y vuelve eficiente la gestión de tu área de TI.
						ul
							li
								strong Aranda Service Desk
								img(src=local.images.desk, alt="desk")
								p Gestión de mesas de ayuda con nuestro portal de servicios.
							li
								strong Aranda CMDB
								img(src=local.images.cmdb, alt="cmdb")
								p Gestión de tu infraestructura con nuestro portal.
							li
								strong Aranda Virtual Support
								img(src=local.images.virtual, alt="virtual")
								p Conexión remota para la atención de requerimientos e incidencias.
							li
								strong Aranda Device Management
								img(src=local.images.device, alt="device")
								p Gestiona tus dispositivos móviles de forma remota.
							li
								strong Aranda Field Service
								img(src=local.images.field, alt="field")
								p Seguimiento geo localizado y tracking de tus agentes de campo.
							li
								strong Aranda Enterprise Mobility Management
								img(src=local.images.enterprise, alt="enterprise")
								p Administración de las aplicaciones de tus dispositivos móviles.
							li
								strong Aranda Data Safe
								img(src=local.images.data, alt="data")
								p Respaldo de tu información y gestión de la misma.
							li
								strong Desarrollo de módulos a la medida
								img(src=local.images.desarrollo, alt="desarrollo")
								p Podemos desarrollar soluciones a medida por negocio.
		.flotante
			a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
				img(src=local.images.whitepaper, alt="big data" )
			a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
				img(src=local.images.casodeuso, alt="big data")
		section.section-implementDass#beneficios
			.container
				.row
					.col-10.middle
						.title-sections-text
							h3 ¿Por qué implementar Aranda?
							p Beneficios:
						ul
							li
								img(src=local.images.licenciamiento, alt="licenciamiento")
								p VENTA O RENTA DE LICENCIAMIENTO
							li
								img(src=local.images.acceso, alt="acceso")
								p ACCESO MÓVIL
							li
								img(src=local.images.nube, alt="nube")
								p CONFIGURACIÓN NUBE Y/O ON-PREMISE
							li
								img(src=local.images.pink, alt="pink")
								p PROCESOS CERTIFICADOS EN PINK VERIFY
							li
								img(src=local.images.customizable, alt="customizable")
								p CUSTOMIZABLE
							li
								img(src=local.images.facil, alt="facil")
								p FÁCIL Y RÁPIDO DE CONFIGURAR
							li
								img(src=local.images.integracion, alt="integracion")
								p INTEGRACIÓN CON HERRAMIENTAS
							li
								img(src=local.images.actualizaciones, alt="actualizaciones")
								p ACTUALIZACIONES EN LÍNEA INCLUIDAS
		section.section-subtitle#soluciones
			.container
				.row
					.col-10.middle
						.title-sections
							h3 Conoce nuestra solución
		section.section-why-dass
			img(src=local.images.solucion, alt="solución conoce")
			.container
				.row
					.col-6.bgcircle
						p Aranda es un software que impulsa la transformación digital dentro de las empresas, líder en la gestión de TI en Latinoamérica y cuenta con productos que reforzarán la atención de tus usuarios.
						p Asegurar la eficiencia operativa de tu empresa, monitorear toda tu operación móvil y proteger la información de tu compañía.
		include ../template/_footer
		if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
		script(type="text/javascript" src=section_scripts[current_profile][i])
