dist/dev/sections/aruba.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Aruba</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Ahora costos con las soluciones de Aruba; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!">
    <meta name="keywords" content="Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Aruba, bajo demanda, on demand, soluciones Aruba">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-banner-dass"><img class="banner" src="../images/products_aruba/bannerprincipal.jpg" alt="banner">
      <div class="container">
        <div class="content"><br>
          <div class="title-sections">
            <h1>Productos enfocados a Red Aruba</h1>
          </div>
          <p>Aruba es líder tecnológico en la distribución de productos enfocados a Red en México y Sellcom es un distribuidor oficial de su catálogo</p>
        </div>
      </div>
    </section>
    <section class="section-about-dass" id="dass">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="title-sections-text">
              <h3>¿Qué es Aruba?</h3>
              <p>Sellcom y Aruba es una amalgama enfocada en brindar servicios de red y conectividad que den valor a nuestros clientes.</p>
            </div>
            <ul>
              <li><strong>ACCESS POINT</strong><img src="../images/products_aruba/servicio_AccessPoint.png" alt="acces">
                <p>PUNTOS DE ACCESO PARA CONEXIÓN INALAMBRICA.</p>
              </li>
              <li><strong>SWITCH</strong><img src="../images/products_aruba/servicio_Switch.png" alt="switch">
                <p>INFRAESTRUCTURA PODEROSA PARA LA DEFINICIÓN DE SU RED.</p>
              </li>
              <li><strong>ADMINISTRACIÓN DE REDES</strong><img src="../images/products_aruba/servicio_Admimistracionderedes.png" alt="admon">
                <p>DAMOS SERVICIO Y MANTENIMIENTO A SU RED.</p>
              </li>
              <li><strong>ANÁLISIS DE REDES</strong><img src="../images/products_aruba/servicio_AnalisisdeRedes.png" alt="analisis">
                <p>INVESTIGACIÓN Y DIAGNÓSTICO DE LA MEJOR RED PARA SU EMPRESA.</p>
              </li>
              <li><strong>MONITOREO DE REDES</strong><img src="../images/products_aruba/servicio_virtualsupport.png" alt="monitoreo">
                <p>MEDIANTE SOFTWARE HACEMOS MONITOREO DE ALERTAS Y CONSUMO DE SU RED.</p>
              </li>
              <li><strong>CONFIGURACIÓN DE REDES</strong><img src="../images/products_aruba/servicio_CMDB.png" alt="config">
                <p>UNA VEZ DEFINIDA SU RED LA CONFIGURAMOS EN TODA SU EMPRESA.</p>
              </li>
              <li><strong>CONTROLADORES</strong><img src="../images/products_aruba/servicio_servicedesk.png" alt="controladores">
                <p>CENTRALIZACIÓN DE REDES EN TODA LA EMPRESA MEDIANTE SEGMENTACIÓN IP.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <div class="flotante"><a class="whitepage" href="../documents/Aruba_Whithepaper.pdf" dowloand target="_blank" title="Descargar white paper"><img src="../images/global/whitepaper.png" alt="big data"></a><a class="caseofuse" href="../documents/Aruba_Caso_de_Uso.pdf" dowloand target="_blank" title="Descargar casos de uso"><img src="../images/global/casodeuso.png" alt="big data"></a></div>
    <section class="section-implementDass" id="beneficios">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections-text">
              <h3>¿Por qué implementar Aruba?</h3>
              <p>Beneficios:</p>
            </div>
            <ul>
              <li><img src="../images/products_aruba/beneficio_Acceso.png" alt="acceso">
                <p>ACCESO</p>
              </li>
              <li><img src="../images/products_aruba/beneficio_Conectividad.png" alt="conectividad">
                <p>CONECTIVIDAD</p>
              </li>
              <li><img src="../images/products_aruba/beneficio_Velocidad.png" alt="velocidad">
                <p>VELOCIDAD</p>
              </li>
              <li><img src="../images/products_aruba/beneficio_Seguridad.png" alt="segudidad">
                <p>SEGURIDAD</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section-subtitle" id="soluciones">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections">
              <h3>Conoce nuestra solución</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-why-dass"><img src="../images/products_aruba/solucion.jpg" alt="solución conoce">
      <div class="container">
        <div class="row">
          <div class="col-6 bgcircle">
            <p>Iniciando desde el análisis de requerimientos de red de nuestros clientes, pasando por el aprovisionamiento de dispositivos como switches, Access point y su configuración hasta llegar al mantenimiento de las redes, los dispositivos de Aruba garantizan la satisfacción de tus necesidades enfocadas a redes.</p>
            <p> </p>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/libs/jquery.validate.js"></script>
    <script src="../js/libs/jquery.file.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/sellcom_dass.js"></script>
    <script src="../js/controllers/downloads.js"></script>
    <script src="../js/controllers/form.js"></script>
  </body>
</html>
<script type="text/javascript" src="../js/libs/jquery.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<script type="text/javascript" src="../js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../js/libs/jquery.file.js"></script>
<script type="text/javascript" src="../js/plugins/slick.js"></script>
<script type="text/javascript" src="../js/controllers/sellcom_dass.js"></script>
<script type="text/javascript" src="../js/controllers/downloads.js"></script>
<script type="text/javascript" src="../js/controllers/form.js"></script>

src/html/sections/aruba.pug
//-Configuración y variables globales del proyecto
include ../config/_variables
//-
    Ajustes de la configuración global para esta sección
- global_path = '../'
//-
    Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
    Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Aruba'
- metadata['description'] = 'Ahora costos con las soluciones de Aruba; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Aruba, bajo demanda, on demand, soluciones Aruba'
- var landing = 'aruba'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_aruba + 'bannerprincipal.jpg'
//- Servicios
- local.images['acces'] = global_path + images.products_aruba + 'servicio_AccessPoint.png'
- local.images['switch'] = global_path + images.products_aruba + 'servicio_Switch.png'
- local.images['admon'] = global_path + images.products_aruba + 'servicio_Admimistracionderedes.png'
- local.images['analisis'] = global_path + images.products_aruba + 'servicio_AnalisisdeRedes.png'
- local.images['monitoreo'] = global_path + images.products_aruba + 'servicio_virtualsupport.png'
- local.images['config'] = global_path + images.products_aruba + 'servicio_CMDB.png'
- local.images['controladores'] = global_path + images.products_aruba + 'servicio_servicedesk.png'
//- Beneficios
- local.images['acceso'] = global_path + images.products_aruba + 'beneficio_Acceso.png'
- local.images['conectividad'] = global_path + images.products_aruba + 'beneficio_Conectividad.png'
- local.images['velocidad'] = global_path + images.products_aruba + 'beneficio_Velocidad.png'
- local.images['segudidad'] = global_path + images.products_aruba + 'beneficio_Seguridad.png'

- local.images['solucion'] = global_path + images.products_aruba + 'solucion.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Aruba_Whithepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'Aruba_Caso_de_Uso.pdf'

doctype html
html(lang=site.lang)
    include ../template/_head
    body
        include ../template/_header
        section.section-banner-dass
            img.banner(src=local.images.banner, alt="banner")
            .container
                .content
                    br
                    .title-sections
                        h1 Productos enfocados a Red Aruba
                    p Aruba es líder tecnológico en la distribución de productos enfocados a Red en México y Sellcom es un distribuidor oficial de su catálogo
        section.section-about-dass#dass
            .container
                .row
                    .col-12
                        .title-sections-text
                            h3 ¿Qué es Aruba?
                            p Sellcom y Aruba es una amalgama enfocada en brindar servicios de red y conectividad que den valor a nuestros clientes.
                        ul
                            li
                                strong ACCESS POINT
                                img(src=local.images.acces, alt="acces")
                                p PUNTOS DE ACCESO PARA CONEXIÓN INALAMBRICA.
                            li
                                strong SWITCH
                                img(src=local.images.switch, alt="switch")
                                p INFRAESTRUCTURA PODEROSA PARA LA DEFINICIÓN DE SU RED.
                            li
                                strong ADMINISTRACIÓN DE REDES
                                img(src=local.images.admon, alt="admon")
                                p DAMOS SERVICIO Y MANTENIMIENTO A SU RED.
                            li
                                strong ANÁLISIS DE REDES
                                img(src=local.images.analisis, alt="analisis")
                                p INVESTIGACIÓN Y DIAGNÓSTICO DE LA MEJOR RED PARA SU EMPRESA.
                            li
                                strong MONITOREO DE REDES
                                img(src=local.images.monitoreo, alt="monitoreo")
                                p MEDIANTE SOFTWARE HACEMOS MONITOREO DE ALERTAS Y CONSUMO DE SU RED.
                            li
                                strong CONFIGURACIÓN DE REDES
                                img(src=local.images.config, alt="config")
                                p UNA VEZ DEFINIDA SU RED LA CONFIGURAMOS EN TODA SU EMPRESA.
                            li
                                strong CONTROLADORES
                                img(src=local.images.controladores, alt="controladores")
                                p CENTRALIZACIÓN DE REDES EN TODA LA EMPRESA MEDIANTE SEGMENTACIÓN IP.
        //- .flotante
        //- 	include ../components/_btn-downloads
        //- 	+data-section("Aruba", "whitepage", local.documents.white,local.images.whitepaper)
        //- .flotante2
        //- 	include ../components/_btn-downloads
        //- 	+data-section("Aruba", "casouso", local.documents.caseofuse,local.images.casodeuso)
        .flotante
            a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
                img(src=local.images.whitepaper, alt="big data" )
            a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
                img(src=local.images.casodeuso, alt="big data")
        section.section-implementDass#beneficios
            .container
                .row
                    .col-10.middle
                        .title-sections-text
                            h3 ¿Por qué implementar Aruba?
                            p Beneficios:
                        ul
                            li
                                img(src=local.images.acceso, alt="acceso")
                                p ACCESO
                            li
                                img(src=local.images.conectividad, alt="conectividad")
                                p CONECTIVIDAD
                            li
                                img(src=local.images.velocidad, alt="velocidad")
                                p VELOCIDAD
                            li
                                img(src=local.images.segudidad, alt="segudidad")
                                p SEGURIDAD
        section.section-subtitle#soluciones
            .container
                .row
                    .col-10.middle
                        .title-sections
                            h3 Conoce nuestra solución
        section.section-why-dass
            img(src=local.images.solucion, alt="solución conoce")
            .container
                .row
                    .col-6.bgcircle
                        p Iniciando desde el análisis de requerimientos de red de nuestros clientes, pasando por el aprovisionamiento de dispositivos como switches, Access point y su configuración hasta llegar al mantenimiento de las redes, los dispositivos de Aruba garantizan la satisfacción de tus necesidades enfocadas a redes.
                        p 
        include ../template/_footer
        if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
        script(type="text/javascript" src=section_scripts[current_profile][i])
