dist/dev/sections/aviso-legal.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Aviso legal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Ahora costos con las soluciones de Sellcom; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!">
    <meta name="keywords" content="Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Aruba, bajo demanda, on demand, soluciones Aruba">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-banner-legal">
      <h2>Aviso Legal</h2>
    </section>
    <section class="device-text-one">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit officia itaque labore voluptatem incidunt dolorum dicta pariatur, consequuntur unde tempora rem quas nihil reiciendis praesentium at fuga quisquam saepe ex?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit officia itaque labore voluptatem incidunt dolorum dicta pariatur, consequuntur unde tempora rem quas nihil reiciendis praesentium at fuga quisquam saepe ex?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit officia itaque labore voluptatem incidunt dolorum dicta pariatur, consequuntur unde tempora rem quas nihil reiciendis praesentium at fuga quisquam saepe ex?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit officia itaque labore voluptatem incidunt dolorum dicta pariatur, consequuntur unde tempora rem quas nihil reiciendis praesentium at fuga quisquam saepe ex?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit officia itaque labore voluptatem incidunt dolorum dicta pariatur, consequuntur unde tempora rem quas nihil reiciendis praesentium at fuga quisquam saepe ex?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit officia itaque labore voluptatem incidunt dolorum dicta pariatur, consequuntur unde tempora rem quas nihil reiciendis praesentium at fuga quisquam saepe ex?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit officia itaque labore voluptatem incidunt dolorum dicta pariatur, consequuntur unde tempora rem quas nihil reiciendis praesentium at fuga quisquam saepe ex?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit officia itaque labore voluptatem incidunt dolorum dicta pariatur, consequuntur unde tempora rem quas nihil reiciendis praesentium at fuga quisquam saepe ex?</p>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/libs/jquery.validate.js"></script>
    <script src="../js/libs/jquery.file.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/sellcom_dass.js"></script>
    <script src="../js/controllers/downloads.js"></script>
    <script src="../js/controllers/form.js"></script>
  </body>
</html>

src/html/sections/aviso-legal.pug
//-Configuración y variables globales del proyecto
include ../config/_variables
//-
	Ajustes de la configuración global para esta sección
- global_path = '../'
//-
	Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
	Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Aviso legal'
- metadata['description'] = 'Ahora costos con las soluciones de Sellcom; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Aruba, bajo demanda, on demand, soluciones Aruba'
- var landing = 'aviso-legal'

- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

doctype html
html(lang=site.lang)
	include ../template/_head
	body
		include ../template/_header
		section.section-banner-legal
			h2 Aviso Legal
		section.device-text-one
			.container
				.row
					.col-10.middle
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit officia itaque labore voluptatem incidunt dolorum dicta pariatur, consequuntur unde tempora rem quas nihil reiciendis praesentium at fuga quisquam saepe ex?
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit officia itaque labore voluptatem incidunt dolorum dicta pariatur, consequuntur unde tempora rem quas nihil reiciendis praesentium at fuga quisquam saepe ex?
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit officia itaque labore voluptatem incidunt dolorum dicta pariatur, consequuntur unde tempora rem quas nihil reiciendis praesentium at fuga quisquam saepe ex?
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit officia itaque labore voluptatem incidunt dolorum dicta pariatur, consequuntur unde tempora rem quas nihil reiciendis praesentium at fuga quisquam saepe ex?
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit officia itaque labore voluptatem incidunt dolorum dicta pariatur, consequuntur unde tempora rem quas nihil reiciendis praesentium at fuga quisquam saepe ex?
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit officia itaque labore voluptatem incidunt dolorum dicta pariatur, consequuntur unde tempora rem quas nihil reiciendis praesentium at fuga quisquam saepe ex?
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit officia itaque labore voluptatem incidunt dolorum dicta pariatur, consequuntur unde tempora rem quas nihil reiciendis praesentium at fuga quisquam saepe ex?
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit officia itaque labore voluptatem incidunt dolorum dicta pariatur, consequuntur unde tempora rem quas nihil reiciendis praesentium at fuga quisquam saepe ex?
		include ../template/_footer
		if section_scripts
//- - var total_scripts = section_scripts[current_profile].length
//- - for (var i = 0; i < total_scripts; i++)
//- 	script(type="text/javascript" src=section_scripts[current_profile][i])				
