dist/dev/sections/aviso-privacidad.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Aviso de privacidad</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Ahora costos con las soluciones de Sellcom; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!">
    <meta name="keywords" content="Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Aruba, bajo demanda, on demand, soluciones Aruba">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-banner-legal">
      <h2>Aviso de privacidad</h2>
    </section>
    <section class="device-text-one">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <h3>AVISO DE PRIVACIDAD INTEGRAL</h3>
            <ol> </ol>
            <li>Generales
              <ol>
                <li>APPS SELLCOM SOLUTIONS, S.A. DE C.V., (EN LO SUCESIVO "APPS SELLCOM SOLUTIONS") ES UNA SOCIEDAD MERCANTIL COMPROMETIDA Y RESPETUOSA DE LOS DERECHOS SOBRE LOS DATOS PERSONALES DE LAS PERSONAS FÍSICAS, RECONOCIDOS EN EL ARTÍCULO 16 PÁRRAFO SEGUNDO DE LA CONSTITUCIÓN POLÍTICA DE LOS ESTADOS UNIDOS MEXICANOS, ASÍ COMO DE LAS DISPOSICIONES DE LA LEY FEDERAL DE PROTECCIÓN DE DATOS PERSONALES EN POSESIÓN DE LOS PARTICULARES Y SU RESPECTIVO REGLAMENTO. POR LO ANTERIOR, Y EN CUMPLIMIENTO DE DICHA NORMATIVA, PONE A SU DISPOSICIÓN EL PRESENTE AVISO DE PRIVACIDAD EN ARAS DE QUE EL TITULAR DE LOS DATOS PERSONALES SE ENCUENTRE FACULTADO A EJERCITAR SU DERECHO A LA AUTODETERMINACIÓN INFORMATIVA.</li>
                <p></p>
                <li>ESTE AVISO DE PRIVACIDAD SE PONE A DISPOSICIÓN DE USTED (EN ADELANTE REFERIDO COMO EL "TITULAR" O "LOS TITULARES"), EN TÉRMINOS DE LO DISPUESTO POR EL ARTÍCULO 1803 DEL CÓDIGO CIVIL FEDERAL POR LOS SIGUIENTES MEDIOS, RECABANDO EL CONSENTIMIENTO DE LOS TITULARES DE LA SIGUIENTE FORMA:</li><br>
                <ol>
                  <li>EN CASO DE QUE ESTE AVISO DE PRIVACIDAD ESTÉ DISPONIBLE A TRAVÉS DE LA PÁGINA DE INTERNET CUYO DOMINIO ES: www.apps-solutions-mx.com EN ADELANTE DENOMINADA COMO LA "Página de Internet de APPS SELLCOM SOLUTIONS" O ALGÚN OTRO DISPOSITIVO ELECTRÓNICO, AL INGRESAR Y UTILIZAR LA PAGÍNA DE INTERNET DE APPS SELLCOM SOLUTIONS CONSTITUYE MANIFESTACIÓN DE SU CONSENTIMIENTO PARA QUE APPS SELLCOM SOLUTIONS REALICE EL TRATAMIENTO DE SUS DATOS, DE CONFORMIDAD CON ESTE AVISO DE PRIVACIDAD. LA PÁGINA DE INTERNET DE APPS SELLCOM SOLUTIONS NUNCA PEDIRÁ DATOS SENSIBLES.</li><br>
                  <li>EN CASO DE QUE ESTE AVISO DE PRIVACIDAD ESTÉ DISPONIBLE POR ESCRITO EN EL DOMICILIO FÍSICO DE APPS SELLCOM SOLUTIONS, SU FIRMA, RÚBRICA, NOMBRE O HUELLA, O BIEN, AL PROPORCIONAR SUS DATOS EN LAS INSTALACIONES DE APPS SELLCOM SOLUTIONS, CONSTITUYE UNA MANIFESTACIÓN DE SU CONSENTIMIENTO PARA QUE APPS SELLCOM SOLUTIONS REALICE EL TRATAMIENTO DE SUS DATOS, DE CONFORMIDAD CON ESTE AVISO DE PRIVACIDAD.</li>
                </ol><br>
                <li>SI EL TITULAR NO ACEPTA EN FORMA ABSOLUTA Y COMPLETA TODAS LAS CLÁUSULAS DEL PRESENTE AVISO, DEBERÁ ABSTENERSE DE PROPORCIONAR CUALQUIER TIPO DE DATO PERSONAL O INFORMACIÓN A APPS SELLCOM SOLUTIONS, POR CUALQUIER MEDIO, INCLUYENDO LA Página de Internet de APPS SELLCOM SOLUTIONS.</li><br>
                <li>SALVO POR LO DISPUESTO EN EL PUNTO 1.4. EN EL CASO DE QUE EL TITULAR PROPORCIONE A APPS SELLCOM SOLUTIONS SUS DATOS PERSONALES, DICHA ACCIÓN SE CONSIDERARÁ COMO SU ABSOLUTA Y EXPRESA ACEPTACIÓN AL AVISO DE PRIVACIDAD PUBLICADO O NOTIFICADO POR CUALQUIERA DE LOS MEDIOS SEÑALADOS EN EL NUMERAL 1.2 POR APPS SELLCOM SOLUTIONS, EN EL MOMENTO MISMO EN QUE EL TITULAR PROPORCIONE SUS DATOS PERSONALES, Y/O EN EL QUE TENGA ACCESO, Y/O SE LE PONGA A DISPOSICIÓN ESTE AVISO DE PRIVACIDAD.</li>
              </ol><br>
              <li>Identidad y domicilio del responsable que recaba los datos personales </li>
              <ol>
                <li>El responsable del tratamiento de los datos personales es APPS SELLCOM SOLUTIONS, quien se compromete a respetar lo establecido en el presente Aviso de Privacidad (en lo sucesivo "El Aviso"), que está puesto a su disposición en cumplimiento a lo establecido en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (en lo sucesivo identificada como la "Ley" o "LFPDPPP", indistintamente) y en su respectivo Reglamento, y es aplicable respecto de: (i) los datos personales de las personas físicas que APPS SELLCOM SOLUTIONS obtiene de los candidatos, trabajadores, clientes/prospectos, proveedores, visitantes en el domicilio físico de APPS SELLCOM SOLUTIONS y visitantes a la Página de Internet de APPS SELLCOM SOLUTIONS y/o (ii) las personas morales, en lo que sean compatibles con los datos personales de una persona física (Titular) , con motivo de los productos, servicios que APPS SELLCOM SOLUTIONS ofrece o celebra.</li><br>
                <li>El domicilio que para los efectos del presente aviso establece APPS SELLCOM SOLUTIONS es el ubicado en Calle Palo Solo No. 7, Fraccionamiento Hacienda de las Palmas, Huixquilucan, Estado de México; C.P.52763 ("Domicilio Físico de APPS SELLCOM SOLUTIONS").</li>
              </ol><br>
              <li>Definiciones</li>
              <ol>
                <li>Titular. La persona física y/o moral en lo que sea compatible con los datos de una persona física (Titular) a quien identifican o corresponden los datos personales.</li><br>
                <li>Responsable. Persona física o moral de carácter privado que decide sobre el tratamiento de los datos personales.</li><br>
                <li>Encargado. La persona física o moral que sola o conjuntamente con otras trate datos personales por cuenta del Responsable.</li><br>
                <li>Tratamiento. La obtención, uso (que incluye el acceso, manejo, aprovechamiento, transferencia o disposición de datos personales), divulgación o almacenamiento de datos personales por cualquier medio.</li><br>
                <ol>
                  <li>Transferencia. Toda comunicación de datos realizada a persona distinta del Responsable o Encargado del tratamiento.</li><br>
                  <li>Remisión. La comunicación de datos personales entre el Responsable y el Encargado, dentro o fuera del territorio mexicano.</li><br>
                </ol>
                <li>Tercero. La persona física o moral, nacional o extranjera, distinta del Titular o del Responsable.</li><br>
                <li>Derechos ARCO. Derechos de Acceso, Rectificación, Cancelación y Oposición.</li><br>
                <li>Datos personales sensibles: Aquellos datos personales que afectan a la esfera más íntima de su Titular, o cuya utilización indebida pueda dar origen a discriminación o conlleve un riesgo grave para éste. En particular, se consideran sensibles aquellos que puedan revelar aspectos como origen racial o étnico, estado de salud presente y futuro, información genética, creencias religiosas, filosóficas y morales, afiliación sindical, opiniones, preferencia sexual.</li><br>
                <li>Consentimiento Expreso. Se entenderá que el Titular ha consentido en el tratamiento de sus datos patrimoniales o financieros, cuando el Titular plasme su aceptación expresa y por escrito, por medio de su firma autógrafa, firma electrónica, rúbrica o huella.</li><br>
                <li>Consentimiento Tácito. Se entenderá que el Titular ha consentido en el tratamiento de los datos personales,cuando habiéndose puesto a su disposición el Aviso de Privacidad, no manifieste su oposición.</li><br>
                <li>Finalidades Primarias. Aquellas finalidades para las cuales se solicitan principalmente los datos personales y por lo que se da origen a la relación entre APPS SELLCOM SOLUTIONS y el Titular.</li><br>
                <li>Finalidades Secundarias. Aquellas finalidades que no son imprescindibles para la relación entre APPS SELLCOM SOLUTIONS y el Titular, pero que con su tratamiento contribuye al cumplimiento del objeto social de APPS SELLCOM SOLUTIONS.</li>
              </ol><br>
              <li>Datos personales que se recaban</li>
              <ol>
                <li>El Titular reconoce y acepta que APPS SELLCOM SOLUTIONS, obtendrá directamente y/o a través de encargados,por cualquier medio, los siguientes datos personales:</li><br>
                <ol>
                  <li>Candidatos. Curriculum Vitae que incluirá los siguientes datos: Generales: Nombre completo, sexo, nacionalidad, estado civil, fecha y lugar de nacimiento, edad, imagen o fotografía, huellas digitales, identificación oficial con fotografía, cédula profesional, correo electrónico, teléfono fijo y/o móvil, domicilio (código postal, estado, país, ciudad o municipio, colonia, localidad, entre qué calles, calle y número exterior e interior), firma, Clave Única de Registro de Población (CURP). Referencias laborales: (de las cuales, el Titular asegura contar con el consentimiento para compartir los datos personales de terceros) empresas donde ha laborado, cartas de recomendación, nombre de los jefes inmediatos, teléfonos.</li><br>
                  <li>Trabajadores. Curriculum Vitae que incluirá los siguientes datos: Generales: Nombre completo, sexo, nacionalidad, estado civil, fecha y lugar de nacimiento, edad, imagen o fotografía, huellas digitales, CURP, RFC (Registro Federal de Contribuyentes), identificación oficial con fotografía, cédula profesional, correo electrónico, teléfono fijo y/o móvil, número de afiliación al Instituto Mexicano del Seguro Social, domicilio (código postal, estado, país, ciudad o municipio, colonia, localidad, entre qué calles, calle y número exterior e interior), y firma. Datos Bancarios: nombre del banco, cuenta y cuenta CLABE, datos de tarjeta de débito. Datos sensibles: Examen Médico. Referencias laborales: (de las cuales, el Titular asegura contar con el consentimiento para compartir los datos personales de terceros) empresas donde ha laborado, cartas de recomendación, nombre de los jefes inmediatos, teléfonos. Documentación en copia simple: RFC, CUPR, identificación oficial con fotografía, acta de nacimiento, comprobante de domicilio, comprobante de estudios, cédula profesional, constancias de capacitaciones.</li><br>
                  <li>Cliente/Prospecto. Nombre completo, identificación oficial, teléfono y/o móvil, domicilio (código postal, estado, país, ciudad o municipio, colonia, localidad, entre qué calles, calle y número exterior e interior), correo electrónico; acta constitutiva inscrita en el Registro Público de la Propiedad y del Comercio, RFC, poder notarial de su apoderado, nombre completo del apoderado, identificación oficial del apoderado y/o persona física en caso de no ser persona moral. Datos Bancarios: nombre del banco, cuenta y cuenta CLABE. Documentación en copia: RFC, identificación oficial con fotografía, comprobante de domicilio, acta constitutiva inscrita en el Registro Público de la Propiedad y del Comercio, poder Notarial del apoderado.</li><br>
                  <li>Proveedores, Colaboradores, Prestadores de servicios (conjuntamente "Proveedores"). Nombre completo, datos fiscales, firma, correo electrónico, acta constitutiva inscrita en el Registro Público de la Propiedad y del Comercio, RFC, poder notarial de su apoderado, nombre completo del apoderado, identificación oficial del apoderado y/o de la persona física en caso de no ser persona moral el Proveedor; teléfono fijo y/o móvil, domicilio (código postal, estado, país, ciudad o municipio, colonia, localidad, entre qué calles, calle y número exterior e interior), puesto en el que labora, y correo electrónico. Datos Bancarios: número de cuenta bancaria, y/o número de CLABE Interbancaria, historial crediticios. Datos de Facturación: Registro Federal de Contribuyentes, factura electrónica, datos bancarios (nombre del banco), cuenta y cuenta CLABE. Documentación en copia: RFC, identificación oficial con fotografía, comprobante de domicilio, acta constitutiva inscrita en el Registro Público de la Propiedad y del Comercio, poder Notarial del apoderado.</li><br>
                  <li>Visitantes al Domicilio Físico de APPS SELLCOM SOLUTIONS. Nombre completo, identificación oficial, imagen o fotografía, firma. </li><br>
                  <li>Visitantes a la Página de Internet de APPS SELLCOM SOLUTIONS. Nombre completo, teléfono móvil y correo electrónico.</li>
                </ol><br><li>APPS SELLCOM SOLUTIONS se obliga a recabar el consentimiento expreso del Titular en términos del artículo 8 de la LFPDPPP, para tratar los datos financieros y/o patrimoniales que se establecen en estas cláusulas, y para dar cumplimiento con las finalidades contenidas en el presente Aviso de Privacidad, con excepción de lo estipulado en el artículo 10, fracciones II y IV de la LFPDPPP y en el artículo 17 del Reglamento de la LFPDPPP; es decir, de aquellos datos que figuren en fuentes de acceso público; y de los que sean recabados con el propósito de cumplir obligaciones derivadas de una relación jurídica.<br>
                <li>El Titular en este acto, bajo protesta de decir verdad, acepta que los datos que ha proporcionado a APPS SELLCOM SOLUTIONS, son veraces, actuales y correctos. Además, se compromete a sacar en paz y a salvo a APPS SELLCOM SOLUTIONS de cualquier demanda o reclamación, derivada de los errores en los datos que le haya entregado. </li><br><li>APPS SELLCOM SOLUTIONS manifiesta que podrá obtener los datos personales del Titular mediante las denominadas fuentes de acceso público, a efecto de validar, actualizar y contactar al Titular, respetando en todo momento la expectativa razonable de privacidad, a que se refiere el artículo 7 de la LFPDPPP. 
              </ol><br>
              <li>Uso de "Cookies" y "Web beacons" </li>
              <ol>
                <li>Es posible que el sitio www.apps-solutions-mx.com haga uso de "cookies" en conexión con ciertas características o funciones. Las cookies son tipos específicos de información que un sitio web transmite al disco duro de la computadora del Titular con el fin de mantener los registros. Las "cookies" pueden servir para facilitar el uso de un sitio web, al guardar contraseñas y preferencias mientras el TITULAR navega en Internet. El sitio: www.apps-solutions-mx.com no usa "cookies" para obtener datos de identificación personal de la computadora del TITULAR que no se hayan enviado originalmente como parte de la "cookie", únicamente se utilizarán para el correcto funcionamiento del sitio.</li><br>
                <li>Por su parte, el sitio hará uso de las "web beacons", las cuales son imágenes insertadas en una página de Internet o correo electrónico, que puede ser utilizado para monitorear el comportamiento de un visitante, como almacenar información sobre la dirección IP del Usuario-TITULAR, duración del tiempo de interacción en dicha página y el tipo de navegador utilizado, entre otros; los cuales serán utilizados para fines estadísticos.</li><br>
                <li>Aunque la mayoría de los navegadores aceptan "cookies" y "web beacons" automáticamente, el Titular puede configurar su navegador para que no los acepte. En la Página de Internet de APPS SELLCOM SOLUTIONS se utilizan "cookies" para mejorar su experiencia en el uso de la web. El Titular podrá cambiar la configuración de las "cookies" en cualquier momento, deshabilitando las opciones de "Cookies en las redes sociales" que son usadas por los botones de "compartir" de las redes sociales, y de las "Cookies funcionales" que son aquellas que le permiten a APPS SELLCOM SOLUTIONS analizar el uso del sitio para que pueda medir y mejorar su rendimiento. Sin embargo, el Titular no podrá deshabilitar las "Cookies solicitadas" ya que las mismas son necesarias para el correcto funcionamiento del sitio.</li><br>
                <li>Para desactivar las "cookies", debe seguir las siguientes instrucciones:</li>
                <ol>
                  <li>Internet Explorer: http://support.microsoft.com/kb/283185</li><br>
                  <li>Firefox: http://support.mozilla.org/es/kb/Habilitar%20y%20deshabilitar%20cookies?s=deshabilitar+cookies&r=0&e=es&as=s</li><br>
                  <li>Opera: http://help.opera.com/Windows/11.60/en/cookies.html</li><br>
                  <li>Safari IPAD: http://manuals.info.apple.com/en_US/iPad_iOS4_User_Guide.pdf</li><br>
                  <li>Safari IPHONE: http://manuals.info.apple.com/en_US/iPhone_iOS3.1_User_Guide.pdf</li><br>
                  <li>Chrome: http://support.google.com/chrome/bin/answer.py?hl=es&answer=95647</li>
                </ol>
              </ol><br>
              <li>Finalidades del tratamiento de los datos personales.</li>
              <ol> 
                <li>APPS SELLCOM SOLUTIONS, por sí mismo o a través de su Encargado, tratará los datos personales del TITULAR, de conformidad con el tipo de relación que tiene con él, para las siguientes Finalidades Primarias:</li><br>
                <ol> 
                  <li>El TITULAR-Candidato:</li><ol type="a">
                  <li>Ponerse en contacto con el TITULAR-Candidato, por cualquier medio, a efecto de dar seguimiento y evaluar la experiencia y estudios del TITULAR-Candidato, para conocer la viabilidad de ser seleccionado y las posibilidades de éxito del mismo en el puesto que pretende desempeñar.</li><br>
                  <li>Conocer la experiencia laboral del TITULAR-Candidato así como sus competencias para el puesto que se está intentando cubrir.</li><br>
                  <li>Realizar un expediente del TITULAR-Candidato, que será resguardado en las oficinas del domicilio físico de APPS SELLCOM SOLUTIONS, en formato físico y electrónico por un período de 4-cuatro años, ambos contados a partir de su obtención, en caso de no ser seleccionado para el puesto que pretende desempeñar.</li><br>
                  <li>En su caso, para realizar los trámites de reclutamiento y selección correspondientes.</li></ol><br>
                  <li>TITULAR-Trabajador:</li><ol type="a">
                  <li>Llevar a cabo el proceso de nómina y pago en la cuenta del TITULAR-Trabajador.</li><br>
                  <li>Realizar un expediente que será resguardado en el domicilio físico de APPS SELLCOM SOLUTIONS, en formato físico y electrónico.</li><br>
                  <li>APPS SELLCOM SOLUTIONS, es respetuoso de la protección de los derechos, promoción de igualdad y prevención de la discriminación hacia los Titulares; por ello solicitará los datos sensibles, en especifico el examen médico que aquí se señala, con la finalidad de tener conocimiento de cómo reaccionar ante una emergencia médica y/o evitar poner en riesgo la salud e integridad del Titular-Trabajador durante el desarrollo de las actividades para las cuales es contratado.</li><br>
                  <li>Llevar a cabo el control de asistencias y horarios de entrada y salida del TITULAR-Trabajador al lugar de trabajo de APPS SELLCOM SOLUTIONS.</li><br>
                  <li>Realizar los trámites necesarios de alta, baja, modificaciones e incapacidades ante el IMSS y demás instituciones gubernamentales en que se requiera.</li><br>
                  <li>Realizar los pagos correspondientes a los beneficiarios de pensiones alimenticias, en caso de que sea requerido por autoridad judicial.</li><br>
                  <li>Almacenar en una base de datos en formato electrónico los datos personales de los trabajadores mencionados en este apartado, a efecto de tener un control y registro del personal; dichos registros serán almacenados durante todo el tiempo de la vigencia de la relación laboral que los vincula, y por 10-diez años posterior a la finalización de dicha relación laboral.</li><br>
                  <li>Los datos personales conservados, en formato físico, serán conservados por APPS SELLCOM SOLUTIONS durante todo el tiempo de la vigencia de la relación laboral que los vincula, y por 5-cinco años posteriores a la finalización de dicha relación laboral.</li></ol><br>
                  <li>TITULAR-Cliente /Prospecto:</li><ol type="a">
                  <li>Integrar un expediente como Cliente/Prospecto, el cual será resguardado en el domicilio físico de APPS SELLCOM SOLUTIONS, en formato físico y/o electrónico.</li><br>
                  <li>Dar pleno cumplimiento a los servicios y/o productos que ofrece APPS SELLCOM SOLUTIONS y que son adquiridos y/o son del interés del TITULAR-Cliente.</li><br>
                  <li>Dar seguimiento al TITULAR-Cliente /Prospecto respecto al proceso de contratación y/o de post-contratación de sus productos y/o servicios.</li><br>
                  <li>Brindarle información acerca de los productos y/o servicios que ofrece APPS SELLCOM SOLUTIONS, incluyendo el envío de boletines informativos.</li><br>
                  <li>Contactar por cualquier medio, vía telefónica, vía correo electrónico, a los TITULARES-Clientes/Prospectos, para atender y dar seguimiento a sus solicitudes de información de productos y/o servicios ofrecidos por APPS SELLCOM SOLUTIONS.</li><br>
                  <li>Contactar al TITULAR-Cliente/Prospecto por cualquier medio, a fin de realizar aclaraciones, cobranza y seguimiento sobre pagos o cualquier otra situación derivada de los productos y/o servicios proporcionados por APPS SELLCOM SOLUTIONS.</li><br>
                  <li>Contactar vía telefónica o por correo electrónico al TITULAR-Cliente/Prospecto, para atender y dar seguimiento a sus comentarios o solicitudes enviados a través del apartado "Contacto" de la página de www.apps-solutionsmx.com</li><br>
                  <li>Contactar vía telefónica o por correo electrónico al TITULAR-Cliente/Prospecto, para dar seguimiento y evaluación de la calidad de los productos y/o servicios otorgados por APPS SELLCOM SOLUTIONS, tales como quejas o comentarios sobre los mismos.</li><br>
                  <li>Emisión de facturación electrónica derivada de los productos y/o servicios ofrecidos por APPS SELLCOM SOLUTIONS. Dichas facturas, tanto en formato físico como electrónico, serán conservadas por APPS SELLCOM SOLUTIONS durante el plazo de vigencia de las relaciones comerciales, y por 10-diez años posteriores a finalizadas las mismas.</li><br>
                  <li>Almacenar en una base de datos en formato electrónico, la información de los Clientes/Prospectos que contacten a APPS SELLCOM SOLUTIONS vía telefónica o por correo electrónico a efecto de realizar consultas o solicitar información de los productos y/o servicios; dichos registros serán almacenados por un término de 5-cinco años contado a partir de su obtención, en el caso de que no se haya comercializado ningún servicio, es decir Prospectos.</li></ol>
                </ol></ol>
              </ol></ol>
            </li></ol>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/libs/jquery.validate.js"></script>
    <script src="../js/libs/jquery.file.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/sellcom_dass.js"></script>
    <script src="../js/controllers/downloads.js"></script>
    <script src="../js/controllers/form.js"></script>
  </body>
</html>

src/html/sections/aviso-privacidad.pug
//-Configuración y variables globales del proyecto
include ../config/_variables
//-
	Ajustes de la configuración global para esta sección
- global_path = '../'
//-
	Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
	Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Aviso de privacidad'
- metadata['description'] = 'Ahora costos con las soluciones de Sellcom; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Aruba, bajo demanda, on demand, soluciones Aruba'
- var landing = 'aviso-privacidad'

- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

//- Imagenes del nuevo sitio
- var local = {}
- local['images'] = {}
- local.images['banneraviso'] = global_path + images.products_netapp + 'vertical_soluciones_banneraviso.png'


doctype html
html(lang=site.lang)
	include ../template/_head
	body
		include ../template/_header
		
		section.section-banner-legal
			h2 Aviso de privacidad
		section.device-text-one
			.container
				.row
					.col-10.middle
						h3 AVISO DE PRIVACIDAD INTEGRAL
						ol 
						li Generales
							ol
								li APPS SELLCOM SOLUTIONS, S.A. DE C.V., (EN LO SUCESIVO "APPS SELLCOM SOLUTIONS") ES UNA SOCIEDAD MERCANTIL COMPROMETIDA Y RESPETUOSA DE LOS DERECHOS SOBRE LOS DATOS PERSONALES DE LAS PERSONAS FÍSICAS, RECONOCIDOS EN EL ARTÍCULO 16 PÁRRAFO SEGUNDO DE LA CONSTITUCIÓN POLÍTICA DE LOS ESTADOS UNIDOS MEXICANOS, ASÍ COMO DE LAS DISPOSICIONES DE LA LEY FEDERAL DE PROTECCIÓN DE DATOS PERSONALES EN POSESIÓN DE LOS PARTICULARES Y SU RESPECTIVO REGLAMENTO. POR LO ANTERIOR, Y EN CUMPLIMIENTO DE DICHA NORMATIVA, PONE A SU DISPOSICIÓN EL PRESENTE AVISO DE PRIVACIDAD EN ARAS DE QUE EL TITULAR DE LOS DATOS PERSONALES SE ENCUENTRE FACULTADO A EJERCITAR SU DERECHO A LA AUTODETERMINACIÓN INFORMATIVA.
								p
								li ESTE AVISO DE PRIVACIDAD SE PONE A DISPOSICIÓN DE USTED (EN ADELANTE REFERIDO COMO EL "TITULAR" O "LOS TITULARES"), EN TÉRMINOS DE LO DISPUESTO POR EL ARTÍCULO 1803 DEL CÓDIGO CIVIL FEDERAL POR LOS SIGUIENTES MEDIOS, RECABANDO EL CONSENTIMIENTO DE LOS TITULARES DE LA SIGUIENTE FORMA:
								br
								ol
									li EN CASO DE QUE ESTE AVISO DE PRIVACIDAD ESTÉ DISPONIBLE A TRAVÉS DE LA PÁGINA DE INTERNET CUYO DOMINIO ES: www.apps-solutions-mx.com EN ADELANTE DENOMINADA COMO LA "Página de Internet de APPS SELLCOM SOLUTIONS" O ALGÚN OTRO DISPOSITIVO ELECTRÓNICO, AL INGRESAR Y UTILIZAR LA PAGÍNA DE INTERNET DE APPS SELLCOM SOLUTIONS CONSTITUYE MANIFESTACIÓN DE SU CONSENTIMIENTO PARA QUE APPS SELLCOM SOLUTIONS REALICE EL TRATAMIENTO DE SUS DATOS, DE CONFORMIDAD CON ESTE AVISO DE PRIVACIDAD. LA PÁGINA DE INTERNET DE APPS SELLCOM SOLUTIONS NUNCA PEDIRÁ DATOS SENSIBLES.
									br
									li EN CASO DE QUE ESTE AVISO DE PRIVACIDAD ESTÉ DISPONIBLE POR ESCRITO EN EL DOMICILIO FÍSICO DE APPS SELLCOM SOLUTIONS, SU FIRMA, RÚBRICA, NOMBRE O HUELLA, O BIEN, AL PROPORCIONAR SUS DATOS EN LAS INSTALACIONES DE APPS SELLCOM SOLUTIONS, CONSTITUYE UNA MANIFESTACIÓN DE SU CONSENTIMIENTO PARA QUE APPS SELLCOM SOLUTIONS REALICE EL TRATAMIENTO DE SUS DATOS, DE CONFORMIDAD CON ESTE AVISO DE PRIVACIDAD.
								br
								li SI EL TITULAR NO ACEPTA EN FORMA ABSOLUTA Y COMPLETA TODAS LAS CLÁUSULAS DEL PRESENTE AVISO, DEBERÁ ABSTENERSE DE PROPORCIONAR CUALQUIER TIPO DE DATO PERSONAL O INFORMACIÓN A APPS SELLCOM SOLUTIONS, POR CUALQUIER MEDIO, INCLUYENDO LA Página de Internet de APPS SELLCOM SOLUTIONS.
								br
								li SALVO POR LO DISPUESTO EN EL PUNTO 1.4. EN EL CASO DE QUE EL TITULAR PROPORCIONE A APPS SELLCOM SOLUTIONS SUS DATOS PERSONALES, DICHA ACCIÓN SE CONSIDERARÁ COMO SU ABSOLUTA Y EXPRESA ACEPTACIÓN AL AVISO DE PRIVACIDAD PUBLICADO O NOTIFICADO POR CUALQUIERA DE LOS MEDIOS SEÑALADOS EN EL NUMERAL 1.2 POR APPS SELLCOM SOLUTIONS, EN EL MOMENTO MISMO EN QUE EL TITULAR PROPORCIONE SUS DATOS PERSONALES, Y/O EN EL QUE TENGA ACCESO, Y/O SE LE PONGA A DISPOSICIÓN ESTE AVISO DE PRIVACIDAD.
							br
							li Identidad y domicilio del responsable que recaba los datos personales 
							ol
								li El responsable del tratamiento de los datos personales es APPS SELLCOM SOLUTIONS, quien se compromete a respetar lo establecido en el presente Aviso de Privacidad (en lo sucesivo "El Aviso"), que está puesto a su disposición en cumplimiento a lo establecido en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (en lo sucesivo identificada como la "Ley" o "LFPDPPP", indistintamente) y en su respectivo Reglamento, y es aplicable respecto de: (i) los datos personales de las personas físicas que APPS SELLCOM SOLUTIONS obtiene de los candidatos, trabajadores, clientes/prospectos, proveedores, visitantes en el domicilio físico de APPS SELLCOM SOLUTIONS y visitantes a la Página de Internet de APPS SELLCOM SOLUTIONS y/o (ii) las personas morales, en lo que sean compatibles con los datos personales de una persona física (Titular) , con motivo de los productos, servicios que APPS SELLCOM SOLUTIONS ofrece o celebra.
								br
								li El domicilio que para los efectos del presente aviso establece APPS SELLCOM SOLUTIONS es el ubicado en Calle Palo Solo No. 7, Fraccionamiento Hacienda de las Palmas, Huixquilucan, Estado de México; C.P.52763 ("Domicilio Físico de APPS SELLCOM SOLUTIONS").
							br
							li Definiciones
							ol
								li Titular. La persona física y/o moral en lo que sea compatible con los datos de una persona física (Titular) a quien identifican o corresponden los datos personales.
								br
								li Responsable. Persona física o moral de carácter privado que decide sobre el tratamiento de los datos personales.
								br
								li Encargado. La persona física o moral que sola o conjuntamente con otras trate datos personales por cuenta del Responsable.
								br
								li Tratamiento. La obtención, uso (que incluye el acceso, manejo, aprovechamiento, transferencia o disposición de datos personales), divulgación o almacenamiento de datos personales por cualquier medio.
								br
								ol
									li Transferencia. Toda comunicación de datos realizada a persona distinta del Responsable o Encargado del tratamiento.
									br
									li Remisión. La comunicación de datos personales entre el Responsable y el Encargado, dentro o fuera del territorio mexicano.
									br
								li Tercero. La persona física o moral, nacional o extranjera, distinta del Titular o del Responsable.
								br
								li Derechos ARCO. Derechos de Acceso, Rectificación, Cancelación y Oposición.
								br
								li Datos personales sensibles: Aquellos datos personales que afectan a la esfera más íntima de su Titular, o cuya utilización indebida pueda dar origen a discriminación o conlleve un riesgo grave para éste. En particular, se consideran sensibles aquellos que puedan revelar aspectos como origen racial o étnico, estado de salud presente y futuro, información genética, creencias religiosas, filosóficas y morales, afiliación sindical, opiniones, preferencia sexual.
								br
								li Consentimiento Expreso. Se entenderá que el Titular ha consentido en el tratamiento de sus datos patrimoniales o financieros, cuando el Titular plasme su aceptación expresa y por escrito, por medio de su firma autógrafa, firma electrónica, rúbrica o huella.
								br
								li Consentimiento Tácito. Se entenderá que el Titular ha consentido en el tratamiento de los datos personales,cuando habiéndose puesto a su disposición el Aviso de Privacidad, no manifieste su oposición.
								br
								li Finalidades Primarias. Aquellas finalidades para las cuales se solicitan principalmente los datos personales y por lo que se da origen a la relación entre APPS SELLCOM SOLUTIONS y el Titular.
								br
								li Finalidades Secundarias. Aquellas finalidades que no son imprescindibles para la relación entre APPS SELLCOM SOLUTIONS y el Titular, pero que con su tratamiento contribuye al cumplimiento del objeto social de APPS SELLCOM SOLUTIONS.
							br
							li Datos personales que se recaban
							ol
								li El Titular reconoce y acepta que APPS SELLCOM SOLUTIONS, obtendrá directamente y/o a través de encargados,por cualquier medio, los siguientes datos personales:
								br
								ol
									li Candidatos. Curriculum Vitae que incluirá los siguientes datos: Generales: Nombre completo, sexo, nacionalidad, estado civil, fecha y lugar de nacimiento, edad, imagen o fotografía, huellas digitales, identificación oficial con fotografía, cédula profesional, correo electrónico, teléfono fijo y/o móvil, domicilio (código postal, estado, país, ciudad o municipio, colonia, localidad, entre qué calles, calle y número exterior e interior), firma, Clave Única de Registro de Población (CURP). Referencias laborales: (de las cuales, el Titular asegura contar con el consentimiento para compartir los datos personales de terceros) empresas donde ha laborado, cartas de recomendación, nombre de los jefes inmediatos, teléfonos.
									br
									li Trabajadores. Curriculum Vitae que incluirá los siguientes datos: Generales: Nombre completo, sexo, nacionalidad, estado civil, fecha y lugar de nacimiento, edad, imagen o fotografía, huellas digitales, CURP, RFC (Registro Federal de Contribuyentes), identificación oficial con fotografía, cédula profesional, correo electrónico, teléfono fijo y/o móvil, número de afiliación al Instituto Mexicano del Seguro Social, domicilio (código postal, estado, país, ciudad o municipio, colonia, localidad, entre qué calles, calle y número exterior e interior), y firma. Datos Bancarios: nombre del banco, cuenta y cuenta CLABE, datos de tarjeta de débito. Datos sensibles: Examen Médico. Referencias laborales: (de las cuales, el Titular asegura contar con el consentimiento para compartir los datos personales de terceros) empresas donde ha laborado, cartas de recomendación, nombre de los jefes inmediatos, teléfonos. Documentación en copia simple: RFC, CUPR, identificación oficial con fotografía, acta de nacimiento, comprobante de domicilio, comprobante de estudios, cédula profesional, constancias de capacitaciones.
									br
									li Cliente/Prospecto. Nombre completo, identificación oficial, teléfono y/o móvil, domicilio (código postal, estado, país, ciudad o municipio, colonia, localidad, entre qué calles, calle y número exterior e interior), correo electrónico; acta constitutiva inscrita en el Registro Público de la Propiedad y del Comercio, RFC, poder notarial de su apoderado, nombre completo del apoderado, identificación oficial del apoderado y/o persona física en caso de no ser persona moral. Datos Bancarios: nombre del banco, cuenta y cuenta CLABE. Documentación en copia: RFC, identificación oficial con fotografía, comprobante de domicilio, acta constitutiva inscrita en el Registro Público de la Propiedad y del Comercio, poder Notarial del apoderado.
									br
									li Proveedores, Colaboradores, Prestadores de servicios (conjuntamente "Proveedores"). Nombre completo, datos fiscales, firma, correo electrónico, acta constitutiva inscrita en el Registro Público de la Propiedad y del Comercio, RFC, poder notarial de su apoderado, nombre completo del apoderado, identificación oficial del apoderado y/o de la persona física en caso de no ser persona moral el Proveedor; teléfono fijo y/o móvil, domicilio (código postal, estado, país, ciudad o municipio, colonia, localidad, entre qué calles, calle y número exterior e interior), puesto en el que labora, y correo electrónico. Datos Bancarios: número de cuenta bancaria, y/o número de CLABE Interbancaria, historial crediticios. Datos de Facturación: Registro Federal de Contribuyentes, factura electrónica, datos bancarios (nombre del banco), cuenta y cuenta CLABE. Documentación en copia: RFC, identificación oficial con fotografía, comprobante de domicilio, acta constitutiva inscrita en el Registro Público de la Propiedad y del Comercio, poder Notarial del apoderado.
									br
									li Visitantes al Domicilio Físico de APPS SELLCOM SOLUTIONS. Nombre completo, identificación oficial, imagen o fotografía, firma. 
									br
									li Visitantes a la Página de Internet de APPS SELLCOM SOLUTIONS. Nombre completo, teléfono móvil y correo electrónico.
								br
								<li>APPS SELLCOM SOLUTIONS se obliga a recabar el consentimiento expreso del Titular en términos del artículo 8 de la LFPDPPP, para tratar los datos financieros y/o patrimoniales que se establecen en estas cláusulas, y para dar cumplimiento con las finalidades contenidas en el presente Aviso de Privacidad, con excepción de lo estipulado en el artículo 10, fracciones II y IV de la LFPDPPP y en el artículo 17 del Reglamento de la LFPDPPP; es decir, de aquellos datos que figuren en fuentes de acceso público; y de los que sean recabados con el propósito de cumplir obligaciones derivadas de una relación jurídica.
								br
								li El Titular en este acto, bajo protesta de decir verdad, acepta que los datos que ha proporcionado a APPS SELLCOM SOLUTIONS, son veraces, actuales y correctos. Además, se compromete a sacar en paz y a salvo a APPS SELLCOM SOLUTIONS de cualquier demanda o reclamación, derivada de los errores en los datos que le haya entregado. 
								br
								<li>APPS SELLCOM SOLUTIONS manifiesta que podrá obtener los datos personales del Titular mediante las denominadas fuentes de acceso público, a efecto de validar, actualizar y contactar al Titular, respetando en todo momento la expectativa razonable de privacidad, a que se refiere el artículo 7 de la LFPDPPP. 
							br
							li Uso de "Cookies" y "Web beacons" 
							ol
								li Es posible que el sitio www.apps-solutions-mx.com haga uso de "cookies" en conexión con ciertas características o funciones. Las cookies son tipos específicos de información que un sitio web transmite al disco duro de la computadora del Titular con el fin de mantener los registros. Las "cookies" pueden servir para facilitar el uso de un sitio web, al guardar contraseñas y preferencias mientras el TITULAR navega en Internet. El sitio: www.apps-solutions-mx.com no usa "cookies" para obtener datos de identificación personal de la computadora del TITULAR que no se hayan enviado originalmente como parte de la "cookie", únicamente se utilizarán para el correcto funcionamiento del sitio.
								br
								li Por su parte, el sitio hará uso de las "web beacons", las cuales son imágenes insertadas en una página de Internet o correo electrónico, que puede ser utilizado para monitorear el comportamiento de un visitante, como almacenar información sobre la dirección IP del Usuario-TITULAR, duración del tiempo de interacción en dicha página y el tipo de navegador utilizado, entre otros; los cuales serán utilizados para fines estadísticos.
								br
								li Aunque la mayoría de los navegadores aceptan "cookies" y "web beacons" automáticamente, el Titular puede configurar su navegador para que no los acepte. En la Página de Internet de APPS SELLCOM SOLUTIONS se utilizan "cookies" para mejorar su experiencia en el uso de la web. El Titular podrá cambiar la configuración de las "cookies" en cualquier momento, deshabilitando las opciones de "Cookies en las redes sociales" que son usadas por los botones de "compartir" de las redes sociales, y de las "Cookies funcionales" que son aquellas que le permiten a APPS SELLCOM SOLUTIONS analizar el uso del sitio para que pueda medir y mejorar su rendimiento. Sin embargo, el Titular no podrá deshabilitar las "Cookies solicitadas" ya que las mismas son necesarias para el correcto funcionamiento del sitio.
								br
								li Para desactivar las "cookies", debe seguir las siguientes instrucciones:
								ol
									li Internet Explorer: http://support.microsoft.com/kb/283185
									br
									li Firefox: http://support.mozilla.org/es/kb/Habilitar%20y%20deshabilitar%20cookies?s=deshabilitar+cookies&r=0&e=es&as=s
									br
									li Opera: http://help.opera.com/Windows/11.60/en/cookies.html
									br
									li Safari IPAD: http://manuals.info.apple.com/en_US/iPad_iOS4_User_Guide.pdf
									br
									li Safari IPHONE: http://manuals.info.apple.com/en_US/iPhone_iOS3.1_User_Guide.pdf
									br
									li Chrome: http://support.google.com/chrome/bin/answer.py?hl=es&answer=95647
							br
							li Finalidades del tratamiento de los datos personales.
							ol 
								li APPS SELLCOM SOLUTIONS, por sí mismo o a través de su Encargado, tratará los datos personales del TITULAR, de conformidad con el tipo de relación que tiene con él, para las siguientes Finalidades Primarias:
								br
								ol 
									li El TITULAR-Candidato:
									<ol type="a">
										li Ponerse en contacto con el TITULAR-Candidato, por cualquier medio, a efecto de dar seguimiento y evaluar la experiencia y estudios del TITULAR-Candidato, para conocer la viabilidad de ser seleccionado y las posibilidades de éxito del mismo en el puesto que pretende desempeñar.
										br
										li Conocer la experiencia laboral del TITULAR-Candidato así como sus competencias para el puesto que se está intentando cubrir.
										br
										li Realizar un expediente del TITULAR-Candidato, que será resguardado en las oficinas del domicilio físico de APPS SELLCOM SOLUTIONS, en formato físico y electrónico por un período de 4-cuatro años, ambos contados a partir de su obtención, en caso de no ser seleccionado para el puesto que pretende desempeñar.
										br
										li En su caso, para realizar los trámites de reclutamiento y selección correspondientes.
									</ol>
									br
									li TITULAR-Trabajador:
									<ol type="a">
										li Llevar a cabo el proceso de nómina y pago en la cuenta del TITULAR-Trabajador.
										br
										li Realizar un expediente que será resguardado en el domicilio físico de APPS SELLCOM SOLUTIONS, en formato físico y electrónico.
										br
										li APPS SELLCOM SOLUTIONS, es respetuoso de la protección de los derechos, promoción de igualdad y prevención de la discriminación hacia los Titulares; por ello solicitará los datos sensibles, en especifico el examen médico que aquí se señala, con la finalidad de tener conocimiento de cómo reaccionar ante una emergencia médica y/o evitar poner en riesgo la salud e integridad del Titular-Trabajador durante el desarrollo de las actividades para las cuales es contratado.
										br
										li Llevar a cabo el control de asistencias y horarios de entrada y salida del TITULAR-Trabajador al lugar de trabajo de APPS SELLCOM SOLUTIONS.
										br
										li Realizar los trámites necesarios de alta, baja, modificaciones e incapacidades ante el IMSS y demás instituciones gubernamentales en que se requiera.
										br
										li Realizar los pagos correspondientes a los beneficiarios de pensiones alimenticias, en caso de que sea requerido por autoridad judicial.
										br
										li Almacenar en una base de datos en formato electrónico los datos personales de los trabajadores mencionados en este apartado, a efecto de tener un control y registro del personal; dichos registros serán almacenados durante todo el tiempo de la vigencia de la relación laboral que los vincula, y por 10-diez años posterior a la finalización de dicha relación laboral.
										br
										li Los datos personales conservados, en formato físico, serán conservados por APPS SELLCOM SOLUTIONS durante todo el tiempo de la vigencia de la relación laboral que los vincula, y por 5-cinco años posteriores a la finalización de dicha relación laboral.
									</ol>
									br
									li TITULAR-Cliente /Prospecto:
									<ol type="a">
										li Integrar un expediente como Cliente/Prospecto, el cual será resguardado en el domicilio físico de APPS SELLCOM SOLUTIONS, en formato físico y/o electrónico.
										br
										li Dar pleno cumplimiento a los servicios y/o productos que ofrece APPS SELLCOM SOLUTIONS y que son adquiridos y/o son del interés del TITULAR-Cliente.
										br
										li Dar seguimiento al TITULAR-Cliente /Prospecto respecto al proceso de contratación y/o de post-contratación de sus productos y/o servicios.
										br
										li Brindarle información acerca de los productos y/o servicios que ofrece APPS SELLCOM SOLUTIONS, incluyendo el envío de boletines informativos.
										br
										li Contactar por cualquier medio, vía telefónica, vía correo electrónico, a los TITULARES-Clientes/Prospectos, para atender y dar seguimiento a sus solicitudes de información de productos y/o servicios ofrecidos por APPS SELLCOM SOLUTIONS.
										br
										li Contactar al TITULAR-Cliente/Prospecto por cualquier medio, a fin de realizar aclaraciones, cobranza y seguimiento sobre pagos o cualquier otra situación derivada de los productos y/o servicios proporcionados por APPS SELLCOM SOLUTIONS.
										br
										li Contactar vía telefónica o por correo electrónico al TITULAR-Cliente/Prospecto, para atender y dar seguimiento a sus comentarios o solicitudes enviados a través del apartado "Contacto" de la página de www.apps-solutionsmx.com
										br
										li Contactar vía telefónica o por correo electrónico al TITULAR-Cliente/Prospecto, para dar seguimiento y evaluación de la calidad de los productos y/o servicios otorgados por APPS SELLCOM SOLUTIONS, tales como quejas o comentarios sobre los mismos.
										br
										li Emisión de facturación electrónica derivada de los productos y/o servicios ofrecidos por APPS SELLCOM SOLUTIONS. Dichas facturas, tanto en formato físico como electrónico, serán conservadas por APPS SELLCOM SOLUTIONS durante el plazo de vigencia de las relaciones comerciales, y por 10-diez años posteriores a finalizadas las mismas.
										br
										li Almacenar en una base de datos en formato electrónico, la información de los Clientes/Prospectos que contacten a APPS SELLCOM SOLUTIONS vía telefónica o por correo electrónico a efecto de realizar consultas o solicitar información de los productos y/o servicios; dichos registros serán almacenados por un término de 5-cinco años contado a partir de su obtención, en el caso de que no se haya comercializado ningún servicio, es decir Prospectos.
										
									</ol>
								</ol>
							</ol>
						</ol>
		include ../template/_footer			
