dist/dev/sections/awards.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Premios</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Ahora costos con las soluciones de Apple; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!">
    <meta name="keywords" content="Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Apple, bajo demanda, on demand, soluciones Apple">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-video-dass"><img class="banner" src="../images/products_apple/bannerprincipal.jpg" alt="banner">
      <div class="boxVideo">
        <video id="secondVideo" autoplay loop muted>
          <source src="../images/video/evento.mp4" type="video/mp4">
        </video>
      </div>
      <div class="container">
        <div class="content"><br>
          <div class="title-sections">
            <h1>Nuestros Premios</h1>
          </div>
          <p>La persistencia en equipo es el secreto de nuestros logros</p>
        </div>
      </div>
    </section>
    <section class="section-about-dass-aw" id="dass">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="title-sections-text">
              <h1>HP</h1>
            </div>
            <ul>
              <li>
                <h2 class="demo">HP México </h2>
                <p>Cross Portfolio Growth Award</p>
                <p>Partner in excellence Award APC</p>
                <h1>2011</h1>
              </li>
              <li>
                <h2 class="demo">HP México </h2>
                <p>Best Performance Award </p>
                <p>Partner in Excellence Award GPC</p>
                <h1>2012</h1>
              </li>
              <li>
                <h2 class="demo">HP Grafend </h2>
                <p>Mejor socio de ventas de equipo en dolares</p>
                <h1>2012</h1>
              </li>
              <li>
                <h2 class="demo">HP Grafend </h2>
                <p>Partner con mayores ventas de productos High PPS FY12</p>
                <h1>2013</h1>
              </li>
              <li>
                <h2 class="demo">HP Intel </h2>
                <p>Sales Award GPC</p>
                <h1>2013</h1>
              </li>
              <li>
                <h2 class="demo">HP Intel </h2>
                <p>Mayor volumen de ventas EG zona centro</p>
                <h1>2013</h1>
              </li>
              <li>
                <h2 class="demo">HP Inc. </h2>
                <p>Mayor crecimiento en ventas de productos especializados de computo</p>
                <h1>2016</h1>
              </li>
              <li>
                <h2 class="demo">HP Inc. </h2>
                <p>Partner First Platinum</p>
                <h1>2016</h1>
              </li>
              <li>
                <h2 class="demo">HP Inc. </h2>
                <p>Partner First Platinum</p>
                <h1>2017</h1>
              </li>
            </ul>
          </div>
          <div class="col-12">
            <div class="title-sections-text">
              <h1>Ingram Micro</h1>
            </div>
            <ul>
              <li>
                <h2 class="demo">Soles 9</h2>
                <p>1er. Lugar ventas movilidad</p>
                <p>HP PSG</p>
                <h1>2004</h1>
              </li>
              <li>
                <h2 class="demo">Soles 9</h2>
                <p>1er. Lugar ventas </p>
                <p>TRIPPLITE</p>
                <h1>2004</h1>
              </li>
              <li>
                <h2 class="demo">Soles 9</h2>
                <p>1er. Lugar ventas</p>
                <p>VIENSONIC</p>
                <h1>2004</h1>
              </li>
              <li>
                <h2 class="demo">Soles 12</h2>
                <p>Mejor canal proyectos</p>
                <p>HP PSG</p>
                <h1>2007</h1>
              </li>
              <li>
                <h2 class="demo">Soles 13</h2>
                <p>Mayores ventas de proyectos de volumen</p>
                <p>HP IPG </p>
                <h1>2008</h1>
              </li>
              <li>
                <h2 class="demo">Soles 14</h2>
                <p>Reconocimiento especial mayores ventas </p>
                <p>CDMX</p>
                <h1>2009</h1>
              </li>
              <li>
                <h2 class="demo">Soles 16</h2>
                <p>Mayor venta proyectos de valor a nivel nacional</p>
                <h1>2011</h1>
              </li>
              <li>
                <h2 class="demo">Soles 16</h2>
                <p>Mayor crecimiento hardware</p>
                <h1>2011</h1>
              </li>
              <li>
                <h2 class="demo">Soles 18</h2>
                <p>Mayor venta</p>
                <p>HP PSG</p>
                <h1>2013</h1>
              </li>
              <li>
                <h2 class="demo">Soles 19</h2>
                <p>Mayor venta zona metropolitana</p>
                <h1>2014</h1>
              </li>
              <li>
                <h2 class="demo">Soles 19</h2>
                <p>Mayor venta comercial</p>
                <p>HP</p>
                <h1>2014</h1>
              </li>
              <li>
                <h2 class="demo">Soles 19</h2>
                <p>Mayor crecimiento de proyectos</p>
                <p>HP EG</p>
                <h1>2014</h1>
              </li>
              <li>
                <h2 class="demo">Soles 20</h2>
                <p>Mayor venta</p>
                <p>CDMX</p>
                <h1>2015</h1>
              </li>
            </ul>
          </div>
          <div class="col-12">
            <div class="title-sections-text">
              <h1>Monarca</h1>
            </div>
            <ul>
              <li>
                <h2 class="demo">Monarca</h2>
                <p>Clientes con mayores ventas</p>
                <p>HP</p>
                <h1>2006</h1>
              </li>
              <li>
                <h2 class="demo">Monarca</h2>
                <p>Distribuidor con mejor desempeño</p>
                <p>HP</p>
                <h1>2007</h1>
              </li>
              <li>
                <h2 class="demo">Monarca</h2>
                <p>Distribuidor con mayor volumen de ventas </p>
                <p>PSG</p>
                <h1>2008</h1>
              </li>
              <li>
                <h2 class="demo">Monarca</h2>
                <p>Distribuidor del año zona centro</p>
                <p>PSG</p>
                <h1>2010</h1>
              </li>
              <li>
                <h2 class="demo">Monarca</h2>
                <p>Distribuidor del año porcentaje de crecimiento</p>
                <p>EB</p>
                <h1>2010</h1>
              </li>
              <li>
                <h2 class="demo">Monarca</h2>
                <p>Mejor canal distribución</p>
                <p>HP</p>
                <h1>2010</h1>
              </li>
              <li>
                <h2 class="demo">Monarca</h2>
                <p>Canal con mayor volumen de ventas zona centro</p>
                <p>PPS</p>
                <h1>2013</h1>
              </li>
              <li>
                <h2 class="demo">Monarca</h2>
                <p>Canal con mayor volumen de ventas por zona geográfica centro</p>
                <p>EG</p>
                <h1>2014</h1>
              </li>
              <li>
                <h2 class="demo">Monarca</h2>
                <p>Canal con mejor desempeño cómputo personal comercial</p>
                <p>EG</p>
                <h1>2014</h1>
              </li>
            </ul>
          </div>
          <div class="col-12">
            <div class="title-sections-text">
              <h1>Intel</h1>
            </div>
            <ul>
              <li>
                <h2 class="demo">Intel</h2>
                <p>Technology Provider Platinum  </p>
                <h1>2016</h1>
              </li>
              <li>
                <h2 class="demo">Intel</h2>
                <p>Technology Provider Platinum  </p>
                <h1>2017
                  <div class="col-12"></div>
                </h1>
              </li>
            </ul>
            <div class="title-sections-text">
              <h1>CompuSoluciones</h1>
            </div>
            <ul>
              <li>
                <h2 class="demo">CompuSoluciones </h2>
                <p>Mayor volumen de ventas TEAM</p>
                <p>HP</p>
                <h1>2013</h1>
              </li>
              <li>
                <h2 class="demo">CompuSoluciones </h2>
                <p>1er. Lugar de Ventas TEAM</p>
                <p>HP</p>
                <h1>2014</h1>
              </li>
            </ul>
          </div>
          <div class="col-12">
            <div class="title-sections-text">
              <h1>Team</h1>
            </div>
            <ul>
              <li>
                <h2 class="demo">Team </h2>
                <p>Mayor volumen de ventas TEAM México HP </p>
                <h1>2005</h1>
              </li>
              <li>
                <h2 class="demo">Team </h2>
                <p>1er. Lugar de Ventas TEAM Valle</p>
                <h1>2010</h1>
              </li>
            </ul>
          </div>
          <div class="col-12">
            <div class="title-sections-text">
              <h1>Redhat</h1>
            </div>
            <ul>
              <li class="w-100">
                <h2 class="demo">ReadHat</h2>
                <p>Quota Achievement</p>
                <p>FY16</p>
              </li>
            </ul>
          </div>
          <div class="col-12">
            <div class="title-sections-text">
              <h1>TechData</h1>
            </div>
            <ul>
              <li class="w-100">
                <h2 class="demo">TechData</h2>
                <p>Clientes con mayores ventas </p>
                <h1>2010</h1>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/libs/jquery.validate.js"></script>
    <script src="../js/libs/jquery.file.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/sellcom_dass.js"></script>
    <script src="../js/controllers/downloads.js"></script>
    <script src="../js/controllers/form.js"></script>
  </body>
</html>
<script type="text/javascript" src="../js/libs/jquery.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<script type="text/javascript" src="../js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../js/libs/jquery.file.js"></script>
<script type="text/javascript" src="../js/plugins/slick.js"></script>
<script type="text/javascript" src="../js/controllers/sellcom_dass.js"></script>
<script type="text/javascript" src="../js/controllers/downloads.js"></script>
<script type="text/javascript" src="../js/controllers/form.js"></script>

src/html/sections/awards.pug
//-Configuración y variables globales del proyecto
include ../config/_variables
//-
    Ajustes de la configuración global para esta sección
- global_path = '../'
//-
    Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
    Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Premios'
- metadata['description'] = 'Ahora costos con las soluciones de Apple; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Apple, bajo demanda, on demand, soluciones Apple'
- var landing = 'apple'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_apple + 'bannerprincipal.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Apple_Whitepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'Apple_casos_de_uso.pdf'

doctype html
html(lang=site.lang)
    include ../template/_head
    body
        include ../template/_header
        section.section-video-dass
            img.banner(src=local.images.banner, alt="banner")
            .boxVideo
                video#secondVideo(autoplay loop muted)
                    source(src="../images/video/evento.mp4" type="video/mp4")
            .container
                .content
                    br
                    .title-sections
                        h1 Nuestros Premios
                    p La persistencia en equipo es el secreto de nuestros logros
        section.section-about-dass-aw#dass
            .container
                .row
                    .col-12
                        .title-sections-text
                            h1 HP
                        ul
                            li
                                h2.demo HP México 
                                p Cross Portfolio Growth Award
                                p Partner in excellence Award APC
                                h1 2011
                            li
                                h2.demo HP México 
                                p Best Performance Award 
                                p Partner in Excellence Award GPC
                                h1 2012
                            li
                                h2.demo HP Grafend 
                                p Mejor socio de ventas de equipo en dolares
                                h1 2012
                            li
                                h2.demo HP Grafend 
                                p Partner con mayores ventas de productos High PPS FY12
                                h1 2013
                            li
                                h2.demo HP Intel 
                                p Sales Award GPC
                                h1 2013
                            li
                                h2.demo HP Intel 
                                p Mayor volumen de ventas EG zona centro
                                h1 2013
                            li
                                h2.demo HP Inc. 
                                p Mayor crecimiento en ventas de productos especializados de computo
                                h1 2016
                            li
                                h2.demo HP Inc. 
                                p Partner First Platinum
                                h1 2016
                            li
                                h2.demo HP Inc. 
                                p Partner First Platinum
                                h1 2017
                    .col-12
                        .title-sections-text
                            h1 Ingram Micro
                        ul
                            li
                                h2.demo Soles 9
                                p 1er. Lugar ventas movilidad
                                p HP PSG
                                h1 2004
                            li
                                h2.demo Soles 9
                                p 1er. Lugar ventas 
                                p TRIPPLITE
                                h1 2004
                            li
                                h2.demo Soles 9
                                p 1er. Lugar ventas
                                p VIENSONIC
                                h1 2004
                            li
                                h2.demo Soles 12
                                p Mejor canal proyectos
                                p HP PSG
                                h1 2007
                            li
                                h2.demo Soles 13
                                p Mayores ventas de proyectos de volumen
                                p HP IPG 
                                h1 2008
                            li
                                h2.demo Soles 14
                                p Reconocimiento especial mayores ventas 
                                p CDMX
                                h1 2009
                            li
                                h2.demo Soles 16
                                p Mayor venta proyectos de valor a nivel nacional
                                h1 2011
                            li
                                h2.demo Soles 16
                                p Mayor crecimiento hardware
                                h1 2011
                            li
                                h2.demo Soles 18
                                p Mayor venta
                                p HP PSG
                                h1 2013
                            li
                                h2.demo Soles 19
                                p Mayor venta zona metropolitana
                                h1 2014
                            li
                                h2.demo Soles 19
                                p Mayor venta comercial
                                p HP
                                h1 2014
                            li
                                h2.demo Soles 19
                                p Mayor crecimiento de proyectos
                                p HP EG
                                h1 2014
                            li
                                h2.demo Soles 20
                                p Mayor venta
                                p CDMX
                                h1 2015
                    .col-12
                        .title-sections-text
                            h1 Monarca
                        ul
                            li
                                h2.demo Monarca
                                p Clientes con mayores ventas
                                p HP
                                h1 2006
                            li
                                h2.demo Monarca
                                p Distribuidor con mejor desempeño
                                p HP
                                h1 2007
                            li
                                h2.demo Monarca
                                p Distribuidor con mayor volumen de ventas 
                                p PSG
                                h1 2008
                            li
                                h2.demo Monarca
                                p Distribuidor del año zona centro
                                p PSG
                                h1 2010
                            li
                                h2.demo Monarca
                                p Distribuidor del año porcentaje de crecimiento
                                p EB
                                h1 2010
                            li
                                h2.demo Monarca
                                p Mejor canal distribución
                                p HP
                                h1 2010
                            li
                                h2.demo Monarca
                                p Canal con mayor volumen de ventas zona centro
                                p PPS
                                h1 2013
                            li
                                h2.demo Monarca
                                p Canal con mayor volumen de ventas por zona geográfica centro
                                p EG
                                h1 2014
                            li
                                h2.demo Monarca
                                p Canal con mejor desempeño cómputo personal comercial
                                p EG
                                h1 2014
                    .col-12
                        .title-sections-text
                            h1 Intel
                        ul
                            li
                                h2.demo Intel
                                p Technology Provider Platinum  
                                h1 2016
                            li
                                h2.demo Intel
                                p Technology Provider Platinum  
                                h1 2017
                                        .col-12
                        .title-sections-text
                            h1 CompuSoluciones
                        ul
                            li
                                h2.demo CompuSoluciones 
                                p Mayor volumen de ventas TEAM
                                p HP
                                h1 2013
                            li
                                h2.demo CompuSoluciones 
                                p 1er. Lugar de Ventas TEAM
                                p HP
                                h1 2014
                    .col-12
                        .title-sections-text
                            h1 Team
                        ul
                            li
                                h2.demo Team 
                                p Mayor volumen de ventas TEAM México HP 
                                h1 2005
                            li
                                h2.demo Team 
                                p 1er. Lugar de Ventas TEAM Valle
                                h1 2010
                    .col-12
                        .title-sections-text
                            h1 Redhat
                        ul
                            li.w-100
                                h2.demo ReadHat
                                p Quota Achievement
                                p FY16
                    .col-12
                        .title-sections-text
                            h1 TechData
                        ul
                            li.w-100
                                h2.demo TechData
                                p Clientes con mayores ventas 
                                h1 2010
        include ../template/_footer
        if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
        script(type="text/javascript" src=section_scripts[current_profile][i])
