src/html/sections/azure.pug
//-Configuración y variables globales del proyecto
include ../config/_variables
//-
	Ajustes de la configuración global para esta sección
- global_path = '../'
//-
	Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
	Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Azure'
- metadata['description'] = 'Ahora costos con las soluciones de Azure; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Azure, bajo demanda, on demand, soluciones Azure'
- var landing = 'azure'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_azure + 'bannerprincipal.jpg'
//- Servicios
- local.images['productivo'] = global_path + images.products_azure + 'beneficio_productivo.png'
- local.images['hibrido'] = global_path + images.products_azure + 'beneficio_computoennubeshibridas.png'
- local.images['inteligente'] = global_path + images.products_azure + 'beneficio_inteligente.png'
- local.images['confianza'] = global_path + images.products_azure + 'beneficio_deconfianza.png'
- local.images['seguro'] = global_path + images.products_azure + 'beneficio_seguridad.png'
- local.images['global'] = global_path + images.products_azure + 'beneficio_infraestructuraglobal.png'
- local.images['administrable'] = global_path + images.products_azure + 'beneficio_administrable.png'
- local.images['red'] = global_path + images.products_azure + 'beneficio_redprivada.png'
//- Beneficios
- local.images['cosas'] = global_path + images.products_azure + 'servicio_internetdelascosas.png'
- local.images['ia'] = global_path + images.products_azure + 'beneficio_IAMACHINELEARNING.png'
- local.images['office'] = global_path + images.products_azure + 'servicio_office365.png'
- local.images['almacenamiento'] = global_path + images.products_azure + 'servicio_almacenamientoybasededatos.png'
- local.images['analisis'] = global_path + images.products_azure + 'servicio_dataanalisis.png'
- local.images['devops'] = global_path + images.products_azure + 'servicio_devOpsycontenedores.png'
- local.images['movilidad'] = global_path + images.products_azure + 'servicio_movilidad.png'
- local.images['soporte'] = global_path + images.products_azure + 'servicio_soporteyoptimizacion.png'

- local.images['solucion'] = global_path + images.products_azure + 'solucion.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Azure_casos_de_uso.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'HPE_Caso_de_Uso.pdf'

doctype html
html(lang=site.lang)
	include ../template/_head
	body
		include ../template/_header
		section.section-banner-dass
			img.banner(src=local.images.banner, alt="banner")
			.container
				.content
					br
					.title-sections
						h1 Azure. Su visión. Su nube.
					p Convierta sus ideas en soluciones más rápidamente gracias a una nube de confianza diseñada para usted.
		section.section-about-dass#dass
			.container
				.row
					.col-12
						.title-sections-text
							h3 ¿Qué es Azure?
							p La Hiperdisponibilidad es crítica para las empresas de hoy.
						ul
							li
								strong Productivo
								img(src=local.images.productivo, alt="productivo")
								p Reduzca el tiempo de comercialización con más de 100 servicios integrales.
							li
								strong Híbrido
								img(src=local.images.hibrido, alt="hibrido")
								p Desarrolle soluciones e impleméntelas donde desee.
							li
								strong Inteligente
								img(src=local.images.inteligente, alt="inteligente")
								p Cree aplicaciones inteligentes con servicios de Inteligencia Artificial.
							li
								strong De confianza
								img(src=local.images.confianza, alt="confianza")
								p Únase a las empresas de nueva creación, a los gobiernos y al 95 por ciento de las empresas de Fortune 500.
							li
								strong Seguro
								img(src=local.images.seguro, alt="seguro")
								p Utilice los controles de seguridad multinivel integrados y la inteligencia frente a amenazas.
							li
								strong Infraestructura global
								img(src=local.images.global, alt="global")
								p Transforme su negocio y reduzca los costos con una infraestructura de bajo consumo.
							li
								strong Administrable
								img(src=local.images.administrable, alt="administrable")
								p Convierta sus ideas en soluciones más rápido y genere una productividad sin precedentes.
							li
								strong Red privada inalámbrica
								img(src=local.images.red, alt="red")
								p Soluciones de redes inalámbricas integrales para aplicaciones que requieren mucho ancho de banda.
		section.section-implementDass#beneficios
			.container
				.row
					.col-10.middle
						.title-sections-text
							h3 ¿Por qué implementar Azure?
							p Beneficios:
						ul
							li
								img(src=local.images.cosas, alt="cosas")
								p Internet de las cosas
							li
								img(src=local.images.ia, alt="ia")
								p lA y Machine Learning
							li
								img(src=local.images.office, alt="office")
								p Office 365 e Identidad empresarial
							li
								img(src=local.images.almacenamiento, alt="almacenamiento")
								p Almacenamiento y Bases de datos
							li
								img(src=local.images.analisis, alt="analisis")
								p Data Analisis
							li
								img(src=local.images.devops, alt="devops")
								p DevOps y Contenedores
							li
								img(src=local.images.movilidad, alt="movilidad")
								p Movilidad
							li
								img(src=local.images.soporte, alt="soporte")
								p Soporte y optimización
		section.section-subtitle#soluciones
			.container
				.row
					.col-10.middle
						.title-sections
							h3 Conoce nuestra solución
		.flotante
			a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
				img(src=local.images.whitepaper, alt="big data" )
			a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
				img(src=local.images.casodeuso, alt="big data")
		section.section-why-dass
			img(src=local.images.solucion, alt="solución conoce")
			.container
				.row
					.col-6.bgcircle
						p Microsoft Azure es conjunto en constante expansión de servicios en la nube para ayudar a su organización a satisfacer sus necesidades comerciales. Le otorga la libertad de crear, administrar e implementar aplicaciones.
						p Sellcom Solutions ofrece todos los servicios de Azure de forma administrada para que nuestros clientes puedan dejar de preocuparse por el mantenimiento y administración de su nube sin inversiones iniciales y pagando de forma mensual por la disponibilidad del mismo.
		include ../template/_footer
		if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
		script(type="text/javascript" src=section_scripts[current_profile][i])

dist/dev/sections/azure.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Azure</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Ahora costos con las soluciones de Azure; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!">
    <meta name="keywords" content="Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Azure, bajo demanda, on demand, soluciones Azure">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-banner-dass"><img class="banner" src="../images/products_azure/bannerprincipal.jpg" alt="banner">
      <div class="container">
        <div class="content"><br>
          <div class="title-sections">
            <h1>Azure. Su visión. Su nube.</h1>
          </div>
          <p>Convierta sus ideas en soluciones más rápidamente gracias a una nube de confianza diseñada para usted.</p>
        </div>
      </div>
    </section>
    <section class="section-about-dass" id="dass">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="title-sections-text">
              <h3>¿Qué es Azure?</h3>
              <p>La Hiperdisponibilidad es crítica para las empresas de hoy.</p>
            </div>
            <ul>
              <li><strong>Productivo</strong><img src="../images/products_azure/beneficio_productivo.png" alt="productivo">
                <p>Reduzca el tiempo de comercialización con más de 100 servicios integrales.</p>
              </li>
              <li><strong>Híbrido</strong><img src="../images/products_azure/beneficio_computoennubeshibridas.png" alt="hibrido">
                <p>Desarrolle soluciones e impleméntelas donde desee.</p>
              </li>
              <li><strong>Inteligente</strong><img src="../images/products_azure/beneficio_inteligente.png" alt="inteligente">
                <p>Cree aplicaciones inteligentes con servicios de Inteligencia Artificial.</p>
              </li>
              <li><strong>De confianza</strong><img src="../images/products_azure/beneficio_deconfianza.png" alt="confianza">
                <p>Únase a las empresas de nueva creación, a los gobiernos y al 95 por ciento de las empresas de Fortune 500.</p>
              </li>
              <li><strong>Seguro</strong><img src="../images/products_azure/beneficio_seguridad.png" alt="seguro">
                <p>Utilice los controles de seguridad multinivel integrados y la inteligencia frente a amenazas.</p>
              </li>
              <li><strong>Infraestructura global</strong><img src="../images/products_azure/beneficio_infraestructuraglobal.png" alt="global">
                <p>Transforme su negocio y reduzca los costos con una infraestructura de bajo consumo.</p>
              </li>
              <li><strong>Administrable</strong><img src="../images/products_azure/beneficio_administrable.png" alt="administrable">
                <p>Convierta sus ideas en soluciones más rápido y genere una productividad sin precedentes.</p>
              </li>
              <li><strong>Red privada inalámbrica</strong><img src="../images/products_azure/beneficio_redprivada.png" alt="red">
                <p>Soluciones de redes inalámbricas integrales para aplicaciones que requieren mucho ancho de banda.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section-implementDass" id="beneficios">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections-text">
              <h3>¿Por qué implementar Azure?</h3>
              <p>Beneficios:</p>
            </div>
            <ul>
              <li><img src="../images/products_azure/servicio_internetdelascosas.png" alt="cosas">
                <p>Internet de las cosas</p>
              </li>
              <li><img src="../images/products_azure/beneficio_IAMACHINELEARNING.png" alt="ia">
                <p>lA y Machine Learning</p>
              </li>
              <li><img src="../images/products_azure/servicio_office365.png" alt="office">
                <p>Office 365 e Identidad empresarial</p>
              </li>
              <li><img src="../images/products_azure/servicio_almacenamientoybasededatos.png" alt="almacenamiento">
                <p>Almacenamiento y Bases de datos</p>
              </li>
              <li><img src="../images/products_azure/servicio_dataanalisis.png" alt="analisis">
                <p>Data Analisis</p>
              </li>
              <li><img src="../images/products_azure/servicio_devOpsycontenedores.png" alt="devops">
                <p>DevOps y Contenedores</p>
              </li>
              <li><img src="../images/products_azure/servicio_movilidad.png" alt="movilidad">
                <p>Movilidad</p>
              </li>
              <li><img src="../images/products_azure/servicio_soporteyoptimizacion.png" alt="soporte">
                <p>Soporte y optimización</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section-subtitle" id="soluciones">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections">
              <h3>Conoce nuestra solución</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="flotante"><a class="whitepage" href="../documents/Azure_casos_de_uso.pdf" dowloand target="_blank" title="Descargar white paper"><img src="../images/global/whitepaper.png" alt="big data"></a><a class="caseofuse" href="../documents/HPE_Caso_de_Uso.pdf" dowloand target="_blank" title="Descargar casos de uso"><img src="../images/global/casodeuso.png" alt="big data"></a></div>
    <section class="section-why-dass"><img src="../images/products_azure/solucion.jpg" alt="solución conoce">
      <div class="container">
        <div class="row">
          <div class="col-6 bgcircle">
            <p>Microsoft Azure es conjunto en constante expansión de servicios en la nube para ayudar a su organización a satisfacer sus necesidades comerciales. Le otorga la libertad de crear, administrar e implementar aplicaciones.</p>
            <p>Sellcom Solutions ofrece todos los servicios de Azure de forma administrada para que nuestros clientes puedan dejar de preocuparse por el mantenimiento y administración de su nube sin inversiones iniciales y pagando de forma mensual por la disponibilidad del mismo.</p>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/libs/jquery.validate.js"></script>
    <script src="../js/libs/jquery.file.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/sellcom_dass.js"></script>
    <script src="../js/controllers/downloads.js"></script>
    <script src="../js/controllers/form.js"></script>
  </body>
</html>
<script type="text/javascript" src="../js/libs/jquery.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<script type="text/javascript" src="../js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../js/libs/jquery.file.js"></script>
<script type="text/javascript" src="../js/plugins/slick.js"></script>
<script type="text/javascript" src="../js/controllers/sellcom_dass.js"></script>
<script type="text/javascript" src="../js/controllers/downloads.js"></script>
<script type="text/javascript" src="../js/controllers/form.js"></script>
