dist/dev/sections/blackberry.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Blackberry</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Ahora costos con las soluciones de Blackberry; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!">
    <meta name="keywords" content="Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Blackberry, bajo demanda, on demand, soluciones Blackberry">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-banner-dass"><img class="banner" src="../images/products_blackberry/bannerprincipal.jpg" alt="banner">
      <div class="container">
        <div class="content"><br>
          <div class="title-sections">
            <h1>Blackberry Enterprise Mobility Suite</h1>
          </div>
          <p>Habilitando la 5ta ola de productividad empresarial</p>
        </div>
      </div>
    </section>
    <section class="section-about-dass" id="dass">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="title-sections-text">
              <h3>¿Qué es Blackberry?</h3>
              <p>Protección para la Empresa de las Cosas.</p>
            </div>
            <ul>
              <li><strong>Aplicaciones de movilidad</strong><img src="../images/products_blackberry/servicio_aplicacionesdemovilidad.png" alt="movilidad">
                <p>Impulse la productividad en todos los dispositivos.</p>
              </li>
              <li><strong>BBM Enterprise</strong><img src="../images/products_blackberry/servicio_BBMenterprise.png" alt="bbm">
                <p>Mensajería segura de extremo a extremo.</p>
              </li>
              <li><strong>Blackberry AdHoc</strong><img src="../images/products_blackberry/servicio_blackberryadhoc.png" alt="adhoc">
                <p>Coordine la comunicación de crisis entre organizaciones y dentro de ellas.</p>
              </li>
              <li><strong>Blackberry Dynamics</strong><img src="../images/products_blackberry/servicio_blackberrydynamics.png" alt="dynamics">
                <p>Transforme su negocio con aplicaciones móviles.</p>
              </li>
              <li><strong>Blackberry Workspaces</strong><img src="../images/products_blackberry/servicio_blackberryworkspaces.png" alt="workspaces">
                <p>Proteja sus archivos y activos de propiedad intelectual.</p>
              </li>
              <li><strong>Blackberry UEM</strong><img src="../images/products_blackberry/servicio_blakcberryUEm.png" alt="uem">
                <p>Gestione y controle los dispositivos conectados de forma segura.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <div class="flotante"><a class="whitepage" href="../documents/Blackberry_Whithepaper.pdf" dowloand target="_blank" title="Descargar white paper"><img src="../images/global/whitepaper.png" alt="big data"></a><a class="caseofuse" href="../documents/Blackberry_Caso_de _Uso.pdf" dowloand target="_blank" title="Descargar casos de uso"><img src="../images/global/casodeuso.png" alt="big data"></a></div>
    <section class="section-implementDass" id="beneficios">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections-text">
              <h3>¿Por qué implementar Blackberry?</h3>
              <p>Beneficios:</p>
            </div>
            <ul>
              <li><img src="../images/products_blackberry/beneficio_controlesdeaccesosvisualizacion.png" alt="visualizacion">
                <p>Controles de acceso, visualización, edición, copia, impresión o reenvío de archivos</p>
              </li>
              <li><img src="../images/products_blackberry/beneficio_correoelectronicocontactos.png" alt="correo">
                <p>Correo electrónico, contactos, calendario, acceso a la intranet corporativa y navegación web, de forma segura</p>
              </li>
              <li><img src="../images/products_blackberry/beneficio_gestiomeelusoylaspoliticas.png" alt="gestion">
                <p>Gestione el uso y las políticas de aplicaciones</p>
              </li>
              <li><img src="../images/products_blackberry/beneficio_gestioneefizcamenteelnuemerocreciente.png" alt="eficas">
                <p>Gestione eficazmente el número creciente de dispositivos móviles</p>
              </li>
              <li><img src="../images/products_blackberry/beneficio_implementacionlocaloenlanube.png" alt="nube">
                <p>Implementación local o en la nube</p>
              </li>
              <li><img src="../images/products_blackberry/beneficio_protejaelcontenido.png" alt="proteja">
                <p>Proteja el contenido en donde sea y garantice la seguridad de los documentos</p>
              </li>
              <li><img src="../images/products_blackberry/beneficio_seguimientodedocuentosconfines.png" alt="seguimiento">
                <p>Seguimiento de documentos con fines de auditoría, conformidad e inteligencia empresarial</p>
              </li>
              <li><img src="../images/products_blackberry/beneficio_tecnologiadecontenerizacion.png" alt="contenerizacion">
                <p>Tecnología de contenerización de aplicaciones móviles</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section-subtitle" id="soluciones">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections">
              <h3>Conoce nuestra solución</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-why-dass"><img src="../images/products_blackberry/solucion.jpg" alt="solución conoce">
      <div class="container">
        <div class="row">
          <div class="col-6 bgcircle">
            <p>El internet de las cosas (IoT) es uno de los avances tecnológicos más significativos de nuestro tiempo.Los dispositivos IoT que se conectan a la empresa deben ser protegidos, gestionados y habilitados por el departamento de TI.</p>
            <p>Todos estos dispositivos conectados conforman la Empresa de las Cosas y están llevando más allá la transformación de las organizaciones.</p>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/libs/jquery.validate.js"></script>
    <script src="../js/libs/jquery.file.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/sellcom_dass.js"></script>
    <script src="../js/controllers/downloads.js"></script>
    <script src="../js/controllers/form.js"></script>
  </body>
</html>
<script type="text/javascript" src="../js/libs/jquery.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<script type="text/javascript" src="../js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../js/libs/jquery.file.js"></script>
<script type="text/javascript" src="../js/plugins/slick.js"></script>
<script type="text/javascript" src="../js/controllers/sellcom_dass.js"></script>
<script type="text/javascript" src="../js/controllers/downloads.js"></script>
<script type="text/javascript" src="../js/controllers/form.js"></script>

src/html/sections/blackberry.pug
//-Configuración y variables globales del proyecto
include ../config/_variables
//-
	Ajustes de la configuración global para esta sección
- global_path = '../'
//-
	Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
	Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Blackberry'
- metadata['description'] = 'Ahora costos con las soluciones de Blackberry; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Blackberry, bajo demanda, on demand, soluciones Blackberry'
- var landing = 'blackberry'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_blackberry + 'bannerprincipal.jpg'
//- Servicios
- local.images['movilidad'] = global_path + images.products_blackberry + 'servicio_aplicacionesdemovilidad.png'
- local.images['bbm'] = global_path + images.products_blackberry + 'servicio_BBMenterprise.png'
- local.images['adhoc'] = global_path + images.products_blackberry + 'servicio_blackberryadhoc.png'
- local.images['dynamics'] = global_path + images.products_blackberry + 'servicio_blackberrydynamics.png'
- local.images['workspaces'] = global_path + images.products_blackberry + 'servicio_blackberryworkspaces.png'
- local.images['uem'] = global_path + images.products_blackberry +'servicio_blakcberryUEm.png'
//- Beneficios
- local.images['visualizacion'] = global_path + images.products_blackberry + 'beneficio_controlesdeaccesosvisualizacion.png'
- local.images['correo'] = global_path + images.products_blackberry + 'beneficio_correoelectronicocontactos.png'
- local.images['gestion'] = global_path + images.products_blackberry + 'beneficio_gestiomeelusoylaspoliticas.png'
- local.images['eficas'] = global_path + images.products_blackberry + 'beneficio_gestioneefizcamenteelnuemerocreciente.png'
- local.images['nube'] = global_path + images.products_blackberry + 'beneficio_implementacionlocaloenlanube.png'
- local.images['proteja'] = global_path + images.products_blackberry + 'beneficio_protejaelcontenido.png'
- local.images['seguimiento'] = global_path + images.products_blackberry + 'beneficio_seguimientodedocuentosconfines.png'
- local.images['contenerizacion'] = global_path + images.products_blackberry + 'beneficio_tecnologiadecontenerizacion.png'

- local.images['solucion'] = global_path + images.products_blackberry + 'solucion.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Blackberry_Whithepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'Blackberry_Caso_de _Uso.pdf'

doctype html
html(lang=site.lang)
	include ../template/_head
	body
		include ../template/_header
		section.section-banner-dass
			img.banner(src=local.images.banner, alt="banner")
			.container
				.content
					br
					.title-sections
						h1 Blackberry Enterprise Mobility Suite
					p Habilitando la 5ta ola de productividad empresarial
		section.section-about-dass#dass
			.container
				.row
					.col-12
						.title-sections-text
							h3 ¿Qué es Blackberry?
							p Protección para la Empresa de las Cosas.
						ul
							li
								strong Aplicaciones de movilidad
								img(src=local.images.movilidad, alt="movilidad")
								p Impulse la productividad en todos los dispositivos.

							li
								strong BBM Enterprise
								img(src=local.images.bbm, alt="bbm")
								p Mensajería segura de extremo a extremo.
							li
								strong Blackberry AdHoc
								img(src=local.images.adhoc, alt="adhoc")
								p Coordine la comunicación de crisis entre organizaciones y dentro de ellas.
							li
								strong Blackberry Dynamics
								img(src=local.images.dynamics, alt="dynamics")
								p Transforme su negocio con aplicaciones móviles.
							li
								strong Blackberry Workspaces
								img(src=local.images.workspaces, alt="workspaces")
								p Proteja sus archivos y activos de propiedad intelectual.
							li
								strong Blackberry UEM
								img(src=local.images.uem, alt="uem")
								p Gestione y controle los dispositivos conectados de forma segura.
		.flotante
			a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
				img(src=local.images.whitepaper, alt="big data" )
			a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
				img(src=local.images.casodeuso, alt="big data")
		section.section-implementDass#beneficios
			.container
				.row
					.col-10.middle
						.title-sections-text
							h3 ¿Por qué implementar Blackberry?
							p Beneficios:
						ul
							li
								img(src=local.images.visualizacion, alt="visualizacion")
								p Controles de acceso, visualización, edición, copia, impresión o reenvío de archivos
							li
								img(src=local.images.correo, alt="correo")
								p Correo electrónico, contactos, calendario, acceso a la intranet corporativa y navegación web, de forma segura
							li
								img(src=local.images.gestion, alt="gestion")
								p Gestione el uso y las políticas de aplicaciones
							li
								img(src=local.images.eficas, alt="eficas")
								p Gestione eficazmente el número creciente de dispositivos móviles
							li
								img(src=local.images.nube, alt="nube")
								p Implementación local o en la nube
							li
								img(src=local.images.proteja, alt="proteja")
								p Proteja el contenido en donde sea y garantice la seguridad de los documentos
							li
								img(src=local.images.seguimiento, alt="seguimiento")
								p Seguimiento de documentos con fines de auditoría, conformidad e inteligencia empresarial
							li
								img(src=local.images.contenerizacion, alt="contenerizacion")
								p Tecnología de contenerización de aplicaciones móviles
		section.section-subtitle#soluciones
			.container
				.row
					.col-10.middle
						.title-sections
							h3 Conoce nuestra solución

		section.section-why-dass
			img(src=local.images.solucion, alt="solución conoce")
			.container
				.row
					.col-6.bgcircle
						p El internet de las cosas (IoT) es uno de los avances tecnológicos más significativos de nuestro tiempo.Los dispositivos IoT que se conectan a la empresa deben ser protegidos, gestionados y habilitados por el departamento de TI.
						p Todos estos dispositivos conectados conforman la Empresa de las Cosas y están llevando más allá la transformación de las organizaciones.
		include ../template/_footer
		if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
		script(type="text/javascript" src=section_scripts[current_profile][i])
