dist/dev/sections/blancco.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Blancco</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Ahora costos con las soluciones de Blancco; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!">
    <meta name="keywords" content="Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Blancco, bajo demanda, on demand, soluciones Blancco">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-banner-dass"><img class="banner" src="../images/products_blancco/bannerprincipal.jpg" alt="banner">
      <div class="container">
        <div class="content"><br>
          <div class="title-sections">
            <h1>Blancco Borrado Seguro de Datos </h1>
          </div>
          <p>Toda empresa debe contar con  una política de borrado seguro de  la información de los dispositivos de almacenamiento con los que trabaja</p>
        </div>
      </div>
    </section>
    <section class="section-about-dass" id="dass">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="title-sections-text">
              <h3>¿Qué es Blancco?</h3>
              <p>Garantiza el saneamiento absoluto de los datos de todos los activos de TI.</p>
            </div>
            <ul>
              <li><strong>Gestión de borrado de datos</strong><img src="../images/products_blancco/servicio_gestiondeborradodedatos.png" alt="datos">
                <p>Monitorea las actividades de borrado de información con una estrategia integral.</p>
              </li>
              <li><strong>Borrado de entornos en activo</strong><img src="../images/products_blancco/servicio_borradodeentornosenactivo.png" alt="entornos">
                <p>Implemente rutinas automáticas que permiten el borrado selectivo de datos en sistemas activos sin tiempo de inactividad.</p>
              </li>
              <li><strong>Borrado de gran volumen</strong><img src="../images/products_blancco/servicio_borradodegranvolumen.png" alt="volumen">
                <p>Capacidad y eficacia para borrar volúmenes de datos.</p>
              </li>
              <li><strong>Borrado de Equipos desconectados</strong><img src="../images/products_blancco/servicio_borradodeequiposdesconectados.png" alt="desconectados">
                <p>Soluciones de borrado in sitio para unidades sueltas, grandes volúmenes internos.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <div class="flotante"><a class="whitepage" href="../documents/Blancco_Whithepaper.pdf" dowloand target="_blank" title="Descargar white paper"><img src="../images/global/whitepaper.png" alt="big data"></a><a class="caseofuse" href="../documents/Blancco_Caso de Uso.pdf" dowloand target="_blank" title="Descargar casos de uso"><img src="../images/global/casodeuso.png" alt="big data"></a></div>
    <section class="section-implementDass" id="beneficios">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections-text">
              <h3>¿Por qué implementar Blancco?</h3>
              <p>Beneficios:</p>
            </div>
            <ul>
              <li><img src="../images/products_blancco/beneficio_4.png" alt="gestion">
                <p>Gestiona del ciclo de vida de la información.</p>
              </li>
              <li><img src="../images/products_blancco/beneficio_3.png" alt="cumplimiento">
                <p>Cumplimiento legal de protección de datos.</p>
              </li>
              <li><img src="../images/products_blancco/beneficio_2.png" alt="prevencion">
                <p>Prevención de fuga de información.</p>
              </li>
              <li><img src="../images/products_blancco/beneficio_1.png" alt="documentacion">
                <p>Documentación de las operaciones de borrado realizadas.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section-subtitle" id="soluciones">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections">
              <h3>Conoce nuestra solución</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-why-dass"><img src="../images/products_blancco/solucion.jpg" alt="solución conoce">
      <div class="container">
        <div class="row">
          <div class="col-6 bgcircle">
            <p>Sellcom Solutions ofrece software personalizado y soluciones basadas en la nube.</p>
            <p>Así como servicios profesionales para el borrado de datos seguro y eficiente para ayudar a mejorar la eficiencia operativa de nuestros clientes y obtener ahorros con la gestión optimizada del ciclo de vida de activos de TI. </p>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/libs/jquery.validate.js"></script>
    <script src="../js/libs/jquery.file.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/sellcom_dass.js"></script>
    <script src="../js/controllers/downloads.js"></script>
    <script src="../js/controllers/form.js"></script>
  </body>
</html>
<script type="text/javascript" src="../js/libs/jquery.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<script type="text/javascript" src="../js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../js/libs/jquery.file.js"></script>
<script type="text/javascript" src="../js/plugins/slick.js"></script>
<script type="text/javascript" src="../js/controllers/sellcom_dass.js"></script>
<script type="text/javascript" src="../js/controllers/downloads.js"></script>
<script type="text/javascript" src="../js/controllers/form.js"></script>

src/html/sections/blancco.pug
//-Configuración y variables globales del proyecto
include ../config/_variables
//-
	Ajustes de la configuración global para esta sección
- global_path = '../'
//-
	Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
	Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Blancco'
- metadata['description'] = 'Ahora costos con las soluciones de Blancco; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Blancco, bajo demanda, on demand, soluciones Blancco'
- var landing = 'blancco'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_blancco + 'bannerprincipal.jpg'
//- Servicios
- local.images['datos'] = global_path + images.products_blancco + 'servicio_gestiondeborradodedatos.png'
- local.images['entornos'] = global_path + images.products_blancco + 'servicio_borradodeentornosenactivo.png'
- local.images['volumen'] = global_path + images.products_blancco + 'servicio_borradodegranvolumen.png'
- local.images['desconectados'] = global_path + images.products_blancco + 'servicio_borradodeequiposdesconectados.png'
//- Beneficios
- local.images['gestion'] = global_path + images.products_blancco + 'beneficio_4.png'
- local.images['cumplimiento'] = global_path + images.products_blancco + 'beneficio_3.png'
- local.images['prevencion'] = global_path + images.products_blancco + 'beneficio_2.png'
- local.images['documentacion'] = global_path + images.products_blancco + 'beneficio_1.png'

- local.images['solucion'] = global_path + images.products_blancco + 'solucion.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Blancco_Whithepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'Blancco_Caso de Uso.pdf'

doctype html
html(lang=site.lang)
	include ../template/_head
	body
		include ../template/_header
		section.section-banner-dass
			img.banner(src=local.images.banner, alt="banner")
			.container
				.content
					br
					.title-sections
						h1 Blancco Borrado Seguro de Datos 
					p Toda empresa debe contar con  una política de borrado seguro de  la información de los dispositivos de almacenamiento con los que trabaja
		section.section-about-dass#dass
			.container
				.row
					.col-12
						.title-sections-text
							h3 ¿Qué es Blancco?
							p Garantiza el saneamiento absoluto de los datos de todos los activos de TI.
						ul
							li
								strong Gestión de borrado de datos
								img(src=local.images.datos, alt="datos")
								p Monitorea las actividades de borrado de información con una estrategia integral.
							li
								strong Borrado de entornos en activo
								img(src=local.images.entornos, alt="entornos")
								p Implemente rutinas automáticas que permiten el borrado selectivo de datos en sistemas activos sin tiempo de inactividad.
							li
								strong Borrado de gran volumen
								img(src=local.images.volumen, alt="volumen")
								p Capacidad y eficacia para borrar volúmenes de datos.
							li
								strong Borrado de Equipos desconectados
								img(src=local.images.desconectados, alt="desconectados")
								p Soluciones de borrado in sitio para unidades sueltas, grandes volúmenes internos.
		.flotante
			a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
				img(src=local.images.whitepaper, alt="big data" )
			a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
				img(src=local.images.casodeuso, alt="big data")
		section.section-implementDass#beneficios
			.container
				.row
					.col-10.middle
						.title-sections-text
							h3 ¿Por qué implementar Blancco?
							p Beneficios:
						ul
							li
								img(src=local.images.gestion, alt="gestion")
								p Gestiona del ciclo de vida de la información.
							li
								img(src=local.images.cumplimiento, alt="cumplimiento")
								p Cumplimiento legal de protección de datos.
							li
								img(src=local.images.prevencion, alt="prevencion")
								p Prevención de fuga de información.
							li
								img(src=local.images.documentacion, alt="documentacion")
								p Documentación de las operaciones de borrado realizadas.
		section.section-subtitle#soluciones
			.container
				.row
					.col-10.middle
						.title-sections
							h3 Conoce nuestra solución
		section.section-why-dass
			img(src=local.images.solucion, alt="solución conoce")
			.container
				.row
					.col-6.bgcircle
						p Sellcom Solutions ofrece software personalizado y soluciones basadas en la nube.
						p Así como servicios profesionales para el borrado de datos seguro y eficiente para ayudar a mejorar la eficiencia operativa de nuestros clientes y obtener ahorros con la gestión optimizada del ciclo de vida de activos de TI. 
		include ../template/_footer
		if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
		script(type="text/javascript" src=section_scripts[current_profile][i])
