dist/dev/sections/business.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Business</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Nuestras soluciones de Automatización de procesos y Servicios, integran la arquitectura moderna de servicios de TI con los principios de metodologías ITIL para ayudarle a ubicarse a la vanguardia.">
    <meta name="keywords" content="Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, plataforma, gestión de datos , Innovación, Empresas, Negocios, migración, base de datos, almacenamiento, Cloud, hibrido, Nube, sistemas,sistema all-flash, NetApp, transformación digital, soluciones NetApp">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-banner-dass-vertical mundo">
      <div class="banner-vr">
        <div class="container">
          <div class="content algo"><br>
            <div class="title-sections"></div>
            <h1>Business <span class="green">Process Management</span></h1>
            <P>Traduce la estrategia en ejecución, utilizando el proceso como el vínculo crítico para ayudar a las organizaciones a obtener resultados inmediatos y medibles. Con las diferentes soluciones de Sellcom Solutions desarrollamos un gobierno basado en procesos y activos que permiten el enfoque correcto, ayudando a decidir dónde innovar y qué no cambiar. A través del "proceso de gestión por procesos". Luego llevamos esto a las tecnologías de alineación de la ejecución, movilizando a las personas a través de la gestión del cambio y haciendo ajustes rápidos a ambas.</P>
          </div>
        </div>
      </div>
    </section>
    <section class="section-verticales">
      <div class="container gris">
        <div class="row">
          <div class="col-12"></div>
          <h1>SOLU<span class="green">CIONES</span></h1>
          <div class="col-12">
            <div class="col-1">
              <p> </p>
            </div>
            <div class="col-10 vertical-col">
              <div class="col-4 icon-vertical"> <img src="../images/products_netapp/verticales_soluciones_news.png" alt="news"></div>
              <div class="col-6">
                <div class="title-sections txt-justify">
                  <h3><strong>Automatización.</strong></h3>
                  <h2>Definición, diseño y configuración de flujos de trabajo.</h2>
                  <p>La transformación digital gira en	torno a la automatización de flujos de trabajo, es por lo que la principal ventaja que ofrecen nuestras plataformas en la evolución de los flujos mediante plataformas de gestión, reduciendo la intervención humana y controlando aspectos críticos como lo son las asignaciones, reglas de negocio, niveles de servicio, notificaciones, aprobaciones, etc. Sellcom en conjunto con un grupo de especialistas brinda este beneficio a sus clientes.</p>
                </div>
              </div>
            </div>
            <div class="col-1">
              <p> </p>
            </div>
          </div>
          <div class="col-12">
            <div class="col-1">
              <p></p>
            </div>
            <div class="col-10 vertical-col">
              <div class="col-6">
                <div class="title-sections derecha">
                  <h3><strong>Service Management.</strong></h3>
                  <h2>Gestión y control de operaciones.</h2>
                  <p class="txt-justify">Sellcom Solutions brinda a sus socios tecnológicos estabilidad en sus operaciones mediante la gestión automatizada de sus procesos ITSM (ITIL) utilizando las plataformas tecnológicas de última generación. Las cuales son configuradas a medida de nuestros clientes y sumando el valor de ingenieros certificados en los productos para implementar, mantener u operar las herramientas en los servicios de nuestros consumidores.</p>
                </div>
              </div>
              <div class="col-4 icon-vertical"> <img src="../images/products_netapp/verticales_soluciones_seguridad.png" alt="seguridad"></div>
            </div>
            <div class="col-1">
              <p></p>
            </div>
          </div>
          <div class="col-12">
            <div class="col-1">
              <p></p>
            </div>
            <div class="col-10 vertical-col">
              <div class="col-4 icon-vertical"> <img src="../images/products_netapp/verticales_soluciones_auditoria.png" alt="auditoria"></div>
              <div class="col-6">
                <div class="title-sections txt-justify">
                  <h3><strong>Operation Management.</strong></h3>
                  <h2>Gestión y control de activos.</h2>
                  <p>Dentro de las operaciones de TI uno de los principales problemas es el control de los activos de software y hardware y los procesos que conllevan. Sellcom Solutions ofrece el control de sus activos y dispositivos mediante las plataformas de nuestro portafolio donde destacamos la construcción y mantenimientos de CMDB´s, implementación de capacidades MDM, ciclo de vida de los activos y sus relaciones tanto operativas, financieras y de madurez.</p>
                </div>
              </div>
            </div>
            <div class="col-1">
              <p> </p>
            </div>
          </div>
          <div class="col-12">
            <div class="col-1">
              <p></p>
            </div>
            <div class="col-10 vertical-col">
              <div class="col-6">
                <div class="title-sections derecha">
                  <h3><strong>Customer Relationship Management (CRM)</strong></h3>
                  <h2>Facilite la operación de seguridad</h2>
                  <p class="txt-justify">De la empresa mediante la implementación de herramientas de monitoreo continuo y automatizaron de tareas mediante la orquestación de procesos y nuestros servicios.</p>
                </div>
              </div>
              <div class="col-4 icon-vertical"> <img src="../images/products_netapp/verticales_soluciones_operacion.png" alt="operacion"></div>
            </div>
            <div class="col-1">
              <p> </p>
            </div>
          </div>
          <div class="col-12">
            <div class="col-1">
              <p></p>
            </div>
            <div class="col-10 vertical-col">
              <div class="col-4 icon-vertical"> <img src="../images/products_netapp/vertical_soluciones_control.png" alt="control"></div>
              <div class="col-6">
                <div class="title-sections txt-justify">
                  <h3><strong>DevOps.</strong></h3>
                  <h2>Seguimiento de desarrollos hasta punto productivo. </h2>
                  <p>En lo que respecta a soluciones para FSW tenemos plataformas enfocadas en todo el ciclo de vida del software, herramientas que te apoyaran desde el levantamiento del requerimiento, diseño, planeación, ejecución, pruebas y liberación a punto de nuevas aplicaciones. Con marcas reconocidas en el mercado de TI por muchos años Sellcom te ayudara a controlar tus fábricas de software.</p>
                </div>
              </div>
            </div>
            <div class="col-1">
              <p></p>
            </div>
          </div>
          <div class="col-12">
            <div class="col-1">
              <p></p>
            </div>
            <div class="col-10 vertical-col">
              <div class="col-6">
                <div class="title-sections derecha">
                  <h3><strong>Business Management</strong></h3>
                  <h2>Administración y control de proyectos.</h2>
                  <p class="txt-justify">Los proyectos son de vital importancia para las corporaciones dado que muchas veces los beneficios económicos dependen de una ejecución saludable de los proyectos, es por lo que Sellcom brinda beneficios a sus clientes en la gestión de sus proyectos y su oficina de proyectos, involucrando la gestión adecuada de recursos financieros, materiales, tecnológicos y humanos. Todo ello con las reglas de negocio que esto conlleve.</p>
                </div>
              </div>
              <div class="col-4 icon-vertical"> <img class="business2" src="../images/products_netapp/vertical_soluciones_dispositivo.png" alt="dispositivo"></div>
            </div>
            <div class="col-1">
              <p> <br></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-about-dass" id="dass">
      <div class="container">
        <div class="row">
          <div class="col-12">  
            <div class="title-sections txt-justify">
              <h3><strong>BENEFICIOS</strong></h3>
              <p><strong>Mejora de la productividad:</strong> Al implementar plataformas de control mejoras considerablemente la productividad de tus recursos y operaciones.</p>
              <p><strong>Reducción de los costes:</strong> Uno de los puntos principales es atacado mediante la correcta automatización de procesos y control de recursos.</p>
              <p><strong>Clientes más satisfechos:</strong> Una operación controlada dejara clientes satisfechos.</p>
              <p><strong>Nuevas oportunidades para el negocio:</strong> Centras tu atención en nuevas oportunidades en vez de invertir tiempo en la solución de problemas.</p>
              <p><strong>Mejora en la toma de decisiones:</strong> Mediante métricas, forecasting, KPI´s y mejora continua tomas decisiones para mejorar y madurar tu negocio.</p>
              <p><strong>Descentralización del trabajo:</strong> Puedes asignar tareas a todas las áreas para beneficio y liberación de presión a un área particular.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-about-dass" id="dass">
      <div class="container">
        <div class="row">
          <div class="col-12">  
            <div class="title-sections txt-justify">
              <h3><strong>Certificaciones</strong></h3>
            </div>
          </div>
          <ul>
            <li>• ITIL V4.</li>
            <li>• Scrum.</li>
            <li>• PMP.</li>
            <li>• Agile DevOps.</li>
            <li>• Automatización.</li>
          </ul>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/libs/jquery.validate.js"></script>
    <script src="../js/libs/jquery.file.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/sellcom_dass.js"></script>
    <script src="../js/controllers/downloads.js"></script>
    <script src="../js/controllers/form.js"></script>
  </body>
</html>
<script type="text/javascript" src="../js/libs/jquery.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<script type="text/javascript" src="../js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../js/libs/jquery.file.js"></script>
<script type="text/javascript" src="../js/plugins/slick.js"></script>
<script type="text/javascript" src="../js/controllers/sellcom_dass.js"></script>
<script type="text/javascript" src="../js/controllers/downloads.js"></script>
<script type="text/javascript" src="../js/controllers/form.js"></script>

src/html/sections/business.pug
//-Configuración y variables globales del proyecto
include ../config/_variables
//-
    Ajustes de la configuración global para esta sección
- global_path = '../'
//-
    Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
    Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Business'
- metadata['description'] = 'Nuestras soluciones de Automatización de procesos y Servicios, integran la arquitectura moderna de servicios de TI con los principios de metodologías ITIL para ayudarle a ubicarse a la vanguardia.'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, plataforma, gestión de datos , Innovación, Empresas, Negocios, migración, base de datos, almacenamiento, Cloud, hibrido, Nube, sistemas,sistema all-flash, NetApp, transformación digital, soluciones NetApp'
- var landing = 'business'

- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_huawei + 'bannerprincipal.jpg'
//- Servicios
- local.images['migracion'] = global_path + images.products_netapp + 'servicio_migracion.png'
- local.images['proteccion'] = global_path + images.products_netapp + 'servicio_proteccion.png'
- local.images['datos'] = global_path + images.products_netapp + 'servicio_datos.png'
- local.images['almacenamiento'] = global_path + images.products_netapp + 'servicio_almacenamiento.png'

//- Microsite


//- Beneficios
- local.images['archivos'] = global_path + images.products_netapp + 'beneficio_archivos.png'
- local.images['computacion'] = global_path + images.products_netapp + 'beneficio_computacion.png'
- local.images['nube'] = global_path + images.products_netapp + 'beneficio_nube.png'


- local.images['solucion'] = global_path + images.products_netapp + 'solucion.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Huawei_Whitepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'Huawei_casos_de_uso.pdf'

//- Imagenes del nuevo sitio
- local.images['news'] = global_path + images.products_netapp + 'verticales_soluciones_news.png'
- local.images['seguridad'] = global_path + images.products_netapp + 'verticales_soluciones_seguridad.png'
- local.images['auditoria'] = global_path + images.products_netapp + 'verticales_soluciones_auditoria.png'
- local.images['operacion'] = global_path + images.products_netapp + 'verticales_soluciones_operacion.png'
- local.images['control'] = global_path + images.products_netapp + 'vertical_soluciones_control.png'
- local.images['dispositivo'] = global_path + images.products_netapp + 'vertical_soluciones_dispositivo.png'
- local.images['banner'] = global_path + images.products_netapp + 'vertical_soluciones_banner.png'
- local.images['medio'] = global_path + images.products_netapp + 'vertical_soluciones_medio.png'
- local.images['fondo'] = global_path + images.products_netapp + 'vertical_soluciones_fondo.png'



doctype html
html(lang=site.lang)
    include ../template/_head
    body
        include ../template/_header
        section.section-banner-dass-vertical.mundo
            .banner-vr
                .container
                    .content.algo
                        br
                        .title-sections
                        h1 Business #[span.green Process Management]
                        //-p PREPÁRESE PARA UN NUEVO ENFOQUE DE RECILENCIA CIBERNÉTICA
                        P Traduce la estrategia en ejecución, utilizando el proceso como el vínculo crítico para ayudar a las organizaciones a obtener resultados inmediatos y medibles. Con las diferentes soluciones de Sellcom Solutions desarrollamos un gobierno basado en procesos y activos que permiten el enfoque correcto, ayudando a decidir dónde innovar y qué no cambiar. A través del "proceso de gestión por procesos". Luego llevamos esto a las tecnologías de alineación de la ejecución, movilizando a las personas a través de la gestión del cambio y haciendo ajustes rápidos a ambas.
        section.section-verticales
            .container.gris
                .row
                    .col-12
                    h1 SOLU#[span.green CIONES]
                    .col-12
                        .col-1
                            p 
                        .col-10.vertical-col
                            .col-4.icon-vertical 
                                img(src=local.images.news, alt="news")
                            .col-6
                                .title-sections.txt-justify
                                    h3 #[strong Automatización.]
                                    h2 Definición, diseño y configuración de flujos de trabajo.
                                    p La transformación digital gira en	torno a la automatización de flujos de trabajo, es por lo que la principal ventaja que ofrecen nuestras plataformas en la evolución de los flujos mediante plataformas de gestión, reduciendo la intervención humana y controlando aspectos críticos como lo son las asignaciones, reglas de negocio, niveles de servicio, notificaciones, aprobaciones, etc. Sellcom en conjunto con un grupo de especialistas brinda este beneficio a sus clientes.
                        .col-1
                            p 
                    .col-12
                        .col-1
                            p
                        .col-10.vertical-col
                            .col-6
                                .title-sections.derecha
                                    h3 #[strong Service Management.]
                                    h2 Gestión y control de operaciones.
                                    p.txt-justify Sellcom Solutions brinda a sus socios tecnológicos estabilidad en sus operaciones mediante la gestión automatizada de sus procesos ITSM (ITIL) utilizando las plataformas tecnológicas de última generación. Las cuales son configuradas a medida de nuestros clientes y sumando el valor de ingenieros certificados en los productos para implementar, mantener u operar las herramientas en los servicios de nuestros consumidores.
                            .col-4.icon-vertical 
                                img(src=local.images.seguridad, alt="seguridad")
                        .col-1
                            p
                    .col-12
                        .col-1
                            p
                        .col-10.vertical-col
                            .col-4.icon-vertical 
                                img(src=local.images.auditoria, alt="auditoria")
                            .col-6
                                .title-sections.txt-justify
                                    h3 #[strong Operation Management.]
                                    h2 Gestión y control de activos.
                                    p Dentro de las operaciones de TI uno de los principales problemas es el control de los activos de software y hardware y los procesos que conllevan. Sellcom Solutions ofrece el control de sus activos y dispositivos mediante las plataformas de nuestro portafolio donde destacamos la construcción y mantenimientos de CMDB´s, implementación de capacidades MDM, ciclo de vida de los activos y sus relaciones tanto operativas, financieras y de madurez.
                        .col-1
                            p 
                    .col-12
                        .col-1
                            p
                        .col-10.vertical-col
                            .col-6
                                .title-sections.derecha
                                    h3 #[strong Customer Relationship Management (CRM)]
                                    h2 Facilite la operación de seguridad
                                    p.txt-justify De la empresa mediante la implementación de herramientas de monitoreo continuo y automatizaron de tareas mediante la orquestación de procesos y nuestros servicios.
                            .col-4.icon-vertical 
                                img(src=local.images.operacion, alt="operacion")
                        .col-1
                            p 
                    .col-12
                        .col-1
                            p
                        .col-10.vertical-col
                            .col-4.icon-vertical 
                                img(src=local.images.control, alt="control")
                            .col-6
                                .title-sections.txt-justify
                                    h3 #[strong DevOps.]
                                    h2 Seguimiento de desarrollos hasta punto productivo. 
                                    p En lo que respecta a soluciones para FSW tenemos plataformas enfocadas en todo el ciclo de vida del software, herramientas que te apoyaran desde el levantamiento del requerimiento, diseño, planeación, ejecución, pruebas y liberación a punto de nuevas aplicaciones. Con marcas reconocidas en el mercado de TI por muchos años Sellcom te ayudara a controlar tus fábricas de software.
                        .col-1
                            p
                    .col-12
                        .col-1
                            p
                        .col-10.vertical-col
                            .col-6
                                .title-sections.derecha
                                    h3 #[strong Business Management]
                                    h2 Administración y control de proyectos.
                                    p.txt-justify Los proyectos son de vital importancia para las corporaciones dado que muchas veces los beneficios económicos dependen de una ejecución saludable de los proyectos, es por lo que Sellcom brinda beneficios a sus clientes en la gestión de sus proyectos y su oficina de proyectos, involucrando la gestión adecuada de recursos financieros, materiales, tecnológicos y humanos. Todo ello con las reglas de negocio que esto conlleve.
                            .col-4.icon-vertical 
                                img.business2(src=local.images.dispositivo, alt="dispositivo")
                        .col-1
                            p  
                                br
        section.section-about-dass#dass
            .container
                .row
                    .col-12   
                        .title-sections.txt-justify
                            h3 #[strong BENEFICIOS]
                            //-h2 Fomente la cultura de seguridad
                            p #[strong Mejora de la productividad:] Al implementar plataformas de control mejoras considerablemente la productividad de tus recursos y operaciones.
                            p #[strong Reducción de los costes:] Uno de los puntos principales es atacado mediante la correcta automatización de procesos y control de recursos.
                            p #[strong Clientes más satisfechos:] Una operación controlada dejara clientes satisfechos.
                            p #[strong Nuevas oportunidades para el negocio:] Centras tu atención en nuevas oportunidades en vez de invertir tiempo en la solución de problemas.
                            p #[strong Mejora en la toma de decisiones:] Mediante métricas, forecasting, KPI´s y mejora continua tomas decisiones para mejorar y madurar tu negocio.
                            p #[strong Descentralización del trabajo:] Puedes asignar tareas a todas las áreas para beneficio y liberación de presión a un área particular.
                            
        section.section-about-dass#dass
            .container
                .row
                    .col-12   
                        .title-sections.txt-justify
                            h3 #[strong Certificaciones]
                            //-h2 Fomente la cultura de seguridad
                    ul
                        li • ITIL V4.
                        li • Scrum.
                        li • PMP.
                        li • Agile DevOps.
                        li • Automatización.
 
                        //-ul
                            li
                                //-strong Corre cualquier app a cualquier escala
                                img#imagen(src=local.images.proteccion, alt="proteccion")
                                p Corre apps y flujos de trabajo en una plataforma sencilla con disponibilidad, ejecución y simplicidad sin par.
                            li
                                //-strong Corre cualquier app a cualquier escala
                                img#imagen(src=local.images.proteccion, alt="proteccion")
                                p Solucion diseñada en sectores como:Educación, Gobierno federal,Servicios Financieros, Salud, Manufactura y Punto de venta
                            li
                                //-strong Corre cualquier app a cualquier escala
                                img#imagen(src=local.images.proteccion, alt="proteccion")
                                p Construye una nube empresarial con almacenamiento, cómputo virtualización y red hiperconvergentes desde su base.
                            
                            li
                                //-strong Corre cualquier app a cualquier escala
                                img#imagen(src=local.images.proteccion, alt="proteccion")
                                p Proteja las aplicaciones virtualizadas con un espectro completo  de copia de seguridad y recuperación integradas en Nutanix Enterprise Cloud.
                            
        //-.flotante
            a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
                img(src=local.images.whitepaper, alt="big data" )
            a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
                img(src=local.images.casodeuso, alt="big data")
        include ../template/_footer
        if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
        script(type="text/javascript" src=section_scripts[current_profile][i])
