src/html/sections/cloud.pug
//-Configuración y variables globales del proyecto
include ../config/_variables
//-
    Ajustes de la configuración global para esta sección
- global_path = '../'
//-
    Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
    Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Cloud'
- metadata['description'] = 'Emprenda el camino a la nube híbrida utilizando una mezcla de servicios en nube locales, privados y público, con orquestación entre las plataformas.'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, plataforma, gestión de datos , Innovación, Empresas, Negocios, migración, base de datos, almacenamiento, Cloud, hibrido, Nube, sistemas,sistema all-flash, NetApp, transformación digital, soluciones NetApp'
- var landing = 'cloud'

- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_huawei + 'bannerprincipal.jpg'
//- Servicios
- local.images['migracion'] = global_path + images.products_netapp + 'servicio_migracion.png'
- local.images['proteccion'] = global_path + images.products_netapp + 'servicio_proteccion.png'
- local.images['datos'] = global_path + images.products_netapp + 'servicio_datos.png'
- local.images['almacenamiento'] = global_path + images.products_netapp + 'servicio_almacenamiento.png'

//- Microsite


//- Beneficios
- local.images['archivos'] = global_path + images.products_netapp + 'beneficio_archivos.png'
- local.images['computacion'] = global_path + images.products_netapp + 'beneficio_computacion.png'
- local.images['nube'] = global_path + images.products_netapp + 'beneficio_nube.png'


- local.images['solucion'] = global_path + images.products_netapp + 'solucion.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Huawei_Whitepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'Huawei_casos_de_uso.pdf'

//- Imagenes del nuevo sitio
- local.images['news'] = global_path + images.products_netapp + 'verticales_soluciones_news.png'
- local.images['seguridad'] = global_path + images.products_netapp + 'verticales_soluciones_seguridad.png'
- local.images['auditoria'] = global_path + images.products_netapp + 'verticales_soluciones_auditoria.png'
- local.images['operacion'] = global_path + images.products_netapp + 'verticales_soluciones_operacion.png'
- local.images['control'] = global_path + images.products_netapp + 'vertical_soluciones_control.png'
- local.images['dispositivo'] = global_path + images.products_netapp + 'vertical_soluciones_dispositivo.png'
- local.images['banner'] = global_path + images.products_netapp + 'vertical_soluciones_banner.png'
- local.images['medio'] = global_path + images.products_netapp + 'vertical_soluciones_medio.png'
- local.images['fondo'] = global_path + images.products_netapp + 'vertical_soluciones_fondo.png'



doctype html
html(lang=site.lang)
    include ../template/_head
    body
        include ../template/_header
        section.section-banner-dass-vertical.mundo
            .banner-vr
                .container
                    .content.algo
                        br
                        .title-sections
                        h1 Cloud & #[span.green Hybrid Platforms]
                        //-p PREPÁRESE PARA UN NUEVO ENFOQUE DE RECILENCIA CIBERNÉTICA
                        P Casi todo está basado en la nube hoy en día. Esto expone los datos de la empresa a problemas que antes no existían. Hacer que esto funcione de la manera correcta y que se ajuste mejor a una organización requiere tiempo y conocimiento de las mejores prácticas. Los expertos de SELLCOM SOLUTIONS pueden ayudar a identificar la mejor manera de que la nube se adapte a una organización. 
        section.section-verticales
            .container.gris
                .row
                    .col-12
                    h1 SOLU#[span.green CIONES]
                    .col-12
                        .col-1
                            p 
                        .col-10.vertical-col
                            .col-4.icon-vertical 
                                img(src=local.images.news, alt="news")
                            .col-6
                                .title-sections.txt-justify
                                    h3 #[strong Nube Privada e híbrida]
                                    h2 Orquestación, Automatización y Seguridad
                                    p Disponer de una infraestructura virtual, la base de la nube (cloud) privada, es ahora una forma común y eficiente de ejecutar un centro de datos.  La consistencia, la eficiencia, la gestión del ciclo de vida y la capacidad de comprender el coste de ejecución de las aplicaciones son todos importantes. También lo son la orquestación y la automatización de los procesos. Los profesionales de TI necesitan revisar los procesos internos y considerar los diversos modelos de costos para la Nube Privada, Pública o Híbrida para entender cómo asegurar la eficiencia de costos de las operaciones del centro de datos.
                        .col-1
                            p 
                    .col-12
                        .col-1
                            p
                        .col-10.vertical-col
                            .col-6
                                .title-sections.derecha
                                    h3 #[strong Nube Pública]
                                    h2 IaaS, BaaS, DRaaS, PaaS y SaaS
                                    p #[strong IaaS]
                                    p.txt-justify Incluso con todos los beneficios de una infraestructura virtualizada, los clientes siguen buscando mejorar su eficiencia y consistencia operativa, y conseguir una herramienta de gestión del ciclo de vida, y hacer aún más por sus negocios mientras reducen los costes aún más.
                                    p.txt-justify La infraestructura virtualizada es la base de nuestro próximo paso en la transición del centro de datos a la infraestructura como servicio (IaaS). Tener confianza en el diseño y la arquitectura de su hardware le permite añadir los componentes de software de IaaS y obtener beneficios adicionales que aumentan su agilidad, eficiencia y control. También permite a los grupos dentro de su organización tener recursos de TI de autoservicio al alcance de la mano.
                                    p.txt-justify SELLCOM SOLUTIONS ha estado ayudando a nuestros clientes a simplificar el desarrollo, la producción y los entornos de recuperación de desastres utilizando IaaS, mientras que permite una mayor eficiencia, coherencia y gestión del ciclo de vida.
                                    p #[strong BaaS]
                                    p.txt-justify Las estrategias de continuidad de negocio han sido un requisito en las operaciones de TI durante décadas. La necesidad de hacer copias de seguridad y restaurar los datos es un requisito esencial en todos los centros de datos. La capacidad de realizar copias de seguridad en diferentes soportes, ya sea en cinta, disco o Public Cloud, es esencial, ya que los acuerdos de nivel de servicio impulsan unos objetivos de tiempo de recuperación bajos y una pérdida de datos mínima. El backup como servicio (BaaS) de Sellcom Solutions puede cubrir parte de sus necesidades de continuidad y ser parte de su solución de recuperación.
                                    p.txt-justify SELLCOM SOLUTIONS ha estado ayudando a nuestros clientes a actualizar y simplificar sus estrategias de Continuidad de Negocio, demostrando que es posible cumplir con los agresivos SLAs con ventanas cortas de RTO y RPO. 
                                    p #[strong DRaaS]
                                    p.txt-justify Con las preocupaciones sobre la ciberseguridad en aumento, la necesidad de un plan de Recuperación de Desastres (DR) nunca ha sido más importante. Por eso, la Recuperación de Desastres como Servicio (DRaaS) ha proporcionado un enorme beneficio a las organizaciones, tanto grandes como pequeñas. La capacidad de fallar sobre una Infraestructura Virtual a un centro de datos en la Nube elimina el agravamiento y los costos asociados con la gestión de múltiples centros de datos. 
                                    p.txt-justify SELLCOM SOLUTIONS ha estado ayudando a los clientes a controlar sus costos de capital y de operación mientras que logran el RTO y RPO que sus negocios requieren, a modernizar las estrategias de continuidad de negocio de nuestros clientes, y realizando operaciones más simples para cumplir con esas estrategias. 
                                    p #[strong PaaS]
                                    p.txt-justify PaaS proporciona una infraestructura basada en la nube para los desarrolladores de aplicaciones, permitiéndoles concentrarse en el desarrollo, prueba y despliegue de sus aplicaciones sin tener que equipar un centro de datos local para apoyarlos.
                                    p.txt-justify Si usted tiene equipos de desarrollo que aún no han adoptado la PaaS, tal vez sea el momento de echar un vistazo más de cerca a todo, desde los proveedores iniciales que proporcionan PaaS hasta las tecnologías que permiten a los equipos ensamblar las piezas para permitir un desarrollo rápido y personalizado, incluyendo las herramientas y servicios diseñados para hacer la codificación y el despliegue eficiente.
                                     p #[strong SaaS]
                                    p.txt-justify El software como servicio (SaaS) permite a los usuarios conectarse a aplicaciones basadas en la nube a través de Internet y usarlas. Algunos ejemplos comunes son el correo electrónico, los calendarios y las herramientas ofimáticas (como Microsoft Office 365).
                                    p.txt-justify SaaS ofrece una solución de software integral que se adquiere de un proveedor de servicios en la nube mediante un modelo de pago por uso. Usted alquila el uso de una aplicación para su organización y los usuarios se conectan a ella a través de Internet, normalmente con un explorador web. Toda la infraestructura subyacente, el middleware, el software y los datos de las aplicaciones se encuentran en el centro de datos del proveedor. El proveedor de servicios administra el hardware y el software y, con el contrato de servicio adecuado, garantizará también la disponibilidad y la seguridad de la aplicación y de sus datos. SaaS permite que una organización se ponga en marcha y pueda ejecutar aplicaciones con un costo inicial mínimo.
                            .col-4.icon-vertical 
                                img(src=local.images.seguridad, alt="seguridad")
                        .col-1
                            p
                    //-.col-12
                        .col-1
                            p
                        .col-10.vertical-col
                            .col-4.icon-vertical 
                                img.icon-vertical(src=local.images.auditoria, alt="auditoria")
                            .col-6
                                .title-sections.txt-justify
                                    h3 #[strong Auditoría]
                                    h2 Identifica oportunidades de mejora
                                    p En tu seguridad con auditorias de detección de vulnerabilidades y evacuación de la resistencia de los activos de la empresa.
                        .col-1
                            p 
                    //-.col-12
                        .col-1
                            p
                        .col-10.vertical-col
                            .col-6
                                .title-sections.derecha
                                    h3 #[strong Operación]
                                    h2 Facilite la operación de seguridad
                                    p De la empresa mediante la implementación de herramientas de monitoreo continuo y automatizaron de tareas mediante la orquestación de procesos y nuestros servicios.
                            .col-4.icon-vertical 
                                img.icon-vertical(src=local.images.operacion, alt="operacion")
                        .col-1
                            p 
                    //-.col-12
                        .col-1
                            p
                        .col-10.vertical-col
                            .col-4.icon-vertical 
                                img.icon-vertical(src=local.images.control, alt="control")
                            .col-6
                                .title-sections.txt-justify
                                    h3 #[strong Control]
                                    h2 Proteja las aplicaciones y los datos 
                                    p Con herramientas y procesos para detectar y reaccionar ante una fuga de datos y gestión de identidades y accesos, para obtener una protección y privacidad de datos eficaz. 
                        .col-1
                            p
                    //-.col-12
                        .col-1
                            p
                        .col-10.vertical-col
                            .col-6
                                .title-sections.derecha
                                    h3 #[strong Dispositivos]
                                    h2 Asegura los activos de la empresa
                                    p Identificando y resolviendo rápidamente cambios, vulnerabilidades y errores de configuración de seguridad actual.
                            .col-4.icon-vertical 
                                img.icon-vertical(src=local.images.dispositivo, alt="dispositivo")
                        .col-1
                            p  
                                br
        //-section.section-about-dass#dass
            .container
                .row
                    .col-12   
                        .title-sections.txt-justify
                            h3 #[strong BENEFICIOS]
                            h2 Fomente la cultura de seguridad
                            p Mediante capacitaciones a personal, desarrollo capacidades y procesos internos con un control y gestión de cambio para asegurar el éxito de su nueva iniciativa de seguridad.  
                        ul
                            li
                                //-strong Corre cualquier app a cualquier escala
                                img#imagen(src=local.images.proteccion, alt="proteccion")
                                p Corre apps y flujos de trabajo en una plataforma sencilla con disponibilidad, ejecución y simplicidad sin par.
                            li
                                //-strong Corre cualquier app a cualquier escala
                                img#imagen(src=local.images.proteccion, alt="proteccion")
                                p Solucion diseñada en sectores como:Educación, Gobierno federal,Servicios Financieros, Salud, Manufactura y Punto de venta
                            li
                                //-strong Corre cualquier app a cualquier escala
                                img#imagen(src=local.images.proteccion, alt="proteccion")
                                p Construye una nube empresarial con almacenamiento, cómputo virtualización y red hiperconvergentes desde su base.
                            
                            li
                                //-strong Corre cualquier app a cualquier escala
                                img#imagen(src=local.images.proteccion, alt="proteccion")
                                p Proteja las aplicaciones virtualizadas con un espectro completo  de copia de seguridad y recuperación integradas en Nutanix Enterprise Cloud.
                            
        //-.flotante
            a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
                img(src=local.images.whitepaper, alt="big data" )
            a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
                img(src=local.images.casodeuso, alt="big data")
        include ../template/_footer
        if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
        script(type="text/javascript" src=section_scripts[current_profile][i])

dist/dev/sections/cloud.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Cloud</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Emprenda el camino a la nube híbrida utilizando una mezcla de servicios en nube locales, privados y público, con orquestación entre las plataformas.">
    <meta name="keywords" content="Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, plataforma, gestión de datos , Innovación, Empresas, Negocios, migración, base de datos, almacenamiento, Cloud, hibrido, Nube, sistemas,sistema all-flash, NetApp, transformación digital, soluciones NetApp">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-banner-dass-vertical mundo">
      <div class="banner-vr">
        <div class="container">
          <div class="content algo"><br>
            <div class="title-sections"></div>
            <h1>Cloud & <span class="green">Hybrid Platforms</span></h1>
            <P>Casi todo está basado en la nube hoy en día. Esto expone los datos de la empresa a problemas que antes no existían. Hacer que esto funcione de la manera correcta y que se ajuste mejor a una organización requiere tiempo y conocimiento de las mejores prácticas. Los expertos de SELLCOM SOLUTIONS pueden ayudar a identificar la mejor manera de que la nube se adapte a una organización. </P>
          </div>
        </div>
      </div>
    </section>
    <section class="section-verticales">
      <div class="container gris">
        <div class="row">
          <div class="col-12"></div>
          <h1>SOLU<span class="green">CIONES</span></h1>
          <div class="col-12">
            <div class="col-1">
              <p> </p>
            </div>
            <div class="col-10 vertical-col">
              <div class="col-4 icon-vertical"> <img src="../images/products_netapp/verticales_soluciones_news.png" alt="news"></div>
              <div class="col-6">
                <div class="title-sections txt-justify">
                  <h3><strong>Nube Privada e híbrida</strong></h3>
                  <h2>Orquestación, Automatización y Seguridad</h2>
                  <p>Disponer de una infraestructura virtual, la base de la nube (cloud) privada, es ahora una forma común y eficiente de ejecutar un centro de datos.  La consistencia, la eficiencia, la gestión del ciclo de vida y la capacidad de comprender el coste de ejecución de las aplicaciones son todos importantes. También lo son la orquestación y la automatización de los procesos. Los profesionales de TI necesitan revisar los procesos internos y considerar los diversos modelos de costos para la Nube Privada, Pública o Híbrida para entender cómo asegurar la eficiencia de costos de las operaciones del centro de datos.</p>
                </div>
              </div>
            </div>
            <div class="col-1">
              <p> </p>
            </div>
          </div>
          <div class="col-12">
            <div class="col-1">
              <p></p>
            </div>
            <div class="col-10 vertical-col">
              <div class="col-6">
                <div class="title-sections derecha">
                  <h3><strong>Nube Pública</strong></h3>
                  <h2>IaaS, BaaS, DRaaS, PaaS y SaaS</h2>
                  <p><strong>IaaS</strong></p>
                  <p class="txt-justify">Incluso con todos los beneficios de una infraestructura virtualizada, los clientes siguen buscando mejorar su eficiencia y consistencia operativa, y conseguir una herramienta de gestión del ciclo de vida, y hacer aún más por sus negocios mientras reducen los costes aún más.</p>
                  <p class="txt-justify">La infraestructura virtualizada es la base de nuestro próximo paso en la transición del centro de datos a la infraestructura como servicio (IaaS). Tener confianza en el diseño y la arquitectura de su hardware le permite añadir los componentes de software de IaaS y obtener beneficios adicionales que aumentan su agilidad, eficiencia y control. También permite a los grupos dentro de su organización tener recursos de TI de autoservicio al alcance de la mano.</p>
                  <p class="txt-justify">SELLCOM SOLUTIONS ha estado ayudando a nuestros clientes a simplificar el desarrollo, la producción y los entornos de recuperación de desastres utilizando IaaS, mientras que permite una mayor eficiencia, coherencia y gestión del ciclo de vida.</p>
                  <p><strong>BaaS</strong></p>
                  <p class="txt-justify">Las estrategias de continuidad de negocio han sido un requisito en las operaciones de TI durante décadas. La necesidad de hacer copias de seguridad y restaurar los datos es un requisito esencial en todos los centros de datos. La capacidad de realizar copias de seguridad en diferentes soportes, ya sea en cinta, disco o Public Cloud, es esencial, ya que los acuerdos de nivel de servicio impulsan unos objetivos de tiempo de recuperación bajos y una pérdida de datos mínima. El backup como servicio (BaaS) de Sellcom Solutions puede cubrir parte de sus necesidades de continuidad y ser parte de su solución de recuperación.</p>
                  <p class="txt-justify">SELLCOM SOLUTIONS ha estado ayudando a nuestros clientes a actualizar y simplificar sus estrategias de Continuidad de Negocio, demostrando que es posible cumplir con los agresivos SLAs con ventanas cortas de RTO y RPO. </p>
                  <p><strong>DRaaS</strong></p>
                  <p class="txt-justify">Con las preocupaciones sobre la ciberseguridad en aumento, la necesidad de un plan de Recuperación de Desastres (DR) nunca ha sido más importante. Por eso, la Recuperación de Desastres como Servicio (DRaaS) ha proporcionado un enorme beneficio a las organizaciones, tanto grandes como pequeñas. La capacidad de fallar sobre una Infraestructura Virtual a un centro de datos en la Nube elimina el agravamiento y los costos asociados con la gestión de múltiples centros de datos. </p>
                  <p class="txt-justify">SELLCOM SOLUTIONS ha estado ayudando a los clientes a controlar sus costos de capital y de operación mientras que logran el RTO y RPO que sus negocios requieren, a modernizar las estrategias de continuidad de negocio de nuestros clientes, y realizando operaciones más simples para cumplir con esas estrategias. </p>
                  <p><strong>PaaS</strong></p>
                  <p class="txt-justify">PaaS proporciona una infraestructura basada en la nube para los desarrolladores de aplicaciones, permitiéndoles concentrarse en el desarrollo, prueba y despliegue de sus aplicaciones sin tener que equipar un centro de datos local para apoyarlos.</p>
                  <p class="txt-justify">Si usted tiene equipos de desarrollo que aún no han adoptado la PaaS, tal vez sea el momento de echar un vistazo más de cerca a todo, desde los proveedores iniciales que proporcionan PaaS hasta las tecnologías que permiten a los equipos ensamblar las piezas para permitir un desarrollo rápido y personalizado, incluyendo las herramientas y servicios diseñados para hacer la codificación y el despliegue eficiente.
                    <p><strong>SaaS</strong></p>
                  </p>
                  <p class="txt-justify">El software como servicio (SaaS) permite a los usuarios conectarse a aplicaciones basadas en la nube a través de Internet y usarlas. Algunos ejemplos comunes son el correo electrónico, los calendarios y las herramientas ofimáticas (como Microsoft Office 365).</p>
                  <p class="txt-justify">SaaS ofrece una solución de software integral que se adquiere de un proveedor de servicios en la nube mediante un modelo de pago por uso. Usted alquila el uso de una aplicación para su organización y los usuarios se conectan a ella a través de Internet, normalmente con un explorador web. Toda la infraestructura subyacente, el middleware, el software y los datos de las aplicaciones se encuentran en el centro de datos del proveedor. El proveedor de servicios administra el hardware y el software y, con el contrato de servicio adecuado, garantizará también la disponibilidad y la seguridad de la aplicación y de sus datos. SaaS permite que una organización se ponga en marcha y pueda ejecutar aplicaciones con un costo inicial mínimo.</p>
                </div>
              </div>
              <div class="col-4 icon-vertical"> <img src="../images/products_netapp/verticales_soluciones_seguridad.png" alt="seguridad"></div>
            </div>
            <div class="col-1">
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/libs/jquery.validate.js"></script>
    <script src="../js/libs/jquery.file.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/sellcom_dass.js"></script>
    <script src="../js/controllers/downloads.js"></script>
    <script src="../js/controllers/form.js"></script>
  </body>
</html>
<script type="text/javascript" src="../js/libs/jquery.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<script type="text/javascript" src="../js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../js/libs/jquery.file.js"></script>
<script type="text/javascript" src="../js/plugins/slick.js"></script>
<script type="text/javascript" src="../js/controllers/sellcom_dass.js"></script>
<script type="text/javascript" src="../js/controllers/downloads.js"></script>
<script type="text/javascript" src="../js/controllers/form.js"></script>
