dist/dev/sections/conocenos.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Conócenos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="En Sellcom entendemos la tecnología como un medio, no como un fin; por ello ofrecemos consultoría, definición e integración de proyectos de TI.">
    <meta name="keywords" content="Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Quién es, Qué es, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Infraestructura, Virtualización.">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-banner-dass-vertical mundo">
      <div class="banner-vr-2"></div>
      <div class="container">
        <div class="content algo"><br>
          <div class="title-sections"></div>
          <h1>Conoce a <span class="green">Sellcom</span></h1>
          <p>Entendemos la tecnología como un medio, no como un fin.</p>
        </div>
      </div>
    </section>
    <section class="section-verticales">
      <div class="container gris">
        <div class="row">
          <div class="col-12"></div>
          <h2><span class="green">Somos</span> tu mejor <span class="green">aliado</span> estratégico en tecnología.</h2>
          <p>Nuestro grupo está conformado por profesionales que unen su experiencia y su conocimiento en: <strong>tecnología, solución y estrategia para impulsar tu negocio.</strong></p>
          <div class="col-10 middle">
            <div class="title-sections txt-justify">
              <h3><strong>Misión</strong></h3>
              <p>Ser el mejor aliado tecnológico en la consultoría, definición e implementación de proyectos de TI, que permitan el crecimiento, control y eficiencia de los negocios.</p>
              <h3><strong>Visión</strong></h3>
              <p>Crear constante innovación a través de nuevas formas de colaboración que satisfagan las necesidades de los clientes; además de ser referencia y la más valorada opción tecnológica.</p>
              <h3><strong>Valores</strong></h3>
              <p></p>
              <ul>
                <li><strong>Integridad:</strong> Es honesto y congruente con sus acciones.</li>
                <li><strong>Innovación:</strong> Soluciones que agregar valor.</li>
                <li><strong>Compromiso:</strong> Busca el cómo sí.</li>
                <li><strong>Confianza:</strong> Crear certeza a través de tus acciones.</li>
                <li><strong>Calidad:</strong> Buscamos la excelencia.</li>
                <li><strong>Trabajo en Equipo:</strong> Unión de esfuerzos encaminados al logro de una meta en común.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-numbers">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="col-4"><span class="number-animate" id="number-collaborators">300</span>
              <p>Colaboradores enfocados en ofrecerte la mejor estrategia tecnológica.</p>
            </div>
            <div class="col-4"><span>+&nbsp;</span><span class="number-animate" id="number-success">100</span>
              <p>Casos de éxito en México.</p>
            </div>
            <div class="col-4"><span class="number-animate" id="number-awards">80</span>
              <p>Reconocimiento otorgados.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/Sellcom.js"></script>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/libs/jquery.validate.js"></script>
    <script src="../js/global/global.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/sellcom_about.js"></script>
    <script src="../js/plugins/addthis_widget.js"></script>
    <script src="../js/controllers/form.js"></script>
  </body>
</html>
<script type="text/javascript" src="../js/Sellcom.js"></script>
<script type="text/javascript" src="../js/libs/jquery.js"></script>
<script type="text/javascript" src="../js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../js/global/global.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<script type="text/javascript" src="../js/plugins/slick.js"></script>
<script type="text/javascript" src="../js/controllers/sellcom_about.js"></script>
<script type="text/javascript" src="../js/plugins/addthis_widget.js"></script>
<script type="text/javascript" src="../js/controllers/form.js"></script>

src/html/sections/conocenos.pug
//-Configuración y variables globales del proyecto
include ../config/_variables
//-
    Ajustes de la configuración global para esta sección
- global_path = '../'
//-
    Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
    Nombre de la página
- var page = 'Conoce a Sellcom'
- var metadata = {}
- metadata['title'] = 'Sellcom - Conócenos'
- metadata['description'] = 'En Sellcom entendemos la tecnología como un medio, no como un fin; por ello ofrecemos consultoría, definición e integración de proyectos de TI.'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Quién es, Qué es, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Infraestructura, Virtualización.'

- var section_scripts =  {} 
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.base + 'Sellcom.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.global + 'global.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_about.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'addthis_widget.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.base + 'Sellcom.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.global + 'global.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_about.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'addthis_widget.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_huawei + 'bannerprincipal.jpg'
//- Servicios
- local.images['migracion'] = global_path + images.products_netapp + 'servicio_migracion.png'
- local.images['proteccion'] = global_path + images.products_netapp + 'servicio_proteccion.png'
- local.images['datos'] = global_path + images.products_netapp + 'servicio_datos.png'
- local.images['almacenamiento'] = global_path + images.products_netapp + 'servicio_almacenamiento.png'

//- Microsite


//- Beneficios
- local.images['archivos'] = global_path + images.products_netapp + 'beneficio_archivos.png'
- local.images['computacion'] = global_path + images.products_netapp + 'beneficio_computacion.png'
- local.images['nube'] = global_path + images.products_netapp + 'beneficio_nube.png'


- local.images['solucion'] = global_path + images.products_netapp + 'solucion.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Huawei_Whitepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'Huawei_casos_de_uso.pdf'

//- Imagenes del nuevo sitio
- local.images['news'] = global_path + images.products_netapp + 'verticales_soluciones_news.png'
- local.images['seguridad'] = global_path + images.products_netapp + 'verticales_soluciones_seguridad.png'
- local.images['auditoria'] = global_path + images.products_netapp + 'verticales_soluciones_auditoria.png'
- local.images['operacion'] = global_path + images.products_netapp + 'verticales_soluciones_operacion.png'
- local.images['control'] = global_path + images.products_netapp + 'vertical_soluciones_control.png'
- local.images['dispositivo'] = global_path + images.products_netapp + 'vertical_soluciones_dispositivo.png'
- local.images['banner'] = global_path + images.products_netapp + 'vertical_soluciones_banner.png'
- local.images['medio'] = global_path + images.products_netapp + 'vertical_soluciones_medio.png'
- local.images['fondo'] = global_path + images.products_netapp + 'vertical_soluciones_fondo.png'



doctype html
html(lang=site.lang)
    include ../template/_head
    body
        include ../template/_header
        section.section-banner-dass-vertical.mundo
            .banner-vr-2
            .container
                .content.algo
                    br
                    .title-sections
                    h1 Conoce a #[span.green Sellcom]
                    p Entendemos la tecnología como un medio, no como un fin.
        
        section.section-verticales
            .container.gris
                .row
                    .col-12
                    h2 #[span.green Somos] tu mejor #[span.green aliado] estratégico en tecnología.
                    p Nuestro grupo está conformado por profesionales que unen su experiencia y su conocimiento en: #[strong tecnología, solución y estrategia para impulsar tu negocio.]

                    .col-10.middle
                        .title-sections.txt-justify
                            h3 #[strong Misión]
                            //-h2 Fomente la cultura de seguridad
                            p Ser el mejor aliado tecnológico en la consultoría, definición e implementación de proyectos de TI, que permitan el crecimiento, control y eficiencia de los negocios.
                            h3 #[strong Visión]
                            p Crear constante innovación a través de nuevas formas de colaboración que satisfagan las necesidades de los clientes; además de ser referencia y la más valorada opción tecnológica.
                            h3 #[strong Valores]
                            p
                            ul
                                li #[strong Integridad:] Es honesto y congruente con sus acciones.
                                li #[strong Innovación:] Soluciones que agregar valor.
                                li #[strong Compromiso:] Busca el cómo sí.
                                li #[strong Confianza:] Crear certeza a través de tus acciones.
                                li #[strong Calidad:] Buscamos la excelencia.
                                li #[strong Trabajo en Equipo:] Unión de esfuerzos encaminados al logro de una meta en común.
        section.section-numbers
            .container
                .row
                    .col-10.middle
                        .col-4
                            span.number-animate#number-collaborators 300
                            p Colaboradores enfocados en ofrecerte la mejor estrategia tecnológica.
                        .col-4
                            span +&nbsp;
                            span.number-animate#number-success 100
                            p Casos de éxito en México.
                        .col-4
                            span.number-animate#number-awards 80
                            p Reconocimiento otorgados.

                    
        include ../template/_footer
        if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
        script(type="text/javascript" src=section_scripts[current_profile][i])
