dist/dev/sections/cyberc.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - CyberC</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Ahora costos con las soluciones de CyberC; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!">
    <meta name="keywords" content="Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, CyberC, bajo demanda, on demand, soluciones CyberC">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-banner-dass"><img class="banner" src="../images/products_cyberc/bannerprincipal.jpg" alt="banner">
      <div class="container">
        <div class="content"><br>
          <div class="title-sections">
            <h1>CyberC – JumbleDB</h1>
          </div>
          <p>Solucione las mayores problemáticas actuales de fugas de datos, incremente la seguridad y protección de la información y garantice la confianza de sus usuarios.</p>
        </div>
      </div>
    </section>
    <section class="section-about-dass" id="dass">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="title-sections-text">
              <h3>¿Qué es CyberC?</h3>
              <p>Una nueva solución en TI.</p>
            </div>
            <ul>
              <li><strong>JumbleDB Detect</strong><img src="../images/products_cyberc/servicio_JUMBLEDB-DETECT.png" alt="detect">
                <p>Identifique dónde residen sus datos confidenciales. </p>
              </li>
              <li><strong>JumbleDB Protect</strong><img src="../images/products_cyberc/servicio_JUMBLEDB-protect.png" alt="protect">
                <p>Datos reales y significativos, manteniendo la integridad del negocio.</p>
              </li>
              <li><strong>JumbleDB Alert</strong><img src="../images/products_cyberc/servicio_JUMBLEDB-alert.png" alt="alert">
                <p>Recibir notificaciones cuando se agreguen datos confidenciales a una base de datos ya enmascarada.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <div class="flotante"><a class="whitepage" href="../documents/Cyber_c_Whitepaper.pdf" dowloand target="_blank" title="Descargar white paper"><img src="../images/global/whitepaper.png" alt="big data"></a><a class="caseofuse" href="../documents/Cyber_c_Caso_de_uso.pdf" dowloand target="_blank" title="Descargar casos de uso"><img src="../images/global/casodeuso.png" alt="big data"></a></div>
    <section class="section-implementDass" id="beneficios">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections-text">
              <h3>¿Por qué implementar CyberC?</h3>
              <p>Beneficios:</p>
            </div>
            <ul>
              <li><img src="../images/products_cyberc/beneficio_cumplimientoderegulaciones.png" alt="regulaciones">
                <p>Cumplimiento de regulaciones de Seguridad como: EU GDPR.</p>
              </li>
              <li><img src="../images/products_cyberc/beneficio_cumplimientodeestandares.png" alt="estandares">
                <p>Cumplimento de estandares de seguridad como: PCI-DSS, GLBA.</p>
              </li>
              <li><img src="../images/products_cyberc/beneficio_previenecualquierfuga.png" alt="fuga">
                <p>Previene cualquier fuga de información.</p>
              </li>
              <li><img src="../images/products_cyberc/beneficio_identificarlosdatossensibles.png" alt="sensible">
                <p>Identificar los datos sensibles de la organización.</p>
              </li>
              <li><img src="../images/products_cyberc/beneficio_mapeodedatos.png" alt="mapeo">
                <p>Mapeo de datos sensibles de la organización.</p>
              </li>
              <li><img src="../images/products_cyberc/beneficio_consensiblestrolarlosdatos.png" alt="controlar">
                <p>Controlar los datos sensibles de la organización.</p>
              </li>
              <li><img src="../images/products_cyberc/beneficio_ocultarlosdatosoriginales.png" alt="ocultar">
                <p>Ocultar datos originales con datos alternativos realistas no sensibles.</p>
              </li>
              <li><img src="../images/products_cyberc/beneficio_enmascaramientodedatos.png" alt="mascara">
                <p>Los datos deben seguir siendo utilizables y también deben verse reales y ser consistentes.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section-subtitle" id="soluciones">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections">
              <h3>Conoce nuestra solución</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-why-dass"><img src="../images/products_cyberc/solucion.jpg" alt="solución conoce">
      <div class="container">
        <div class="row">
          <div class="col-6 bgcircle">
            <p>Detección, clasificación y enmascaramiento de datos sensibles. Una solución integral para todas sus necesidades de enmascaramiento y detección de datos confidenciales.</p>
            <p>Ayuda a garantizar un trabajo eficiente en entornos de prueba y desarrollo, al usar datos significativos en su estructura original con la capacidad de evitar la filtración de datos confidenciales a terceros que no sean usuarios autorizados.</p>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/libs/jquery.validate.js"></script>
    <script src="../js/libs/jquery.file.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/sellcom_dass.js"></script>
    <script src="../js/controllers/downloads.js"></script>
    <script src="../js/controllers/form.js"></script>
  </body>
</html>
<script type="text/javascript" src="../js/libs/jquery.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<script type="text/javascript" src="../js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../js/libs/jquery.file.js"></script>
<script type="text/javascript" src="../js/plugins/slick.js"></script>
<script type="text/javascript" src="../js/controllers/sellcom_dass.js"></script>
<script type="text/javascript" src="../js/controllers/downloads.js"></script>
<script type="text/javascript" src="../js/controllers/form.js"></script>

src/html/sections/cyberc.pug
//-Configuración y variables globales del proyecto
include ../config/_variables
//-
	Ajustes de la configuración global para esta sección
- global_path = '../'
//-
	Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
	Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - CyberC'
- metadata['description'] = 'Ahora costos con las soluciones de CyberC; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, CyberC, bajo demanda, on demand, soluciones CyberC'
- var landing = 'cyberc'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_cyberc + 'bannerprincipal.jpg'
//- Servicios
- local.images['detect'] = global_path + images.products_cyberc + 'servicio_JUMBLEDB-DETECT.png'
- local.images['protect'] = global_path + images.products_cyberc + 'servicio_JUMBLEDB-protect.png'
- local.images['alert'] = global_path + images.products_cyberc + 'servicio_JUMBLEDB-alert.png'
//- Beneficios
- local.images['regulaciones'] = global_path + images.products_cyberc + 'beneficio_cumplimientoderegulaciones.png'
- local.images['estandares'] = global_path + images.products_cyberc + 'beneficio_cumplimientodeestandares.png'
- local.images['controlar'] = global_path + images.products_cyberc + 'beneficio_consensiblestrolarlosdatos.png'
- local.images['mascara'] = global_path + images.products_cyberc + 'beneficio_enmascaramientodedatos.png'
- local.images['sensible'] = global_path + images.products_cyberc + 'beneficio_identificarlosdatossensibles.png'
- local.images['mapeo'] = global_path + images.products_cyberc + 'beneficio_mapeodedatos.png'
- local.images['ocultar'] = global_path + images.products_cyberc + 'beneficio_ocultarlosdatosoriginales.png'
- local.images['fuga'] = global_path + images.products_cyberc + 'beneficio_previenecualquierfuga.png'

- local.images['solucion'] = global_path + images.products_cyberc + 'solucion.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Cyber_c_Whitepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'Cyber_c_Caso_de_uso.pdf'

doctype html
html(lang=site.lang)
	include ../template/_head
	body
		include ../template/_header
		section.section-banner-dass
			img.banner(src=local.images.banner, alt="banner")
			.container
				.content
					br
					.title-sections
						h1 CyberC – JumbleDB
					p Solucione las mayores problemáticas actuales de fugas de datos, incremente la seguridad y protección de la información y garantice la confianza de sus usuarios.
		section.section-about-dass#dass
			.container
				.row
					.col-12
						.title-sections-text
							h3 ¿Qué es CyberC?
							p Una nueva solución en TI.
						ul
							li
								strong JumbleDB Detect
								img(src=local.images.detect, alt="detect")
								p Identifique dónde residen sus datos confidenciales. 
							li
								strong JumbleDB Protect
								img(src=local.images.protect, alt="protect")
								p Datos reales y significativos, manteniendo la integridad del negocio.
							li
								strong JumbleDB Alert
								img(src=local.images.alert, alt="alert")
								p Recibir notificaciones cuando se agreguen datos confidenciales a una base de datos ya enmascarada.
		.flotante
			a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
				img(src=local.images.whitepaper, alt="big data" )
			a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
				img(src=local.images.casodeuso, alt="big data")
		section.section-implementDass#beneficios
			.container
				.row
					.col-10.middle
						.title-sections-text
							h3 ¿Por qué implementar CyberC?
							p Beneficios:
						ul
							li
								img(src=local.images.regulaciones, alt="regulaciones")
								p Cumplimiento de regulaciones de Seguridad como: EU GDPR.
							li
								img(src=local.images.estandares, alt="estandares")
								p Cumplimento de estandares de seguridad como: PCI-DSS, GLBA.
							li
								img(src=local.images.fuga, alt="fuga")
								p Previene cualquier fuga de información.
							li
								img(src=local.images.sensible, alt="sensible")
								p Identificar los datos sensibles de la organización.
							li
								img(src=local.images.mapeo, alt="mapeo")
								p Mapeo de datos sensibles de la organización.
							li
								img(src=local.images.controlar, alt="controlar")
								p Controlar los datos sensibles de la organización.
							li
								img(src=local.images.ocultar, alt="ocultar")
								p Ocultar datos originales con datos alternativos realistas no sensibles.
							li
								img(src=local.images.mascara, alt="mascara")
								p Los datos deben seguir siendo utilizables y también deben verse reales y ser consistentes.
		section.section-subtitle#soluciones
			.container
				.row
					.col-10.middle
						.title-sections
							h3 Conoce nuestra solución
		section.section-why-dass
			img(src=local.images.solucion, alt="solución conoce")
			.container
				.row
					.col-6.bgcircle
						p Detección, clasificación y enmascaramiento de datos sensibles. Una solución integral para todas sus necesidades de enmascaramiento y detección de datos confidenciales.
						p Ayuda a garantizar un trabajo eficiente en entornos de prueba y desarrollo, al usar datos significativos en su estructura original con la capacidad de evitar la filtración de datos confidenciales a terceros que no sean usuarios autorizados.
		include ../template/_footer
		if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
		script(type="text/javascript" src=section_scripts[current_profile][i])
