dist/dev/sections/daas.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Daas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Llegó la era de la Daas; una solución que simplifica las operaciones en TI con una sola plataforma. ¡La tecnología que tu empresa necesita!">
    <meta name="keywords" content="Sellcom, Daas, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-video-dass"><img src="../images/solutions_daas/bannerprincipal.jpg" alt="Dass">
      <div class="boxVideo">
        <video id="secondVideo" autoplay loop muted>
          <source src="../images/video/daas.mp4" type="video/mp4">
        </video>
        <div class="container">
          <div class="content"><br>
            <div class="title-sections">
              <h1>Device as a Service</h1>
            </div>
            <p>Todos los componentes a rededor de tus dispositivos los ponemos a tu alcance.         </p>
          </div>
        </div>
      </div>
    </section>
    <section class="anchors">
      <div class="container">
        <div class="row">
          <div class="col-10 middle"> 
            <ul id="submenu">
              <li><a href="#device">
                  <p>Conoce nuestra soluci&oacute;n</p></a></li>
              <li><a href="#howitworks">
                  <p>¿C&oacute;mo funciona?</p></a></li>
              <li><a href="#whydaas">
                  <p>¿Por qu&eacute; implementar Daas?</p></a></li>
              <li><a href="#toolsdaas">
                  <p>Herramientas</p></a></li>
              <li><a href="#weareexperts">
                  <p>Socios</p></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="device-text-one" id="device">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6 txt-justify">
                <h2>¿Qué es Daas?</h2>
                <p>Conjunto de herramientas, programas y dispositivos para brindarte un servicio de calidad en torno a dispositivos.</p>
                <p>Realizamos la venta de los dispositivos que satisfagan tu requerimiento (tabletas, desktops, laptops, etc) y adicionalmente te brindamos los servicios de configuración, mantenimiento y renovación.</p>
              </div>
              <div class="col-6"><img src="../images/solutions_daas/sellcom-devicedass-service.jpg" alt="Devices As a Service"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="how-it-works" id="howitworks">
      <div class="container">
        <div class="row">
          <div class="col-10 middle txt-justify">
            <h2>¿C&oacute;mo funciona?</h2>
            <p>El flujo de Daas es el que a continuación se menciona.</p>
            <ul>
              <li> 
                <p><strong>Venta de equipo</strong> <span> </span></p>
              </li>
              <li>
                <p><strong>Configuración de equipo / enrolamiento de equipo</strong> <span> </span></p>
              </li>
              <li>
                <p><strong>Puesta en marcha de equipo</strong> <span> </span></p>
              </li>
              <li> 
                <p><strong>Mantenimiento y atención de incidencias de dispositivos</strong><span> </span></p>
              </li>
              <li>
                <p><strong>Renovación o complemento de equipos</strong> <span> </span></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="why-daas" id="whydaas">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <h2>¿Por qu&eacute; implementar Daas?</h2>
            <p>La adopción de Daas en tus dispositivos te permitirá.</p>
            <ul>
              <li><img src="../images/solutions_daas/icon_controldenivelesdeservicio.png" alt="Soporte global ">
                <p>Control de niveles de servicio.</p>
              </li>
              <li><img src="../images/solutions_daas/icon_controldecostosendispositivos.png" alt="Protección contra daños">
                <p>Control de costos en dispositivos.</p>
              </li>
              <li><img src="../images/solutions_daas/icon_mejoradministraciondedispositivos.png" alt="Servicios de reparación">
                <p>Mejor administración de dispositivos.</p>
              </li>
              <li><img src="../images/solutions_daas/icon_controldeinventarios.png" alt="Servicios de reparación">
                <p>Control de inventarios.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="tools-daas" id="toolsdaas">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <h2>Herramientas</h2>
            <p> </p>
            <ul class="row">
              <li class="col-3">
                <div class="img-tools"><img src="../images/solutions_daas/administracionremota.jpg" alt="Software Delivery"></div>
                <div class="description-tools">
                  <h3>Herramientas de administración remota</h3>
                  <p>MDM, consola de administración</p>
                </div>
              </li>
              <li class="col-3">
                <div class="img-tools"><img src="../images/solutions_daas/dispositivosdecomputo.jpg" alt="Asset Management"></div>
                <div class="description-tools">
                  <h3>Dispositivos de cómputo</h3>
                  <p> </p>
                </div>
              </li>
              <li class="col-3">
                <div class="img-tools"><img src="../images/solutions_daas/herramientasdeconfiguracion.jpg" alt="Software Metrix"></div>
                <div class="description-tools">
                  <h3>Herramientas de configuración o enrolamiento</h3>
                  <p> </p>
                </div>
              </li>
              <li class="col-3">
                <div class="img-tools"><img src="../images/solutions_daas/herramientasdegestion.jpg" alt="Software Metrix"></div>
                <div class="description-tools">
                  <h3>Herramienta de gestión o de seguimiento de mantenimientos</h3>
                  <p> </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="we-are-experts" id="weareexperts">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <h2>Somos expertos en DaaS</h2>
            <p> colaborando con los líderes como son:</p>
            <ul class="row">
              <li class="col-4"><a href="https://www.apple.com/mx/" target="_blank"><img src="../images/solutions_daas/logo_apple.png" alt="Apple"></a></li>
              <li class="col-4"><a href="https://www.hpe.com/mx/es/home.html" target="_blank"><img src="../images/solutions_daas/logo_hewlett.png" alt="HPe"></a></li>
              <li class="col-4"><a href="https://consumer.huawei.com/mx/" target="_blank"><img src="../images/solutions_daas/logo_huawei.png" alt="Huawei"></a></li>
              <li class="col-4"><a href="https://www.jamf.com/" target="_blank"><img src="../images/solutions_daas/logo_JAMF.png" alt="Jamf"></a></li>
              <li class="col-4"><a href="https://www.microsoft.com" target="_blank"><img src="../images/solutions_daas/logo_microsoft.png" alt="Microsoft"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/Sellcom.js"></script>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/global/global.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/products_daas.js"></script>
    <script src="../js/plugins/addthis_widget.js"></script>
  </body>
</html>

src/html/sections/daas.pug

include ../config/_variables
- global_path = '../'
- current_profile = CONST_DEV_PROFILE
- var page = 'Sellcom Daas'
- var metadata = {}
- metadata['title'] = 'Sellcom - Daas'
- metadata['description'] = 'Llegó la era de la Daas; una solución que simplifica las operaciones en TI con una sola plataforma. ¡La tecnología que tu empresa necesita!'
- metadata['keywords'] = 'Sellcom, Daas, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud'

- var section_scripts =  {} 
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.base + 'Sellcom.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.global + 'global.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers+ 'products_daas.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'addthis_widget.js')
- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.base + 'Sellcom.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.global + 'global.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'products_daas.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'addthis_widget.min.js')

- var local_images = {}
- local_images['images'] = {}
- local_images.images['banner'] = global_path +  images.solutions_daas + 'bannerprincipal.jpg'
- local_images.images['daas_one'] = global_path +  images.solutions_daas + 'sellcom-devicedass-service.jpg'

- local_images.images['administracionremota'] = global_path + images.solutions_daas + 'administracionremota.jpg'
- local_images.images['dispositivosdecomputo'] = global_path + images.solutions_daas + 'dispositivosdecomputo.jpg'
- local_images.images['herramientasdeconfiguracion'] = global_path + images.solutions_daas + 'herramientasdeconfiguracion.jpg'
- local_images.images['herramientasdegestion'] = global_path + images.solutions_daas + 'herramientasdegestion.jpg'

- local_images.images['icon_costosendispositivos'] = global_path + images.solutions_daas + 'icon_controldecostosendispositivos.png'
- local_images.images['icon_inventarios'] = global_path + images.solutions_daas + 'icon_controldeinventarios.png'
- local_images.images['icon_nivelesdeservicio'] = global_path + images.solutions_daas + 'icon_controldenivelesdeservicio.png'
- local_images.images['icon_administraciondispositivos'] = global_path + images.solutions_daas + 'icon_mejoradministraciondedispositivos.png'

- local_images.images['logo_apple'] = global_path + images.solutions_daas + 'logo_apple.png'
- local_images.images['logo_hpe'] = global_path + images.solutions_daas + 'logo_hewlett.png'
- local_images.images['logo_huawei'] = global_path + images.solutions_daas + 'logo_huawei.png'
- local_images.images['logo_jamf'] = global_path + images.solutions_daas + 'logo_JAMF.png'
- local_images.images['logo_microsoft'] = global_path + images.solutions_daas + 'logo_microsoft.png'


doctype html
html(lang=site.lang)
  include ../template/_head
  body
    include ../template/_header
    section.section-video-dass
      img(src=local_images.images.banner, alt="Dass")
      .boxVideo
        video#secondVideo(autoplay loop muted)
          source(src="../images/video/daas.mp4" type="video/mp4")
      
        .container
            .content
                br
                .title-sections
                   h1 Device as a Service
                p Todos los componentes a rededor de tus dispositivos los ponemos a tu alcance.         
    section.anchors
      .container
        .row
          .col-10.middle 
             ul#submenu
                li
                  a(href='#device') #[p Conoce nuestra soluci&oacute;n]
                li
                  a(href='#howitworks') #[p ¿C&oacute;mo funciona?]
                li
                  a(href='#whydaas') #[p ¿Por qu&eacute; implementar Daas?]
                li
                  a(href='#toolsdaas') #[p Herramientas]
                li
                 a(href='#weareexperts') #[p Socios]
    section.device-text-one#device
      .container
        .row
          .col-10.middle
            .row
              .col-6.txt-justify
                h2 ¿Qué es Daas?
                p Conjunto de herramientas, programas y dispositivos para brindarte un servicio de calidad en torno a dispositivos.
                p Realizamos la venta de los dispositivos que satisfagan tu requerimiento (tabletas, desktops, laptops, etc) y adicionalmente te brindamos los servicios de configuración, mantenimiento y renovación.
              .col-6
                img(src=local_images.images.daas_one alt='Devices As a Service')
    section.how-it-works#howitworks
      .container
        .row
          .col-10.middle.txt-justify
            h2 ¿C&oacute;mo funciona?
            p El flujo de Daas es el que a continuación se menciona.
            ul
              li 
                p #[strong Venta de equipo] 
                  span 
              li
                p #[strong Configuración de equipo / enrolamiento de equipo] 
                  span 
              li
                p #[strong Puesta en marcha de equipo] 
                  span 
              li 
                p #[strong Mantenimiento y atención de incidencias de dispositivos]
                  span 
              li
                p #[strong Renovación o complemento de equipos] 
                  span 
    section.why-daas#whydaas
      .container
        .row
          .col-10.middle
            h2 ¿Por qu&eacute; implementar Daas?
            p La adopción de Daas en tus dispositivos te permitirá.
            ul
              li
                img(src=local_images.images.icon_nivelesdeservicio alt='Soporte global ')
                p Control de niveles de servicio.
              li
                img(src=local_images.images.icon_costosendispositivos alt='Protección contra daños')
                p Control de costos en dispositivos.
              li
                img(src=local_images.images.icon_administraciondispositivos alt='Servicios de reparación')
                p Mejor administración de dispositivos.
              li
                img(src=local_images.images.icon_inventarios alt='Servicios de reparación')
                p Control de inventarios.
    section.tools-daas#toolsdaas
      .container
        .row
          .col-10.middle
            h2 Herramientas
            p 
            ul.row
              li.col-3
                .img-tools
                  img(src=local_images.images.administracionremota alt='Software Delivery')
                .description-tools
                  h3 Herramientas de administración remota
                  p MDM, consola de administración
              li.col-3
                .img-tools
                  img(src=local_images.images.dispositivosdecomputo alt='Asset Management')
                .description-tools
                  h3 Dispositivos de cómputo
                  p 
              li.col-3
                .img-tools
                  img(src=local_images.images.herramientasdeconfiguracion alt='Software Metrix')
                .description-tools
                  h3 Herramientas de configuración o enrolamiento
                  p 
              li.col-3
                .img-tools
                  img(src=local_images.images.herramientasdegestion alt='Software Metrix')
                .description-tools
                  h3 Herramienta de gestión o de seguimiento de mantenimientos
                  p 
    section.we-are-experts#weareexperts
      .container
        .row
          .col-10.middle
            h2 Somos expertos en DaaS
            p  colaborando con los líderes como son:
            ul.row
              li.col-4
                a(href="https://www.apple.com/mx/" target="_blank") #[img(src=local_images.images.logo_apple alt='Apple')]
              li.col-4
                a(href="https://www.hpe.com/mx/es/home.html" target="_blank") #[img(src=local_images.images.logo_hpe alt='HPe')]
              li.col-4
                a(href="https://consumer.huawei.com/mx/" target="_blank") #[img(src=local_images.images.logo_huawei alt='Huawei')]
              li.col-4
                a(href="https://www.jamf.com/" target="_blank") #[img(src=local_images.images.logo_jamf alt='Jamf')]
              li.col-4
                a(href="https://www.microsoft.com" target="_blank") #[img(src=local_images.images.logo_microsoft alt='Microsoft')]
    include ../template/_footer    
