dist/dev/sections/datacenter.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Datacenter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="La arquitectura actual de los centros de datos debe soportar una fuerza de trabajo altamente móvil, modelos de negocio basados en datos y la proliferación de dispositivos.">
    <meta name="keywords" content="Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, plataforma, gestión de datos , Innovación, Empresas, Negocios, migración, base de datos, almacenamiento, Cloud, hibrido, Nube, sistemas,sistema all-flash, NetApp, transformación digital, soluciones NetApp">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-banner-dass-vertical mundo">
      <div class="banner-vr">
        <div class="container">
          <div class="content algo"><br>
            <div class="title-sections"></div>
            <h1>Datacenter <span class="green">Solutions</span></h1>
            <P>SELLCOM SOLUTIONS ayuda a las empresas a simplificar y agilizar los complejos problemas de los centros de datos, tanto los existentes ahora como los que puedan surgir en el futuro, mediante la identificación de la infraestructura adecuada. La infraestructura del centro de datos tiene muchas capas e incluso más componentes dinámicos. Desde las operaciones virtuales a la nube privada y su hardware de apoyo, SELLCOM SOLUTIONS está ahí con las últimas arquitecturas y las mejores prácticas para garantizar operaciones de centro de datos altamente eficientes. </P>
          </div>
        </div>
      </div>
    </section>
    <section class="section-verticales">
      <div class="container gris">
        <div class="row">
          <div class="col-12"></div>
          <h1>SOLU<span class="green">CIONES</span></h1>
          <div class="col-12">
            <div class="col-1">
              <p> </p>
            </div>
            <div class="col-10 vertical-col">
              <div class="col-4 icon-vertical"> <img src="../images/products_netapp/verticales_soluciones_news.png" alt="news"></div>
              <div class="col-6">
                <div class="title-sections txt-justify">
                  <h3><strong>Hardware</strong></h3>
                  <h2>Su centro de datos es una máquina muy bien ajustada. Le ayudaremos a mantenerla así.</h2>
                  <p>A pesar del cambio a capas de software y aplicaciones virtuales más sofisticadas, cada centro de datos sigue dependiendo de su hardware subyacente. Pero, a veces, puede ser difícil mantenerse al día con las necesidades de hardware de su centro de datos.</p>
                  <p>Ahí es donde SELLCOM SOLUTIONS entra en juego. Los expertos de SELLCOM SOLUTIONS están bien versados en las últimas soluciones de hardware, las mejores de su clase para todo, desde computación, almacenamiento y redes hasta las mejores configuraciones de rack y alimentación. Centrado en la densidad, la eficiencia de costes y la facilidad de uso, SELLCOM SOLUTIONS puede ayudarte a diseñar e implementar el mejor hardware para tu centro de datos de próxima generación.</p>
                  <p>Como parte de nuestros servicios de Break/Fix, tenemos ingenieros a mano para ayudarle de manera oportuna con las piezas del equipo y el reemplazo de piezas de garantía. SELLCOM SOLUTIONS tiene como prioridad mantener un inventario constante de piezas de los principales fabricantes. Esto significa que podemos proporcionarle una pieza de repuesto de nuestro inventario el mismo día, si es necesario, mientras que la pieza de garantía es solicitada.</p>
                </div>
              </div>
            </div>
            <div class="col-1">
              <p> </p>
            </div>
          </div>
          <div class="col-12">
            <div class="col-1">
              <p></p>
            </div>
            <div class="col-10 vertical-col">
              <div class="col-6">
                <div class="title-sections derecha">
                  <h3><strong>Computo y Procesamiento</strong></h3>
                  <h2>Grandes datos. Analíticos. Motores de MPP. HPC.</h2>
                  <p class="txt-justify">Las aplicaciones avanzadas necesitan la potencia adecuada para un procesamiento rápido. SELLCOM SOLUTIONS puede ayudarle a hacerlo bien.</p>
                  <p class="txt-justify">Conseguir la infraestructura adecuada para soportar sus aplicaciones más exigentes es parte del arte y parte de la ciencia. SELLCOM SOLUTIONS puede ayudarle a conseguir el equilibrio adecuado cuando se trata de una de las partes más cruciales: los elementos virtuales y físicos de computación/servidor más responsables del procesamiento rápido.</p>
                  <p class="txt-justify">Como parte de nuestros servicios, SELLCOM SOLUTIONS ofrece una profunda experiencia en la virtualización, grandes datos, procesamiento masivo paralelo (MPP) y entornos de alta transacción. Esto incluye las mejores prácticas y el conocimiento de las arquitecturas probadas que rodean la combinación óptima de recursos de computación, servidores, almacenamiento y redes para garantizar el mejor rendimiento de la aplicación.</p>
                  <p class="txt-justify">Cuando se trata de ajustar o implementar el rendimiento de sus aplicaciones críticas, ¿por qué hacerlo solo? Permítanos compartir nuestra experiencia con usted para asegurar una experiencia exitosa para el usuario final.</p>
                </div>
              </div>
              <div class="col-4 icon-vertical"> <img src="../images/products_netapp/verticales_soluciones_seguridad.png" alt="seguridad"></div>
            </div>
            <div class="col-1">
              <p></p>
            </div>
          </div>
          <div class="col-12">
            <div class="col-1">
              <p></p>
            </div>
            <div class="col-10 vertical-col">
              <div class="col-4 icon-vertical"> <img src="../images/products_netapp/verticales_soluciones_auditoria.png" alt="auditoria"></div>
              <div class="col-6">
                <div class="title-sections txt-justify">
                  <h3><strong>Network</strong></h3>
                  <h2>Su red es su sistema nervioso digital. SELLCOM SOLUTIONS puede ayudar a mantenerlo funcionando sin problemas.</h2>
                  <p>Las infraestructuras de red son un hecho en el centro de datos moderno, sin embargo, la red subyacente que soporta todo su tráfico de datos no siempre puede recibir la atención que se merece.</p>
                  <p>Ya sea que estés actualizando aplicaciones o planificando nuevas, SELLCOM SOLUTIONS puede ayudar a asegurar que prestes mucha atención a los requisitos específicos de hardware y software de la red. Desde switches y routers a VLANs y opciones de red más sofisticadas definidas por software, SELLCOM SOLUTIONS ofrece una profunda experiencia en las mejores prácticas y arquitecturas de red recomendadas para apoyar incluso las aplicaciones empresariales más exigentes.</p>
                </div>
              </div>
            </div>
            <div class="col-1">
              <p> </p>
            </div>
          </div>
          <div class="col-12">
            <div class="col-1">
              <p></p>
            </div>
            <div class="col-10 vertical-col">
              <div class="col-6">
                <div class="title-sections derecha">
                  <h3><strong>Almacenamiento</strong></h3>
                  <h2>El almacenamiento es su inversión más costosa. SELLCOM SOLUTIONS puede ayudarte a sacarle el máximo provecho.</h2>
                  <p class="txt-justify">El almacenamiento empresarial es una base necesaria para cualquier centro de datos avanzado. Necesitas saber que lo estás usando de forma efectiva. Desde el aprovisionamiento del tamaño adecuado a la gestión de almacenamiento en curso, los expertos de SELLCOM SOLUTIONS pueden ayudar a racionalizar sus sistemas actuales.</p>
                  <p class="txt-justify">También podemos aconsejarle sobre los mejores pasos a seguir para pasar de los silos de IT a la próxima generación de almacenamiento consolidado. SELLCOM SOLUTIONS puede planear, diseñar e implementar el almacenamiento adecuado para tu próximo proyecto de centro de datos, desde dispositivos independientes hasta soluciones de almacenamiento definidas por software que combinan componentes informáticos, de almacenamiento y de red en un todo integrado.</p>
                  <p class="txt-justify">Ya sean consejos sobre las mejores prácticas o arquitecturas de almacenamiento probadas para todo, desde aplicaciones virtuales a bases de datos complejas o sistemas de análisis, los expertos de SELLCOM SOLUTIONS estarán encantados de compartir nuestro conocimiento de almacenamiento con usted para asegurar sus resultados óptimos.</p>
                </div>
              </div>
              <div class="col-4 icon-vertical"> <img src="../images/products_netapp/verticales_soluciones_operacion.png" alt="operacion"></div>
            </div>
            <div class="col-1">
              <p> </p>
            </div>
          </div>
          <div class="col-12">
            <div class="col-1">
              <p></p>
            </div>
            <div class="col-10 vertical-col">
              <div class="col-4 icon-vertical"> <img src="../images/products_netapp/vertical_soluciones_control.png" alt="control"></div>
              <div class="col-6">
                <div class="title-sections txt-justify">
                  <h3><strong>Virtualización</strong></h3>
                  <h2>Soluciones completas para satisfacer sus necesidades </h2>
                  <p>Las soluciones de virtualización ofrecen algunos de los resultados más convincentes de cualquier tecnología disponible hoy en día, lo que hace que el aprovisionamiento excesivo de servidores, almacenamiento, redes y ordenadores de sobremesa sea cosa del pasado. SELLCOM SOLUTIONS ofrece soluciones completas de virtualización adaptadas a sus necesidades. </p>
                  <p>SELLCOM SOLUTIONS ha estado ayudando a nuestros clientes a mejorar la eficiencia de sus centros de datos, mientras que asegura la coherencia y la gestión del ciclo de vida de las aplicaciones que hacen que sus negocios sean exitosos. </p>
                </div>
              </div>
            </div>
            <div class="col-1">
              <p></p>
            </div>
          </div>
          <div class="col-12">
            <div class="col-1">
              <p></p>
            </div>
            <div class="col-10 vertical-col">
              <div class="col-6">
                <div class="title-sections derecha">
                  <h3><strong>Rack y alimentación</strong></h3>
                  <h2>Construya un centro de datos denso y de bajo consumo.</h2>
                  <p class="txt-justify">Desde racks de servidores hasta UPS y PDU, SELLCOM SOLUTIONS está aquí para ayudar. Los racks de servidores y las fuentes de alimentación pueden no ser emocionantes, pero representan la sangre vital y el plano físico del centro de datos moderno.</p>
                  <p class="txt-justify">La eficiencia energética de su centro de datos, el ahorro de costes y la huella ecológica a menudo dependen de la arquitectura inteligente de estos pequeños detalles físicos. Aquí es donde la experiencia de SELLCOM SOLUTIONS en la arquitectura y la implementación de soluciones de centro de datos puede ser muy valiosa. Podemos ayudarle a determinar los mejores racks de servidores y las fuentes de alimentación asociadas para satisfacer las necesidades de su creciente centro de datos.</p>
                </div>
              </div>
              <div class="col-4 icon-vertical"> <img src="../images/products_netapp/vertical_soluciones_dispositivo.png" alt="dispositivo"></div>
            </div>
            <div class="col-1">
              <p> </p>
            </div>
          </div>
          <div class="col-12">
            <div class="col-1">
              <p></p>
            </div>
            <div class="col-10 vertical-col">
              <div class="col-4 icon-vertical"> <img src="../images/products_netapp/vertical_soluciones_control.png" alt="control"></div>
              <div class="col-6">
                <div class="title-sections txt-justify">
                  <h3><strong>Respaldo y Recuperación</strong></h3>
                  <h2>¿Necesita aumentar los esfuerzos de copia de seguridad y recuperación? </h2>
                  <p>En la era de la virtualización, existen nuevas opciones para la copia de seguridad y recuperación. Desde los dispositivos de hardware construidos a propósito hasta el nuevo software y las opciones de recuperación fuera del sitio, tienes un mundo de opciones a tu alcance. Por lo tanto, no hay razón para demorarse cuando se trata de garantizar la recuperación exitosa de sus aplicaciones de misión crítica. </p>
                  <p>SELLCOM SOLUTIONS puede ayudar a evaluar sus opciones de copia de seguridad y recuperación, basado en las necesidades de su organización de RTO y RPO. También podemos evaluar las fortalezas y debilidades en su actual arquitectura de respaldo/recuperación, mientras que ayudamos a asesorar, diseñar e implementar cualquier cambio sugerido. </p>
                </div>
              </div>
            </div>
            <div class="col-1">
              <p></p>
            </div>
          </div>
          <div class="col-12">
            <div class="col-1">
              <p></p>
            </div>
            <div class="col-10 vertical-col">
              <div class="col-6">
                <div class="title-sections derecha">
                  <h3><strong>Recuperación de desastres</strong></h3>
                  <h2>Los desastres son estresantes. La preparación para los desastres no tiene por qué serlo. </h2>
                  <p class="txt-justify">La recuperación de desastres puede ser una propuesta costosa, pero no es tan costosa como un desastre que ocurre cuando su organización no está preparada. Cualquier desastre, grande o pequeño, que detenga el uso de las aplicaciones de misión crítica de su empresa puede tener graves consecuencias para sus clientes, socios y empleados. Para minimizar el impacto, SELLCOM SOLUTIONS ofrece las últimas prácticas, métodos y soluciones para el respaldo y recuperación de desastres (DR).</p>
                  <p class="txt-justify">Puede contar con SELLCOM SOLUTIONS para reforzar su arquitectura de recuperación de desastres desde múltiples niveles, incluyendo la definición de criterios específicos de RTO y RPO por aplicación, evaluaciones profundas de DR, planificación, arquitectura, despliegue y pruebas continuas de DR.</p>
                </div>
              </div>
              <div class="col-4 icon-vertical"> <img src="../images/products_netapp/vertical_soluciones_dispositivo.png" alt="dispositivo"></div>
            </div>
            <div class="col-1">
              <p> </p>
            </div>
          </div>
          <div class="col-12">
            <div class="col-1">
              <p></p>
            </div>
            <div class="col-10 vertical-col">
              <div class="col-4 icon-vertical"> <img src="../images/products_netapp/vertical_soluciones_control.png" alt="control"></div>
              <div class="col-6">
                <div class="title-sections txt-justify">
                  <h3><strong>Desarrollo de Aplicaciones</strong></h3>
                  <h2>¿Necesita desarrollar aplicaciones pero no tiene los recursos? </h2>
                  <p>Se supone que las aplicaciones deben dar a su empresa una ventaja competitiva en el mercado. Pero, sin los recursos para construir o personalizar las aplicaciones que necesita, ¿qué se supone que debe hacer? He aquí una idea: Contacte con SELLCOM SOLUTIONS.</p>
                  <p>SELLCOM SOLUTIONS no sólo está involucrado en el negocio de la evaluación, planificación e implementación de software y hardware comercial. También tenemos las habilidades y la experiencia para planificar, desarrollar e implementar las aplicaciones personalizadas adecuadas para ofrecer los mejores resultados posibles. Incluso podemos ayudar a ampliar su empresa con el desarrollo de aplicaciones móviles. </p>
                </div>
              </div>
            </div>
            <div class="col-1">
              <p></p>
            </div>
          </div>
          <div class="col-12">
            <div class="col-1">
              <p></p>
            </div>
            <div class="col-10 vertical-col">
              <div class="col-6">
                <div class="title-sections derecha">
                  <h3><strong>Consolidación y Migraciones</strong></h3>
                  <h2>SELLCOM SOLUTIONS puede ayudarle a abrir un camino para la consolidación del centro de datos sin problemas.</h2>
                  <p class="txt-justify">La necesidad de consolidar sus recursos de IT puede ocurrir en varios niveles, desde servidores individuales a almacenamiento conectado directamente a centros de datos enteros que ahora pueden necesitar ser racionalizados o combinados.</p>
                  <p class="txt-justify">Independientemente del tamaño de su proyecto de consolidación, los expertos de SELLCOM SOLUTIONS pueden ayudarle a planificar, diseñar, migrar y consolidar de forma efectiva sus conjuntos de datos de aplicaciones críticas, desde los sistemas heredados en silos hasta infraestructuras más ecológicas y rentables de próxima generación o convergentes.</p>
                </div>
              </div>
              <div class="col-4 icon-vertical"> <img src="../images/products_netapp/vertical_soluciones_dispositivo.png" alt="dispositivo"></div>
            </div>
            <div class="col-1">
              <p></p>
            </div>
          </div>
          <div class="col-12">
            <div class="col-1">
              <p></p>
            </div>
            <div class="col-10 vertical-col">
              <div class="col-4 icon-vertical"> <img src="../images/products_netapp/vertical_soluciones_control.png" alt="control"></div>
              <div class="col-6">
                <div class="title-sections txt-justify">
                  <h3><strong>Servicios de Centro de Datos</strong></h3>
                  <h2>Desde la modernización hasta la migración completa, SELLCOM SOLUTIONS lo tiene cubierto.</h2>
                  <p>Mucho está sucediendo en el centro de datos de hoy en día. Puede estar considerando todo, desde la consolidación a la virtualización avanzada, y tal vez incluso un cambio a una arquitectura de nube privada o híbrida.</p>
                  <p>Cualquiera que sea su necesidad de centro de datos, los servicios de SELLCOM SOLUTIONS incluyen la evaluación del centro de datos, planificación, arquitectura, implementación y migración. Con una profunda experiencia en las mejores prácticas de centros de datos y lo último en arquitecturas de próxima generación, SELLCOM SOLUTIONS puede ayudar a llevar sus operaciones de centro de datos al siguiente nivel.</p>
                </div>
              </div>
            </div>
            <div class="col-1">
              <p><br></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/libs/jquery.validate.js"></script>
    <script src="../js/libs/jquery.file.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/sellcom_dass.js"></script>
    <script src="../js/controllers/downloads.js"></script>
    <script src="../js/controllers/form.js"></script>
  </body>
</html>
<script type="text/javascript" src="../js/libs/jquery.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<script type="text/javascript" src="../js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../js/libs/jquery.file.js"></script>
<script type="text/javascript" src="../js/plugins/slick.js"></script>
<script type="text/javascript" src="../js/controllers/sellcom_dass.js"></script>
<script type="text/javascript" src="../js/controllers/downloads.js"></script>
<script type="text/javascript" src="../js/controllers/form.js"></script>

src/html/sections/datacenter.pug
//-Configuración y variables globales del proyecto
include ../config/_variables
//-
    Ajustes de la configuración global para esta sección
- global_path = '../'
//-
    Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
    Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Datacenter'
- metadata['description'] = 'La arquitectura actual de los centros de datos debe soportar una fuerza de trabajo altamente móvil, modelos de negocio basados en datos y la proliferación de dispositivos.'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, plataforma, gestión de datos , Innovación, Empresas, Negocios, migración, base de datos, almacenamiento, Cloud, hibrido, Nube, sistemas,sistema all-flash, NetApp, transformación digital, soluciones NetApp'
- var landing = 'datacenter'

- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_huawei + 'bannerprincipal.jpg'
//- Servicios
- local.images['migracion'] = global_path + images.products_netapp + 'servicio_migracion.png'
- local.images['proteccion'] = global_path + images.products_netapp + 'servicio_proteccion.png'
- local.images['datos'] = global_path + images.products_netapp + 'servicio_datos.png'
- local.images['almacenamiento'] = global_path + images.products_netapp + 'servicio_almacenamiento.png'

//- Microsite


//- Beneficios
- local.images['archivos'] = global_path + images.products_netapp + 'beneficio_archivos.png'
- local.images['computacion'] = global_path + images.products_netapp + 'beneficio_computacion.png'
- local.images['nube'] = global_path + images.products_netapp + 'beneficio_nube.png'


- local.images['solucion'] = global_path + images.products_netapp + 'solucion.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Huawei_Whitepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'Huawei_casos_de_uso.pdf'

//- Imagenes del nuevo sitio
- local.images['news'] = global_path + images.products_netapp + 'verticales_soluciones_news.png'
- local.images['seguridad'] = global_path + images.products_netapp + 'verticales_soluciones_seguridad.png'
- local.images['auditoria'] = global_path + images.products_netapp + 'verticales_soluciones_auditoria.png'
- local.images['operacion'] = global_path + images.products_netapp + 'verticales_soluciones_operacion.png'
- local.images['control'] = global_path + images.products_netapp + 'vertical_soluciones_control.png'
- local.images['dispositivo'] = global_path + images.products_netapp + 'vertical_soluciones_dispositivo.png'
- local.images['banner'] = global_path + images.products_netapp + 'vertical_soluciones_banner.png'
- local.images['medio'] = global_path + images.products_netapp + 'vertical_soluciones_medio.png'
- local.images['fondo'] = global_path + images.products_netapp + 'vertical_soluciones_fondo.png'



doctype html
html(lang=site.lang)
    include ../template/_head
    body
        include ../template/_header
        section.section-banner-dass-vertical.mundo
            .banner-vr
                .container
                    .content.algo
                        br
                        .title-sections
                        h1 Datacenter #[span.green Solutions]
                        //-p PREPÁRESE PARA UN NUEVO ENFOQUE DE RECILENCIA CIBERNÉTICA
                        P SELLCOM SOLUTIONS ayuda a las empresas a simplificar y agilizar los complejos problemas de los centros de datos, tanto los existentes ahora como los que puedan surgir en el futuro, mediante la identificación de la infraestructura adecuada. La infraestructura del centro de datos tiene muchas capas e incluso más componentes dinámicos. Desde las operaciones virtuales a la nube privada y su hardware de apoyo, SELLCOM SOLUTIONS está ahí con las últimas arquitecturas y las mejores prácticas para garantizar operaciones de centro de datos altamente eficientes. 
        section.section-verticales
            .container.gris
                .row
                    .col-12
                    h1 SOLU#[span.green CIONES]
                    .col-12
                        .col-1
                            p 
                        .col-10.vertical-col
                            .col-4.icon-vertical 
                                img(src=local.images.news, alt="news")
                            .col-6
                                .title-sections.txt-justify
                                    h3 #[strong Hardware]
                                    h2 Su centro de datos es una máquina muy bien ajustada. Le ayudaremos a mantenerla así.
                                    p A pesar del cambio a capas de software y aplicaciones virtuales más sofisticadas, cada centro de datos sigue dependiendo de su hardware subyacente. Pero, a veces, puede ser difícil mantenerse al día con las necesidades de hardware de su centro de datos.
                                    p Ahí es donde SELLCOM SOLUTIONS entra en juego. Los expertos de SELLCOM SOLUTIONS están bien versados en las últimas soluciones de hardware, las mejores de su clase para todo, desde computación, almacenamiento y redes hasta las mejores configuraciones de rack y alimentación. Centrado en la densidad, la eficiencia de costes y la facilidad de uso, SELLCOM SOLUTIONS puede ayudarte a diseñar e implementar el mejor hardware para tu centro de datos de próxima generación.
                                    p Como parte de nuestros servicios de Break/Fix, tenemos ingenieros a mano para ayudarle de manera oportuna con las piezas del equipo y el reemplazo de piezas de garantía. SELLCOM SOLUTIONS tiene como prioridad mantener un inventario constante de piezas de los principales fabricantes. Esto significa que podemos proporcionarle una pieza de repuesto de nuestro inventario el mismo día, si es necesario, mientras que la pieza de garantía es solicitada.

                        .col-1
                            p 
                    .col-12
                        .col-1
                            p
                        .col-10.vertical-col
                            .col-6
                                .title-sections.derecha
                                    h3 #[strong Computo y Procesamiento]
                                    h2 Grandes datos. Analíticos. Motores de MPP. HPC.
                                    p.txt-justify Las aplicaciones avanzadas necesitan la potencia adecuada para un procesamiento rápido. SELLCOM SOLUTIONS puede ayudarle a hacerlo bien.
                                    p.txt-justify Conseguir la infraestructura adecuada para soportar sus aplicaciones más exigentes es parte del arte y parte de la ciencia. SELLCOM SOLUTIONS puede ayudarle a conseguir el equilibrio adecuado cuando se trata de una de las partes más cruciales: los elementos virtuales y físicos de computación/servidor más responsables del procesamiento rápido.
                                    p.txt-justify Como parte de nuestros servicios, SELLCOM SOLUTIONS ofrece una profunda experiencia en la virtualización, grandes datos, procesamiento masivo paralelo (MPP) y entornos de alta transacción. Esto incluye las mejores prácticas y el conocimiento de las arquitecturas probadas que rodean la combinación óptima de recursos de computación, servidores, almacenamiento y redes para garantizar el mejor rendimiento de la aplicación.
                                    p.txt-justify Cuando se trata de ajustar o implementar el rendimiento de sus aplicaciones críticas, ¿por qué hacerlo solo? Permítanos compartir nuestra experiencia con usted para asegurar una experiencia exitosa para el usuario final.

                            .col-4.icon-vertical 
                                img(src=local.images.seguridad, alt="seguridad")
                        .col-1
                            p
                    .col-12
                        .col-1
                            p
                        .col-10.vertical-col
                            .col-4.icon-vertical 
                                img(src=local.images.auditoria, alt="auditoria")
                            .col-6
                                .title-sections.txt-justify
                                    h3 #[strong Network]
                                    h2 Su red es su sistema nervioso digital. SELLCOM SOLUTIONS puede ayudar a mantenerlo funcionando sin problemas.
                                    p Las infraestructuras de red son un hecho en el centro de datos moderno, sin embargo, la red subyacente que soporta todo su tráfico de datos no siempre puede recibir la atención que se merece.
                                    p Ya sea que estés actualizando aplicaciones o planificando nuevas, SELLCOM SOLUTIONS puede ayudar a asegurar que prestes mucha atención a los requisitos específicos de hardware y software de la red. Desde switches y routers a VLANs y opciones de red más sofisticadas definidas por software, SELLCOM SOLUTIONS ofrece una profunda experiencia en las mejores prácticas y arquitecturas de red recomendadas para apoyar incluso las aplicaciones empresariales más exigentes.
                        .col-1
                            p 
                    .col-12
                        .col-1
                            p
                        .col-10.vertical-col
                            .col-6
                                .title-sections.derecha
                                    h3 #[strong Almacenamiento]
                                    h2 El almacenamiento es su inversión más costosa. SELLCOM SOLUTIONS puede ayudarte a sacarle el máximo provecho.
                                    p.txt-justify El almacenamiento empresarial es una base necesaria para cualquier centro de datos avanzado. Necesitas saber que lo estás usando de forma efectiva. Desde el aprovisionamiento del tamaño adecuado a la gestión de almacenamiento en curso, los expertos de SELLCOM SOLUTIONS pueden ayudar a racionalizar sus sistemas actuales.
                                    p.txt-justify También podemos aconsejarle sobre los mejores pasos a seguir para pasar de los silos de IT a la próxima generación de almacenamiento consolidado. SELLCOM SOLUTIONS puede planear, diseñar e implementar el almacenamiento adecuado para tu próximo proyecto de centro de datos, desde dispositivos independientes hasta soluciones de almacenamiento definidas por software que combinan componentes informáticos, de almacenamiento y de red en un todo integrado.
                                    p.txt-justify Ya sean consejos sobre las mejores prácticas o arquitecturas de almacenamiento probadas para todo, desde aplicaciones virtuales a bases de datos complejas o sistemas de análisis, los expertos de SELLCOM SOLUTIONS estarán encantados de compartir nuestro conocimiento de almacenamiento con usted para asegurar sus resultados óptimos.
                            .col-4.icon-vertical 
                                img(src=local.images.operacion, alt="operacion")
                        .col-1
                            p 
                    .col-12
                        .col-1
                            p
                        .col-10.vertical-col
                            .col-4.icon-vertical 
                                img(src=local.images.control, alt="control")
                            .col-6
                                .title-sections.txt-justify
                                    h3 #[strong Virtualización]
                                    h2 Soluciones completas para satisfacer sus necesidades 
                                    p Las soluciones de virtualización ofrecen algunos de los resultados más convincentes de cualquier tecnología disponible hoy en día, lo que hace que el aprovisionamiento excesivo de servidores, almacenamiento, redes y ordenadores de sobremesa sea cosa del pasado. SELLCOM SOLUTIONS ofrece soluciones completas de virtualización adaptadas a sus necesidades. 
                                    p SELLCOM SOLUTIONS ha estado ayudando a nuestros clientes a mejorar la eficiencia de sus centros de datos, mientras que asegura la coherencia y la gestión del ciclo de vida de las aplicaciones que hacen que sus negocios sean exitosos. 
                        .col-1
                            p
                    .col-12
                        .col-1
                            p
                        .col-10.vertical-col
                            .col-6
                                .title-sections.derecha
                                    h3 #[strong Rack y alimentación]
                                    h2 Construya un centro de datos denso y de bajo consumo.
                                    p.txt-justify Desde racks de servidores hasta UPS y PDU, SELLCOM SOLUTIONS está aquí para ayudar. Los racks de servidores y las fuentes de alimentación pueden no ser emocionantes, pero representan la sangre vital y el plano físico del centro de datos moderno.
                                    p.txt-justify La eficiencia energética de su centro de datos, el ahorro de costes y la huella ecológica a menudo dependen de la arquitectura inteligente de estos pequeños detalles físicos. Aquí es donde la experiencia de SELLCOM SOLUTIONS en la arquitectura y la implementación de soluciones de centro de datos puede ser muy valiosa. Podemos ayudarle a determinar los mejores racks de servidores y las fuentes de alimentación asociadas para satisfacer las necesidades de su creciente centro de datos.
                            .col-4.icon-vertical 
                                img(src=local.images.dispositivo, alt="dispositivo")
                        .col-1
                            p  
                    .col-12
                        .col-1
                            p
                        .col-10.vertical-col
                            .col-4.icon-vertical 
                                img(src=local.images.control, alt="control")
                            .col-6
                                .title-sections.txt-justify
                                    h3 #[strong Respaldo y Recuperación]
                                    h2 ¿Necesita aumentar los esfuerzos de copia de seguridad y recuperación? 
                                    p En la era de la virtualización, existen nuevas opciones para la copia de seguridad y recuperación. Desde los dispositivos de hardware construidos a propósito hasta el nuevo software y las opciones de recuperación fuera del sitio, tienes un mundo de opciones a tu alcance. Por lo tanto, no hay razón para demorarse cuando se trata de garantizar la recuperación exitosa de sus aplicaciones de misión crítica. 
                                    p SELLCOM SOLUTIONS puede ayudar a evaluar sus opciones de copia de seguridad y recuperación, basado en las necesidades de su organización de RTO y RPO. También podemos evaluar las fortalezas y debilidades en su actual arquitectura de respaldo/recuperación, mientras que ayudamos a asesorar, diseñar e implementar cualquier cambio sugerido. 
                        .col-1
                            p
                    .col-12
                        .col-1
                            p
                        .col-10.vertical-col
                            .col-6
                                .title-sections.derecha
                                    h3 #[strong Recuperación de desastres]
                                    h2 Los desastres son estresantes. La preparación para los desastres no tiene por qué serlo. 
                                    p.txt-justify La recuperación de desastres puede ser una propuesta costosa, pero no es tan costosa como un desastre que ocurre cuando su organización no está preparada. Cualquier desastre, grande o pequeño, que detenga el uso de las aplicaciones de misión crítica de su empresa puede tener graves consecuencias para sus clientes, socios y empleados. Para minimizar el impacto, SELLCOM SOLUTIONS ofrece las últimas prácticas, métodos y soluciones para el respaldo y recuperación de desastres (DR).
                                    p.txt-justify Puede contar con SELLCOM SOLUTIONS para reforzar su arquitectura de recuperación de desastres desde múltiples niveles, incluyendo la definición de criterios específicos de RTO y RPO por aplicación, evaluaciones profundas de DR, planificación, arquitectura, despliegue y pruebas continuas de DR.
                            .col-4.icon-vertical 
                                img(src=local.images.dispositivo, alt="dispositivo")
                        .col-1
                            p  
                    .col-12
                        .col-1
                            p
                        .col-10.vertical-col
                            .col-4.icon-vertical 
                                img(src=local.images.control, alt="control")
                            .col-6
                                .title-sections.txt-justify
                                    h3 #[strong Desarrollo de Aplicaciones]
                                    h2 ¿Necesita desarrollar aplicaciones pero no tiene los recursos? 
                                    p Se supone que las aplicaciones deben dar a su empresa una ventaja competitiva en el mercado. Pero, sin los recursos para construir o personalizar las aplicaciones que necesita, ¿qué se supone que debe hacer? He aquí una idea: Contacte con SELLCOM SOLUTIONS.
                                    p SELLCOM SOLUTIONS no sólo está involucrado en el negocio de la evaluación, planificación e implementación de software y hardware comercial. También tenemos las habilidades y la experiencia para planificar, desarrollar e implementar las aplicaciones personalizadas adecuadas para ofrecer los mejores resultados posibles. Incluso podemos ayudar a ampliar su empresa con el desarrollo de aplicaciones móviles. 
                        .col-1
                            p
                    .col-12
                        .col-1
                            p
                        .col-10.vertical-col
                            .col-6
                                .title-sections.derecha
                                    h3 #[strong Consolidación y Migraciones]
                                    h2 SELLCOM SOLUTIONS puede ayudarle a abrir un camino para la consolidación del centro de datos sin problemas.
                                    p.txt-justify La necesidad de consolidar sus recursos de IT puede ocurrir en varios niveles, desde servidores individuales a almacenamiento conectado directamente a centros de datos enteros que ahora pueden necesitar ser racionalizados o combinados.
                                    p.txt-justify Independientemente del tamaño de su proyecto de consolidación, los expertos de SELLCOM SOLUTIONS pueden ayudarle a planificar, diseñar, migrar y consolidar de forma efectiva sus conjuntos de datos de aplicaciones críticas, desde los sistemas heredados en silos hasta infraestructuras más ecológicas y rentables de próxima generación o convergentes.
                            .col-4.icon-vertical 
                                img(src=local.images.dispositivo, alt="dispositivo")
                        .col-1
                            p
                    .col-12
                        .col-1
                            p
                        .col-10.vertical-col
                            .col-4.icon-vertical 
                                img(src=local.images.control, alt="control")
                            .col-6
                                .title-sections.txt-justify
                                    h3 #[strong Servicios de Centro de Datos]
                                    h2 Desde la modernización hasta la migración completa, SELLCOM SOLUTIONS lo tiene cubierto.
                                    p Mucho está sucediendo en el centro de datos de hoy en día. Puede estar considerando todo, desde la consolidación a la virtualización avanzada, y tal vez incluso un cambio a una arquitectura de nube privada o híbrida.
                                    p Cualquiera que sea su necesidad de centro de datos, los servicios de SELLCOM SOLUTIONS incluyen la evaluación del centro de datos, planificación, arquitectura, implementación y migración. Con una profunda experiencia en las mejores prácticas de centros de datos y lo último en arquitecturas de próxima generación, SELLCOM SOLUTIONS puede ayudar a llevar sus operaciones de centro de datos al siguiente nivel.
                        .col-1
                            p
                                br
        //-section.section-about-dass#dass
            .container
                .row
                    .col-12   
                        .title-sections.txt-justify
                            h3 #[strong BENEFICIOS]
                            h2 Fomente la cultura de seguridad
                            p Mediante capacitaciones a personal, desarrollo capacidades y procesos internos con un control y gestión de cambio para asegurar el éxito de su nueva iniciativa de seguridad.  
                        ul
                            li
                                //-strong Corre cualquier app a cualquier escala
                                img#imagen(src=local.images.proteccion, alt="proteccion")
                                p Corre apps y flujos de trabajo en una plataforma sencilla con disponibilidad, ejecución y simplicidad sin par.
                            li
                                //-strong Corre cualquier app a cualquier escala
                                img#imagen(src=local.images.proteccion, alt="proteccion")
                                p Solucion diseñada en sectores como:Educación, Gobierno federal,Servicios Financieros, Salud, Manufactura y Punto de venta
                            li
                                //-strong Corre cualquier app a cualquier escala
                                img#imagen(src=local.images.proteccion, alt="proteccion")
                                p Construye una nube empresarial con almacenamiento, cómputo virtualización y red hiperconvergentes desde su base.
                            
                            li
                                //-strong Corre cualquier app a cualquier escala
                                img#imagen(src=local.images.proteccion, alt="proteccion")
                                p Proteja las aplicaciones virtualizadas con un espectro completo  de copia de seguridad y recuperación integradas en Nutanix Enterprise Cloud.
                            
        //-.flotante
            a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
                img(src=local.images.whitepaper, alt="big data" )
            a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
                img(src=local.images.casodeuso, alt="big data")
        include ../template/_footer
        if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
        script(type="text/javascript" src=section_scripts[current_profile][i])
