dist/dev/sections/desarrollo.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Desarrollo de software</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Ahora costos con las soluciones de Desarrollo de software; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!">
    <meta name="keywords" content="Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Desarrollo de software, bajo demanda, on demand, soluciones Desarrollo de software">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-video-dass"><img class="banner" src="../images/services_desarrollo/bannerprincipal.jpg" alt="banner">
      <div class="boxVideo">
        <video id="secondVideo" autoplay loop muted>
          <source src="../images/video/desarrollo.mp4" type="video/mp4">
        </video>
      </div>
      <div class="container">
        <div class="content"><br>
          <div class="title-sections">
            <h1>Desarrollo de Software Sellcom</h1>
          </div>
          <p>Sellcom Solutions innovador en el desarrollo de aplicaciones, servicios de escritorio y servicios web</p>
        </div>
      </div>
    </section>
    <section class="section-about-dass" id="dass">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="title-sections-text">
              <h3>¿Qué es Desarrollo de software?</h3>
              <p>Somos una empresa con la experiencia en el desarrollo de soluciones para nuestros socios tecnológicos, realizamos soluciones a la medida en diversos lenguajes de programación.</p>
            </div>
            <ul>
              <li><strong>ANÁLISIS</strong><img src="../images/services_desarrollo/servicio_Analisis.png" alt="analisis">
                <p>Experiencia en el levantamiento, diseño y modelado del requerimiento.</p>
              </li>
              <li><strong>PLANEACIÓN</strong><img src="../images/services_desarrollo/servicio_planeacion.png" alt="planeacion">
                <p>Definimos la metodología indicada para cada solución ágil o tradicional.</p>
              </li>
              <li><strong>DESARROLLO</strong><img src="../images/services_desarrollo/servicio_desarrollo.png" alt="desarrollo">
                <p>Amplia experiencia en lenguajes de programación incluyendo móviles.</p>
              </li>
              <li><strong>PRUEBAS</strong><img src="../images/services_desarrollo/servicio_pruebas.png" alt="pruebas">
                <p>Ejecución de pruebas de alto grado, integrales, QA, UAT, estrés.</p>
              </li>
              <li><strong>TRANSICIÓN</strong><img src="../images/services_desarrollo/servicio_transicion.png" alt="transicion">
                <p>Llevamos a punto productivo de forma ordenada cada desarrollo.</p>
              </li>
              <li><strong>MANTENIMIENTO</strong><img src="../images/services_desarrollo/servicio_mantenimiento.png" alt="mantenimiento">
                <p>Seguimiento al cumplimiento de objetivos de los desarrollos.</p>
              </li>
              <li><strong>CAPACITACIÓN</strong><img src="../images/services_desarrollo/servicio_capacitacion.png" alt="capacitacion">
                <p>Gestión del cambio con los nuevos usuarios.</p>
              </li>
              <li><strong>DOCUMENTACIÓN</strong><img src="../images/services_desarrollo/servicio_documentacion.png" alt="documentacion">
                <p>Cada etapa cuenta con sus entregables.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section-implementDass" id="beneficios">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections-text">
              <h3>¿Por qué implementar Desarrollo de software?</h3>
              <p>Beneficios:</p>
            </div>
            <ul>
              <li><img src="../images/services_desarrollo/sellcom-des-seguridad.png" alt="seguridad">
                <p>SEGURIDAD</p>
              </li>
              <li><img src="../images/services_desarrollo/sellcom-des-transformacion.png" alt="transformacion">
                <p>TRANSFORMACIÓN DIGITAL</p>
              </li>
              <li><img src="../images/services_desarrollo/sellcom-des-modernizacion.png" alt="modernizacion">
                <p>MODERNIZACIÓN DE APLICACIONES</p>
              </li>
              <li><img src="../images/services_desarrollo/sellcom-des-movilidad.png" alt="movilidad">
                <p>MOVILIDAD</p>
              </li>
              <li><img src="../images/services_desarrollo/sellcom-des-customizable.png" alt="customizable">
                <p>CUSTOMIZABLE</p>
              </li>
              <li><img src="../images/services_desarrollo/sellcom-des-nube.png" alt="nube">
                <p>NUBE / ON PREMISE</p>
              </li>
              <li><img src="../images/services_desarrollo/sellcom-des-integracion.png" alt="integracion">
                <p>INTEGRACIÓN CON OTRAS APPS</p>
              </li>
              <li><img src="../images/services_desarrollo/sellcom-des-calidad.png" alt="calidad">
                <p>CALIDAD</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section-subtitle" id="soluciones">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections">
              <h3>Conoce nuestra solución</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-why-dass"><img src="../images/services_desarrollo/solucion.jpg" alt="solución conoce">
      <div class="container">
        <div class="row">
          <div class="col-6 bgcircle">
            <p>Nuestra fábrica de software está integrada por colaboradores expertos con desarrollo para diferentes sectores, respetando el ciclo de vida del desarrollo de software para garantizar aplicaciones y servicios que den valor a nuestros clientes.</p>
            <p> </p>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/libs/jquery.validate.js"></script>
    <script src="../js/libs/jquery.file.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/sellcom_dass.js"></script>
    <script src="../js/controllers/downloads.js"></script>
    <script src="../js/controllers/form.js"></script>
  </body>
</html>
<script type="text/javascript" src="../js/libs/jquery.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<script type="text/javascript" src="../js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../js/libs/jquery.file.js"></script>
<script type="text/javascript" src="../js/plugins/slick.js"></script>
<script type="text/javascript" src="../js/controllers/sellcom_dass.js"></script>
<script type="text/javascript" src="../js/controllers/downloads.js"></script>
<script type="text/javascript" src="../js/controllers/form.js"></script>

src/html/sections/desarrollo.pug
//-Configuración y variables globales del proyecto
include ../config/_variables
//-
	Ajustes de la configuración global para esta sección
- global_path = '../'
//-
	Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
	Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Desarrollo de software'
- metadata['description'] = 'Ahora costos con las soluciones de Desarrollo de software; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Desarrollo de software, bajo demanda, on demand, soluciones Desarrollo de software'
- var landing = 'desarrollo'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.services_desarrollo + 'bannerprincipal.jpg'
//- Servicios
- local.images['analisis'] = global_path + images.services_desarrollo + 'servicio_Analisis.png'
- local.images['planeacion'] = global_path + images.services_desarrollo + 'servicio_planeacion.png'
- local.images['desarrollo'] = global_path + images.services_desarrollo + 'servicio_desarrollo.png'
- local.images['pruebas'] = global_path + images.services_desarrollo + 'servicio_pruebas.png'
- local.images['transicion'] = global_path + images.services_desarrollo + 'servicio_transicion.png'
- local.images['mantenimiento'] = global_path + images.services_desarrollo + 'servicio_mantenimiento.png'
- local.images['capacitacion'] = global_path + images.services_desarrollo + 'servicio_capacitacion.png'
- local.images['documentacion'] = global_path + images.services_desarrollo + 'servicio_documentacion.png'
//- Beneficios
- local.images['seguridad'] = global_path + images.services_desarrollo + 'sellcom-des-seguridad.png'
- local.images['transformacion'] = global_path + images.services_desarrollo + 'sellcom-des-transformacion.png'
- local.images['modernizacion'] = global_path + images.services_desarrollo + 'sellcom-des-modernizacion.png'
- local.images['movilidad'] = global_path + images.services_desarrollo + 'sellcom-des-movilidad.png'
- local.images['customizable'] = global_path + images.services_desarrollo + 'sellcom-des-customizable.png'
- local.images['nube'] = global_path + images.services_desarrollo + 'sellcom-des-nube.png'
- local.images['integracion'] = global_path + images.services_desarrollo + 'sellcom-des-integracion.png'
- local.images['calidad'] = global_path + images.services_desarrollo + 'sellcom-des-calidad.png'

- local.images['solucion'] = global_path + images.services_desarrollo + 'solucion.jpg'

doctype html
html(lang=site.lang)
	include ../template/_head
	body
		include ../template/_header
		section.section-video-dass
			img.banner(src=local.images.banner, alt="banner")
			.boxVideo
				video#secondVideo(autoplay loop muted)
					source(src="../images/video/desarrollo.mp4" type="video/mp4")
			.container
				.content
					br
					.title-sections
						h1 Desarrollo de Software Sellcom
					p Sellcom Solutions innovador en el desarrollo de aplicaciones, servicios de escritorio y servicios web
		section.section-about-dass#dass
			.container
				.row
					.col-12
						.title-sections-text
							h3 ¿Qué es Desarrollo de software?
							p Somos una empresa con la experiencia en el desarrollo de soluciones para nuestros socios tecnológicos, realizamos soluciones a la medida en diversos lenguajes de programación.
						ul
							li
								strong ANÁLISIS
								img(src=local.images.analisis, alt="analisis")
								p Experiencia en el levantamiento, diseño y modelado del requerimiento.
							li
								strong PLANEACIÓN
								img(src=local.images.planeacion, alt="planeacion")
								p Definimos la metodología indicada para cada solución ágil o tradicional.
							li
								strong DESARROLLO
								img(src=local.images.desarrollo, alt="desarrollo")
								p Amplia experiencia en lenguajes de programación incluyendo móviles.
							li
								strong PRUEBAS
								img(src=local.images.pruebas, alt="pruebas")
								p Ejecución de pruebas de alto grado, integrales, QA, UAT, estrés.
							li
								strong TRANSICIÓN
								img(src=local.images.transicion, alt="transicion")
								p Llevamos a punto productivo de forma ordenada cada desarrollo.
							li
								strong MANTENIMIENTO
								img(src=local.images.mantenimiento, alt="mantenimiento")
								p Seguimiento al cumplimiento de objetivos de los desarrollos.
							li
								strong CAPACITACIÓN
								img(src=local.images.capacitacion, alt="capacitacion")
								p Gestión del cambio con los nuevos usuarios.
							li
								strong DOCUMENTACIÓN
								img(src=local.images.documentacion, alt="documentacion")
								p Cada etapa cuenta con sus entregables.
		section.section-implementDass#beneficios
			.container
				.row
					.col-10.middle
						.title-sections-text
							h3 ¿Por qué implementar Desarrollo de software?
							p Beneficios:
						ul
							li
								img(src=local.images.seguridad, alt="seguridad")
								p SEGURIDAD
							li
								img(src=local.images.transformacion, alt="transformacion")
								p TRANSFORMACIÓN DIGITAL
							li
								img(src=local.images.modernizacion, alt="modernizacion")
								p MODERNIZACIÓN DE APLICACIONES
							li
								img(src=local.images.movilidad, alt="movilidad")
								p MOVILIDAD
							li
								img(src=local.images.customizable, alt="customizable")
								p CUSTOMIZABLE
							li
								img(src=local.images.nube, alt="nube")
								p NUBE / ON PREMISE
							li
								img(src=local.images.integracion, alt="integracion")
								p INTEGRACIÓN CON OTRAS APPS
							li
								img(src=local.images.calidad, alt="calidad")
								p CALIDAD
		section.section-subtitle#soluciones
			.container
				.row
					.col-10.middle
						.title-sections
							h3 Conoce nuestra solución
		section.section-why-dass
			img(src=local.images.solucion, alt="solución conoce")
			.container
				.row
					.col-6.bgcircle
						p Nuestra fábrica de software está integrada por colaboradores expertos con desarrollo para diferentes sectores, respetando el ciclo de vida del desarrollo de software para garantizar aplicaciones y servicios que den valor a nuestros clientes.
						p 
		include ../template/_footer
		if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
		script(type="text/javascript" src=section_scripts[current_profile][i])
