dist/dev/sections/digitalizacion.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Digitalización</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Llegó la era de la Digitalización; una solución que simplifica las operaciones en TI con una sola plataforma. ¡La tecnología que tu empresa necesita!">
    <meta name="keywords" content="Sellcom, Digitalización, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-banner-dass"><img class="banner" src="../images/services_digitalizacion/bannerprincipal.jpg" alt="Digitalización">
      <div class="container">
        <div class="content">
          <div class="title-sections">
            <h1>Digitalización</h1>
            <p>Transformación digital en su mejor momento.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="anchors">
      <div class="container">
        <div class="row">
          <div class="col-10 middle"> 
            <ul id="submenu">
              <li><a href="#device">
                  <p>Conoce nuestra soluci&oacute;n</p></a></li>
              <li><a href="#howitworks">
                  <p>¿C&oacute;mo funciona?</p></a></li>
              <li><a href="#whydaas">
                  <p>¿Por qu&eacute; implementar Digitalización?</p></a></li>
              <li><a href="#toolsdaas">
                  <p>Herramientas</p></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="device-text-one" id="device">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <h2>¿Qué es Digitalización?</h2>
                <p>Debido al avance de la tecnología, no tener los documentos en formato digital y ligados a procesos automatizados de ciclo de vida, puede suponer una gran pérdida de tiempo y dinero.</p>
                <p>Convertir este proyecto en prioritario puede suponer un cambio en la gestión de la información de su empresa, reduciendo tiempos de solicitud de información y consulta.</p>
              </div>
              <div class="col-6"><img src="../images/services_digitalizacion/sellcom-devicedass-service.jpg" alt="Devices As a Service"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="how-it-works" id="howitworks">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <h2>¿C&oacute;mo funciona?</h2>
            <p>La digitalización de documentos implica pasar documentación física a formato digital, muchas empresas almacenan gran cantidad de documentación que ocupa demasiado espacio y es difícil de consultar. El proceso puede resultar tedioso, pero una vez realizado puede suponer una ventaja competitiva al hacer que la información sea accesible.</p>
            <ul>
              <li> 
                <p><strong>Servicio de digitalización de documentos</strong> <span> </span></p>
              </li>
              <li>
                <p><strong>De microfilm a digital y viceversa</strong> <span> </span></p>
              </li>
              <li>
                <p><strong>Captura de datos</strong> <span> </span></p>
              </li>
              <li> 
                <p><strong>Reconocimiento de textos y formas</strong><span>utilizando métodos OCR, ICR, OMR, BCR.</span></p>
              </li>
              <li>
                <p><strong>Compresión de Imágenes</strong> <span> </span></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="why-daas" id="whydaas">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <h2>¿Por qu&eacute; implementar Digitalización?</h2>
            <p>Contamos con experiencia en el ámbito de la digitalización por lo que destacamos los siguientes números de nuestra experiencia.</p>
            <ul>
              <li><img src="../images/services_digitalizacion/sellcom-icono-soporteglobal.png" alt="Soporte global ">
                <p>Mensualmente se tiene una estimación de digitalización de dos millones de documentos mensuales.</p>
              </li>
              <li><img src="../images/services_digitalizacion/sellcom-icono-proteccion.png" alt="Protección contra daños">
                <p>Se tiene una estimación de digitalización de mil planos diarios sin importar el material, tamaño o estado de deterioro.</p>
              </li>
              <li><img src="../images/services_digitalizacion/sellcom-icono-reparacion.png" alt="Servicios de reparación">
                <p>Mas de 18 casos de éxito dentro de los que destacamos: Sector educativo, Sector Salud, Sector financiero, Registros civiles estatales, etc.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="tools-daas" id="toolsdaas">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <h2>Herramientas</h2>
            <p>Para la digitalización utilizamos las siguientes herramientas las cuales nos apoyan a brindar un servicio de calidad a nuestros clientes.</p>
            <ul class="row">
              <li class="col-4">
                <div class="img-tools"><img src="../images/services_digitalizacion/sellcom-daas-assetmanagement.jpg" alt="Asset Management"></div>
                <div class="description-tools">
                  <h3>Scanners de alta Gama</h3>
                  <p>Contamos con digitalizadores que nos permiten trabajar con: rollos y microfichas, alto volúmen, planos y libros.</p>
                </div>
              </li>
              <li class="col-4">
                <div class="img-tools"><img src="../images/services_digitalizacion/sellcom-daas-softwaredelivery.jpg" alt="Software Delivery"></div>
                <div class="description-tools">
                  <h3>SW Especializado</h3>
                  <p>Nuestro software de digitalización se adapta con las herramienta de HW: permitiendo localización, archivos compartidos, envios, encriptación, almacenamiento y seguridad.</p>
                </div>
              </li>
              <li class="col-4">
                <div class="img-tools"><img src="../images/services_digitalizacion/sellcom-daas-softwaremetrix.jpg" alt="Software Metrix"></div>
                <div class="description-tools">
                  <h3>Colaboradores especializados</h3>
                  <p>Nuestros colaboradores son capacitados en el cuidado de su información física y digital y representan a Sellcom solución como empresa líder en la administración de información. </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/Sellcom.js"></script>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/global/global.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/products_daas.js"></script>
    <script src="../js/plugins/addthis_widget.js"></script>
  </body>
</html>

src/html/sections/digitalizacion.pug
//-Configuración y variables globales del proyecto
include ../config/_variables

//-
  Ajustes de la configuración global para esta sección
- global_path = '../'
//-
  Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
  Nombre de la página
- var page = 'Sellcom Digitalización'
- var metadata = {}
- metadata['title'] = 'Sellcom - Digitalización'
- metadata['description'] = 'Llegó la era de la Digitalización; una solución que simplifica las operaciones en TI con una sola plataforma. ¡La tecnología que tu empresa necesita!'
- metadata['keywords'] = 'Sellcom, Digitalización, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud'
//-
  - Ejemplo de como incluir CSS por pagina
  - var section_style = {}
  - section_style['dev'] = 'home.css'
  - section_style['prod'] = 'home.min.css'
//-
  - Ejemplo como incluir los JS por pagina
- var section_scripts =  {} 
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.base + 'Sellcom.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.global + 'global.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers+ 'products_daas.js')

- section_scripts['dev'].push(global_path  + scripts.plugins + 'addthis_widget.js')


- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.base + 'Sellcom.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.global + 'global.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'products_daas.min.js')

- section_scripts['prod'].push(global_path  + scripts.plugins + 'addthis_widget.min.js')

- var local_images = {}
- local_images['images'] = {}
- local_images.images['banner'] = global_path +  images.services_digitalizacion + 'bannerprincipal.jpg'
- local_images.images['daas_one'] = global_path +  images.services_digitalizacion + 'sellcom-devicedass-service.jpg'
- local_images.images['asset_management'] = global_path + images.services_digitalizacion + 'sellcom-daas-assetmanagement.jpg'
- local_images.images['delivery'] = global_path + images.services_digitalizacion + 'sellcom-daas-softwaredelivery.jpg'
- local_images.images['metrix'] = global_path + images.services_digitalizacion + 'sellcom-daas-softwaremetrix.jpg'
- local_images.images['icon_estability'] = global_path + images.services_digitalizacion + 'sellcom-icono-estabilidad.png'
- local_images.images['icon_protection'] = global_path + images.services_digitalizacion + 'sellcom-icono-proteccion.png'
- local_images.images['icon_repair'] = global_path + images.services_digitalizacion + 'sellcom-icono-reparacion.png'
- local_images.images['icon_suport'] = global_path + images.services_digitalizacion + 'sellcom-icono-soporteglobal.png'
- local_images.images['logo_aruba'] = global_path + images.services_digitalizacion + 'sellcom-logo-aruba.png'
- local_images.images['logo_getac'] = global_path + images.services_digitalizacion + 'sellcom-logo-getac.png'
- local_images.images['logo_hewlett'] = global_path + images.services_digitalizacion + 'sellcom-logo-hewlett.png'
- local_images.images['logo_hp'] = global_path + images.services_digitalizacion + 'sellcom-logo-hp.png'
- local_images.images['logo_lexmark'] = global_path + images.services_digitalizacion + 'sellcom-logo-lexmark.png'
- local_images.images['logo_reseller'] = global_path + images.services_digitalizacion + 'sellcom-logo-reseller.png'


doctype html
html(lang=site.lang)
  include ../template/_head
  body
    include ../template/_header
    section.section-banner-dass
      img.banner(src=local_images.images.banner alt='Digitalización')
      .container
        .content
          .title-sections
              h1 Digitalización
              p Transformación digital en su mejor momento.
              
    section.anchors
      .container
        .row
          .col-10.middle 
             ul#submenu
               li
                 a(href='#device') #[p Conoce nuestra soluci&oacute;n]
               li
                 a(href='#howitworks') #[p ¿C&oacute;mo funciona?]
               li
                 a(href='#whydaas') #[p ¿Por qu&eacute; implementar Digitalización?]
               li
                 a(href='#toolsdaas') #[p Herramientas]
    section.device-text-one#device
      .container
        .row
          .col-10.middle
            .row
              .col-6
                h2 ¿Qué es Digitalización?
                p Debido al avance de la tecnología, no tener los documentos en formato digital y ligados a procesos automatizados de ciclo de vida, puede suponer una gran pérdida de tiempo y dinero.
                p Convertir este proyecto en prioritario puede suponer un cambio en la gestión de la información de su empresa, reduciendo tiempos de solicitud de información y consulta.
              .col-6
                img(src=local_images.images.daas_one alt='Devices As a Service')
    section.how-it-works#howitworks
      .container
        .row
          .col-10.middle
            h2 ¿C&oacute;mo funciona?
            p La digitalización de documentos implica pasar documentación física a formato digital, muchas empresas almacenan gran cantidad de documentación que ocupa demasiado espacio y es difícil de consultar. El proceso puede resultar tedioso, pero una vez realizado puede suponer una ventaja competitiva al hacer que la información sea accesible.
            ul
              li 
                p #[strong Servicio de digitalización de documentos] 
                  span 
              li
                p #[strong De microfilm a digital y viceversa] 
                  span 
              li
                p #[strong Captura de datos] 
                  span 
              li 
                p #[strong Reconocimiento de textos y formas]
                  span utilizando métodos OCR, ICR, OMR, BCR.
              li
                p #[strong Compresión de Imágenes] 
                  span 
    section.why-daas#whydaas
      .container
        .row
          .col-10.middle
            h2 ¿Por qu&eacute; implementar Digitalización?
            p Contamos con experiencia en el ámbito de la digitalización por lo que destacamos los siguientes números de nuestra experiencia.
            ul
              li
                img(src=local_images.images.icon_suport alt='Soporte global ')
                p Mensualmente se tiene una estimación de digitalización de dos millones de documentos mensuales.
              li
                img(src=local_images.images.icon_protection alt='Protección contra daños')
                p Se tiene una estimación de digitalización de mil planos diarios sin importar el material, tamaño o estado de deterioro.
              li
                img(src=local_images.images.icon_repair alt='Servicios de reparación')
                p Mas de 18 casos de éxito dentro de los que destacamos: Sector educativo, Sector Salud, Sector financiero, Registros civiles estatales, etc.
    section.tools-daas#toolsdaas
      .container
        .row
          .col-10.middle
            h2 Herramientas
            p Para la digitalización utilizamos las siguientes herramientas las cuales nos apoyan a brindar un servicio de calidad a nuestros clientes.
            ul.row
              li.col-4
                .img-tools
                  img(src=local_images.images.asset_management alt='Asset Management')
                .description-tools
                  h3 Scanners de alta Gama
                  p Contamos con digitalizadores que nos permiten trabajar con: rollos y microfichas, alto volúmen, planos y libros.
              li.col-4
                .img-tools
                  img(src=local_images.images.delivery alt='Software Delivery')
                .description-tools
                  h3 SW Especializado
                  p Nuestro software de digitalización se adapta con las herramienta de HW: permitiendo localización, archivos compartidos, envios, encriptación, almacenamiento y seguridad.
              li.col-4
                .img-tools
                  img(src=local_images.images.metrix alt='Software Metrix')
                .description-tools
                  h3 Colaboradores especializados
                  p Nuestros colaboradores son capacitados en el cuidado de su información física y digital y representan a Sellcom solución como empresa líder en la administración de información. 
    include ../template/_footer    
