src/html/sections/ethical-hacking.pug
//-Configuración y variables globales del proyecto
include ../config/_variables

//-
  Ajustes de la configuración global para esta sección
- global_path = '../'
//-
  Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
  Nombre de la página
- var page = 'Sellcom Pentest and Ethical Hacking'
- var metadata = {}
- metadata['title'] = 'Sellcom - Pentest and Ethical Hacking'
- metadata['description'] = 'Llegó la era de la Pentest and Ethical Hacking; una solución que simplifica las operaciones en TI con una sola plataforma. ¡La tecnología que tu empresa necesita!'
- metadata['keywords'] = 'Sellcom, Pentest and Ethical Hacking, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud'
//-
  - Ejemplo de como incluir CSS por pagina
  - var section_style = {}
  - section_style['dev'] = 'home.css'
  - section_style['prod'] = 'home.min.css'
//-
  - Ejemplo como incluir los JS por pagina
- var section_scripts =  {} 
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.base + 'Sellcom.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.global + 'global.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers+ 'products_daas.js')

- section_scripts['dev'].push(global_path  + scripts.plugins + 'addthis_widget.js')


- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.base + 'Sellcom.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.global + 'global.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'products_daas.min.js')

- section_scripts['prod'].push(global_path  + scripts.plugins + 'addthis_widget.min.js')

- var local_images = {}
- local_images['images'] = {}
- local_images.images['banner'] = global_path +  images.services_pentest + 'bannerprincipal.jpg'
- local_images.images['daas_one'] = global_path +  images.services_pentest + 'sellcom-devicedass-service.jpg'
- local_images.images['asset_management'] = global_path + images.services_pentest + 'sellcom-daas-assetmanagement.jpg'
- local_images.images['delivery'] = global_path + images.services_pentest + 'sellcom-daas-softwaredelivery.jpg'
- local_images.images['metrix'] = global_path + images.services_pentest + 'sellcom-daas-softwaremetrix.jpg'
- local_images.images['icon_estability'] = global_path + images.services_pentest + 'sellcom-icono-estabilidad.png'
- local_images.images['icon_protection'] = global_path + images.services_pentest + 'sellcom-icono-proteccion.png'
- local_images.images['icon_repair'] = global_path + images.services_pentest + 'sellcom-icono-reparacion.png'
- local_images.images['icon_suport'] = global_path + images.services_pentest + 'sellcom-icono-soporteglobal.png'
- local_images.images['logo_aruba'] = global_path + images.services_pentest + 'sellcom-logo-aruba.png'
- local_images.images['logo_getac'] = global_path + images.services_pentest + 'sellcom-logo-getac.png'
- local_images.images['logo_hewlett'] = global_path + images.services_pentest + 'sellcom-logo-hewlett.png'
- local_images.images['logo_hp'] = global_path + images.services_pentest + 'sellcom-logo-hp.png'
- local_images.images['logo_lexmark'] = global_path + images.services_pentest + 'sellcom-logo-lexmark.png'
- local_images.images['logo_reseller'] = global_path + images.services_pentest + 'sellcom-logo-reseller.png'


doctype html
html(lang=site.lang)
  include ../template/_head
  body
    include ../template/_header
    section.section-banner-dass
      img.banner(src=local_images.images.banner alt='Pentest and Ethical Hacking')
      .container
        .content
          .title-sections
              h1 Pentest and Ethical Hacking
              p Detecta áreas de oportunidad para mejorar la seguridad de su empresa.
              
    section.anchors
      .container
        .row
          .col-10.middle 
             ul#submenu
               li
                 a(href='#device') #[p Conoce nuestra soluci&oacute;n]
               li
                 a(href='#howitworks') #[p ¿C&oacute;mo funciona?]
               li
                 a(href='#whydaas') #[p ¿Por qu&eacute; implementar Pentest and Ethical Hacking?]
    section.device-text-one#device
      .container
        .row
          .col-10.middle
            .row
              .col-6
                h2 ¿Qué es Pentest and Ethical Hacking?
                p Nuestros expertos de seguridad informática, se especializan en pruebas de penetración y en otras metodologías para asegurar la seguridad de los sistemas informáticos de una organización.
                p Las pruebas de penetración permiten: evaluar vulnerabilidades, analizar y categorizar las debilidades explotadas y proveer recomendaciones con base a las prioridades de la organización y por ultimo eliminar dichas vulnerabilidades.
              .col-6
                img(src=local_images.images.daas_one alt='Devices As a Service')
    section.how-it-works#howitworks
      .container
        .row
          .col-10.middle
            h2 ¿C&oacute;mo funciona?
            p Para la realización de Análisis de Vulnerabilidades y Pruebas de Penetración de forma controlada, no intrusiva y evitando poner en riesgo la operatividad de los sistemas que se encuentran en producción, se siguen 4 pasos:
            ul
              li 
                p #[strong Evaluación] 
                  span Este proceso inicia evaluando las diferentes aplicaciones web. La metodología de evaluación de vulnerabilidades web consiste en primer lugar en el desarrollo de un proceso llamado spidering, en el cual se recolecta la información relacionada a la estructura de directorios y URLs de la aplicación web evaluada.
              li
                p #[strong Ejecución Automática] 
                  span A partir de estos datos, son desarrolladas las pruebas con base en diversos tipos de ataques, mediante herramientas automatizadas y siguiendo las metodologías ISO27001, OWASP, ISSAF, PTES y OSSTMM.
              li
                p #[strong Ejecución manual] 
                  span Una vez identificadas las diferentes vulnerabilidades con las herramientas automatizadas, se realiza el proceso de revisión manual para la detección de falsos positivos y falsos negativos, de esta manera se certifica que la vulnerabilidad se encuentra presente. Se intenta identificar todas las vulnerabilidades y concentrarse en áreas donde una vulnerabilidad representaría el mayor impacto y el más alto riesgo para su empresa, tomando como referencia las metodologías ISO27001, OWASP, ISSAF, PTES y OSSTMM. 
              li 
                p #[strong Reporte de Resultados]
                  span La estructura general del informe consistirá en una descripción general del ataque y de cada uno de los ámbitos intervenidos. Se destacarán los aspectos de mayor vulnerabilidad detectados y la exposición a riesgos que éstos representan, así como una serie de recomendaciones para la aplicación de medidas correctivas.
    section.why-daas#whydaas
      .container
        .row
          .col-10.middle
            h2 ¿Por qu&eacute; implementar Pentest and Ethical Hacking?
            p Durante el análisis de las vulnerabilidades, se intentan explotar aquellas que permitan extraer datos, ejecutar comandos remotos, código malicioso, escalamiento de privilegios, o cualquier otra que pueda ser aprovechada por un atacante externo siempre y cuando no se genere alguna modificación del activo o una denegación de servicio. Nuestro análisis no es disruptivo para su organización y causa un impacto mínimo o nulo en la productividad del personal y del negocio.
            ul
              li
                img(src=local_images.images.icon_suport alt='Soporte global ')
                p Disminuir el tiempo y esfuerzo requeridos para afrontar situaciones de riesgo.
              li
                img(src=local_images.images.icon_protection alt='Protección contra daños')
                p Identifica a qué sistemas les hacen falta actualizaciones.
              li
                img(src=local_images.images.icon_repair alt='Servicios de reparación')
                p Evita configuraciones no adecuadas en las aplicaciones instaladas.
              li
                img(src=local_images.images.icon_repair alt='Servicios de reparación')
                p Obtén un panorama acerca de las vulnerabilidades encontradas para tomar medidas.
    include ../template/_footer    

dist/dev/sections/ethical-hacking.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Pentest and Ethical Hacking</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Llegó la era de la Pentest and Ethical Hacking; una solución que simplifica las operaciones en TI con una sola plataforma. ¡La tecnología que tu empresa necesita!">
    <meta name="keywords" content="Sellcom, Pentest and Ethical Hacking, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-banner-dass"><img class="banner" src="../images/services_pentest/bannerprincipal.jpg" alt="Pentest and Ethical Hacking">
      <div class="container">
        <div class="content">
          <div class="title-sections">
            <h1>Pentest and Ethical Hacking</h1>
            <p>Detecta áreas de oportunidad para mejorar la seguridad de su empresa.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="anchors">
      <div class="container">
        <div class="row">
          <div class="col-10 middle"> 
            <ul id="submenu">
              <li><a href="#device">
                  <p>Conoce nuestra soluci&oacute;n</p></a></li>
              <li><a href="#howitworks">
                  <p>¿C&oacute;mo funciona?</p></a></li>
              <li><a href="#whydaas">
                  <p>¿Por qu&eacute; implementar Pentest and Ethical Hacking?</p></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="device-text-one" id="device">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <h2>¿Qué es Pentest and Ethical Hacking?</h2>
                <p>Nuestros expertos de seguridad informática, se especializan en pruebas de penetración y en otras metodologías para asegurar la seguridad de los sistemas informáticos de una organización.</p>
                <p>Las pruebas de penetración permiten: evaluar vulnerabilidades, analizar y categorizar las debilidades explotadas y proveer recomendaciones con base a las prioridades de la organización y por ultimo eliminar dichas vulnerabilidades.</p>
              </div>
              <div class="col-6"><img src="../images/services_pentest/sellcom-devicedass-service.jpg" alt="Devices As a Service"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="how-it-works" id="howitworks">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <h2>¿C&oacute;mo funciona?</h2>
            <p>Para la realización de Análisis de Vulnerabilidades y Pruebas de Penetración de forma controlada, no intrusiva y evitando poner en riesgo la operatividad de los sistemas que se encuentran en producción, se siguen 4 pasos:</p>
            <ul>
              <li> 
                <p><strong>Evaluación</strong> <span>Este proceso inicia evaluando las diferentes aplicaciones web. La metodología de evaluación de vulnerabilidades web consiste en primer lugar en el desarrollo de un proceso llamado spidering, en el cual se recolecta la información relacionada a la estructura de directorios y URLs de la aplicación web evaluada.</span></p>
              </li>
              <li>
                <p><strong>Ejecución Automática</strong> <span>A partir de estos datos, son desarrolladas las pruebas con base en diversos tipos de ataques, mediante herramientas automatizadas y siguiendo las metodologías ISO27001, OWASP, ISSAF, PTES y OSSTMM.</span></p>
              </li>
              <li>
                <p><strong>Ejecución manual</strong> <span>Una vez identificadas las diferentes vulnerabilidades con las herramientas automatizadas, se realiza el proceso de revisión manual para la detección de falsos positivos y falsos negativos, de esta manera se certifica que la vulnerabilidad se encuentra presente. Se intenta identificar todas las vulnerabilidades y concentrarse en áreas donde una vulnerabilidad representaría el mayor impacto y el más alto riesgo para su empresa, tomando como referencia las metodologías ISO27001, OWASP, ISSAF, PTES y OSSTMM. </span></p>
              </li>
              <li> 
                <p><strong>Reporte de Resultados</strong><span>La estructura general del informe consistirá en una descripción general del ataque y de cada uno de los ámbitos intervenidos. Se destacarán los aspectos de mayor vulnerabilidad detectados y la exposición a riesgos que éstos representan, así como una serie de recomendaciones para la aplicación de medidas correctivas.</span></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="why-daas" id="whydaas">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <h2>¿Por qu&eacute; implementar Pentest and Ethical Hacking?</h2>
            <p>Durante el análisis de las vulnerabilidades, se intentan explotar aquellas que permitan extraer datos, ejecutar comandos remotos, código malicioso, escalamiento de privilegios, o cualquier otra que pueda ser aprovechada por un atacante externo siempre y cuando no se genere alguna modificación del activo o una denegación de servicio. Nuestro análisis no es disruptivo para su organización y causa un impacto mínimo o nulo en la productividad del personal y del negocio.</p>
            <ul>
              <li><img src="../images/services_pentest/sellcom-icono-soporteglobal.png" alt="Soporte global ">
                <p>Disminuir el tiempo y esfuerzo requeridos para afrontar situaciones de riesgo.</p>
              </li>
              <li><img src="../images/services_pentest/sellcom-icono-proteccion.png" alt="Protección contra daños">
                <p>Identifica a qué sistemas les hacen falta actualizaciones.</p>
              </li>
              <li><img src="../images/services_pentest/sellcom-icono-reparacion.png" alt="Servicios de reparación">
                <p>Evita configuraciones no adecuadas en las aplicaciones instaladas.</p>
              </li>
              <li><img src="../images/services_pentest/sellcom-icono-reparacion.png" alt="Servicios de reparación">
                <p>Obtén un panorama acerca de las vulnerabilidades encontradas para tomar medidas.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/Sellcom.js"></script>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/global/global.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/products_daas.js"></script>
    <script src="../js/plugins/addthis_widget.js"></script>
  </body>
</html>
