src/html/sections/getac.pug
//-Configuración y variables globales del proyecto
include ../config/_variables
//-
	Ajustes de la configuración global para esta sección
- global_path = '../'
//-
	Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
	Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Getac'
- metadata['description'] = 'Ahora costos con las soluciones de Getac; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Getac, bajo demanda, on demand, soluciones Getac'
- var landing = 'getac'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_getac + 'bannerprincipal.jpg'
//- Servicios
- local.images['notebooks'] = global_path + images.products_getac + 'servicio_notebook.png'
- local.images['tablets'] = global_path + images.products_getac + 'servicio_Tablets.png'
- local.images['datalabs'] = global_path + images.products_getac + 'servicio_Documentacion.png'
- local.images['casos'] = global_path + images.products_getac + 'servicio_CasosdeEstudio.png'
- local.images['soporte'] = global_path + images.products_getac + 'servicio_Soporte.png'
//- Beneficios
- local.images['ligero'] = global_path + images.products_getac + 'beneficio_Diseño.png'
- local.images['poder'] = global_path + images.products_getac + 'beneficio_Conectividad.png'
- local.images['pantalla'] = global_path + images.products_getac + 'beneficio_PantallaExtremo.png'
- local.images['sobrevivir'] = global_path + images.products_getac + 'beneficio_equiposconstruidos.png'
- local.images['chasis'] = global_path + images.products_getac + 'beneficio_ChasisAlineacion.png'
- local.images['calor'] = global_path + images.products_getac + 'beneficio_DisipaciondeCalor.png'
- local.images['extremas'] = global_path + images.products_getac + 'beneficio_Certificaciones.png'
- local.images['ambientes'] = global_path + images.products_getac + 'beneficio_ambientesextremos.png'

- local.images['solucion'] = global_path + images.products_getac + 'solucion.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Getac_Whithepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'Getac_Caso_de_Uso.pdf'

doctype html
html(lang=site.lang)
	include ../template/_head
	body
		include ../template/_header
		section.section-video-dass
			img.banner(src=local.images.banner, alt="banner")
			.boxVideo
				video#secondVideo(autoplay loop muted)
					source(src="../images/video/getacOK.MP4" type="video/mp4")
			.container
				.content
					br
					.title-sections
						h1 Getac dispositivos de uso rudo
					p Los dispositivos de Getac fueron diseñados para sobrevivir y Sellcom es un partner distribuidor de ellos en México.
		section.section-about-dass#dass
			.container
				.row
					.col-12
						.title-sections-text
							h3 ¿Qué es Getac?
							p Equipos con altos estándares de seguridad certificada que garantizan un alto rendimiento en exteriores y en lugares donde otros dispositivos no podrían.
						ul
							li
								strong Notebooks
								img(src=local.images.notebooks, alt="notebooks")
								p Dispositivos robustos de innovación.
							li
								strong Tabletas
								img(src=local.images.tablets, alt="tablets")
								p Dispositivos de alto rendimiento e innovación.
							li
								strong DataLabs
								img(src=local.images.datalabs, alt="datalabs")
								p Te apoyamos a levantar un requerimiento para identificar la aplicación de Getac en tu empresa.
							li
								strong Casos de Estudio
								img(src=local.images.casos, alt="casos")
								p Visibilidad para cualquier dato, cualquier aplicación y en cualquier cloud para todas las partes implicadas en la empresa.
							li
								strong Soporte
								img(src=local.images.soporte, alt="soporte")
								p Soporte en sitio o en línea para tus dispositivos.
		.flotante
			a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
				img(src=local.images.whitepaper, alt="big data" )
			a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
				img(src=local.images.casodeuso, alt="big data")
		section.section-implementDass#beneficios
			.container
				.row
					.col-10.middle
						.title-sections-text
							h3 ¿Por qué implementar Getac?
							p Beneficios:
						ul
							li
								img(src=local.images.ligero, alt="ligero")
								p Diseño delgado y ligero.
							li
								img(src=local.images.poder, alt="poder")
								p Poder sin límites en conectividad.
							li
								img(src=local.images.pantalla, alt="pantalla")
								p Pantalla al extremo.
							li
								img(src=local.images.sobrevivir, alt="sobrevivir")
								p Equipos construidos para sobrevivir.
							li
								img(src=local.images.chasis, alt="chasis")
								p Chasis de aleación de magnesio.
							li
								img(src=local.images.calor, alt="calor")
								p Disipación de calor.
							li
								img(src=local.images.extremas, alt="extremas")
								p Certificaciones extremas.
							li
								img(src=local.images.ambientes, alt="ambientes")
								p Ambientes extremos.
		section.section-subtitle#soluciones
			.container
				.row
					.col-10.middle
						.title-sections
							h3 Conoce nuestra solución
		section.section-why-dass
			img(src=local.images.solucion, alt="solución conoce")
			.container
				.row
					.col-6.bgcircle
						p No cabe duda alguna que los dispositivos robustos Getac son los más resistentes y poderosos.
						p Getac cuenta con más de 250 ingenieros de tiempo completo dedicados a la búsqueda de soluciones a los problemas de la vida real. Desde la legibilidad de la luz solar, disipación de calor termal, administración de energía y diseño mecánico, hasta tecnologías únicas, como la visión nocturna y la protección de niebla salina.
		include ../template/_footer
		if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
		script(type="text/javascript" src=section_scripts[current_profile][i])

dist/dev/sections/getac.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Getac</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Ahora costos con las soluciones de Getac; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!">
    <meta name="keywords" content="Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Getac, bajo demanda, on demand, soluciones Getac">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-video-dass"><img class="banner" src="../images/products_getac/bannerprincipal.jpg" alt="banner">
      <div class="boxVideo">
        <video id="secondVideo" autoplay loop muted>
          <source src="../images/video/getacOK.MP4" type="video/mp4">
        </video>
      </div>
      <div class="container">
        <div class="content"><br>
          <div class="title-sections">
            <h1>Getac dispositivos de uso rudo</h1>
          </div>
          <p>Los dispositivos de Getac fueron diseñados para sobrevivir y Sellcom es un partner distribuidor de ellos en México.</p>
        </div>
      </div>
    </section>
    <section class="section-about-dass" id="dass">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="title-sections-text">
              <h3>¿Qué es Getac?</h3>
              <p>Equipos con altos estándares de seguridad certificada que garantizan un alto rendimiento en exteriores y en lugares donde otros dispositivos no podrían.</p>
            </div>
            <ul>
              <li><strong>Notebooks</strong><img src="../images/products_getac/servicio_notebook.png" alt="notebooks">
                <p>Dispositivos robustos de innovación.</p>
              </li>
              <li><strong>Tabletas</strong><img src="../images/products_getac/servicio_Tablets.png" alt="tablets">
                <p>Dispositivos de alto rendimiento e innovación.</p>
              </li>
              <li><strong>DataLabs</strong><img src="../images/products_getac/servicio_Documentacion.png" alt="datalabs">
                <p>Te apoyamos a levantar un requerimiento para identificar la aplicación de Getac en tu empresa.</p>
              </li>
              <li><strong>Casos de Estudio</strong><img src="../images/products_getac/servicio_CasosdeEstudio.png" alt="casos">
                <p>Visibilidad para cualquier dato, cualquier aplicación y en cualquier cloud para todas las partes implicadas en la empresa.</p>
              </li>
              <li><strong>Soporte</strong><img src="../images/products_getac/servicio_Soporte.png" alt="soporte">
                <p>Soporte en sitio o en línea para tus dispositivos.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <div class="flotante"><a class="whitepage" href="../documents/Getac_Whithepaper.pdf" dowloand target="_blank" title="Descargar white paper"><img src="../images/global/whitepaper.png" alt="big data"></a><a class="caseofuse" href="../documents/Getac_Caso_de_Uso.pdf" dowloand target="_blank" title="Descargar casos de uso"><img src="../images/global/casodeuso.png" alt="big data"></a></div>
    <section class="section-implementDass" id="beneficios">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections-text">
              <h3>¿Por qué implementar Getac?</h3>
              <p>Beneficios:</p>
            </div>
            <ul>
              <li><img src="../images/products_getac/beneficio_Diseño.png" alt="ligero">
                <p>Diseño delgado y ligero.</p>
              </li>
              <li><img src="../images/products_getac/beneficio_Conectividad.png" alt="poder">
                <p>Poder sin límites en conectividad.</p>
              </li>
              <li><img src="../images/products_getac/beneficio_PantallaExtremo.png" alt="pantalla">
                <p>Pantalla al extremo.</p>
              </li>
              <li><img src="../images/products_getac/beneficio_equiposconstruidos.png" alt="sobrevivir">
                <p>Equipos construidos para sobrevivir.</p>
              </li>
              <li><img src="../images/products_getac/beneficio_ChasisAlineacion.png" alt="chasis">
                <p>Chasis de aleación de magnesio.</p>
              </li>
              <li><img src="../images/products_getac/beneficio_DisipaciondeCalor.png" alt="calor">
                <p>Disipación de calor.</p>
              </li>
              <li><img src="../images/products_getac/beneficio_Certificaciones.png" alt="extremas">
                <p>Certificaciones extremas.</p>
              </li>
              <li><img src="../images/products_getac/beneficio_ambientesextremos.png" alt="ambientes">
                <p>Ambientes extremos.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section-subtitle" id="soluciones">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections">
              <h3>Conoce nuestra solución</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-why-dass"><img src="../images/products_getac/solucion.jpg" alt="solución conoce">
      <div class="container">
        <div class="row">
          <div class="col-6 bgcircle">
            <p>No cabe duda alguna que los dispositivos robustos Getac son los más resistentes y poderosos.</p>
            <p>Getac cuenta con más de 250 ingenieros de tiempo completo dedicados a la búsqueda de soluciones a los problemas de la vida real. Desde la legibilidad de la luz solar, disipación de calor termal, administración de energía y diseño mecánico, hasta tecnologías únicas, como la visión nocturna y la protección de niebla salina.</p>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/libs/jquery.validate.js"></script>
    <script src="../js/libs/jquery.file.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/sellcom_dass.js"></script>
    <script src="../js/controllers/downloads.js"></script>
    <script src="../js/controllers/form.js"></script>
  </body>
</html>
<script type="text/javascript" src="../js/libs/jquery.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<script type="text/javascript" src="../js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../js/libs/jquery.file.js"></script>
<script type="text/javascript" src="../js/plugins/slick.js"></script>
<script type="text/javascript" src="../js/controllers/sellcom_dass.js"></script>
<script type="text/javascript" src="../js/controllers/downloads.js"></script>
<script type="text/javascript" src="../js/controllers/form.js"></script>
