src/html/sections/hci.pug
//-Configuración y variables globales del proyecto
include ../config/_variables
//-
    Ajustes de la configuración global para esta sección
- global_path = '../'
//-
    Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
    Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Mobility'
- metadata['description'] = 'La administración de los recursos tecnológicos de su organización requiere un manejo eficiente para brindar al usuario una respuesta efectiva y calidad en el servicio.'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, plataforma, gestión de datos , Innovación, Empresas, Negocios, migración, base de datos, almacenamiento, Cloud, hibrido, Nube, sistemas,sistema all-flash, NetApp, transformación digital, soluciones NetApp'
- var landing = 'mobility'

- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_huawei + 'bannerprincipal.jpg'
//- Servicios
- local.images['migracion'] = global_path + images.products_netapp + 'servicio_migracion.png'
- local.images['proteccion'] = global_path + images.products_netapp + 'servicio_proteccion.png'
- local.images['datos'] = global_path + images.products_netapp + 'servicio_datos.png'
- local.images['almacenamiento'] = global_path + images.products_netapp + 'servicio_almacenamiento.png'

//- Microsite


//- Beneficios
- local.images['archivos'] = global_path + images.products_netapp + 'beneficio_archivos.png'
- local.images['computacion'] = global_path + images.products_netapp + 'beneficio_computacion.png'
- local.images['nube'] = global_path + images.products_netapp + 'beneficio_nube.png'


- local.images['solucion'] = global_path + images.products_netapp + 'solucion.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Huawei_Whitepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'Huawei_casos_de_uso.pdf'

//- Imagenes del nuevo sitio
- local.images['news'] = global_path + images.products_netapp + 'verticales_soluciones_news.png'
- local.images['seguridad'] = global_path + images.products_netapp + 'verticales_soluciones_seguridad.png'
- local.images['auditoria'] = global_path + images.products_netapp + 'verticales_soluciones_auditoria.png'
- local.images['operacion'] = global_path + images.products_netapp + 'verticales_soluciones_operacion.png'
- local.images['control'] = global_path + images.products_netapp + 'vertical_soluciones_control.png'
- local.images['dispositivo'] = global_path + images.products_netapp + 'vertical_soluciones_dispositivo.png'
- local.images['banner'] = global_path + images.products_netapp + 'vertical_soluciones_banner.png'
- local.images['medio'] = global_path + images.products_netapp + 'vertical_soluciones_medio.png'
- local.images['fondo'] = global_path + images.products_netapp + 'vertical_soluciones_fondo.png'



doctype html
html(lang=site.lang)
    include ../template/_head
    body
        include ../template/_header
        section.section-banner-dass-vertical.mundo
            .banner-vr
                .container
                    .content.algo
                        br
                        .title-sections
                        h1 HCI#[span.green + SDDC]
                        //-p PREPÁRESE PARA UN NUEVO ENFOQUE DE RECILENCIA CIBERNÉTICA
                        P La transición de los servidores físicos a las Infraestructuras Virtuales ha cambiado la cara del centro de datos. La Infraestructura como Servicio (IaaS) ha permitido la consistencia, la eficiencia y la gestión del ciclo de vida de los centros de datos en los últimos años. Ahora, un centro de datos definido por software (SDDC) junto con infraestructura hiperconvergente (HCI) puede simplificar aún más no solo la forma de elegir el hardware que se ejecuta en el centro de datos, sino también la forma de desarrollar estrategias para la gestión de la infraestructura de TI.
        section.section-verticales
            .container.gris
                .row
                    .col-12
                    h1 SOLU#[span.green CIONES]
                    .col-12
                        .col-1
                            p 
                        .col-10.vertical-col
                            .col-4.icon-vertical 
                                img(src=local.images.news, alt="news")
                            .col-6
                                .title-sections.txt-justify
                                    h3 #[strong HCI Hyper Converged Infrastructure]
                                    //-h2 Fomente la cultura de seguridad
                                    p La Hiperconvergencia es una infraestructura definida por software que integra el almacenamiento, memoria y procesamiento en una sola plataforma, es decir, que todo se gestiona desde una interfaz común, ofreciendo la experiencia de la nube publica en su infraestructura privada. 
                        .col-1
                            p 
        section.section-about-dass#dass
            .container
                .row
                    .col-12   
                        .title-sections.txt-justify
                            h3 #[strong BENEFICIOS]
                            //-h2 Fomente la cultura de seguridad
                            //-p Mediante capacitaciones a personal, desarrollo capacidades y procesos internos con un control y gestión de cambio para asegurar el éxito de su nueva iniciativa de seguridad.  
                        ul
                            li
                                strong OFRECIENDO UNA CONSOLIDACIÓN DE TUS SERVIDORES
                                img#imagen(src=local.images.proteccion, alt="proteccion")
                                p.txt-justify Facilita el desarrollo del dimensionamiento y es muy fácil migrar nuevas cargas de trabajo.
                            li
                                strong OPTIMIZACIÓN DE APLICACIONES DE NIVEL 1
                                img#imagen(src=local.images.proteccion, alt="proteccion")
                                p.txt-justify  En lugar de aumentar los recursos, solo se modifica la solución con base en las necesidades.
                            li
                                strong  INFRAESTRUCTURA DE ESCRITORIOS VIRTUALES (VDI)
                                img#imagen(src=local.images.proteccion, alt="proteccion")
                                p.txt-justify Sistemas que permiten ejecutar múltiples con diversos ambientes en entornos lógicamente separados.
                            
                            li
                                strong UNIFICA E INTEGRA PARA TODAS TUS OFICINAS
                                img#imagen(src=local.images.proteccion, alt="proteccion")
                                p.txt-justify Los sistemas son fáciles de gestionar y se puede tener una administración de control remoto.
                    .col-12
                        .col-1
                            p
                        .col-10.vertical-col
                            .col-6
                                .title-sections.derecha
                                    h3 #[strong SDDC Software Defined Data Center]
                                    //-h2 Alinee sus activiades de seguridad
                                    p.txt-justify Al integrar las capas de una infraestructura de 3 niveles mediante plataformas de SDDC se logra la abstracción total de la infraestructura para controlar y administrarlo todo mediante SW.
                                
                                    p.txt-justify • Infraestructura Virtual, que abstrae al sistema operativo de tener cualquier tipo de dependencia de hardware y acelerando el despliegue de silos y cargas de trabajo en la infraestructura.
                                    p.txt-justify • Almacenamiento Definido por Software (SDS), que le permite abstraer las redes de área de almacenamiento de la misma manera que la Infraestructura Virtual abstrae el sistema operativo del hardware del servidor.
                                    p.txt-justify • Red definida por software (SDN), que le permite abstraer los detalles de las configuraciones de los puertos individuales con una red basada en políticas que puede hacer la transición a través de los límites de la nube pública y privada
                                    
                            .col-4.icon-vertical
                                img(src=local.images.seguridad, alt="seguridad")
                        .col-1
                            p
        section.section-about-dass#dass
            .container
                .row
                    .col-12   
                        .title-sections.txt-justify
                            h3 #[strong BENEFICIOS]
                        ul
                            li
                                //-strong Corre cualquier app a cualquier escala
                                img#imagen(src=local.images.proteccion, alt="proteccion")
                                p.txt-justify La adopción del SDDC permite que un equipo de TI se integre en su empresa y sus estrategias con flexibilidad, agilidad y consistencia para cumplir con las exigencias que se le imponen.
                            li
                                //-strong Corre cualquier app a cualquier escala
                                img#imagen(src=local.images.proteccion, alt="proteccion")
                                p.txt-justify Los recursos de TI tienen la elasticidad para escalar bajo demanda y ejecutarse en cualquier lugar dentro de su Cloud, ahora es posible tener sus costos cuantificados.
                            li
                                //-strong Corre cualquier app a cualquier escala
                                img#imagen(src=local.images.proteccion, alt="proteccion")
                                p.txt-justify La gestión basada en políticas para todos los aspectos de acuerdo a su infraestructura de TI es lo que comprende el SDDC y crea este tipo de posibilidades. 
                            
                            li
                                //-strong Corre cualquier app a cualquier escala
                                img#imagen(src=local.images.proteccion, alt="proteccion")
                                p.txt-justify SELLCOM SOLUTIONS ha estado ayudando a nuestros clientes a hacer la transición a SDDC y ha permitido la gestión basada en políticas dentro de sus organizaciones.
                                br         
        //-.flotante
            a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
                img(src=local.images.whitepaper, alt="big data" )
            a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
                img(src=local.images.casodeuso, alt="big data")
        include ../template/_footer
        if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
        script(type="text/javascript" src=section_scripts[current_profile][i])

dist/dev/sections/hci.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Mobility</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="La administración de los recursos tecnológicos de su organización requiere un manejo eficiente para brindar al usuario una respuesta efectiva y calidad en el servicio.">
    <meta name="keywords" content="Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, plataforma, gestión de datos , Innovación, Empresas, Negocios, migración, base de datos, almacenamiento, Cloud, hibrido, Nube, sistemas,sistema all-flash, NetApp, transformación digital, soluciones NetApp">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-banner-dass-vertical mundo">
      <div class="banner-vr">
        <div class="container">
          <div class="content algo"><br>
            <div class="title-sections"></div>
            <h1>HCI<span class="green">+ SDDC</span></h1>
            <P>La transición de los servidores físicos a las Infraestructuras Virtuales ha cambiado la cara del centro de datos. La Infraestructura como Servicio (IaaS) ha permitido la consistencia, la eficiencia y la gestión del ciclo de vida de los centros de datos en los últimos años. Ahora, un centro de datos definido por software (SDDC) junto con infraestructura hiperconvergente (HCI) puede simplificar aún más no solo la forma de elegir el hardware que se ejecuta en el centro de datos, sino también la forma de desarrollar estrategias para la gestión de la infraestructura de TI.</P>
          </div>
        </div>
      </div>
    </section>
    <section class="section-verticales">
      <div class="container gris">
        <div class="row">
          <div class="col-12"></div>
          <h1>SOLU<span class="green">CIONES</span></h1>
          <div class="col-12">
            <div class="col-1">
              <p> </p>
            </div>
            <div class="col-10 vertical-col">
              <div class="col-4 icon-vertical"> <img src="../images/products_netapp/verticales_soluciones_news.png" alt="news"></div>
              <div class="col-6">
                <div class="title-sections txt-justify">
                  <h3><strong>HCI Hyper Converged Infrastructure</strong></h3>
                  <p>La Hiperconvergencia es una infraestructura definida por software que integra el almacenamiento, memoria y procesamiento en una sola plataforma, es decir, que todo se gestiona desde una interfaz común, ofreciendo la experiencia de la nube publica en su infraestructura privada. </p>
                </div>
              </div>
            </div>
            <div class="col-1">
              <p> </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-about-dass" id="dass">
      <div class="container">
        <div class="row">
          <div class="col-12">  
            <div class="title-sections txt-justify">
              <h3><strong>BENEFICIOS</strong></h3>
            </div>
            <ul>
              <li><strong>OFRECIENDO UNA CONSOLIDACIÓN DE TUS SERVIDORES</strong><img id="imagen" src="../images/products_netapp/servicio_proteccion.png" alt="proteccion">
                <p class="txt-justify">Facilita el desarrollo del dimensionamiento y es muy fácil migrar nuevas cargas de trabajo.</p>
              </li>
              <li><strong>OPTIMIZACIÓN DE APLICACIONES DE NIVEL 1</strong><img id="imagen" src="../images/products_netapp/servicio_proteccion.png" alt="proteccion">
                <p class="txt-justify"> En lugar de aumentar los recursos, solo se modifica la solución con base en las necesidades.</p>
              </li>
              <li><strong> INFRAESTRUCTURA DE ESCRITORIOS VIRTUALES (VDI)</strong><img id="imagen" src="../images/products_netapp/servicio_proteccion.png" alt="proteccion">
                <p class="txt-justify">Sistemas que permiten ejecutar múltiples con diversos ambientes en entornos lógicamente separados.</p>
              </li>
              <li><strong>UNIFICA E INTEGRA PARA TODAS TUS OFICINAS</strong><img id="imagen" src="../images/products_netapp/servicio_proteccion.png" alt="proteccion">
                <p class="txt-justify">Los sistemas son fáciles de gestionar y se puede tener una administración de control remoto.</p>
              </li>
            </ul>
          </div>
          <div class="col-12">
            <div class="col-1">
              <p></p>
            </div>
            <div class="col-10 vertical-col">
              <div class="col-6">
                <div class="title-sections derecha">
                  <h3><strong>SDDC Software Defined Data Center</strong></h3>
                  <p class="txt-justify">Al integrar las capas de una infraestructura de 3 niveles mediante plataformas de SDDC se logra la abstracción total de la infraestructura para controlar y administrarlo todo mediante SW.</p>
                  <p class="txt-justify">• Infraestructura Virtual, que abstrae al sistema operativo de tener cualquier tipo de dependencia de hardware y acelerando el despliegue de silos y cargas de trabajo en la infraestructura.</p>
                  <p class="txt-justify">• Almacenamiento Definido por Software (SDS), que le permite abstraer las redes de área de almacenamiento de la misma manera que la Infraestructura Virtual abstrae el sistema operativo del hardware del servidor.</p>
                  <p class="txt-justify">• Red definida por software (SDN), que le permite abstraer los detalles de las configuraciones de los puertos individuales con una red basada en políticas que puede hacer la transición a través de los límites de la nube pública y privada</p>
                </div>
              </div>
              <div class="col-4 icon-vertical"><img src="../images/products_netapp/verticales_soluciones_seguridad.png" alt="seguridad"></div>
            </div>
            <div class="col-1">
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-about-dass" id="dass">
      <div class="container">
        <div class="row">
          <div class="col-12">  
            <div class="title-sections txt-justify">
              <h3><strong>BENEFICIOS</strong></h3>
            </div>
            <ul>
              <li><img id="imagen" src="../images/products_netapp/servicio_proteccion.png" alt="proteccion">
                <p class="txt-justify">La adopción del SDDC permite que un equipo de TI se integre en su empresa y sus estrategias con flexibilidad, agilidad y consistencia para cumplir con las exigencias que se le imponen.</p>
              </li>
              <li><img id="imagen" src="../images/products_netapp/servicio_proteccion.png" alt="proteccion">
                <p class="txt-justify">Los recursos de TI tienen la elasticidad para escalar bajo demanda y ejecutarse en cualquier lugar dentro de su Cloud, ahora es posible tener sus costos cuantificados.</p>
              </li>
              <li><img id="imagen" src="../images/products_netapp/servicio_proteccion.png" alt="proteccion">
                <p class="txt-justify">La gestión basada en políticas para todos los aspectos de acuerdo a su infraestructura de TI es lo que comprende el SDDC y crea este tipo de posibilidades. </p>
              </li>
              <li><img id="imagen" src="../images/products_netapp/servicio_proteccion.png" alt="proteccion">
                <p class="txt-justify">SELLCOM SOLUTIONS ha estado ayudando a nuestros clientes a hacer la transición a SDDC y ha permitido la gestión basada en políticas dentro de sus organizaciones.</p><br>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/libs/jquery.validate.js"></script>
    <script src="../js/libs/jquery.file.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/sellcom_dass.js"></script>
    <script src="../js/controllers/downloads.js"></script>
    <script src="../js/controllers/form.js"></script>
  </body>
</html>
<script type="text/javascript" src="../js/libs/jquery.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<script type="text/javascript" src="../js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../js/libs/jquery.file.js"></script>
<script type="text/javascript" src="../js/plugins/slick.js"></script>
<script type="text/javascript" src="../js/controllers/sellcom_dass.js"></script>
<script type="text/javascript" src="../js/controllers/downloads.js"></script>
<script type="text/javascript" src="../js/controllers/form.js"></script>
