src/html/sections/hp.pug
//-Configuración y variables globales del proyecto
include ../config/_variables
//-
    Ajustes de la configuración global para esta sección
- global_path = '../'
//-
    Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
    Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - HP Inc.'
- metadata['description'] = 'Ahora costos con las soluciones de HP Inc.; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, HP Inc., bajo demanda, on demand, soluciones HP Inc.'
- var landing = 'hp'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_hp + 'bannerprincipal.jpg'
//- Servicios
- local.images['desktop'] = global_path + images.products_hp + 'servicio_desktop.png'
- local.images['laptops'] = global_path + images.products_hp + 'servicio_laptop.png'
- local.images['servers'] = global_path + images.products_hp + 'servicio_servers.png'
- local.images['racs'] = global_path + images.products_hp + 'servicio_RACS.png'
- local.images['impresion'] = global_path + images.products_hp + 'servicio_impresion.png'
- local.images['insumos'] = global_path + images.products_hp + 'servicio_insumosdeimpresion.png'
- local.images['accesorios'] = global_path + images.products_hp + 'servicio_accesorios.png'
- local.images['monitores'] = global_path + images.products_hp + 'servicio_monitores.png'
//- Beneficios
- local.images['capacidades'] = global_path + images.products_hp + 'beneficio_capacidadesalamedida.png'
- local.images['precios'] = global_path + images.products_hp + 'beneficio_preciocompetitivo.png'
- local.images['implementacion'] = global_path + images.products_hp + 'beneficio_implementacion.png'
- local.images['mantenimiento'] = global_path + images.products_hp + 'beneficio_mantenimiento.png'
- local.images['soporte'] = global_path + images.products_hp + 'beneficio_soportetecnico.png'
- local.images['logistica'] = global_path + images.products_hp + 'beneficio_logisticanacional.png'
- local.images['iaas'] = global_path + images.products_hp + 'beneficio_lASS.png'
- local.images['asociados'] = global_path + images.products_hp + 'beneficio_serviciosdesoftware.png'

- local.images['solucion'] = global_path + images.products_hp + 'solucion.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'HP_inc_whitepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'HP_inc_casos_de_uso.pdf'

doctype html
html(lang=site.lang)
    include ../template/_head
    body
        include ../template/_header
        section.section-video-dass
            img.banner(src=local.images.banner, alt="banner")
            .boxVideo
                video#secondVideo(autoplay loop muted)
                    source(src="../images/video/hp30.mp4" type="video/mp4")
            .container
                .content
                    br
                    .title-sections
                        h1 Hardware HP Inc.
                    p  Sellcom socio Platinum de HP Inc. en México
        section.section-about-dass#dass
            .container
                .row
                    .col-12
                        .title-sections-text
                            h3 ¿Qué es HP Inc.?
                            p Acceso a la distribución empresarial de todo el catálogo de hardware HP en México.
                        ul
                            li
                                strong DESKTOP
                                img(src=local.images.desktop, alt="desktop")
                                p Equipos de Escritorio.
                            li
                                strong LAPTOPS
                                img(src=local.images.laptops, alt="laptops")
                                p Dispositivos de escritorio móvil.
                            li
                                strong TABLETAS
                                img(src=local.images.servers, alt="servers")
                                p Gabinetes de alojamiento de infraestructura y software.
                            li
                                strong ACCESORIOS
                                img(src=local.images.racs, alt="racs")
                                p Accesorios de seguridad y complementos para tus dispositivos.
                            li
                                strong IMPRESIÓN
                                img(src=local.images.impresion, alt="impresion")
                                p Dispositivos para impresión, escaneo y multifuncionalidad.
                            li
                                strong INSUMOS DE IMPRESIÓN
                                img(src=local.images.insumos, alt="insumos")
                                p Cartuchos de tinta, toner, cabezales, etc.
                            li
                                strong ESCÁNERS
                                img(src=local.images.accesorios, alt="accesorios")
                                p Dispositivos de digitalización de documentos.
                            li
                                strong MONITORES
                                img(src=local.images.monitores, alt="monitores")
                                p Todas las medidas de monitores para tus equipos.
        section.section-implementDass#beneficios
            .container
                .row
                    .col-10.middle
                        .title-sections-text
                            h3 ¿Por qué implementar HP Inc.?
                            p Beneficios:
                        ul
                            li
                                img(src=local.images.capacidades, alt="capacidades")
                                p CAPACIDADES A LA MEDIDA (DD, RAM, PROCESADOR)
                            li
                                img(src=local.images.precios, alt="precios")
                                p PRECIOS COMPETITIVOS
                            li
                                img(src=local.images.implementacion, alt="implementacion")
                                p IMPLEMENTACIÓN
                            li
                                img(src=local.images.mantenimiento, alt="mantenimiento")
                                p MANTENIMIENTO
                            li
                                img(src=local.images.soporte, alt="soporte")
                                p SOPORTE TÉCNICO
                            li
                                img(src=local.images.logistica, alt="logistica")
                                p LOGÍSTICA NACIONAL
                            li
                                img(src=local.images.iaas, alt="iaas")
                                p IAAS (Infraestructura as a service)
                            li
                                img(src=local.images.asociados, alt="asociados")
                                p SERVICIOS DE SOFTWARE ASOCIADOS AL HW
        section.section-subtitle#soluciones
            .container
                .row
                    .col-10.middle
                        .title-sections
                            h3 Conoce nuestra solución
        .flotante
            a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
                img(src=local.images.whitepaper, alt="big data" )
            a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
                img(src=local.images.casodeuso, alt="big data")
        section.section-why-dass
            img(src=local.images.solucion, alt="solucion conoce")
            .container
                .row
                    .col-6.bgcircle
                        p Sellcom Solutions pionero de la distribución de hardware es de los principales socios de HP Inc. México con más de 15 años de relación comercial.
                        p Contamos con acceso a todos los productos de infraestructura y sus complementos para su venta a nivel nacional.
        include ../template/_footer
        if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
        script(type="text/javascript" src=section_scripts[current_profile][i])

dist/dev/sections/hp.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - HP Inc.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Ahora costos con las soluciones de HP Inc.; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!">
    <meta name="keywords" content="Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, HP Inc., bajo demanda, on demand, soluciones HP Inc.">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-video-dass"><img class="banner" src="../images/products_hp/bannerprincipal.jpg" alt="banner">
      <div class="boxVideo">
        <video id="secondVideo" autoplay loop muted>
          <source src="../images/video/hp30.mp4" type="video/mp4">
        </video>
      </div>
      <div class="container">
        <div class="content"><br>
          <div class="title-sections">
            <h1>Hardware HP Inc.</h1>
          </div>
          <p> Sellcom socio Platinum de HP Inc. en México</p>
        </div>
      </div>
    </section>
    <section class="section-about-dass" id="dass">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="title-sections-text">
              <h3>¿Qué es HP Inc.?</h3>
              <p>Acceso a la distribución empresarial de todo el catálogo de hardware HP en México.</p>
            </div>
            <ul>
              <li><strong>DESKTOP</strong><img src="../images/products_hp/servicio_desktop.png" alt="desktop">
                <p>Equipos de Escritorio.</p>
              </li>
              <li><strong>LAPTOPS</strong><img src="../images/products_hp/servicio_laptop.png" alt="laptops">
                <p>Dispositivos de escritorio móvil.</p>
              </li>
              <li><strong>TABLETAS</strong><img src="../images/products_hp/servicio_servers.png" alt="servers">
                <p>Gabinetes de alojamiento de infraestructura y software.</p>
              </li>
              <li><strong>ACCESORIOS</strong><img src="../images/products_hp/servicio_RACS.png" alt="racs">
                <p>Accesorios de seguridad y complementos para tus dispositivos.</p>
              </li>
              <li><strong>IMPRESIÓN</strong><img src="../images/products_hp/servicio_impresion.png" alt="impresion">
                <p>Dispositivos para impresión, escaneo y multifuncionalidad.</p>
              </li>
              <li><strong>INSUMOS DE IMPRESIÓN</strong><img src="../images/products_hp/servicio_insumosdeimpresion.png" alt="insumos">
                <p>Cartuchos de tinta, toner, cabezales, etc.</p>
              </li>
              <li><strong>ESCÁNERS</strong><img src="../images/products_hp/servicio_accesorios.png" alt="accesorios">
                <p>Dispositivos de digitalización de documentos.</p>
              </li>
              <li><strong>MONITORES</strong><img src="../images/products_hp/servicio_monitores.png" alt="monitores">
                <p>Todas las medidas de monitores para tus equipos.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section-implementDass" id="beneficios">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections-text">
              <h3>¿Por qué implementar HP Inc.?</h3>
              <p>Beneficios:</p>
            </div>
            <ul>
              <li><img src="../images/products_hp/beneficio_capacidadesalamedida.png" alt="capacidades">
                <p>CAPACIDADES A LA MEDIDA (DD, RAM, PROCESADOR)</p>
              </li>
              <li><img src="../images/products_hp/beneficio_preciocompetitivo.png" alt="precios">
                <p>PRECIOS COMPETITIVOS</p>
              </li>
              <li><img src="../images/products_hp/beneficio_implementacion.png" alt="implementacion">
                <p>IMPLEMENTACIÓN</p>
              </li>
              <li><img src="../images/products_hp/beneficio_mantenimiento.png" alt="mantenimiento">
                <p>MANTENIMIENTO</p>
              </li>
              <li><img src="../images/products_hp/beneficio_soportetecnico.png" alt="soporte">
                <p>SOPORTE TÉCNICO</p>
              </li>
              <li><img src="../images/products_hp/beneficio_logisticanacional.png" alt="logistica">
                <p>LOGÍSTICA NACIONAL</p>
              </li>
              <li><img src="../images/products_hp/beneficio_lASS.png" alt="iaas">
                <p>IAAS (Infraestructura as a service)</p>
              </li>
              <li><img src="../images/products_hp/beneficio_serviciosdesoftware.png" alt="asociados">
                <p>SERVICIOS DE SOFTWARE ASOCIADOS AL HW</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section-subtitle" id="soluciones">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections">
              <h3>Conoce nuestra solución</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="flotante"><a class="whitepage" href="../documents/HP_inc_whitepaper.pdf" dowloand target="_blank" title="Descargar white paper"><img src="../images/global/whitepaper.png" alt="big data"></a><a class="caseofuse" href="../documents/HP_inc_casos_de_uso.pdf" dowloand target="_blank" title="Descargar casos de uso"><img src="../images/global/casodeuso.png" alt="big data"></a></div>
    <section class="section-why-dass"><img src="../images/products_hp/solucion.jpg" alt="solucion conoce">
      <div class="container">
        <div class="row">
          <div class="col-6 bgcircle">
            <p>Sellcom Solutions pionero de la distribución de hardware es de los principales socios de HP Inc. México con más de 15 años de relación comercial.</p>
            <p>Contamos con acceso a todos los productos de infraestructura y sus complementos para su venta a nivel nacional.</p>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/libs/jquery.validate.js"></script>
    <script src="../js/libs/jquery.file.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/sellcom_dass.js"></script>
    <script src="../js/controllers/downloads.js"></script>
    <script src="../js/controllers/form.js"></script>
  </body>
</html>
<script type="text/javascript" src="../js/libs/jquery.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<script type="text/javascript" src="../js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../js/libs/jquery.file.js"></script>
<script type="text/javascript" src="../js/plugins/slick.js"></script>
<script type="text/javascript" src="../js/controllers/sellcom_dass.js"></script>
<script type="text/javascript" src="../js/controllers/downloads.js"></script>
<script type="text/javascript" src="../js/controllers/form.js"></script>
