src/html/sections/ivanti.pug
//-Configuración y variables globales del proyecto
include ../config/_variables
//-
    Ajustes de la configuración global para esta sección
- global_path = '../'
//-
    Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
    Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Ivantí'
- metadata['description'] = 'Aqui va la descripción'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Getac, bajo demanda, on demand, soluciones Getac'
- var landing = 'Ivanti'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_getac + 'bannerprincipal.jpg'

//- Imagenes Correctas

//- Servicios
- local.images['notebooks'] = global_path + images.products_getac + 'servicio_notebook.png'
- local.images['tablets'] = global_path + images.products_getac + 'servicio_Tablets.png'
- local.images['datalabs'] = global_path + images.products_getac + 'servicio_Documentacion.png'
- local.images['casos'] = global_path + images.products_getac + 'servicio_puertadeenlace.png'
- local.images['soporte'] = global_path + images.products_getac + 'servicio_Soporte.png'
//- Beneficios
- local.images['transformacion'] = global_path + images.products_getac + 'beneficio_transformacion.png'
- local.images['innovacion'] = global_path + images.products_getac + 'beneficio_innovacion.png'
- local.images['cloud'] = global_path + images.products_getac + 'beneficio_cloud.png'
- local.images['pink'] = global_path + images.products_getac + 'beneficio_pinkverify.png'
- local.images['custom'] = global_path + images.products_getac + 'beneficio_customazible.png'
- local.images['configuracion'] = global_path + images.products_getac + 'beneficio_configuracion.png'
- local.images['herramientas'] = global_path + images.products_getac + 'beneficio_herramientas.png'
- local.images['precio'] = global_path + images.products_getac + 'beneficio_preciocompetitivo.png'
- local.images['controles'] = global_path + images.products_getac + 'beneficio_controles.png'
- local.images['gartner'] = global_path + images.products_getac + 'beneficio_gartner.png'
- local.images['iso'] = global_path + images.products_getac + 'beneficio_iso.png'
- local.images['solucion'] = global_path + images.products_getac + 'solucion.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Getac_Whithepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'Getac_Caso_de_Uso.pdf'

doctype html
html(lang=site.lang)
    include ../template/_head
    body
        include ../template/_header
        section.section-video-dass
            img.banner(src=local.images.banner, alt="banner")
            .boxVideo
                video#secondVideo(autoplay loop muted)
                    source(src="../images/video/ivanti.mp4" type="video/mp4")
            .container
                .content
                    br
                    .title-sections
                        h1 Plataforma de Administración Ivantí
                    p Ivantí está cambiando el panorama de TI, echando abajo los silos de TI con más visibilidad y automatización de procesos.
        section.section-about-dass#dass
            .container
                .row
                    .col-12
                        .title-sections-text
                            h3 ¿Qué es Ivantí?
                            p Soluciones de software y plataforma de administración para la gestión de TI unificada.
                        ul
                            li
                                strong Endpoint Security
                                img(src=local.images.notebooks, alt="notebooks")
                                p Administración de Aplicaciones, SO, Migraciones y Parcheo de servidores y dispositivos de usuario final.
                            li
                                strong Unified Endpoint Management
                                img(src=local.images.tablets, alt="tablets")
                                p Inventario y gestión de todos los dispositivos de usuario final y gestión de su rendimiento.
                            li
                                strong IT Asset Management
                                img(src=local.images.datalabs, alt="datalabs")
                                p Gestión y optimización del ciclo de vida y gestión económica de activos de hardware y software.
                            li
                                strong Identity Management
                                img(src=local.images.casos, alt="casos")
                                p Administración de accesos y unificación de puntos de control de accesos para aplicaciones y servicios.
        //- .flotante
        //- 	a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
        //- 		img(src=local.images.whitepaper, alt="big data" )
        //- 	a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
        //- 		img(src=local.images.casodeuso, alt="big data")
        section.section-implementDass#beneficios
            .container
                .row
                    .col-10.middle
                        .title-sections-text
                            h3 ¿Por qué implementar Ivantí?
                            p Beneficios:
                        ul
                            li
                                img(src=local.images.transformacion, alt="Transformación digital")
                                p Transformación Digital
                            li
                                img(src=local.images.innovacion, alt="Innovacion")
                                p Innovación
                            li
                                img(src=local.images.cloud, alt="cloud")
                                p Configuración nube y/o On-Premise
                            li
                                img(src=local.images.pink, alt="Pink verify")
                                p Procesos certificados en Pink Verify
                            li
                                img(src=local.images.custom, alt="customizable")
                                p Customizable
                            li
                                img(src=local.images.configuracion, alt="configuracion")
                                p Fácil y rápido de configurar
                            li
                                img(src=local.images.herramientas, alt="herramientas")
                                p Integración con herramientas
                            li
                                img(src=local.images.precio, alt="precio competitivo")
                                p Reducción de costos
                            li
                                img(src=local.images.controles, alt="Controles P.C.I.")
                                p Apoyo controles P.C.I.
                            li
                                img(src=local.images.gartner, alt="gartner")
                                p Gartner
                            li
                                img(src=local.images.iso, alt="iso")
                                p ISO 27001
        section.section-subtitle#soluciones
            .container
                .row
                    .col-10.middle
                        .title-sections
                            h3 Conoce nuestra solución
        section.section-why-dass
            img(src=local.images.solucion, alt="solución conoce")
            .container
                .row
                    .col-6.bgcircle
                        p Ivantí está cambiando el panorama de TI, echando abajo los silos de TI con más visibilidad y automatización de procesos. En conjunto con Sellcom Solutions ayudamos a nuestros clientes a responder a las demandas de sus usuarios, cumplir con reglamentos y proteger sus organizaciones, administrar sus elementos de configuracion, gestionar su seguridad, todo al mismo tiempo que reducimos los costos.
        include ../template/_footer
        if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
        script(type="text/javascript" src=section_scripts[current_profile][i])

dist/dev/sections/ivanti.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Ivantí</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Aqui va la descripción">
    <meta name="keywords" content="Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Getac, bajo demanda, on demand, soluciones Getac">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-video-dass"><img class="banner" src="../images/products_getac/bannerprincipal.jpg" alt="banner">
      <div class="boxVideo">
        <video id="secondVideo" autoplay loop muted>
          <source src="../images/video/ivanti.mp4" type="video/mp4">
        </video>
      </div>
      <div class="container">
        <div class="content"><br>
          <div class="title-sections">
            <h1>Plataforma de Administración Ivantí</h1>
          </div>
          <p>Ivantí está cambiando el panorama de TI, echando abajo los silos de TI con más visibilidad y automatización de procesos.</p>
        </div>
      </div>
    </section>
    <section class="section-about-dass" id="dass">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="title-sections-text">
              <h3>¿Qué es Ivantí?</h3>
              <p>Soluciones de software y plataforma de administración para la gestión de TI unificada.</p>
            </div>
            <ul>
              <li><strong>Endpoint Security</strong><img src="../images/products_getac/servicio_notebook.png" alt="notebooks">
                <p>Administración de Aplicaciones, SO, Migraciones y Parcheo de servidores y dispositivos de usuario final.</p>
              </li>
              <li><strong>Unified Endpoint Management</strong><img src="../images/products_getac/servicio_Tablets.png" alt="tablets">
                <p>Inventario y gestión de todos los dispositivos de usuario final y gestión de su rendimiento.</p>
              </li>
              <li><strong>IT Asset Management</strong><img src="../images/products_getac/servicio_Documentacion.png" alt="datalabs">
                <p>Gestión y optimización del ciclo de vida y gestión económica de activos de hardware y software.</p>
              </li>
              <li><strong>Identity Management</strong><img src="../images/products_getac/servicio_puertadeenlace.png" alt="casos">
                <p>Administración de accesos y unificación de puntos de control de accesos para aplicaciones y servicios.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section-implementDass" id="beneficios">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections-text">
              <h3>¿Por qué implementar Ivantí?</h3>
              <p>Beneficios:</p>
            </div>
            <ul>
              <li><img src="../images/products_getac/beneficio_transformacion.png" alt="Transformación digital">
                <p>Transformación Digital</p>
              </li>
              <li><img src="../images/products_getac/beneficio_innovacion.png" alt="Innovacion">
                <p>Innovación</p>
              </li>
              <li><img src="../images/products_getac/beneficio_cloud.png" alt="cloud">
                <p>Configuración nube y/o On-Premise</p>
              </li>
              <li><img src="../images/products_getac/beneficio_pinkverify.png" alt="Pink verify">
                <p>Procesos certificados en Pink Verify</p>
              </li>
              <li><img src="../images/products_getac/beneficio_customazible.png" alt="customizable">
                <p>Customizable</p>
              </li>
              <li><img src="../images/products_getac/beneficio_configuracion.png" alt="configuracion">
                <p>Fácil y rápido de configurar</p>
              </li>
              <li><img src="../images/products_getac/beneficio_herramientas.png" alt="herramientas">
                <p>Integración con herramientas</p>
              </li>
              <li><img src="../images/products_getac/beneficio_preciocompetitivo.png" alt="precio competitivo">
                <p>Reducción de costos</p>
              </li>
              <li><img src="../images/products_getac/beneficio_controles.png" alt="Controles P.C.I.">
                <p>Apoyo controles P.C.I.</p>
              </li>
              <li><img src="../images/products_getac/beneficio_gartner.png" alt="gartner">
                <p>Gartner</p>
              </li>
              <li><img src="../images/products_getac/beneficio_iso.png" alt="iso">
                <p>ISO 27001</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section-subtitle" id="soluciones">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections">
              <h3>Conoce nuestra solución</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-why-dass"><img src="../images/products_getac/solucion.jpg" alt="solución conoce">
      <div class="container">
        <div class="row">
          <div class="col-6 bgcircle">
            <p>Ivantí está cambiando el panorama de TI, echando abajo los silos de TI con más visibilidad y automatización de procesos. En conjunto con Sellcom Solutions ayudamos a nuestros clientes a responder a las demandas de sus usuarios, cumplir con reglamentos y proteger sus organizaciones, administrar sus elementos de configuracion, gestionar su seguridad, todo al mismo tiempo que reducimos los costos.</p>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/libs/jquery.validate.js"></script>
    <script src="../js/libs/jquery.file.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/sellcom_dass.js"></script>
    <script src="../js/controllers/downloads.js"></script>
    <script src="../js/controllers/form.js"></script>
  </body>
</html>
<script type="text/javascript" src="../js/libs/jquery.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<script type="text/javascript" src="../js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../js/libs/jquery.file.js"></script>
<script type="text/javascript" src="../js/plugins/slick.js"></script>
<script type="text/javascript" src="../js/controllers/sellcom_dass.js"></script>
<script type="text/javascript" src="../js/controllers/downloads.js"></script>
<script type="text/javascript" src="../js/controllers/form.js"></script>
