dist/dev/sections/jamf.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Jamf</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Ahora costos con las soluciones de Jamf; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!">
    <meta name="keywords" content="Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Jamf, bajo demanda, on demand, soluciones Jamf">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- section.section-banner-dass
    img.banner(src=local.images.banner, alt="banner")
    .container
    	.content
    		br
    		.title-sections
    			h1 Administrador de Dispositivos Móviles Jamf
    		p Sellcom distribuidor corporativo de Jamf en México
    		section.section-video-dass
    -->
    <section class="section-video-dass"><img class="banner" src="../images/products_jamf/bannerprincipal.jpg" alt="banner">
      <div class="boxVideo">
        <video id="secondVideo" autoplay loop muted>
          <source src="../images/video/Jamf_Web_Banner.mp4" type="video/mp4">
        </video>
      </div>
      <div class="container">
        <div class="content"><br>
          <div class="title-sections">
            <h1>Administrador de Dispositivos Móviles Jamf</h1>
          </div>
          <p>Sellcom distribuidor corporativo de Jamf en México</p>
        </div>
      </div>
    </section>
    <section class="section-about-dass" id="dass">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="title-sections-text">
              <h3>¿Qué es Jamf?</h3>
              <p>MDM Mobile Device Management o administrador de dispositivos que se define como una solución de administración de Mac, iPad, iPhone y Apple TV para pequeñas, medianas o grandes empresas.</p>
            </div>
            <ul>
              <li><strong>IMAC</strong><img src="../images/products_jamf/servicio_IMAC.png" alt="imac">
                <p>Dispositivos de Escritorio</p>
              </li>
              <li><strong>IPAD</strong><img src="../images/products_jamf/servicio_IPAD.png" alt="ipad">
                <p>Tabletas</p>
              </li>
              <li><strong>MAC</strong><img src="../images/products_jamf/servicio_LAPTOPS.png" alt="mac">
                <p>Laptops Apple</p>
              </li>
              <li><strong>APPLE WATCH</strong><img src="../images/products_jamf/servicio_IPOD.png" alt="ipod">
                <p>Mantente más activo, saludable y conectado</p>
              </li>
              <li><strong>APPLE TV</strong><img src="../images/products_jamf/servicio_TV.png" alt="tv">
                <p>Dispositivos de Televisión</p>
              </li>
              <li><strong>IOS</strong><img src="../images/products_jamf/servicio_iOS.png" alt="ios">
                <p>Desarrollo en el sistema operativo de Apple</p>
              </li>
              <li><strong>APP STORE</strong><img src="../images/products_jamf/servicio_appstore.png" alt="store">
                <p>Accesibilidad e integración de aplicaciones a la tienda de Apple</p>
              </li>
              <li><strong>DEP</strong><img src="../images/products_jamf/servicio_DEP.png" alt="dep">
                <p>Servicio de autoconfiguración de dispositivos.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <div class="flotante"><a class="whitepage" href="../documents/JAMF_Whitepaper.pdf" dowloand target="_blank" title="Descargar white paper"><img src="../images/global/whitepaper.png" alt="big data"></a><a class="caseofuse" href="../documents/Jamf_casos_de_uso.pdf" dowloand target="_blank" title="Descargar casos de uso"><img src="../images/global/casodeuso.png" alt="big data"></a></div>
    <section class="section-implementDass" id="beneficios">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections-text">
              <h3>¿Por qué implementar Jamf?</h3>
              <p>Beneficios:</p>
            </div>
            <ul>
              <li><img src="../images/products_jamf/beneficio_GESTIONDEMAC.png" alt="gmac">
                <p>GESTIÓN DE MAC</p>
              </li>
              <li><img src="../images/products_jamf/beneficio_gestiondemovilidadempresarial.png" alt="movilidad">
                <p>GESTIÓN DE MOVILIDAD EMPRESARIAL</p>
              </li>
              <li><img src="../images/products_jamf/beneficio_educacionremota.png" alt="remota">
                <p>EDUCACIÓN REMOTA</p>
              </li>
              <li><img src="../images/products_jamf/beneficio_educacionaltonivel.png" alt="alto">
                <p>EDUCACIÓN DE ALTO NIVEL</p>
              </li>
              <li><img src="../images/products_jamf/beneficio_CUIDADODESALUD.png" alt="salud">
                <p>CUIDADO DE LA SALUD</p>
              </li>
              <li><img src="../images/products_jamf/beneficio_SERVICIOSDECAMPO.png" alt="campo">
                <p>SERVICIOS DE CAMPO</p>
              </li>
              <li><img src="../images/products_jamf/beneficio_ELECCIONDELEMPLEADO.png" alt="empleado">
                <p>ELECCIÓN DEL EMPLEADO</p>
              </li>
              <li><img src="../images/products_jamf/beneficio_actualizaciondetecnologia.png" alt="tecnologia">
                <p>ACTUALIZACIÓN DE TECNOLOGÍA</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section-subtitle" id="soluciones">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections">
              <h3>Conoce nuestra solución</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-why-dass"><img src="../images/products_jamf/solucion.jpg" alt="solucion conoce">
      <div class="container">
        <div class="row">
          <div class="col-6 bgcircle">
            <p>Dentro de este MDM podrás dar de alta los dispositivos Apple de tu empresa y podrás administralso de forma remota con Jamf.</p>
            <p>Ejecutando actividades como actualizaciones de software, instalación de aplicaciones, configuración de reglas de negocio de uso, borrados remotos, geolocalización del equipo, etc.</p>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/libs/jquery.validate.js"></script>
    <script src="../js/libs/jquery.file.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/sellcom_dass.js"></script>
    <script src="../js/controllers/downloads.js"></script>
    <script src="../js/controllers/form.js"></script>
  </body>
</html>
<script type="text/javascript" src="../js/libs/jquery.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<script type="text/javascript" src="../js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../js/libs/jquery.file.js"></script>
<script type="text/javascript" src="../js/plugins/slick.js"></script>
<script type="text/javascript" src="../js/controllers/sellcom_dass.js"></script>
<script type="text/javascript" src="../js/controllers/downloads.js"></script>
<script type="text/javascript" src="../js/controllers/form.js"></script>

src/html/sections/jamf.pug
//-Configuración y variables globales del proyecto
include ../config/_variables
//-
	Ajustes de la configuración global para esta sección
- global_path = '../'
//-
	Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
	Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Jamf'
- metadata['description'] = 'Ahora costos con las soluciones de Jamf; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Jamf, bajo demanda, on demand, soluciones Jamf'
- var landing = 'jamf'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_jamf + 'bannerprincipal.jpg'
//- Servicios
- local.images['imac'] = global_path + images.products_jamf + 'servicio_IMAC.png'
- local.images['ipad'] = global_path + images.products_jamf + 'servicio_IPAD.png'
- local.images['mac'] = global_path + images.products_jamf + 'servicio_LAPTOPS.png'
- local.images['ipod'] = global_path + images.products_jamf + 'servicio_IPOD.png'
- local.images['tv'] = global_path + images.products_jamf + 'servicio_TV.png'
- local.images['ios'] = global_path + images.products_jamf + 'servicio_iOS.png'
- local.images['store'] = global_path + images.products_jamf + 'servicio_appstore.png'
- local.images['dep'] = global_path + images.products_jamf + 'servicio_DEP.png'
//- Beneficios
- local.images['gmac'] = global_path + images.products_jamf + 'beneficio_GESTIONDEMAC.png'
- local.images['movilidad'] = global_path + images.products_jamf + 'beneficio_gestiondemovilidadempresarial.png'
- local.images['remota'] = global_path + images.products_jamf + 'beneficio_educacionremota.png'
- local.images['alto'] = global_path + images.products_jamf + 'beneficio_educacionaltonivel.png'
- local.images['salud'] = global_path + images.products_jamf + 'beneficio_CUIDADODESALUD.png'
- local.images['campo'] = global_path + images.products_jamf + 'beneficio_SERVICIOSDECAMPO.png'
- local.images['empleado'] = global_path + images.products_jamf + 'beneficio_ELECCIONDELEMPLEADO.png'
- local.images['tecnologia'] = global_path + images.products_jamf + 'beneficio_actualizaciondetecnologia.png'
- local.images['solucion'] = global_path + images.products_jamf + 'solucion.jpg'
- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'

//- Documentos
- local['documents'] = {}
- local.documents['jamfwhitepaper'] = global_path + documents.base + 'JAMF_Whitepaper.pdf'
- local.documents['jamfcasosuso'] = global_path + documents.base + 'Jamf_casos_de_uso.pdf'

doctype html
html(lang=site.lang)
	include ../template/_head
	body
		include ../template/_header
		// section.section-banner-dass
			img.banner(src=local.images.banner, alt="banner")
			.container
				.content
					br
					.title-sections
						h1 Administrador de Dispositivos Móviles Jamf
					p Sellcom distribuidor corporativo de Jamf en México
					section.section-video-dass
		section.section-video-dass
			img.banner(src=local.images.banner, alt="banner")
			.boxVideo
				video#secondVideo(autoplay loop muted)
					source(src="../images/video/Jamf_Web_Banner.mp4" type="video/mp4")
			.container
				.content
					br
					.title-sections
						h1 Administrador de Dispositivos Móviles Jamf
					p Sellcom distribuidor corporativo de Jamf en México
		section.section-about-dass#dass
			.container
				.row
					.col-12
						.title-sections-text
							h3 ¿Qué es Jamf?
							p MDM Mobile Device Management o administrador de dispositivos que se define como una solución de administración de Mac, iPad, iPhone y Apple TV para pequeñas, medianas o grandes empresas.
						ul
							li
								strong IMAC
								img(src=local.images.imac, alt="imac")
								p Dispositivos de Escritorio
							li
								strong IPAD
								img(src=local.images.ipad, alt="ipad")
								p Tabletas
							li
								strong MAC
								img(src=local.images.mac, alt="mac")
								p Laptops Apple
							li
								strong APPLE WATCH
								img(src=local.images.ipod, alt="ipod")
								p Mantente más activo, saludable y conectado
							li
								strong APPLE TV
								img(src=local.images.tv, alt="tv")
								p Dispositivos de Televisión
							li
								strong IOS
								img(src=local.images.ios, alt="ios")
								p Desarrollo en el sistema operativo de Apple
							li
								strong APP STORE
								img(src=local.images.store, alt="store")
								p Accesibilidad e integración de aplicaciones a la tienda de Apple
							li
								strong DEP
								img(src=local.images.dep, alt="dep")
								p Servicio de autoconfiguración de dispositivos.
		.flotante
			a.whitepage(href=local.documents.jamfwhitepaper dowloand target='_blank' title='Descargar white paper')
				img(src=local.images.whitepaper, alt="big data" )
			a.caseofuse(href=local.documents.jamfcasosuso dowloand target='_blank' title='Descargar casos de uso')
				img(src=local.images.casodeuso, alt="big data")
		section.section-implementDass#beneficios
			.container
				.row
					.col-10.middle
						.title-sections-text
							h3 ¿Por qué implementar Jamf?
							p Beneficios:
						ul
							li
								img(src=local.images.gmac, alt="gmac")
								p GESTIÓN DE MAC
							li
								img(src=local.images.movilidad, alt="movilidad")
								p GESTIÓN DE MOVILIDAD EMPRESARIAL
							li
								img(src=local.images.remota, alt="remota")
								p EDUCACIÓN REMOTA
							li
								img(src=local.images.alto, alt="alto")
								p EDUCACIÓN DE ALTO NIVEL
							li
								img(src=local.images.salud, alt="salud")
								p CUIDADO DE LA SALUD
							li
								img(src=local.images.campo, alt="campo")
								p SERVICIOS DE CAMPO
							li
								img(src=local.images.empleado, alt="empleado")
								p ELECCIÓN DEL EMPLEADO
							li
								img(src=local.images.tecnologia, alt="tecnologia")
								p ACTUALIZACIÓN DE TECNOLOGÍA
		section.section-subtitle#soluciones
			.container
				.row
					.col-10.middle
						.title-sections
							h3 Conoce nuestra solución
		section.section-why-dass
			img(src=local.images.solucion, alt="solucion conoce")
			.container
				.row
					.col-6.bgcircle
						p Dentro de este MDM podrás dar de alta los dispositivos Apple de tu empresa y podrás administralso de forma remota con Jamf.
						p Ejecutando actividades como actualizaciones de software, instalación de aplicaciones, configuración de reglas de negocio de uso, borrados remotos, geolocalización del equipo, etc.
		include ../template/_footer
		if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
		script(type="text/javascript" src=section_scripts[current_profile][i])
