dist/dev/sections/mesa-servicio.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Mesa de servicio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Llegó la era de la Mesa de servicio; una solución que simplifica las operaciones en TI con una sola plataforma. ¡La tecnología que tu empresa necesita!">
    <meta name="keywords" content="Sellcom, Mesa de servicio, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-banner-dass"><img class="banner" src="../images/solutions_mesa/bannerprincipal.jpg" alt="Mesa de servicio">
      <div class="container">
        <div class="content">
          <div class="title-sections">
            <h1>Mesa de Servicios Tecnológica</h1>
          </div>
          <p>Administramos tu mesa de servicio de forma eficiente y eficaz.</p>
        </div>
      </div>
    </section>
    <section class="anchors">
      <div class="container">
        <div class="row">
          <div class="col-10 middle"> 
            <ul id="submenu">
              <li><a href="#device">
                  <p>Conoce nuestra soluci&oacute;n</p></a></li>
              <li><a href="#howitworks">
                  <p>¿C&oacute;mo funciona?</p></a></li>
              <li><a href="#whydaas">
                  <p>¿Por qu&eacute; implementar Mesa de servicio?</p></a></li>
              <li><a href="#toolsdaas">
                  <p>Herramientas</p></a></li>
              <li><a href="#weareexperts">
                  <p>Socios</p></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="device-text-one" id="device">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6 txt-justify">
                <h2>¿Qué es Mesa de servicio?</h2>
                <p>Conjunto de colaboradores especializados y certificados con acceso a las herramientas adecuadas para el funcionamiento de tu mesa de servicios.</p>
                <p>La solución permite el control de las peticiones de tus usuarios finales y el seguimiento de todo el ciclo de vida de la petición hasta su resolución en primer, segundo o tercer nivel, todo registrando mediante herramientas de gestión de tickets, llamadas y reporteo especializado.</p>
              </div>
              <div class="col-6"><img src="../images/solutions_mesa/sellcom-devicedass-service.jpg" alt="Devices As a Service"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="how-it-works" id="howitworks">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <h2>¿C&oacute;mo funciona?</h2>
            <p>El flujo de la mesa de servicios es el que a continuación se menciona.</p>
            <ul>
              <li> 
                <p><strong>Levantamiento de tickets</strong> <span>por medio de llamada, correo, herramienta y /o autoservicio.</span></p>
              </li>
              <li>
                <p><strong>Registro, asignación, categorización, priorización de los tickets</strong> <span> </span></p>
              </li>
              <li>
                <p><strong>Seguimiento a resolución</strong> <span> </span></p>
              </li>
              <li> 
                <p><strong>Cierre y encuestas de satisfacción</strong><span> </span></p>
              </li>
              <li>
                <p><strong>Envió de métricas y reportes</strong> <span> </span></p>
              </li>
              <li>
                <p><strong>Cumplimiento de niveles de servicio</strong> <span> </span></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="why-daas" id="whydaas">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <h2>¿Por qu&eacute; implementar Mesa de servicio?</h2>
            <p>La delegación de la mesa de servicios te permitirá ahorrar costos de administración e incrementara calidad de tu servicio.</p>
            <ul>
              <li><img src="../images/solutions_mesa/icon_controldenivelesdeservicio.png" alt="Soporte global ">
                <p>Control de niveles de servicio.</p>
              </li>
              <li><img src="../images/solutions_mesa/icon_homologaciondeejecuciondeprocesos.png" alt="Protección contra daños">
                <p>Homologación de ejecución de procesos.</p>
              </li>
              <li><img src="../images/solutions_mesa/icon_controlenladistribuciondeactividades.png" alt="Servicios de reparación">
                <p>Control en la distribución de actividades.</p>
              </li>
              <li><img src="../images/solutions_mesa/icon_disponibilidad.png" alt="Servicios de reparación">
                <p>Disponibilidad 7/24</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="tools-daas" id="toolsdaas">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <h2>Herramientas</h2>
            <p> </p>
            <ul class="row">
              <li class="col-4">
                <div class="img-tools"><img src="../images/solutions_mesa/herramienta1.jpg" alt="Asset Management"></div>
                <div class="description-tools">
                  <h3>IVR de control de llamadas y designación de canales de atención.</h3>
                  <p> </p>
                </div>
              </li>
              <li class="col-4">
                <div class="img-tools"><img src="../images/solutions_mesa/herramienta2.jpg" alt="Software Delivery"></div>
                <div class="description-tools">
                  <h3>Portal de gestión de tickets para el cumplimiento del proceso y documentación de las peticiones.</h3>
                  <p> </p>
                </div>
              </li>
              <li class="col-4">
                <div class="img-tools"><img src="../images/solutions_mesa/herramienta3.jpg" alt="Software Metrix"></div>
                <div class="description-tools">
                  <h3>Herramienta de analítica de información (BI).</h3>
                  <p> </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="we-are-experts" id="weareexperts">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <h2>Somos expertos en la gestión de mesas de servicios</h2>
            <p> colaborando con los líderes como son:</p>
            <ul class="row">
              <li class="col-4"><a href="https://www.apple.com/mx/" target="_blank"><img src="../images/solutions_mesa/logo_apple.png" alt="Apple"></a></li>
              <li class="col-4"><a href="https://arandasoft.com/" target="_blank"><img src="../images/solutions_mesa/logo_aranda.png" alt="Aranda"></a></li>
              <li class="col-4"><a href="#" target="_blank"><img src="../images/solutions_mesa/logo_ivr.png" alt="IVR"></a></li>
              <li class="col-4"><a href="https://www.qlik.com/us" target="_blank"><img src="../images/solutions_mesa/logo_qlik.png" alt="Qlik"></a></li>
              <li class="col-4"><a href="https://www.servicenow.com/" target="_blank"><img src="../images/solutions_mesa/logo_servicenow.png" alt="Servicenow"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/Sellcom.js"></script>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/global/global.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/products_daas.js"></script>
    <script src="../js/plugins/addthis_widget.js"></script>
  </body>
</html>

src/html/sections/mesa-servicio.pug

include ../config/_variables
- global_path = '../'
- current_profile = CONST_DEV_PROFILE
- var page = 'Sellcom Mesa de servicio'
- var metadata = {}
- metadata['title'] = 'Sellcom - Mesa de servicio'
- metadata['description'] = 'Llegó la era de la Mesa de servicio; una solución que simplifica las operaciones en TI con una sola plataforma. ¡La tecnología que tu empresa necesita!'
- metadata['keywords'] = 'Sellcom, Mesa de servicio, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud'

- var section_scripts =  {} 
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.base + 'Sellcom.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.global + 'global.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers+ 'products_daas.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'addthis_widget.js')
- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.base + 'Sellcom.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.global + 'global.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'products_daas.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'addthis_widget.min.js')

- var local_images = {}
- local_images['images'] = {}
- local_images.images['banner'] = global_path +  images.solutions_mesa + 'bannerprincipal.jpg'
- local_images.images['daas_one'] = global_path +  images.solutions_mesa + 'sellcom-devicedass-service.jpg'

- local_images.images['herramienta1'] = global_path + images.solutions_mesa + 'herramienta1.jpg'
- local_images.images['herramienta2'] = global_path + images.solutions_mesa + 'herramienta2.jpg'
- local_images.images['herramienta3'] = global_path + images.solutions_mesa + 'herramienta3.jpg'

- local_images.images['icon_nivelesdeservicio'] = global_path + images.solutions_mesa + 'icon_controldenivelesdeservicio.png'
- local_images.images['icon_distribuciondeactividades'] = global_path + images.solutions_mesa + 'icon_controlenladistribuciondeactividades.png'
- local_images.images['icon_disponibilidad'] = global_path + images.solutions_mesa + 'icon_disponibilidad.png'
- local_images.images['icon_homologacion'] = global_path + images.solutions_mesa + 'icon_homologaciondeejecuciondeprocesos.png'

- local_images.images['logo_apple'] = global_path + images.solutions_mesa + 'logo_apple.png'
- local_images.images['logo_aranda'] = global_path + images.solutions_mesa + 'logo_aranda.png'
- local_images.images['logo_ivr'] = global_path + images.solutions_mesa + 'logo_ivr.png'
- local_images.images['logo_qlik'] = global_path + images.solutions_mesa + 'logo_qlik.png'
- local_images.images['logo_servicenow'] = global_path + images.solutions_mesa + 'logo_servicenow.png'


doctype html
html(lang=site.lang)
  include ../template/_head
  body
    include ../template/_header
    section.section-banner-dass
      img.banner(src=local_images.images.banner alt='Mesa de servicio')
      .container
        .content
          .title-sections
            h1 Mesa de Servicios Tecnológica
          p Administramos tu mesa de servicio de forma eficiente y eficaz.
    section.anchors
      .container
        .row
          .col-10.middle 
             ul#submenu
                li
                  a(href='#device') #[p Conoce nuestra soluci&oacute;n]
                li
                  a(href='#howitworks') #[p ¿C&oacute;mo funciona?]
                li
                  a(href='#whydaas') #[p ¿Por qu&eacute; implementar Mesa de servicio?]
                li
                  a(href='#toolsdaas') #[p Herramientas]
                li
                 a(href='#weareexperts') #[p Socios]
    section.device-text-one#device
      .container
        .row
          .col-10.middle
            .row
              .col-6.txt-justify
                h2 ¿Qué es Mesa de servicio?
                p Conjunto de colaboradores especializados y certificados con acceso a las herramientas adecuadas para el funcionamiento de tu mesa de servicios.
                p La solución permite el control de las peticiones de tus usuarios finales y el seguimiento de todo el ciclo de vida de la petición hasta su resolución en primer, segundo o tercer nivel, todo registrando mediante herramientas de gestión de tickets, llamadas y reporteo especializado.
              .col-6
                img(src=local_images.images.daas_one alt='Devices As a Service')
    section.how-it-works#howitworks
      .container
        .row
          .col-10.middle
            h2 ¿C&oacute;mo funciona?
            p El flujo de la mesa de servicios es el que a continuación se menciona.
            ul
              li 
                p #[strong Levantamiento de tickets] 
                  span por medio de llamada, correo, herramienta y /o autoservicio.
              li
                p #[strong Registro, asignación, categorización, priorización de los tickets] 
                  span 
              li
                p #[strong Seguimiento a resolución] 
                  span 
              li 
                p #[strong Cierre y encuestas de satisfacción]
                  span 
              li
                p #[strong Envió de métricas y reportes] 
                  span 
              li
                p #[strong Cumplimiento de niveles de servicio] 
                  span 
    section.why-daas#whydaas
      .container
        .row
          .col-10.middle
            h2 ¿Por qu&eacute; implementar Mesa de servicio?
            p La delegación de la mesa de servicios te permitirá ahorrar costos de administración e incrementara calidad de tu servicio.
            ul
              li
                img(src=local_images.images.icon_nivelesdeservicio alt='Soporte global ')
                p Control de niveles de servicio.
              li
                img(src=local_images.images.icon_homologacion alt='Protección contra daños')
                p Homologación de ejecución de procesos.
              li
                img(src=local_images.images.icon_distribuciondeactividades alt='Servicios de reparación')
                p Control en la distribución de actividades.
              li
                img(src=local_images.images.icon_disponibilidad alt='Servicios de reparación')
                p Disponibilidad 7/24
    section.tools-daas#toolsdaas
      .container
        .row
          .col-10.middle
            h2 Herramientas
            p 
            ul.row
              li.col-4
                .img-tools
                  img(src=local_images.images.herramienta1 alt='Asset Management')
                .description-tools
                  h3 IVR de control de llamadas y designación de canales de atención.
                  p 
              li.col-4
                .img-tools
                  img(src=local_images.images.herramienta2 alt='Software Delivery')
                .description-tools
                  h3 Portal de gestión de tickets para el cumplimiento del proceso y documentación de las peticiones.
                  p 
              li.col-4
                .img-tools
                  img(src=local_images.images.herramienta3 alt='Software Metrix')
                .description-tools
                  h3 Herramienta de analítica de información (BI).
                  p 
    section.we-are-experts#weareexperts
      .container
        .row
          .col-10.middle
            h2 Somos expertos en la gestión de mesas de servicios
            p  colaborando con los líderes como son:
            ul.row
              li.col-4
                a(href="https://www.apple.com/mx/" target="_blank") #[img(src=local_images.images.logo_apple alt='Apple')]
              li.col-4
                a(href="https://arandasoft.com/" target="_blank") #[img(src=local_images.images.logo_aranda alt='Aranda')]
              li.col-4
                a(href="#" target="_blank") #[img(src=local_images.images.logo_ivr alt='IVR')]
              li.col-4
                a(href="https://www.qlik.com/us" target="_blank") #[img(src=local_images.images.logo_qlik alt='Qlik')]
              li.col-4
                a(href="https://www.servicenow.com/" target="_blank") #[img(src=local_images.images.logo_servicenow alt='Servicenow')]
    include ../template/_footer    
