src/html/sections/mfdevops.pug
//-Configuración y variables globales del proyecto
include ../config/_variables
//-
	Ajustes de la configuración global para esta sección
- global_path = '../'
//-
	Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
	Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Microfocus Devops'
- metadata['description'] = 'Ahora costos con las soluciones de Microfocus Devops; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Microfocus Devops, bajo demanda, on demand, soluciones Microfocus Devops'
- var landing = 'mfdevops'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_mfdevops + 'bannerprincipal.jpg'
//- Servicios
- local.images['calidad'] = global_path + images.products_mfdevops + 'servicio_ALMOCTANE.png'
- local.images['funcionales'] = global_path + images.products_mfdevops + 'servicio_productosdeDEVOPS.png'
- local.images['carga'] = global_path + images.products_mfdevops + 'servicio_stomrunnerfunctional.png'
- local.images['extremo'] = global_path + images.products_mfdevops + 'servicio_apppulsesuite.png'
- local.images['integracion'] = global_path + images.products_mfdevops + 'servicio_stomrunnerload.png'
- local.images['unico'] = global_path + images.products_mfdevops + 'servicio_gestiondecalidadmoderna.png'
//- Beneficios
- local.images['codificacion'] = global_path + images.products_mfdevops + 'beneficio_facilcodificacion.png'
- local.images['pruebas'] = global_path + images.products_mfdevops + 'beneficio_pruebasseguraspsd.png'
- local.images['libre'] = global_path + images.products_mfdevops + 'beneficio_libretransicion.png'
- local.images['homologacion'] = global_path + images.products_mfdevops + 'beneficio_homologacionderegistro.png'

- local.images['solucion'] = global_path + images.products_mfdevops + 'solucion.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Microfocus_Devops_Whithepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'MICROFOCUS_Caso_de _uso.pdf'

doctype html
html(lang=site.lang)
	include ../template/_head
	body
		include ../template/_header
		section.section-banner-dass
			img.banner(src=local.images.banner, alt="banner")
			.container
				.content
					br
					.title-sections
						h1 Microfocus DEVOPS
					p Plataforma de gestión ágil de software
		section.section-about-dass#dass
			.container
				.row
					.col-12
						.title-sections-text
							h3 ¿Qué es Microfocus Devops?
							p Rompa las barreras. Olvide los silos y cree mejor software y más rápido.
						ul
							li
								strong Gestión de calidad moderna
								img(src=local.images.calidad, alt="calidad")
								p Use ALM Octane para capturar y desarrollar los requisitos de cualquier proyecto.
							li
								strong Pruebas funcionales inteligentes y continuas
								img(src=local.images.funcionales, alt="funcionales")
								p StormRunner Functional le permite probar aplicaciones web y móviles en cualquier entorno.
							li
								strong Pruebas de carga sencillas, inteligentes y escalables
								img(src=local.images.carga, alt="carga")
								p Diseñe pruebas de carga en cuestión de minutos con StormRunner Load.
							li
								strong Supervisión de extremo a extremo
								img(src=local.images.extremo, alt="extremo")
								p AppPulse Suite es una solución integrada que proporciona a los equipos de Agile y DevOps supervisión sintética.
							li
								strong Integración
								img(src=local.images.integracion, alt="integracion")
								p Cada uno de los productos de DevOps Suite se integra con su ecosistema de entrega de software.
							li
								strong Un único sistema de registro
								img(src=local.images.unico, alt="unico")
								p La información de los productos de DevOps Suite se resume en ALM Octane.
		.flotante
			a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
				img(src=local.images.whitepaper, alt="big data" )
			a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
				img(src=local.images.casodeuso, alt="big data")
		section.section-implementDass#beneficios
			.container
				.row
					.col-10.middle
						.title-sections-text
							h3 ¿Por qué implementar Microfocus Devops?
							p Beneficios:
						ul
							li
								img(src=local.images.codificacion, alt="codificacion")
								p FACIL CODIFICACIÓN
							li
								img(src=local.images.pruebas, alt="pruebas")
								p PRUEBAS SEGURAS
							li
								img(src=local.images.libre, alt="libre")
								p LIBRE TRANSICIÓN
							li
								img(src=local.images.homologacion, alt="homologacion")
								p HOMOLOGACIÓN DE REGISTRO
		section.section-subtitle#soluciones
			.container
				.row
					.col-10.middle
						.title-sections
							h3 Conoce nuestra solución
		section.section-why-dass
			img(src=local.images.solucion, alt="solucion conoce")
			.container
				.row
					.col-6.bgcircle
						p Las herramientas que sus equipos de Agile y DevOps necesitan para controlar, probar y monitorizar el software, con una experiencia de usuario excepcional.
						p 
		include ../template/_footer
		if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
		script(type="text/javascript" src=section_scripts[current_profile][i])

dist/dev/sections/mfdevops.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Microfocus Devops</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Ahora costos con las soluciones de Microfocus Devops; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!">
    <meta name="keywords" content="Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Microfocus Devops, bajo demanda, on demand, soluciones Microfocus Devops">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-banner-dass"><img class="banner" src="../images/products_mfdevops/bannerprincipal.jpg" alt="banner">
      <div class="container">
        <div class="content"><br>
          <div class="title-sections">
            <h1>Microfocus DEVOPS</h1>
          </div>
          <p>Plataforma de gestión ágil de software</p>
        </div>
      </div>
    </section>
    <section class="section-about-dass" id="dass">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="title-sections-text">
              <h3>¿Qué es Microfocus Devops?</h3>
              <p>Rompa las barreras. Olvide los silos y cree mejor software y más rápido.</p>
            </div>
            <ul>
              <li><strong>Gestión de calidad moderna</strong><img src="../images/products_mfdevops/servicio_ALMOCTANE.png" alt="calidad">
                <p>Use ALM Octane para capturar y desarrollar los requisitos de cualquier proyecto.</p>
              </li>
              <li><strong>Pruebas funcionales inteligentes y continuas</strong><img src="../images/products_mfdevops/servicio_productosdeDEVOPS.png" alt="funcionales">
                <p>StormRunner Functional le permite probar aplicaciones web y móviles en cualquier entorno.</p>
              </li>
              <li><strong>Pruebas de carga sencillas, inteligentes y escalables</strong><img src="../images/products_mfdevops/servicio_stomrunnerfunctional.png" alt="carga">
                <p>Diseñe pruebas de carga en cuestión de minutos con StormRunner Load.</p>
              </li>
              <li><strong>Supervisión de extremo a extremo</strong><img src="../images/products_mfdevops/servicio_apppulsesuite.png" alt="extremo">
                <p>AppPulse Suite es una solución integrada que proporciona a los equipos de Agile y DevOps supervisión sintética.</p>
              </li>
              <li><strong>Integración</strong><img src="../images/products_mfdevops/servicio_stomrunnerload.png" alt="integracion">
                <p>Cada uno de los productos de DevOps Suite se integra con su ecosistema de entrega de software.</p>
              </li>
              <li><strong>Un único sistema de registro</strong><img src="../images/products_mfdevops/servicio_gestiondecalidadmoderna.png" alt="unico">
                <p>La información de los productos de DevOps Suite se resume en ALM Octane.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <div class="flotante"><a class="whitepage" href="../documents/Microfocus_Devops_Whithepaper.pdf" dowloand target="_blank" title="Descargar white paper"><img src="../images/global/whitepaper.png" alt="big data"></a><a class="caseofuse" href="../documents/MICROFOCUS_Caso_de _uso.pdf" dowloand target="_blank" title="Descargar casos de uso"><img src="../images/global/casodeuso.png" alt="big data"></a></div>
    <section class="section-implementDass" id="beneficios">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections-text">
              <h3>¿Por qué implementar Microfocus Devops?</h3>
              <p>Beneficios:</p>
            </div>
            <ul>
              <li><img src="../images/products_mfdevops/beneficio_facilcodificacion.png" alt="codificacion">
                <p>FACIL CODIFICACIÓN</p>
              </li>
              <li><img src="../images/products_mfdevops/beneficio_pruebasseguraspsd.png" alt="pruebas">
                <p>PRUEBAS SEGURAS</p>
              </li>
              <li><img src="../images/products_mfdevops/beneficio_libretransicion.png" alt="libre">
                <p>LIBRE TRANSICIÓN</p>
              </li>
              <li><img src="../images/products_mfdevops/beneficio_homologacionderegistro.png" alt="homologacion">
                <p>HOMOLOGACIÓN DE REGISTRO</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section-subtitle" id="soluciones">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections">
              <h3>Conoce nuestra solución</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-why-dass"><img src="../images/products_mfdevops/solucion.jpg" alt="solucion conoce">
      <div class="container">
        <div class="row">
          <div class="col-6 bgcircle">
            <p>Las herramientas que sus equipos de Agile y DevOps necesitan para controlar, probar y monitorizar el software, con una experiencia de usuario excepcional.</p>
            <p> </p>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/libs/jquery.validate.js"></script>
    <script src="../js/libs/jquery.file.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/sellcom_dass.js"></script>
    <script src="../js/controllers/downloads.js"></script>
    <script src="../js/controllers/form.js"></script>
  </body>
</html>
<script type="text/javascript" src="../js/libs/jquery.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<script type="text/javascript" src="../js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../js/libs/jquery.file.js"></script>
<script type="text/javascript" src="../js/plugins/slick.js"></script>
<script type="text/javascript" src="../js/controllers/sellcom_dass.js"></script>
<script type="text/javascript" src="../js/controllers/downloads.js"></script>
<script type="text/javascript" src="../js/controllers/form.js"></script>
