src/html/sections/mfitom.pug
//-Configuración y variables globales del proyecto
include ../config/_variables
//-
	Ajustes de la configuración global para esta sección
- global_path = '../'
//-
	Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
	Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Microfocus ITOM'
- metadata['description'] = 'Ahora costos con las soluciones de Microfocus ITOM; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Microfocus ITOM, bajo demanda, on demand, soluciones Microfocus ITOM'
- var landing = 'mfitom'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_mfitom + 'bannerprincipal.jpg'
//- Servicios
- local.images['nube'] = global_path + images.products_mfitom + 'servicio_nubeDEVOPS.png'
- local.images['bridge'] = global_path + images.products_mfitom + 'servicio_datacenter.png'
- local.images['automation'] = global_path + images.products_mfitom + 'servicio_automatizaciondelagestionpsd.png'
- local.images['servicios'] = global_path + images.products_mfitom + 'servicio_TI-hibrida.png'
- local.images['red'] = global_path + images.products_mfitom + 'servicio_gestiondeoperacionesenred.png'
- local.images['proteccion'] = global_path + images.products_mfitom + 'servicio_protecciondedatos.png'
//- Beneficios
- local.images['automatizacion'] = global_path + images.products_mfitom + 'beneficio_automatizacion.png'
- local.images['segumiento'] = global_path + images.products_mfitom + 'beneficio_seguimiento.png'
- local.images['reporteo'] = global_path + images.products_mfitom + 'beneficio_reporteo.png'
- local.images['inovacion'] = global_path + images.products_mfitom + 'beneficio_inovaciondenegocio.png'
- local.images['descubrimiento'] = global_path + images.products_mfitom + 'beneficio_descubrimiento.png'
- local.images['intuitiva'] = global_path + images.products_mfitom + 'beneficio_configuracionintuitiva.png'
- local.images['evolucion'] = global_path + images.products_mfitom + 'beneficio_evolucion.png'
- local.images['ecosistema'] = global_path + images.products_mfitom + 'beneficio_ecosistemadeservicios.png'

- local.images['solucion'] = global_path + images.products_mfitom + 'solucion.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Microfocus_ITOM_Whithepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'MICROFOCUS_Itom_Caso_de_uso.pdf'

doctype html
html(lang=site.lang)
	include ../template/_head
	body
		include ../template/_header
		section.section-banner-dass
			img.banner(src=local.images.banner, alt="banner")
			.container
				.content
					br
					.title-sections
						h1 Microfocus ITOM
					p Plataforma de gestión de operaciones de TI
		section.section-about-dass#dass
			.container
				.row
					.col-12
						.title-sections-text
							h3 ¿Qué es Microfocus ITOM?
							p Ofrecemos la plataforma ITOM que, combinando Container Deployment Foundation, los microservicios y el análisis de Big Data, hace posible el funcionamiento ininterrumpido de la TI moderna.
						ul
							li
								strong Gestión de la nube híbrida
								img(src=local.images.nube, alt="nube")
								p Gestión, orquestación y migración de varias nubes basada en DevOps.
							li
								strong Operations Bridge
								img(src=local.images.bridge, alt="bridge")
								p La primera solución de supervisión autónoma organizada en contenedores.
							li
								strong Data Center Automation
								img(src=local.images.automation, alt="automation")
								p Automatice el aprovisionamiento, la aplicación de revisiones y el cumplimiento de su ecosistema.
							li
								strong Automatización de la gestión de los servicios
								img(src=local.images.servicios, alt="servicios")
								p Una experiencia de usuario final atractiva y una gestión de servicios eficiente.
							li
								strong Gestión de operaciones en red
								img(src=local.images.red, alt="red")
								p Gestione y automatice redes tradicionales, virtuales y definidas por software.
							li
								strong Protección de datos
								img(src=local.images.proteccion, alt="proteccion")
								p Software empresarial de copia de seguridad y recuperación ante desastres.
		.flotante
			a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
				img(src=local.images.whitepaper, alt="big data" )
			a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
				img(src=local.images.casodeuso, alt="big data")
		section.section-implementDass#beneficios
			.container
				.row
					.col-10.middle
						.title-sections-text
							h3 ¿Por qué implementar Microfocus ITOM?
							p Beneficios:
						ul
							li
								img(src=local.images.automatizacion, alt="automatizacion")
								p AUTOMATIZACIÓN
							li
								img(src=local.images.segumiento, alt="segumiento")
								p SEGUIMIENTO
							li
								img(src=local.images.reporteo, alt="reporteo")
								p REPORTEO
							li
								img(src=local.images.inovacion, alt="inovacion")
								p INNOVACIÓN DE NEGOCIO
							li
								img(src=local.images.descubrimiento, alt="descubrimiento")
								p DESCUBRIMIENTO
							li
								img(src=local.images.intuitiva, alt="intuitiva")
								p CONFIGURACIÓN INTUITIVA
							li
								img(src=local.images.evolucion, alt="evolucion")
								p EVOLUCIÓN
							li
								img(src=local.images.ecosistema, alt="ecosistema")
								p ECOSISTEMA DE SERVICIOS
		section.section-subtitle#soluciones
			.container
				.row
					.col-10.middle
						.title-sections
							h3 Conoce nuestra solución
		section.section-why-dass
			img(src=local.images.solucion, alt="solucion conoce")
			.container
				.row
					.col-6.bgcircle
						p Las herramientas de gestión de las operaciones de TI actuales salvan la brecha entre las TI tradicionales, la nueva empresa digital y las nuevas iniciativas comerciales que evolucionan a un ritmo cada vez mayor de una manera directa.
						p Las seis suites ITOM son preceptivas, están integradas y son fáciles de consumir gracias a un esquema simplificado de precios y modelos de licencias.
		include ../template/_footer
		if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
		script(type="text/javascript" src=section_scripts[current_profile][i])

dist/dev/sections/mfitom.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Microfocus ITOM</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Ahora costos con las soluciones de Microfocus ITOM; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!">
    <meta name="keywords" content="Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Microfocus ITOM, bajo demanda, on demand, soluciones Microfocus ITOM">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-banner-dass"><img class="banner" src="../images/products_mfitom/bannerprincipal.jpg" alt="banner">
      <div class="container">
        <div class="content"><br>
          <div class="title-sections">
            <h1>Microfocus ITOM</h1>
          </div>
          <p>Plataforma de gestión de operaciones de TI</p>
        </div>
      </div>
    </section>
    <section class="section-about-dass" id="dass">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="title-sections-text">
              <h3>¿Qué es Microfocus ITOM?</h3>
              <p>Ofrecemos la plataforma ITOM que, combinando Container Deployment Foundation, los microservicios y el análisis de Big Data, hace posible el funcionamiento ininterrumpido de la TI moderna.</p>
            </div>
            <ul>
              <li><strong>Gestión de la nube híbrida</strong><img src="../images/products_mfitom/servicio_nubeDEVOPS.png" alt="nube">
                <p>Gestión, orquestación y migración de varias nubes basada en DevOps.</p>
              </li>
              <li><strong>Operations Bridge</strong><img src="../images/products_mfitom/servicio_datacenter.png" alt="bridge">
                <p>La primera solución de supervisión autónoma organizada en contenedores.</p>
              </li>
              <li><strong>Data Center Automation</strong><img src="../images/products_mfitom/servicio_automatizaciondelagestionpsd.png" alt="automation">
                <p>Automatice el aprovisionamiento, la aplicación de revisiones y el cumplimiento de su ecosistema.</p>
              </li>
              <li><strong>Automatización de la gestión de los servicios</strong><img src="../images/products_mfitom/servicio_TI-hibrida.png" alt="servicios">
                <p>Una experiencia de usuario final atractiva y una gestión de servicios eficiente.</p>
              </li>
              <li><strong>Gestión de operaciones en red</strong><img src="../images/products_mfitom/servicio_gestiondeoperacionesenred.png" alt="red">
                <p>Gestione y automatice redes tradicionales, virtuales y definidas por software.</p>
              </li>
              <li><strong>Protección de datos</strong><img src="../images/products_mfitom/servicio_protecciondedatos.png" alt="proteccion">
                <p>Software empresarial de copia de seguridad y recuperación ante desastres.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <div class="flotante"><a class="whitepage" href="../documents/Microfocus_ITOM_Whithepaper.pdf" dowloand target="_blank" title="Descargar white paper"><img src="../images/global/whitepaper.png" alt="big data"></a><a class="caseofuse" href="../documents/MICROFOCUS_Itom_Caso_de_uso.pdf" dowloand target="_blank" title="Descargar casos de uso"><img src="../images/global/casodeuso.png" alt="big data"></a></div>
    <section class="section-implementDass" id="beneficios">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections-text">
              <h3>¿Por qué implementar Microfocus ITOM?</h3>
              <p>Beneficios:</p>
            </div>
            <ul>
              <li><img src="../images/products_mfitom/beneficio_automatizacion.png" alt="automatizacion">
                <p>AUTOMATIZACIÓN</p>
              </li>
              <li><img src="../images/products_mfitom/beneficio_seguimiento.png" alt="segumiento">
                <p>SEGUIMIENTO</p>
              </li>
              <li><img src="../images/products_mfitom/beneficio_reporteo.png" alt="reporteo">
                <p>REPORTEO</p>
              </li>
              <li><img src="../images/products_mfitom/beneficio_inovaciondenegocio.png" alt="inovacion">
                <p>INNOVACIÓN DE NEGOCIO</p>
              </li>
              <li><img src="../images/products_mfitom/beneficio_descubrimiento.png" alt="descubrimiento">
                <p>DESCUBRIMIENTO</p>
              </li>
              <li><img src="../images/products_mfitom/beneficio_configuracionintuitiva.png" alt="intuitiva">
                <p>CONFIGURACIÓN INTUITIVA</p>
              </li>
              <li><img src="../images/products_mfitom/beneficio_evolucion.png" alt="evolucion">
                <p>EVOLUCIÓN</p>
              </li>
              <li><img src="../images/products_mfitom/beneficio_ecosistemadeservicios.png" alt="ecosistema">
                <p>ECOSISTEMA DE SERVICIOS</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section-subtitle" id="soluciones">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections">
              <h3>Conoce nuestra solución</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-why-dass"><img src="../images/products_mfitom/solucion.jpg" alt="solucion conoce">
      <div class="container">
        <div class="row">
          <div class="col-6 bgcircle">
            <p>Las herramientas de gestión de las operaciones de TI actuales salvan la brecha entre las TI tradicionales, la nueva empresa digital y las nuevas iniciativas comerciales que evolucionan a un ritmo cada vez mayor de una manera directa.</p>
            <p>Las seis suites ITOM son preceptivas, están integradas y son fáciles de consumir gracias a un esquema simplificado de precios y modelos de licencias.</p>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/libs/jquery.validate.js"></script>
    <script src="../js/libs/jquery.file.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/sellcom_dass.js"></script>
    <script src="../js/controllers/downloads.js"></script>
    <script src="../js/controllers/form.js"></script>
  </body>
</html>
<script type="text/javascript" src="../js/libs/jquery.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<script type="text/javascript" src="../js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../js/libs/jquery.file.js"></script>
<script type="text/javascript" src="../js/plugins/slick.js"></script>
<script type="text/javascript" src="../js/controllers/sellcom_dass.js"></script>
<script type="text/javascript" src="../js/controllers/downloads.js"></script>
<script type="text/javascript" src="../js/controllers/form.js"></script>
