src/html/sections/mfvertica.pug
//-Configuración y variables globales del proyecto
include ../config/_variables
//-
	Ajustes de la configuración global para esta sección
- global_path = '../'
//-
	Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
	Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Microfocus Vertica'
- metadata['description'] = 'Ahora costos con las soluciones de Microfocus Vertica; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Microfocus Vertica, bajo demanda, on demand, soluciones Microfocus Vertica'
- var landing = 'mfvertica'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_mfvertica + 'bannerprincipal.jpg'
//- Servicios
- local.images['scalable'] = global_path + images.products_mfvertica + 'servicio_SCALABLE.png'
- local.images['embedded'] = global_path + images.products_mfvertica + 'servicio_embeddedanalytics.png'
- local.images['comunication'] = global_path + images.products_mfvertica + 'servicio_communicationandnetwork.png'
- local.images['cloud'] = global_path + images.products_mfvertica + 'servicio_cloudonpremise.png'
- local.images['fraud'] = global_path + images.products_mfvertica + 'servicio_fraudmonitoring.png'
- local.images['warehouse'] = global_path + images.products_mfvertica + 'servicio_data-warehouse.png'
- local.images['iot'] = global_path + images.products_mfvertica + 'servicio_internetofthings.png'
- local.images['customer'] = global_path + images.products_mfvertica + 'servicio_customerbehavior.png'
//- Beneficios
- local.images['carga'] = global_path + images.products_mfvertica + 'beneficio_cargayconsulta.png'
- local.images['analisis'] = global_path + images.products_mfvertica + 'beneficio_analisisavanzadodelabasededatos.png'
- local.images['gestion'] = global_path + images.products_mfvertica + 'beneficio_herramientasdeadminstracion.png'
- local.images['columnas'] = global_path + images.products_mfvertica + 'beneficio_diseñodecolumnaycompresion.png'
- local.images['arquitectura'] = global_path + images.products_mfvertica + 'beneficio_arquitectura-de-escalado.png'
- local.images['ecosistema'] = global_path + images.products_mfvertica + 'beneficio_funciona-en-su-ecosistema.png'
- local.images['machine'] = global_path + images.products_mfvertica + 'beneficio_machine-learning.png'

- local.images['solucion'] = global_path + images.products_mfvertica + 'solucion.jpg'

doctype html
html(lang=site.lang)
	include ../template/_head
	body
		include ../template/_header
		section.section-banner-dass
			img.banner(src=local.images.banner, alt="banner")
			.container
				.content
					br
					.title-sections
						h1 Vertica Analytics
					p Construido desde de la primera línea de código para el análisis de Big Data
		section.section-about-dass#dass
			.container
				.row
					.col-12
						.title-sections-text
							h3 ¿Qué es Microfocus Vertica?
							p Una estrategia abierta, inteligente e integral para "proteger lo nuevo".
						ul
							li
								strong Embedded Analytics
								img(src=local.images.embedded, alt="embedded")
								p Diseñado específicamente para cargas de trabajo analíticas, con gran velocidad.
							li
								strong Communication and Network Analytics
								img(src=local.images.comunication, alt="comunication")
								p Arquitectura innovadora para el análisis de alta velocidad y rentable de grandes volúmenes de datos de red.
							li
								strong Cloud or On Premise
								img(src=local.images.cloud, alt="cloud")
								p Base de datos analítica más eficaz con una flexibilidad total para las implementaciones en sito.
							li
								strong Scalable, SQL compliant time-series database
								img(src=local.images.scalable, alt="scalable")
								p Conjunto completo de funciones analíticas incorporadas, incluyendo series temporales, geoespaciales, concordancia de patrones y más.
		section.section-about-dass#dass
			.container
				.row
					.col-12
						ul
							li
								strong Internet of Things (IoT) Analytics
								img(src=local.images.iot, alt="iot")
								p Con casos de uso, como el mantenimiento predictivo, la medición inteligente, la telemedicina y los seguros basados en el uso.
							li
								strong Customer Behavior Analytics
								img(src=local.images.customer, alt="customer")
								p Armado con un conocimiento analítico avanzado más profundo, su organización puede finalmente mejorar las experiencias web de los clientes.
							li
								strong Data Warehouse Modernization
								img(src=local.images.warehouse, alt="warehouse")
								p Big Data es combinar lo conocido con lo desconocido para ofrecer valor de formas nunca antes posibles.
							li
								strong Fraud Monitoring and Risk Management
								img(src=local.images.fraud, alt="fraud")
								p Permite que el ecosistema de servicios financieros analice y tome decisiones informadas casi en tiempo real.
		section.section-implementDass#beneficios
			.container
				.row
					.col-10.middle
						.title-sections-text
							h3 ¿Por qué implementar Microfocus Vertica?
							p Beneficios:
						ul
							li
								img(src=local.images.carga, alt="carga")
								p Carga y consulta rápidas
							li
								img(src=local.images.analisis, alt="analisis")
								p Análisis avanzado de la base de datos
							li
								img(src=local.images.gestion, alt="gestion")
								p Herramientas de administración y gestión
							li
								img(src=local.images.columnas, alt="columnas")
								p Diseño de columnas y compresión de datos
							li
								img(src=local.images.arquitectura, alt="arquitectura")
								p Arquitectura de escalado MPP
							li
								img(src=local.images.ecosistema, alt="ecosistema")
								p Funciona en su ecosistema actual
							li
								img(src=local.images.machine, alt="machine")
								p Machine Learning dentro de la base de datos
		section.section-subtitle#soluciones
			.container
				.row
					.col-10.middle
						.title-sections
							h3 Conoce nuestra solución
		section.section-why-dass
			img(src=local.images.solucion, alt="solucion conoce")
			.container
				.row
					.col-6.bgcircle
						p Independientemente del enfoque de su industria o caso de uso, el análisis de Big Data le ayuda a ser más eficiente, aumentar los beneficios y adaptarse mejor a un entorno cambiante.
						p Repleto de potentes funciones para aprovechar el valor de todos sus datos, Vertica es la base de datos analítica SQL de alto rendimiento en la que confían las empresas más punteras basadas en datos para transformar el compromiso de los clientes, la detección de fraudes, el análisis de redes y mucho más.
		include ../template/_footer
		if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
		script(type="text/javascript" src=section_scripts[current_profile][i])

dist/dev/sections/mfvertica.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Microfocus Vertica</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Ahora costos con las soluciones de Microfocus Vertica; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!">
    <meta name="keywords" content="Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Microfocus Vertica, bajo demanda, on demand, soluciones Microfocus Vertica">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-banner-dass"><img class="banner" src="../images/products_mfvertica/bannerprincipal.jpg" alt="banner">
      <div class="container">
        <div class="content"><br>
          <div class="title-sections">
            <h1>Vertica Analytics</h1>
          </div>
          <p>Construido desde de la primera línea de código para el análisis de Big Data</p>
        </div>
      </div>
    </section>
    <section class="section-about-dass" id="dass">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="title-sections-text">
              <h3>¿Qué es Microfocus Vertica?</h3>
              <p>Una estrategia abierta, inteligente e integral para "proteger lo nuevo".</p>
            </div>
            <ul>
              <li><strong>Embedded Analytics</strong><img src="../images/products_mfvertica/servicio_embeddedanalytics.png" alt="embedded">
                <p>Diseñado específicamente para cargas de trabajo analíticas, con gran velocidad.</p>
              </li>
              <li><strong>Communication and Network Analytics</strong><img src="../images/products_mfvertica/servicio_communicationandnetwork.png" alt="comunication">
                <p>Arquitectura innovadora para el análisis de alta velocidad y rentable de grandes volúmenes de datos de red.</p>
              </li>
              <li><strong>Cloud or On Premise</strong><img src="../images/products_mfvertica/servicio_cloudonpremise.png" alt="cloud">
                <p>Base de datos analítica más eficaz con una flexibilidad total para las implementaciones en sito.</p>
              </li>
              <li><strong>Scalable, SQL compliant time-series database</strong><img src="../images/products_mfvertica/servicio_SCALABLE.png" alt="scalable">
                <p>Conjunto completo de funciones analíticas incorporadas, incluyendo series temporales, geoespaciales, concordancia de patrones y más.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section-about-dass" id="dass">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <ul>
              <li><strong>Internet of Things (IoT) Analytics</strong><img src="../images/products_mfvertica/servicio_internetofthings.png" alt="iot">
                <p>Con casos de uso, como el mantenimiento predictivo, la medición inteligente, la telemedicina y los seguros basados en el uso.</p>
              </li>
              <li><strong>Customer Behavior Analytics</strong><img src="../images/products_mfvertica/servicio_customerbehavior.png" alt="customer">
                <p>Armado con un conocimiento analítico avanzado más profundo, su organización puede finalmente mejorar las experiencias web de los clientes.</p>
              </li>
              <li><strong>Data Warehouse Modernization</strong><img src="../images/products_mfvertica/servicio_data-warehouse.png" alt="warehouse">
                <p>Big Data es combinar lo conocido con lo desconocido para ofrecer valor de formas nunca antes posibles.</p>
              </li>
              <li><strong>Fraud Monitoring and Risk Management</strong><img src="../images/products_mfvertica/servicio_fraudmonitoring.png" alt="fraud">
                <p>Permite que el ecosistema de servicios financieros analice y tome decisiones informadas casi en tiempo real.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section-implementDass" id="beneficios">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections-text">
              <h3>¿Por qué implementar Microfocus Vertica?</h3>
              <p>Beneficios:</p>
            </div>
            <ul>
              <li><img src="../images/products_mfvertica/beneficio_cargayconsulta.png" alt="carga">
                <p>Carga y consulta rápidas</p>
              </li>
              <li><img src="../images/products_mfvertica/beneficio_analisisavanzadodelabasededatos.png" alt="analisis">
                <p>Análisis avanzado de la base de datos</p>
              </li>
              <li><img src="../images/products_mfvertica/beneficio_herramientasdeadminstracion.png" alt="gestion">
                <p>Herramientas de administración y gestión</p>
              </li>
              <li><img src="../images/products_mfvertica/beneficio_diseñodecolumnaycompresion.png" alt="columnas">
                <p>Diseño de columnas y compresión de datos</p>
              </li>
              <li><img src="../images/products_mfvertica/beneficio_arquitectura-de-escalado.png" alt="arquitectura">
                <p>Arquitectura de escalado MPP</p>
              </li>
              <li><img src="../images/products_mfvertica/beneficio_funciona-en-su-ecosistema.png" alt="ecosistema">
                <p>Funciona en su ecosistema actual</p>
              </li>
              <li><img src="../images/products_mfvertica/beneficio_machine-learning.png" alt="machine">
                <p>Machine Learning dentro de la base de datos</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section-subtitle" id="soluciones">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections">
              <h3>Conoce nuestra solución</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-why-dass"><img src="../images/products_mfvertica/solucion.jpg" alt="solucion conoce">
      <div class="container">
        <div class="row">
          <div class="col-6 bgcircle">
            <p>Independientemente del enfoque de su industria o caso de uso, el análisis de Big Data le ayuda a ser más eficiente, aumentar los beneficios y adaptarse mejor a un entorno cambiante.</p>
            <p>Repleto de potentes funciones para aprovechar el valor de todos sus datos, Vertica es la base de datos analítica SQL de alto rendimiento en la que confían las empresas más punteras basadas en datos para transformar el compromiso de los clientes, la detección de fraudes, el análisis de redes y mucho más.</p>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/libs/jquery.validate.js"></script>
    <script src="../js/libs/jquery.file.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/sellcom_dass.js"></script>
    <script src="../js/controllers/downloads.js"></script>
    <script src="../js/controllers/form.js"></script>
  </body>
</html>
<script type="text/javascript" src="../js/libs/jquery.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<script type="text/javascript" src="../js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../js/libs/jquery.file.js"></script>
<script type="text/javascript" src="../js/plugins/slick.js"></script>
<script type="text/javascript" src="../js/controllers/sellcom_dass.js"></script>
<script type="text/javascript" src="../js/controllers/downloads.js"></script>
<script type="text/javascript" src="../js/controllers/form.js"></script>
