src/html/sections/microsoft.pug
//-Configuración y variables globales del proyecto
include ../config/_variables
//-
	Ajustes de la configuración global para esta sección
- global_path = '../'
//-
	Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
	Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Microsoft'
- metadata['description'] = 'Ahora costos con las soluciones de Microsoft; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Microsoft, bajo demanda, on demand, soluciones Microsoft'
- var landing = 'microsoft'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_microsoft + 'bannerprincipal.jpg'
//- Servicios
- local.images['office'] = global_path + images.products_microsoft + 'servicio_office 365.png'
- local.images['calendario'] = global_path + images.products_microsoft + 'servicio_agenda.png'
- local.images['nube'] = global_path + images.products_microsoft + 'servicio_almacenamiento.png'
- local.images['proteccion'] = global_path + images.products_microsoft + 'servicio_Malware.png'
- local.images['desarrollo'] = global_path + images.products_microsoft + 'servicio_id programa.png'
//- Beneficios
- local.images['nubes'] = global_path + images.products_microsoft + 'beneficio_nube.png'
- local.images['seguridad'] = global_path + images.products_microsoft + 'beneficio_seguridad.png'
- local.images['innovacion'] = global_path + images.products_microsoft + 'beneficio_innovación.png'
- local.images['colaboracion'] = global_path + images.products_microsoft + 'beneficio_colaboraci0n.png'

- local.images['solucion'] = global_path + images.products_microsoft + 'solucion.jpg'

doctype html
html(lang=site.lang)
	include ../template/_head
	body
		include ../template/_header
		section.section-banner-dass
			img.banner(src=local.images.banner, alt="banner")
			.container
				.content
					br
					.title-sections
						h1 Sistema Operativo y Software Microsoft.
					p Sellcom es partner de Microsoft en México, gigante tecnológico y pionero de tecnología
		section.section-about-dass#dass
			.container
				.row
					.col-12
						.title-sections-text
							h3 ¿Qué es Microsoft?
							p Tenemos acceso a la distribución de todo el catálogo de software de Microsoft en México.a Hiperdisponibilidad es crítica para las empresas de hoy.
						ul
							li
								strong OFFICE 365
								img(src=local.images.office, alt="office")
								p Productividad en todos tus dispositivos y en cualquier lugar.
							li
								strong EMAIL Y CALENDARIO
								img(src=local.images.calendario, alt="calendario")
								p Organiza tu agenda y mantén contacto de forma profesional.
							li
								strong ALMACENAMIENTO EN LA NUBE
								img(src=local.images.nube, alt="nube")
								p En acceso a tu información en cualquier momento.
							li
								strong PROTECCIÓN
								img(src=local.images.proteccion, alt="proteccion")
								p Tus datos están seguros y protegidos ante malware y otros riesgos.
							li
								strong ID´S DE DESARROLLO
								img(src=local.images.desarrollo, alt="desarrollo")
								p Herramientas para la creación de nuevos programas.
		section.section-implementDass#beneficios
			.container
				.row
					.col-10.middle
						.title-sections-text
							h3 ¿Por qué implementar Microsoft?
							p Beneficios:
						ul
							li
								img(src=local.images.nubes, alt="nubes")
								p NUBE
							li
								img(src=local.images.seguridad, alt="seguridad")
								p SEGURIDAD
							li
								img(src=local.images.innovacion, alt="innovacion")
								p INNOVACIÓN
							li
								img(src=local.images.colaboracion, alt="colaboracion")
								p COLABORACIÓN

		section.section-subtitle#soluciones
			.container
				.row
					.col-10.middle
						.title-sections
							h3 Conoce nuestra solución
		section.section-why-dass
			img(src=local.images.solucion, alt="solucion conoce")
			.container
				.row
					.col-6.bgcircle
						p El licenciamiento de Microsoft te permitirá el acceso a las librerías de ofimátca más usadas en el mundo como son Office 365, sistemas de colaboración, sistemas de desarrollo entre otros.
						p 
		include ../template/_footer
		if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
		script(type="text/javascript" src=section_scripts[current_profile][i])

dist/dev/sections/microsoft.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Microsoft</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Ahora costos con las soluciones de Microsoft; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!">
    <meta name="keywords" content="Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Microsoft, bajo demanda, on demand, soluciones Microsoft">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-banner-dass"><img class="banner" src="../images/products_microsoft/bannerprincipal.jpg" alt="banner">
      <div class="container">
        <div class="content"><br>
          <div class="title-sections">
            <h1>Sistema Operativo y Software Microsoft.</h1>
          </div>
          <p>Sellcom es partner de Microsoft en México, gigante tecnológico y pionero de tecnología</p>
        </div>
      </div>
    </section>
    <section class="section-about-dass" id="dass">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="title-sections-text">
              <h3>¿Qué es Microsoft?</h3>
              <p>Tenemos acceso a la distribución de todo el catálogo de software de Microsoft en México.a Hiperdisponibilidad es crítica para las empresas de hoy.</p>
            </div>
            <ul>
              <li><strong>OFFICE 365</strong><img src="../images/products_microsoft/servicio_office 365.png" alt="office">
                <p>Productividad en todos tus dispositivos y en cualquier lugar.</p>
              </li>
              <li><strong>EMAIL Y CALENDARIO</strong><img src="../images/products_microsoft/servicio_agenda.png" alt="calendario">
                <p>Organiza tu agenda y mantén contacto de forma profesional.</p>
              </li>
              <li><strong>ALMACENAMIENTO EN LA NUBE</strong><img src="../images/products_microsoft/servicio_almacenamiento.png" alt="nube">
                <p>En acceso a tu información en cualquier momento.</p>
              </li>
              <li><strong>PROTECCIÓN</strong><img src="../images/products_microsoft/servicio_Malware.png" alt="proteccion">
                <p>Tus datos están seguros y protegidos ante malware y otros riesgos.</p>
              </li>
              <li><strong>ID´S DE DESARROLLO</strong><img src="../images/products_microsoft/servicio_id programa.png" alt="desarrollo">
                <p>Herramientas para la creación de nuevos programas.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section-implementDass" id="beneficios">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections-text">
              <h3>¿Por qué implementar Microsoft?</h3>
              <p>Beneficios:</p>
            </div>
            <ul>
              <li><img src="../images/products_microsoft/beneficio_nube.png" alt="nubes">
                <p>NUBE</p>
              </li>
              <li><img src="../images/products_microsoft/beneficio_seguridad.png" alt="seguridad">
                <p>SEGURIDAD</p>
              </li>
              <li><img src="../images/products_microsoft/beneficio_innovación.png" alt="innovacion">
                <p>INNOVACIÓN</p>
              </li>
              <li><img src="../images/products_microsoft/beneficio_colaboraci0n.png" alt="colaboracion">
                <p>COLABORACIÓN</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section-subtitle" id="soluciones">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections">
              <h3>Conoce nuestra solución</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-why-dass"><img src="../images/products_microsoft/solucion.jpg" alt="solucion conoce">
      <div class="container">
        <div class="row">
          <div class="col-6 bgcircle">
            <p>El licenciamiento de Microsoft te permitirá el acceso a las librerías de ofimátca más usadas en el mundo como son Office 365, sistemas de colaboración, sistemas de desarrollo entre otros.</p>
            <p> </p>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/libs/jquery.validate.js"></script>
    <script src="../js/libs/jquery.file.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/sellcom_dass.js"></script>
    <script src="../js/controllers/downloads.js"></script>
    <script src="../js/controllers/form.js"></script>
  </body>
</html>
<script type="text/javascript" src="../js/libs/jquery.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<script type="text/javascript" src="../js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../js/libs/jquery.file.js"></script>
<script type="text/javascript" src="../js/plugins/slick.js"></script>
<script type="text/javascript" src="../js/controllers/sellcom_dass.js"></script>
<script type="text/javascript" src="../js/controllers/downloads.js"></script>
<script type="text/javascript" src="../js/controllers/form.js"></script>
