src/html/sections/mobility.pug
//-Configuración y variables globales del proyecto
include ../config/_variables
//-
    Ajustes de la configuración global para esta sección
- global_path = '../'
//-
    Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
    Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Mobility'
- metadata['description'] = 'La administración de los recursos tecnológicos de su organización requiere un manejo eficiente para brindar al usuario una respuesta efectiva y calidad en el servicio.'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, plataforma, gestión de datos , Innovación, Empresas, Negocios, migración, base de datos, almacenamiento, Cloud, hibrido, Nube, sistemas,sistema all-flash, NetApp, transformación digital, soluciones NetApp'
- var landing = 'mobility'

- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_huawei + 'bannerprincipal.jpg'
//- Servicios
- local.images['migracion'] = global_path + images.products_netapp + 'servicio_migracion.png'
- local.images['proteccion'] = global_path + images.products_netapp + 'servicio_proteccion.png'
- local.images['datos'] = global_path + images.products_netapp + 'servicio_datos.png'
- local.images['almacenamiento'] = global_path + images.products_netapp + 'servicio_almacenamiento.png'

//- Microsite


//- Beneficios
- local.images['archivos'] = global_path + images.products_netapp + 'beneficio_archivos.png'
- local.images['computacion'] = global_path + images.products_netapp + 'beneficio_computacion.png'
- local.images['nube'] = global_path + images.products_netapp + 'beneficio_nube.png'


- local.images['solucion'] = global_path + images.products_netapp + 'solucion.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Huawei_Whitepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'Huawei_casos_de_uso.pdf'

//- Imagenes del nuevo sitio
- local.images['news'] = global_path + images.products_netapp + 'verticales_soluciones_news.png'
- local.images['seguridad'] = global_path + images.products_netapp + 'verticales_soluciones_seguridad.png'
- local.images['auditoria'] = global_path + images.products_netapp + 'verticales_soluciones_auditoria.png'
- local.images['operacion'] = global_path + images.products_netapp + 'verticales_soluciones_operacion.png'
- local.images['control'] = global_path + images.products_netapp + 'vertical_soluciones_control.png'
- local.images['dispositivo'] = global_path + images.products_netapp + 'vertical_soluciones_dispositivo.png'
- local.images['banner'] = global_path + images.products_netapp + 'vertical_soluciones_banner.png'
- local.images['medio'] = global_path + images.products_netapp + 'vertical_soluciones_medio.png'
- local.images['fondo'] = global_path + images.products_netapp + 'vertical_soluciones_fondo.png'



doctype html
html(lang=site.lang)
    include ../template/_head
    body
        include ../template/_header
        section.section-banner-dass-vertical.mundo
            .banner-vr
                .container
                    .content.algo
                        br
                        .title-sections
                        h1 Mobility & #[span.green En User Computing]
                        P Sus usuarios quieren la flexibilidad de hacer sus trabajos donde quieran y en el dispositivo más productivo posible, ya sea un equipo de escritorio, laptop, tablet o un teléfono inteligente.
                        p Su organización tiene la difícil tarea de satisfacer esas necesidades de los usuarios finales sin violar los protocolos de seguridad de la empresa ni comprometer los datos confidenciales.
        section.section-verticales
            .container.gris
                .row
                    .col-12
                    h1 SOLU#[span.green CIONES]
                    .col-12
                        .col-1
                            p 
                        .col-10.vertical-col
                            .col-4.icon-vertical 
                                img(src=local.images.news, alt="news")
                            .col-6
                                .title-sections.txt-justify
                                    h3 #[strong Gestión de contenidos y datos]
                                    h2 Protegiendo el contenido, sin importar donde viva.
                                    p En la revolución BYOD, las prácticas de gestión de datos y contenidos empresariales a veces pasan a un segundo plano frente a la libertad de elección del usuario final. Pero no tiene por qué ser así.
                                    p En SELLCOM SOLUTIONS, proporcionamos soluciones empresariales capaces de aislar y proteger su contenido sensible, independientemente del dispositivo utilizado para acceder a él. Desde la implementación de soluciones de administración de dispositivos móviles hasta la definición de políticas de BYOD, puede contar con SELLCOM SOLUTIONS para ayudarle a administrar eficazmente y asegurar su contenido propietario, dondequiera que viva
                        .col-1
                            p 
                    .col-12
                        .col-1
                            p
                        .col-10.vertical-col
                            .col-6
                                .title-sections.derecha
                                    h3 #[strong Dispositivos]
                                    h2 Dispositivos. Los empleados los quieren. SELLCOM SOLUTIONS te ayuda a gestionarlos.
                                    p.txt-justify  Hoy en día, tus usuarios quieren ser productivos dondequiera que estén, utilizando una elección de uno o más dispositivos: teléfonos inteligentes, tabletas o portátiles/PCs tradicionales. Quieren que les des este nivel de elección o que usen sus propios dispositivos personales.
                                    p.txt-justify  En lugar de luchar contra la tendencia BYOD, ayudamos a las organizaciones empresariales a adoptarla, al tiempo que protegen sus propios intereses corporativos.
                                    p.txt-justify  La experiencia de SELLCOM SOLUTIONS va desde el refinamiento de la política de BYOD hasta las características del ciclo de vida del dispositivo, incluyendo:
                                    ul.txt-justify 
                                        li • Configuración automatizada de dispositivos, requisición e incorporación de acuerdo con la política corporativa.
                                        li • Gestión global de dispositivos y contenidos.
                                        li • Seguridad de dispositivos, redes y datos.
                                        li • Entrega y/o desarrollo de aplicaciones autorizadas por la empresa.
                                        li • Servicios de geo-localización y funcionalidad de "borrado" remoto.
                            .col-4.icon-vertical 
                                img(src=local.images.seguridad, alt="seguridad")
                        .col-1
                            p
                    .col-12
                        .col-1
                            p
                        .col-10.vertical-col
                            .col-4.icon-vertical 
                                img(src=local.images.auditoria, alt="auditoria")
                            .col-6
                                .title-sections.txt-justify
                                    h3 #[strong Gestión de la identidad, la privacidad y los datos]
                                    h2 ¿Cómo se protegen los datos en los dispositivos móviles que pueden estar en cualquier lugar?
                                    p La libertad de movimiento y acceso es la piedra angular de la transformación de los dispositivos personales. Pero también puede ser el talón de Aquiles del entorno corporativo actual.
                                    p ¿Cómo se protegen los datos corporativos confidenciales a los que se accede desde teléfonos inteligentes o tabletas? SELLCOM SOLUTIONS trabaja contigo para equipar los dispositivos de los empleados con los niveles adecuados de encriptación de datos/dispositivos. Desde los mecanismos de inicio de sesión único a los borrados de datos remotos, puedes contar con SELLCOM SOLUTIONS para ayudarte a entender los matices de cada dispositivo y las mejores maneras de proteger la información que está en él.
                        .col-1
                            p 
                    .col-12
                        .col-1
                            p
                        .col-10.vertical-col
                            .col-6
                                .title-sections.derecha
                                    h3 #[strong Internet de las cosas]
                                    h2 ¿Está su empresa preparada para la IO?
                                    p.txt-justify Los dispositivos inteligentes, los sensores y las aplicaciones de monitorización se han convertido en los emisores y receptores de una avalancha de datos. Y estamos justo al comienzo de la revolución de la Internet de las Cosas (IO).
                                    p.txt-justify SELLCOM SOLUTIONS puede ayudar a su organización a cosechar los beneficios potenciales de la IO mientras la protege de nuevos riesgos.
                                    p #[strong Cosechando nuevos conocimientos.]
                                    p.txt-justify SELLCOM SOLUTIONS puede ayudar a las organizaciones a identificar, implementar y beneficiarse de los proyectos de IO.
                                    p.txt-justify Esto incluye aplicaciones que recopilan y aprovechan grandes datos para ofrecer conocimientos sobre sus operaciones y los hábitos de sus clientes.
                                    p #[strong Monitoreo y reporte global.]
                                    p.txt-justify SELLCOM SOLUTIONS ayuda a las organizaciones a implementar o desplegar aplicaciones basadas en la IO que monitorean más de cerca e informan sobre los comportamientos basados en la identidad de los empleados, especialmente cuando difieren de las políticas corporativas preestablecidas.
                                    p.txt-justify Esto puede abarcar a los empleados que acceden a los recursos corporativos desde uno o más dispositivos.
                                    p #[strong Reducir el riesgo de violación de la seguridad.]
                                    p.txt-justify Los usuarios finales y los entornos de trabajo que utilizan dispositivos habilitados para la IO pueden estar introduciendo inadvertidamente un riesgo añadido para la organización. Esto podría venir en forma de datos de IoT que pasan a través de los "espacios protegidos" de la empresa. Dependiendo del tipo de aplicación o dispositivo en uso, esto podría incluir las redes corporativas que ahora corren un mayor riesgo de ataque o violación de datos de una fuente de IO previamente desconocida.
                            .col-4.icon-vertical 
                                img(src=local.images.operacion, alt="operacion")
                        .col-1
                            p 
                    .col-12
                        .col-1
                            p
                        .col-10.vertical-col
                            .col-4.icon-vertical 
                                img(src=local.images.control, alt="control")
                            .col-6
                                .title-sections.txt-justify
                                    h3 #[strong Servicios de Localización]
                                    h2 Son las 10 p.m. ¿Sabes dónde están tus dispositivos? 
                                    p Los usuarios tienen ahora la opción de usar sus dispositivos donde y cuando quieran. Sin embargo, eso puede ser tanto una bendición como una maldición. Cuando los dispositivos son robados o desaparecen, ¿qué sucede con los datos corporativos sensibles que podrían estar almacenados en ellos?
                                    p Afortunadamente, la experiencia de SELLCOM SOLUTIONS con las principales plataformas de protección de dispositivos y de gestión de dispositivos móviles puede ayudarle a proteger lo que hay en los dispositivos de los usuarios, rastrear su paradero, e incluso realizar un "borrado remoto" de los contenidos, si es necesario.
                        .col-1
                            p
                    .col-12
                        .col-1
                            p
                        .col-10.vertical-col
                            .col-6
                                .title-sections.derecha
                                    h3 #[strong Desarrollo de aplicaciones móviles]
                                    h2 ¿Quién tiene el tiempo o el personal para desarrollar aplicaciones móviles para su empresa?
                                    p.txt-justify ¿No sería genial si los desarrolladores de aplicaciones de tu empresa pudieran añadir sólo unas pocas aplicaciones más útiles para la gestión o la supervisión de los dispositivos de los empleados? Muchas organizaciones tienen demasiadas cosas que hacer como para tener extras tan bonitos.
                                    p.txt-justify Sin embargo, a medida que las solicitudes de dispositivos crecen, son muchos los activos que hay que tratar de controlar o administrar. ¿Por qué no preguntar a SELLCOM SOLUTIONS sobre nuestra experiencia en el desarrollo e implementación de aplicaciones móviles de nivel empresarial? Estas cubren un número de áreas, incluyendo:
                                    ul.txt-justify   
                                        li • Seguimiento de activos globales
                                        li • Gestión de dispositivos
                                        li • Conectividad empresarial
                            .col-4.icon-vertical 
                                img(src=local.images.dispositivo, alt="dispositivo")
                        .col-1
                            p  
                    .col-12
                        .col-1
                            p
                        .col-10.vertical-col
                            .col-4.icon-vertical 
                                img(src=local.images.control, alt="control")
                            .col-6
                                .title-sections.txt-justify
                                    h3 #[strong Nube Personal]
                                    h2 ¿Los empleados quieren usar aplicaciones personales en la nube? No hay problema.
                                    p Uno de los grandes beneficios de los dispositivos personales es su acceso a una serie de servicios innovadores de terceros que ayudan a la productividad del usuario final. Desde el almacenamiento como servicio, el uso compartido de archivos en línea o las aplicaciones de productividad de oficina basadas en la Web, sus usuarios querrán incluir sus propias aplicaciones personales y de productividad en el mismo dispositivo que las aplicaciones de su empresa.
                                    p Como parte de nuestros servicios de gestión del ciclo de vida del dispositivo, SELLCOM SOLUTIONS puede implementar dispositivos con sólo aplicaciones personales aprobadas por la compañía y sus propias aplicaciones empresariales como una parte rutinaria del proceso de incorporación de sus empleados.
                        .col-1
                            p
                    .col-12
                        .col-1
                            p
                        .col-10.vertical-col
                            .col-6
                                .title-sections.derecha
                                    h3 #[strong Gestión de dispositivos empresariales]
                                    h2 Elimine el riesgo y el dolor de cabeza de la solicitud, configuración y reemplazo de los dispositivos.
                                    p.txt-justify Traslade a sus empleados de un BYOD libre para todos. Aquí es donde se conectan en línea o van a la tienda local para pedir sus propios dispositivos, obtener sus propias piezas de repuesto o incluso colocar sus propias suscripciones a aplicaciones en la nube.
                                    p.txt-justify SELLCOM SOLUTIONS proporciona un cuidado personalizado, de extremo a extremo del dispositivo que pone a tu organización de nuevo en control. Quieres que los dispositivos de usuario final que acceden a tu red se adhieran a los estándares aprobados por la empresa. Nosotros ayudamos a hacer que eso suceda. Nuestros servicios de dispositivos empresariales incluyen:
                                    ul.txt-justify   
                                        li • Las solicitudes personalizadas basadas en la web para los dispositivos de los empleados ya están aprobadas por su empresa
                                        li • Despliegue de dispositivos con imagen corporativa estándar, integración de dominio de usuario/dispositivo, antivirus, cifrado, VPN, seguridad/protección de datos, aplicaciones personalizadas y/o servicios de suscripción en la nube
                                        li • Reparación y/o sustitución de dispositivos seguros y conformes a las normas de la empresa
                                        li • Gestión y seguimiento de activos de dispositivos
                                        li • Gestión del ciclo de vida de los dispositivos
                                        li • Previsión y presupuesto de la flota de la empresa
                            .col-4.icon-vertical 
                                img(src=local.images.dispositivo, alt="dispositivo")
                        .col-1
                            p  
                    .col-12
                        .col-1
                            p
                        .col-10.vertical-col
                            .col-4.icon-vertical 
                                img(src=local.images.control, alt="control")
                            .col-6
                                .title-sections.txt-justify
                                    h3 #[strong VDI]
                                    h2 Los escritorios virtuales están transformando la empresa.
                                    p En la implementacion de una plataforma de VDI vale la pena conocer los detalles grandes y pequeños de la infraestructura que pueden significar la diferencia entre la satisfacción del usuario final y los frustrantes retrasos en el rendimiento.
                                    p La experiencia de SELLCOM SOLUTIONS en la planificación, diseño e implementación de proyectos exitosos de infraestructura de escritorios virtuales (VDI) puede ayudarle a evitar errores costosos que pueden descarrilar sus propias implementaciones de escritorios virtuales. Estos pueden incluir:
                                    ul
                                        li • Dimensionamiento inexacto del entorno que contribuye a los cuellos de botella
                                        li • Posibles problemas de rendimiento, como tormentas de arranque
                                        li • Arquitectura o uso incorrecto de la tecnología flash
                                        li • Requisitos de red o almacenamiento para VDI que a menudo se pasan por alto
                                    p Si estás haciendo el cambio a escritorios ligeros, confía en SELLCOM SOLUTIONS como el socio que te ayudará a navegar sin problemas en la transición de tu organización.
                        .col-1
                            p
                                br         
        //-.flotante
            a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
                img(src=local.images.whitepaper, alt="big data" )
            a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
                img(src=local.images.casodeuso, alt="big data")
        include ../template/_footer
        if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
        script(type="text/javascript" src=section_scripts[current_profile][i])

dist/dev/sections/mobility.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Mobility</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="La administración de los recursos tecnológicos de su organización requiere un manejo eficiente para brindar al usuario una respuesta efectiva y calidad en el servicio.">
    <meta name="keywords" content="Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, plataforma, gestión de datos , Innovación, Empresas, Negocios, migración, base de datos, almacenamiento, Cloud, hibrido, Nube, sistemas,sistema all-flash, NetApp, transformación digital, soluciones NetApp">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-banner-dass-vertical mundo">
      <div class="banner-vr">
        <div class="container">
          <div class="content algo"><br>
            <div class="title-sections"></div>
            <h1>Mobility & <span class="green">En User Computing</span></h1>
            <P>Sus usuarios quieren la flexibilidad de hacer sus trabajos donde quieran y en el dispositivo más productivo posible, ya sea un equipo de escritorio, laptop, tablet o un teléfono inteligente.</P>
            <p>Su organización tiene la difícil tarea de satisfacer esas necesidades de los usuarios finales sin violar los protocolos de seguridad de la empresa ni comprometer los datos confidenciales.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="section-verticales">
      <div class="container gris">
        <div class="row">
          <div class="col-12"></div>
          <h1>SOLU<span class="green">CIONES</span></h1>
          <div class="col-12">
            <div class="col-1">
              <p> </p>
            </div>
            <div class="col-10 vertical-col">
              <div class="col-4 icon-vertical"> <img src="../images/products_netapp/verticales_soluciones_news.png" alt="news"></div>
              <div class="col-6">
                <div class="title-sections txt-justify">
                  <h3><strong>Gestión de contenidos y datos</strong></h3>
                  <h2>Protegiendo el contenido, sin importar donde viva.</h2>
                  <p>En la revolución BYOD, las prácticas de gestión de datos y contenidos empresariales a veces pasan a un segundo plano frente a la libertad de elección del usuario final. Pero no tiene por qué ser así.</p>
                  <p>En SELLCOM SOLUTIONS, proporcionamos soluciones empresariales capaces de aislar y proteger su contenido sensible, independientemente del dispositivo utilizado para acceder a él. Desde la implementación de soluciones de administración de dispositivos móviles hasta la definición de políticas de BYOD, puede contar con SELLCOM SOLUTIONS para ayudarle a administrar eficazmente y asegurar su contenido propietario, dondequiera que viva</p>
                </div>
              </div>
            </div>
            <div class="col-1">
              <p> </p>
            </div>
          </div>
          <div class="col-12">
            <div class="col-1">
              <p></p>
            </div>
            <div class="col-10 vertical-col">
              <div class="col-6">
                <div class="title-sections derecha">
                  <h3><strong>Dispositivos</strong></h3>
                  <h2>Dispositivos. Los empleados los quieren. SELLCOM SOLUTIONS te ayuda a gestionarlos.</h2>
                  <p class="txt-justify"> Hoy en día, tus usuarios quieren ser productivos dondequiera que estén, utilizando una elección de uno o más dispositivos: teléfonos inteligentes, tabletas o portátiles/PCs tradicionales. Quieren que les des este nivel de elección o que usen sus propios dispositivos personales.</p>
                  <p class="txt-justify"> En lugar de luchar contra la tendencia BYOD, ayudamos a las organizaciones empresariales a adoptarla, al tiempo que protegen sus propios intereses corporativos.</p>
                  <p class="txt-justify"> La experiencia de SELLCOM SOLUTIONS va desde el refinamiento de la política de BYOD hasta las características del ciclo de vida del dispositivo, incluyendo:</p>
                  <ul class="txt-justify"> 
                    <li>• Configuración automatizada de dispositivos, requisición e incorporación de acuerdo con la política corporativa.</li>
                    <li>• Gestión global de dispositivos y contenidos.</li>
                    <li>• Seguridad de dispositivos, redes y datos.</li>
                    <li>• Entrega y/o desarrollo de aplicaciones autorizadas por la empresa.</li>
                    <li>• Servicios de geo-localización y funcionalidad de "borrado" remoto.</li>
                  </ul>
                </div>
              </div>
              <div class="col-4 icon-vertical"> <img src="../images/products_netapp/verticales_soluciones_seguridad.png" alt="seguridad"></div>
            </div>
            <div class="col-1">
              <p></p>
            </div>
          </div>
          <div class="col-12">
            <div class="col-1">
              <p></p>
            </div>
            <div class="col-10 vertical-col">
              <div class="col-4 icon-vertical"> <img src="../images/products_netapp/verticales_soluciones_auditoria.png" alt="auditoria"></div>
              <div class="col-6">
                <div class="title-sections txt-justify">
                  <h3><strong>Gestión de la identidad, la privacidad y los datos</strong></h3>
                  <h2>¿Cómo se protegen los datos en los dispositivos móviles que pueden estar en cualquier lugar?</h2>
                  <p>La libertad de movimiento y acceso es la piedra angular de la transformación de los dispositivos personales. Pero también puede ser el talón de Aquiles del entorno corporativo actual.</p>
                  <p>¿Cómo se protegen los datos corporativos confidenciales a los que se accede desde teléfonos inteligentes o tabletas? SELLCOM SOLUTIONS trabaja contigo para equipar los dispositivos de los empleados con los niveles adecuados de encriptación de datos/dispositivos. Desde los mecanismos de inicio de sesión único a los borrados de datos remotos, puedes contar con SELLCOM SOLUTIONS para ayudarte a entender los matices de cada dispositivo y las mejores maneras de proteger la información que está en él.</p>
                </div>
              </div>
            </div>
            <div class="col-1">
              <p> </p>
            </div>
          </div>
          <div class="col-12">
            <div class="col-1">
              <p></p>
            </div>
            <div class="col-10 vertical-col">
              <div class="col-6">
                <div class="title-sections derecha">
                  <h3><strong>Internet de las cosas</strong></h3>
                  <h2>¿Está su empresa preparada para la IO?</h2>
                  <p class="txt-justify">Los dispositivos inteligentes, los sensores y las aplicaciones de monitorización se han convertido en los emisores y receptores de una avalancha de datos. Y estamos justo al comienzo de la revolución de la Internet de las Cosas (IO).</p>
                  <p class="txt-justify">SELLCOM SOLUTIONS puede ayudar a su organización a cosechar los beneficios potenciales de la IO mientras la protege de nuevos riesgos.</p>
                  <p><strong>Cosechando nuevos conocimientos.</strong></p>
                  <p class="txt-justify">SELLCOM SOLUTIONS puede ayudar a las organizaciones a identificar, implementar y beneficiarse de los proyectos de IO.</p>
                  <p class="txt-justify">Esto incluye aplicaciones que recopilan y aprovechan grandes datos para ofrecer conocimientos sobre sus operaciones y los hábitos de sus clientes.</p>
                  <p><strong>Monitoreo y reporte global.</strong></p>
                  <p class="txt-justify">SELLCOM SOLUTIONS ayuda a las organizaciones a implementar o desplegar aplicaciones basadas en la IO que monitorean más de cerca e informan sobre los comportamientos basados en la identidad de los empleados, especialmente cuando difieren de las políticas corporativas preestablecidas.</p>
                  <p class="txt-justify">Esto puede abarcar a los empleados que acceden a los recursos corporativos desde uno o más dispositivos.</p>
                  <p><strong>Reducir el riesgo de violación de la seguridad.</strong></p>
                  <p class="txt-justify">Los usuarios finales y los entornos de trabajo que utilizan dispositivos habilitados para la IO pueden estar introduciendo inadvertidamente un riesgo añadido para la organización. Esto podría venir en forma de datos de IoT que pasan a través de los "espacios protegidos" de la empresa. Dependiendo del tipo de aplicación o dispositivo en uso, esto podría incluir las redes corporativas que ahora corren un mayor riesgo de ataque o violación de datos de una fuente de IO previamente desconocida.</p>
                </div>
              </div>
              <div class="col-4 icon-vertical"> <img src="../images/products_netapp/verticales_soluciones_operacion.png" alt="operacion"></div>
            </div>
            <div class="col-1">
              <p> </p>
            </div>
          </div>
          <div class="col-12">
            <div class="col-1">
              <p></p>
            </div>
            <div class="col-10 vertical-col">
              <div class="col-4 icon-vertical"> <img src="../images/products_netapp/vertical_soluciones_control.png" alt="control"></div>
              <div class="col-6">
                <div class="title-sections txt-justify">
                  <h3><strong>Servicios de Localización</strong></h3>
                  <h2>Son las 10 p.m. ¿Sabes dónde están tus dispositivos? </h2>
                  <p>Los usuarios tienen ahora la opción de usar sus dispositivos donde y cuando quieran. Sin embargo, eso puede ser tanto una bendición como una maldición. Cuando los dispositivos son robados o desaparecen, ¿qué sucede con los datos corporativos sensibles que podrían estar almacenados en ellos?</p>
                  <p>Afortunadamente, la experiencia de SELLCOM SOLUTIONS con las principales plataformas de protección de dispositivos y de gestión de dispositivos móviles puede ayudarle a proteger lo que hay en los dispositivos de los usuarios, rastrear su paradero, e incluso realizar un "borrado remoto" de los contenidos, si es necesario.</p>
                </div>
              </div>
            </div>
            <div class="col-1">
              <p></p>
            </div>
          </div>
          <div class="col-12">
            <div class="col-1">
              <p></p>
            </div>
            <div class="col-10 vertical-col">
              <div class="col-6">
                <div class="title-sections derecha">
                  <h3><strong>Desarrollo de aplicaciones móviles</strong></h3>
                  <h2>¿Quién tiene el tiempo o el personal para desarrollar aplicaciones móviles para su empresa?</h2>
                  <p class="txt-justify">¿No sería genial si los desarrolladores de aplicaciones de tu empresa pudieran añadir sólo unas pocas aplicaciones más útiles para la gestión o la supervisión de los dispositivos de los empleados? Muchas organizaciones tienen demasiadas cosas que hacer como para tener extras tan bonitos.</p>
                  <p class="txt-justify">Sin embargo, a medida que las solicitudes de dispositivos crecen, son muchos los activos que hay que tratar de controlar o administrar. ¿Por qué no preguntar a SELLCOM SOLUTIONS sobre nuestra experiencia en el desarrollo e implementación de aplicaciones móviles de nivel empresarial? Estas cubren un número de áreas, incluyendo:</p>
                  <ul class="txt-justify">  
                    <li>• Seguimiento de activos globales</li>
                    <li>• Gestión de dispositivos</li>
                    <li>• Conectividad empresarial</li>
                  </ul>
                </div>
              </div>
              <div class="col-4 icon-vertical"> <img src="../images/products_netapp/vertical_soluciones_dispositivo.png" alt="dispositivo"></div>
            </div>
            <div class="col-1">
              <p> </p>
            </div>
          </div>
          <div class="col-12">
            <div class="col-1">
              <p></p>
            </div>
            <div class="col-10 vertical-col">
              <div class="col-4 icon-vertical"> <img src="../images/products_netapp/vertical_soluciones_control.png" alt="control"></div>
              <div class="col-6">
                <div class="title-sections txt-justify">
                  <h3><strong>Nube Personal</strong></h3>
                  <h2>¿Los empleados quieren usar aplicaciones personales en la nube? No hay problema.</h2>
                  <p>Uno de los grandes beneficios de los dispositivos personales es su acceso a una serie de servicios innovadores de terceros que ayudan a la productividad del usuario final. Desde el almacenamiento como servicio, el uso compartido de archivos en línea o las aplicaciones de productividad de oficina basadas en la Web, sus usuarios querrán incluir sus propias aplicaciones personales y de productividad en el mismo dispositivo que las aplicaciones de su empresa.</p>
                  <p>Como parte de nuestros servicios de gestión del ciclo de vida del dispositivo, SELLCOM SOLUTIONS puede implementar dispositivos con sólo aplicaciones personales aprobadas por la compañía y sus propias aplicaciones empresariales como una parte rutinaria del proceso de incorporación de sus empleados.</p>
                </div>
              </div>
            </div>
            <div class="col-1">
              <p></p>
            </div>
          </div>
          <div class="col-12">
            <div class="col-1">
              <p></p>
            </div>
            <div class="col-10 vertical-col">
              <div class="col-6">
                <div class="title-sections derecha">
                  <h3><strong>Gestión de dispositivos empresariales</strong></h3>
                  <h2>Elimine el riesgo y el dolor de cabeza de la solicitud, configuración y reemplazo de los dispositivos.</h2>
                  <p class="txt-justify">Traslade a sus empleados de un BYOD libre para todos. Aquí es donde se conectan en línea o van a la tienda local para pedir sus propios dispositivos, obtener sus propias piezas de repuesto o incluso colocar sus propias suscripciones a aplicaciones en la nube.</p>
                  <p class="txt-justify">SELLCOM SOLUTIONS proporciona un cuidado personalizado, de extremo a extremo del dispositivo que pone a tu organización de nuevo en control. Quieres que los dispositivos de usuario final que acceden a tu red se adhieran a los estándares aprobados por la empresa. Nosotros ayudamos a hacer que eso suceda. Nuestros servicios de dispositivos empresariales incluyen:</p>
                  <ul class="txt-justify">  
                    <li>• Las solicitudes personalizadas basadas en la web para los dispositivos de los empleados ya están aprobadas por su empresa</li>
                    <li>• Despliegue de dispositivos con imagen corporativa estándar, integración de dominio de usuario/dispositivo, antivirus, cifrado, VPN, seguridad/protección de datos, aplicaciones personalizadas y/o servicios de suscripción en la nube</li>
                    <li>• Reparación y/o sustitución de dispositivos seguros y conformes a las normas de la empresa</li>
                    <li>• Gestión y seguimiento de activos de dispositivos</li>
                    <li>• Gestión del ciclo de vida de los dispositivos</li>
                    <li>• Previsión y presupuesto de la flota de la empresa</li>
                  </ul>
                </div>
              </div>
              <div class="col-4 icon-vertical"> <img src="../images/products_netapp/vertical_soluciones_dispositivo.png" alt="dispositivo"></div>
            </div>
            <div class="col-1">
              <p> </p>
            </div>
          </div>
          <div class="col-12">
            <div class="col-1">
              <p></p>
            </div>
            <div class="col-10 vertical-col">
              <div class="col-4 icon-vertical"> <img src="../images/products_netapp/vertical_soluciones_control.png" alt="control"></div>
              <div class="col-6">
                <div class="title-sections txt-justify">
                  <h3><strong>VDI</strong></h3>
                  <h2>Los escritorios virtuales están transformando la empresa.</h2>
                  <p>En la implementacion de una plataforma de VDI vale la pena conocer los detalles grandes y pequeños de la infraestructura que pueden significar la diferencia entre la satisfacción del usuario final y los frustrantes retrasos en el rendimiento.</p>
                  <p>La experiencia de SELLCOM SOLUTIONS en la planificación, diseño e implementación de proyectos exitosos de infraestructura de escritorios virtuales (VDI) puede ayudarle a evitar errores costosos que pueden descarrilar sus propias implementaciones de escritorios virtuales. Estos pueden incluir:</p>
                  <ul>
                    <li>• Dimensionamiento inexacto del entorno que contribuye a los cuellos de botella</li>
                    <li>• Posibles problemas de rendimiento, como tormentas de arranque</li>
                    <li>• Arquitectura o uso incorrecto de la tecnología flash</li>
                    <li>• Requisitos de red o almacenamiento para VDI que a menudo se pasan por alto</li>
                  </ul>
                  <p>Si estás haciendo el cambio a escritorios ligeros, confía en SELLCOM SOLUTIONS como el socio que te ayudará a navegar sin problemas en la transición de tu organización.</p>
                </div>
              </div>
            </div>
            <div class="col-1">
              <p><br></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/libs/jquery.validate.js"></script>
    <script src="../js/libs/jquery.file.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/sellcom_dass.js"></script>
    <script src="../js/controllers/downloads.js"></script>
    <script src="../js/controllers/form.js"></script>
  </body>
</html>
<script type="text/javascript" src="../js/libs/jquery.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<script type="text/javascript" src="../js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../js/libs/jquery.file.js"></script>
<script type="text/javascript" src="../js/plugins/slick.js"></script>
<script type="text/javascript" src="../js/controllers/sellcom_dass.js"></script>
<script type="text/javascript" src="../js/controllers/downloads.js"></script>
<script type="text/javascript" src="../js/controllers/form.js"></script>
