dist/dev/sections/monitoreo.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Monitoreo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Llegó la era de la Monitoreo; una solución que simplifica las operaciones en TI con una sola plataforma. ¡La tecnología que tu empresa necesita!">
    <meta name="keywords" content="Sellcom, Monitoreo, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-video-dass">
      <div class="boxVideo">
        <video id="secondVideo" autoplay loop muted>
          <source src="../images/video/monitoreo.mp4" type="video/mp4">
        </video>
      </div>
      <div class="container">
        <div class="content"><br>
          <div class="title-sections">
            <h1>Servicios de Monitoreo</h1>
          </div>
          <p> Ponemos a tu alcance nuestros servicios de monitoreo para cualquier área de negocio.</p>
        </div>
      </div>
    </section>
    <section class="anchors">
      <div class="container">
        <div class="row">
          <div class="col-10 middle"> 
            <ul id="submenu">
              <li><a href="#device">
                  <p>Conoce nuestra soluci&oacute;n</p></a></li>
              <li><a href="#howitworks">
                  <p>¿C&oacute;mo funciona?</p></a></li>
              <li><a href="#whydaas">
                  <p>¿Por qu&eacute; implementar Monitoreo?</p></a></li>
              <li><a href="#toolsdaas">
                  <p>Herramientas</p></a></li>
              <li><a href="#weareexperts">
                  <p>Socios</p></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="device-text-one" id="device">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6 txt-justify">
                <h2>¿Qué es Monitoreo?</h2>
                <p>Conjunto de recursos humanos certificados y con experiencia, herramientas, programas y dispositivos para brindarte un servicio de calidad en torno a las actividades de monitoreo de red, infraestructura, operación, etc.</p>
                <p>Implementamos software de alto nivel de gestión para poder garantizar el monitoreo de tus sistemas, infraestructura y/o red en el esquema definido por tu negocio todos los días del año.</p>
              </div>
              <div class="col-6"><img src="../images/solutions_monitoreo/sellcom-devicedass-service.jpg" alt="Devices As a Service"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="how-it-works" id="howitworks">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <h2>¿C&oacute;mo funciona?</h2>
            <p>El flujo de Monitoreo es el que a continuación se menciona.</p>
            <ul>
              <li> 
                <p><strong>Análisis de requerimiento de monitoreo</strong> <span> </span></p>
              </li>
              <li>
                <p><strong>Modelado y diseño de servicio de monitoreo</strong> <span> </span></p>
              </li>
              <li>
                <p><strong>Definición de herramientas y configuración de monitoreo</strong> <span> </span></p>
              </li>
              <li> 
                <p><strong>Puesta en marcha de servicios de monitoreo</strong><span> </span></p>
              </li>
              <li>
                <p><strong>On Going de monitoreo</strong> <span> </span></p>
              </li>
              <li>
                <p><strong>Mantenimiento, asignación, escalamiento y atención de incidencias de monitoreo</strong> <span> </span></p>
              </li>
              <li>
                <p><strong>Adecuación de nuevas necesidades de monitoreo</strong> <span> </span></p>
              </li>
              <li>
                <p><strong>Baja de equipo de monitoreo</strong> <span> </span></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="why-daas" id="whydaas">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <h2>¿Por qu&eacute; implementar Monitoreo?</h2>
            <p>La adopción de monitoreo en tu negocio.</p>
            <ul>
              <li><img src="../images/solutions_monitoreo/icon_gestiolndeprocesosdeevntos.png" alt="Soporte global ">
                <p>Gestión de procesos de eventos</p>
              </li>
              <li><img src="../images/solutions_monitoreo/icon_nivelesdeservicios.png" alt="Protección contra daños">
                <p>Niveles de servicios</p>
              </li>
              <li><img src="../images/solutions_monitoreo/icon_controlproductivo.png" alt="Servicios de reparación">
                <p>Control productivo</p>
              </li>
              <li><img src="../images/solutions_monitoreo/icon_disponibilidad.png" alt="Soporte global ">
                <p>Disponibilidad</p>
              </li>
              <li><img src="../images/solutions_monitoreo/icon_capacidad.png" alt="Protección contra daños">
                <p>Capacidad</p>
              </li>
              <li><img src="../images/solutions_monitoreo/icon_continuidad.png" alt="Servicios de reparación">
                <p>Continuidad</p>
              </li>
              <li><img src="../images/solutions_monitoreo/icon_tunningoperativo.png" alt="Protección contra daños">
                <p>Tunning Operativo</p>
              </li>
              <li><img src="../images/solutions_monitoreo/icon_seguridad.png" alt="Servicios de reparación">
                <p>Seguridad</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="tools-daas" id="toolsdaas">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <h2>Herramientas</h2>
            <p> </p>
            <ul class="row">
              <li class="col-3">
                <div class="img-tools"><img src="../images/solutions_monitoreo/colaboradoresespecializados.jpg" alt="Asset Management"></div>
                <div class="description-tools">
                  <h3>Colaboradores especializados y certificados</h3>
                  <p> </p>
                </div>
              </li>
              <li class="col-3">
                <div class="img-tools"><img src="../images/solutions_monitoreo/herramientademonitoreo.jpg" alt="Software Delivery"></div>
                <div class="description-tools">
                  <h3>Herramientas de monitoreo</h3>
                  <p> </p>
                </div>
              </li>
              <li class="col-3">
                <div class="img-tools"><img src="../images/solutions_monitoreo/herramientasdegestion.jpg" alt="Software Metrix"></div>
                <div class="description-tools">
                  <h3>Procesos operativos de gestión de eventos</h3>
                  <p> </p>
                </div>
              </li>
              <li class="col-3">
                <div class="img-tools"><img src="../images/solutions_monitoreo/procesosoperativos.jpg" alt="Software Metrix"></div>
                <div class="description-tools">
                  <h3>Herramienta de gestión o de seguimiento de incidencias</h3>
                  <p> </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="we-are-experts" id="weareexperts">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <h2>Somos expertos en Monitoreo</h2>
            <p> colaborando con los líderes como son:</p>
            <ul class="row">
              <li class="col-4"><a href="https://www.apple.com/" target="_blank"><img src="../images/solutions_monitoreo/logo_apple.png" alt="Socio Apple"></a></li>
              <li class="col-4"><a href="https://arandasoft.com/" target="_blank"><img src="../images/solutions_monitoreo/logo_aranda.png" alt="Socio Aranda"></a></li>
              <li class="col-4"><a href="https://www8.hp.com/mx/es/home.html" target="_blank"><img src="../images/solutions_monitoreo/logo_HP.png" alt="Socio HP"></a></li>
              <li class="col-4"><a href="https://www.hpe.com/mx/es/home.html" target="_blank"><img src="../images/solutions_monitoreo/logo_hpe.png" alt="Socio HPe"></a></li>
              <li class="col-4"><a href="https://consumer.huawei.com/mx/" target="_blank"><img src="../images/solutions_monitoreo/logo_huawei.png" alt="Socio Huawei"></a></li>
              <li class="col-4"><a href="https://www.ibm.com/mx-es/" target="_blank"><img src="../images/solutions_monitoreo/logo_ibm.png" alt="Socio IBM"></a></li>
              <li class="col-4"><a href="https://www.jamf.com/" target="_blank"><img src="../images/solutions_monitoreo/logo_jamf.png" alt="Socio Jamf"></a></li>
              <li class="col-4"><a href="https://www.qlik.com/es-es" target="_blank"><img src="../images/solutions_monitoreo/logo_qlik.png" alt="Socio Qlik"></a></li>
              <li class="col-4"><a href="https://www.servicenow.com/" target="_blank"><img src="../images/solutions_monitoreo/logo_servicenow.png" alt="Socio Servicenow"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/Sellcom.js"></script>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/global/global.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/products_daas.js"></script>
    <script src="../js/plugins/addthis_widget.js"></script>
  </body>
</html>

src/html/sections/monitoreo.pug

include ../config/_variables
- global_path = '../'
- current_profile = CONST_DEV_PROFILE
- var page = 'Sellcom Monitoreo'
- var metadata = {}
- metadata['title'] = 'Sellcom - Monitoreo'
- metadata['description'] = 'Llegó la era de la Monitoreo; una solución que simplifica las operaciones en TI con una sola plataforma. ¡La tecnología que tu empresa necesita!'
- metadata['keywords'] = 'Sellcom, Monitoreo, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud'

- var section_scripts =  {} 
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.base + 'Sellcom.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.global + 'global.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers+ 'products_daas.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'addthis_widget.js')
- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.base + 'Sellcom.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.global + 'global.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'products_daas.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'addthis_widget.min.js')

- var local_images = {}
- local_images['images'] = {}
- local_images.images['banner'] = global_path +  images.solutions_monitoreo + 'bannerprincipal.jpg'
- local_images.images['daas_one'] = global_path +  images.solutions_monitoreo + 'sellcom-devicedass-service.jpg'

- local_images.images['colaboradores'] = global_path + images.solutions_monitoreo + 'colaboradoresespecializados.jpg'
- local_images.images['monitoreo'] = global_path + images.solutions_monitoreo + 'herramientademonitoreo.jpg'
- local_images.images['gestion'] = global_path + images.solutions_monitoreo + 'herramientasdegestion.jpg'
- local_images.images['procesos'] = global_path + images.solutions_monitoreo + 'procesosoperativos.jpg'

- local_images.images['icon_capacidad'] = global_path + images.solutions_monitoreo + 'icon_capacidad.png'
- local_images.images['icon_continuidad'] = global_path + images.solutions_monitoreo + 'icon_continuidad.png'
- local_images.images['icon_controlproductivo'] = global_path + images.solutions_monitoreo + 'icon_controlproductivo.png'
- local_images.images['icon_disponibilidad'] = global_path + images.solutions_monitoreo + 'icon_disponibilidad.png'
- local_images.images['icon_eventos'] = global_path + images.solutions_monitoreo + 'icon_gestiolndeprocesosdeevntos.png'
- local_images.images['icon_ivr'] = global_path + images.solutions_monitoreo + 'icon_IVR.png'
- local_images.images['icon_nivelesdeservicios'] = global_path + images.solutions_monitoreo + 'icon_nivelesdeservicios.png'
- local_images.images['icon_seguridad'] = global_path + images.solutions_monitoreo + 'icon_seguridad.png'
- local_images.images['icon_tunningoperativo'] = global_path + images.solutions_monitoreo + 'icon_tunningoperativo.png'

- local_images.images['logo_apple'] = global_path + images.solutions_monitoreo + 'logo_apple.png'
- local_images.images['logo_aranda'] = global_path + images.solutions_monitoreo + 'logo_aranda.png'
- local_images.images['logo_hp'] = global_path + images.solutions_monitoreo + 'logo_HP.png'
- local_images.images['logo_hpe'] = global_path + images.solutions_monitoreo + 'logo_hpe.png'
- local_images.images['logo_huawei'] = global_path + images.solutions_monitoreo + 'logo_huawei.png'
- local_images.images['logo_ibm'] = global_path + images.solutions_monitoreo + 'logo_ibm.png'
- local_images.images['logo_jamf'] = global_path + images.solutions_monitoreo + 'logo_jamf.png'
- local_images.images['logo_qlik'] = global_path + images.solutions_monitoreo + 'logo_qlik.png'
- local_images.images['logo_servicenow'] = global_path + images.solutions_monitoreo + 'logo_servicenow.png'

doctype html
html(lang=site.lang)
  include ../template/_head
  body
    include ../template/_header
    section.section-video-dass
      
      .boxVideo
        video#secondVideo(autoplay loop muted)
          source(src="../images/video/monitoreo.mp4" type="video/mp4")
      .container
          .content
                    br
                    .title-sections
                        h1 Servicios de Monitoreo
                    p  Ponemos a tu alcance nuestros servicios de monitoreo para cualquier área de negocio.
    //- section.section-banner-interna
    //-   img.banner(src=local_images.images.banner alt='Monitoreo')
    //-   .container
    //-     .content
    //-       .row
    //-         .col-10.middle
    //-           h1 Servicios de Monitoreo
    //-           p Ponemos a tu alcance nuestros servicios de monitoreo para cualquier área de negocio.
    section.anchors
      .container
        .row
          .col-10.middle 
            ul#submenu
              li
                a(href='#device') #[p Conoce nuestra soluci&oacute;n]
              li
                a(href='#howitworks') #[p ¿C&oacute;mo funciona?]
              li
                a(href='#whydaas') #[p ¿Por qu&eacute; implementar Monitoreo?]
              li
                a(href='#toolsdaas') #[p Herramientas]
              li
                 a(href='#weareexperts') #[p Socios]
    section.device-text-one#device
      .container
        .row
          .col-10.middle
            .row
              .col-6.txt-justify
                h2 ¿Qué es Monitoreo?
                p Conjunto de recursos humanos certificados y con experiencia, herramientas, programas y dispositivos para brindarte un servicio de calidad en torno a las actividades de monitoreo de red, infraestructura, operación, etc.
                p Implementamos software de alto nivel de gestión para poder garantizar el monitoreo de tus sistemas, infraestructura y/o red en el esquema definido por tu negocio todos los días del año.
              .col-6
                img(src=local_images.images.daas_one alt='Devices As a Service')
    section.how-it-works#howitworks
      .container
        .row
          .col-10.middle
            h2 ¿C&oacute;mo funciona?
            p El flujo de Monitoreo es el que a continuación se menciona.
            ul
              li 
                p #[strong Análisis de requerimiento de monitoreo] 
                  span 
              li
                p #[strong Modelado y diseño de servicio de monitoreo] 
                  span 
              li
                p #[strong Definición de herramientas y configuración de monitoreo] 
                  span 
              li 
                p #[strong Puesta en marcha de servicios de monitoreo]
                  span 
              li
                p #[strong On Going de monitoreo] 
                  span 
              li
                p #[strong Mantenimiento, asignación, escalamiento y atención de incidencias de monitoreo] 
                  span 
              li
                p #[strong Adecuación de nuevas necesidades de monitoreo] 
                  span 
              li
                p #[strong Baja de equipo de monitoreo] 
                  span 
    section.why-daas#whydaas
      .container
        .row
          .col-10.middle
            h2 ¿Por qu&eacute; implementar Monitoreo?
            p La adopción de monitoreo en tu negocio.
            ul
              li
                img(src=local_images.images.icon_eventos alt='Soporte global ')
                p Gestión de procesos de eventos
              li
                img(src=local_images.images.icon_nivelesdeservicios alt='Protección contra daños')
                p Niveles de servicios
              li
                img(src=local_images.images.icon_controlproductivo alt='Servicios de reparación')
                p Control productivo
              li
                img(src=local_images.images.icon_disponibilidad alt='Soporte global ')
                p Disponibilidad
              li
                img(src=local_images.images.icon_capacidad alt='Protección contra daños')
                p Capacidad
              li
                img(src=local_images.images.icon_continuidad alt='Servicios de reparación')
                p Continuidad
              li
                img(src=local_images.images.icon_tunningoperativo alt='Protección contra daños')
                p Tunning Operativo
              li
                img(src=local_images.images.icon_seguridad alt='Servicios de reparación')
                p Seguridad
    section.tools-daas#toolsdaas
      .container
        .row
          .col-10.middle
            h2 Herramientas
            p 
            ul.row
              li.col-3
                .img-tools
                  img(src=local_images.images.colaboradores alt='Asset Management')
                .description-tools
                  h3 Colaboradores especializados y certificados
                  p 
              li.col-3
                .img-tools
                  img(src=local_images.images.monitoreo alt='Software Delivery')
                .description-tools
                  h3 Herramientas de monitoreo
                  p 
              li.col-3
                .img-tools
                  img(src=local_images.images.gestion alt='Software Metrix')
                .description-tools
                  h3 Procesos operativos de gestión de eventos
                  p 
              li.col-3
                .img-tools
                  img(src=local_images.images.procesos alt='Software Metrix')
                .description-tools
                  h3 Herramienta de gestión o de seguimiento de incidencias
                  p 
    section.we-are-experts#weareexperts
      .container
        .row
          .col-10.middle
            h2 Somos expertos en Monitoreo
            p  colaborando con los líderes como son:
            ul.row
              li.col-4
                a(href="https://www.apple.com/" target="_blank") #[img(src=local_images.images.logo_apple alt='Socio Apple')]
              li.col-4
                a(href="https://arandasoft.com/" target="_blank") #[img(src=local_images.images.logo_aranda alt='Socio Aranda')]
              li.col-4
                a(href="https://www8.hp.com/mx/es/home.html" target="_blank") #[img(src=local_images.images.logo_hp alt='Socio HP')]
              li.col-4
                a(href="https://www.hpe.com/mx/es/home.html" target="_blank") #[img(src=local_images.images.logo_hpe alt='Socio HPe')]
              li.col-4
                a(href="https://consumer.huawei.com/mx/" target="_blank") #[img(src=local_images.images.logo_huawei alt='Socio Huawei')]
              li.col-4
                a(href="https://www.ibm.com/mx-es/" target="_blank") #[img(src=local_images.images.logo_ibm alt='Socio IBM')]
              li.col-4
                a(href="https://www.jamf.com/" target="_blank") #[img(src=local_images.images.logo_jamf alt='Socio Jamf')]
              li.col-4
                a(href="https://www.qlik.com/es-es" target="_blank") #[img(src=local_images.images.logo_qlik alt='Socio Qlik')]
              li.col-4
                a(href="https://www.servicenow.com/" target="_blank") #[img(src=local_images.images.logo_servicenow alt='Socio Servicenow')]
    include ../template/_footer    
