src/html/sections/mps.pug

include ../config/_variables
- global_path = '../'
- current_profile = CONST_DEV_PROFILE
- var page = 'Sellcom MPS'
- var metadata = {}
- metadata['title'] = 'Sellcom - MPS'
- metadata['description'] = 'Llegó la era de la MPS; una solución que simplifica las operaciones en TI con una sola plataforma. ¡La tecnología que tu empresa necesita!'
- metadata['keywords'] = 'Sellcom, MPS, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud'

- var section_scripts =  {} 
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.base + 'Sellcom.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.global + 'global.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers+ 'products_daas.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'addthis_widget.js')
- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.base + 'Sellcom.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.global + 'global.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'products_daas.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'addthis_widget.min.js')

- var local_images = {}
- local_images['images'] = {}
- local_images.images['banner'] = global_path +  images.solutions_mps + 'bannerprincipal.jpg'
- local_images.images['daas_one'] = global_path +  images.solutions_mps + 'sellcom-devicedass-service.jpg'

- local_images.images['impresora'] = global_path + images.solutions_mps + 'impresorasmultifunciolanales.jpg'
- local_images.images['insumo'] = global_path + images.solutions_mps + 'insumosdeimpresoras.jpg'
- local_images.images['software'] = global_path + images.solutions_mps + 'softwaredeinsumos.jpg'

- local_images.images['icon_ahorroeninsumos'] = global_path + images.solutions_mps + 'icon_ahorroeninsumos.png'
- local_images.images['icon_gastosdequipo'] = global_path + images.solutions_mps + 'icon_controldegastosdequipo.png'
- local_images.images['icon_nivelesdeservicio'] = global_path + images.solutions_mps + 'icon_controldenivelesdeservicio.png'
- local_images.images['icon_disponibilidad'] = global_path + images.solutions_mps + 'icon_disponibilidad.png'

- local_images.images['logo_hp'] = global_path + images.solutions_mps + 'logo_hp.png'
- local_images.images['logo_hpe'] = global_path + images.solutions_mps + 'logo_hpe.png'
- local_images.images['logo_huawei'] = global_path + images.solutions_mps + 'logo_huawei.png'
- local_images.images['logo_lexmark'] = global_path + images.solutions_mps + 'logo_lexmark.png'

doctype html
html(lang=site.lang)
  include ../template/_head
  body
    include ../template/_header
    section.section-video-dass
            .boxVideo
                video#secondVideo(autoplay loop muted)
                    source(src="../images/video/mps30.mp4" type="video/mp4")
            .container
                .content
                    br
                    .title-sections
                        h1 Servicios administrados de Impresión
                    p  Reduce los costos de impresión tercereando con Sellcom tu servicio.     
    section.anchors
      .container
        .row
          .col-10.middle 
             ul#submenu
              li
                a(href='#device') #[p Conoce nuestra soluci&oacute;n]
              li
                a(href='#howitworks') #[p ¿C&oacute;mo funciona?]
              li
                a(href='#whydaas') #[p ¿Por qu&eacute; implementar MPS?]
              li
                a(href='#toolsdaas') #[p Herramientas]
              li
                 a(href='#weareexperts') #[p Socios]
    section.device-text-one#device
      .container
        .row
          .col-10.middle
            .row
              .col-6
                h2 ¿Qué es MPS?
                p Te brindamos todo lo relacionado con los servicios de impresión para tu empresa.
                p La solución consiste en realizar la venta o arrendamiento del equipo de cómputo, realizar la configuración pertinente y dar seguimiento a la operación de los dispositivos de impresión, realizando la reposición de insumos y atención de incidentes.
              .col-6
                img(src=local_images.images.daas_one alt='Devices As a Service')
    section.how-it-works#howitworks
      .container
        .row
          .col-10.middle
            h2 ¿C&oacute;mo funciona?
            p El flujo de los servicios de impresión es el que a continuación se menciona.
            ul
              li 
                p #[strong Levantamiento de requerimiento de equipo de impresión] 
                  span 
              li
                p #[strong Venta o arrendamiento de equipo] 
                  span 
              li
                p #[strong Configuración de equipo] 
                  span 
              li 
                p #[strong Monitoreo de equipo]
                  span 
              li
                p #[strong Atención de incidencias] 
                  span 
              li 
                p #[strong Atención de recubrimiento de insumos]
                  span 
              li
                p #[strong Atención de nuevos requerimeintos] 
                  span 
    section.why-daas#whydaas
      .container
        .row
          .col-10.middle
            h2 ¿Por qu&eacute; implementar MPS?
            p La delegación de los servicios de impresión te permitirá ahorrar costos de administración e incrementara calidad de tu servicio.
            ul
              li
                img(src=local_images.images.icon_nivelesdeservicio alt='Soporte global ')
                p Control de niveles de servicio.
              li
                img(src=local_images.images.icon_ahorroeninsumos alt='Protección contra daños')
                p Ahorro en insumos.
              li
                img(src=local_images.images.icon_nivelesdeservicio alt='Servicios de reparación')
                p Control de gasto de equipos e insumos.
              li
                img(src=local_images.images.icon_disponibilidad alt='Servicios de reparación')
                p Disponibilidad 7*24.
    section.tools-daas#toolsdaas
      .container
        .row
          .col-10.middle
            h2 Herramientas
            p 
            ul.row
              li.col-4
                .img-tools
                  img(src=local_images.images.impresora alt='Asset Management')
                .description-tools
                  h3 Impresoras, multifuncionales.
                  p 
              li.col-4
                .img-tools
                  img(src=local_images.images.insumo alt='Software Delivery')
                .description-tools
                  h3 insumos de impresoras.
                  p 
              li.col-4
                .img-tools
                  img(src=local_images.images.software alt='Software Metrix')
                .description-tools
                  h3 Software de gestión de insumos y seguimiento de funcionamiento de impresoras.
                  p 
    section.we-are-experts#weareexperts
      .container
        .row
          .col-10.middle
            h2 Somos expertos en la gestión de servicios de impresion
            p  colaborando con los líderes como son:
            ul.row
              li.col-3
                a(href="https://www8.hp.com/mx/es/home.html" target="_blank") #[img(src=local_images.images.logo_hp alt='Socio HP')]
              li.col-3
                a(href="https://www.hpe.com/mx/es/home.html" target="_blank") #[img(src=local_images.images.logo_hpe alt='Socio HPe')]
              li.col-3
                a(href="https://consumer.huawei.com/mx/" target="_blank") #[img(src=local_images.images.logo_huawei alt='Socio Huawei')]
              li.col-3
                a(href="https://www.lexmark.com/es_mx.html" target="_blank") #[img(src=local_images.images.logo_lexmark alt='Socio Lexmark')]
    include ../template/_footer    

dist/dev/sections/mps.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - MPS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Llegó la era de la MPS; una solución que simplifica las operaciones en TI con una sola plataforma. ¡La tecnología que tu empresa necesita!">
    <meta name="keywords" content="Sellcom, MPS, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-video-dass">
      <div class="boxVideo">
        <video id="secondVideo" autoplay loop muted>
          <source src="../images/video/mps30.mp4" type="video/mp4">
        </video>
      </div>
      <div class="container">
        <div class="content"><br>
          <div class="title-sections">
            <h1>Servicios administrados de Impresión</h1>
          </div>
          <p> Reduce los costos de impresión tercereando con Sellcom tu servicio.     </p>
        </div>
      </div>
    </section>
    <section class="anchors">
      <div class="container">
        <div class="row">
          <div class="col-10 middle"> 
            <ul id="submenu">
              <li><a href="#device">
                  <p>Conoce nuestra soluci&oacute;n</p></a></li>
              <li><a href="#howitworks">
                  <p>¿C&oacute;mo funciona?</p></a></li>
              <li><a href="#whydaas">
                  <p>¿Por qu&eacute; implementar MPS?</p></a></li>
              <li><a href="#toolsdaas">
                  <p>Herramientas</p></a></li>
              <li><a href="#weareexperts">
                  <p>Socios</p></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="device-text-one" id="device">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <h2>¿Qué es MPS?</h2>
                <p>Te brindamos todo lo relacionado con los servicios de impresión para tu empresa.</p>
                <p>La solución consiste en realizar la venta o arrendamiento del equipo de cómputo, realizar la configuración pertinente y dar seguimiento a la operación de los dispositivos de impresión, realizando la reposición de insumos y atención de incidentes.</p>
              </div>
              <div class="col-6"><img src="../images/solutions_mps/sellcom-devicedass-service.jpg" alt="Devices As a Service"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="how-it-works" id="howitworks">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <h2>¿C&oacute;mo funciona?</h2>
            <p>El flujo de los servicios de impresión es el que a continuación se menciona.</p>
            <ul>
              <li> 
                <p><strong>Levantamiento de requerimiento de equipo de impresión</strong> <span> </span></p>
              </li>
              <li>
                <p><strong>Venta o arrendamiento de equipo</strong> <span> </span></p>
              </li>
              <li>
                <p><strong>Configuración de equipo</strong> <span> </span></p>
              </li>
              <li> 
                <p><strong>Monitoreo de equipo</strong><span> </span></p>
              </li>
              <li>
                <p><strong>Atención de incidencias</strong> <span> </span></p>
              </li>
              <li> 
                <p><strong>Atención de recubrimiento de insumos</strong><span> </span></p>
              </li>
              <li>
                <p><strong>Atención de nuevos requerimeintos</strong> <span> </span></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="why-daas" id="whydaas">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <h2>¿Por qu&eacute; implementar MPS?</h2>
            <p>La delegación de los servicios de impresión te permitirá ahorrar costos de administración e incrementara calidad de tu servicio.</p>
            <ul>
              <li><img src="../images/solutions_mps/icon_controldenivelesdeservicio.png" alt="Soporte global ">
                <p>Control de niveles de servicio.</p>
              </li>
              <li><img src="../images/solutions_mps/icon_ahorroeninsumos.png" alt="Protección contra daños">
                <p>Ahorro en insumos.</p>
              </li>
              <li><img src="../images/solutions_mps/icon_controldenivelesdeservicio.png" alt="Servicios de reparación">
                <p>Control de gasto de equipos e insumos.</p>
              </li>
              <li><img src="../images/solutions_mps/icon_disponibilidad.png" alt="Servicios de reparación">
                <p>Disponibilidad 7*24.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="tools-daas" id="toolsdaas">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <h2>Herramientas</h2>
            <p> </p>
            <ul class="row">
              <li class="col-4">
                <div class="img-tools"><img src="../images/solutions_mps/impresorasmultifunciolanales.jpg" alt="Asset Management"></div>
                <div class="description-tools">
                  <h3>Impresoras, multifuncionales.</h3>
                  <p> </p>
                </div>
              </li>
              <li class="col-4">
                <div class="img-tools"><img src="../images/solutions_mps/insumosdeimpresoras.jpg" alt="Software Delivery"></div>
                <div class="description-tools">
                  <h3>insumos de impresoras.</h3>
                  <p> </p>
                </div>
              </li>
              <li class="col-4">
                <div class="img-tools"><img src="../images/solutions_mps/softwaredeinsumos.jpg" alt="Software Metrix"></div>
                <div class="description-tools">
                  <h3>Software de gestión de insumos y seguimiento de funcionamiento de impresoras.</h3>
                  <p> </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="we-are-experts" id="weareexperts">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <h2>Somos expertos en la gestión de servicios de impresion</h2>
            <p> colaborando con los líderes como son:</p>
            <ul class="row">
              <li class="col-3"><a href="https://www8.hp.com/mx/es/home.html" target="_blank"><img src="../images/solutions_mps/logo_hp.png" alt="Socio HP"></a></li>
              <li class="col-3"><a href="https://www.hpe.com/mx/es/home.html" target="_blank"><img src="../images/solutions_mps/logo_hpe.png" alt="Socio HPe"></a></li>
              <li class="col-3"><a href="https://consumer.huawei.com/mx/" target="_blank"><img src="../images/solutions_mps/logo_huawei.png" alt="Socio Huawei"></a></li>
              <li class="col-3"><a href="https://www.lexmark.com/es_mx.html" target="_blank"><img src="../images/solutions_mps/logo_lexmark.png" alt="Socio Lexmark"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/Sellcom.js"></script>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/global/global.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/products_daas.js"></script>
    <script src="../js/plugins/addthis_widget.js"></script>
  </body>
</html>
