src/html/sections/naudit.pug
//-Configuración y variables globales del proyecto
include ../config/_variables
//-
    Ajustes de la configuración global para esta sección
- global_path = '../'
//-
    Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
    Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Naudit'
- metadata['description'] = 'Software enfocado y especializado al análisis de redes.'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Desarrollo de software, bajo demanda, on demand, soluciones Desarrollo de software'
- var landing = 'desarrollo'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_naudit + 'sitio_naudit_bannersuperior.jpg'
- local.images['banner2'] = global_path + images.products_naudit + 'sitio_sellcom_naudit.jpg'
//- Servicios
- local.images['flexitop'] = global_path + images.products_naudit + 'naudit_flexi_portafolio.png'
- local.images['videomon'] = global_path + images.products_naudit + 'naudit_videomon_portafolio.png'
- local.images['rtp'] = global_path + images.products_naudit + 'naudit_tracker_portafolio.png'
- local.images['qol'] = global_path + images.products_naudit + 'naudit_niveles_portafolio.png'
- local.images['detect'] = global_path + images.products_naudit + 'naudit_detect_portafolio.png'

//- Beneficios
- local.images['adaptabilidad'] = global_path + images.products_naudit + 'naudit_adaptabilidad_beneficios.png'
- local.images['analisis'] = global_path + images.products_naudit + 'naudit_analisis_beneficios.png'
- local.images['costo'] = global_path + images.products_naudit + 'naudit_costo_beneficios.png'
- local.images['decision'] = global_path + images.products_naudit + 'naudit_decision_beneficios.png'
- local.images['innovacion'] = global_path + images.products_naudit + 'naudit_innovacion_beneficios.png'
- local.images['monitoreo'] = global_path + images.products_naudit + 'naudit_monitoreo_beneficios.png'
- local.images['niveles'] = global_path + images.products_naudit + 'naudit_niveles_beneficios.png'
- local.images['seguridad'] = global_path + images.products_naudit + 'naudit_seguridad_beneficios.png'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Naudit_Whithepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'Naudit_Caso_de_Uso.pdf'

doctype html
html(lang=site.lang)
    include ../template/_head
    body
        include ../template/_header
        section.section-banner-dass
            img.banner(src=local.images.banner, alt="banner")
            .container
                .content
                    br
                    .title-sections
                        h1 Naudit
                    p Software enfocado y especializado al análisis de redes.
        section.section-about-dass#dass
            .container
                .row
                    .col-12
                        .title-sections-text
                            h3 ¿Qué es Naudit?
                            p Naudit es una de las start-ups tecnológicas con mayor proyección y potencial del panorama internacional en monitorización avanzada de red y datos. Su orientación innovadora viene dada por un equipo de doctores e ingenieros en telecomunicaciones, informática y matemáticas con una elevada capacidad analítica y técnica. Además, dispone de una visión realista del mundo empresarial que aportan antiguos directivos de compañías multinacionales a lo largo de su carrera profesional. Somos conocimiento, experiencia e innovación, somos naudit.
                        ul
                            li
                                strong FLEXITOP
                                img(src=local.images.flexitop, alt="Flexitop")
                                p Toda la solución necesaria en términos de Sistema Operativo.
                            li
                                strong VIDEOMON
                                img(src=local.images.videomon, alt="Videomon")
                                p Análisis destinada a monitorizar de forma pasiva flujos de vídeo.
                            li
                                strong RTP-TRACKER
                                img(src=local.images.rtp, alt="RTP-Tracker")
                                p Gestión de tráfico VoIP que permite monitorizar, grabar y calcular parámetros estadísticos de las llamadas.
                            li
                                strong QOS-POLL
                                img(src=local.images.qol, alt="Qos-poll")
                                p Análisis de Niveles de servicios de Red.
                            li
                                strong DETECT-PRO
                                img(src=local.images.detect, alt="Detect-pro")
                                p Mide el trafico por medio del uso de la tecnología de tarjetas de red.
        section.section-implementDass#beneficios
            .container
                .row
                    .col-10.middle
                        .title-sections-text
                            h3 ¿Por qué implementar Naudit?
                            p Beneficios:
                        ul
                            li
                                img(src=local.images.seguridad, alt="seguridad")
                                p SEGURIDAD
                            li
                                img(src=local.images.analisis, alt="analisis")
                                p ANÁLISIS
                            li
                                img(src=local.images.decision, alt="toma de decisiones")
                                p TOMA DE DECISIONES
                            li
                                img(src=local.images.niveles, alt="niveles de servicio")
                                p NIVELES DE SERVICIO
                            li
                                img(src=local.images.innovacion, alt="innovación")
                                p INNOVACIÓN
                            li
                                img(src=local.images.monitoreo, alt="monitoreo")
                                p MONITOREO
                            li
                                img(src=local.images.adaptabilidad, alt="adaptabilidad")
                                p ADAPTABILIDAD
                            li
                                img(src=local.images.costo, alt="bajo costo")
                                p BAJO COSTO
        section.section-subtitle#soluciones
            .container
                .row
                    .col-10.middle
                        .title-sections
                            h3 Conoce nuestra solución
        .flotante
            a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
                img(src=local.images.whitepaper, alt="big data" )
            a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
                img(src=local.images.casodeuso, alt="big data")
        section.section-why-dass
            img(src=local.images.banner2, alt="solución conoce")
            .container
                .row
                    .col-6.bgcircle
                        p Naudit es la combinación equilibrada de talento, herramientas y metodología:
                        p Diagnósticos y análisis independientes: Basados en hechos, no en síntomas, independientes de fabricantes, de operadores y de empresas de outsourcing.
                        p Todos los datos y las evidencias: Toda la información está disponible; las conclusiones de los análisis se acompañan de evidencias.
                        p Herramientas escalables y a un coste fijo: Las herramientas forman parte del servicio; pueden desplegarse tantas ocurrencias como sea preciso, sin coste extra.
        include ../template/_footer
        if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
        script(type="text/javascript" src=section_scripts[current_profile][i])

dist/dev/sections/naudit.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Naudit</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Software enfocado y especializado al análisis de redes.">
    <meta name="keywords" content="Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Desarrollo de software, bajo demanda, on demand, soluciones Desarrollo de software">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-banner-dass"><img class="banner" src="../images/products_naudit/sitio_naudit_bannersuperior.jpg" alt="banner">
      <div class="container">
        <div class="content"><br>
          <div class="title-sections">
            <h1>Naudit</h1>
          </div>
          <p>Software enfocado y especializado al análisis de redes.</p>
        </div>
      </div>
    </section>
    <section class="section-about-dass" id="dass">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="title-sections-text">
              <h3>¿Qué es Naudit?</h3>
              <p>Naudit es una de las start-ups tecnológicas con mayor proyección y potencial del panorama internacional en monitorización avanzada de red y datos. Su orientación innovadora viene dada por un equipo de doctores e ingenieros en telecomunicaciones, informática y matemáticas con una elevada capacidad analítica y técnica. Además, dispone de una visión realista del mundo empresarial que aportan antiguos directivos de compañías multinacionales a lo largo de su carrera profesional. Somos conocimiento, experiencia e innovación, somos naudit.</p>
            </div>
            <ul>
              <li><strong>FLEXITOP</strong><img src="../images/products_naudit/naudit_flexi_portafolio.png" alt="Flexitop">
                <p>Toda la solución necesaria en términos de Sistema Operativo.</p>
              </li>
              <li><strong>VIDEOMON</strong><img src="../images/products_naudit/naudit_videomon_portafolio.png" alt="Videomon">
                <p>Análisis destinada a monitorizar de forma pasiva flujos de vídeo.</p>
              </li>
              <li><strong>RTP-TRACKER</strong><img src="../images/products_naudit/naudit_tracker_portafolio.png" alt="RTP-Tracker">
                <p>Gestión de tráfico VoIP que permite monitorizar, grabar y calcular parámetros estadísticos de las llamadas.</p>
              </li>
              <li><strong>QOS-POLL</strong><img src="../images/products_naudit/naudit_niveles_portafolio.png" alt="Qos-poll">
                <p>Análisis de Niveles de servicios de Red.</p>
              </li>
              <li><strong>DETECT-PRO</strong><img src="../images/products_naudit/naudit_detect_portafolio.png" alt="Detect-pro">
                <p>Mide el trafico por medio del uso de la tecnología de tarjetas de red.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section-implementDass" id="beneficios">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections-text">
              <h3>¿Por qué implementar Naudit?</h3>
              <p>Beneficios:</p>
            </div>
            <ul>
              <li><img src="../images/products_naudit/naudit_seguridad_beneficios.png" alt="seguridad">
                <p>SEGURIDAD</p>
              </li>
              <li><img src="../images/products_naudit/naudit_analisis_beneficios.png" alt="analisis">
                <p>ANÁLISIS</p>
              </li>
              <li><img src="../images/products_naudit/naudit_decision_beneficios.png" alt="toma de decisiones">
                <p>TOMA DE DECISIONES</p>
              </li>
              <li><img src="../images/products_naudit/naudit_niveles_beneficios.png" alt="niveles de servicio">
                <p>NIVELES DE SERVICIO</p>
              </li>
              <li><img src="../images/products_naudit/naudit_innovacion_beneficios.png" alt="innovación">
                <p>INNOVACIÓN</p>
              </li>
              <li><img src="../images/products_naudit/naudit_monitoreo_beneficios.png" alt="monitoreo">
                <p>MONITOREO</p>
              </li>
              <li><img src="../images/products_naudit/naudit_adaptabilidad_beneficios.png" alt="adaptabilidad">
                <p>ADAPTABILIDAD</p>
              </li>
              <li><img src="../images/products_naudit/naudit_costo_beneficios.png" alt="bajo costo">
                <p>BAJO COSTO</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section-subtitle" id="soluciones">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections">
              <h3>Conoce nuestra solución</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="flotante"><a class="whitepage" href="../documents/Naudit_Whithepaper.pdf" dowloand target="_blank" title="Descargar white paper"><img src="../images/global/whitepaper.png" alt="big data"></a><a class="caseofuse" href="../documents/Naudit_Caso_de_Uso.pdf" dowloand target="_blank" title="Descargar casos de uso"><img src="../images/global/casodeuso.png" alt="big data"></a></div>
    <section class="section-why-dass"><img src="../images/products_naudit/sitio_sellcom_naudit.jpg" alt="solución conoce">
      <div class="container">
        <div class="row">
          <div class="col-6 bgcircle">
            <p>Naudit es la combinación equilibrada de talento, herramientas y metodología:</p>
            <p>Diagnósticos y análisis independientes: Basados en hechos, no en síntomas, independientes de fabricantes, de operadores y de empresas de outsourcing.</p>
            <p>Todos los datos y las evidencias: Toda la información está disponible; las conclusiones de los análisis se acompañan de evidencias.</p>
            <p>Herramientas escalables y a un coste fijo: Las herramientas forman parte del servicio; pueden desplegarse tantas ocurrencias como sea preciso, sin coste extra.</p>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/libs/jquery.validate.js"></script>
    <script src="../js/libs/jquery.file.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/sellcom_dass.js"></script>
    <script src="../js/controllers/downloads.js"></script>
    <script src="../js/controllers/form.js"></script>
  </body>
</html>
<script type="text/javascript" src="../js/libs/jquery.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<script type="text/javascript" src="../js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../js/libs/jquery.file.js"></script>
<script type="text/javascript" src="../js/plugins/slick.js"></script>
<script type="text/javascript" src="../js/controllers/sellcom_dass.js"></script>
<script type="text/javascript" src="../js/controllers/downloads.js"></script>
<script type="text/javascript" src="../js/controllers/form.js"></script>
