src/html/sections/netapp.pug
//-Configuración y variables globales del proyecto
include ../config/_variables
//-
    Ajustes de la configuración global para esta sección
- global_path = '../'
//-
    Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
    Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - NetApp'
- metadata['description'] = 'Impulsa los resultados de tu empresa de forma más rápida en entornos de nube y núcleos con la carpeta integral de NetApp.'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, plataforma, gestión de datos , Innovación, Empresas, Negocios, migración, base de datos, almacenamiento, Cloud, hibrido, Nube, sistemas,sistema all-flash, NetApp, transformación digital, soluciones NetApp'
- var landing = 'netapp'

- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_huawei + 'bannerprincipal.jpg'
//- Servicios
- local.images['migracion'] = global_path + images.products_netapp + 'servicio_migracion.png'
- local.images['proteccion'] = global_path + images.products_netapp + 'servicio_proteccion.png'
- local.images['datos'] = global_path + images.products_netapp + 'servicio_datos.png'
- local.images['almacenamiento'] = global_path + images.products_netapp + 'servicio_almacenamiento.png'

//- Microsite


//- Beneficios
- local.images['archivos'] = global_path + images.products_netapp + 'beneficio_archivos.png'
- local.images['computacion'] = global_path + images.products_netapp + 'beneficio_computacion.png'
- local.images['nube'] = global_path + images.products_netapp + 'beneficio_nube.png'


- local.images['solucion'] = global_path + images.products_netapp + 'solucion.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Huawei_Whitepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'Huawei_casos_de_uso.pdf'

doctype html
html(lang=site.lang)
    include ../template/_head
    body
        include ../template/_header
        //- section.section-video-dass
        //- 	img(src=local.images.banner, alt="Dass")
        //- 	.boxVideo
        //- 		video#secondVideo(autoplay loop muted)
        //- 			source(src="../images/video/huawei.mp4" type="video/mp4")
        //- 	.information-video
        //- 		.container
        //- 			h1 Huawei
        //- 			h2 Huawei
        //- 			p Todos los componentes a rededor de tus dispositivos los ponemos a tu alcance.
        section.section-video-dass
            img.banner(src=local.images.banner, alt="banner")
            .boxVideo
                video#secondVideo(autoplay loop muted)
                    source(src="../images/video/NetApp.mp4" type="video/mp4")
            .container
                .content
                    br
                    .title-sections
                        h1 NetApp
                    p Impulse las aplicaciones de su empresa y entregue proyectos de forma más rápida en entornos de nube, núcleos y extremo con la carpeta integral de NetApp.
        section.section-about-dass#dass
            .container
                .row
                    .col-12
                        .title-sections-text
                            h3 ¿Qué es NetApp?
                            p Plataforma que ofrece soluciones de gestión de datos que ayudan a aprovechar todo el potencial de sus datos.
                        ul
                            li
                                strong Migración de datos
                                img#imagen(src=local.images.migracion, alt="migracion")
                                p Mudarse a la nube es muy atractivo por muchas razones. Pero mover datos a la nube o viceversa puede ser un desafío 
                            li
                                strong Protección de datos
                                img#imagen(src=local.images.proteccion, alt="proteccion")
                                p Las aplicaciones nativas en la nube y los servicios de almacenamiento son bastante robustos.
                            li
                                strong Bases de datos
                                img#imagen(src=local.images.datos, alt="datos")
                                p Las bases de datos o aplicaciones basadas en Oracle son algunos de los motores de bases de datos.
                            li
                                strong Almacenamiento en bloques
                                img#imagen(src=local.images.almacenamiento, alt="almacenamiento")
                                p El almacenamiento compartido es un gran enfoque para permitir el acceso a datos en la nube 
                            //-li
                                strong Cómputo en Nubes Híbridas
                                img(src=local.images.nubes, alt="nubes")
                                p Acceso horizontal/vertical y convergencia de datos.
                           
        section.microsite-container-vmware
            .container
                .row
                    .col-12
                        .title-sections-text
                            h3 Productos
                            p Conoce los productos NetApp que Sellcom Solutions te ofrece.
                    .col-10.middle
                        section.tabs
                            input#tab-1.tab-selector-1(type='radio', name='radio-set', checked='checked')
                            label.tab-label-1(for='tab-1') Backup y recuperación
                            input#tab-2.tab-selector-2(type='radio', name='radio-set')
                            label.tab-label-2(for='tab-2') Sistemas de all-flash
                            input#tab-3.tab-selector-3(type='radio', name='radio-set')
                            label.tab-label-3(for='tab-3') Sistemas Convergentes
                            input#tab-4.tab-selector-4(type='radio', name='radio-set')
                            label.tab-label-4(for='tab-4') Software FlexArray
 
                            
                            .clear-shadow
                            .content
                                .dash.content-1
                                    row
                                        .col-12
                                            h2.txt-center
                                                strong Proteja sus datos en el cloud híbrido. Encuentre los productos, las soluciones y las colaboraciones que necesita.
                                    row  
                                        .col-10.middle
                                            p Implemente un backup integral desde la periferia al cloud con una potente protección de datos integrada. Busque y recupere con facilidad los datos perdidos con una interfaz de gestión nativa en el cloud. Despliegue todo el potencial que tienen sus datos mediante la creación de copias activas en el cloud.

                                    //-row  
                                        .col-10.middle
                                            p Una arquitectura tradicional de tres niveles resulta cara de implementar, su funcionamiento es complejo y su escalabilidad, difícil. No espere a que la infraestructura de TI responda a los requisitos de las aplicaciones. Adopte la HCI sin perder el control, aumentar costes o renunciar a la seguridad.
                                .dash.content-2
                                    row
                                           h2.txt-center 
                                            strong Sistemas de almacenamiento all-flash Potencia en estado sólido.
                                    row
                                        .col-12
                                            h3 AFF A-Series 
                                        .col-10.middle
                                            p Modernice y simplifique su almacenamiento. Las cabinas all-flash AFF A-Series combinan las mejores funcionalidades de gestión de datos, eficiencia y rendimiento del sector con una perfecta conectividad con el cloud.

                                    row
                                        .col-12
                                            h3 Solid Fire.
                                        .col-10.middle
                                            p Las cabinas all-flash SolidFire sacan el máximo provecho de la API de Element para potenciar su cloud privado a escala. 

                                    row
                                        .col-12
                                            h3 EF-Series.
                                        .col-10.middle
                                            p Las cabinas all-flash EF-Series ofrecen tiempos de respuesta rápidos y constantes que permiten acelerar las bases de datos, la computación de alto rendimiento y las cargas de trabajo de análisis.
                                    
                                    row
                                        .col-12
                                            h3 Gestión de claves de cifrado.
                                        .col-10.middle
                                            p Refuerce y simplifique la gestión del cifrado de datos empresariales KeySecure de Gemalto SafeNet proporcionado por Gemalto ofrece un sistema de gestión de claves seguro, automatizado y centralizado. Almacene y gestione claves de cifrado de datos para cientos o miles de dispositivos y terminales de cifrado.

                                .dash.content-3
                                    row
                                        .col-12
                                        h2.txt-center 
                                            strong Potencia en estado sólido.
                                      
                                    row
                                        .col-12
                                            h3 Infraestructura convergente.    
                                        .col-10.middle
                                            p Modernice la gestión de sus datos. Las arquitecturas prevalidadas con FlexPod ofrecen cero tiempo de inactividad planificado desde el primer minuto.
                                    row
                                        .col-12
                                            h3 Infraestructura Hiperconvergente.    
                                        .col-10.middle
                                            p HCI de NetApp® acaba con los silos de aplicaciones. Consolide varias aplicaciones en un único sistema con rendimiento predecible al nivel de su empresa.
                                    row
                                        .col-12
                                            h3 Infraestructura de nueva generación.    
                                        .col-10.middle
                                            p Las soluciones FlexPod SF garantizan acuerdos de nivel de servicio para aplicaciones, cargas de trabajo e inquilinos en toda su infraestructura. Ejecute cargas de trabajo cada vez mayores para cumplir las demandas de su negocio y los constantes cambios que se producen en ellas.

                                .dash.content-4
                                    row
                                        .col-12
                                        h2.txt-center 
                                            strong Software de virtualización del almacenamiento FlexArray
                                            br
                                            strong Unifique con ONTAP. Saque más partido de sus cabinas de almacenamiento actuales.    
                                    row
                                        .col-12
                                            h3 Benefíciese de las funciones de gestión de datos más sólidas. 
                                    row  
                                        .col-10.middle
                                             ul
                                                    li 
                                                        p -Agregue la compatibilidad con cargas de trabajo NAS.
                                                    li 
                                                        p -Consiga la seguridad y la protección de datos integradas de ONTAP®.
                                                    li 
                                                        p -Acelere las fases de desarrollo y pruebas con una copia instantánea de los datos.
                                                    li 
                                                        p -Proporcione una disponibilidad de datos continua para aplicaciones críticas.
                                    row
                                        .col-12
                                            h3 Simplifique las operaciones tecnológicas. 
                                    row  
                                        .col-10.middle
                                             ul
                                                    li 
                                                        p -Realice las tareas de mantenimiento durante el horario normal de trabajo.
                                                    li 
                                                        p -Elimine los silos de almacenamiento.
                                                    li 
                                                        p -Cree un pool de almacenamiento que abarque el cloud híbrido.
                                                    li 
                                                        p -Reduzca los requisitos de capacidad con la reducción de datos online.
                                    row
                                        .col-12
                                            h3 Maximice sus inversiones en las cabinas de almacenamiento actuales.
                                        .col-10.middle
                                            p El software de virtualización FlexArray de NetApp® le permite usar cabinas EMC, HP, Hitachi, IBM y E-Series de NetApp como capacidad de almacenamiento en un entorno ONTAP.
                                   
        section.section-implementDass#beneficios
            .container
                .row
                    .col-10.middle
                        .title-sections-text
                            h3 ¿Por qué implementar NetApp?
                            p Beneficios:
                        ul
                            li
                                img(src=local.images.computacion, alt="computacion")
                                p Computación de alto rendimiento
                                p Las cargas de trabajo de alto rendimiento muy específicas pueden enfrentar desafíos al pasar a la nube. 
                            li
                                img(src=local.images.archivos, alt="archivos")
                                p Servicios de archivos
                                p Si bien las aplicaciones de Linux se ejecutan bien en la nube, el proceso de migración de Linux de las instalaciones a la nube está lleno de obstáculos. 
                            li
                                img(src=local.images.nube, alt="nube")
                                p Aplicaciones nativas en nube.
                                p Los contenedores desplegados con Kubernetes están ayudando a acelerar el desarrollo y la entrega de nuevas aplicaciones nativas de la nube 
                            //-li
                                img(src=local.images.asociado, alt="asociado")
                                p Servicios de SW asociado a la infraestructura.
                           
        section.section-subtitle#soluciones
            .container
                .row
                    .col-10.middle
                        .title-sections
                            h3 Conoce nuestra solución
        //-.flotante
            a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
                img(src=local.images.whitepaper, alt="big data" )
            a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
                img(src=local.images.casodeuso, alt="big data")
        section.section-why-dass
            img(src=local.images.solucion, alt="solucion conoce")
            .container
                .row
                    .col-6.bgcircle
                        p Tendrás un amplio abanico de soluciones para tu infraestructura de datos con lo que podrás tomar el control y simplificar la gestión de datos en los clouds y entornos locales para acelerar la transformación digital de tu empresa.
                        p Con enfrentar desafíos al pasar a la nube. La E / S de alta velocidad que es fundamental para estas cargas de trabajo y está disponible en las instalaciones a menudo no se encuentra en los servicios en la nube.
        include ../template/_footer
        if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
        script(type="text/javascript" src=section_scripts[current_profile][i])

dist/dev/sections/netapp.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - NetApp</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Impulsa los resultados de tu empresa de forma más rápida en entornos de nube y núcleos con la carpeta integral de NetApp.">
    <meta name="keywords" content="Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, plataforma, gestión de datos , Innovación, Empresas, Negocios, migración, base de datos, almacenamiento, Cloud, hibrido, Nube, sistemas,sistema all-flash, NetApp, transformación digital, soluciones NetApp">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-video-dass"><img class="banner" src="../images/products_huawei/bannerprincipal.jpg" alt="banner">
      <div class="boxVideo">
        <video id="secondVideo" autoplay loop muted>
          <source src="../images/video/NetApp.mp4" type="video/mp4">
        </video>
      </div>
      <div class="container">
        <div class="content"><br>
          <div class="title-sections">
            <h1>NetApp</h1>
          </div>
          <p>Impulse las aplicaciones de su empresa y entregue proyectos de forma más rápida en entornos de nube, núcleos y extremo con la carpeta integral de NetApp.</p>
        </div>
      </div>
    </section>
    <section class="section-about-dass" id="dass">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="title-sections-text">
              <h3>¿Qué es NetApp?</h3>
              <p>Plataforma que ofrece soluciones de gestión de datos que ayudan a aprovechar todo el potencial de sus datos.</p>
            </div>
            <ul>
              <li><strong>Migración de datos</strong><img id="imagen" src="../images/products_netapp/servicio_migracion.png" alt="migracion">
                <p>Mudarse a la nube es muy atractivo por muchas razones. Pero mover datos a la nube o viceversa puede ser un desafío </p>
              </li>
              <li><strong>Protección de datos</strong><img id="imagen" src="../images/products_netapp/servicio_proteccion.png" alt="proteccion">
                <p>Las aplicaciones nativas en la nube y los servicios de almacenamiento son bastante robustos.</p>
              </li>
              <li><strong>Bases de datos</strong><img id="imagen" src="../images/products_netapp/servicio_datos.png" alt="datos">
                <p>Las bases de datos o aplicaciones basadas en Oracle son algunos de los motores de bases de datos.</p>
              </li>
              <li><strong>Almacenamiento en bloques</strong><img id="imagen" src="../images/products_netapp/servicio_almacenamiento.png" alt="almacenamiento">
                <p>El almacenamiento compartido es un gran enfoque para permitir el acceso a datos en la nube </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="microsite-container-vmware">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="title-sections-text">
              <h3>Productos</h3>
              <p>Conoce los productos NetApp que Sellcom Solutions te ofrece.</p>
            </div>
          </div>
          <div class="col-10 middle">
            <section class="tabs">
              <input class="tab-selector-1" id="tab-1" type="radio" name="radio-set" checked="checked">
              <label class="tab-label-1" for="tab-1">Backup y recuperación</label>
              <input class="tab-selector-2" id="tab-2" type="radio" name="radio-set">
              <label class="tab-label-2" for="tab-2">Sistemas de all-flash</label>
              <input class="tab-selector-3" id="tab-3" type="radio" name="radio-set">
              <label class="tab-label-3" for="tab-3">Sistemas Convergentes</label>
              <input class="tab-selector-4" id="tab-4" type="radio" name="radio-set">
              <label class="tab-label-4" for="tab-4">Software FlexArray</label>
              <div class="clear-shadow"></div>
              <div class="content">
                <div class="dash content-1">
                  <row>
                    <div class="col-12">
                      <h2 class="txt-center"><strong>Proteja sus datos en el cloud híbrido. Encuentre los productos, las soluciones y las colaboraciones que necesita.</strong></h2>
                    </div>
                  </row>
                  <row> 
                    <div class="col-10 middle">
                      <p>Implemente un backup integral desde la periferia al cloud con una potente protección de datos integrada. Busque y recupere con facilidad los datos perdidos con una interfaz de gestión nativa en el cloud. Despliegue todo el potencial que tienen sus datos mediante la creación de copias activas en el cloud.</p>
                    </div>
                  </row>
                </div>
                <div class="dash content-2">
                  <row>
                    <h2 class="txt-center"> <strong>Sistemas de almacenamiento all-flash Potencia en estado sólido.</strong></h2>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>AFF A-Series </h3>
                    </div>
                    <div class="col-10 middle">
                      <p>Modernice y simplifique su almacenamiento. Las cabinas all-flash AFF A-Series combinan las mejores funcionalidades de gestión de datos, eficiencia y rendimiento del sector con una perfecta conectividad con el cloud.</p>
                    </div>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>Solid Fire.</h3>
                    </div>
                    <div class="col-10 middle">
                      <p>Las cabinas all-flash SolidFire sacan el máximo provecho de la API de Element para potenciar su cloud privado a escala. </p>
                    </div>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>EF-Series.</h3>
                    </div>
                    <div class="col-10 middle">
                      <p>Las cabinas all-flash EF-Series ofrecen tiempos de respuesta rápidos y constantes que permiten acelerar las bases de datos, la computación de alto rendimiento y las cargas de trabajo de análisis.</p>
                    </div>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>Gestión de claves de cifrado.</h3>
                    </div>
                    <div class="col-10 middle">
                      <p>Refuerce y simplifique la gestión del cifrado de datos empresariales KeySecure de Gemalto SafeNet proporcionado por Gemalto ofrece un sistema de gestión de claves seguro, automatizado y centralizado. Almacene y gestione claves de cifrado de datos para cientos o miles de dispositivos y terminales de cifrado.</p>
                    </div>
                  </row>
                </div>
                <div class="dash content-3">
                  <row>
                    <div class="col-12"></div>
                    <h2 class="txt-center"> <strong>Potencia en estado sólido.</strong></h2>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>Infraestructura convergente.    </h3>
                    </div>
                    <div class="col-10 middle">
                      <p>Modernice la gestión de sus datos. Las arquitecturas prevalidadas con FlexPod ofrecen cero tiempo de inactividad planificado desde el primer minuto.</p>
                    </div>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>Infraestructura Hiperconvergente.    </h3>
                    </div>
                    <div class="col-10 middle">
                      <p>HCI de NetApp® acaba con los silos de aplicaciones. Consolide varias aplicaciones en un único sistema con rendimiento predecible al nivel de su empresa.</p>
                    </div>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>Infraestructura de nueva generación.    </h3>
                    </div>
                    <div class="col-10 middle">
                      <p>Las soluciones FlexPod SF garantizan acuerdos de nivel de servicio para aplicaciones, cargas de trabajo e inquilinos en toda su infraestructura. Ejecute cargas de trabajo cada vez mayores para cumplir las demandas de su negocio y los constantes cambios que se producen en ellas.</p>
                    </div>
                  </row>
                </div>
                <div class="dash content-4">
                  <row>
                    <div class="col-12"></div>
                    <h2 class="txt-center"> <strong>Software de virtualización del almacenamiento FlexArray</strong><br><strong>Unifique con ONTAP. Saque más partido de sus cabinas de almacenamiento actuales.    </strong></h2>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>Benefíciese de las funciones de gestión de datos más sólidas. </h3>
                    </div>
                  </row>
                  <row> 
                    <div class="col-10 middle">
                      <ul>
                        <li> 
                          <p>-Agregue la compatibilidad con cargas de trabajo NAS.</p>
                        </li>
                        <li> 
                          <p>-Consiga la seguridad y la protección de datos integradas de ONTAP®.</p>
                        </li>
                        <li> 
                          <p>-Acelere las fases de desarrollo y pruebas con una copia instantánea de los datos.</p>
                        </li>
                        <li> 
                          <p>-Proporcione una disponibilidad de datos continua para aplicaciones críticas.</p>
                        </li>
                      </ul>
                    </div>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>Simplifique las operaciones tecnológicas. </h3>
                    </div>
                  </row>
                  <row> 
                    <div class="col-10 middle">
                      <ul>
                        <li> 
                          <p>-Realice las tareas de mantenimiento durante el horario normal de trabajo.</p>
                        </li>
                        <li> 
                          <p>-Elimine los silos de almacenamiento.</p>
                        </li>
                        <li> 
                          <p>-Cree un pool de almacenamiento que abarque el cloud híbrido.</p>
                        </li>
                        <li> 
                          <p>-Reduzca los requisitos de capacidad con la reducción de datos online.</p>
                        </li>
                      </ul>
                    </div>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>Maximice sus inversiones en las cabinas de almacenamiento actuales.</h3>
                    </div>
                    <div class="col-10 middle">
                      <p>El software de virtualización FlexArray de NetApp® le permite usar cabinas EMC, HP, Hitachi, IBM y E-Series de NetApp como capacidad de almacenamiento en un entorno ONTAP.</p>
                    </div>
                  </row>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </section>
    <section class="section-implementDass" id="beneficios">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections-text">
              <h3>¿Por qué implementar NetApp?</h3>
              <p>Beneficios:</p>
            </div>
            <ul>
              <li><img src="../images/products_netapp/beneficio_computacion.png" alt="computacion">
                <p>Computación de alto rendimiento</p>
                <p>Las cargas de trabajo de alto rendimiento muy específicas pueden enfrentar desafíos al pasar a la nube. </p>
              </li>
              <li><img src="../images/products_netapp/beneficio_archivos.png" alt="archivos">
                <p>Servicios de archivos</p>
                <p>Si bien las aplicaciones de Linux se ejecutan bien en la nube, el proceso de migración de Linux de las instalaciones a la nube está lleno de obstáculos. </p>
              </li>
              <li><img src="../images/products_netapp/beneficio_nube.png" alt="nube">
                <p>Aplicaciones nativas en nube.</p>
                <p>Los contenedores desplegados con Kubernetes están ayudando a acelerar el desarrollo y la entrega de nuevas aplicaciones nativas de la nube </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section-subtitle" id="soluciones">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections">
              <h3>Conoce nuestra solución</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-why-dass"><img src="../images/products_netapp/solucion.jpg" alt="solucion conoce">
      <div class="container">
        <div class="row">
          <div class="col-6 bgcircle">
            <p>Tendrás un amplio abanico de soluciones para tu infraestructura de datos con lo que podrás tomar el control y simplificar la gestión de datos en los clouds y entornos locales para acelerar la transformación digital de tu empresa.</p>
            <p>Con enfrentar desafíos al pasar a la nube. La E / S de alta velocidad que es fundamental para estas cargas de trabajo y está disponible en las instalaciones a menudo no se encuentra en los servicios en la nube.</p>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/libs/jquery.validate.js"></script>
    <script src="../js/libs/jquery.file.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/sellcom_dass.js"></script>
    <script src="../js/controllers/downloads.js"></script>
    <script src="../js/controllers/form.js"></script>
  </body>
</html>
<script type="text/javascript" src="../js/libs/jquery.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<script type="text/javascript" src="../js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../js/libs/jquery.file.js"></script>
<script type="text/javascript" src="../js/plugins/slick.js"></script>
<script type="text/javascript" src="../js/controllers/sellcom_dass.js"></script>
<script type="text/javascript" src="../js/controllers/downloads.js"></script>
<script type="text/javascript" src="../js/controllers/form.js"></script>
