src/html/sections/networking.pug
//-Configuración y variables globales del proyecto
include ../config/_variables
//-
    Ajustes de la configuración global para esta sección
- global_path = '../'
//-
    Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
    Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Networking'
- metadata['description'] = 'Nos especializamos en el desarrollo e implementación de soluciones escalables que maximizan su inversión en TI y se alinean con sus objetivos de negocio.'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, plataforma, gestión de datos , Innovación, Empresas, Negocios, migración, base de datos, almacenamiento, Cloud, hibrido, Nube, sistemas,sistema all-flash, NetApp, transformación digital, soluciones NetApp'
- var landing = 'networking'

- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_huawei + 'bannerprincipal.jpg'
//- Servicios
- local.images['migracion'] = global_path + images.products_netapp + 'servicio_migracion.png'
- local.images['proteccion'] = global_path + images.products_netapp + 'servicio_proteccion.png'
- local.images['datos'] = global_path + images.products_netapp + 'servicio_datos.png'
- local.images['almacenamiento'] = global_path + images.products_netapp + 'servicio_almacenamiento.png'

//- Microsite


//- Beneficios
- local.images['archivos'] = global_path + images.products_netapp + 'beneficio_archivos.png'
- local.images['computacion'] = global_path + images.products_netapp + 'beneficio_computacion.png'
- local.images['nube'] = global_path + images.products_netapp + 'beneficio_nube.png'


- local.images['solucion'] = global_path + images.products_netapp + 'solucion.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Huawei_Whitepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'Huawei_casos_de_uso.pdf'

//- Imagenes del nuevo sitio
- local.images['news'] = global_path + images.products_netapp + 'verticales_soluciones_news.png'
- local.images['seguridad'] = global_path + images.products_netapp + 'verticales_soluciones_seguridad.png'
- local.images['auditoria'] = global_path + images.products_netapp + 'verticales_soluciones_auditoria.png'
- local.images['operacion'] = global_path + images.products_netapp + 'verticales_soluciones_operacion.png'
- local.images['control'] = global_path + images.products_netapp + 'vertical_soluciones_control.png'
- local.images['dispositivo'] = global_path + images.products_netapp + 'vertical_soluciones_dispositivo.png'
- local.images['banner'] = global_path + images.products_netapp + 'vertical_soluciones_banner.png'
- local.images['medio'] = global_path + images.products_netapp + 'vertical_soluciones_medio.png'
- local.images['fondo'] = global_path + images.products_netapp + 'vertical_soluciones_fondo.png'



doctype html
html(lang=site.lang)
    include ../template/_head
    body
        include ../template/_header
        section.section-banner-dass-vertical.mundo
            .banner-vr
                .container
                    .content.algo
                        br
                        .title-sections
                        h1 NET#[span.green WORKING]
                        //-p PREPÁRESE PARA UN NUEVO ENFOQUE DE RECILENCIA CIBERNÉTICA
                        P En las empresas de hoy en día la red no sólo proporciona conectividad, sino que también ofrece una ventaja competitiva al permitirles desplegar con éxito las tecnologías actuales de los centros de datos como HCI y Big Data, así como permitir a los clientes y empleados acceder a la empresa desde cualquier lugar y en cualquier momento, al tiempo que proporciona una mejor automatización y seguridad a través de hardware definido por software.      
        section.section-verticales
            .container.gris
                .row
                    .col-12
                    h1 SOLU#[span.green CIONES]
                    .col-12
                        .col-1
                            p 
                        .col-10.vertical-col
                            .col-4.icon-vertical
                                img(src=local.images.news, alt="news")
                            .col-6
                                .title-sections.txt-justify
                                    h3 #[strong Redes de Centros de Datos]
                                    h2 La columna central de tu DC
                                    p Las redes de centros de datos desempeñan un papel fundamental en el centro de datos actual, ya que interconectan todos los recursos del centro de datos entre sí, así como proporcionan interconexiones de centros de datos a otros centros de datos, ya sean privados o públicos. La aparición de HCI, de grandes soluciones de datos y de soluciones de cloud computing significa que las redes de centros de datos incluyen más funciones de software y automatización, así como un mayor ancho de banda con interconexiones, además de tener que proporcionar seguridad.
                                    p SELLCOM SOLUTIONS tiene una amplia experiencia en el diseño, la arquitectura y la implementación de las siguientes soluciones de redes de centros de datos:
                                    ul.txt-justify 
                                        li • Data center fabrics.
                                        li • Software Defined Networking.
                                        li • Storage Network.
                                        li • Structured cabling.
                                        li • Network overlays.
                                        li • Network-based security.
                                        li • Application content delivery (ACD).
                                        li • Network monitoring & optimization.
                        .col-1
                            p 
                    .col-12
                        .col-1
                            p
                        .col-10.vertical-col
                            .col-6
                                .title-sections.derecha
                                    h3 #[strong Movilidad]
                                    h2 Prepara tu red para las nuevas tendencias de BYOD y Movilidad.
                                    p.txt-justify SELLCOM SOLUTIONS define las redes de movilidad como el borde de la red donde los dispositivos se conectan a través de cable, pero más a menudo de forma inalámbrica a la red. Con el aumento de la complejidad de la red debido al incremento del número y tipo de dispositivos, Unified Network Access simplifica la conectividad, consigue un mayor rendimiento y fiabilidad a la vez que proporciona una única política de seguridad y una única gestión del cristal. Para SELLCOM SOLUTIONS Unified Network Access no se trata de un producto específico, sino más bien de cómo se diseña, asegura y gestiona su red de capa de acceso.
                                    p.txt-justify Pregúntenos sobre nuestra experiencia con las siguientes soluciones de movilidad:
                                    ul.txt-justify 
                                        li • Unified Wired & Wireless.
                                        li • Wireless-first edge networking.
                                        li • Network Access Control.
                                        li • Network monitoring & optimization.
                                       
                            .col-4.icon-vertical
                                img(src=local.images.seguridad, alt="seguridad")
                        .col-1
                            p
                    .col-12
                        .col-1
                            p
                        .col-10.vertical-col
                            .col-4.icon-vertical 
                                img(src=local.images.auditoria, alt="auditoria")
                            .col-6
                                .title-sections.txt-justify
                                    h3 #[strong WAN]
                                    h2 Moderniza tu red y la tu forma de trabajo
                                    p Un área que se beneficia del SDN es la WAN. La WAN definida por software puede permitir a las empresas obtener los beneficios de una mayor agilidad y coste, pero también otros beneficios como opciones de transporte mejores y más rentables, mejor seguridad, control inteligente de las rutas y aprovisionamiento automático.
                                    p Pregúntenos sobre nuestra experiencia con las siguientes soluciones WAN:
                                    ul.txt-justify 
                                        li • Wide Area Network.
                                        li • SD-WAN.
                                        li • Firewall & VPN.
                        .col-1
                            p 
                    .col-12
                        .col-1
                            p
                        .col-10.vertical-col
                            .col-6
                                .title-sections.derecha
                                    h3 #[strong Campus Networking]
                                    h2 Integra tecnologías para crear una red especializada de campus
                                    p.txt-justify Tradicionalmente, una red de campus constituía una interconexión de redes LAN dentro de un área geográfica. Las redes de campus actuales necesitan proporcionar capacidades multitenantasí como un transporte perfecto de redes de un extremo del campus al otro, aprovechando tecnologías como EVPN y VXLAN.
                            .col-4.icon-vertical 
                                img(src=local.images.operacion, alt="operacion")
                        .col-1
                            p 
        section.section-about-dass#dass
            .container
                .row
                    .col-12   
                        .title-sections.txt-justify
                            h3 #[strong BENEFICIOS] 
                        ul
                            li
                                //-strong Corre cualquier app a cualquier escala
                                img#imagen(src=local.images.proteccion, alt="proteccion")
                                p.txt-justify SELLCOM SOLUTIONS proporciona un enfoque holístico y definido por el software para la creación de redes, proporcionando soluciones en el Centro de Datos, Campus, Movilidad y WAN.
                            li
                                //-strong Corre cualquier app a cualquier escala
                                img#imagen(src=local.images.proteccion, alt="proteccion")
                                p.txt-justify Cumpla con la evolución de los requisitos empresariales y la creciente necesidad de más ancho de banda, seguridad y automatización.
                            li
                                //-strong Corre cualquier app a cualquier escala
                                img#imagen(src=local.images.proteccion, alt="proteccion")
                                p.txt-justify Evalúe periódicamente su infraestructura de red actual y optimiza continuamente para satisfacer las necesidades del negocio.
                            
                            li.txt-justify
                                //-strong Corre cualquier app a cualquier escala
                                img#imagen(src=local.images.proteccion, alt="proteccion")
                                p SELLCOM SOLUTIONS ayuda a los clientes a comprender las áreas de oportunidad de nuestros clientes mediante la realización de evaluaciones de red específicas o generales.
                            
        //-.flotante
            a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
                img(src=local.images.whitepaper, alt="big data" )
            a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
                img(src=local.images.casodeuso, alt="big data")
        include ../template/_footer
        if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
        script(type="text/javascript" src=section_scripts[current_profile][i])

dist/dev/sections/networking.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Networking</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Nos especializamos en el desarrollo e implementación de soluciones escalables que maximizan su inversión en TI y se alinean con sus objetivos de negocio.">
    <meta name="keywords" content="Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, plataforma, gestión de datos , Innovación, Empresas, Negocios, migración, base de datos, almacenamiento, Cloud, hibrido, Nube, sistemas,sistema all-flash, NetApp, transformación digital, soluciones NetApp">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-banner-dass-vertical mundo">
      <div class="banner-vr">
        <div class="container">
          <div class="content algo"><br>
            <div class="title-sections"></div>
            <h1>NET<span class="green">WORKING</span></h1>
            <P>En las empresas de hoy en día la red no sólo proporciona conectividad, sino que también ofrece una ventaja competitiva al permitirles desplegar con éxito las tecnologías actuales de los centros de datos como HCI y Big Data, así como permitir a los clientes y empleados acceder a la empresa desde cualquier lugar y en cualquier momento, al tiempo que proporciona una mejor automatización y seguridad a través de hardware definido por software.      </P>
          </div>
        </div>
      </div>
    </section>
    <section class="section-verticales">
      <div class="container gris">
        <div class="row">
          <div class="col-12"></div>
          <h1>SOLU<span class="green">CIONES</span></h1>
          <div class="col-12">
            <div class="col-1">
              <p> </p>
            </div>
            <div class="col-10 vertical-col">
              <div class="col-4 icon-vertical"><img src="../images/products_netapp/verticales_soluciones_news.png" alt="news"></div>
              <div class="col-6">
                <div class="title-sections txt-justify">
                  <h3><strong>Redes de Centros de Datos</strong></h3>
                  <h2>La columna central de tu DC</h2>
                  <p>Las redes de centros de datos desempeñan un papel fundamental en el centro de datos actual, ya que interconectan todos los recursos del centro de datos entre sí, así como proporcionan interconexiones de centros de datos a otros centros de datos, ya sean privados o públicos. La aparición de HCI, de grandes soluciones de datos y de soluciones de cloud computing significa que las redes de centros de datos incluyen más funciones de software y automatización, así como un mayor ancho de banda con interconexiones, además de tener que proporcionar seguridad.</p>
                  <p>SELLCOM SOLUTIONS tiene una amplia experiencia en el diseño, la arquitectura y la implementación de las siguientes soluciones de redes de centros de datos:</p>
                  <ul class="txt-justify"> 
                    <li>• Data center fabrics.</li>
                    <li>• Software Defined Networking.</li>
                    <li>• Storage Network.</li>
                    <li>• Structured cabling.</li>
                    <li>• Network overlays.</li>
                    <li>• Network-based security.</li>
                    <li>• Application content delivery (ACD).</li>
                    <li>• Network monitoring & optimization.</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-1">
              <p> </p>
            </div>
          </div>
          <div class="col-12">
            <div class="col-1">
              <p></p>
            </div>
            <div class="col-10 vertical-col">
              <div class="col-6">
                <div class="title-sections derecha">
                  <h3><strong>Movilidad</strong></h3>
                  <h2>Prepara tu red para las nuevas tendencias de BYOD y Movilidad.</h2>
                  <p class="txt-justify">SELLCOM SOLUTIONS define las redes de movilidad como el borde de la red donde los dispositivos se conectan a través de cable, pero más a menudo de forma inalámbrica a la red. Con el aumento de la complejidad de la red debido al incremento del número y tipo de dispositivos, Unified Network Access simplifica la conectividad, consigue un mayor rendimiento y fiabilidad a la vez que proporciona una única política de seguridad y una única gestión del cristal. Para SELLCOM SOLUTIONS Unified Network Access no se trata de un producto específico, sino más bien de cómo se diseña, asegura y gestiona su red de capa de acceso.</p>
                  <p class="txt-justify">Pregúntenos sobre nuestra experiencia con las siguientes soluciones de movilidad:</p>
                  <ul class="txt-justify"> 
                    <li>• Unified Wired & Wireless.</li>
                    <li>• Wireless-first edge networking.</li>
                    <li>• Network Access Control.</li>
                    <li>• Network monitoring & optimization.</li>
                  </ul>
                </div>
              </div>
              <div class="col-4 icon-vertical"><img src="../images/products_netapp/verticales_soluciones_seguridad.png" alt="seguridad"></div>
            </div>
            <div class="col-1">
              <p></p>
            </div>
          </div>
          <div class="col-12">
            <div class="col-1">
              <p></p>
            </div>
            <div class="col-10 vertical-col">
              <div class="col-4 icon-vertical"> <img src="../images/products_netapp/verticales_soluciones_auditoria.png" alt="auditoria"></div>
              <div class="col-6">
                <div class="title-sections txt-justify">
                  <h3><strong>WAN</strong></h3>
                  <h2>Moderniza tu red y la tu forma de trabajo</h2>
                  <p>Un área que se beneficia del SDN es la WAN. La WAN definida por software puede permitir a las empresas obtener los beneficios de una mayor agilidad y coste, pero también otros beneficios como opciones de transporte mejores y más rentables, mejor seguridad, control inteligente de las rutas y aprovisionamiento automático.</p>
                  <p>Pregúntenos sobre nuestra experiencia con las siguientes soluciones WAN:</p>
                  <ul class="txt-justify"> 
                    <li>• Wide Area Network.</li>
                    <li>• SD-WAN.</li>
                    <li>• Firewall & VPN.</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-1">
              <p> </p>
            </div>
          </div>
          <div class="col-12">
            <div class="col-1">
              <p></p>
            </div>
            <div class="col-10 vertical-col">
              <div class="col-6">
                <div class="title-sections derecha">
                  <h3><strong>Campus Networking</strong></h3>
                  <h2>Integra tecnologías para crear una red especializada de campus</h2>
                  <p class="txt-justify">Tradicionalmente, una red de campus constituía una interconexión de redes LAN dentro de un área geográfica. Las redes de campus actuales necesitan proporcionar capacidades multitenantasí como un transporte perfecto de redes de un extremo del campus al otro, aprovechando tecnologías como EVPN y VXLAN.</p>
                </div>
              </div>
              <div class="col-4 icon-vertical"> <img src="../images/products_netapp/verticales_soluciones_operacion.png" alt="operacion"></div>
            </div>
            <div class="col-1">
              <p> </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-about-dass" id="dass">
      <div class="container">
        <div class="row">
          <div class="col-12">  
            <div class="title-sections txt-justify">
              <h3><strong>BENEFICIOS</strong> </h3>
            </div>
            <ul>
              <li><img id="imagen" src="../images/products_netapp/servicio_proteccion.png" alt="proteccion">
                <p class="txt-justify">SELLCOM SOLUTIONS proporciona un enfoque holístico y definido por el software para la creación de redes, proporcionando soluciones en el Centro de Datos, Campus, Movilidad y WAN.</p>
              </li>
              <li><img id="imagen" src="../images/products_netapp/servicio_proteccion.png" alt="proteccion">
                <p class="txt-justify">Cumpla con la evolución de los requisitos empresariales y la creciente necesidad de más ancho de banda, seguridad y automatización.</p>
              </li>
              <li><img id="imagen" src="../images/products_netapp/servicio_proteccion.png" alt="proteccion">
                <p class="txt-justify">Evalúe periódicamente su infraestructura de red actual y optimiza continuamente para satisfacer las necesidades del negocio.</p>
              </li>
              <li class="txt-justify"><img id="imagen" src="../images/products_netapp/servicio_proteccion.png" alt="proteccion">
                <p>SELLCOM SOLUTIONS ayuda a los clientes a comprender las áreas de oportunidad de nuestros clientes mediante la realización de evaluaciones de red específicas o generales.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/libs/jquery.validate.js"></script>
    <script src="../js/libs/jquery.file.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/sellcom_dass.js"></script>
    <script src="../js/controllers/downloads.js"></script>
    <script src="../js/controllers/form.js"></script>
  </body>
</html>
<script type="text/javascript" src="../js/libs/jquery.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<script type="text/javascript" src="../js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../js/libs/jquery.file.js"></script>
<script type="text/javascript" src="../js/plugins/slick.js"></script>
<script type="text/javascript" src="../js/controllers/sellcom_dass.js"></script>
<script type="text/javascript" src="../js/controllers/downloads.js"></script>
<script type="text/javascript" src="../js/controllers/form.js"></script>
