src/html/sections/nutanix.pug
//-Configuración y variables globales del proyecto
include ../config/_variables
//-
    Ajustes de la configuración global para esta sección
- global_path = '../'
//-
    Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
    Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Nutanix'
- metadata['description'] = 'Unifica las nubes privadas, públicas e híbridas y las habilítalas para correr aplicaciones y datos que empoderan tu negocio. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Financíeros,Manufactura, Virtualización, App, Datacenter, Híperconvengentes, Nutanix, plataforma, Enterpríse cloud, Acropolis, Files, Calm,Beam, soluciones Nutanix'
- var landing = 'nutanix'

- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_huawei + 'bannerprincipal.jpg'
//- Servicios
- local.images['app'] = global_path + images.products_nutanix + 'servicio_app.png'
- local.images['proteccion'] = global_path + images.products_nutanix + 'servicio_proteccion.png'
- local.images['cloudmgmt'] = global_path + images.products_nutanix + 'servicio_cloudmgmt.png'
- local.images['cloud'] = global_path + images.products_nutanix + 'servicio_cloud.png'

- local.images['servidor'] = global_path + images.products_nutanix+ 'servicio_nutanix_1.png'
- local.images['business'] = global_path + images.products_nutanix + 'servicio_business.png'

//- Microsite

//- Beneficios
- local.images['solucion'] = global_path + images.products_nutanix + 'solucion.jpg'
- local.images['rendimiento'] = global_path + images.products_nutanix + 'beneficio_rendimiento.png'
- local.images['convergencia'] = global_path + images.products_nutanix + 'beneficio_convergencia.png'
- local.images['continuo'] = global_path + images.products_nutanix + 'beneficio_continuo.png'
- local.images['reconocimiento'] = global_path + images.products_nutanix + 'beneficio_reconocimiento.png'
- local.images['almacenamiento'] = global_path + images.products_nutanix + 'beneficio_almacenamiento.png'



- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Huawei_Whitepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'Huawei_casos_de_uso.pdf'

doctype html
html(lang=site.lang)
    include ../template/_head
    body
        include ../template/_header
        //- section.section-video-dass
        //- 	img(src=local.images.banner, alt="Dass")
        //- 	.boxVideo
        //- 		video#secondVideo(autoplay loop muted)
        //- 			source(src="../images/video/huawei.mp4" type="video/mp4")
        //- 	.information-video
        //- 		.container
        //- 			h1 Huawei
        //- 			h2 Huawei
        //- 			p Todos los componentes a rededor de tus dispositivos los ponemos a tu alcance.
        section.section-video-dass
            img.banner(src=local.images.banner, alt="banner")
            .boxVideo
                video#secondVideo(autoplay loop muted)
                    source(src="../images/video/Nutanix.mp4" type="video/mp4")
            .container
                .content
                    br
                    .title-sections
                        h1 Nutanix
                    p La agilidad y sencillez de la nube pública, combinada con la seguridad y el control que requiere una nube privada.
        section.section-about-dass#dass
            .container
                .row
                    .col-10.middle
                        .title-sections-text
                            h3 ¿Qué es Nutanix?
                            p Es una solución de infraestructura que moderniza datacenters y corre aplicaciones en cualquier escala, tanto en sitio como en la nube.
                            
                            p El software de Nutanix unifica las nubes privadas, públicas e híbridas y las habilita para correr aplicaciones y datos que empoderan tu negocio.
                    .col-12     
                        ul
                            li
                                strong Corre cualquier app a cualquier escala
                                img#imagen(src=local.images.app, alt="app")
                                p Corre apps y flujos de trabajo en una plataforma sencilla con disponibilidad, ejecución y simplicidad sin par.
                            li
                                strong En cualquier industria
                                img#imagen(src=local.images.business, alt="business")
                                p Solucion diseñada en sectores como:Educación, Gobierno federal,Servicios Financieros, Salud, Manufactura y Punto de venta
                            li
                                strong Moderniza tu Datacenter
                                img#imagen(src=local.images.servidor, alt="servidor")
                                p Construye una nube empresarial con almacenamiento, cómputo virtualización y red hiperconvergentes desde su base.
                            
                            li
                                strong Protección de información y recuperación ante desastres
                                img#imagen(src=local.images.proteccion, alt="proteccion")
                                p Proteja las aplicaciones virtualizadas con un espectro completo  de copia de seguridad y recuperación integradas en Nutanix Enterprise Cloud.
                            li
                                strong Virtualización y nube
                                img#imagen(src=local.images.cloud, alt="cloud")
                                p Aporta la agilidad de la nube pública con el control y la seguridad de la infraestructura local. Las soluciones de virtualización y nube de Nutanix
                            li
                                strong Gestiona todas tus nubes
                                img#imagen(src=local.images.cloudmgmt, alt="cloudmgmt")
                                p Intercambia la ubicación de tus datos y apps sin complicaciones entre la nube pública, privada o híbrida
                            
                            

                           
                            
        section.microsite-container-nutanix
            .container
                .row
                    .col-12
                        .title-sections-text
                            h3 Productos
                            p Conoce los productos Nutanix que Sellcom Solutions te ofrece.
                    .col-10.middle
                        section.tabs
                            input#tab-1.tab-selector-1(type='radio', name='radio-set', checked='checked')
                            label.nutanix-label.tab-label-1(for='tab-1') Acropolis
                            input#tab-2.tab-selector-2(type='radio', name='radio-set')
                            label.nutanix-label.tab-label-2(for='tab-2') Beam
                            input#tab-3.tab-selector-3(type='radio', name='radio-set')
                            label.nutanix-label.tab-label-3(for='tab-3') Calm
                            input#tab-4.tab-selector-4(type='radio', name='radio-set')
                            label.nutanix-label.tab-label-4(for='tab-4') Frame
                            input#tab-5.tab-selector-5(type='radio', name='radio-set')
                            label.nutanix-label.tab-label-5(for='tab-5') Files
                            .clear-shadow
                            .content
                                .dash.content-1
                                    row
                                        .col-12
                                            h2.txt-center
                                                strong La base de la nube empresarial
                                            h2.txt-center Ejecutar cualquier aplicación a cualquier escala con una solución llave en mano
                                    row
                                        .col-12
                                            h3 Nutanix Acropolis  
                                        .col-10.middle
                                            p Provee soluciones de cómputo y almacenamiento, red, virtualización y protección que son esenciales dentro de una solución cloud. Nuestros clientes dejan atrás los silos de almacenamiento, las costosas tecnologías de virtualización y la gestión dedicada. Nuestros clientes se benefician de agilidad operativa, manteniendo al mismo tiempo, y la capacidad de elegir el hardware y el hipervisor.
                                           
                                .dash.content-2
                                    row
                                        .col-12
                                            h2.txt-center
                                                strong Govierno multi-cold
                                            h2.txt-center La gobernanza multi-cold de Nutanix para optimizar costes y mejorar el cumplimiento y la seguridad.
                                        .col-12
                                            h3 Nutanix Xi Beam   
                                        .col-10.middle
                                            p Es un servicio de optimización integrado a Nutanix Enterprise Cloud OS. Permite a las empresas tener una visión precisa y análisis detallados sobre los modelos de consumo de una nube, y les ofrece la posibilidad de optimizar costes con un solo clic de sus entornos multi-cloud.  
                                .dash.content-3
                                    row
                                        .col-12
                                        h2.txt-center 
                                            strong Gestión del ciclo de vida de las aplicaciones y orquestación multi-cloud
                                        p.txt-center Atomatización centrada en las aplicaciones de negocio.
                                    row
                                        .col-12
                                            h3 Nutanix Calm   
                                        .col-10.middle
                                            p Dota a la plataforma de nube para la empresa de las habilidades nativas de orquestación y gestión del ciclo de vida de la aplicación. Las aplicaciones se pueden automatizar para que puedan ser fácilmente desplegadas indistintamente enlas nubes privadas, públicas o híbridas. Gracias a esta orquestación, las tareas rutinarias pueden convertirse en operaciones reproducibles y automatizadas y ponerse a disposición del negocio.      
                                .dash.content-4
                                    row
                                        .col-12
                                        h2.txt-center 
                                            strong Acceso a sus aplicaciones desde su navegador web
                                        p.txt-center Una solución nativa cloud para acceder a sus aplicaciones y estaciones de trabajo.
                                    row
                                        .col-12
                                            h3 Nutanix Xi Frame 
                                        .col-10.middle
                                            p Es una plataforma única de escritorio como servicio, diseñada específicamente para su despliegue en nube. Descubra la única plataforma independiente de infraestructura para la entrega de aplicaciones y estaciones de trabajo sin bloqueo de nubes, desde cualquier lugar.
                                .dash.content-5
                                    row
                                        .col-12
                                        h2.txt-center 
                                            strong Almacena sus ficheros de forma simple y escalable 
                                        p.txt-center Con el ciclo de vida del servicio totalmente autorizado y altamente disponible.
                                    row
                                        .col-12
                                            h3 Nutanix Files    
                                        .col-10.middle
                                            p Permite desplegar ficheros de forma nativa totalmente escalable hasta decenas de miles de usuarios,así mismo se provee de una visión analítica del uso de estos ficheros así como un acceso de multiprotocolo nativo.
        section.section-implementDass.nutanix#beneficios
            .container
                .row
                    .col-10.middle
                        .title-sections-text
                            h3 ¿Por qué implementar Nutanix?
                            p Beneficios:          
                    .col-10.middle
                        ul
                            li
                                img#imagen(src=local.images.almacenamiento, alt="almacenamiento")
                                p Elimina la necesidad de una arquitectura de almacenamiento en red, como una red de área de almacenamiento o almacenamiento conectado a la red.
                            li
                                img#imagen(src=local.images.reconocimiento, alt="reconocimiento")
                                p Provee una arquitectura definida por software: la plataforma de Nutanix se ha desarrollado a partir de una arquitectura de alta distribución que ofrece un excepcional rendimiento y facilita su escalabilidad.
                            li
                                img(src=local.images.rendimiento, alt="rendimiento")
                                p Rendimiento ampliable a la medida de la empresa: los equipos de 2U Nutanix, incluyen hasta 4 nodos de servicio de alto rendimiento, cada uno de los cuales provee cómputo, almacenamiento HDD y SDD al servidor.
                            li
                                img(src=local.images.convergencia, alt="convergencia")
                                p Convergencia real: la plataforma de computación virtual de Nutanix proporciona la convergencia en un único dispositivo nativo de los recursos de computación, memoria y almacenamiento, permitiendo extender esos beneficios a entornos no virtualizados.
                            li
                                img(src=local.images.continuo, alt="continuo")
                                p Continuo desarrollo: No solo brinda la solución líder del mercado, sino que expande sus soluciones con diversos productos para afrontar los retos de los entornos híbridos en las empresas.
        section.section-subtitle#soluciones
            .container
                .row
                    .col-10.middle
                        .title-sections
                            h3 Conoce nuestra solución
        //--.flotante
            a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
                img(src=local.images.whitepaper, alt="big data" )
            a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
                img(src=local.images.casodeuso, alt="big data")
        section.section-why-dass
            img(src=local.images.solucion, alt="solucion conoce")
            .container
                .row
                    .col-6.bgcircle
                        p La modernización de las TI en su empresa se nutren de las distintas soluciones que implementamos a través de Nutanix, contamos con una amplia gama de productos y soluciones diseñados especialmente para cada negocio.
                        
        include ../template/_footer
        if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
        script(type="text/javascript" src=section_scripts[current_profile][i])

dist/dev/sections/nutanix.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Nutanix</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Unifica las nubes privadas, públicas e híbridas y las habilítalas para correr aplicaciones y datos que empoderan tu negocio. ¡Trabaja con TI bajo demanda!">
    <meta name="keywords" content="Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Financíeros,Manufactura, Virtualización, App, Datacenter, Híperconvengentes, Nutanix, plataforma, Enterpríse cloud, Acropolis, Files, Calm,Beam, soluciones Nutanix">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-video-dass"><img class="banner" src="../images/products_huawei/bannerprincipal.jpg" alt="banner">
      <div class="boxVideo">
        <video id="secondVideo" autoplay loop muted>
          <source src="../images/video/Nutanix.mp4" type="video/mp4">
        </video>
      </div>
      <div class="container">
        <div class="content"><br>
          <div class="title-sections">
            <h1>Nutanix</h1>
          </div>
          <p>La agilidad y sencillez de la nube pública, combinada con la seguridad y el control que requiere una nube privada.</p>
        </div>
      </div>
    </section>
    <section class="section-about-dass" id="dass">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections-text">
              <h3>¿Qué es Nutanix?</h3>
              <p>Es una solución de infraestructura que moderniza datacenters y corre aplicaciones en cualquier escala, tanto en sitio como en la nube.</p>
              <p>El software de Nutanix unifica las nubes privadas, públicas e híbridas y las habilita para correr aplicaciones y datos que empoderan tu negocio.</p>
            </div>
          </div>
          <div class="col-12">    
            <ul>
              <li><strong>Corre cualquier app a cualquier escala</strong><img id="imagen" src="../images/products_nutanix/servicio_app.png" alt="app">
                <p>Corre apps y flujos de trabajo en una plataforma sencilla con disponibilidad, ejecución y simplicidad sin par.</p>
              </li>
              <li><strong>En cualquier industria</strong><img id="imagen" src="../images/products_nutanix/servicio_business.png" alt="business">
                <p>Solucion diseñada en sectores como:Educación, Gobierno federal,Servicios Financieros, Salud, Manufactura y Punto de venta</p>
              </li>
              <li><strong>Moderniza tu Datacenter</strong><img id="imagen" src="../images/products_nutanix/servicio_nutanix_1.png" alt="servidor">
                <p>Construye una nube empresarial con almacenamiento, cómputo virtualización y red hiperconvergentes desde su base.</p>
              </li>
              <li><strong>Protección de información y recuperación ante desastres</strong><img id="imagen" src="../images/products_nutanix/servicio_proteccion.png" alt="proteccion">
                <p>Proteja las aplicaciones virtualizadas con un espectro completo  de copia de seguridad y recuperación integradas en Nutanix Enterprise Cloud.</p>
              </li>
              <li><strong>Virtualización y nube</strong><img id="imagen" src="../images/products_nutanix/servicio_cloud.png" alt="cloud">
                <p>Aporta la agilidad de la nube pública con el control y la seguridad de la infraestructura local. Las soluciones de virtualización y nube de Nutanix</p>
              </li>
              <li><strong>Gestiona todas tus nubes</strong><img id="imagen" src="../images/products_nutanix/servicio_cloudmgmt.png" alt="cloudmgmt">
                <p>Intercambia la ubicación de tus datos y apps sin complicaciones entre la nube pública, privada o híbrida</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="microsite-container-nutanix">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="title-sections-text">
              <h3>Productos</h3>
              <p>Conoce los productos Nutanix que Sellcom Solutions te ofrece.</p>
            </div>
          </div>
          <div class="col-10 middle">
            <section class="tabs">
              <input class="tab-selector-1" id="tab-1" type="radio" name="radio-set" checked="checked">
              <label class="nutanix-label tab-label-1" for="tab-1">Acropolis</label>
              <input class="tab-selector-2" id="tab-2" type="radio" name="radio-set">
              <label class="nutanix-label tab-label-2" for="tab-2">Beam</label>
              <input class="tab-selector-3" id="tab-3" type="radio" name="radio-set">
              <label class="nutanix-label tab-label-3" for="tab-3">Calm</label>
              <input class="tab-selector-4" id="tab-4" type="radio" name="radio-set">
              <label class="nutanix-label tab-label-4" for="tab-4">Frame</label>
              <input class="tab-selector-5" id="tab-5" type="radio" name="radio-set">
              <label class="nutanix-label tab-label-5" for="tab-5">Files</label>
              <div class="clear-shadow"></div>
              <div class="content">
                <div class="dash content-1">
                  <row>
                    <div class="col-12">
                      <h2 class="txt-center"><strong>La base de la nube empresarial</strong></h2>
                      <h2 class="txt-center">Ejecutar cualquier aplicación a cualquier escala con una solución llave en mano</h2>
                    </div>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>Nutanix Acropolis  </h3>
                    </div>
                    <div class="col-10 middle">
                      <p>Provee soluciones de cómputo y almacenamiento, red, virtualización y protección que son esenciales dentro de una solución cloud. Nuestros clientes dejan atrás los silos de almacenamiento, las costosas tecnologías de virtualización y la gestión dedicada. Nuestros clientes se benefician de agilidad operativa, manteniendo al mismo tiempo, y la capacidad de elegir el hardware y el hipervisor.</p>
                    </div>
                  </row>
                </div>
                <div class="dash content-2">
                  <row>
                    <div class="col-12">
                      <h2 class="txt-center"><strong>Govierno multi-cold</strong></h2>
                      <h2 class="txt-center">La gobernanza multi-cold de Nutanix para optimizar costes y mejorar el cumplimiento y la seguridad.</h2>
                    </div>
                    <div class="col-12">
                      <h3>Nutanix Xi Beam   </h3>
                    </div>
                    <div class="col-10 middle">
                      <p>Es un servicio de optimización integrado a Nutanix Enterprise Cloud OS. Permite a las empresas tener una visión precisa y análisis detallados sobre los modelos de consumo de una nube, y les ofrece la posibilidad de optimizar costes con un solo clic de sus entornos multi-cloud.  </p>
                    </div>
                  </row>
                </div>
                <div class="dash content-3">
                  <row>
                    <div class="col-12"></div>
                    <h2 class="txt-center"> <strong>Gestión del ciclo de vida de las aplicaciones y orquestación multi-cloud</strong></h2>
                    <p class="txt-center">Atomatización centrada en las aplicaciones de negocio.</p>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>Nutanix Calm   </h3>
                    </div>
                    <div class="col-10 middle">
                      <p>Dota a la plataforma de nube para la empresa de las habilidades nativas de orquestación y gestión del ciclo de vida de la aplicación. Las aplicaciones se pueden automatizar para que puedan ser fácilmente desplegadas indistintamente enlas nubes privadas, públicas o híbridas. Gracias a esta orquestación, las tareas rutinarias pueden convertirse en operaciones reproducibles y automatizadas y ponerse a disposición del negocio.      </p>
                    </div>
                  </row>
                </div>
                <div class="dash content-4">
                  <row>
                    <div class="col-12"></div>
                    <h2 class="txt-center"> <strong>Acceso a sus aplicaciones desde su navegador web</strong></h2>
                    <p class="txt-center">Una solución nativa cloud para acceder a sus aplicaciones y estaciones de trabajo.</p>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>Nutanix Xi Frame </h3>
                    </div>
                    <div class="col-10 middle">
                      <p>Es una plataforma única de escritorio como servicio, diseñada específicamente para su despliegue en nube. Descubra la única plataforma independiente de infraestructura para la entrega de aplicaciones y estaciones de trabajo sin bloqueo de nubes, desde cualquier lugar.</p>
                    </div>
                  </row>
                </div>
                <div class="dash content-5">
                  <row>
                    <div class="col-12"></div>
                    <h2 class="txt-center"> <strong>Almacena sus ficheros de forma simple y escalable </strong></h2>
                    <p class="txt-center">Con el ciclo de vida del servicio totalmente autorizado y altamente disponible.</p>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>Nutanix Files    </h3>
                    </div>
                    <div class="col-10 middle">
                      <p>Permite desplegar ficheros de forma nativa totalmente escalable hasta decenas de miles de usuarios,así mismo se provee de una visión analítica del uso de estos ficheros así como un acceso de multiprotocolo nativo.</p>
                    </div>
                  </row>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </section>
    <section class="section-implementDass nutanix" id="beneficios">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections-text">
              <h3>¿Por qué implementar Nutanix?</h3>
              <p>Beneficios:          </p>
            </div>
          </div>
          <div class="col-10 middle">
            <ul>
              <li><img id="imagen" src="../images/products_nutanix/beneficio_almacenamiento.png" alt="almacenamiento">
                <p>Elimina la necesidad de una arquitectura de almacenamiento en red, como una red de área de almacenamiento o almacenamiento conectado a la red.</p>
              </li>
              <li><img id="imagen" src="../images/products_nutanix/beneficio_reconocimiento.png" alt="reconocimiento">
                <p>Provee una arquitectura definida por software: la plataforma de Nutanix se ha desarrollado a partir de una arquitectura de alta distribución que ofrece un excepcional rendimiento y facilita su escalabilidad.</p>
              </li>
              <li><img src="../images/products_nutanix/beneficio_rendimiento.png" alt="rendimiento">
                <p>Rendimiento ampliable a la medida de la empresa: los equipos de 2U Nutanix, incluyen hasta 4 nodos de servicio de alto rendimiento, cada uno de los cuales provee cómputo, almacenamiento HDD y SDD al servidor.</p>
              </li>
              <li><img src="../images/products_nutanix/beneficio_convergencia.png" alt="convergencia">
                <p>Convergencia real: la plataforma de computación virtual de Nutanix proporciona la convergencia en un único dispositivo nativo de los recursos de computación, memoria y almacenamiento, permitiendo extender esos beneficios a entornos no virtualizados.</p>
              </li>
              <li><img src="../images/products_nutanix/beneficio_continuo.png" alt="continuo">
                <p>Continuo desarrollo: No solo brinda la solución líder del mercado, sino que expande sus soluciones con diversos productos para afrontar los retos de los entornos híbridos en las empresas.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section-subtitle" id="soluciones">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections">
              <h3>Conoce nuestra solución</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-why-dass"><img src="../images/products_nutanix/solucion.jpg" alt="solucion conoce">
      <div class="container">
        <div class="row">
          <div class="col-6 bgcircle">
            <p>La modernización de las TI en su empresa se nutren de las distintas soluciones que implementamos a través de Nutanix, contamos con una amplia gama de productos y soluciones diseñados especialmente para cada negocio.</p>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/libs/jquery.validate.js"></script>
    <script src="../js/libs/jquery.file.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/sellcom_dass.js"></script>
    <script src="../js/controllers/downloads.js"></script>
    <script src="../js/controllers/form.js"></script>
  </body>
</html>
<script type="text/javascript" src="../js/libs/jquery.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<script type="text/javascript" src="../js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../js/libs/jquery.file.js"></script>
<script type="text/javascript" src="../js/plugins/slick.js"></script>
<script type="text/javascript" src="../js/controllers/sellcom_dass.js"></script>
<script type="text/javascript" src="../js/controllers/downloads.js"></script>
<script type="text/javascript" src="../js/controllers/form.js"></script>
