src/html/sections/opentext.pug
//-Configuración y variables globales del proyecto
include ../config/_variables
//-
	Ajustes de la configuración global para esta sección
- global_path = '../'
//-
	Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
	Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - OpenText'
- metadata['description'] = 'Ahora costos con las soluciones de OpenText; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, OpenText, bajo demanda, on demand, soluciones OpenText'
- var landing = 'opentext'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_opentext + 'bannerprincipal.jpg'
//- Servicios
- local.images['customer'] = global_path + images.products_opentext + 'servicio_customerexperience.png'
- local.images['digital'] = global_path + images.products_opentext + 'servicio_digitalprocess.png'
- local.images['business'] = global_path + images.products_opentext + 'servicio_businessNetwork.png'
- local.images['enterprise'] = global_path + images.products_opentext + 'servicio_ECM.png'
- local.images['discovery'] = global_path + images.products_opentext + 'servicio_discovery.png'
- local.images['security'] = global_path + images.products_opentext + 'servicio_security.png'
- local.images['analytics'] = global_path + images.products_opentext + 'servicio_analytics.png'
- local.images['cloud'] = global_path + images.products_opentext + 'servicio_cloudmanagedservices.png'
//- Beneficios
- local.images['uno'] = global_path + images.products_opentext + 'beneficio_1.png'
- local.images['dos'] = global_path + images.products_opentext + 'beneficio_2.png'
- local.images['tres'] = global_path + images.products_opentext + 'beneficio_3.png'
- local.images['cuatro'] = global_path + images.products_opentext + 'beneficio_4.png'
- local.images['cinco'] = global_path + images.products_opentext + 'beneficio_5.png'
- local.images['seis'] = global_path + images.products_opentext + 'beneficio_6.png'
- local.images['siete'] = global_path + images.products_opentext + 'beneficio_7.png'
- local.images['ocho'] = global_path + images.products_opentext + 'beneficio_8.png'
- local.images['nueve'] = global_path + images.products_opentext + 'beneficio_9.png'
- local.images['diez'] = global_path + images.products_opentext + 'beneficio_10.png'
- local.images['once'] = global_path + images.products_opentext + 'beneficio_11.png'
- local.images['doce'] = global_path + images.products_opentext + 'beneficio_12.png'
- local.images['trece'] = global_path + images.products_opentext + 'beneficio_13.png'
- local.images['catorce'] = global_path + images.products_opentext + 'beneficio_14.png'

- local.images['solucion'] = global_path + images.products_opentext + 'solucion.jpg'

doctype html
html(lang=site.lang)
	include ../template/_head
	body
		include ../template/_header
		section.section-banner-dass
			img.banner(src=local.images.banner, alt="banner")
			.container
				.content
					br
					.title-sections
						h1 OpenText EIM
					p Obtenga la información crítica para la empresa que necesita para gestionar el flujo de información, en sus instalaciones o en la nube, y construya su futuro digital con las soluciones OpenText Enterprise Information Management
		section.section-about-dass#dass
			.container
				.row
					.col-12
						.title-sections-text
							h3 ¿Qué es OpenText?
							p La empresa inteligente y conectada.
						ul
							li
								strong Customer Experience Management
								img(src=local.images.customer, alt="customer")
								p Cree experiencias de usuario y colaborador excepcionales.
							li
								strong Digital Process Automation
								img(src=local.images.digital, alt="digital")
								p Automatice y oriente de forma inteligente los procesos empresariales y de casos.
							li
								strong Business Network
								img(src=local.images.business, alt="business")
								p Permita un flujo de información seguro y sin fisuras a través de un ecosistema empresarial.
							li
								strong Enterprise Content Management
								img(src=local.images.enterprise, alt="enterprise")
								p Transformando el contenido para la productividad y el control.
							li
								strong Discovery
								img(src=local.images.discovery, alt="discovery")
								p Descubra lo que importa: busque, extraiga, clasifique, revise y analice el contenido en toda la empresa.
							li
								strong Security
								img(src=local.images.security, alt="security")
								p Resuelva las necesidades de seguridad forense e investigación con total visibilidad en todos los puntos finales.
							li
								strong Analytics
								img(src=local.images.analytics, alt="analytics")
								p Proporcione BI y Analytics para la toma de decisiones basadas en dato.
							li
								strong Cloud Managed Services
								img(src=local.images.cloud, alt="cloud")
								p Une la potencia de una plataforma en nube con una gran experiencia de gestión y optimización.
		section.section-implementDass#beneficios
			.container
				.row
					.col-10.middle
						.title-sections-text
							h3 ¿Por qué implementar OpenText?
							p Beneficios:
						ul
							li
								img(src=local.images.uno, alt="uno")
								p Integración y soporte para SAP ERP y SuccessFactors, Oracle E-Business Suite, Salesforce, Office 365 y SharePoint.
							li
								img(src=local.images.dos, alt="dos")
								p Proteja la información histórica crítica dentro de una solución de archivado centralizada y segura.
							li
								img(src=local.images.tres, alt="tres")
								p Aprovechar una interfaz de usuario simple, receptiva e intuitiva, con vistas basadas en funciones.
							li
								img(src=local.images.cuatro, alt="cuatro")
								p Capturar documentos y datos de papel, archivos electrónicos.
							li
								img(src=local.images.cinco, alt="cinco")
								p Simplifique las comunicaciones con los clientes y prospectos a través de una única plataforma.
							li
								img(src=local.images.seis, alt="seis")
								p Centrarse en el negocio principal de la organización.
							li
								img(src=local.images.siete, alt="siete")
								p Obtenga visibilidad de los procesos intensivos en transacciones con métricas.
							li
								img(src=local.images.ocho, alt="ocho")
								p Personalice la experiencia del cliente automáticamente.
							li
								img(src=local.images.nueve, alt="nueve")
								p Impulse el valor en toda la organización automatizando la creación y distribución de información.
							li
								img(src=local.images.diez, alt="diez")
								p Ofrezca análisis de autoservicio para preparar los datos.
							li
								img(src=local.images.once, alt="once")
								p Permita a los usuarios empresariales con un diseñador de cuadros de mando.
							li
								img(src=local.images.doce, alt="doce")
								p Utilice los datos de la organización para automatizar procesos repetitivos.
							li
								img(src=local.images.trece, alt="trece")
								p Utilice una sola barra de búsqueda para ejecutar consultas en docenas de repositorios.
							li
								img(src=local.images.catorce, alt="catorce")
								p Recolecte discretamente de todas las fuentes sin que ello afecte al negocio diario.
		section.section-subtitle#soluciones
			.container
				.row
					.col-10.middle
						.title-sections
							h3 Conoce nuestra solución
		section.section-why-dass
			img(src=local.images.solucion, alt="solucion conoce")
			.container
				.row
					.col-6.bgcircle
						p OpenText impulsa las transformaciones digitales para potenciar la empresa inteligente y conectada. Al permitir a las empresas digitalizar procesos y cadenas de suministro y descubrir el valor de su información con análisis e Inteligencia Artificial.
						p OpenText ofrece una mayor visión de negocio para tomar decisiones basadas en datos para el éxito.
		include ../template/_footer
		if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
		script(type="text/javascript" src=section_scripts[current_profile][i])

dist/dev/sections/opentext.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - OpenText</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Ahora costos con las soluciones de OpenText; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!">
    <meta name="keywords" content="Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, OpenText, bajo demanda, on demand, soluciones OpenText">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-banner-dass"><img class="banner" src="../images/products_opentext/bannerprincipal.jpg" alt="banner">
      <div class="container">
        <div class="content"><br>
          <div class="title-sections">
            <h1>OpenText EIM</h1>
          </div>
          <p>Obtenga la información crítica para la empresa que necesita para gestionar el flujo de información, en sus instalaciones o en la nube, y construya su futuro digital con las soluciones OpenText Enterprise Information Management</p>
        </div>
      </div>
    </section>
    <section class="section-about-dass" id="dass">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="title-sections-text">
              <h3>¿Qué es OpenText?</h3>
              <p>La empresa inteligente y conectada.</p>
            </div>
            <ul>
              <li><strong>Customer Experience Management</strong><img src="../images/products_opentext/servicio_customerexperience.png" alt="customer">
                <p>Cree experiencias de usuario y colaborador excepcionales.</p>
              </li>
              <li><strong>Digital Process Automation</strong><img src="../images/products_opentext/servicio_digitalprocess.png" alt="digital">
                <p>Automatice y oriente de forma inteligente los procesos empresariales y de casos.</p>
              </li>
              <li><strong>Business Network</strong><img src="../images/products_opentext/servicio_businessNetwork.png" alt="business">
                <p>Permita un flujo de información seguro y sin fisuras a través de un ecosistema empresarial.</p>
              </li>
              <li><strong>Enterprise Content Management</strong><img src="../images/products_opentext/servicio_ECM.png" alt="enterprise">
                <p>Transformando el contenido para la productividad y el control.</p>
              </li>
              <li><strong>Discovery</strong><img src="../images/products_opentext/servicio_discovery.png" alt="discovery">
                <p>Descubra lo que importa: busque, extraiga, clasifique, revise y analice el contenido en toda la empresa.</p>
              </li>
              <li><strong>Security</strong><img src="../images/products_opentext/servicio_security.png" alt="security">
                <p>Resuelva las necesidades de seguridad forense e investigación con total visibilidad en todos los puntos finales.</p>
              </li>
              <li><strong>Analytics</strong><img src="../images/products_opentext/servicio_analytics.png" alt="analytics">
                <p>Proporcione BI y Analytics para la toma de decisiones basadas en dato.</p>
              </li>
              <li><strong>Cloud Managed Services</strong><img src="../images/products_opentext/servicio_cloudmanagedservices.png" alt="cloud">
                <p>Une la potencia de una plataforma en nube con una gran experiencia de gestión y optimización.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section-implementDass" id="beneficios">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections-text">
              <h3>¿Por qué implementar OpenText?</h3>
              <p>Beneficios:</p>
            </div>
            <ul>
              <li><img src="../images/products_opentext/beneficio_1.png" alt="uno">
                <p>Integración y soporte para SAP ERP y SuccessFactors, Oracle E-Business Suite, Salesforce, Office 365 y SharePoint.</p>
              </li>
              <li><img src="../images/products_opentext/beneficio_2.png" alt="dos">
                <p>Proteja la información histórica crítica dentro de una solución de archivado centralizada y segura.</p>
              </li>
              <li><img src="../images/products_opentext/beneficio_3.png" alt="tres">
                <p>Aprovechar una interfaz de usuario simple, receptiva e intuitiva, con vistas basadas en funciones.</p>
              </li>
              <li><img src="../images/products_opentext/beneficio_4.png" alt="cuatro">
                <p>Capturar documentos y datos de papel, archivos electrónicos.</p>
              </li>
              <li><img src="../images/products_opentext/beneficio_5.png" alt="cinco">
                <p>Simplifique las comunicaciones con los clientes y prospectos a través de una única plataforma.</p>
              </li>
              <li><img src="../images/products_opentext/beneficio_6.png" alt="seis">
                <p>Centrarse en el negocio principal de la organización.</p>
              </li>
              <li><img src="../images/products_opentext/beneficio_7.png" alt="siete">
                <p>Obtenga visibilidad de los procesos intensivos en transacciones con métricas.</p>
              </li>
              <li><img src="../images/products_opentext/beneficio_8.png" alt="ocho">
                <p>Personalice la experiencia del cliente automáticamente.</p>
              </li>
              <li><img src="../images/products_opentext/beneficio_9.png" alt="nueve">
                <p>Impulse el valor en toda la organización automatizando la creación y distribución de información.</p>
              </li>
              <li><img src="../images/products_opentext/beneficio_10.png" alt="diez">
                <p>Ofrezca análisis de autoservicio para preparar los datos.</p>
              </li>
              <li><img src="../images/products_opentext/beneficio_11.png" alt="once">
                <p>Permita a los usuarios empresariales con un diseñador de cuadros de mando.</p>
              </li>
              <li><img src="../images/products_opentext/beneficio_12.png" alt="doce">
                <p>Utilice los datos de la organización para automatizar procesos repetitivos.</p>
              </li>
              <li><img src="../images/products_opentext/beneficio_13.png" alt="trece">
                <p>Utilice una sola barra de búsqueda para ejecutar consultas en docenas de repositorios.</p>
              </li>
              <li><img src="../images/products_opentext/beneficio_14.png" alt="catorce">
                <p>Recolecte discretamente de todas las fuentes sin que ello afecte al negocio diario.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section-subtitle" id="soluciones">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections">
              <h3>Conoce nuestra solución</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-why-dass"><img src="../images/products_opentext/solucion.jpg" alt="solucion conoce">
      <div class="container">
        <div class="row">
          <div class="col-6 bgcircle">
            <p>OpenText impulsa las transformaciones digitales para potenciar la empresa inteligente y conectada. Al permitir a las empresas digitalizar procesos y cadenas de suministro y descubrir el valor de su información con análisis e Inteligencia Artificial.</p>
            <p>OpenText ofrece una mayor visión de negocio para tomar decisiones basadas en datos para el éxito.</p>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/libs/jquery.validate.js"></script>
    <script src="../js/libs/jquery.file.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/sellcom_dass.js"></script>
    <script src="../js/controllers/downloads.js"></script>
    <script src="../js/controllers/form.js"></script>
  </body>
</html>
<script type="text/javascript" src="../js/libs/jquery.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<script type="text/javascript" src="../js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../js/libs/jquery.file.js"></script>
<script type="text/javascript" src="../js/plugins/slick.js"></script>
<script type="text/javascript" src="../js/controllers/sellcom_dass.js"></script>
<script type="text/javascript" src="../js/controllers/downloads.js"></script>
<script type="text/javascript" src="../js/controllers/form.js"></script>
