src/html/sections/owncloud.pug
//-Configuración y variables globales del proyecto
include ../config/_variables
//-
	Ajustes de la configuración global para esta sección
- global_path = '../'
//-
	Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
	Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Owncloud'
- metadata['description'] = 'Ahora costos con las soluciones de Owncloud; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Owncloud, bajo demanda, on demand, soluciones Owncloud'
- var landing = 'owncloud'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_owncloud + 'bannerprincipal.jpg'
//- Servicios
- local.images['fileshare'] = global_path + images.products_owncloud + 'servicio_datalossavoidance.png'
- local.images['syncing'] = global_path + images.products_owncloud + 'servicio_syncing.png'
- local.images['storage'] = global_path + images.products_owncloud + 'servicio_externalstorage.png'
- local.images['security'] = global_path + images.products_owncloud + 'servicio_encryptionsecurity.png'
- local.images['data'] = global_path + images.products_owncloud + 'servicio_datainfraestructuremodernization.png'
- local.images['api'] = global_path + images.products_owncloud + 'servicio_flexible-API.png'
- local.images['collaborative'] = global_path + images.products_owncloud + 'servicio_flexible-collaborative-editing.png'
- local.images['workflows'] = global_path + images.products_owncloud + 'servicio_workflows.png'
//- Beneficios
- local.images['comparte'] = global_path + images.products_owncloud + 'beneficio_compartearchivosdentroyfuera.png'
- local.images['colabora'] = global_path + images.products_owncloud + 'beneficio_colaboraenarchivos.png'
- local.images['accede'] = global_path + images.products_owncloud + 'beneficio_accedeatodoslosdocumentos.png'
- local.images['concentra'] = global_path + images.products_owncloud + 'beneficio_-concentraelaccesoalasnubes.png'

- local.images['solucion'] = global_path + images.products_owncloud + 'solucion.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Owncloud_Whithepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'Owncloud_Caso_de_Uso_OK.pdf'

doctype html
html(lang=site.lang)
	include ../template/_head
	body
		include ../template/_header
		section.section-banner-dass
			img.banner(src=local.images.banner, alt="banner")
			.container
				.content
					br
					.title-sections
						h1 ownCloud
					p Intercambio seguro de archivos empresariales en su centro de datos
		section.section-about-dass#dass
			.container
				.row
					.col-12
						.title-sections-text
							h3 ¿Qué es Owncloud?
							p ownCloud es la plataforma abierta para una mayor productividad y seguridad en la colaboración digital.
						ul
							li
								strong Fileshare
								img(src=local.images.fileshare, alt="fileshare")
								p Interfaz única de acceso, sincronizar y compartir archivos en cualquier dispositivo. 
							li
								strong Syncing
								img(src=local.images.syncing, alt="syncing")
								p Sincronización que mantiene la web, el escritorio y el dispositivo móvil en la misma página.
							li
								strong External Storage
								img(src=local.images.storage, alt="storage")
								p Puede aprovechar el almacenamiento que ya existe; FTP, Swift, S3, Dropbox y mucho más.
							li
								strong Encryption and Security 
								img(src=local.images.security, alt="security")
								p La encripción en tiempo real asegura los archivos en el servidor y permite compartir entre los usuarios.
							li
								strong Data Infrastructure Modernization 
								img(src=local.images.data, alt="data")
								p Ofrece una capa común de acceso a los archivos independientemente de dónde se encuentren.
							li
								strong Flexible API
								img(src=local.images.api, alt="api")
								p La arquitectura abierta de ownCloud, las bibliotecas móviles y las APIs permiten a los departamentos de TI.
							li
								strong Collaborative Editing 
								img(src=local.images.collaborative, alt="collaborative")
								p La asociación con Collabora y ONLYOFFICE proporciona funciones de edición para documentos de texto, hojas de cálculo y presentaciones.
							li
								strong Workflows 
								img(src=local.images.workflows, alt="workflows")
								p Los flujos de trabajo proporcionan un medio para automatizar las operaciones de archivo cuando se cumplen ciertos criterios.
		.flotante
			a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
				img(src=local.images.whitepaper, alt="big data" )
			a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
				img(src=local.images.casodeuso, alt="big data")
		section.section-implementDass#beneficios
			.container
				.row
					.col-10.middle
						.title-sections-text
							h3 ¿Por qué implementar Owncloud?
							p Beneficios:
						ul
							li
								img(src=local.images.comparte, alt="comparte")
								p Comparte archivos dentro y fuera de tu organización.
							li
								img(src=local.images.colabora, alt="colabora")
								p Colabora en archivos en tiempo real.
							li
								img(src=local.images.accede, alt="accede")
								p Accede a todos los documentos desde cualquier lugar.
							li
								img(src=local.images.concentra, alt="concentra")
								p Concentra el acceso a las nubes públicas y protege tus documentos.
		section.section-subtitle#soluciones
			.container
				.row
					.col-10.middle
						.title-sections
							h3 Conoce nuestra solución
		section.section-why-dass
			img(src=local.images.solucion, alt="solucion conoce")
			.container
				.row
					.col-6.bgcircle
						p ownCloud es la plataforma para compartir archivos empresariales de forma segura, fácil de usar y manteniendo todos tus archivos alojados en su centro de datos.
						p ownCloud ofrece una transparencia, seguridad y control insuperables y puede integrarse de forma flexible a su ambiente existente, al mismo tiempo que los usuarios pueden acceder a los archivos de la empresa de forma rápida y sencilla desde cualquier lugar y desde cualquier dispositivo, aumentando tanto la seguridad como la productividad.
		include ../template/_footer
		if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
		script(type="text/javascript" src=section_scripts[current_profile][i])

dist/dev/sections/owncloud.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Owncloud</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Ahora costos con las soluciones de Owncloud; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!">
    <meta name="keywords" content="Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Owncloud, bajo demanda, on demand, soluciones Owncloud">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-banner-dass"><img class="banner" src="../images/products_owncloud/bannerprincipal.jpg" alt="banner">
      <div class="container">
        <div class="content"><br>
          <div class="title-sections">
            <h1>ownCloud</h1>
          </div>
          <p>Intercambio seguro de archivos empresariales en su centro de datos</p>
        </div>
      </div>
    </section>
    <section class="section-about-dass" id="dass">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="title-sections-text">
              <h3>¿Qué es Owncloud?</h3>
              <p>ownCloud es la plataforma abierta para una mayor productividad y seguridad en la colaboración digital.</p>
            </div>
            <ul>
              <li><strong>Fileshare</strong><img src="../images/products_owncloud/servicio_datalossavoidance.png" alt="fileshare">
                <p>Interfaz única de acceso, sincronizar y compartir archivos en cualquier dispositivo. </p>
              </li>
              <li><strong>Syncing</strong><img src="../images/products_owncloud/servicio_syncing.png" alt="syncing">
                <p>Sincronización que mantiene la web, el escritorio y el dispositivo móvil en la misma página.</p>
              </li>
              <li><strong>External Storage</strong><img src="../images/products_owncloud/servicio_externalstorage.png" alt="storage">
                <p>Puede aprovechar el almacenamiento que ya existe; FTP, Swift, S3, Dropbox y mucho más.</p>
              </li>
              <li><strong>Encryption and Security </strong><img src="../images/products_owncloud/servicio_encryptionsecurity.png" alt="security">
                <p>La encripción en tiempo real asegura los archivos en el servidor y permite compartir entre los usuarios.</p>
              </li>
              <li><strong>Data Infrastructure Modernization </strong><img src="../images/products_owncloud/servicio_datainfraestructuremodernization.png" alt="data">
                <p>Ofrece una capa común de acceso a los archivos independientemente de dónde se encuentren.</p>
              </li>
              <li><strong>Flexible API</strong><img src="../images/products_owncloud/servicio_flexible-API.png" alt="api">
                <p>La arquitectura abierta de ownCloud, las bibliotecas móviles y las APIs permiten a los departamentos de TI.</p>
              </li>
              <li><strong>Collaborative Editing </strong><img src="../images/products_owncloud/servicio_flexible-collaborative-editing.png" alt="collaborative">
                <p>La asociación con Collabora y ONLYOFFICE proporciona funciones de edición para documentos de texto, hojas de cálculo y presentaciones.</p>
              </li>
              <li><strong>Workflows </strong><img src="../images/products_owncloud/servicio_workflows.png" alt="workflows">
                <p>Los flujos de trabajo proporcionan un medio para automatizar las operaciones de archivo cuando se cumplen ciertos criterios.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <div class="flotante"><a class="whitepage" href="../documents/Owncloud_Whithepaper.pdf" dowloand target="_blank" title="Descargar white paper"><img src="../images/global/whitepaper.png" alt="big data"></a><a class="caseofuse" href="../documents/Owncloud_Caso_de_Uso_OK.pdf" dowloand target="_blank" title="Descargar casos de uso"><img src="../images/global/casodeuso.png" alt="big data"></a></div>
    <section class="section-implementDass" id="beneficios">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections-text">
              <h3>¿Por qué implementar Owncloud?</h3>
              <p>Beneficios:</p>
            </div>
            <ul>
              <li><img src="../images/products_owncloud/beneficio_compartearchivosdentroyfuera.png" alt="comparte">
                <p>Comparte archivos dentro y fuera de tu organización.</p>
              </li>
              <li><img src="../images/products_owncloud/beneficio_colaboraenarchivos.png" alt="colabora">
                <p>Colabora en archivos en tiempo real.</p>
              </li>
              <li><img src="../images/products_owncloud/beneficio_accedeatodoslosdocumentos.png" alt="accede">
                <p>Accede a todos los documentos desde cualquier lugar.</p>
              </li>
              <li><img src="../images/products_owncloud/beneficio_-concentraelaccesoalasnubes.png" alt="concentra">
                <p>Concentra el acceso a las nubes públicas y protege tus documentos.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section-subtitle" id="soluciones">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections">
              <h3>Conoce nuestra solución</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-why-dass"><img src="../images/products_owncloud/solucion.jpg" alt="solucion conoce">
      <div class="container">
        <div class="row">
          <div class="col-6 bgcircle">
            <p>ownCloud es la plataforma para compartir archivos empresariales de forma segura, fácil de usar y manteniendo todos tus archivos alojados en su centro de datos.</p>
            <p>ownCloud ofrece una transparencia, seguridad y control insuperables y puede integrarse de forma flexible a su ambiente existente, al mismo tiempo que los usuarios pueden acceder a los archivos de la empresa de forma rápida y sencilla desde cualquier lugar y desde cualquier dispositivo, aumentando tanto la seguridad como la productividad.</p>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/libs/jquery.validate.js"></script>
    <script src="../js/libs/jquery.file.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/sellcom_dass.js"></script>
    <script src="../js/controllers/downloads.js"></script>
    <script src="../js/controllers/form.js"></script>
  </body>
</html>
<script type="text/javascript" src="../js/libs/jquery.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<script type="text/javascript" src="../js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../js/libs/jquery.file.js"></script>
<script type="text/javascript" src="../js/plugins/slick.js"></script>
<script type="text/javascript" src="../js/controllers/sellcom_dass.js"></script>
<script type="text/javascript" src="../js/controllers/downloads.js"></script>
<script type="text/javascript" src="../js/controllers/form.js"></script>
