src/html/sections/plataforma-lealtad.pug

include ../config/_variables
- global_path = '../'
- current_profile = CONST_DEV_PROFILE
- var page = 'Sellcom Plataforma de lealtad'
- var metadata = {}
- metadata['title'] = 'Sellcom - Plataforma de lealtad'
- metadata['description'] = 'Llegó la era de la Plataforma de lealtad; una solución que simplifica las operaciones en TI con una sola plataforma. ¡La tecnología que tu empresa necesita!'
- metadata['keywords'] = 'Sellcom, Plataforma de lealtad, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud'

- var section_scripts =  {} 
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.base + 'Sellcom.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.global + 'global.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers+ 'products_daas.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'addthis_widget.js')
- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.base + 'Sellcom.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.global + 'global.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'products_daas.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'addthis_widget.min.js')

- var local_images = {}
- local_images['images'] = {}
- local_images.images['banner'] = global_path +  images.solutions_lealtad + 'bannerprincipal.jpg'
- local_images.images['daas_one'] = global_path +  images.solutions_lealtad + 'sellcom-devicedass-service.jpg'

- local_images.images['herramienta1'] = global_path + images.solutions_lealtad + 'herramienta1.jpg'
- local_images.images['herramienta2'] = global_path + images.solutions_lealtad + 'herramienta2.jpg'
- local_images.images['herramienta3'] = global_path + images.solutions_lealtad + 'herramienta3.jpg'

- local_images.images['icon_razon1'] = global_path + images.solutions_lealtad + 'icon_razon1.png'
- local_images.images['icon_razon2'] = global_path + images.solutions_lealtad + 'icon_razon2.png'
- local_images.images['icon_razon3'] = global_path + images.solutions_lealtad + 'icon_razon3.png'
- local_images.images['icon_razon4'] = global_path + images.solutions_lealtad + 'icon_razon4.png'


doctype html
html(lang=site.lang)
  include ../template/_head
  body
    include ../template/_header
    section.section-banner-dass
        img.banner(src=local_images.images.banner alt='Plataforma de lealtad')
        .container
          .content
            .title-sections
              h1 Plataforma de lealtad
            p El programa de lealtad a la medida de tu negocio.
    section.anchors
      .container
        .row
          .col-10.middle 
             ul#submenu
               li
                 a(href='#device') #[p Conoce nuestra soluci&oacute;n]
               li
                 a(href='#howitworks') #[p ¿C&oacute;mo funciona?]
               li
                 a(href='#whydaas') #[p ¿Por qu&eacute; implementar Plataforma de lealtad?]
               li
                 a(href='#toolsdaas') #[p Herramientas]
    section.device-text-one#device
      .container
        .row
          .col-10.middle
            .row
              .col-6.txt-justify
                h2 ¿Qué es Plataforma de lealtad?
                p Hoy la experiencia lo es todo, los usuarios quieren sentirse conectados con los servicios que utilizan, por ello es necesario ir mas allá de las estrategias de marketing y lealtad tradicionales para llegar al usuario de manera significativa.
                p 
              .col-6
                img(src=local_images.images.daas_one alt='Devices As a Service')
    section.how-it-works#howitworks
      .container
        .row
          .col-10.middle
            h2 ¿C&oacute;mo funciona?
            p.txt-justify Sellcom Solutions ofrece un roadmap con metodología y estrategias digitales y de marketing no tradicionales para la implementación de una plataforma de lealtad multicanal, enfocada en ofrecer una experiencia sobresaliente al público en general incrementando el compromiso y la frecuencia efectiva de los usuarios de nuestros clientes e impulse la captura de nuevos usuarios.
            ul
              li 
                p #[strong Aplicación Móvil iOS/Android personalizada] 
                  span 
              li
                p #[strong Desarrollo de Sitio web] 
                  span 
              li
                p #[strong Central de Administración de Contenidos y Reportes ] 
                  span 
              li 
                p #[strong Ofrecer servicios e información en cualquier lugar mediante equipos móviles]
                  span 
              li
                p #[strong Recopilación de datos de usuario, para dar una experiencia personalizada y dar beneficios a los clientes mas comprometidos] 
                  span 
              li
                p #[strong Gamificación/Engagement para incrementar el uso de la aplicación mediante competencias y niveles] 
                  span 
              li
                p #[strong Beneficios: Da productos o servicios extras, ajenos al circuito y a los usuarios, creando un sentido de reciprocidad] 
                  span
              li
                p #[strong Da una experiencia moderna e innovadora, cambia la perspectiva que sus usuarios tienen de la marca] 
                  span
    section.why-daas#whydaas
      .container
        .row
          .col-10.middle
            h2 ¿Por qu&eacute; implementar la Plataforma de Lealtad?
            p.txt-justify A diferencia de plataformas de lealtad ya construidas, Sellcom Solutions rea liza todos los desarrollos de sus aplicaciones desde cero y personaliza cada detalle para cada situación que sus clientes requieran, incrementando el valor que la plataforma puede dar a sus clientes y a su negocio. Junto con nuestros desarrollos incluimos nuestra experiencia en Análisis de Datos para ofrecer la correlacion de información generada por la plataforma con metricas de negocio, para consultar en forma gráfica, el crecimiento de tu programa de lealtad y mejorar las estrategias de negocio.
            ul
              li
                img(src=local_images.images.icon_razon1 alt='Soporte global ')
                p Desarrollo de apicaciones único y personalizado.
              li
                img(src=local_images.images.icon_razon2 alt='Protección contra daños')
                p Incluye funcionalidades extras ligadas al negocio. 
              li
                img(src=local_images.images.icon_razon3 alt='Servicios de reparación')
                p Aumenta tus ventas y fideliza a tus clientes.
              li
                img(src=local_images.images.icon_razon4 alt='Soporte global ')
                p Aplica data science a la data de habitos de consumo.
    section.tools-daas#toolsdaas
      .container
        .row
          .col-10.middle
            h2 Herramientas
            p Sellcom Solutions integra diferentes servicios y capacidades para ofrecer la solucion de Plataforma de Lealtad
            ul.row
              li.col-4
                .img-tools
                  img(src=local_images.images.herramienta1 alt='Asset Management')
                .description-tools
                  h3 Servicios de Desarrollo Sellcom
                  p.txt-justify Proveemos de soluciones de software con desarrollo a la medida, aplicaciones web, nativas en iOS y Android, y multiplataforma.
              li.col-4
                .img-tools
                  img(src=local_images.images.herramienta2 alt='Software Delivery')
                .description-tools
                  h3 Analítica de Datos
                  p.txt-justify Explote los datos generados en la plataforma para descubrir patrones en comportamientos y detectar tendencias, ayudando en la definición de nuevas métricas que ayuden a mejorar la plataforma.
              li.col-4
                .img-tools
                  img(src=local_images.images.herramienta3 alt='Software Metrix')
                .description-tools
                  h3 Integración con sistemas de datos
                  p.txt-justify Integra tus aplicaciones de negocio con la plataforma de lealtad para generar facturas, levantar incidencias u otros sistemas que den valor a tus clientes.
    include ../template/_footer    

dist/dev/sections/plataforma-lealtad.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Plataforma de lealtad</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Llegó la era de la Plataforma de lealtad; una solución que simplifica las operaciones en TI con una sola plataforma. ¡La tecnología que tu empresa necesita!">
    <meta name="keywords" content="Sellcom, Plataforma de lealtad, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-banner-dass"><img class="banner" src="../images/solutions_lealtad/bannerprincipal.jpg" alt="Plataforma de lealtad">
      <div class="container">
        <div class="content">
          <div class="title-sections">
            <h1>Plataforma de lealtad</h1>
          </div>
          <p>El programa de lealtad a la medida de tu negocio.</p>
        </div>
      </div>
    </section>
    <section class="anchors">
      <div class="container">
        <div class="row">
          <div class="col-10 middle"> 
            <ul id="submenu">
              <li><a href="#device">
                  <p>Conoce nuestra soluci&oacute;n</p></a></li>
              <li><a href="#howitworks">
                  <p>¿C&oacute;mo funciona?</p></a></li>
              <li><a href="#whydaas">
                  <p>¿Por qu&eacute; implementar Plataforma de lealtad?</p></a></li>
              <li><a href="#toolsdaas">
                  <p>Herramientas</p></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="device-text-one" id="device">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6 txt-justify">
                <h2>¿Qué es Plataforma de lealtad?</h2>
                <p>Hoy la experiencia lo es todo, los usuarios quieren sentirse conectados con los servicios que utilizan, por ello es necesario ir mas allá de las estrategias de marketing y lealtad tradicionales para llegar al usuario de manera significativa.</p>
                <p> </p>
              </div>
              <div class="col-6"><img src="../images/solutions_lealtad/sellcom-devicedass-service.jpg" alt="Devices As a Service"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="how-it-works" id="howitworks">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <h2>¿C&oacute;mo funciona?</h2>
            <p class="txt-justify">Sellcom Solutions ofrece un roadmap con metodología y estrategias digitales y de marketing no tradicionales para la implementación de una plataforma de lealtad multicanal, enfocada en ofrecer una experiencia sobresaliente al público en general incrementando el compromiso y la frecuencia efectiva de los usuarios de nuestros clientes e impulse la captura de nuevos usuarios.</p>
            <ul>
              <li> 
                <p><strong>Aplicación Móvil iOS/Android personalizada</strong> <span> </span></p>
              </li>
              <li>
                <p><strong>Desarrollo de Sitio web</strong> <span> </span></p>
              </li>
              <li>
                <p><strong>Central de Administración de Contenidos y Reportes </strong> <span> </span></p>
              </li>
              <li> 
                <p><strong>Ofrecer servicios e información en cualquier lugar mediante equipos móviles</strong><span> </span></p>
              </li>
              <li>
                <p><strong>Recopilación de datos de usuario, para dar una experiencia personalizada y dar beneficios a los clientes mas comprometidos</strong> <span> </span></p>
              </li>
              <li>
                <p><strong>Gamificación/Engagement para incrementar el uso de la aplicación mediante competencias y niveles</strong> <span> </span></p>
              </li>
              <li>
                <p><strong>Beneficios: Da productos o servicios extras, ajenos al circuito y a los usuarios, creando un sentido de reciprocidad</strong> <span></span></p>
              </li>
              <li>
                <p><strong>Da una experiencia moderna e innovadora, cambia la perspectiva que sus usuarios tienen de la marca</strong> <span></span></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="why-daas" id="whydaas">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <h2>¿Por qu&eacute; implementar la Plataforma de Lealtad?</h2>
            <p class="txt-justify">A diferencia de plataformas de lealtad ya construidas, Sellcom Solutions rea liza todos los desarrollos de sus aplicaciones desde cero y personaliza cada detalle para cada situación que sus clientes requieran, incrementando el valor que la plataforma puede dar a sus clientes y a su negocio. Junto con nuestros desarrollos incluimos nuestra experiencia en Análisis de Datos para ofrecer la correlacion de información generada por la plataforma con metricas de negocio, para consultar en forma gráfica, el crecimiento de tu programa de lealtad y mejorar las estrategias de negocio.</p>
            <ul>
              <li><img src="../images/solutions_lealtad/icon_razon1.png" alt="Soporte global ">
                <p>Desarrollo de apicaciones único y personalizado.</p>
              </li>
              <li><img src="../images/solutions_lealtad/icon_razon2.png" alt="Protección contra daños">
                <p>Incluye funcionalidades extras ligadas al negocio. </p>
              </li>
              <li><img src="../images/solutions_lealtad/icon_razon3.png" alt="Servicios de reparación">
                <p>Aumenta tus ventas y fideliza a tus clientes.</p>
              </li>
              <li><img src="../images/solutions_lealtad/icon_razon4.png" alt="Soporte global ">
                <p>Aplica data science a la data de habitos de consumo.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="tools-daas" id="toolsdaas">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <h2>Herramientas</h2>
            <p>Sellcom Solutions integra diferentes servicios y capacidades para ofrecer la solucion de Plataforma de Lealtad</p>
            <ul class="row">
              <li class="col-4">
                <div class="img-tools"><img src="../images/solutions_lealtad/herramienta1.jpg" alt="Asset Management"></div>
                <div class="description-tools">
                  <h3>Servicios de Desarrollo Sellcom</h3>
                  <p class="txt-justify">Proveemos de soluciones de software con desarrollo a la medida, aplicaciones web, nativas en iOS y Android, y multiplataforma.</p>
                </div>
              </li>
              <li class="col-4">
                <div class="img-tools"><img src="../images/solutions_lealtad/herramienta2.jpg" alt="Software Delivery"></div>
                <div class="description-tools">
                  <h3>Analítica de Datos</h3>
                  <p class="txt-justify">Explote los datos generados en la plataforma para descubrir patrones en comportamientos y detectar tendencias, ayudando en la definición de nuevas métricas que ayuden a mejorar la plataforma.</p>
                </div>
              </li>
              <li class="col-4">
                <div class="img-tools"><img src="../images/solutions_lealtad/herramienta3.jpg" alt="Software Metrix"></div>
                <div class="description-tools">
                  <h3>Integración con sistemas de datos</h3>
                  <p class="txt-justify">Integra tus aplicaciones de negocio con la plataforma de lealtad para generar facturas, levantar incidencias u otros sistemas que den valor a tus clientes.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/Sellcom.js"></script>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/global/global.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/products_daas.js"></script>
    <script src="../js/plugins/addthis_widget.js"></script>
  </body>
</html>
