src/html/sections/portal-proveedores.pug

include ../config/_variables
- global_path = '../'
- current_profile = CONST_DEV_PROFILE
- var page = 'Sellcom Portal de proveedores'
- var metadata = {}
- metadata['title'] = 'Sellcom - Portal de proveedores'
- metadata['description'] = 'Llegó la era de la Portal de proveedores; una solución que simplifica las operaciones en TI con una sola plataforma. ¡La tecnología que tu empresa necesita!'
- metadata['keywords'] = 'Sellcom, Portal de proveedores, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud'

- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.base + 'Sellcom.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.global + 'global.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers+ 'products_daas.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'addthis_widget.js')
- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.base + 'Sellcom.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.global + 'global.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'products_daas.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'addthis_widget.min.js')

- var local_images = {}
- local_images['images'] = {}
- local_images.images['banner'] = global_path +  images.solutions_proveedores + 'bannerprincipal.jpg'
- local_images.images['daas_one'] = global_path +  images.solutions_proveedores + 'sellcom-devicedass-service.jpg'

- local_images.images['herramienta1'] = global_path + images.solutions_proveedores + 'herramienta1.jpg'
- local_images.images['herramienta2'] = global_path + images.solutions_proveedores + 'herramienta2.jpg'
- local_images.images['herramienta3'] = global_path + images.solutions_proveedores + 'herramienta3.jpg'

- local_images.images['icon_razon1'] = global_path + images.solutions_proveedores + 'icon_razon1.png'
- local_images.images['icon_razon2'] = global_path + images.solutions_proveedores + 'icon_razon2.png'
- local_images.images['icon_razon3'] = global_path + images.solutions_proveedores + 'icon_razon3.png'
- local_images.images['icon_razon4'] = global_path + images.solutions_proveedores + 'icon_razon4.png'
- local_images.images['icon_razon5'] = global_path + images.solutions_proveedores + 'icon_razon5.png'
- local_images.images['icon_razon6'] = global_path + images.solutions_proveedores + 'icon_razon6.png'
- local_images.images['icon_razon7'] = global_path + images.solutions_proveedores + 'icon_razon7.png'
- local_images.images['icon_razon8'] = global_path + images.solutions_proveedores + 'icon_razon8.png'

doctype html
html(lang=site.lang)
  include ../template/_head
  body
    include ../template/_header
    section.section-banner-dass
      img.banner(src=local_images.images.banner alt='Portal de proveedores')
      .container
        .content
          .title-sections
            h1 Portal de proveedores
          p Automatice los procesos de pago almacenando y validando todos los documentos que necesita desde un solo portal.
    section.anchors
      .container
        .row
          .col-10.middle
             ul#submenu
               li
                 a(href='#device') #[p Conoce nuestra soluci&oacute;n]
               li
                 a(href='#howitworks') #[p ¿C&oacute;mo funciona?]
               li
                 a(href='#whydaas') #[p ¿Por qu&eacute; implementar Portal de proveedores?]
               li
                 a(href='#toolsdaas') #[p Herramientas]
    section.device-text-one#device
      .container
        .row
          .col-10.middle
            .row
              .col-6
                h2 ¿Qué es Portal de proveedores?
                p.txt-justify Proporciona el acceso y administración automatizado a las facturas electrónicas que le emitan sus proveedores y la adición de información que sea de interés para su control interno.
                p.txt-justify Mediante la implementación de un adendador inteligente que le permite mejorar la operatividad de su empresa y agilizar sus procesos administrativos; sin que tenga que realizar inversiones en equipamiento, infraestructura, o licencias de software; pudiendo orientar sus recursos a otros procesos claves de su empresa.
              .col-6
                img(src=local_images.images.daas_one alt='Devices As a Service')
    section.how-it-works#howitworks
      .container
        .row
          .col-10.middle
            h2 ¿C&oacute;mo funciona?
            p.txt-justify Invite a sus proveedores a ingresar todos los documentos en un portal web, el cual valida en tiempo real la veracidad de los documentos con entidades certificadoras. Una vez validados se almacenan en un repositorio con la capacidad de crear flujos de documentos y notificaciones a su equipo.
            ul
              li
                p #[strong XML del CFDI]
                  span
              li
                p #[strong PDF de Factura en formato humano]
                  span
              li
                p #[strong Orden de Compra]
                  span
              li
                p #[strong Entrada de Almacén]
                  span
              li
                p #[strong Comprobante de Pago XML CFDI]
                  span
              li
                p #[strong ¡Cualquier documento requerido!]
                  span
            p Valide los documentos en tiempo real, notificando a su proveedor si los documentos fueron aceptados o si hay algun error:
            ul
              li
                p #[strong Validación Fiscal frente al SAT ]
                  span 
              li
                p #[strong Verificación de bienes ante el pedido con SAP]
                  span 
              li
                p #[strong Verificación del estado de cuenta en línea de las ordenes de compra que aun están en proceso de pago]
                  span 
              li
                p #[strong ¡Cualquier proceso o validación interna!]
                  span 
            p Sus usuarios o administradores podrán acceder al portal para gestionar, mediante los filtros predeterminados y otras opciones de búsqueda de indexación por metadatos, los documentos que sus proveedores hayan subido; pudiendo:
            ul
              li
                p #[strong Visualizarlos]
                  span 
              li
                p #[strong Descargarlos]
                  span 
              li
                p #[strong Resguardarlos]
                  span 
              li
                p #[strong Reenviarlos por correo electrónico]
                  span 
              li
                p #[strong Obtener y exportar reportes con el resumen de la información]
                  span 
    section.why-daas#whydaas
      .container
        .row
          .col-10.middle
            h2 ¿Por qu&eacute; implementar Portal de Proveedores?
            p.txt-justify Sellcom Solutions Portal de Proveedores, con su poderoso motor autómata, recolecta sus facturas vía portal de manera sistemática; fácil de utilizar y rico en funciones para el respaldo. Viene con Administrador de Documentos que permitedigitalizar, sincronizar al SAT, Correo, portal de Proveedores para que construya una nube personal y resguardar sus CFDI. Bóveda Fiscal Digital compatible con Windows, Mac, Unix. 
            ul
              li
                img(src=local_images.images.icon_razon1 alt='Soporte global ')
                p Relacionamiento de documentos en el proceso de pagos.
              li
                img(src=local_images.images.icon_razon2 alt='Protección contra daños')
                p Búsqueda de documentos integrada.
              li
                img(src=local_images.images.icon_razon3 alt='Servicios de reparación')
                p Validación de documentos personalizable.
              li
                img(src=local_images.images.icon_razon4 alt='Soporte global ')
                p Información segura con canales y metodos de comunicación seguros y autenticación de usuarios.
              li
                img(src=local_images.images.icon_razon5 alt='Protección contra daños')
                p Niveles de validación del CFDI.
              li
                img(src=local_images.images.icon_razon6 alt='Servicios de reparación')
                p Consola de administración y portal de conexión para proveedores.
              li
                img(src=local_images.images.icon_razon7 alt='Soporte global ')
                p Conexión en cualquier lugar al portal via web.
              li
                img(src=local_images.images.icon_razon8 alt='Protección contra daños')
                p Motor de indexación automática. 
    section.tools-daas#toolsdaas
      .container
        .row
          .col-10.middle
            h2 Herramientas
            p 
            ul.row
              li.col-4
                .img-tools
                  img(src=local_images.images.herramienta1 alt='Asset Management')
                .description-tools
                  h3 Servicios de Desarrollo Sellcom
                  p.txt-justify Proveemos de soluciones de software con desarrollo a la medida, aplicaciones web, nativas en iOS y Android y multiplataforma.
              li.col-4
                .img-tools
                  img(src=local_images.images.herramienta2 alt='Software Delivery')
                .description-tools
                  h3 Gestión de Contenido Seguro
                  p.txt-justify Descubra, proteja y gestione sus archivos y datos más confidenciales a lo largo de su ciclo de vida para mitigar el riesgo de seguridad y proteger su empresa.
              li.col-4
                .img-tools
                  img(src=local_images.images.herramienta3 alt='Software Metrix')
                .description-tools
                  h3 Digitalización de documentos
                  p.txt-justify Llevamos a cabo la conversión digital de sus documentos físicos impulsando la transformación digital.
    include ../template/_footer

dist/dev/sections/portal-proveedores.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Portal de proveedores</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Llegó la era de la Portal de proveedores; una solución que simplifica las operaciones en TI con una sola plataforma. ¡La tecnología que tu empresa necesita!">
    <meta name="keywords" content="Sellcom, Portal de proveedores, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-banner-dass"><img class="banner" src="../images/solutions_proveedores/bannerprincipal.jpg" alt="Portal de proveedores">
      <div class="container">
        <div class="content">
          <div class="title-sections">
            <h1>Portal de proveedores</h1>
          </div>
          <p>Automatice los procesos de pago almacenando y validando todos los documentos que necesita desde un solo portal.</p>
        </div>
      </div>
    </section>
    <section class="anchors">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <ul id="submenu">
              <li><a href="#device">
                  <p>Conoce nuestra soluci&oacute;n</p></a></li>
              <li><a href="#howitworks">
                  <p>¿C&oacute;mo funciona?</p></a></li>
              <li><a href="#whydaas">
                  <p>¿Por qu&eacute; implementar Portal de proveedores?</p></a></li>
              <li><a href="#toolsdaas">
                  <p>Herramientas</p></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="device-text-one" id="device">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <h2>¿Qué es Portal de proveedores?</h2>
                <p class="txt-justify">Proporciona el acceso y administración automatizado a las facturas electrónicas que le emitan sus proveedores y la adición de información que sea de interés para su control interno.</p>
                <p class="txt-justify">Mediante la implementación de un adendador inteligente que le permite mejorar la operatividad de su empresa y agilizar sus procesos administrativos; sin que tenga que realizar inversiones en equipamiento, infraestructura, o licencias de software; pudiendo orientar sus recursos a otros procesos claves de su empresa.</p>
              </div>
              <div class="col-6"><img src="../images/solutions_proveedores/sellcom-devicedass-service.jpg" alt="Devices As a Service"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="how-it-works" id="howitworks">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <h2>¿C&oacute;mo funciona?</h2>
            <p class="txt-justify">Invite a sus proveedores a ingresar todos los documentos en un portal web, el cual valida en tiempo real la veracidad de los documentos con entidades certificadoras. Una vez validados se almacenan en un repositorio con la capacidad de crear flujos de documentos y notificaciones a su equipo.</p>
            <ul>
              <li>
                <p><strong>XML del CFDI</strong><span></span></p>
              </li>
              <li>
                <p><strong>PDF de Factura en formato humano</strong><span></span></p>
              </li>
              <li>
                <p><strong>Orden de Compra</strong><span></span></p>
              </li>
              <li>
                <p><strong>Entrada de Almacén</strong><span></span></p>
              </li>
              <li>
                <p><strong>Comprobante de Pago XML CFDI</strong><span></span></p>
              </li>
              <li>
                <p><strong>¡Cualquier documento requerido!</strong><span></span></p>
              </li>
            </ul>
            <p>Valide los documentos en tiempo real, notificando a su proveedor si los documentos fueron aceptados o si hay algun error:</p>
            <ul>
              <li>
                <p><strong>Validación Fiscal frente al SAT </strong><span> </span></p>
              </li>
              <li>
                <p><strong>Verificación de bienes ante el pedido con SAP</strong><span> </span></p>
              </li>
              <li>
                <p><strong>Verificación del estado de cuenta en línea de las ordenes de compra que aun están en proceso de pago</strong><span> </span></p>
              </li>
              <li>
                <p><strong>¡Cualquier proceso o validación interna!</strong><span> </span></p>
              </li>
            </ul>
            <p>Sus usuarios o administradores podrán acceder al portal para gestionar, mediante los filtros predeterminados y otras opciones de búsqueda de indexación por metadatos, los documentos que sus proveedores hayan subido; pudiendo:</p>
            <ul>
              <li>
                <p><strong>Visualizarlos</strong><span> </span></p>
              </li>
              <li>
                <p><strong>Descargarlos</strong><span> </span></p>
              </li>
              <li>
                <p><strong>Resguardarlos</strong><span> </span></p>
              </li>
              <li>
                <p><strong>Reenviarlos por correo electrónico</strong><span> </span></p>
              </li>
              <li>
                <p><strong>Obtener y exportar reportes con el resumen de la información</strong><span> </span></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="why-daas" id="whydaas">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <h2>¿Por qu&eacute; implementar Portal de Proveedores?</h2>
            <p class="txt-justify">Sellcom Solutions Portal de Proveedores, con su poderoso motor autómata, recolecta sus facturas vía portal de manera sistemática; fácil de utilizar y rico en funciones para el respaldo. Viene con Administrador de Documentos que permitedigitalizar, sincronizar al SAT, Correo, portal de Proveedores para que construya una nube personal y resguardar sus CFDI. Bóveda Fiscal Digital compatible con Windows, Mac, Unix. </p>
            <ul>
              <li><img src="../images/solutions_proveedores/icon_razon1.png" alt="Soporte global ">
                <p>Relacionamiento de documentos en el proceso de pagos.</p>
              </li>
              <li><img src="../images/solutions_proveedores/icon_razon2.png" alt="Protección contra daños">
                <p>Búsqueda de documentos integrada.</p>
              </li>
              <li><img src="../images/solutions_proveedores/icon_razon3.png" alt="Servicios de reparación">
                <p>Validación de documentos personalizable.</p>
              </li>
              <li><img src="../images/solutions_proveedores/icon_razon4.png" alt="Soporte global ">
                <p>Información segura con canales y metodos de comunicación seguros y autenticación de usuarios.</p>
              </li>
              <li><img src="../images/solutions_proveedores/icon_razon5.png" alt="Protección contra daños">
                <p>Niveles de validación del CFDI.</p>
              </li>
              <li><img src="../images/solutions_proveedores/icon_razon6.png" alt="Servicios de reparación">
                <p>Consola de administración y portal de conexión para proveedores.</p>
              </li>
              <li><img src="../images/solutions_proveedores/icon_razon7.png" alt="Soporte global ">
                <p>Conexión en cualquier lugar al portal via web.</p>
              </li>
              <li><img src="../images/solutions_proveedores/icon_razon8.png" alt="Protección contra daños">
                <p>Motor de indexación automática. </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="tools-daas" id="toolsdaas">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <h2>Herramientas</h2>
            <p> </p>
            <ul class="row">
              <li class="col-4">
                <div class="img-tools"><img src="../images/solutions_proveedores/herramienta1.jpg" alt="Asset Management"></div>
                <div class="description-tools">
                  <h3>Servicios de Desarrollo Sellcom</h3>
                  <p class="txt-justify">Proveemos de soluciones de software con desarrollo a la medida, aplicaciones web, nativas en iOS y Android y multiplataforma.</p>
                </div>
              </li>
              <li class="col-4">
                <div class="img-tools"><img src="../images/solutions_proveedores/herramienta2.jpg" alt="Software Delivery"></div>
                <div class="description-tools">
                  <h3>Gestión de Contenido Seguro</h3>
                  <p class="txt-justify">Descubra, proteja y gestione sus archivos y datos más confidenciales a lo largo de su ciclo de vida para mitigar el riesgo de seguridad y proteger su empresa.</p>
                </div>
              </li>
              <li class="col-4">
                <div class="img-tools"><img src="../images/solutions_proveedores/herramienta3.jpg" alt="Software Metrix"></div>
                <div class="description-tools">
                  <h3>Digitalización de documentos</h3>
                  <p class="txt-justify">Llevamos a cabo la conversión digital de sus documentos físicos impulsando la transformación digital.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/Sellcom.js"></script>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/global/global.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/products_daas.js"></script>
    <script src="../js/plugins/addthis_widget.js"></script>
  </body>
</html>
