dist/dev/sections/qlik.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Qlik</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Ahora costos con las soluciones de Qlik; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!">
    <meta name="keywords" content="Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Qlik, bajo demanda, on demand, soluciones Qlik">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-banner-dass"><img class="banner" src="../images/products_qlik/bannerprincipal.jpg" alt="banner">
      <div class="container">
        <div class="content"><br>
          <div class="title-sections">
            <h1>Qlik</h1>
          </div>
          <p>La tercera generación del BI</p>
        </div>
      </div>
    </section>
    <section class="section-about-dass" id="dass">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="title-sections-text">
              <h3>¿Qué es Qlik?</h3>
              <p>El principal obstáculo para lograr que una organización entera se beneficie del valor de los datos es que la gente se ha rezagado en la habilidad de leer, trabajar, analizar y argumentar con datos. Con Qlik, le damos el poder a todos los usuarios para que analicen, descubran y transformen los datos en verdadero valor para el negocio.</p>
            </div>
            <ul>
              <li><strong>Performance y escalabilidad</strong><img src="../images/products_qlik/Sellcom_Icon_performance.png" alt="performance">
                <p>Aún con grandes volúmenes de datos y problemas complejos. Lista para clusters, redundancia y failover.</p>
              </li>
              <li><strong>Autoservicio gobernado</strong><img src="../images/products_qlik/Sellcom_Icon_autoservicio.png" alt="autoservicio">
                <p>Todos obtienen las mismas respuestas correctas. Creatividad visual y consistencia en resultados garantizada.</p>
              </li>
              <li><strong>Una plataforma completa fácil de usar</strong><img src="../images/products_qlik/Sellcom_Icon_plataforma.png" alt="plataforma">
                <p>Conectores de datos, ETL, Gobierno de Datos, lista para uso móvil (en línea o desconectado).</p>
              </li>
              <li><strong>Instalación simple y menos mantenimiento</strong><img src="../images/products_qlik/Sellcom_Icon_instalacion.png" alt="instalacion">
                <p>Todo se maneja desde un navegador web: ETL, desarrollo, analítica guiada, autoservicio, mashups y reportes.</p>
              </li>
              <li><strong>Tecnología asociativa</strong><img src="../images/products_qlik/Sellcom_Icon_tecnologia.png" alt="tecnologia">
                <p>Patentada por Qlik. Indispensable para la exploración y descubrimiento libres, a la velocidad del pensamiento.</p>
              </li>
              <li><strong>Motor cognitivo</strong><img src="../images/products_qlik/Sellcom_Icon_motor.png" alt="motor">
                <p>Sugiere visualizaciones y descubrimientos automáticamente y tiene capacidad de aprendizaje.</p>
              </li>
              <li><strong>Colaborar y compartir</strong><img src="../images/products_qlik/Sellcom_Icon_colaborar.png" alt="colaborar">
                <p>Centro de trabajo organizado por grupos de trabajo o áreas. Publicación de contenido para uso de otros.</p>
              </li>
              <li><strong>Historias de datos y reportes interactivos</strong><img src="../images/products_qlik/Sellcom_Icon_historias.png" alt="historias">
                <p>Comunicación de hallazgos mediante historias con ligas directas a los análisis interactivos.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section-implementDass" id="beneficios">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections-text">
              <h3>¿Por qué implementar Qlik?</h3>
              <p>Beneficios:</p>
            </div>
            <ul>
              <li><img src="../images/products_qlik/Sellcom_Icon_analisis.png" alt="analisis">
                <p>Análisis de datos libre</p>
              </li>
              <li><img src="../images/products_qlik/Sellcom_Icon_velocidad.png" alt="velocidad">
                <p>Velocidad de desarrollo</p>
              </li>
              <li><img src="../images/products_qlik/Sellcom_Icon_inteligencia.png" alt="inteligencia">
                <p>Inteligencia de negocios</p>
              </li>
              <li><img src="../images/products_qlik/Sellcom_Icon_datos.png" alt="datos">
                <p>Todos sus datos</p>
              </li>
              <li><img src="../images/products_qlik/Sellcom_Icon_integracion.png" alt="integracion">
                <p>Integración</p>
              </li>
              <li><img src="../images/products_qlik/Sellcom_Icon_machine.png" alt="machine">
                <p>AI2 y machine learning</p>
              </li>
              <li><img src="../images/products_qlik/Sellcom_Icon_venta.png" alt="venta">
                <p>Venta, suscripción o Saas</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section-subtitle" id="soluciones">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections">
              <h3>Conoce nuestra solución</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-why-dass"><img src="../images/products_qlik/solucion.jpg" alt="solución conoce">
      <div class="container">
        <div class="row">
          <div class="col-6 bgcircle">
            <p>Como representantes autorizados de Qlik en México, contamos con un equipo de consultores certificados que han ayudado a nuestros clientes a lograr beneficios espectaculares mediante la reducción de costos y el descubrimiento de nuevas estrategias.</p>
            <p>Sellcom Solutions ha sido reconocido por Qlik como especialista en las industrias de Banca, Retail y Telecomunicaciones.</p>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/libs/jquery.validate.js"></script>
    <script src="../js/libs/jquery.file.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/sellcom_dass.js"></script>
    <script src="../js/controllers/downloads.js"></script>
    <script src="../js/controllers/form.js"></script>
  </body>
</html>
<script type="text/javascript" src="../js/libs/jquery.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<script type="text/javascript" src="../js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../js/libs/jquery.file.js"></script>
<script type="text/javascript" src="../js/plugins/slick.js"></script>
<script type="text/javascript" src="../js/controllers/sellcom_dass.js"></script>
<script type="text/javascript" src="../js/controllers/downloads.js"></script>
<script type="text/javascript" src="../js/controllers/form.js"></script>

src/html/sections/qlik.pug
//-Configuración y variables globales del proyecto
include ../config/_variables
//-
	Ajustes de la configuración global para esta sección
- global_path = '../'
//-
	Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
	Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Qlik'
- metadata['description'] = 'Ahora costos con las soluciones de Qlik; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Qlik, bajo demanda, on demand, soluciones Qlik'
- var landing = 'apple'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_qlik + 'bannerprincipal.jpg'
//- Servicios
- local.images['performance'] = global_path + images.products_qlik + 'Sellcom_Icon_performance.png'
- local.images['autoservicio'] = global_path + images.products_qlik + 'Sellcom_Icon_autoservicio.png'
- local.images['plataforma'] = global_path + images.products_qlik + 'Sellcom_Icon_plataforma.png'
- local.images['instalacion'] = global_path + images.products_qlik + 'Sellcom_Icon_instalacion.png'
- local.images['tecnologia'] = global_path + images.products_qlik + 'Sellcom_Icon_tecnologia.png'
- local.images['motor'] = global_path + images.products_qlik + 'Sellcom_Icon_motor.png'
- local.images['colaborar'] = global_path + images.products_qlik + 'Sellcom_Icon_colaborar.png'
- local.images['historias'] = global_path + images.products_qlik + 'Sellcom_Icon_historias.png'
//- Beneficios
- local.images['analisis'] = global_path + images.products_qlik + 'Sellcom_Icon_analisis.png'
- local.images['velocidad'] = global_path + images.products_qlik + 'Sellcom_Icon_velocidad.png'
- local.images['inteligencia'] = global_path + images.products_qlik + 'Sellcom_Icon_inteligencia.png'
- local.images['datos'] = global_path + images.products_qlik + 'Sellcom_Icon_datos.png'
- local.images['integracion'] = global_path + images.products_qlik + 'Sellcom_Icon_integracion.png'
- local.images['machine'] = global_path + images.products_qlik + 'Sellcom_Icon_machine.png'
- local.images['venta'] = global_path + images.products_qlik + 'Sellcom_Icon_venta.png'

- local.images['solucion'] = global_path + images.products_qlik + 'solucion.jpg'

doctype html
html(lang=site.lang)
	include ../template/_head
	body
		include ../template/_header
		section.section-banner-dass
			img.banner(src=local.images.banner, alt="banner")
			.container
				.content
					br
					.title-sections
						h1 Qlik
					p La tercera generación del BI
		section.section-about-dass#dass
			.container
				.row
					.col-12
						.title-sections-text
							h3 ¿Qué es Qlik?
							p El principal obstáculo para lograr que una organización entera se beneficie del valor de los datos es que la gente se ha rezagado en la habilidad de leer, trabajar, analizar y argumentar con datos. Con Qlik, le damos el poder a todos los usuarios para que analicen, descubran y transformen los datos en verdadero valor para el negocio.
						ul
							li
								strong Performance y escalabilidad
								img(src=local.images.performance, alt="performance")
								p Aún con grandes volúmenes de datos y problemas complejos. Lista para clusters, redundancia y failover.
							li
								strong Autoservicio gobernado
								img(src=local.images.autoservicio, alt="autoservicio")
								p Todos obtienen las mismas respuestas correctas. Creatividad visual y consistencia en resultados garantizada.
							li
								strong Una plataforma completa fácil de usar
								img(src=local.images.plataforma, alt="plataforma")
								p Conectores de datos, ETL, Gobierno de Datos, lista para uso móvil (en línea o desconectado).
							li
								strong Instalación simple y menos mantenimiento
								img(src=local.images.instalacion, alt="instalacion")
								p Todo se maneja desde un navegador web: ETL, desarrollo, analítica guiada, autoservicio, mashups y reportes.
							li
								strong Tecnología asociativa
								img(src=local.images.tecnologia, alt="tecnologia")
								p Patentada por Qlik. Indispensable para la exploración y descubrimiento libres, a la velocidad del pensamiento.
							li
								strong Motor cognitivo
								img(src=local.images.motor, alt="motor")
								p Sugiere visualizaciones y descubrimientos automáticamente y tiene capacidad de aprendizaje.
							li
								strong Colaborar y compartir
								img(src=local.images.colaborar, alt="colaborar")
								p Centro de trabajo organizado por grupos de trabajo o áreas. Publicación de contenido para uso de otros.
							li
								strong Historias de datos y reportes interactivos
								img(src=local.images.historias, alt="historias")
								p Comunicación de hallazgos mediante historias con ligas directas a los análisis interactivos.
		section.section-implementDass#beneficios
			.container
				.row
					.col-10.middle
						.title-sections-text
							h3 ¿Por qué implementar Qlik?
							p Beneficios:
						ul
							li
								img(src=local.images.analisis, alt="analisis")
								p Análisis de datos libre
							li
								img(src=local.images.velocidad, alt="velocidad")
								p Velocidad de desarrollo
							li
								img(src=local.images.inteligencia, alt="inteligencia")
								p Inteligencia de negocios
							li
								img(src=local.images.datos, alt="datos")
								p Todos sus datos
							li
								img(src=local.images.integracion, alt="integracion")
								p Integración
							li
								img(src=local.images.machine, alt="machine")
								p AI2 y machine learning
							li
								img(src=local.images.venta, alt="venta")
								p Venta, suscripción o Saas
		section.section-subtitle#soluciones
			.container
				.row
					.col-10.middle
						.title-sections
							h3 Conoce nuestra solución

		section.section-why-dass
			img(src=local.images.solucion, alt="solución conoce")
			.container
				.row
					.col-6.bgcircle
						p Como representantes autorizados de Qlik en México, contamos con un equipo de consultores certificados que han ayudado a nuestros clientes a lograr beneficios espectaculares mediante la reducción de costos y el descubrimiento de nuevas estrategias.
						p Sellcom Solutions ha sido reconocido por Qlik como especialista en las industrias de Banca, Retail y Telecomunicaciones.
		include ../template/_footer
		if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
		script(type="text/javascript" src=section_scripts[current_profile][i])
