src/html/sections/reconocimientos.pug
//-Configuración y variables globales del proyecto
include ../config/_variables
//-
    Ajustes de la configuración global para esta sección
- global_path = '../'
//-
    Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
    Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Reconocimientos'
- metadata['description'] = 'Ahora costos con las soluciones de Apple; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Aruba, bajo demanda, on demand, soluciones Aruba'
- var landing = 'reconocimiento'

- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_huawei + 'bannerprincipal.jpg'
//- Servicios
- local.images['migracion'] = global_path + images.products_netapp + 'servicio_migracion.png'
- local.images['proteccion'] = global_path + images.products_netapp + 'servicio_proteccion.png'
- local.images['datos'] = global_path + images.products_netapp + 'servicio_datos.png'
- local.images['almacenamiento'] = global_path + images.products_netapp + 'servicio_almacenamiento.png'

//- Microsite


//- Beneficios
- local.images['archivos'] = global_path + images.products_netapp + 'beneficio_archivos.png'
- local.images['computacion'] = global_path + images.products_netapp + 'beneficio_computacion.png'
- local.images['nube'] = global_path + images.products_netapp + 'beneficio_nube.png'


- local.images['solucion'] = global_path + images.products_netapp + 'solucion.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Huawei_Whitepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'Huawei_casos_de_uso.pdf'

//- Imagenes del nuevo sitio
- local.images['news'] = global_path + images.products_netapp + 'verticales_soluciones_news.png'
- local.images['seguridad'] = global_path + images.products_netapp + 'verticales_soluciones_seguridad.png'
- local.images['auditoria'] = global_path + images.products_netapp + 'verticales_soluciones_auditoria.png'
- local.images['operacion'] = global_path + images.products_netapp + 'verticales_soluciones_operacion.png'
- local.images['control'] = global_path + images.products_netapp + 'vertical_soluciones_control.png'
- local.images['dispositivo'] = global_path + images.products_netapp + 'vertical_soluciones_dispositivo.png'
- local.images['banneraviso'] = global_path + images.products_netapp + 'vertical_soluciones_banneraviso.png'
- local.images['medio'] = global_path + images.products_netapp + 'vertical_soluciones_medio.png'
- local.images['fondo'] = global_path + images.products_netapp + 'vertical_soluciones_fondo.png'
- local.images['hp'] = global_path + images.products_netapp + 'verticales_premio_hp.png'
- local.images['ingram'] = global_path + images.products_netapp + 'verticales_premio_ingram.png'
- local.images['monarca'] = global_path + images.products_netapp + 'verticales_premio_monarca.png'
- local.images['intel'] = global_path + images.products_netapp + 'verticales_premio_intel.png'
- local.images['compusoluciones'] = global_path + images.products_netapp + 'verticales_premio_compusoluciones.png'
- local.images['team'] = global_path + images.products_netapp + 'verticales_premio_team.png'
- local.images['redhat'] = global_path + images.products_netapp + 'verticales_premio_redhat.png'
- local.images['techdata'] = global_path + images.products_netapp + 'verticales_premio_techdata.png'


doctype html
html(lang=site.lang)
    include ../template/_head
    body
        include ../template/_header
        section.section-banner-dass-vertical.mundo
            .banner-vr-2
                .container
                    .content.algo
                        br
                        .title-sections
                        h1 RECONO#[span.green CIMIENTOS]
        section.section-verticales
            .container.gris
                .row
                    .col-10
                        //-h1 RECONO#[span.green CIMIENTOS hp]
                        img.altura(src=local.images.hp, alt="hp")
        section.section-slider-customer#herramientas
            .container
                .row
                .col-12.middle
                    //-.title-sections
                    //-h2 Socios
                    //-p Son una parte importante de nuestro éxito. Contribuyen con sus servicios a generar alianzas estratégicas que nos permiten ofrecer mejores soluciones.
                    ul.slider-tabs
                        li.active
                            h2.demo HP México 
                            p Cross Portfolio Growth Award
                            p Partner in excellence Award APC
                            h1 #[strong 2011]
                            //-img(src=local_images.images.imageLogo1 alt='HP')
                        li
                            h2.demo HP México
                            p Best Performance Award
                            p Partner in Excellence Award GPC
                            h1 #[strong 2012]
                            //-img(src=local_images.images.imageLogo2 alt='Veeam')
                        li
                            h2.demo HP Grafend
                            p Mejor socio de ventas de equipo en dolares
                            //-p Partner in Excellence Award GPC
                            h1 #[strong 2012]
                            //-img(src=local_images.images.imageLogo3 alt='Huawei')
                        li
                            h2.demo HP Grafend
                            p Partner con mayores ventas 
                            p de productos High PPS FY12
                            //-p Partner in Excellence Award GPC
                            h1 #[strong 2013]
                            //-img(src=local_images.images.imageLogo4 alt='Aranda')
                        li
                            h2.demo HP Intel 
                            p Sales Award GPC
                            h1 #[strong 2013]
                            //-img(src=local_images.images.imageLogo5 alt='Apple')
                        li
                            h2.demo HP Intel 
                            p Mayor volumen de ventas EG zona centro
                            h1 #[strong 2013]
                            //-img(src=local_images.images.imageLogo6 alt='MicroFocus')
                        li
                            h2.demo HP Inc. 
                            p Partner First Platinum
                            h1 #[strong 2016]
                            //-img(src=local_images.images.imageLogo11 alt='APC')
                        li
                            h2.demo HP Inc. 
                            p Mayor crecimiento en ventas de 
                            p productos especializados de computo
                            h1 #[strong 2016]
                            //-img(src=local_images.images.imageLogo7 alt='Jamf')
                        li
                            h2.demo HP Inc. 
                            p Partner First Platinum
                            h1 #[strong 2017]
                            //-img(src=local_images.images.imageLogo8 alt='Vmware')
                       
        section.section-verticales
            .container.gris
                .row
                    .col-10
                        //-h1 RECONO#[span.green CIMIENTOS ingram]
                        img.altura2(src=local.images.ingram, alt="ingram")
        section.section-slider-customer#herramientas
            .container
                .row
                .col-12.middle
                    //-.title-sections
                    //-h2 Socios
                    //-p Son una parte importante de nuestro éxito. Contribuyen con sus servicios a generar alianzas estratégicas que nos permiten ofrecer mejores soluciones.
                    ul.slider-tabs
                        li.active
                            h2.demo Soles 9
                            p 1er. Lugar ventas movilidad
                            p HP PSG
                            h1 #[strong 2004]
                            //-img(src=local_images.images.imageLogo1 alt='HP')
                        li#ancho
                            h2.demo Soles 9
                            p 1er. Lugar ventas 
                            p TRIPPLITE
                            h1 #[strong 2004]
                            //-img(src=local_images.images.imageLogo2 alt='Veeam')
                        li#ancho
                            h2.demo Soles 9
                            p 1er. Lugar ventas
                            p VIENSONIC
                            h1 #[strong 2004]
                            //-img(src=local_images.images.imageLogo3 alt='Huawei')
                        li
                            h2.demo Soles 12
                            p Mejor canal proyectos
                            p HP PSG
                            h1 #[strong 2007]
                            //-img(src=local_images.images.imageLogo4 alt='Aranda')
                        li
                            h2.demo Soles 13
                            p Mayores ventas de proyectos de volumen
                            p HP IPG 
                            h1 #[strong 2008]
                            //-img(src=local_images.images.imageLogo5 alt='Apple')
                        li  
                            h2.demo Soles 14
                            p Reconocimiento especial mayores ventas 
                            p CDMX
                            h1 #[strong 2009]
                            //-img(src=local_images.images.imageLogo6 alt='MicroFocus')
                        li
                            h2.demo Soles 16
                            p Mayor venta proyectos de valor 
                            p a nivel nacional
                            h1 #[strong 2011]
                            //-img(src=local_images.images.imageLogo11 alt='APC')
                        li
                            h2.demo Soles 16
                            p Mayor crecimiento hardware
                            h1 #[strong 2011]
                            //-img(src=local_images.images.imageLogo7 alt='Jamf')
                        li
                            h2.demo Soles 18
                            p Mayor venta
                            p HP PSG
                            h1 #[strong 2013]
                            //-img(src=local_images.images.imageLogo8 alt='Vmware')
                        li
                            h2.demo Soles 19
                            p Mayor venta zona metropolitana
                            h1 #[strong 2014]
                            //-img(src=local_images.images.imageLogo9 alt='Cyber c')
                        li#ancho2
                            h2.demo Soles 19
                            p Mayor venta comercial
                            p HP
                            h1 #[strong 2014]
                            //-img(src=local_images.images.imageLogo10 alt='Qlik')
                        li
                            h2.demo Soles 19
                            p Mayor crecimiento de proyectos
                            p HP EG
                            h1 #[strong 2014]
                            //-img(src=local_images.images.imageLogo12, alt='Aruba')
                        li
                            h2.demo Soles 20
                            p Mayor venta
                            p CDMX
                            h1 #[strong 2015]
                            //-img(src=local_images.images.imageLogo13, alt='AWS')
                       
        section.section-verticales
            .container.gris
                .row
                    .col-10
                        //-h1 RECONO#[span.green CIMIENTOS Monarca]
                        img.altura2(src=local.images.monarca, alt="monarca")
        section.section-slider-customer#herramientas
            .container
                .row
                .col-12.middle
                    //-.title-sections
                    //-h2 Socios
                    //-p Son una parte importante de nuestro éxito. Contribuyen con sus servicios a generar alianzas estratégicas que nos permiten ofrecer mejores soluciones.
                    ul.slider-tabs
                        li.active
                            h2.demo Monarca
                            p Clientes con mayores ventas
                            p HP
                            h1 #[strong 2006]
                            //-img(src=local_images.images.imageLogo1 alt='HP')
                        li
                            h2.demo Monarca
                            p Distribuidor con mejor desempeño
                            p HP
                            h1 #[strong 2007]
                            //-img(src=local_images.images.imageLogo2 alt='Veeam')
                        li#ancho
                            h2.demo Monarca
                            p Distribuidor con mayor volumen de ventas 
                            p PSG
                            h1 #[strong 2008]
                            //-img(src=local_images.images.imageLogo3 alt='Huawei')
                        li
                            h2.demo Monarca
                            p Distribuidor con el mejor alineamiento   
                            p en el portafolio de soluciones HP
                            h1 #[strong 2008]
                            //-img(src=local_images.images.imageLogo3 alt='Huawei')
                        li
                            h2.demo Monarca
                            p Distribuidor del año zona centro
                            p PSG
                            h1 #[strong 2010]
                            //-img(src=local_images.images.imageLogo4 alt='Aranda')
                        li
                            h2.demo Monarca
                            p Distribuidor del año porcentaje de 
                            p crecimiento EB
                            h1 #[strong 2010]
                        li#ancho
                            h2.demo Monarca
                            p Mejor canal distribución
                            p HP
                            h1 #[strong 2010]
                        li
                            h2.demo Monarca
                            p Canal con mayor volumen de ventas 
                            p zona centro
                            p PPS
                            h1 #[strong 2013]
                        li
                            h2.demo Monarca
                            p Canal con mayor volumen de ventas por 
                            p zona geográfica centro
                            p EG
                            h1 #[strong 2014]
                            //-img(src=local_images.images.imageLogo5 alt='Apple')
                        li
                            h2.demo Monarca
                            p Canal con mejor desempeño cómputo 
                            p  personal comercial
                            p EG
                            h1 #[strong 2014]
                            //-img(src=local_images.images.imageLogo6 alt='MicroFocus')
                        li
                            h2.demo Monarca
                            p Canal con Mayor   
                            p Volumen de Ventas, Networking
                            h1 #[strong 2014]
                            //-img(src=local_images.images.imageLogo6 alt='MicroFocus')
                        li
                            h2.demo Monarca
                            p Mayor venta de Portafolio HP Inc por Región  
                            p Zona Centro 
                            h1 #[strong 2019]
                            //-img(src=local_images.images.imageLogo6 alt='MicroFocus')
                        li
                            h2.demo Monarca
                            p Mejor Socio de Negocios HPIFS 
                            h1 #[strong 2019]
                            //-img(src=local_images.images.imageLogo6 alt='MicroFocus')
        section.section-verticales
            .container.gris
                .row
                    .col-10
                        //-h1 RECONO#[span.green CIMIENTOS Intel]
                        img.altura(src=local.images.intel, alt="intel")
        section.section-slider-customer#herramientas
            .container
                .row
                .col-12.middle
                    //-.title-sections
                    //-h2 Socios
                    //-p Son una parte importante de nuestro éxito. Contribuyen con sus servicios a generar alianzas estratégicas que nos permiten ofrecer mejores soluciones.
                    ul.slider-tabs
                        li.active
                            h2.demo Intel
                            p Technology Provider Platinum  
                            h1 #[strong 2016]
                            //-img(src=local_images.images.imageLogo1 alt='HP')
                        li#ancho
                            h2.demo Intel
                            p Technology Provider Platinum  
                            h1 #[strong 2017]
                            //-img(src=local_images.images.imageLogo2 alt='Veeam')
                        li#ancho
                            h2.demo Intel
                            p Technology Provider Platinum  
                            h1 #[strong 2017]
                            //-img(src=local_images.images.imageLogo2 alt='Veeam')
                        li
                            h2.demo Intel
                            p Technology Provider Platinum  
                            h1 #[strong 2017]
                            //-img(src=local_images.images.imageLogo2 alt='Veeam')
        section.section-verticales
            .container.gris
                .row
                    .col-10
                        //-h1 RECONO#[span.green CIMIENTOS CompuSoluciones]
                        img.altura2(src=local.images.compusoluciones, alt="compusoluciones")
        section.section-slider-customer#herramientas
            .container
                .row
                .col-12.middle
                    //-.title-sections
                    //-h2 Socios
                    //-p Son una parte importante de nuestro éxito. Contribuyen con sus servicios a generar alianzas estratégicas que nos permiten ofrecer mejores soluciones.
                    ul.slider-tabs
                        li.active
                            h2.demo CompuSoluciones 
                            p Mayor volumen de ventas TEAM
                            p HP
                            h1 #[strong 2013]
                            //-img(src=local_images.images.imageLogo1 alt='HP')
                        li
                            h2.demo CompuSoluciones 
                            p 1er. Lugar de Ventas TEAM
                            p HP
                            h1 #[strong 2014]
                            //-img(src=local_images.images.imageLogo3 alt='Huawei')
        section.section-verticales
            .container.gris
                .row
                    .col-10
                        //-h1 RECONO#[span.green CIMIENTOS Team]
                        img.altura2(src=local.images.team, alt="team")
        section.section-slider-customer#herramientas
            .container
                .row
                .col-12.middle
                    //-.title-sections
                    //-h2 Socios
                    //-p Son una parte importante de nuestro éxito. Contribuyen con sus servicios a generar alianzas estratégicas que nos permiten ofrecer mejores soluciones.
                    ul.slider-tabs
                        li.active
                            h2.demo Team
                            p Mayor volumen de ventas TEAM 
                            p México HP 
                            h1 #[strong 2005]
                            //-img(src=local_images.images.imageLogo1 alt='HP')
                        li
                            h2.demo Team
                            p 1er. Lugar de Ventas TEAM Valle
                            h1 #[strong 2010]
        section.section-verticales
            .container.gris
                .row
                    .col-10
                        //-h1 RECONO#[span.green CIMIENTOS Redhat]
                        img.altura2(src=local.images.redhat, alt="redhat")
        section.section-slider-customer#herramientas
            .container
                .row
                .col-12.middle
                    //-.title-sections
                    //-h2 Socios
                    //-p Son una parte importante de nuestro éxito. Contribuyen con sus servicios a generar alianzas estratégicas que nos permiten ofrecer mejores soluciones.
                    ul.slider-tabs
                        li.active
                            h2.demo ReadHat 
                            p Quota Achievement
                            p FY16
                            //-img(src=local_images.images.imageLogo1 alt='HP')
        section.section-verticales
            .container.gris
                .row
                    .col-10
                        //-h1 RECONO#[span.green CIMIENTOS TechData]
                        img.altura2(src=local.images.techdata, alt="techdata")
        section.section-slider-customer#herramientas
            .container
                .row
                .col-12.middle
                    //-.title-sections
                    //-h2 Socios
                    //-p Son una parte importante de nuestro éxito. Contribuyen con sus servicios a generar alianzas estratégicas que nos permiten ofrecer mejores soluciones.
                    ul.slider-tabs
                        li.active
                            h2.demo TechData 
                            p Clientes con mayores ventas
                            h1 #[strong 2010]
                            //-img(src=local_images.images.imageLogo1 alt='HP') 
        
                    
                       
        //-.flotante
            a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
                img(src=local.images.whitepaper, alt="big data" )
            a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
                img(src=local.images.casodeuso, alt="big data")
        include ../template/_footer
        if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
        script(type="text/javascript" src=section_scripts[current_profile][i])

dist/dev/sections/reconocimientos.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Reconocimientos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Ahora costos con las soluciones de Apple; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!">
    <meta name="keywords" content="Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Aruba, bajo demanda, on demand, soluciones Aruba">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-banner-dass-vertical mundo">
      <div class="banner-vr-2">
        <div class="container">
          <div class="content algo"><br>
            <div class="title-sections"></div>
            <h1>RECONO<span class="green">CIMIENTOS</span></h1>
          </div>
        </div>
      </div>
    </section>
    <section class="section-verticales">
      <div class="container gris">
        <div class="row">
          <div class="col-10"><img class="altura" src="../images/products_netapp/verticales_premio_hp.png" alt="hp"></div>
        </div>
      </div>
    </section>
    <section class="section-slider-customer" id="herramientas">
      <div class="container">
        <div class="row"></div>
        <div class="col-12 middle">
          <ul class="slider-tabs">
            <li class="active">
              <h2 class="demo">HP México </h2>
              <p>Cross Portfolio Growth Award</p>
              <p>Partner in excellence Award APC</p>
              <h1><strong>2011</strong></h1>
            </li>
            <li>
              <h2 class="demo">HP México</h2>
              <p>Best Performance Award</p>
              <p>Partner in Excellence Award GPC</p>
              <h1><strong>2012</strong></h1>
            </li>
            <li>
              <h2 class="demo">HP Grafend</h2>
              <p>Mejor socio de ventas de equipo en dolares</p>
              <h1><strong>2012</strong></h1>
            </li>
            <li>
              <h2 class="demo">HP Grafend</h2>
              <p>Partner con mayores ventas </p>
              <p>de productos High PPS FY12</p>
              <h1><strong>2013</strong></h1>
            </li>
            <li>
              <h2 class="demo">HP Intel </h2>
              <p>Sales Award GPC</p>
              <h1><strong>2013</strong></h1>
            </li>
            <li>
              <h2 class="demo">HP Intel </h2>
              <p>Mayor volumen de ventas EG zona centro</p>
              <h1><strong>2013</strong></h1>
            </li>
            <li>
              <h2 class="demo">HP Inc. </h2>
              <p>Partner First Platinum</p>
              <h1><strong>2016</strong></h1>
            </li>
            <li>
              <h2 class="demo">HP Inc. </h2>
              <p>Mayor crecimiento en ventas de </p>
              <p>productos especializados de computo</p>
              <h1><strong>2016</strong></h1>
            </li>
            <li>
              <h2 class="demo">HP Inc. </h2>
              <p>Partner First Platinum</p>
              <h1><strong>2017</strong></h1>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="section-verticales">
      <div class="container gris">
        <div class="row">
          <div class="col-10"><img class="altura2" src="../images/products_netapp/verticales_premio_ingram.png" alt="ingram"></div>
        </div>
      </div>
    </section>
    <section class="section-slider-customer" id="herramientas">
      <div class="container">
        <div class="row"></div>
        <div class="col-12 middle">
          <ul class="slider-tabs">
            <li class="active">
              <h2 class="demo">Soles 9</h2>
              <p>1er. Lugar ventas movilidad</p>
              <p>HP PSG</p>
              <h1><strong>2004</strong></h1>
            </li>
            <li id="ancho">
              <h2 class="demo">Soles 9</h2>
              <p>1er. Lugar ventas </p>
              <p>TRIPPLITE</p>
              <h1><strong>2004</strong></h1>
            </li>
            <li id="ancho">
              <h2 class="demo">Soles 9</h2>
              <p>1er. Lugar ventas</p>
              <p>VIENSONIC</p>
              <h1><strong>2004</strong></h1>
            </li>
            <li>
              <h2 class="demo">Soles 12</h2>
              <p>Mejor canal proyectos</p>
              <p>HP PSG</p>
              <h1><strong>2007</strong></h1>
            </li>
            <li>
              <h2 class="demo">Soles 13</h2>
              <p>Mayores ventas de proyectos de volumen</p>
              <p>HP IPG </p>
              <h1><strong>2008</strong></h1>
            </li>
            <li> 
              <h2 class="demo">Soles 14</h2>
              <p>Reconocimiento especial mayores ventas </p>
              <p>CDMX</p>
              <h1><strong>2009</strong></h1>
            </li>
            <li>
              <h2 class="demo">Soles 16</h2>
              <p>Mayor venta proyectos de valor </p>
              <p>a nivel nacional</p>
              <h1><strong>2011</strong></h1>
            </li>
            <li>
              <h2 class="demo">Soles 16</h2>
              <p>Mayor crecimiento hardware</p>
              <h1><strong>2011</strong></h1>
            </li>
            <li>
              <h2 class="demo">Soles 18</h2>
              <p>Mayor venta</p>
              <p>HP PSG</p>
              <h1><strong>2013</strong></h1>
            </li>
            <li>
              <h2 class="demo">Soles 19</h2>
              <p>Mayor venta zona metropolitana</p>
              <h1><strong>2014</strong></h1>
            </li>
            <li id="ancho2">
              <h2 class="demo">Soles 19</h2>
              <p>Mayor venta comercial</p>
              <p>HP</p>
              <h1><strong>2014</strong></h1>
            </li>
            <li>
              <h2 class="demo">Soles 19</h2>
              <p>Mayor crecimiento de proyectos</p>
              <p>HP EG</p>
              <h1><strong>2014</strong></h1>
            </li>
            <li>
              <h2 class="demo">Soles 20</h2>
              <p>Mayor venta</p>
              <p>CDMX</p>
              <h1><strong>2015</strong></h1>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="section-verticales">
      <div class="container gris">
        <div class="row">
          <div class="col-10"><img class="altura2" src="../images/products_netapp/verticales_premio_monarca.png" alt="monarca"></div>
        </div>
      </div>
    </section>
    <section class="section-slider-customer" id="herramientas">
      <div class="container">
        <div class="row"></div>
        <div class="col-12 middle">
          <ul class="slider-tabs">
            <li class="active">
              <h2 class="demo">Monarca</h2>
              <p>Clientes con mayores ventas</p>
              <p>HP</p>
              <h1><strong>2006</strong></h1>
            </li>
            <li>
              <h2 class="demo">Monarca</h2>
              <p>Distribuidor con mejor desempeño</p>
              <p>HP</p>
              <h1><strong>2007</strong></h1>
            </li>
            <li id="ancho">
              <h2 class="demo">Monarca</h2>
              <p>Distribuidor con mayor volumen de ventas </p>
              <p>PSG</p>
              <h1><strong>2008</strong></h1>
            </li>
            <li>
              <h2 class="demo">Monarca</h2>
              <p>Distribuidor con el mejor alineamiento   </p>
              <p>en el portafolio de soluciones HP</p>
              <h1><strong>2008</strong></h1>
            </li>
            <li>
              <h2 class="demo">Monarca</h2>
              <p>Distribuidor del año zona centro</p>
              <p>PSG</p>
              <h1><strong>2010</strong></h1>
            </li>
            <li>
              <h2 class="demo">Monarca</h2>
              <p>Distribuidor del año porcentaje de </p>
              <p>crecimiento EB</p>
              <h1><strong>2010</strong></h1>
            </li>
            <li id="ancho">
              <h2 class="demo">Monarca</h2>
              <p>Mejor canal distribución</p>
              <p>HP</p>
              <h1><strong>2010</strong></h1>
            </li>
            <li>
              <h2 class="demo">Monarca</h2>
              <p>Canal con mayor volumen de ventas </p>
              <p>zona centro</p>
              <p>PPS</p>
              <h1><strong>2013</strong></h1>
            </li>
            <li>
              <h2 class="demo">Monarca</h2>
              <p>Canal con mayor volumen de ventas por </p>
              <p>zona geográfica centro</p>
              <p>EG</p>
              <h1><strong>2014</strong></h1>
            </li>
            <li>
              <h2 class="demo">Monarca</h2>
              <p>Canal con mejor desempeño cómputo </p>
              <p> personal comercial</p>
              <p>EG</p>
              <h1><strong>2014</strong></h1>
            </li>
            <li>
              <h2 class="demo">Monarca</h2>
              <p>Canal con Mayor   </p>
              <p>Volumen de Ventas, Networking</p>
              <h1><strong>2014</strong></h1>
            </li>
            <li>
              <h2 class="demo">Monarca</h2>
              <p>Mayor venta de Portafolio HP Inc por Región  </p>
              <p>Zona Centro </p>
              <h1><strong>2019</strong></h1>
            </li>
            <li>
              <h2 class="demo">Monarca</h2>
              <p>Mejor Socio de Negocios HPIFS </p>
              <h1><strong>2019</strong></h1>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="section-verticales">
      <div class="container gris">
        <div class="row">
          <div class="col-10"><img class="altura" src="../images/products_netapp/verticales_premio_intel.png" alt="intel"></div>
        </div>
      </div>
    </section>
    <section class="section-slider-customer" id="herramientas">
      <div class="container">
        <div class="row"></div>
        <div class="col-12 middle">
          <ul class="slider-tabs">
            <li class="active">
              <h2 class="demo">Intel</h2>
              <p>Technology Provider Platinum  </p>
              <h1><strong>2016</strong></h1>
            </li>
            <li id="ancho">
              <h2 class="demo">Intel</h2>
              <p>Technology Provider Platinum  </p>
              <h1><strong>2017</strong></h1>
            </li>
            <li id="ancho">
              <h2 class="demo">Intel</h2>
              <p>Technology Provider Platinum  </p>
              <h1><strong>2017</strong></h1>
            </li>
            <li>
              <h2 class="demo">Intel</h2>
              <p>Technology Provider Platinum  </p>
              <h1><strong>2017</strong></h1>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="section-verticales">
      <div class="container gris">
        <div class="row">
          <div class="col-10"><img class="altura2" src="../images/products_netapp/verticales_premio_compusoluciones.png" alt="compusoluciones"></div>
        </div>
      </div>
    </section>
    <section class="section-slider-customer" id="herramientas">
      <div class="container">
        <div class="row"></div>
        <div class="col-12 middle">
          <ul class="slider-tabs">
            <li class="active">
              <h2 class="demo">CompuSoluciones </h2>
              <p>Mayor volumen de ventas TEAM</p>
              <p>HP</p>
              <h1><strong>2013</strong></h1>
            </li>
            <li>
              <h2 class="demo">CompuSoluciones </h2>
              <p>1er. Lugar de Ventas TEAM</p>
              <p>HP</p>
              <h1><strong>2014</strong></h1>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="section-verticales">
      <div class="container gris">
        <div class="row">
          <div class="col-10"><img class="altura2" src="../images/products_netapp/verticales_premio_team.png" alt="team"></div>
        </div>
      </div>
    </section>
    <section class="section-slider-customer" id="herramientas">
      <div class="container">
        <div class="row"></div>
        <div class="col-12 middle">
          <ul class="slider-tabs">
            <li class="active">
              <h2 class="demo">Team</h2>
              <p>Mayor volumen de ventas TEAM </p>
              <p>México HP </p>
              <h1><strong>2005</strong></h1>
            </li>
            <li>
              <h2 class="demo">Team</h2>
              <p>1er. Lugar de Ventas TEAM Valle</p>
              <h1><strong>2010</strong></h1>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="section-verticales">
      <div class="container gris">
        <div class="row">
          <div class="col-10"><img class="altura2" src="../images/products_netapp/verticales_premio_redhat.png" alt="redhat"></div>
        </div>
      </div>
    </section>
    <section class="section-slider-customer" id="herramientas">
      <div class="container">
        <div class="row"></div>
        <div class="col-12 middle">
          <ul class="slider-tabs">
            <li class="active">
              <h2 class="demo">ReadHat </h2>
              <p>Quota Achievement</p>
              <p>FY16</p>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="section-verticales">
      <div class="container gris">
        <div class="row">
          <div class="col-10"><img class="altura2" src="../images/products_netapp/verticales_premio_techdata.png" alt="techdata"></div>
        </div>
      </div>
    </section>
    <section class="section-slider-customer" id="herramientas">
      <div class="container">
        <div class="row"></div>
        <div class="col-12 middle">
          <ul class="slider-tabs">
            <li class="active">
              <h2 class="demo">TechData </h2>
              <p>Clientes con mayores ventas</p>
              <h1><strong>2010</strong></h1>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/libs/jquery.validate.js"></script>
    <script src="../js/libs/jquery.file.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/sellcom_dass.js"></script>
    <script src="../js/controllers/downloads.js"></script>
    <script src="../js/controllers/form.js"></script>
  </body>
</html>
<script type="text/javascript" src="../js/libs/jquery.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<script type="text/javascript" src="../js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../js/libs/jquery.file.js"></script>
<script type="text/javascript" src="../js/plugins/slick.js"></script>
<script type="text/javascript" src="../js/controllers/sellcom_dass.js"></script>
<script type="text/javascript" src="../js/controllers/downloads.js"></script>
<script type="text/javascript" src="../js/controllers/form.js"></script>
