dist/dev/sections/redhat.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Redhat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Ahora costos con las soluciones de Redhat; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!">
    <meta name="keywords" content="Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Redhat, bajo demanda, on demand, soluciones Redhat">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-banner-dass"><img class="banner" src="../images/products_redhat/bannerprincipal.jpg" alt="banner">
      <div class="container">
        <div class="content"><br>
          <div class="title-sections">
            <h1>Sistema Operativo RedHat</h1>
          </div>
          <p>Software empresarial líder a nivel internacional con bases en el código open source, partner de Sellcom en México</p>
        </div>
      </div>
    </section>
    <section class="section-about-dass" id="dass">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="title-sections-text">
              <h3>¿Qué es Redhat?</h3>
              <p>El enfoque open source es un proceso colaborativo comprobado para crear tecnología innovadora. Es la libertad para ver el código, aprender de él, hacer preguntas y ofrecer mejoras. Miles de colaboradores de la comunidad open source se reúnen para generar las mejores ideas.</p>
            </div>
            <ul>
              <li><strong>INFRAESTRUCTURA</strong><img src="../images/products_redhat/servicio_servidor.png" alt="infraestructura">
                <p>Almacenamiento, administración y todas las herramientas necesarias.</p>
              </li>
              <li><strong>INTEGRACIÓN</strong><img src="../images/products_redhat/servicio_api.png" alt="integracionh">
                <p>APIS de integración y herramientas a la mano para colaboración entre sistemas.</p>
              </li>
              <li><strong>NUBE</strong><img src="../images/products_redhat/servicio_Nube.png" alt="nube">
                <p>Servicios de nube pública, privada e híbrida.</p>
              </li>
              <li><strong>AUTOMATIZACIÓN</strong><img src="../images/products_redhat/servicio_automatizacion.png" alt="automatizacion">
                <p>Herramientas para ejecución de actividades y recuperación automáticas.</p>
              </li>
              <li><strong>GESTIÓN</strong><img src="../images/products_redhat/servicio_gestion plataformas.png" alt="gestion">
                <p>Plataformas para gestión de nube e infraestructura.</p>
              </li>
              <li><strong>DESARROLLO DE APLICACIONES</strong><img src="../images/products_redhat/servicio_app desarrolllo.png" alt="desarrollo">
                <p>Todo lo necesario para poder desarrollar apps en SO redhat.</p>
              </li>
              <li><strong>CONTENEDORES</strong><img src="../images/products_redhat/servicio_encapsulador.png" alt="contenedores">
                <p>Plataformas para gestión de nube e infraestructura.</p>
              </li>
              <li><strong>SOPORTE</strong><img src="../images/products_redhat/servicio_support.png" alt="soporte">
                <p>Atención personalizada para atender sus dudas.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <div class="flotante"><a class="whitepage" href="../documents/Redhat_Whithepaper.pdf" dowloand target="_blank" title="Descargar white paper"><img src="../images/global/whitepaper.png" alt="big data"></a><a class="caseofuse" href="../documents/Redhat_Caso_de_Uso.pdf" dowloand target="_blank" title="Descargar casos de uso"><img src="../images/global/casodeuso.png" alt="big data"></a></div>
    <section class="section-implementDass" id="beneficios">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections-text">
              <h3>¿Por qué implementar Redhat?</h3>
              <p>Beneficios:</p>
            </div>
            <ul>
              <li><img src="../images/products_redhat/beneficio_seguridad.png" alt="seguridad">
                <p>SEGURIDAD</p>
              </li>
              <li><img src="../images/products_redhat/beneficio_colaboración.png" alt="colaboracion">
                <p>COLABORACIÓN</p>
              </li>
              <li><img src="../images/products_redhat/beneficio_integracion.png" alt="integracion">
                <p>INTEGRACIÓN</p>
              </li>
              <li><img src="../images/products_redhat/beneficio_flexible.png" alt="flexibilidad">
                <p>FLEXIBILIDAD</p>
              </li>
              <li><img src="../images/products_redhat/beneficio_innovación.png" alt="innovacion">
                <p>INNOVACIÓN</p>
              </li>
              <li><img src="../images/products_redhat/beneficio_disponibilidad.png" alt="disponibilidad">
                <p>DISPONIBILIDAD</p>
              </li>
              <li><img src="../images/products_redhat/beneficio_adaptabilidad.png" alt="adaptabilidad">
                <p>ADAPTABILIDAD</p>
              </li>
              <li><img src="../images/products_redhat/beneficio_diversidad.png" alt="diversidad">
                <p>DIVERSIDAD</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section-subtitle" id="soluciones">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections">
              <h3>Conoce nuestra solución</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-why-dass"><img src="../images/products_redhat/solucion.jpg" alt="solución conoce">
      <div class="container">
        <div class="row">
          <div class="col-6 bgcircle">
            <p>Red Hat es el proveedor líder mundial de soluciones de TI empresariales de código abierto.</p>
            <p>A través de un modelo de suscripción predecible y asequible, nuestros clientes adquieren tecnologías fiables y de alto rendimiento de nube, Linux, gestión, middleware, mobile, almacenamiento y virtualización. También ofrecemos soporte, capacitación y servicios de consultoría galardonados.</p>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/libs/jquery.validate.js"></script>
    <script src="../js/libs/jquery.file.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/sellcom_dass.js"></script>
    <script src="../js/controllers/downloads.js"></script>
    <script src="../js/controllers/form.js"></script>
  </body>
</html>
<script type="text/javascript" src="../js/libs/jquery.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<script type="text/javascript" src="../js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../js/libs/jquery.file.js"></script>
<script type="text/javascript" src="../js/plugins/slick.js"></script>
<script type="text/javascript" src="../js/controllers/sellcom_dass.js"></script>
<script type="text/javascript" src="../js/controllers/downloads.js"></script>
<script type="text/javascript" src="../js/controllers/form.js"></script>

src/html/sections/redhat.pug
//-Configuración y variables globales del proyecto
include ../config/_variables
//-
	Ajustes de la configuración global para esta sección
- global_path = '../'
//-
	Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
	Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Redhat'
- metadata['description'] = 'Ahora costos con las soluciones de Redhat; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Redhat, bajo demanda, on demand, soluciones Redhat'
- var landing = 'redhat'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_redhat + 'bannerprincipal.jpg'
//- Servicios
- local.images['infraestructura'] = global_path + images.products_redhat + 'servicio_servidor.png'
- local.images['integracionh'] = global_path + images.products_redhat + 'servicio_api.png'
- local.images['nube'] = global_path + images.products_redhat + 'servicio_Nube.png'
- local.images['automatizacion'] = global_path + images.products_redhat + 'servicio_automatizacion.png'
- local.images['gestion'] = global_path + images.products_redhat + 'servicio_gestion plataformas.png'
- local.images['desarrollo'] = global_path + images.products_redhat + 'servicio_app desarrolllo.png'
- local.images['contenedores'] = global_path + images.products_redhat + 'servicio_encapsulador.png'
- local.images['soporte'] = global_path + images.products_redhat + 'servicio_support.png'
//- Beneficios
- local.images['seguridad'] = global_path + images.products_redhat + 'beneficio_seguridad.png'
- local.images['colaboracion'] = global_path + images.products_redhat + 'beneficio_colaboración.png'
- local.images['integracion'] = global_path + images.products_redhat + 'beneficio_integracion.png'
- local.images['flexibilidad'] = global_path + images.products_redhat + 'beneficio_flexible.png'
- local.images['innovacion'] = global_path + images.products_redhat + 'beneficio_innovación.png'
- local.images['disponibilidad'] = global_path + images.products_redhat + 'beneficio_disponibilidad.png'
- local.images['adaptabilidad'] = global_path + images.products_redhat + 'beneficio_adaptabilidad.png'
- local.images['diversidad'] = global_path + images.products_redhat + 'beneficio_diversidad.png'

- local.images['solucion'] = global_path + images.products_redhat + 'solucion.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Redhat_Whithepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'Redhat_Caso_de_Uso.pdf'

doctype html
html(lang=site.lang)
	include ../template/_head
	body
		include ../template/_header
		section.section-banner-dass
			img.banner(src=local.images.banner, alt="banner")
			.container
				.content
					br
					.title-sections
						h1 Sistema Operativo RedHat
					p Software empresarial líder a nivel internacional con bases en el código open source, partner de Sellcom en México
		section.section-about-dass#dass
			.container
				.row
					.col-12
						.title-sections-text
							h3 ¿Qué es Redhat?
							p El enfoque open source es un proceso colaborativo comprobado para crear tecnología innovadora. Es la libertad para ver el código, aprender de él, hacer preguntas y ofrecer mejoras. Miles de colaboradores de la comunidad open source se reúnen para generar las mejores ideas.
						ul
							li
								strong INFRAESTRUCTURA
								img(src=local.images.infraestructura, alt="infraestructura")
								p Almacenamiento, administración y todas las herramientas necesarias.
							li
								strong INTEGRACIÓN
								img(src=local.images.integracionh, alt="integracionh")
								p APIS de integración y herramientas a la mano para colaboración entre sistemas.
							li
								strong NUBE
								img(src=local.images.nube, alt="nube")
								p Servicios de nube pública, privada e híbrida.
							li
								strong AUTOMATIZACIÓN
								img(src=local.images.automatizacion, alt="automatizacion")
								p Herramientas para ejecución de actividades y recuperación automáticas.
							li
								strong GESTIÓN
								img(src=local.images.gestion, alt="gestion")
								p Plataformas para gestión de nube e infraestructura.
							li
								strong DESARROLLO DE APLICACIONES
								img(src=local.images.desarrollo, alt="desarrollo")
								p Todo lo necesario para poder desarrollar apps en SO redhat.
							li
								strong CONTENEDORES
								img(src=local.images.contenedores, alt="contenedores")
								p Plataformas para gestión de nube e infraestructura.
							li
								strong SOPORTE
								img(src=local.images.soporte, alt="soporte")
								p Atención personalizada para atender sus dudas.
		.flotante
			a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
				img(src=local.images.whitepaper, alt="big data" )
			a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
				img(src=local.images.casodeuso, alt="big data")
		section.section-implementDass#beneficios
			.container
				.row
					.col-10.middle
						.title-sections-text
							h3 ¿Por qué implementar Redhat?
							p Beneficios:
						ul
							li
								img(src=local.images.seguridad, alt="seguridad")
								p SEGURIDAD
							li
								img(src=local.images.colaboracion, alt="colaboracion")
								p COLABORACIÓN
							li
								img(src=local.images.integracion, alt="integracion")
								p INTEGRACIÓN
							li
								img(src=local.images.flexibilidad, alt="flexibilidad")
								p FLEXIBILIDAD
							li
								img(src=local.images.innovacion, alt="innovacion")
								p INNOVACIÓN
							li
								img(src=local.images.disponibilidad, alt="disponibilidad")
								p DISPONIBILIDAD
							li
								img(src=local.images.adaptabilidad, alt="adaptabilidad")
								p ADAPTABILIDAD
							li
								img(src=local.images.diversidad, alt="diversidad")
								p DIVERSIDAD
		section.section-subtitle#soluciones
			.container
				.row
					.col-10.middle
						.title-sections
							h3 Conoce nuestra solución
		section.section-why-dass
			img(src=local.images.solucion, alt="solución conoce")
			.container
				.row
					.col-6.bgcircle
						p Red Hat es el proveedor líder mundial de soluciones de TI empresariales de código abierto.
						p A través de un modelo de suscripción predecible y asequible, nuestros clientes adquieren tecnologías fiables y de alto rendimiento de nube, Linux, gestión, middleware, mobile, almacenamiento y virtualización. También ofrecemos soporte, capacitación y servicios de consultoría galardonados.
		include ../template/_footer
		if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
		script(type="text/javascript" src=section_scripts[current_profile][i])
