src/html/sections/security.pug
//-Configuración y variables globales del proyecto
include ../config/_variables
//-
    Ajustes de la configuración global para esta sección
- global_path = '../'
//-
    Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
    Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Security'
- metadata['description'] = 'Combine las fortalezas comprobadas del NIST con el Marco de Ingenieria de Resiliencia (Learn,Respond, Monitor and Anticipate) para crear nuevas soluciones que soporten no sólo la cibernética, sino también, la tecnología de información, sensibilización de usuarios, desarrollo de normas y políticas y la capacidad de recuperación del negocio.'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, plataforma, gestión de datos , Innovación, Empresas, Negocios, migración, base de datos, almacenamiento, Cloud, hibrido, Nube, sistemas,sistema all-flash, NetApp, transformación digital, soluciones NetApp'
- var landing = 'security'

- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_huawei + 'bannerprincipal.jpg'
//- Servicios
- local.images['migracion'] = global_path + images.products_netapp + 'servicio_migracion.png'
- local.images['proteccion'] = global_path + images.products_netapp + 'servicio_proteccion.png'
- local.images['datos'] = global_path + images.products_netapp + 'servicio_datos.png'
- local.images['almacenamiento'] = global_path + images.products_netapp + 'servicio_almacenamiento.png'

//- Microsite


//- Beneficios
- local.images['archivos'] = global_path + images.products_netapp + 'beneficio_archivos.png'
- local.images['computacion'] = global_path + images.products_netapp + 'beneficio_computacion.png'
- local.images['nube'] = global_path + images.products_netapp + 'beneficio_nube.png'


- local.images['solucion'] = global_path + images.products_netapp + 'solucion.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Huawei_Whitepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'Huawei_casos_de_uso.pdf'

//- Imagenes del nuevo sitio
- local.images['news'] = global_path + images.products_netapp + 'verticales_soluciones_news.png'
- local.images['seguridad'] = global_path + images.products_netapp + 'verticales_soluciones_seguridad.png'
- local.images['auditoria'] = global_path + images.products_netapp + 'verticales_soluciones_auditoria.png'
- local.images['operacion'] = global_path + images.products_netapp + 'verticales_soluciones_operacion.png'
- local.images['control'] = global_path + images.products_netapp + 'vertical_soluciones_control.png'
- local.images['dispositivo'] = global_path + images.products_netapp + 'vertical_soluciones_dispositivo.png'
- local.images['banner'] = global_path + images.products_netapp + 'vertical_soluciones_banner.png'
- local.images['medio'] = global_path + images.products_netapp + 'vertical_soluciones_medio.png'
- local.images['fondo'] = global_path + images.products_netapp + 'vertical_soluciones_fondo.png'



doctype html
html(lang=site.lang)
    include ../template/_head
    body
        include ../template/_header
        section.section-banner-dass-vertical.mundo
            .banner-vr
                .container
                    .content.algo
                        br
                        .title-sections
                        h1 CYBER SECURITY & #[span.green RESILIENCE]
                        p PREPÁRESE PARA UN NUEVO ENFOQUE DE RESILIENCIA CIBERNÉTICA
                        P Combine las fortalezas comprobadas del NIST con el Marco de Ingenieria de Resiliencia (Learn,Respond, Monitor and Anticipate) para crear nuevas soluciones que soporten no solo la cibernética, sino también, la tecnología de información, sensibilización de usuarios, desarrollo de normas y políticas y la capacidad de recuperación del negocio.
        section.section-verticales
            .container.gris
                .row
                    .col-12
                    h1 SOLU#[span.green CIONES]
                    .col-12
                        .col-1
                            p 
                        .col-10.vertical-col
                            .col-4.icon-vertical 
                                img(src=local.images.news, alt="news")
                            .col-6
                                .title-sections.txt-justify
                                    h3 #[strong Consultoría]
                                    h2 Fomente la cultura de seguridad
                                    p Mediante capacitaciones a personal, desarrollo capacidades y procesos internos con un control y gestión de cambio para asegurar el éxito de su nueva iniciativa de seguridad.
                        .col-1
                            p 
                    .col-12
                        .col-1
                            p
                        .col-10.vertical-col
                            .col-6
                                .title-sections.derecha
                                    h3 #[strong Normativa]
                                    h2 Alinee sus actividades de seguridad
                                    p Utilizando marcos como NIST, PCI/DSS,ISO,GDPR y otros con nuestro programa de consultoría de seguridad de TI.
                            .col-4.icon-vertical 
                                img(src=local.images.seguridad, alt="seguridad")
                        .col-1
                            p
                    .col-12
                        .col-1
                            p
                        .col-10.vertical-col
                            .col-4.icon-vertical 
                                img(src=local.images.auditoria, alt="auditoria")
                            .col-6
                                .title-sections.txt-justify
                                    h3 #[strong Auditoría]
                                    h2 Identifica oportunidades de mejora
                                    p En tu seguridad con auditorias de detección de vulnerabilidades y evacuación de la resistencia de los activos de la empresa.
                        .col-1
                            p 
                    .col-12
                        .col-1
                            p
                        .col-10.vertical-col
                            .col-6
                                .title-sections.derecha
                                    h3 #[strong Operación]
                                    h2 Facilite la operación de seguridad
                                    p De la empresa mediante la implementación de herramientas de monitoreo continuo y automatizaron de tareas mediante la orquestación de procesos y nuestros servicios.
                            .col-4.icon-vertical 
                                img(src=local.images.operacion, alt="operacion")
                        .col-1
                            p 
                    .col-12
                        .col-1
                            p
                        .col-10.vertical-col
                            .col-4.icon-vertical 
                                img(src=local.images.control, alt="control")
                            .col-6
                                .title-sections.txt-justify
                                    h3 #[strong Control]
                                    h2 Proteja las aplicaciones y los datos 
                                    p Con herramientas y procesos para detectar y reaccionar ante una fuga de datos y gestión de identidades y accesos, para obtener una protección y privacidad de datos eficaz. 
                        .col-1
                            p
                    .col-12
                        .col-1
                            p
                        .col-10.vertical-col
                            .col-6
                                .title-sections.derecha
                                    h3 #[strong Dispositivos]
                                    h2 Asegura los activos de la empresa
                                    p Identificando y resolviendo rápidamente cambios, vulnerabilidades y errores de configuración de seguridad actual.
                            .col-4.icon-vertical 
                                img(src=local.images.dispositivo, alt="dispositivo")
                        .col-1
                            p  
                                br
        section.section-about-dass#dass
            .container
                .row
                    .col-12
                        .title-sections.txt-justify
                            h3 #[strong BENEFICIOS]
                            //-h2 Fomente la cultura de seguridad
                            p Las empresas necesitan trasladar sus esfuerzos de seguridad cibernética desde los enfoques defensivos tradicionales hacia una postura proactiva alineada con los objetivos empresariales de la organización.
                            p Alinear el programa de seguridad con los objetivos comerciales de una empresa requiere una fuerte comprensión de los dominios técnicos y su relevancia para el negocio.
                    
                        ul
                            li.txt-justify
                                //-strong Corre cualquier app a cualquier escala
                                img#imagen(src=local.images.proteccion, alt="proteccion")
                                p Contextualizar y detectar: Asignar activos a amenazas e impactos, utilizando técnicas analíticas para detectar indicadores de compromiso o ataque.
                            li.txt-justify
                                //-strong Corre cualquier app a cualquier escala
                                img#imagen(src=local.images.proteccion, alt="proteccion")
                                p Estandarizar los procesos operativos de seguridad: Optimizar y automatizar la tecnología y los procesos de TI Implementando un modelo de amenaza y vulnerabilidad.
                            li.txt-justify
                                //-strong Corre cualquier app a cualquier escala
                                img#imagen(src=local.images.proteccion, alt="proteccion")
                                p Comprensión de las amenazas: Integre el análisis y la inteligencia de seguridad con operaciones para la seguridad, alinearse con los nuevos resultados del negocio.
                            
                            //-li
                                //-strong Corre cualquier app a cualquier escala
                                img#imagen(src=local.images.proteccion, alt="proteccion")
                                p Proteja las aplicaciones virtualizadas con un espectro completo  de copia de seguridad y recuperación integradas en Nutanix Enterprise Cloud.
                            
        //-.flotante
            a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
                img(src=local.images.whitepaper, alt="big data" )
            a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
                img(src=local.images.casodeuso, alt="big data")
        include ../template/_footer
        if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
        script(type="text/javascript" src=section_scripts[current_profile][i])

dist/dev/sections/security.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Security</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Combine las fortalezas comprobadas del NIST con el Marco de Ingenieria de Resiliencia (Learn,Respond, Monitor and Anticipate) para crear nuevas soluciones que soporten no sólo la cibernética, sino también, la tecnología de información, sensibilización de usuarios, desarrollo de normas y políticas y la capacidad de recuperación del negocio.">
    <meta name="keywords" content="Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, plataforma, gestión de datos , Innovación, Empresas, Negocios, migración, base de datos, almacenamiento, Cloud, hibrido, Nube, sistemas,sistema all-flash, NetApp, transformación digital, soluciones NetApp">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-banner-dass-vertical mundo">
      <div class="banner-vr">
        <div class="container">
          <div class="content algo"><br>
            <div class="title-sections"></div>
            <h1>CYBER SECURITY & <span class="green">RESILIENCE</span></h1>
            <p>PREPÁRESE PARA UN NUEVO ENFOQUE DE RESILIENCIA CIBERNÉTICA</p>
            <P>Combine las fortalezas comprobadas del NIST con el Marco de Ingenieria de Resiliencia (Learn,Respond, Monitor and Anticipate) para crear nuevas soluciones que soporten no solo la cibernética, sino también, la tecnología de información, sensibilización de usuarios, desarrollo de normas y políticas y la capacidad de recuperación del negocio.</P>
          </div>
        </div>
      </div>
    </section>
    <section class="section-verticales">
      <div class="container gris">
        <div class="row">
          <div class="col-12"></div>
          <h1>SOLU<span class="green">CIONES</span></h1>
          <div class="col-12">
            <div class="col-1">
              <p> </p>
            </div>
            <div class="col-10 vertical-col">
              <div class="col-4 icon-vertical"> <img src="../images/products_netapp/verticales_soluciones_news.png" alt="news"></div>
              <div class="col-6">
                <div class="title-sections txt-justify">
                  <h3><strong>Consultoría</strong></h3>
                  <h2>Fomente la cultura de seguridad</h2>
                  <p>Mediante capacitaciones a personal, desarrollo capacidades y procesos internos con un control y gestión de cambio para asegurar el éxito de su nueva iniciativa de seguridad.</p>
                </div>
              </div>
            </div>
            <div class="col-1">
              <p> </p>
            </div>
          </div>
          <div class="col-12">
            <div class="col-1">
              <p></p>
            </div>
            <div class="col-10 vertical-col">
              <div class="col-6">
                <div class="title-sections derecha">
                  <h3><strong>Normativa</strong></h3>
                  <h2>Alinee sus actividades de seguridad</h2>
                  <p>Utilizando marcos como NIST, PCI/DSS,ISO,GDPR y otros con nuestro programa de consultoría de seguridad de TI.</p>
                </div>
              </div>
              <div class="col-4 icon-vertical"> <img src="../images/products_netapp/verticales_soluciones_seguridad.png" alt="seguridad"></div>
            </div>
            <div class="col-1">
              <p></p>
            </div>
          </div>
          <div class="col-12">
            <div class="col-1">
              <p></p>
            </div>
            <div class="col-10 vertical-col">
              <div class="col-4 icon-vertical"> <img src="../images/products_netapp/verticales_soluciones_auditoria.png" alt="auditoria"></div>
              <div class="col-6">
                <div class="title-sections txt-justify">
                  <h3><strong>Auditoría</strong></h3>
                  <h2>Identifica oportunidades de mejora</h2>
                  <p>En tu seguridad con auditorias de detección de vulnerabilidades y evacuación de la resistencia de los activos de la empresa.</p>
                </div>
              </div>
            </div>
            <div class="col-1">
              <p> </p>
            </div>
          </div>
          <div class="col-12">
            <div class="col-1">
              <p></p>
            </div>
            <div class="col-10 vertical-col">
              <div class="col-6">
                <div class="title-sections derecha">
                  <h3><strong>Operación</strong></h3>
                  <h2>Facilite la operación de seguridad</h2>
                  <p>De la empresa mediante la implementación de herramientas de monitoreo continuo y automatizaron de tareas mediante la orquestación de procesos y nuestros servicios.</p>
                </div>
              </div>
              <div class="col-4 icon-vertical"> <img src="../images/products_netapp/verticales_soluciones_operacion.png" alt="operacion"></div>
            </div>
            <div class="col-1">
              <p> </p>
            </div>
          </div>
          <div class="col-12">
            <div class="col-1">
              <p></p>
            </div>
            <div class="col-10 vertical-col">
              <div class="col-4 icon-vertical"> <img src="../images/products_netapp/vertical_soluciones_control.png" alt="control"></div>
              <div class="col-6">
                <div class="title-sections txt-justify">
                  <h3><strong>Control</strong></h3>
                  <h2>Proteja las aplicaciones y los datos </h2>
                  <p>Con herramientas y procesos para detectar y reaccionar ante una fuga de datos y gestión de identidades y accesos, para obtener una protección y privacidad de datos eficaz. </p>
                </div>
              </div>
            </div>
            <div class="col-1">
              <p></p>
            </div>
          </div>
          <div class="col-12">
            <div class="col-1">
              <p></p>
            </div>
            <div class="col-10 vertical-col">
              <div class="col-6">
                <div class="title-sections derecha">
                  <h3><strong>Dispositivos</strong></h3>
                  <h2>Asegura los activos de la empresa</h2>
                  <p>Identificando y resolviendo rápidamente cambios, vulnerabilidades y errores de configuración de seguridad actual.</p>
                </div>
              </div>
              <div class="col-4 icon-vertical"> <img src="../images/products_netapp/vertical_soluciones_dispositivo.png" alt="dispositivo"></div>
            </div>
            <div class="col-1">
              <p> <br></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-about-dass" id="dass">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="title-sections txt-justify">
              <h3><strong>BENEFICIOS</strong></h3>
              <p>Las empresas necesitan trasladar sus esfuerzos de seguridad cibernética desde los enfoques defensivos tradicionales hacia una postura proactiva alineada con los objetivos empresariales de la organización.</p>
              <p>Alinear el programa de seguridad con los objetivos comerciales de una empresa requiere una fuerte comprensión de los dominios técnicos y su relevancia para el negocio.</p>
            </div>
            <ul>
              <li class="txt-justify"><img id="imagen" src="../images/products_netapp/servicio_proteccion.png" alt="proteccion">
                <p>Contextualizar y detectar: Asignar activos a amenazas e impactos, utilizando técnicas analíticas para detectar indicadores de compromiso o ataque.</p>
              </li>
              <li class="txt-justify"><img id="imagen" src="../images/products_netapp/servicio_proteccion.png" alt="proteccion">
                <p>Estandarizar los procesos operativos de seguridad: Optimizar y automatizar la tecnología y los procesos de TI Implementando un modelo de amenaza y vulnerabilidad.</p>
              </li>
              <li class="txt-justify"><img id="imagen" src="../images/products_netapp/servicio_proteccion.png" alt="proteccion">
                <p>Comprensión de las amenazas: Integre el análisis y la inteligencia de seguridad con operaciones para la seguridad, alinearse con los nuevos resultados del negocio.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/libs/jquery.validate.js"></script>
    <script src="../js/libs/jquery.file.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/sellcom_dass.js"></script>
    <script src="../js/controllers/downloads.js"></script>
    <script src="../js/controllers/form.js"></script>
  </body>
</html>
<script type="text/javascript" src="../js/libs/jquery.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<script type="text/javascript" src="../js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../js/libs/jquery.file.js"></script>
<script type="text/javascript" src="../js/plugins/slick.js"></script>
<script type="text/javascript" src="../js/controllers/sellcom_dass.js"></script>
<script type="text/javascript" src="../js/controllers/downloads.js"></script>
<script type="text/javascript" src="../js/controllers/form.js"></script>
