dist/dev/sections/servicenow.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Servicenow</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Ahora costos con las soluciones de Servicenow; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!">
    <meta name="keywords" content="Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Servicenow, bajo demanda, on demand, soluciones Servicenow">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-video-dass"><img class="banner" src="../images/products_servicenow/bannerprincipal.jpg" alt="banner">
      <div class="boxVideo">
        <video id="secondVideo" autoplay loop muted>
          <source src="../images/video/snow.mp4" type="video/mp4">
        </video>
      </div>
      <div class="container">
        <div class="content"><br>
          <div class="title-sections"><img class="img-first" src="../images/products_servicenow/imgst.png" alt="1st">
            <h1>Portal de Gestión Servicenow</h1>
            <p>Sellcom socio tecnológico de Servicenow en México</p>
          </div>
        </div>
      </div>
    </section>
    <section class="section-about-dass" id="dass">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="title-sections-text">
              <h3>¿Qué es Servicenow?</h3>
              <p>Portal de gestión para la automatización de procesos que facilitarán el seguimiento de las actividades de tu negocio.</p>
            </div>
            <ul>
              <li><strong>ITSM</strong><img src="../images/products_servicenow/servicio_ITSM.png" alt="ITSM">
                <p>Seguimiento de procesos bajo las mejores prácticas de ITIL.</p>
              </li>
              <li><strong>ITBM</strong><img src="../images/products_servicenow/servicio_ITBM.png" alt="ITBM">
                <p>Seguimiento a proyectos y sus elementos involucrados.</p>
              </li>
              <li><strong>ITOM</strong><img src="../images/products_servicenow/servicio_ITOM.png" alt="ITOM">
                <p>Gestión de elementos de configuración.</p>
              </li>
              <li><strong>CS</strong><img src="../images/products_servicenow/servicio_CS.png" alt="CS">
                <p>Seguimiento, control y geolocalización de tus agentes de campo.</p>
              </li>
              <li><strong>RH</strong><img src="../images/products_servicenow/servicio_RH.png" alt="RH">
                <p>Control del alta, modificación, consulta y baja de tus recursos humanos.</p>
              </li>
              <li><strong>SEC/OPS</strong><img src="../images/products_servicenow/servicio_SEC-OPS.png" alt="SEC">
                <p>Control y auditorias de seguridad en tu infraestructura y recursos.</p>
              </li>
              <li><strong>GRC</strong><img src="../images/products_servicenow/servicio_GRC.png" alt="GRC">
                <p>Control de riesgo en tus recursos.</p>
              </li>
              <li><strong>AUTOMATIZACIÓN DE PROCESOS</strong><img src="../images/products_servicenow/servicio_automatizaciondeprocesos.png" alt="autprocesos">
                <p>Desarrollo nuevos procesos de negocio o flujos de trabajo.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section-implementDass" id="beneficios">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections-text">
              <h3>¿Por qué implementar Servicenow?</h3>
              <p>Beneficios:</p>
            </div>
            <ul>
              <li><img src="../images/products_servicenow/beneficio_disponibilidad.png" alt="disponibilidad">
                <p>DISPONIBILIDAD 99.8%</p>
              </li>
              <li><img src="../images/products_servicenow/beneficio_accesomovil.png" alt="acceso">
                <p>ACCESO MÓVIL</p>
              </li>
              <li><img src="../images/products_servicenow/beneficio_nubeyescalabilidad.png" alt="nube">
                <p>100% NUBE Y ESCALABILIDAD</p>
              </li>
              <li><img src="../images/products_servicenow/beneficio_automatizaciondeprocesos.png" alt="automatizacion">
                <p>AUTOMATIZACIÓN DE PROCESOS</p>
              </li>
              <li><img src="../images/products_servicenow/beneficio_customizable.png" alt="customizable">
                <p>CUSTOMIZABLE</p>
              </li>
              <li><img src="../images/products_servicenow/beneficio_facilyrapidodeconfigurar.png" alt="facil">
                <p>FACIL Y RAPIDO DE CONFIGURAR</p>
              </li>
              <li><img src="../images/products_servicenow/beneficio_integracionconherramientas.png" alt="integracion">
                <p>INTEGRACIÓN CON HERRAMIENTAS</p>
              </li>
              <li><img src="../images/products_servicenow/beneficio_certificacionesdeseguridad.png" alt="certificaciones">
                <p>CERTIFICACIONES DE SEGURIDAD INTERNACIONAL</p>
              </li>
              <li><img src="../images/products_servicenow/beneficio_procesosITILcertificados.png" alt="procesos">
                <p>PROCESOS ITIL CERTIFICADOS</p>
              </li>
              <li><img src="../images/products_servicenow/beneficio_redsocialychat.png" alt="chat">
                <p>RED SOCIAL Y CHAT</p>
              </li>
              <li><img src="../images/products_servicenow/beneficio_reportesespecializadosconIA.png" alt="reportes">
                <p>REPORTES ESPECIALIZADOS CON IA</p>
              </li>
              <li><img src="../images/products_servicenow/beneficio_actualizacionesenlinea.png" alt="actualizaciones">
                <p>ACTUALIZACIONES EN LÍNEA INCLUIDAS</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section-subtitle" id="soluciones">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections">
              <h3>Conoce nuestra solución</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="flotante"><a class="whitepage" href="../documents/servicenow_Whithepaper.pdf" dowloand target="_blank" title="Descargar white paper"><img src="../images/global/whitepaper.png" alt="big data"></a><a class="caseofuse" href="../documents/servicenow_Caso_de_Uso.pdf" dowloand target="_blank" title="Descargar casos de uso"><img src="../images/global/casodeuso.png" alt="big data"></a></div>
    <section class="section-why-dass"><img src="../images/products_servicenow/solucion.jpg" alt="solución conoce">
      <div class="container">
        <div class="row">
          <div class="col-6 bgcircle">
            <p>Servicenow es una herramienta que cuenta con los módulos de ITSM, ITBM, ITOM, CS, RH, SECOPS y GRC.</p>
            <p>En Sellcom contamos con la experiencia para la implementación, configuración y mantenimiento de cualquiera de los módulos del portal.</p>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/libs/jquery.validate.js"></script>
    <script src="../js/libs/jquery.file.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/sellcom_dass.js"></script>
    <script src="../js/controllers/downloads.js"></script>
    <script src="../js/controllers/form.js"></script>
  </body>
</html>
<script type="text/javascript" src="../js/libs/jquery.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<script type="text/javascript" src="../js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../js/libs/jquery.file.js"></script>
<script type="text/javascript" src="../js/plugins/slick.js"></script>
<script type="text/javascript" src="../js/controllers/sellcom_dass.js"></script>
<script type="text/javascript" src="../js/controllers/downloads.js"></script>
<script type="text/javascript" src="../js/controllers/form.js"></script>

src/html/sections/servicenow.pug
//-Configuración y variables globales del proyecto
include ../config/_variables
//-
	Ajustes de la configuración global para esta sección
- global_path = '../'
//-
	Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
	Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Servicenow'
- metadata['description'] = 'Ahora costos con las soluciones de Servicenow; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Servicenow, bajo demanda, on demand, soluciones Servicenow'
- var landing = 'servicenow'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_servicenow + 'bannerprincipal.jpg'
//- Servicios
- local.images['ITSM'] = global_path + images.products_servicenow + 'servicio_ITSM.png'
- local.images['IMGST'] = global_path + images.products_servicenow + 'imgst.png'
- local.images['ITBM'] = global_path + images.products_servicenow + 'servicio_ITBM.png'
- local.images['ITOM'] = global_path + images.products_servicenow + 'servicio_ITOM.png'
- local.images['CS'] = global_path + images.products_servicenow + 'servicio_CS.png'
- local.images['RH'] = global_path + images.products_servicenow + 'servicio_RH.png'
- local.images['SEC'] = global_path + images.products_servicenow + 'servicio_SEC-OPS.png'
- local.images['GRC'] = global_path + images.products_servicenow + 'servicio_GRC.png'
- local.images['autprocesos'] = global_path + images.products_servicenow + 'servicio_automatizaciondeprocesos.png'
//- Beneficios
- local.images['disponibilidad'] = global_path + images.products_servicenow + 'beneficio_disponibilidad.png'
- local.images['acceso'] = global_path + images.products_servicenow + 'beneficio_accesomovil.png'
- local.images['nube'] = global_path + images.products_servicenow + 'beneficio_nubeyescalabilidad.png'
- local.images['automatizacion'] = global_path + images.products_servicenow + 'beneficio_automatizaciondeprocesos.png'
- local.images['customizable'] = global_path + images.products_servicenow + 'beneficio_customizable.png'
- local.images['facil'] = global_path + images.products_servicenow + 'beneficio_facilyrapidodeconfigurar.png'
- local.images['integracion'] = global_path + images.products_servicenow + 'beneficio_integracionconherramientas.png'
- local.images['certificaciones'] = global_path + images.products_servicenow + 'beneficio_certificacionesdeseguridad.png'
- local.images['procesos'] = global_path + images.products_servicenow + 'beneficio_procesosITILcertificados.png'
- local.images['chat'] = global_path + images.products_servicenow + 'beneficio_redsocialychat.png'
- local.images['reportes'] = global_path + images.products_servicenow + 'beneficio_reportesespecializadosconIA.png'
- local.images['actualizaciones'] = global_path + images.products_servicenow + 'beneficio_actualizacionesenlinea.png'

- local.images['solucion'] = global_path + images.products_servicenow + 'solucion.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'servicenow_Whithepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'servicenow_Caso_de_Uso.pdf'

doctype html
html(lang=site.lang)
	include ../template/_head
	body
		include ../template/_header
		//-section.section-banner-dass
			img.banner(src=local.images.banner, alt="banner")
			.container
				.content
					br
					.title-sections
						h1 Portal de Gestión Servicenow
					p Sellcom socio tecnológico de Servicenow en México
		section.section-video-dass
			img.banner(src=local.images.banner, alt="banner")
			.boxVideo
				video#secondVideo(autoplay loop muted)
					source(src="../images/video/snow.mp4" type="video/mp4")
			.container
				.content
					br
					.title-sections
						img(src=local.images.IMGST, alt="1st" class="img-first")
						h1 Portal de Gestión Servicenow
						p Sellcom socio tecnológico de Servicenow en México
		section.section-about-dass#dass
			.container
				.row
					.col-12
						.title-sections-text
							h3 ¿Qué es Servicenow?
							p Portal de gestión para la automatización de procesos que facilitarán el seguimiento de las actividades de tu negocio.
						ul
							li
								strong ITSM
								img(src=local.images.ITSM, alt="ITSM")
								p Seguimiento de procesos bajo las mejores prácticas de ITIL.
							li
								strong ITBM
								img(src=local.images.ITBM, alt="ITBM")
								p Seguimiento a proyectos y sus elementos involucrados.
							li
								strong ITOM
								img(src=local.images.ITOM, alt="ITOM")
								p Gestión de elementos de configuración.
							li
								strong CS
								img(src=local.images.CS, alt="CS")
								p Seguimiento, control y geolocalización de tus agentes de campo.
							li
								strong RH
								img(src=local.images.RH, alt="RH")
								p Control del alta, modificación, consulta y baja de tus recursos humanos.
							li
								strong SEC/OPS
								img(src=local.images.SEC, alt="SEC")
								p Control y auditorias de seguridad en tu infraestructura y recursos.
							li
								strong GRC
								img(src=local.images.GRC, alt="GRC")
								p Control de riesgo en tus recursos.
							li
								strong AUTOMATIZACIÓN DE PROCESOS
								img(src=local.images.autprocesos, alt="autprocesos")
								p Desarrollo nuevos procesos de negocio o flujos de trabajo.
		section.section-implementDass#beneficios
			.container
				.row
					.col-10.middle
						.title-sections-text
							h3 ¿Por qué implementar Servicenow?
							p Beneficios:
						ul
							li
								img(src=local.images.disponibilidad, alt="disponibilidad")
								p DISPONIBILIDAD 99.8%
							li
								img(src=local.images.acceso, alt="acceso")
								p ACCESO MÓVIL
							li
								img(src=local.images.nube, alt="nube")
								p 100% NUBE Y ESCALABILIDAD
							li
								img(src=local.images.automatizacion, alt="automatizacion")
								p AUTOMATIZACIÓN DE PROCESOS
							li
								img(src=local.images.customizable, alt="customizable")
								p CUSTOMIZABLE
							li
								img(src=local.images.facil, alt="facil")
								p FACIL Y RAPIDO DE CONFIGURAR
							li
								img(src=local.images.integracion, alt="integracion")
								p INTEGRACIÓN CON HERRAMIENTAS
							li
								img(src=local.images.certificaciones, alt="certificaciones")
								p CERTIFICACIONES DE SEGURIDAD INTERNACIONAL
							li
								img(src=local.images.procesos, alt="procesos")
								p PROCESOS ITIL CERTIFICADOS
							li
								img(src=local.images.chat, alt="chat")
								p RED SOCIAL Y CHAT
							li
								img(src=local.images.reportes, alt="reportes")
								p REPORTES ESPECIALIZADOS CON IA
							li
								img(src=local.images.actualizaciones, alt="actualizaciones")
								p ACTUALIZACIONES EN LÍNEA INCLUIDAS
		section.section-subtitle#soluciones
			.container
				.row
					.col-10.middle
						.title-sections
							h3 Conoce nuestra solución
		.flotante
			a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
				img(src=local.images.whitepaper, alt="big data" )
			a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
				img(src=local.images.casodeuso, alt="big data")
		section.section-why-dass
			img(src=local.images.solucion, alt="solución conoce")
			.container
				.row
					.col-6.bgcircle
						p Servicenow es una herramienta que cuenta con los módulos de ITSM, ITBM, ITOM, CS, RH, SECOPS y GRC.
						p En Sellcom contamos con la experiencia para la implementación, configuración y mantenimiento de cualquiera de los módulos del portal.
		include ../template/_footer
		if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
		script(type="text/javascript" src=section_scripts[current_profile][i])
