dist/dev/sections/suse.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Sistema Operativo Suse</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Software enfocado a el código abierto líder en México, se encarga de que la infraestructura se adapte a la velocidad de tu negocio.">
    <meta name="keywords" content="Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Desarrollo de software, bajo demanda, on demand, soluciones Desarrollo de software">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-video-dass"><img class="banner" src="../images/products_suse/sellcom_suse_banner.jpeg" alt="banner">
      <div class="boxVideo">
        <video id="secondVideo" autoplay loop muted>
          <source src="../images/video/SUSE_lift_30ss.mp4" type="video/mp4">
        </video>
      </div>
      <div class="container">
        <div class="content"><br>
          <div class="title-sections">
            <h1>Sistema Operativo Suse</h1>
          </div>
          <p>Software enfocado a el código abierto líder en México, se encarga de que la infraestructura se adapte a la velocidad de tu negocio</p>
        </div>
      </div>
    </section>
    <section class="section-about-dass" id="dass">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="title-sections-text">
              <h3>¿Qué es Suse?</h3>
              <p>Es código abierto que significa mucho más que código fuente compartido, es una filosofía con enfoque hacia lo que hacemos y  en la forma en que desarrollamos software, trabajamos con partners  y clientes involucrándonos con comunidades pero sobre todo manteniendo la mente abierta a nuevas ideas.</p>
            </div>
            <ul>
              <li><strong>ENTERPRISE LINUX</strong><img src="../images/products_suse/Suse_portafolio_linux.png" alt="Enterprise Linux">
                <p>Toda la solución necesaria en términos de Sistema Operativo.</p>
              </li>
              <li><strong>SISTEMAS DE NEGOCIO</strong><img src="../images/products_suse/Suse_portafolio_negocio.png" alt="Sistemas de negocio">
                <p>Elementos de configuración de alta disponibilidad, parcheo, cluster.</p>
              </li>
              <li><strong>NUBE</strong><img src="../images/products_suse/Suse_portafolio_nube.png" alt="Nube">
                <p>Servicios de nube pública, privada e hibrida.</p>
              </li>
              <li><strong>ALMACENAMIENTO</strong><img src="../images/products_suse/Suse_portafolio_almacenamiento.png" alt="Almacenamiento">
                <p>Sistemas de administración de almacenamiento definido por software.</p>
              </li>
              <li><strong>SAP</strong><img src="../images/products_suse/Suse_portafolio_sap.png" alt="SAP">
                <p>Toda la paquetería y módulos de SAP</p>
              </li>
              <li><strong>DESARROLLO DE APLICACIONES</strong><img src="../images/products_suse/Suse_portafolio_apps.png" alt="Desarrollo de aplicaciones">
                <p>Todo lo necesario para poder desarrollar apps en S.O. Suse</p>
              </li>
              <li><strong>CONTENEDORES</strong><img src="../images/products_suse/Suse_portafolio_contenedor.png" alt="Contenedores">
                <p>Encapsulación de aplicaciones.</p>
              </li>
              <li><strong>SOPORTE</strong><img src="../images/products_suse/Suse_portafolio_soporte.png" alt="Soporte">
                <p>Atención personalizada para atender sus dudas.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section-implementDass" id="beneficios">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections-text">
              <h3>¿Por qué implementar el Sistema Operativo Suse?</h3>
              <p>Beneficios:</p>
            </div>
            <ul>
              <li><img src="../images/products_suse/Suse_beneficios_seguridad.png" alt="seguridad">
                <p>SEGURIDAD</p>
              </li>
              <li><img src="../images/products_suse/Suse_beneficios_colaboracion.png" alt="colaboración">
                <p>COLABORACIÓN</p>
              </li>
              <li><img src="../images/products_suse/Suse_beneficios_integracion.png" alt="integración">
                <p>INTEGRACIÓN</p>
              </li>
              <li><img src="../images/products_suse/Suse_beneficios_flexibilidad.png" alt="flexibilidad">
                <p>FLEXIBILIDAD</p>
              </li>
              <li><img src="../images/products_suse/Suse_beneficios_innovacion.png" alt="innovación">
                <p>INNOVACIÓN</p>
              </li>
              <li><img src="../images/products_suse/Suse_portafolio_disponibilidad.png" alt="nube">
                <p>DISPONIBILIDAD</p>
              </li>
              <li><img src="../images/products_suse/Suse_beneficios_adaptabilidad.png" alt="adaptabilidad">
                <p>ADAPTABILIDAD</p>
              </li>
              <li><img src="../images/products_suse/Suse_beneficios_diversidad.png" alt="diversidad">
                <p>DIVERSIDAD</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section-subtitle" id="soluciones">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections">
              <h3>Conoce nuestra solución</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="flotante"><a class="whitepage" href="../documents/Suse_Whithepaper.pdf" dowloand target="_blank" title="Descargar white paper"><img src="../images/global/whitepaper.png" alt="big data"></a><a class="caseofuse" href="../documents/Suse_Caso_Uso.pdf" dowloand target="_blank" title="Descargar casos de uso"><img src="../images/global/casodeuso.png" alt="big data"></a></div>
    <section class="section-why-dass"><img src="../images/products_suse/sellcom_suse.jpg" alt="solución conoce">
      <div class="container">
        <div class="row">
          <div class="col-6 bgcircle">
            <p>Suse es un proveedor líder mundial de soluciones de TI empresariales de código abierto. Es una de las más conocidas distribuciones Linux existentes a nivel mundial, se basó en sus orígenes en Slackware y maneja un esquema de suscripciones a todos sus productos los cuales se basan en la administración de infraestructura, almacenamiento, desarrollo, nube, etc.</p>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/libs/jquery.validate.js"></script>
    <script src="../js/libs/jquery.file.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/sellcom_dass.js"></script>
    <script src="../js/controllers/downloads.js"></script>
    <script src="../js/controllers/form.js"></script>
  </body>
</html>
<script type="text/javascript" src="../js/libs/jquery.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<script type="text/javascript" src="../js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../js/libs/jquery.file.js"></script>
<script type="text/javascript" src="../js/plugins/slick.js"></script>
<script type="text/javascript" src="../js/controllers/sellcom_dass.js"></script>
<script type="text/javascript" src="../js/controllers/downloads.js"></script>
<script type="text/javascript" src="../js/controllers/form.js"></script>

src/html/sections/suse.pug
//-Configuración y variables globales del proyecto
include ../config/_variables
//-
    Ajustes de la configuración global para esta sección
- global_path = '../'
//-
    Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
    Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Sistema Operativo Suse'
- metadata['description'] = 'Software enfocado a el código abierto líder en México, se encarga de que la infraestructura se adapte a la velocidad de tu negocio.'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Desarrollo de software, bajo demanda, on demand, soluciones Desarrollo de software'
- var landing = 'desarrollo'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_suse + 'sellcom_suse_banner.jpeg'
- local.images['banner2'] = global_path + images.products_suse + 'sellcom_suse.jpg'
//- Servicios
- local.images['linux'] = global_path + images.products_suse + 'Suse_portafolio_linux.png'
- local.images['negocio'] = global_path + images.products_suse + 'Suse_portafolio_negocio.png'
- local.images['nube'] = global_path + images.products_suse + 'Suse_portafolio_nube.png'
- local.images['almacenamiento'] = global_path + images.products_suse + 'Suse_portafolio_almacenamiento.png'
- local.images['sap'] = global_path + images.products_suse + 'Suse_portafolio_sap.png'
- local.images['desarrollo'] = global_path + images.products_suse + 'Suse_portafolio_apps.png'
- local.images['contenedores'] = global_path + images.products_suse + 'Suse_portafolio_contenedor.png'
- local.images['soporte'] = global_path + images.products_suse + 'Suse_portafolio_soporte.png'

//- Beneficios
- local.images['colaboracion'] = global_path + images.products_suse + 'Suse_beneficios_colaboracion.png'
- local.images['diversidad'] = global_path + images.products_suse + 'Suse_beneficios_diversidad.png'
- local.images['flexibilidad'] = global_path + images.products_suse + 'Suse_beneficios_flexibilidad.png'
- local.images['innovacion'] = global_path + images.products_suse + 'Suse_beneficios_innovacion.png'
- local.images['integracion'] = global_path + images.products_suse + 'Suse_beneficios_integracion.png'
- local.images['seguridad'] = global_path + images.products_suse + 'Suse_beneficios_seguridad.png'
- local.images['disponibilidad'] = global_path + images.products_suse + 'Suse_portafolio_disponibilidad.png'
- local.images['adaptabilidad'] = global_path + images.products_suse + 'Suse_beneficios_adaptabilidad.png'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Suse_Whithepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'Suse_Caso_Uso.pdf'

doctype html
html(lang=site.lang)
    include ../template/_head
    body
        include ../template/_header
        //- section.section-banner-dass
        //- 	img.banner(src=local.images.banner, alt="banner")
        //- 	.container
        //- 		.content
        //- 			br
        //- 			.title-sections
        //- 				h1 Sistema Operativo Suse
        //- 			p Software enfocado a el código abierto líder en México, se encarga de que la infraestructura se adapte a la velocidad de tu negocio
        section.section-video-dass
            img.banner(src=local.images.banner, alt="banner")
            .boxVideo
                video#secondVideo(autoplay loop muted)
                    source(src="../images/video/SUSE_lift_30ss.mp4" type="video/mp4")
            .container
                .content
                    br
                    .title-sections
                        h1 Sistema Operativo Suse
                    p Software enfocado a el código abierto líder en México, se encarga de que la infraestructura se adapte a la velocidad de tu negocio
        section.section-about-dass#dass
            .container
                .row
                    .col-12
                        .title-sections-text
                            h3 ¿Qué es Suse?
                            p Es código abierto que significa mucho más que código fuente compartido, es una filosofía con enfoque hacia lo que hacemos y  en la forma en que desarrollamos software, trabajamos con partners  y clientes involucrándonos con comunidades pero sobre todo manteniendo la mente abierta a nuevas ideas.
                        ul
                            li
                                strong ENTERPRISE LINUX
                                img(src=local.images.linux, alt="Enterprise Linux")
                                p Toda la solución necesaria en términos de Sistema Operativo.
                            li
                                strong SISTEMAS DE NEGOCIO
                                img(src=local.images.negocio, alt="Sistemas de negocio")
                                p Elementos de configuración de alta disponibilidad, parcheo, cluster.
                            li
                                strong NUBE
                                img(src=local.images.nube, alt="Nube")
                                p Servicios de nube pública, privada e hibrida.
                            li
                                strong ALMACENAMIENTO
                                img(src=local.images.almacenamiento, alt="Almacenamiento")
                                p Sistemas de administración de almacenamiento definido por software.
                            li
                                strong SAP
                                img(src=local.images.sap, alt="SAP")
                                p Toda la paquetería y módulos de SAP
                            li
                                strong DESARROLLO DE APLICACIONES
                                img(src=local.images.desarrollo, alt="Desarrollo de aplicaciones")
                                p Todo lo necesario para poder desarrollar apps en S.O. Suse
                            li
                                strong CONTENEDORES
                                img(src=local.images.contenedores, alt="Contenedores")
                                p Encapsulación de aplicaciones.
                            li
                                strong SOPORTE
                                img(src=local.images.soporte, alt="Soporte")
                                p Atención personalizada para atender sus dudas.
        section.section-implementDass#beneficios
            .container
                .row
                    .col-10.middle
                        .title-sections-text
                            h3 ¿Por qué implementar el Sistema Operativo Suse?
                            p Beneficios:
                        ul
                            li
                                img(src=local.images.seguridad, alt="seguridad")
                                p SEGURIDAD
                            li
                                img(src=local.images.colaboracion, alt="colaboración")
                                p COLABORACIÓN
                            li
                                img(src=local.images.integracion, alt="integración")
                                p INTEGRACIÓN
                            li
                                img(src=local.images.flexibilidad, alt="flexibilidad")
                                p FLEXIBILIDAD
                            li
                                img(src=local.images.innovacion, alt="innovación")
                                p INNOVACIÓN
                            li
                                img(src=local.images.disponibilidad, alt="nube")
                                p DISPONIBILIDAD
                            li
                                img(src=local.images.adaptabilidad, alt="adaptabilidad")
                                p ADAPTABILIDAD
                            li
                                img(src=local.images.diversidad, alt="diversidad")
                                p DIVERSIDAD
        section.section-subtitle#soluciones
            .container
                .row
                    .col-10.middle
                        .title-sections
                            h3 Conoce nuestra solución
        .flotante
            a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
                img(src=local.images.whitepaper, alt="big data" )
            a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
                img(src=local.images.casodeuso, alt="big data")
        section.section-why-dass
            img(src=local.images.banner2, alt="solución conoce")
            .container
                .row
                    .col-6.bgcircle
                        p Suse es un proveedor líder mundial de soluciones de TI empresariales de código abierto. Es una de las más conocidas distribuciones Linux existentes a nivel mundial, se basó en sus orígenes en Slackware y maneja un esquema de suscripciones a todos sus productos los cuales se basan en la administración de infraestructura, almacenamiento, desarrollo, nube, etc.
        include ../template/_footer
        if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
        script(type="text/javascript" src=section_scripts[current_profile][i])
