dist/dev/sections/terminos-condiciones.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Terminos y condiciones</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Ahora costos con las soluciones de Sellcom; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!">
    <meta name="keywords" content="Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Aruba, bajo demanda, on demand, soluciones Aruba">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-banner-legal">
      <h2>Terminos y condiciones</h2>
    </section>
    <section class="device-text-one">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <h3>TERMINOS Y CONDICIONES</h3>
            <p>En el sitio web www.sellcom-solutions.com.mx, así como en el teléfono +52 (55) 5293 8400 y sus respectivas extensiones, ambos pertenecientes a la empresa Sellcom Solutions México S.A. de C.V., con domicilio en Av. Camino Real de Carretas No. 104,  piso 3, of.302, col. Milenio III, CP 76060, Querétaro, México y, en cumplimiento de las disposiciones contenidas en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, nos comprometemos a proteger la privacidad de sus datos personales. Este Aviso de Privacidad detalla la información que nos proporcionas, cómo la recabamos, el tratamiento de sus datos personales, del uso que se le dé a los mismos y como los protegemos.</p>
            <h4>Recolección de Datos</h4>
            <p>Usted puede proporcionarnos datos personales físicamente, electrónicamente o vía telefónica. Sellcom Solutions México S.A. de C.V. se compromete a asegurar la confidencialidad/privacidad de la información obtenida a través de sus servicios. Cuando utiliza nuestro sitio web, toda su información es almacenada en nuestra base de datos por seguridad. Sellcom Solutions México S.A. de C.V no provee datos a ningún tercero. Hemos asegurado el seguimiento de la protección de datos a través de medios técnicos y de organización.</p>
            <h4>Recolección y procesamiento de los datos personales</h4>
            <p>Los datos personales se reúnen exclusivamente si usted nos los proporciona, es decir, como el llenado de formularios de contacto, formulario de empleo, como parte de una solicitud de servicios o de cotizaciones, redes sociales, por teléfono o físicamente.</p>
            <p>La base de datos y su contenido pertenecen a Sellcom Solutions México S.A. de C.V y son responsabilidad nuestra.</p>
            <p>Mantendremos el control y responsabilidad del uso de cualquier información personal que nos proporcione.</p>
            <h4>Propósitos de Uso</h4>
            <p>La información que nosotros recopilamos se utilizará únicamente con el propósito de proporcionarle información sobre los eventos que la empresa lleva a cabo, convocatorias, promociones, avisos, comunicados y entradas en nuestro blog, salvo disposición por ley en contrario.</p>
            <h4>Derecho de Acceso y Corrección</h4>
            <p>Usted tiene el derecho de (i) solicitar la cancelación de los datos, y (ii) oponerse al uso de sus datos de cualquier forma y de todo tipo de tratamiento. Sólo envíe un correo electrónico a contacto@sellcom-solutions.com.mx solicitando la eliminación de sus datos de nuestra base de datos.</p>
            <h4>Retención de Información</h4>
            <p>Únicamente retenemos datos personales durante el tiempo que nos sea necesario para rendirle el servicio anteriormente mencionado para el cual nos dio su consentimiento, salvo disposición por ley en contrario.</p>
            <h4>Seguridad</h4>
            <p>Sellcom Solutions México S.A. de C.V utiliza medidas de seguridad técnica y de organización, a fin de proteger sus datos de manipulación casual o deliberada, pérdida, destrucción o acceso por personas no autorizadas. Como parte de la recolección y procesamiento de los datos personales, se codifica toda la información transferida para evitar mal uso de los datos por terceros. Nuestros procedimientos de seguridad son revisados continuamente con base al desarrollo de nuevas tecnologías.</p>
            <h4>Consentimiento</h4>
            <p>Se entenderá que usted otorga su consentimiento al uso de sus datos personales, en la forma que ha quedado establecida en el presente Aviso de Privacidad, si no manifiesta su oposición por escrito al correo electrónico contacto@sellcom-solutions.com.mx.</p>
            <h4>Contacto</h4>
            <p>Comuníquese por favor para cualquier problema, pregunta o sugerencia que pueda tener.</p>
            <p>Correo electrónico: contacto@sellcom-solutions.com.mx.</p>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/libs/jquery.validate.js"></script>
    <script src="../js/libs/jquery.file.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/sellcom_dass.js"></script>
    <script src="../js/controllers/downloads.js"></script>
    <script src="../js/controllers/form.js"></script>
  </body>
</html>

src/html/sections/terminos-condiciones.pug
//-Configuración y variables globales del proyecto
include ../config/_variables
//-
    Ajustes de la configuración global para esta sección
- global_path = '../'
//-
    Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
    Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Terminos y condiciones'
- metadata['description'] = 'Ahora costos con las soluciones de Sellcom; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Aruba, bajo demanda, on demand, soluciones Aruba'
- var landing = 'aviso-privacidad'

- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

doctype html
html(lang=site.lang)
    include ../template/_head
    body
        include ../template/_header
        section.section-banner-legal
            h2 Terminos y condiciones
        section.device-text-one
            .container
                .row
                    .col-10.middle
                        h3 TERMINOS Y CONDICIONES
                        p En el sitio web www.sellcom-solutions.com.mx, así como en el teléfono +52 (55) 5293 8400 y sus respectivas extensiones, ambos pertenecientes a la empresa Sellcom Solutions México S.A. de C.V., con domicilio en Av. Camino Real de Carretas No. 104,  piso 3, of.302, col. Milenio III, CP 76060, Querétaro, México y, en cumplimiento de las disposiciones contenidas en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, nos comprometemos a proteger la privacidad de sus datos personales. Este Aviso de Privacidad detalla la información que nos proporcionas, cómo la recabamos, el tratamiento de sus datos personales, del uso que se le dé a los mismos y como los protegemos.
                        h4 Recolección de Datos
                        p Usted puede proporcionarnos datos personales físicamente, electrónicamente o vía telefónica. Sellcom Solutions México S.A. de C.V. se compromete a asegurar la confidencialidad/privacidad de la información obtenida a través de sus servicios. Cuando utiliza nuestro sitio web, toda su información es almacenada en nuestra base de datos por seguridad. Sellcom Solutions México S.A. de C.V no provee datos a ningún tercero. Hemos asegurado el seguimiento de la protección de datos a través de medios técnicos y de organización.
                        h4 Recolección y procesamiento de los datos personales
                        p Los datos personales se reúnen exclusivamente si usted nos los proporciona, es decir, como el llenado de formularios de contacto, formulario de empleo, como parte de una solicitud de servicios o de cotizaciones, redes sociales, por teléfono o físicamente.
                        p La base de datos y su contenido pertenecen a Sellcom Solutions México S.A. de C.V y son responsabilidad nuestra.
                        p Mantendremos el control y responsabilidad del uso de cualquier información personal que nos proporcione.
                        h4 Propósitos de Uso
                        p La información que nosotros recopilamos se utilizará únicamente con el propósito de proporcionarle información sobre los eventos que la empresa lleva a cabo, convocatorias, promociones, avisos, comunicados y entradas en nuestro blog, salvo disposición por ley en contrario.
                        h4 Derecho de Acceso y Corrección
                        p Usted tiene el derecho de (i) solicitar la cancelación de los datos, y (ii) oponerse al uso de sus datos de cualquier forma y de todo tipo de tratamiento. Sólo envíe un correo electrónico a contacto@sellcom-solutions.com.mx solicitando la eliminación de sus datos de nuestra base de datos.
                        h4 Retención de Información
                        p Únicamente retenemos datos personales durante el tiempo que nos sea necesario para rendirle el servicio anteriormente mencionado para el cual nos dio su consentimiento, salvo disposición por ley en contrario.
                        h4 Seguridad
                        p Sellcom Solutions México S.A. de C.V utiliza medidas de seguridad técnica y de organización, a fin de proteger sus datos de manipulación casual o deliberada, pérdida, destrucción o acceso por personas no autorizadas. Como parte de la recolección y procesamiento de los datos personales, se codifica toda la información transferida para evitar mal uso de los datos por terceros. Nuestros procedimientos de seguridad son revisados continuamente con base al desarrollo de nuevas tecnologías.
                        h4 Consentimiento
                        p Se entenderá que usted otorga su consentimiento al uso de sus datos personales, en la forma que ha quedado establecida en el presente Aviso de Privacidad, si no manifiesta su oposición por escrito al correo electrónico contacto@sellcom-solutions.com.mx.
                        h4 Contacto
                        p Comuníquese por favor para cualquier problema, pregunta o sugerencia que pueda tener.
                        p Correo electrónico: contacto@sellcom-solutions.com.mx.


        include ../template/_footer			
