dist/dev/sections/tiempos-materiales.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Tiempos y Materiales</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Llegó la era de la Tiempos y Materiales; una solución que simplifica las operaciones en TI con una sola plataforma. ¡La tecnología que tu empresa necesita!">
    <meta name="keywords" content="Sellcom, Tiempos y Materiales, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-video-dass"><img class="banner" alt="banner">
      <div class="boxVideo">
        <video id="secondVideo" autoplay loop muted>
          <source src="../images/video/TyM_Lift_30ss.mp4" type="video/mp4">
        </video>
      </div>
      <div class="container">
        <div class="content"><br>
          <div class="title-sections">
            <h1>Tiempos y Materiales</h1>
          </div>
          <p>Encuentra a la persona indicada para tu proyecto             </p>
        </div>
      </div>
    </section>
    <section class="anchors">
      <div class="container">
        <div class="row">
          <div class="col-10 middle"> 
            <ul id="submenu">
              <li><a href="#device">
                  <p>Conoce nuestra soluci&oacute;n</p></a></li>
              <li><a href="#howitworks">
                  <p>¿C&oacute;mo funciona?</p></a></li>
              <li><a href="#whydaas">
                  <p>¿Por qu&eacute; implementar Tiempos y Materiales?</p></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="device-text-one" id="device">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <h2>¿Qué son los Servicios de tiempos y materiales?</h2>
                <p>SELLCOM SOLUTIONS ofrece los servicios de sus recursos humanos y materiales tecnológicos para atender las necesidades de nuestros clientes, definiendo las características del servicio mediante un análisis de requerimientos con el cliente.</p>
                <p>Aportando beneficios, tanto a nuestros empleados con nuevos entornos laborales con trabajos diferentes, mayor experiencia y retribución justa, como para nuestros clientes con perfiles específicos para cada proyecto y contratación de personal sólo para casos necesarios.</p>
              </div>
              <div class="col-6"><img src="../images/services_tiempos/sellcom-devicedass-service.jpg" alt="Devices As a Service"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="how-it-works" id="howitworks">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <h2>¿C&oacute;mo funciona?</h2>
            <p>Sellcom Solutions tiene en su cartera de empleados diferentes perfiles de especialistas listos para entrar a trabajar en los proyectos de nuestros clientes. Si el perfil que se está buscando no se encuentra dentro de nuestra cartera, nuestros especialistas en Gestión de talento son capaces de encontrarlo y sumarlo a nuestra cartera de recursos humanos.</p>
            <ul>
              <li> 
                <p><strong>Perfiles de Desarrollo de Software</strong> <span> </span></p>
              </li>
              <li>
                <p><strong>Perfiles de Soporte a infraestructura</strong> <span> </span></p>
              </li>
              <li>
                <p><strong>Perfiles de Análisis de Datos</strong> <span> </span></p>
              </li>
              <li> 
                <p><strong>Perfiles de Calidad de Software</strong><span> </span></p>
              </li>
              <li>
                <p><strong>Perfiles de Implementación y Soporte</strong> <span> </span></p>
              </li>
              <li>
                <p><strong>Perfiles Administrativos</strong> <span> </span></p>
              </li>
              <li>
                <p><strong>Consultores de nuevas tecnologias</strong> <span> </span></p>
              </li>
            </ul>
            <p>Como valor agregado, todos los recursos humanos son preparados académicamente para el servicio que son asignados, dentro de los cursos de capacitación destacamos:</p>
            <ul>
              <li> 
                <p><strong>Fundamentos de ITIL V3 2011, Operación del Servicio ITIL</strong> <span> </span></p>
              </li>
              <li>
                <p><strong>Transición del Servicio ITIL, Mejora Continua del Servicio ITIL</strong> <span> </span></p>
              </li>
              <li>
                <p><strong>COBIT</strong> <span> </span></p>
              </li>
              <li> 
                <p><strong>PMP</strong><span> </span></p>
              </li>
              <li>
                <p><strong>SCRUM</strong> <span> </span></p>
              </li>
              <li>
                <p><strong>ISO 20000</strong> <span> </span></p>
              </li>
              <li>
                <p><strong>CMMI</strong> <span> </span></p>
              </li>
              <li>
                <p><strong>Lenguajes de programación java, .Net, PHP</strong> <span> </span></p>
              </li>
              <li>
                <p><strong>Desarrollo para equipos móviles</strong> <span> </span></p>
              </li>
              <li>
                <p><strong>Redes y seguridad (cisco)</strong> <span> </span></p>
              </li>
              <li>
                <p><strong>Entre otros</strong> <span></span></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <div class="flotante"><a class="whitepage" href="../documents/TyM_Whithepaper.pdf" dowloand target="_blank" title="Descargar white paper"><img src="../images/global/whitepaper.png" alt="big data"></a><a class="caseofuse" href="../documents/TyM_Caso_de_Uso.pdf" dowloand target="_blank" title="Descargar casos de uso"><img src="../images/global/casodeuso.png" alt="big data"></a></div>
    <section class="why-daas" id="whydaas">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <h2>¿Por qu&eacute; implementar Tiempos y Materiales?</h2>
            <p>Nuestro equipo de RH y Especialistas en Gestión de talento siempre está buscando talento nuevo para que se una a Sellcom Solutions, creciendo nuestras capacidades como empresa para solventar hasta los problemas mas especificos de nuestros clientes.</p>
            <ul>
              <li><img src="../images/services_tiempos/sellcom-icono-soporteglobal.png" alt="Soporte global ">
                <p>Mas de 130 especialistas en campo.</p>
              </li>
              <li><img src="../images/services_tiempos/sellcom-icono-proteccion.png" alt="Protección contra daños">
                <p>Mas de 30 perfiles de TI diferentes con distintos niveles de especializacion.</p>
              </li>
              <li><img src="../images/services_tiempos/sellcom-icono-reparacion.png" alt="Servicios de reparación">
                <p>Equipo de Especialistas en Gestión de talento siempre en busqueda de mejor talento.</p>
              </li>
              <li><img src="../images/services_tiempos/sellcom-icono-reparacion.png" alt="Servicios de reparación">
                <p>Garantizamos el cumplimiento de contratos, cumplimiento de fechas de entrega.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/Sellcom.js"></script>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/global/global.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/products_daas.js"></script>
    <script src="../js/plugins/addthis_widget.js"></script>
  </body>
</html>

src/html/sections/tiempos-materiales.pug
//-Configuración y variables globales del proyecto
include ../config/_variables

//-
  Ajustes de la configuración global para esta sección
- global_path = '../'
//-
  Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
  Nombre de la página
- var page = 'Tiempos y Materiales'
- var metadata = {}
- metadata['title'] = 'Sellcom - Tiempos y Materiales'
- metadata['description'] = 'Llegó la era de la Tiempos y Materiales; una solución que simplifica las operaciones en TI con una sola plataforma. ¡La tecnología que tu empresa necesita!'
- metadata['keywords'] = 'Sellcom, Tiempos y Materiales, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud'
//-
  - Ejemplo de como incluir CSS por pagina
  - var section_style = {}
  - section_style['dev'] = 'home.css'
  - section_style['prod'] = 'home.min.css'
//-
  - Ejemplo como incluir los JS por pagina
- var section_scripts =  {} 
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.base + 'Sellcom.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.global + 'global.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers+ 'products_daas.js')

- section_scripts['dev'].push(global_path  + scripts.plugins + 'addthis_widget.js')


- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.base + 'Sellcom.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.global + 'global.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'products_daas.min.js')

- section_scripts['prod'].push(global_path  + scripts.plugins + 'addthis_widget.min.js')

- var local_images = {}
- local_images['images'] = {}
- local_images.images['banner'] = global_path +  images.services_tiempos + 'bannerprincipal.jpg'
- local_images.images['daas_one'] = global_path +  images.services_tiempos + 'sellcom-devicedass-service.jpg'
- local_images.images['asset_management'] = global_path + images.services_tiempos + 'sellcom-daas-assetmanagement.jpg'
- local_images.images['delivery'] = global_path + images.services_tiempos + 'sellcom-daas-softwaredelivery.jpg'
- local_images.images['metrix'] = global_path + images.services_tiempos + 'sellcom-daas-softwaremetrix.jpg'
- local_images.images['icon_estability'] = global_path + images.services_tiempos + 'sellcom-icono-estabilidad.png'
- local_images.images['icon_protection'] = global_path + images.services_tiempos + 'sellcom-icono-proteccion.png'
- local_images.images['icon_repair'] = global_path + images.services_tiempos + 'sellcom-icono-reparacion.png'
- local_images.images['icon_suport'] = global_path + images.services_tiempos + 'sellcom-icono-soporteglobal.png'
- local_images.images['logo_aruba'] = global_path + images.services_tiempos + 'sellcom-logo-aruba.png'
- local_images.images['logo_getac'] = global_path + images.services_tiempos + 'sellcom-logo-getac.png'
- local_images.images['logo_hewlett'] = global_path + images.services_tiempos + 'sellcom-logo-hewlett.png'
- local_images.images['logo_hp'] = global_path + images.services_tiempos + 'sellcom-logo-hp.png'
- local_images.images['logo_lexmark'] = global_path + images.services_tiempos + 'sellcom-logo-lexmark.png'
- local_images.images['logo_reseller'] = global_path + images.services_tiempos + 'sellcom-logo-reseller.png'

- var local = {}
- local['images'] = {}
- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'TyM_Whithepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'TyM_Caso_de_Uso.pdf'

doctype html
html(lang=site.lang)
  include ../template/_head
  body
    include ../template/_header
    //- section.section-banner-interna
    //-   img.banner(src=local_images.images.banner alt='Device As a Service')
    //-   .container
    //-     .content
    //-       .row
    //-         .col-10.middle
    //-           h1 Tiempos y Materiales
    //-           p Encuentra a la persona indicada para tu proyecto.
    section.section-video-dass
            img.banner(src=local.images.banner, alt="banner")
            .boxVideo
                video#secondVideo(autoplay loop muted)
                    source(src="../images/video/TyM_Lift_30ss.mp4" type="video/mp4")
            .container
                .content
                    br
                    .title-sections
                        h1 Tiempos y Materiales
                    p Encuentra a la persona indicada para tu proyecto             
    section.anchors
      .container
        .row
          .col-10.middle 
             ul#submenu
               li
                 a(href='#device') #[p Conoce nuestra soluci&oacute;n]
               li
                 a(href='#howitworks') #[p ¿C&oacute;mo funciona?]
               li
                 a(href='#whydaas') #[p ¿Por qu&eacute; implementar Tiempos y Materiales?]
    section.device-text-one#device
      .container
        .row
          .col-10.middle
            .row
              .col-6
                h2 ¿Qué son los Servicios de tiempos y materiales?
                p SELLCOM SOLUTIONS ofrece los servicios de sus recursos humanos y materiales tecnológicos para atender las necesidades de nuestros clientes, definiendo las características del servicio mediante un análisis de requerimientos con el cliente.
                p Aportando beneficios, tanto a nuestros empleados con nuevos entornos laborales con trabajos diferentes, mayor experiencia y retribución justa, como para nuestros clientes con perfiles específicos para cada proyecto y contratación de personal sólo para casos necesarios.
              .col-6
                img(src=local_images.images.daas_one alt='Devices As a Service')
    section.how-it-works#howitworks
      .container
        .row
          .col-10.middle
            h2 ¿C&oacute;mo funciona?
            p Sellcom Solutions tiene en su cartera de empleados diferentes perfiles de especialistas listos para entrar a trabajar en los proyectos de nuestros clientes. Si el perfil que se está buscando no se encuentra dentro de nuestra cartera, nuestros especialistas en Gestión de talento son capaces de encontrarlo y sumarlo a nuestra cartera de recursos humanos.
            ul
              li 
                p #[strong Perfiles de Desarrollo de Software] 
                  span 
              li
                p #[strong Perfiles de Soporte a infraestructura] 
                  span 
              li
                p #[strong Perfiles de Análisis de Datos] 
                  span 
              li 
                p #[strong Perfiles de Calidad de Software]
                  span 
              li
                p #[strong Perfiles de Implementación y Soporte] 
                  span 
              li
                p #[strong Perfiles Administrativos] 
                  span 
              li
                p #[strong Consultores de nuevas tecnologias] 
                  span 
            p Como valor agregado, todos los recursos humanos son preparados académicamente para el servicio que son asignados, dentro de los cursos de capacitación destacamos:
            ul
              li 
                p #[strong Fundamentos de ITIL V3 2011, Operación del Servicio ITIL] 
                  span 
              li
                p #[strong Transición del Servicio ITIL, Mejora Continua del Servicio ITIL] 
                  span 
              li
                p #[strong COBIT] 
                  span 
              li 
                p #[strong PMP]
                  span 
              li
                p #[strong SCRUM] 
                  span 
              li
                p #[strong ISO 20000] 
                  span 
              li
                p #[strong CMMI] 
                  span 
              li
                p #[strong Lenguajes de programación java, .Net, PHP] 
                  span 
              li
                p #[strong Desarrollo para equipos móviles] 
                  span 
              li
                p #[strong Redes y seguridad (cisco)] 
                  span 
              li
                p #[strong Entre otros] 
                  span
    .flotante
            a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
                img(src=local.images.whitepaper, alt="big data" )
            a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
                img(src=local.images.casodeuso, alt="big data")
    section.why-daas#whydaas
      .container
        .row
          .col-10.middle
            h2 ¿Por qu&eacute; implementar Tiempos y Materiales?
            p Nuestro equipo de RH y Especialistas en Gestión de talento siempre está buscando talento nuevo para que se una a Sellcom Solutions, creciendo nuestras capacidades como empresa para solventar hasta los problemas mas especificos de nuestros clientes.
            ul
              li
                img(src=local_images.images.icon_suport alt='Soporte global ')
                p Mas de 130 especialistas en campo.
              li
                img(src=local_images.images.icon_protection alt='Protección contra daños')
                p Mas de 30 perfiles de TI diferentes con distintos niveles de especializacion.
              li
                img(src=local_images.images.icon_repair alt='Servicios de reparación')
                p Equipo de Especialistas en Gestión de talento siempre en busqueda de mejor talento.
              li
                img(src=local_images.images.icon_repair alt='Servicios de reparación')
                p Garantizamos el cumplimiento de contratos, cumplimiento de fechas de entrega.
    include ../template/_footer    
