src/html/sections/veeam.pug
//-Configuración y variables globales del proyecto
include ../config/_variables
//-
	Ajustes de la configuración global para esta sección
- global_path = '../'
//-
	Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
	Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Veeam'
- metadata['description'] = 'Ahora costos con las soluciones de Veeam; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Veeam, bajo demanda, on demand, soluciones Veeam'
- var landing = 'veeam'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_veeam + 'bannerprincipal.png'
//- Servicios
- local.images['uno'] = global_path + images.products_veeam + 'servicio_1.png'
- local.images['dos'] = global_path + images.products_veeam + 'servicio_2.png'
- local.images['tres'] = global_path + images.products_veeam + 'servicio_3.png'
- local.images['cuatro'] = global_path + images.products_veeam + 'servicio_4.png'
- local.images['cinco'] = global_path + images.products_veeam + 'servicio_5.png'
//- Beneficios
- local.images['continuidad'] = global_path + images.products_veeam + 'beneficio_continuidaddenegocio.png'
- local.images['agilidad'] = global_path + images.products_veeam + 'beneficio_agilidaddelatransformacion.png'
- local.images['analytics'] = global_path + images.products_veeam + 'beneficio_analyticsyvisibilidad.png'
- local.images['datos'] = global_path + images.products_veeam + 'beneficio_datalossavoidance.png'

- local.images['solucion'] = global_path + images.products_veeam + 'solucion.png'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'VeeamWhithepaper.pdf'

doctype html
html(lang=site.lang)
	include ../template/_head
	body
		include ../template/_header
		section.section-banner-dass
			img.banner(src=local.images.banner, alt="banner")
			.container
				.content
					br
					.title-sections
						h1 Veeam Hyper-Availability Platform 33
					p El líder mundial en gestión inteligente de datos
		section.section-about-dass#dass
			.container
				.row
					.col-12
						.title-sections-text
							h3 ¿Qué es Veeam?
							p La Hiperdisponibilidad es crítica para las empresas de hoy.
						ul
							li
								strong Backup y Recuperación / Replicación y Failover
								img(src=local.images.uno, alt="uno")
								p Hiperdisponibilidad para cualquier aplicación, cualquier dato y en cualquier cloud. 
							li
								strong Universal APIs
								img(src=local.images.dos, alt="dos")
								p integraciones e interfaces con un gran ecosistema de partners.
							li
								strong DataLabs
								img(src=local.images.tres, alt="tres")
								p Agilizar el ritmo de prestación de servicios digitales sin interrumpir su experiencia de vida digital.
							li
								strong Visibilidad y monitorización
								img(src=local.images.cuatro, alt="cuatro")
								p Visibilidad para cualquier dato, cualquier aplicación y en cualquier cloud para todas las partes implicadas en la empresa.
							li
								strong Orquestación y automatización
								img(src=local.images.cinco, alt="cinco")
								p Anticipa las necesidades y satisface de forma segura la demanda en el mundo multicloud, reduciendo el riesgo e impulsando la innovación.
		section.section-implementDass#beneficios
			.container
				.row
					.col-10.middle
						.title-sections-text
							h3 ¿Por qué implementar Veeam?
							p Beneficios:
						ul
							li
								img(src=local.images.continuidad, alt="continuidad")
								p Continuidad del negocio  sin interrupciones  para recuperar al instante cualquier aplicación y dato desde cualquier infraestructura cloud.
							li
								img(src=local.images.agilidad, alt="agilidad")
								p Agilidad de la transformación digital con una gestión y migración de datos multinube. Elija la nube a su criterio.
							li
								img(src=local.images.analytics, alt="analytics")
								p Analytics y visibilidad con información práctica para la administración de datos, rendimiento operativo y cumplimiento.
							li
								img(src=local.images.datos, alt="datos")
								p Data Loss Avoidance con recuperación y Disaster Recovery simplificado incorporado.
		section.section-subtitle#soluciones
			.container
				.row
					.col-10.middle
						.title-sections
							h3 Conoce nuestra solución
		.flotante
			a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
				img(src=local.images.whitepaper, alt="big data" )
		section.section-why-dass
			img(src=local.images.solucion, alt="solucion conoce")
			.container
				.row
					.col-6.bgcircle
						p Hoy hay nuevas expectativas frente a los datos, que se desplazan hacia un nuevo nivel de inteligencia, capaz de anticipar automáticamente las necesidades, satisfacer la demanda y moverse de forma segura entre las diversas infraestructuras multicloud.
						p El resultado es la perspectiva que necesita para acelerar el ritmo de innovación y prestar nuevos servicios y experiencias digitales.
		include ../template/_footer
		if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
		script(type="text/javascript" src=section_scripts[current_profile][i])

dist/dev/sections/veeam.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Veeam</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Ahora costos con las soluciones de Veeam; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!">
    <meta name="keywords" content="Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Veeam, bajo demanda, on demand, soluciones Veeam">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-banner-dass"><img class="banner" src="../images/products_veeam/bannerprincipal.png" alt="banner">
      <div class="container">
        <div class="content"><br>
          <div class="title-sections">
            <h1>Veeam Hyper-Availability Platform 33</h1>
          </div>
          <p>El líder mundial en gestión inteligente de datos</p>
        </div>
      </div>
    </section>
    <section class="section-about-dass" id="dass">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="title-sections-text">
              <h3>¿Qué es Veeam?</h3>
              <p>La Hiperdisponibilidad es crítica para las empresas de hoy.</p>
            </div>
            <ul>
              <li><strong>Backup y Recuperación / Replicación y Failover</strong><img src="../images/products_veeam/servicio_1.png" alt="uno">
                <p>Hiperdisponibilidad para cualquier aplicación, cualquier dato y en cualquier cloud. </p>
              </li>
              <li><strong>Universal APIs</strong><img src="../images/products_veeam/servicio_2.png" alt="dos">
                <p>integraciones e interfaces con un gran ecosistema de partners.</p>
              </li>
              <li><strong>DataLabs</strong><img src="../images/products_veeam/servicio_3.png" alt="tres">
                <p>Agilizar el ritmo de prestación de servicios digitales sin interrumpir su experiencia de vida digital.</p>
              </li>
              <li><strong>Visibilidad y monitorización</strong><img src="../images/products_veeam/servicio_4.png" alt="cuatro">
                <p>Visibilidad para cualquier dato, cualquier aplicación y en cualquier cloud para todas las partes implicadas en la empresa.</p>
              </li>
              <li><strong>Orquestación y automatización</strong><img src="../images/products_veeam/servicio_5.png" alt="cinco">
                <p>Anticipa las necesidades y satisface de forma segura la demanda en el mundo multicloud, reduciendo el riesgo e impulsando la innovación.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section-implementDass" id="beneficios">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections-text">
              <h3>¿Por qué implementar Veeam?</h3>
              <p>Beneficios:</p>
            </div>
            <ul>
              <li><img src="../images/products_veeam/beneficio_continuidaddenegocio.png" alt="continuidad">
                <p>Continuidad del negocio  sin interrupciones  para recuperar al instante cualquier aplicación y dato desde cualquier infraestructura cloud.</p>
              </li>
              <li><img src="../images/products_veeam/beneficio_agilidaddelatransformacion.png" alt="agilidad">
                <p>Agilidad de la transformación digital con una gestión y migración de datos multinube. Elija la nube a su criterio.</p>
              </li>
              <li><img src="../images/products_veeam/beneficio_analyticsyvisibilidad.png" alt="analytics">
                <p>Analytics y visibilidad con información práctica para la administración de datos, rendimiento operativo y cumplimiento.</p>
              </li>
              <li><img src="../images/products_veeam/beneficio_datalossavoidance.png" alt="datos">
                <p>Data Loss Avoidance con recuperación y Disaster Recovery simplificado incorporado.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section-subtitle" id="soluciones">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections">
              <h3>Conoce nuestra solución</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="flotante"><a class="whitepage" href="../documents/VeeamWhithepaper.pdf" dowloand target="_blank" title="Descargar white paper"><img src="../images/global/whitepaper.png" alt="big data"></a></div>
    <section class="section-why-dass"><img src="../images/products_veeam/solucion.png" alt="solucion conoce">
      <div class="container">
        <div class="row">
          <div class="col-6 bgcircle">
            <p>Hoy hay nuevas expectativas frente a los datos, que se desplazan hacia un nuevo nivel de inteligencia, capaz de anticipar automáticamente las necesidades, satisfacer la demanda y moverse de forma segura entre las diversas infraestructuras multicloud.</p>
            <p>El resultado es la perspectiva que necesita para acelerar el ritmo de innovación y prestar nuevos servicios y experiencias digitales.</p>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/libs/jquery.validate.js"></script>
    <script src="../js/libs/jquery.file.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/sellcom_dass.js"></script>
    <script src="../js/controllers/downloads.js"></script>
    <script src="../js/controllers/form.js"></script>
  </body>
</html>
<script type="text/javascript" src="../js/libs/jquery.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<script type="text/javascript" src="../js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../js/libs/jquery.file.js"></script>
<script type="text/javascript" src="../js/plugins/slick.js"></script>
<script type="text/javascript" src="../js/controllers/sellcom_dass.js"></script>
<script type="text/javascript" src="../js/controllers/downloads.js"></script>
<script type="text/javascript" src="../js/controllers/form.js"></script>
