dist/dev/sections/vmware.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Vmware</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="VMware optimiza la transición para las organizaciones que quieren transformarse en empresas digitales capaces de ofrecer mejores experiencias a sus clientes y de permitir que los empleados trabajen de la mejor forma posible.">
    <meta name="keywords" content="Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, multicloud, Software,Hardware, Innovación, Empresas, Aplicaciones, Industria, Nubes, Workspace,multicloud, Infraestructura, Virtualización, Device as a Service, VMware, redes, seguridad, soluciones VMware">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-video-dass"><img class="banner" src="../images/products_huawei/bannerprincipal.jpg" alt="banner">
      <div class="boxVideo">
        <video id="secondVideo" autoplay loop muted>
          <source src="../images/video/vmware.mp4" type="video/mp4">
        </video>
      </div>
      <div class="container">
        <div class="content"><br>
          <div class="title-sections">
            <h1>Vmware</h1>
            <p>Nuestro software abarca los recursos informáticos, la cloud, la red y la seguridad y el área de trabajo digital.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="section-about-dass" id="dass">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections-text">
              <h3>¿Qué es VMware?</h3>
              <p>VMware optimiza la transición para las organizaciones que quieren transformarse en empresas digitales capaces de ofrecer mejores experiencias a sus clientes y de permitir que los empleados trabajen de la mejor forma posible. Nuestro software abarca los recursos informáticos, la cloud, la red y la seguridad y el área de trabajo digital.</p>
            </div>
          </div>
          <div class="col-12">
            <ul>
              <li><strong>Transforme la red y la seguridad</strong><img id="imagen" src="../images/products_vmware/servicio_seguridad.png" alt="seguridad">
                <p>Aprenda a conectar y proteger aplicaciones y datos, del centro de datos a la cloud y la infraestructura perimetral. </p>
              </li>
              <li><strong>Área de trabajo digital</strong><img id="imagen" src="../images/products_vmware/servicio_digital.png" alt="digital">
                <p>Experiencia de usuario segura y similar a la del consumidor en cualquier dispositivo con un área de trabajo digital.</p>
              </li>
              <li><strong>Solución Multicloud</strong><img id="imagen" src="../images/products_vmware/servicio_multicloud.png" alt="multicloud">
                <p>Descubra cómo VMware Cloud proporciona operaciones e infraestructuras uniformes en clouds públicas nativas e híbridas</p>
              </li>
              <li><strong>Soluciones empresariales</strong><img id="imagen" src="../images/products_vmware/servicio_negocio.png" alt="negocio">
                <p>Aproveche el poder de la movilidad del negocio sin importar a qué sector pertenece.</p>
              </li>
              <li><strong>Soluciones por tecnología</strong><img id="imagen" src="../images/products_vmware/servicio_tecnologia.png" alt="tecnologia">
                <p>Nuestras soluciones de "una nube", basadas en tecnologías del centro de datos definido por software</p>
              </li>
              <li><strong>Soluciones para la industria</strong><img id="imagen" src="../images/products_vmware/servicio_industria.png" alt="industria">
                <p>Una infraestructura virtual puede ayudarlo a optimizar los recursos de TI y a ofrecer una alta disponibilidad.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="microsite-container-vmware">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="title-sections-text">
              <h3>Productos</h3>
              <p>Conoce los productos VMware que Sellcom Solutions te ofrece.</p>
            </div>
          </div>
          <div class="col-10 middle">
            <section class="tabs">
              <input class="tab-selector-1" id="tab-1" type="radio" name="radio-set" checked="checked">
              <label class="tab-label-1" for="tab-1">Infraestructura Hiperconvergente</label>
              <input class="tab-selector-2" id="tab-2" type="radio" name="radio-set">
              <label class="tab-label-2" for="tab-2">Redes y Seguridad</label>
              <input class="tab-selector-3" id="tab-3" type="radio" name="radio-set">
              <label class="tab-label-3" for="tab-3">SDDC & Hybrid Cloud</label>
              <input class="tab-selector-4" id="tab-4" type="radio" name="radio-set">
              <label class="tab-label-4" for="tab-4">Movilidad MDM </label>
              <div class="clear-shadow"></div>
              <div class="content">
                <div class="dash content-1">
                  <row>
                    <div class="col-12">
                      <h2 class="txt-center"><strong>Infraestructura Hiperconvergente.En nuestra arquitectura centrada en el hipervisor, se combinan el hardware y la pila de software, y se ofrece una infraestructura completamente convergente desde una única plataforma de hardware con servidor x86 estándar.</strong></h2>
                    </div>
                    <row> </row>
                    <div class="col-10 middle">
                      <p>La infraestructura hiperconvergente (HCI) permite combinar los recursos informáticos, el almacenamiento y la red en un solo sistema. Esta solución simplificada utiliza software y servidores x86 para sustituir el hardware caro y diseñado con fines específicos. Gracias a la infraestructura hiperconvergente, es posible reducir la complejidad del centro de datos y aumentar su escalabilidad. </p>
                    </div>
                    <row> </row>
                    <div class="col-10 middle">
                      <p>Una arquitectura tradicional de tres niveles resulta cara de implementar, su funcionamiento es complejo y su escalabilidad, difícil. No espere a que la infraestructura de TI responda a los requisitos de las aplicaciones. Adopte la HCI sin perder el control, aumentar costes o renunciar a la seguridad.</p>
                    </div>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>vSAN ReadyNode  </h3>
                    </div>
                    <div class="col-10 middle">
                      <p>vSAN ReadyNode son soluciones de hardware hiperconvergente de socios que están preconfiguradas para ejecutar vSAN. Estas son vendidas por fabricantes de equipos originales (OEM, Original Equipment Manufacturer) de servidores.</p>
                    </div>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>Dell EMC VxRail.  </h3>
                    </div>
                    <div class="col-10 middle">
                      <p>El dispositivo Dell EMC VxRail, impulsado por VMware vSAN, es el primer y único dispositivo con una integración completa de VMware para los centros de datos definidos por software. </p>
                    </div>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>VMware HCI Software.   </h3>
                    </div>
                    <div class="col-10 middle">
                      <p>El VMware HCI Software (Hyperconverged Infrastructure, HCI) de VMware consta de vSphere, vSAN y vCenter Server en una pila de software totalmente integrada.</p>
                    </div>
                  </row>
                </div>
                <div class="dash content-2">
                  <row>
                    <h2 class="txt-center"> <strong>Añada servicios de redes y seguridad a las máquinas virtuales (VM, Virtual Machine) con una estrategia regida por políticas y trate la red física como un depósito de capacidad de transporte con NSX.</strong></h2>
                  </row>
                  <row>
                    <div class="col-12">
                      <h2>NSX Data Center.</h2>
                    </div>
                    <div class="col-10 middle">
                      <p>NSX Data Center es la plataforma de virtualización de redes del centro de datos definido por software (Software-defined Data Center, SDDC).</p>
                    </div>
                  </row>
                  <row>
                    <div class="col-12">
                      <h2>NSX Cloud.</h2>
                    </div>
                    <div class="col-10 middle">
                      <p>NSX Cloud ofrece seguridad coherente en la microsegmentación y de escalabilidad operativa para aplicaciones que se ejecutan de manera nativa en nubes públicas. </p>
                    </div>
                  </row>
                  <row>
                    <div class="col-12">
                      <h2>SD-WAN by VeloCloud.</h2>
                    </div>
                    <div class="col-10 middle">
                      <p>SD-WAN by VeloCloud ofrece redes de área amplia simples, ágiles y seguras para sucursales.</p>
                    </div>
                  </row>
                  <row>
                    <div class="col-12">
                      <h2>VMware HCX. </h2>
                    </div>
                    <div class="col-10 middle">
                      <p>VMware HCX ofrece movilidad para las aplicaciones y la capacidad híbrida de la infraestructura en cualquier entorno de vSphere.</p>
                    </div>
                  </row>
                  <row>
                    <div class="col-12">
                      <h2>vRealize Network Insight.  </h2>
                    </div>
                    <div class="col-10 middle">
                      <p>vRealize Network Insight ofrece operaciones inteligentes para seguridad y redes definidas por software.</p>
                    </div>
                  </row>
                </div>
                <div class="dash content-3">
                  <row>
                    <div class="col-12"></div>
                    <h2 class="txt-center"> <strong>La plataforma del centro de datos definido por software (Software-Defined Data Center, SDDC) es compatible con cualquier dispositivo, aplicación o nube. Esta plataforma reúne el procesamiento, el almacenamiento y la virtualización de redes de VMware en una pila integrada de forma nativa, a fin de ofrecer capacidades de infraestructura de nube empresarial comunes a las nubes privadas y públicas.</strong></h2>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>VMware Cloud Foundation.    </h3>
                    </div>
                    <div class="col-10 middle">
                      <p>Cloud Foundation es la nueva plataforma unificada del SDDC. Simplifique la manera en que TI implementa y mantiene nubes privadas e híbridas y, al mismo tiempo, haga que sean más fáciles de usar para los desarrolladores. Cloud Foundation, junto con vRealize Suite y Cross-Cloud Services que VMware está desarrollando, proporciona VMware Cross-Cloud Architecture.</p>
                    </div>
                  </row>
                </div>
                <div class="dash content-4">
                  <row>
                    <div class="col-12"></div>
                    <h2 class="txt-center"> <strong>Proporcione acceso a todas las aplicaciones, servicios y recursos en todos los dispositivos, en cualquier momento y lugar.</strong></h2>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>Workspace ONE. </h3>
                    </div>
                    <div class="col-10 middle">
                      <p>Proporcione y administre aplicaciones en todos los dispositivos con nuestra plataforma de espacio de trabajo digital inteligente que integra el control de acceso, la administración de aplicaciones y la administración unificada de terminales (UEM) con tecnología de AirWatch.</p>
                    </div>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>AirWatch. </h3>
                    </div>
                    <div class="col-10 middle">
                      <p>AirWatch es la tecnología de administración para la movilidad empresarial líder del sector detrás de VMware Workspace ONE, la plataforma integrada del espacio de trabajo digital.</p>
                    </div>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>Workspace ONE Unified Endpoint Management con tecnología de AirWatch. </h3>
                    </div>
                    <div class="col-10 middle">
                      <p>Administre dispositivos y casos de uso, y garantice la seguridad en todas las capas con Workspace ONE UEM, con tecnología de AirWatch, la plataforma líder del sector.</p>
                    </div>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>Aplicaciones de Productividad de Workspace ONE</h3>
                    </div>
                    <div class="col-10 middle">
                      <p>Las Aplicaciones de productividad de Workspace ONE para el correo electrónico, la navegación, el contenido y las redes sociales están diseñadas para negocios con una experiencia simple para los consumidores y seguridad incorporada.</p>
                    </div>
                  </row>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </section>
    <section class="section-implementDass vmware" id="beneficios">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections-text">
              <h3>¿Por qué implementar VMware?</h3>
              <p>Beneficios:</p>
            </div>
          </div>
          <div class="col-10 middle">
            <ul> 
              <li><img src="../images/products_vmware/beneficio_reconocimiento.png" alt="reconocimiento">
                <p>Reconocimiento por los analistas Gartner, Forrester e IDC reconocen de manera unánime a VMware como uno de los líderes del mercado.</p>
              </li>
              <li><img src="../images/products_vmware/beneficio_ecosistema.png" alt="ecosistema">
                <p>Amplio ecosistema de soluciones, muchas empresas están usando soluciones basadas en interfaces abiertas de VMware. Esto se traduce en que los clientes de todos los sectores pueden disfrutar de la máxima flexibilidad con otras soluciones de software.</p>
              </li>
              <li><img src="../images/products_vmware/beneficio_plataforma.png" alt="plataforma">
                <p>El TCO más bajo con el valor empresarial más alto. Nuestras calculadoras de TCO y las herramientas de planificación le mostrarán que las plataformas de VMware le ofrecen el mejor valor empresarial, con independencia del tipo infraestructura que necesite.</p>
              </li>
              <li><img src="../images/products_vmware/beneficio_transformacion.png" alt="transformacion">
                <p>La base digital que necesitan sus soluciones empresariales presentes y futuras. Acelere su transformación digital por software para la empresa y el entorno TI con una plataforma especialmente uniforme para la cloud y la movilidad empresarial.</p>
              </li>
              <li><img src="../images/products_vmware/beneficio_ahorro.png" alt="ahorro">
                <p>La opción preferida por las empresas. Todas las empresas de la lista Fortune 500 eligen la infraestructura de VMware, ya que les reporta un ahorro de miles de millones de dólares       </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section-subtitle" id="soluciones">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections">
              <h3>Conoce nuestra solución</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-why-dass"><img src="../images/products_vmware/solucion.jpg" alt="solucion conoce">
      <div class="container">
        <div class="row">
          <div class="col-6 bgcircle">
            <p>Nuestro software crea una base digital que impulsa las aplicaciones, los servicios y las experiencias que están transformando el mundo.</p>
            <p>Creemos que el software tiene el poder de crear nuevas posibilidades para las personas y para nuestro planeta</p>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/libs/jquery.validate.js"></script>
    <script src="../js/libs/jquery.file.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/sellcom_dass.js"></script>
    <script src="../js/controllers/downloads.js"></script>
    <script src="../js/controllers/form.js"></script>
  </body>
</html>
<script type="text/javascript" src="../js/libs/jquery.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<script type="text/javascript" src="../js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../js/libs/jquery.file.js"></script>
<script type="text/javascript" src="../js/plugins/slick.js"></script>
<script type="text/javascript" src="../js/controllers/sellcom_dass.js"></script>
<script type="text/javascript" src="../js/controllers/downloads.js"></script>
<script type="text/javascript" src="../js/controllers/form.js"></script>

src/html/sections/vmware.pug
//-Configuración y variables globales del proyecto
include ../config/_variables
//-
    Ajustes de la configuración global para esta sección
- global_path = '../'
//-
    Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
    Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Vmware'
- metadata['description'] = 'VMware optimiza la transición para las organizaciones que quieren transformarse en empresas digitales capaces de ofrecer mejores experiencias a sus clientes y de permitir que los empleados trabajen de la mejor forma posible.'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, multicloud, Software,Hardware, Innovación, Empresas, Aplicaciones, Industria, Nubes, Workspace,multicloud, Infraestructura, Virtualización, Device as a Service, VMware, redes, seguridad, soluciones VMware'
- var landing = 'vmware'

- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_huawei + 'bannerprincipal.jpg'
//- Servicios
- local.images['seguridad'] = global_path + images.products_vmware + 'servicio_seguridad.png'
- local.images['digital'] = global_path + images.products_vmware + 'servicio_digital.png'
- local.images['multicloud'] = global_path + images.products_vmware + 'servicio_multicloud.png'
- local.images['negocio'] = global_path + images.products_vmware + 'servicio_negocio.png'

- local.images['tecnologia'] = global_path + images.products_vmware + 'servicio_tecnologia.png'
- local.images['industria'] = global_path + images.products_vmware + 'servicio_industria.png'

//- Microsite

//- Beneficios
- local.images['transformacion'] = global_path + images.products_vmware + 'beneficio_transformacion.png'
- local.images['ahorro'] = global_path + images.products_vmware + 'beneficio_ahorro.png'
- local.images['ecosistema'] = global_path + images.products_vmware + 'beneficio_ecosistema.png'
- local.images['reconocimiento'] = global_path + images.products_vmware + 'beneficio_reconocimiento.png'
- local.images['plataforma'] = global_path + images.products_vmware + 'beneficio_plataforma.png'


- local.images['solucion'] = global_path + images.products_vmware + 'solucion.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Huawei_Whitepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'Huawei_casos_de_uso.pdf'

doctype html
html(lang=site.lang)
    include ../template/_head
    body
        include ../template/_header
        //- section.section-video-dass
        //- 	img(src=local.images.banner, alt="Dass")
        //- 	.boxVideo
        //- 		video#secondVideo(autoplay loop muted)
        //- 			source(src="../images/video/huawei.mp4" type="video/mp4")
        //- 	.information-video
        //- 		.container
        //- 			h1 Huawei
        //- 			h2 Huawei
        //- 			p Todos los componentes a rededor de tus dispositivos los ponemos a tu alcance.
        section.section-video-dass
            img.banner(src=local.images.banner, alt="banner")
            .boxVideo
                video#secondVideo(autoplay loop muted)
                    source(src="../images/video/vmware.mp4" type="video/mp4")
            .container
                .content
                    br
                    .title-sections
                        h1 Vmware
                        p Nuestro software abarca los recursos informáticos, la cloud, la red y la seguridad y el área de trabajo digital.
        section.section-about-dass#dass
            .container
                .row
                    .col-10.middle
                        .title-sections-text
                            h3 ¿Qué es VMware?
                            p VMware optimiza la transición para las organizaciones que quieren transformarse en empresas digitales capaces de ofrecer mejores experiencias a sus clientes y de permitir que los empleados trabajen de la mejor forma posible. Nuestro software abarca los recursos informáticos, la cloud, la red y la seguridad y el área de trabajo digital.
                    .col-12
                        ul
                            li
                                strong Transforme la red y la seguridad
                                img#imagen(src=local.images.seguridad, alt="seguridad")
                                p Aprenda a conectar y proteger aplicaciones y datos, del centro de datos a la cloud y la infraestructura perimetral. 
                            li
                                strong Área de trabajo digital
                                img#imagen(src=local.images.digital, alt="digital")
                                p Experiencia de usuario segura y similar a la del consumidor en cualquier dispositivo con un área de trabajo digital.
                            li
                                strong Solución Multicloud
                                img#imagen(src=local.images.multicloud, alt="multicloud")
                                p Descubra cómo VMware Cloud proporciona operaciones e infraestructuras uniformes en clouds públicas nativas e híbridas
                            li
                                strong Soluciones empresariales
                                img#imagen(src=local.images.negocio, alt="negocio")
                                p Aproveche el poder de la movilidad del negocio sin importar a qué sector pertenece.
                            li
                                strong Soluciones por tecnología
                                img#imagen(src=local.images.tecnologia, alt="tecnologia")
                                p Nuestras soluciones de "una nube", basadas en tecnologías del centro de datos definido por software
                            li
                                strong Soluciones para la industria
                                img#imagen(src=local.images.industria, alt="industria")
                                p Una infraestructura virtual puede ayudarlo a optimizar los recursos de TI y a ofrecer una alta disponibilidad.
                            
        section.microsite-container-vmware
            .container
                .row
                    .col-12
                        .title-sections-text
                            h3 Productos
                            p Conoce los productos VMware que Sellcom Solutions te ofrece.
                    .col-10.middle
                        section.tabs
                            input#tab-1.tab-selector-1(type='radio', name='radio-set', checked='checked')
                            label.tab-label-1(for='tab-1') Infraestructura Hiperconvergente
                            input#tab-2.tab-selector-2(type='radio', name='radio-set')
                            label.tab-label-2(for='tab-2') Redes y Seguridad
                            input#tab-3.tab-selector-3(type='radio', name='radio-set')
                            label.tab-label-3(for='tab-3') SDDC & Hybrid Cloud
                            input#tab-4.tab-selector-4(type='radio', name='radio-set')
                            label.tab-label-4(for='tab-4') Movilidad MDM 
                            
                            .clear-shadow
                            .content
                                .dash.content-1
                                    row
                                        .col-12
                                            h2.txt-center
                                                strong Infraestructura Hiperconvergente.En nuestra arquitectura centrada en el hipervisor, se combinan el hardware y la pila de software, y se ofrece una infraestructura completamente convergente desde una única plataforma de hardware con servidor x86 estándar.
                                        row  
                                        .col-10.middle
                                            p La infraestructura hiperconvergente (HCI) permite combinar los recursos informáticos, el almacenamiento y la red en un solo sistema. Esta solución simplificada utiliza software y servidores x86 para sustituir el hardware caro y diseñado con fines específicos. Gracias a la infraestructura hiperconvergente, es posible reducir la complejidad del centro de datos y aumentar su escalabilidad. 

                                        row  
                                        .col-10.middle
                                            p Una arquitectura tradicional de tres niveles resulta cara de implementar, su funcionamiento es complejo y su escalabilidad, difícil. No espere a que la infraestructura de TI responda a los requisitos de las aplicaciones. Adopte la HCI sin perder el control, aumentar costes o renunciar a la seguridad.
                                            
                                    row
                                        .col-12
                                            h3 vSAN ReadyNode  
                                        .col-10.middle
                                            p vSAN ReadyNode son soluciones de hardware hiperconvergente de socios que están preconfiguradas para ejecutar vSAN. Estas son vendidas por fabricantes de equipos originales (OEM, Original Equipment Manufacturer) de servidores.

                                    row
                                        .col-12
                                            h3 Dell EMC VxRail.  
                                        .col-10.middle
                                            p El dispositivo Dell EMC VxRail, impulsado por VMware vSAN, es el primer y único dispositivo con una integración completa de VMware para los centros de datos definidos por software. 
                                    row
                                        .col-12
                                            h3 VMware HCI Software.   
                                        .col-10.middle
                                            p El VMware HCI Software (Hyperconverged Infrastructure, HCI) de VMware consta de vSphere, vSAN y vCenter Server en una pila de software totalmente integrada.
                                           
                                .dash.content-2
                                    row
                                           h2.txt-center 
                                            strong Añada servicios de redes y seguridad a las máquinas virtuales (VM, Virtual Machine) con una estrategia regida por políticas y trate la red física como un depósito de capacidad de transporte con NSX.
                                    row
                                        .col-12
                                            h2 NSX Data Center.
                                        .col-10.middle
                                            p NSX Data Center es la plataforma de virtualización de redes del centro de datos definido por software (Software-defined Data Center, SDDC).

                                    row
                                        .col-12
                                            h2 NSX Cloud.
                                        .col-10.middle
                                            p NSX Cloud ofrece seguridad coherente en la microsegmentación y de escalabilidad operativa para aplicaciones que se ejecutan de manera nativa en nubes públicas. 

                                    row
                                        .col-12
                                            h2 SD-WAN by VeloCloud.
                                        .col-10.middle
                                            p SD-WAN by VeloCloud ofrece redes de área amplia simples, ágiles y seguras para sucursales.
                                    
                                    row
                                        .col-12
                                            h2 VMware HCX. 
                                        .col-10.middle
                                            p VMware HCX ofrece movilidad para las aplicaciones y la capacidad híbrida de la infraestructura en cualquier entorno de vSphere.

                                    row
                                        .col-12
                                            h2 vRealize Network Insight.  
                                        .col-10.middle
                                            p vRealize Network Insight ofrece operaciones inteligentes para seguridad y redes definidas por software.
                                    
                                .dash.content-3
                                    row
                                        .col-12
                                        h2.txt-center 
                                            strong La plataforma del centro de datos definido por software (Software-Defined Data Center, SDDC) es compatible con cualquier dispositivo, aplicación o nube. Esta plataforma reúne el procesamiento, el almacenamiento y la virtualización de redes de VMware en una pila integrada de forma nativa, a fin de ofrecer capacidades de infraestructura de nube empresarial comunes a las nubes privadas y públicas.
                                      
                                    row
                                        .col-12
                                            h3 VMware Cloud Foundation.    
                                        .col-10.middle
                                            p Cloud Foundation es la nueva plataforma unificada del SDDC. Simplifique la manera en que TI implementa y mantiene nubes privadas e híbridas y, al mismo tiempo, haga que sean más fáciles de usar para los desarrolladores. Cloud Foundation, junto con vRealize Suite y Cross-Cloud Services que VMware está desarrollando, proporciona VMware Cross-Cloud Architecture.

                                .dash.content-4
                                    row
                                        .col-12
                                        h2.txt-center 
                                            strong Proporcione acceso a todas las aplicaciones, servicios y recursos en todos los dispositivos, en cualquier momento y lugar.
                                        
                                    row
                                        .col-12
                                            h3 Workspace ONE. 
                                        .col-10.middle
                                            p Proporcione y administre aplicaciones en todos los dispositivos con nuestra plataforma de espacio de trabajo digital inteligente que integra el control de acceso, la administración de aplicaciones y la administración unificada de terminales (UEM) con tecnología de AirWatch.
                                    row
                                        .col-12
                                            h3 AirWatch. 
                                        .col-10.middle
                                            p AirWatch es la tecnología de administración para la movilidad empresarial líder del sector detrás de VMware Workspace ONE, la plataforma integrada del espacio de trabajo digital.
                                    row
                                        .col-12
                                            h3 Workspace ONE Unified Endpoint Management con tecnología de AirWatch. 
                                        .col-10.middle
                                            p Administre dispositivos y casos de uso, y garantice la seguridad en todas las capas con Workspace ONE UEM, con tecnología de AirWatch, la plataforma líder del sector.
                                    row
                                        .col-12
                                            h3 Aplicaciones de Productividad de Workspace ONE
                                        .col-10.middle
                                            p Las Aplicaciones de productividad de Workspace ONE para el correo electrónico, la navegación, el contenido y las redes sociales están diseñadas para negocios con una experiencia simple para los consumidores y seguridad incorporada.
      
        section.section-implementDass.vmware#beneficios
            .container
                .row
                    .col-10.middle
                        .title-sections-text
                            h3 ¿Por qué implementar VMware?
                            p Beneficios:
                                    
                    .col-10.middle
                        ul  
                            li
                                img(src=local.images.reconocimiento, alt="reconocimiento")
                                p Reconocimiento por los analistas Gartner, Forrester e IDC reconocen de manera unánime a VMware como uno de los líderes del mercado.
                            li
                                img(src=local.images.ecosistema, alt="ecosistema")
                                p Amplio ecosistema de soluciones, muchas empresas están usando soluciones basadas en interfaces abiertas de VMware. Esto se traduce en que los clientes de todos los sectores pueden disfrutar de la máxima flexibilidad con otras soluciones de software.
                            li
                                img(src=local.images.plataforma, alt="plataforma")
                                p El TCO más bajo con el valor empresarial más alto. Nuestras calculadoras de TCO y las herramientas de planificación le mostrarán que las plataformas de VMware le ofrecen el mejor valor empresarial, con independencia del tipo infraestructura que necesite.
                            li
                                img(src=local.images.transformacion, alt="transformacion")
                                p La base digital que necesitan sus soluciones empresariales presentes y futuras. Acelere su transformación digital por software para la empresa y el entorno TI con una plataforma especialmente uniforme para la cloud y la movilidad empresarial.
                            li
                                img(src=local.images.ahorro, alt="ahorro")
                                p La opción preferida por las empresas. Todas las empresas de la lista Fortune 500 eligen la infraestructura de VMware, ya que les reporta un ahorro de miles de millones de dólares       
        section.section-subtitle#soluciones
            .container
                .row
                    .col-10.middle
                        .title-sections
                            h3 Conoce nuestra solución
        //--.flotante
            a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
                img(src=local.images.whitepaper, alt="big data" )
            a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
                img(src=local.images.casodeuso, alt="big data")
        section.section-why-dass
            img(src=local.images.solucion, alt="solucion conoce")
            .container
                .row
                    .col-6.bgcircle
                        p Nuestro software crea una base digital que impulsa las aplicaciones, los servicios y las experiencias que están transformando el mundo.
                        p Creemos que el software tiene el poder de crear nuevas posibilidades para las personas y para nuestro planeta
        include ../template/_footer
        if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
        script(type="text/javascript" src=section_scripts[current_profile][i])
