src/html/sections/zoox.pug
//-Configuración y variables globales del proyecto
include ../config/_variables
//-
    Ajustes de la configuración global para esta sección
- global_path = '../'
//-
    Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
    Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Zoox'
- metadata['description'] = 'Zoox es una plataforma de implementación de redes WiFi para negocios y mejora de experiencias a través del Big Data donde se conectan la tecnología y la innovación '
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Desarrollo, Software, Innovación, Empresas, Negocios, Productos, Big Data, Estrategias, marketing, Wifi, Analítica, Monetiza, Zoox, plataforma, Dashboard, soluciones zoox'
- var landing = 'zoox'

- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_huawei + 'bannerprincipal.jpg'
//- Servicios
- local.images['producto'] = global_path + images.products_zoox + 'servicio_producto.png'
- local.images['cliente'] = global_path + images.products_zoox + 'servicio_cliente.png'
- local.images['bigdata'] = global_path + images.products_zoox + 'servicio_bigdata.png'
- local.images['estrategias'] = global_path + images.products_zoox + 'servicio_estrategias.png'

//- Microsite


//- Beneficios
- local.images['datacenter'] = global_path + images.products_zoox + 'beneficio_datacenter.png'
- local.images['analitica'] = global_path + images.products_zoox + 'beneficio_analitica.png'
- local.images['reconocimiento'] = global_path + images.products_zoox + 'beneficio_reconocimiento.png'
- local.images['wifidinero'] = global_path + images.products_zoox + 'benificio_wifidinero.png'


- local.images['solucion'] = global_path + images.products_zoox + 'solucion.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Huawei_Whitepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'Huawei_casos_de_uso.pdf'

doctype html
html(lang=site.lang)
    include ../template/_head
    body
        include ../template/_header
        //- section.section-video-dass
        //- 	img(src=local.images.banner, alt="Dass")
        //- 	.boxVideo
        //- 		video#secondVideo(autoplay loop muted)
        //- 			source(src="../images/video/huawei.mp4" type="video/mp4")
        //- 	.information-video
        //- 		.container
        //- 			h1 Huawei
        //- 			h2 Huawei
        //- 			p Todos los componentes a rededor de tus dispositivos los ponemos a tu alcance.
        section.section-video-dass
            img.banner(src=local.images.banner, alt="banner")
            .boxVideo
                video#secondVideo(autoplay loop muted)
                    source(src="../images/video/Zoox.mp4" type="video/mp4")
            .container
                .content
                    br
                    .title-sections
                        h1 Zoox
                        p Contamos con soluciones tecnológicas que muchos creyeron que no eran posibles.
        section.section-about-dass#dass
            .container
                .row
                    .col-10.middle
                        .title-sections-text
                            h3 ¿Qué es Zoox?
                            p Es una plataforma de implementación de redes WiFi para negocios y mejora de experiencias a través del Big Data donde se conectan la tecnología y la innovación; construya Big Data a través de WiFi, reconocimiento facial y API, le ayudamos a crear, entender y conocer mejor a sus clientes.
                            

                    .col-12  
                        ul
                            li
                                strong Desarrollo de productos
                                img#imagen(src=local.images.producto, alt="producto")
                                p Las empresas de streaming como Netflix y Spotify utilizan el Big Data para anticiparse a la demanda de los clientes. 
                            li
                                strong Experiencia del cliente
                                img#imagen(src=local.images.cliente, alt="cliente")
                                p Big Data le permite recopilar datos de medios sociales, visitas web y otras fuentes de datos para mejorar la experiencia de interacción
                            li
                                strong Big Data en el sector minorista
                                img#imagen(src=local.images.bigdata, alt="bigdata")
                                p Según el ejecutivo de IBM Brasil, Alejandro Padrón, el sector minorista aparece como el tercer principal cliente de la empresa para los servicios de Big Data
                            li
                                strong Mejorar las estrategias de marketing
                                img#imagen(src=local.images.estrategias, alt="estrategias")
                                p Con el Big Data, la empresa puede analizar los datos del público objetivo y tener acceso a informaciones importantes
                           
                            
        section.microsite-container-vmware
            .container
                .row
                    .col-12
                        .title-sections-text
                            h3 Productos
                            p Conoce los productos Zoox que Sellcom Solutions te ofrece.
                    .col-10.middle
                        section.tabs
                            input#tab-1.tab-selector-1(type='radio', name='radio-set', checked='checked')
                            label.tab-label-1(for='tab-1') Zoox Smart Wifi
                            input#tab-2.tab-selector-2(type='radio', name='radio-set')
                            label.tab-label-2(for='tab-2') Big data para negocios 
                            input#tab-3.tab-selector-3(type='radio', name='radio-set')
                            label.tab-label-3(for='tab-3') Zoox Media
                            input#tab-4.tab-selector-4(type='radio', name='radio-set')
                            label.tab-label-4(for='tab-4') Zoox Smart Pass
                            
                            .clear-shadow
                            .content
                                .dash.content-1
                                    row
                                        .col-12
                                            h2.txt-center
                                                strong WiFi y analytics para espacios físicos. Su negocio orientado por datos.
                                                br
                                                strong Todas las actividades hechas en red generan datos que pueden ser muy útiles para mejorar un servicio. 
                                    row  
                                        .col-10.middle
                                            p Zoox WiFi recopila, organiza y extrae insights de estos datos, auxiliando en la toma de decisiones estratégicas.

                                    row  
                                        .col-10.middle
                                             ul
                                                    li 
                                                        p -Recopile datos de los usuarios de su WiFi y visualícelos en una plataforma simple e intuitiva.
                                                    li 
                                                        p -Lance campañas y encuestas de satisfacción para audiencias segmentadas
                                                    li 
                                                        p -Tome decisiones y cree estrategias basadas en datos e informes enriquecidos.
     
                                    row
                                        .col-12
                                            h3 Capture leads a través de WiFi  
                                        .col-10.middle
                                            p Al conectarse a Zoox Smart WiFi, el usuario acepta los términos de uso y proporciona datos para efectuar el login. En este momento, se crea un perfil en nuestra base de datos, que es conectado con el sistema Zoox en todo el mundo.
                                            p Miles de puntos de acceso alrededor del mundo enriquecen el perfil del usuario con cada login, creando un perfil cada vez más completo.

                                    row
                                        .col-12
                                            h3 Ver datos simplemente.  
                                        .col-10.middle
                                            p Todas las informaciones de Zoox Smart WiFi están disponibles en un dashboard exclusivo, adaptado para trabajar con la máxima comodidad y facilidad.
                                            p Estos datos se pueden usar para crear campañas específicas, como encuestas de satisfacción, e-mail marketing, ofertas, anuncios y feedbacks.

                                    row
                                        .col-12
                                            h3 Enviar campañas con alta segmentación.   
                                        .col-10.middle
                                            p Con la función Zoox Media, pueden ser exhibidas piezas publicitarias producidas a partir del perfil de datos del usuario. De esta forma, el WiFi se convierte en una fuente de ingresos con altos índices de conversión.
                                            p En el panel, los clics y los informes de ventas facilitan la visibilidad y ayudan a optimizar las campañas.
                                .dash.content-2
                                    row
                                           h2.txt-center 
                                            strong Plataforma completa de big data para negocios físicos.
                                    row
                                        .col-12
                                            h3 Dashboard e informes.
                                        .col-10.middle
                                            p Demostración de las informaciones comerciales relevantes con visualización de gráficos, estadísticas y datos personalizables.

                                    row
                                        .col-12
                                            h3 Net Promoter Score.
                                        .col-10.middle
                                            p Sistema de encuesta de satisfacción en que el usuario puede dar notas de 0 a 10 y comentarios a los servicios prestados. 

                                    row
                                        .col-12
                                            h3 Person finder.
                                        .col-10.middle
                                            p Búsqueda de perfiles por nombre, edad, código postal o preferencias del usuario.
                                    
                                    row
                                        .col-12
                                            h3 Heatmap. 
                                        .col-10.middle
                                            p Mapa de calor y flujo de movimientos para la visibilidad de áreas donde hay mayor concentración de conexiones.

                                    row
                                        .col-12
                                            h3 Zoox Media  
                                        .col-10.middle
                                            p Vehiculización de campañas de marketing de medios vía e-mail con segmentación por público-objetivo, intereses o geolocalización.
                                    row
                                        .col-12
                                            h3 Integración API  
                                        .col-10.middle
                                            p Plataforma API totalmente integrada para sistemas de gestión de mercado líderes como TOTVS, IBooking, SalesForce y otros.
                                .dash.content-3
                                    row
                                        .col-12
                                        h2.txt-center 
                                            strong Tu marca, donde quieras.
                                            br
                                            strong Zoox monetiza la audiencia de tu red WiFi inmediatamente.
                                    row
                                        .col-12
                                            h3 Hoteles, aeropuertos, shoppings, gimnasios, restaurantes    
                                        .col-10.middle
                                            p Toda la información de Zoox Smart WiFi está disponible en un dashboard único, diseñado para trabajar con la máxima comodidad y facilidad.
                                    row
                                        .col-12
                                            h3 Tú eliges en qué lugares anunciar    
                                        .col-10.middle
                                            p Con la base de datos Zoox Smart WiFi, puedes vehicular campañas híper segmentadas y con altas probabilidades de conversión. Divulga promociones, cupones y refuerza la relevancia de tu marca.
                                    row
                                        .col-12
                                            h3 Usabilidad e informes simplificados   
                                        .col-10.middle
                                            p Toda la información y los informes están disponibles en un tablero único, diseñado para trabajar con la máxima comodidad y facilidad.
                                    row
                                        .col-12
                                            h3 ¿Qué es posible hacer con Zoox Media?  
                                        .col-10.middle
                                            p A partir del momento en que el usuario se conecta a Zoox Wifi, son estos tipos de medios que él puede recibir.
                                    row
                                        .col-12
                                            h3 -Anuncios Multimedia  
                                        .col-10.middle
                                            p A través de Zoox Media, es posible vehicular vídeos, imágenes, gifs y búsquedas por periodos específicos.
                                    row
                                        .col-12
                                            h3 -Segmentación por local 
                                        .col-10.middle
                                            p Sepa cómo y por dónde se mueven sus clientes, generando insights para campañas.
                                    row
                                        .col-12
                                            h3 -Informes 
                                        .col-10.middle
                                            p Obtenga acceso a datos como clics y conversiones, generando insights e informes para sus equipos.
                                    row
                                        .col-12
                                            h3 -Implementación Simple 
                                        .col-10.middle
                                            p Sin la necesidad de su propia estrutura, Zoox WiFi utiliza los dispositivos ya presentes en su ambiente.
                                    row
                                        .col-12
                                            h3 -Dashboards Simples
                                        .col-10.middle
                                            p Acceda a todos los informes y campañas en un dashboard intuitivo y organizado.
                                    row
                                        .col-12
                                            h3 -Seguridad de Datos
                                        .col-10.middle
                                            p Todos los datos se almacenan en servidores de confianza y cumplen con las leyes de privacidad.
                                .dash.content-4
                                    row
                                        .col-12
                                        h2.txt-center 
                                            strong Simplifique el control de acceso vía reconocimiento facial 
                                            br
                                            strong Ofrezca más comodidad y agilidad a sus clientes.

                                        
                                    row
                                        .col-12
                                            h3 Acceso más rápido y seguro a través de reconocimiento facial.
                                        .col-10.middle
                                            p Una vez hecho el check-in, el usuario puede moverse libremente por todos los establecimientos con el Zoox Smart Pass. La identificación es automática y la liberación inmediata. ¡Es la tecnología que actúa al servicio de la comodidad de sus clientes.
                                                ul
                                                    li 
                                                        strong -Recopile datos de consentimiento del usuario desde el login en la plataforma.
                                                    li 
                                                        strong -Obtenga acceso a un dashboard simple e intuitivo.
                                                    li 
                                                        strong -Garantice agilidad y comodidad para sus clientes.
                                                    
                                    row
                                        .col-12
                                            h3 ¿Por qué elegir Smart Pass?
                                        .col-10.middle
                                            p Conozca las principales funcionalidades de nuestro sistema Smart Pass
                                    row
                                        .col-12
                                            h3 -Confiabilidad 
                                        .col-10.middle
                                            p A través de Zoox Media, es posible vehicular vídeos, imágenes, gifs y búsquedas por periodos específicos
                                    row
                                        .col-12
                                            h3 -Implementación simple
                                        .col-10.middle
                                            p Sepa cómo y por dónde se mueven sus clientes, generando insights para campañas.
                                    row
                                        .col-12
                                            h3 -Dashboard intuitivo
                                        .col-10.middle
                                            p Obtenga acceso a datos como clics y conversiones, generando insights e informes para sus equipos.
                                    row
                                        .col-12
                                            h3 -Check in anticipado
                                        .col-10.middle
                                            p Sin la necesidad de su propia estrutura, Zoox WiFi utiliza los dispositivos ya presentes en su ambiente.
                                    row
                                        .col-12
                                            h3 -Agilidad y comodidad
                                        .col-10.middle
                                            p Acceda a todos los informes y campañas en un dashboard intuitivo y organizado.
                                    row
                                        .col-12
                                            h3 -Seguridad de datos
                                        .col-10.middle
                                            p Todos los datos se almacenan en servidores de confianza y cumplen con las leyes de privacidad.
        section.section-implementDass.vmware#beneficios
            .container
                .row
                    .col-10.middle
                        .title-sections-text
                            h3 ¿Por qué implementar Zoox?
                            p Beneficios:
                                    
                    .col-10.middle
                        ul  
                            li.li-column
                                img(src=local.images.datacenter, alt="datacenter")
                                p Big Data de verdad, ¡y fácil!
                                p Construya Big Data a través de WiFi, reconocimiento facial y API, le ayudamos a crear, entender y conocer mejor a su cliente.

                            li.li-column
                                img(src=local.images.analitica, alt="analitica")
                                p Datos y analítica juntos.
                                p Todas las actividades hechas en red generan datos que pueden ser muy útiles para mejorar un servicio

                            li.li-column
                                img(src=local.images.reconocimiento, alt="reconocimiento")
                                p Simplifique el control de acceso vía reconocimiento facial
                                p Ofrezca más comodidad y agilidad a sus clientes.

                            li.li-column
                                img(src=local.images.wifidinero, alt="wifidinero")
                                p Tu marca, donde quieras.
                                p Zoox monetiza la audiencia de tu red WiFi inmediatamente

                            //-li.li-column
                                img(src=local.images.ahorro, alt="ahorro")
                                p La opción preferida por las empresas. Todas las empresas de la lista Fortune 500 eligen la infraestructura de VMware, ya que les reporta un ahorro de miles de millones de dólares
                            
        section.section-subtitle#soluciones
            .container
                .row
                    .col-10.middle
                        .title-sections
                            h3 Conoce nuestra solución
        //-.flotante
            a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
                img(src=local.images.whitepaper, alt="big data" )
            a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
                img(src=local.images.casodeuso, alt="big data")
        section.section-why-dass
            img(src=local.images.solucion, alt="solucion conoce")
            .container
                .row
                    .col-6.bgcircle
                        p En algunas de las empresas de tecnología más grandes del mundo, gran parte del valor que ofrecen proviene de los datos recopilados, que analizan constantemente para producir de forma más eficiente y desarrollar productos cada vez más adaptados a las necesidades de sus públicos.
        include ../template/_footer
        if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
        script(type="text/javascript" src=section_scripts[current_profile][i])

dist/dev/sections/zoox.html
<!DOCTYPE html>
<html lang="es-mx">
  <head><script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135253484-1');
    </script>
    <title>Sellcom - Zoox</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Zoox es una plataforma de implementación de redes WiFi para negocios y mejora de experiencias a través del Big Data donde se conectan la tecnología y la innovación ">
    <meta name="keywords" content="Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Desarrollo, Software, Innovación, Empresas, Negocios, Productos, Big Data, Estrategias, marketing, Wifi, Analítica, Monetiza, Zoox, plataforma, Dashboard, soluciones zoox">
    <link rel="shortcut icon" href="../images/global/favicon.ico" type="image/x-icon"><script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css?v1.0.1" type="text/css">
  </head>
  <body>
    <header>
      <div class="header-main-vr">
        <div class="container">
          <div class="row"><a href="../index.html"><img src="../images/global/Logo-Sellcom_Verde.png" alt="Logotipo Sellcom"></a>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu">Menú</label>
            <div class="nav menu-main">
              <ul>
                <li><a href="conocenos.html">Sobre Sellcom</a></li>
                <li><a href="#">Verticales</a>
                  <ul class="submenu">
                    <li><a href="business.html">Business Process</a></li>
                    <li><a href="cloud.html">Cloud & Hybrid Platforms</a></li>
                    <li><a href="datacenter.html">Datacenter Solutions</a></li>
                    <li><a href="framework.html">Data and Anatytics Framework</a></li>
                    <li><a href="hci.html">HCI + SDDC</a></li>
                    <li><a href="mobility.html">Mobility & En User Computing</a></li>
                    <li><a href="networking.html">Networking Solutions</a></li>
                    <li><a href="security.html">Cyber Security & Recillence</a></li>
                  </ul>
                </li>
                <li><a href="reconocimientos.html">Reconocimientos</a></li>
                <li><a href="contactanos.html">Contáctanos</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-video-dass"><img class="banner" src="../images/products_huawei/bannerprincipal.jpg" alt="banner">
      <div class="boxVideo">
        <video id="secondVideo" autoplay loop muted>
          <source src="../images/video/Zoox.mp4" type="video/mp4">
        </video>
      </div>
      <div class="container">
        <div class="content"><br>
          <div class="title-sections">
            <h1>Zoox</h1>
            <p>Contamos con soluciones tecnológicas que muchos creyeron que no eran posibles.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="section-about-dass" id="dass">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections-text">
              <h3>¿Qué es Zoox?</h3>
              <p>Es una plataforma de implementación de redes WiFi para negocios y mejora de experiencias a través del Big Data donde se conectan la tecnología y la innovación; construya Big Data a través de WiFi, reconocimiento facial y API, le ayudamos a crear, entender y conocer mejor a sus clientes.</p>
            </div>
          </div>
          <div class="col-12"> 
            <ul>
              <li><strong>Desarrollo de productos</strong><img id="imagen" src="../images/products_zoox/servicio_producto.png" alt="producto">
                <p>Las empresas de streaming como Netflix y Spotify utilizan el Big Data para anticiparse a la demanda de los clientes. </p>
              </li>
              <li><strong>Experiencia del cliente</strong><img id="imagen" src="../images/products_zoox/servicio_cliente.png" alt="cliente">
                <p>Big Data le permite recopilar datos de medios sociales, visitas web y otras fuentes de datos para mejorar la experiencia de interacción</p>
              </li>
              <li><strong>Big Data en el sector minorista</strong><img id="imagen" src="../images/products_zoox/servicio_bigdata.png" alt="bigdata">
                <p>Según el ejecutivo de IBM Brasil, Alejandro Padrón, el sector minorista aparece como el tercer principal cliente de la empresa para los servicios de Big Data</p>
              </li>
              <li><strong>Mejorar las estrategias de marketing</strong><img id="imagen" src="../images/products_zoox/servicio_estrategias.png" alt="estrategias">
                <p>Con el Big Data, la empresa puede analizar los datos del público objetivo y tener acceso a informaciones importantes</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="microsite-container-vmware">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="title-sections-text">
              <h3>Productos</h3>
              <p>Conoce los productos Zoox que Sellcom Solutions te ofrece.</p>
            </div>
          </div>
          <div class="col-10 middle">
            <section class="tabs">
              <input class="tab-selector-1" id="tab-1" type="radio" name="radio-set" checked="checked">
              <label class="tab-label-1" for="tab-1">Zoox Smart Wifi</label>
              <input class="tab-selector-2" id="tab-2" type="radio" name="radio-set">
              <label class="tab-label-2" for="tab-2">Big data para negocios </label>
              <input class="tab-selector-3" id="tab-3" type="radio" name="radio-set">
              <label class="tab-label-3" for="tab-3">Zoox Media</label>
              <input class="tab-selector-4" id="tab-4" type="radio" name="radio-set">
              <label class="tab-label-4" for="tab-4">Zoox Smart Pass</label>
              <div class="clear-shadow"></div>
              <div class="content">
                <div class="dash content-1">
                  <row>
                    <div class="col-12">
                      <h2 class="txt-center"><strong>WiFi y analytics para espacios físicos. Su negocio orientado por datos.</strong><br><strong>Todas las actividades hechas en red generan datos que pueden ser muy útiles para mejorar un servicio. </strong></h2>
                    </div>
                  </row>
                  <row> 
                    <div class="col-10 middle">
                      <p>Zoox WiFi recopila, organiza y extrae insights de estos datos, auxiliando en la toma de decisiones estratégicas.</p>
                    </div>
                  </row>
                  <row> 
                    <div class="col-10 middle">
                      <ul>
                        <li> 
                          <p>-Recopile datos de los usuarios de su WiFi y visualícelos en una plataforma simple e intuitiva.</p>
                        </li>
                        <li> 
                          <p>-Lance campañas y encuestas de satisfacción para audiencias segmentadas</p>
                        </li>
                        <li> 
                          <p>-Tome decisiones y cree estrategias basadas en datos e informes enriquecidos.</p>
                        </li>
                      </ul>
                    </div>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>Capture leads a través de WiFi  </h3>
                    </div>
                    <div class="col-10 middle">
                      <p>Al conectarse a Zoox Smart WiFi, el usuario acepta los términos de uso y proporciona datos para efectuar el login. En este momento, se crea un perfil en nuestra base de datos, que es conectado con el sistema Zoox en todo el mundo.</p>
                      <p>Miles de puntos de acceso alrededor del mundo enriquecen el perfil del usuario con cada login, creando un perfil cada vez más completo.</p>
                    </div>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>Ver datos simplemente.  </h3>
                    </div>
                    <div class="col-10 middle">
                      <p>Todas las informaciones de Zoox Smart WiFi están disponibles en un dashboard exclusivo, adaptado para trabajar con la máxima comodidad y facilidad.</p>
                      <p>Estos datos se pueden usar para crear campañas específicas, como encuestas de satisfacción, e-mail marketing, ofertas, anuncios y feedbacks.</p>
                    </div>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>Enviar campañas con alta segmentación.   </h3>
                    </div>
                    <div class="col-10 middle">
                      <p>Con la función Zoox Media, pueden ser exhibidas piezas publicitarias producidas a partir del perfil de datos del usuario. De esta forma, el WiFi se convierte en una fuente de ingresos con altos índices de conversión.</p>
                      <p>En el panel, los clics y los informes de ventas facilitan la visibilidad y ayudan a optimizar las campañas.</p>
                    </div>
                  </row>
                </div>
                <div class="dash content-2">
                  <row>
                    <h2 class="txt-center"> <strong>Plataforma completa de big data para negocios físicos.</strong></h2>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>Dashboard e informes.</h3>
                    </div>
                    <div class="col-10 middle">
                      <p>Demostración de las informaciones comerciales relevantes con visualización de gráficos, estadísticas y datos personalizables.</p>
                    </div>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>Net Promoter Score.</h3>
                    </div>
                    <div class="col-10 middle">
                      <p>Sistema de encuesta de satisfacción en que el usuario puede dar notas de 0 a 10 y comentarios a los servicios prestados. </p>
                    </div>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>Person finder.</h3>
                    </div>
                    <div class="col-10 middle">
                      <p>Búsqueda de perfiles por nombre, edad, código postal o preferencias del usuario.</p>
                    </div>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>Heatmap. </h3>
                    </div>
                    <div class="col-10 middle">
                      <p>Mapa de calor y flujo de movimientos para la visibilidad de áreas donde hay mayor concentración de conexiones.</p>
                    </div>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>Zoox Media  </h3>
                    </div>
                    <div class="col-10 middle">
                      <p>Vehiculización de campañas de marketing de medios vía e-mail con segmentación por público-objetivo, intereses o geolocalización.</p>
                    </div>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>Integración API  </h3>
                    </div>
                    <div class="col-10 middle">
                      <p>Plataforma API totalmente integrada para sistemas de gestión de mercado líderes como TOTVS, IBooking, SalesForce y otros.</p>
                    </div>
                  </row>
                </div>
                <div class="dash content-3">
                  <row>
                    <div class="col-12"></div>
                    <h2 class="txt-center"> <strong>Tu marca, donde quieras.</strong><br><strong>Zoox monetiza la audiencia de tu red WiFi inmediatamente.</strong></h2>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>Hoteles, aeropuertos, shoppings, gimnasios, restaurantes    </h3>
                    </div>
                    <div class="col-10 middle">
                      <p>Toda la información de Zoox Smart WiFi está disponible en un dashboard único, diseñado para trabajar con la máxima comodidad y facilidad.</p>
                    </div>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>Tú eliges en qué lugares anunciar    </h3>
                    </div>
                    <div class="col-10 middle">
                      <p>Con la base de datos Zoox Smart WiFi, puedes vehicular campañas híper segmentadas y con altas probabilidades de conversión. Divulga promociones, cupones y refuerza la relevancia de tu marca.</p>
                    </div>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>Usabilidad e informes simplificados   </h3>
                    </div>
                    <div class="col-10 middle">
                      <p>Toda la información y los informes están disponibles en un tablero único, diseñado para trabajar con la máxima comodidad y facilidad.</p>
                    </div>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>¿Qué es posible hacer con Zoox Media?  </h3>
                    </div>
                    <div class="col-10 middle">
                      <p>A partir del momento en que el usuario se conecta a Zoox Wifi, son estos tipos de medios que él puede recibir.</p>
                    </div>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>-Anuncios Multimedia  </h3>
                    </div>
                    <div class="col-10 middle">
                      <p>A través de Zoox Media, es posible vehicular vídeos, imágenes, gifs y búsquedas por periodos específicos.</p>
                    </div>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>-Segmentación por local </h3>
                    </div>
                    <div class="col-10 middle">
                      <p>Sepa cómo y por dónde se mueven sus clientes, generando insights para campañas.</p>
                    </div>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>-Informes </h3>
                    </div>
                    <div class="col-10 middle">
                      <p>Obtenga acceso a datos como clics y conversiones, generando insights e informes para sus equipos.</p>
                    </div>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>-Implementación Simple </h3>
                    </div>
                    <div class="col-10 middle">
                      <p>Sin la necesidad de su propia estrutura, Zoox WiFi utiliza los dispositivos ya presentes en su ambiente.</p>
                    </div>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>-Dashboards Simples</h3>
                    </div>
                    <div class="col-10 middle">
                      <p>Acceda a todos los informes y campañas en un dashboard intuitivo y organizado.</p>
                    </div>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>-Seguridad de Datos</h3>
                    </div>
                    <div class="col-10 middle">
                      <p>Todos los datos se almacenan en servidores de confianza y cumplen con las leyes de privacidad.</p>
                    </div>
                  </row>
                </div>
                <div class="dash content-4">
                  <row>
                    <div class="col-12"></div>
                    <h2 class="txt-center"> <strong>Simplifique el control de acceso vía reconocimiento facial </strong><br><strong>Ofrezca más comodidad y agilidad a sus clientes.</strong></h2>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>Acceso más rápido y seguro a través de reconocimiento facial.</h3>
                    </div>
                    <div class="col-10 middle">
                      <p>Una vez hecho el check-in, el usuario puede moverse libremente por todos los establecimientos con el Zoox Smart Pass. La identificación es automática y la liberación inmediata. ¡Es la tecnología que actúa al servicio de la comodidad de sus clientes.
                        <ul>
                          <li> <strong>-Recopile datos de consentimiento del usuario desde el login en la plataforma.</strong></li>
                          <li> <strong>-Obtenga acceso a un dashboard simple e intuitivo.</strong></li>
                          <li> <strong>-Garantice agilidad y comodidad para sus clientes.</strong></li>
                        </ul>
                      </p>
                    </div>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>¿Por qué elegir Smart Pass?</h3>
                    </div>
                    <div class="col-10 middle">
                      <p>Conozca las principales funcionalidades de nuestro sistema Smart Pass</p>
                    </div>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>-Confiabilidad </h3>
                    </div>
                    <div class="col-10 middle">
                      <p>A través de Zoox Media, es posible vehicular vídeos, imágenes, gifs y búsquedas por periodos específicos</p>
                    </div>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>-Implementación simple</h3>
                    </div>
                    <div class="col-10 middle">
                      <p>Sepa cómo y por dónde se mueven sus clientes, generando insights para campañas.</p>
                    </div>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>-Dashboard intuitivo</h3>
                    </div>
                    <div class="col-10 middle">
                      <p>Obtenga acceso a datos como clics y conversiones, generando insights e informes para sus equipos.</p>
                    </div>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>-Check in anticipado</h3>
                    </div>
                    <div class="col-10 middle">
                      <p>Sin la necesidad de su propia estrutura, Zoox WiFi utiliza los dispositivos ya presentes en su ambiente.</p>
                    </div>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>-Agilidad y comodidad</h3>
                    </div>
                    <div class="col-10 middle">
                      <p>Acceda a todos los informes y campañas en un dashboard intuitivo y organizado.</p>
                    </div>
                  </row>
                  <row>
                    <div class="col-12">
                      <h3>-Seguridad de datos</h3>
                    </div>
                    <div class="col-10 middle">
                      <p>Todos los datos se almacenan en servidores de confianza y cumplen con las leyes de privacidad.</p>
                    </div>
                  </row>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </section>
    <section class="section-implementDass vmware" id="beneficios">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections-text">
              <h3>¿Por qué implementar Zoox?</h3>
              <p>Beneficios:</p>
            </div>
          </div>
          <div class="col-10 middle">
            <ul> 
              <li class="li-column"><img src="../images/products_zoox/beneficio_datacenter.png" alt="datacenter">
                <p>Big Data de verdad, ¡y fácil!</p>
                <p>Construya Big Data a través de WiFi, reconocimiento facial y API, le ayudamos a crear, entender y conocer mejor a su cliente.</p>
              </li>
              <li class="li-column"><img src="../images/products_zoox/beneficio_analitica.png" alt="analitica">
                <p>Datos y analítica juntos.</p>
                <p>Todas las actividades hechas en red generan datos que pueden ser muy útiles para mejorar un servicio</p>
              </li>
              <li class="li-column"><img src="../images/products_zoox/beneficio_reconocimiento.png" alt="reconocimiento">
                <p>Simplifique el control de acceso vía reconocimiento facial</p>
                <p>Ofrezca más comodidad y agilidad a sus clientes.</p>
              </li>
              <li class="li-column"><img src="../images/products_zoox/benificio_wifidinero.png" alt="wifidinero">
                <p>Tu marca, donde quieras.</p>
                <p>Zoox monetiza la audiencia de tu red WiFi inmediatamente</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section-subtitle" id="soluciones">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="title-sections">
              <h3>Conoce nuestra solución</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-why-dass"><img src="../images/products_zoox/solucion.jpg" alt="solucion conoce">
      <div class="container">
        <div class="row">
          <div class="col-6 bgcircle">
            <p>En algunas de las empresas de tecnología más grandes del mundo, gran parte del valor que ofrecen proviene de los datos recopilados, que analizan constantemente para producir de forma más eficiente y desarrollar productos cada vez más adaptados a las necesidades de sus públicos.</p>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="col-10 middle">
          <div class="col-7">
            <h3>Tel. 01 55 5293  8400</h3>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </footer>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-10 middle">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="aviso.html"><strong>Aviso de Privacidad</strong> </a></li>
                  <li><a href="ayudanos.html">| <strong>Ayúdanos a mejorar</strong> </a></li>
                </ul>
              </div>
              <div class="col-4">
                <p> <strong>Contáctanos tel. 01 55 5293 8400</strong> </p>
              </div>
              <div class="col-2"><a href="https://www.linkedin.com/company/sellcomsolutions"><span class="icon-linkedin"></span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/libs/jquery.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/libs/jquery.validate.js"></script>
    <script src="../js/libs/jquery.file.js"></script>
    <script src="../js/plugins/slick.js"></script>
    <script src="../js/controllers/sellcom_dass.js"></script>
    <script src="../js/controllers/downloads.js"></script>
    <script src="../js/controllers/form.js"></script>
  </body>
</html>
<script type="text/javascript" src="../js/libs/jquery.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<script type="text/javascript" src="../js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../js/libs/jquery.file.js"></script>
<script type="text/javascript" src="../js/plugins/slick.js"></script>
<script type="text/javascript" src="../js/controllers/sellcom_dass.js"></script>
<script type="text/javascript" src="../js/controllers/downloads.js"></script>
<script type="text/javascript" src="../js/controllers/form.js"></script>
